@keyframes fadeIn {
  0% {
    z-index: 0;
    opacity: 0;
  }
  50% {
    z-index: 10;
    opacity: 1;
  }
  100% {
    z-index: 0;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    z-index: 10;
    opacity: 1;
  }
  50% {
    z-index: 0;
    opacity: 0;
  }
  100% {
    z-index: 10;
    opacity: 1;
  }
}

.tag {
  @apply com-relative;

  p {
    @apply com-absolute com-m-0 com-tracking-wider com-px-2 com-w-max com-font-extrabold com-rounded-md;
  }

  p.work {
    animation-direction: alternate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
  }

  p.hiring {
    animation-direction: alternate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
  }
}

.work {
  @apply com-bg-Dark-Spring-Green com-text-white;
}

.hiring {
  @apply com-bg-Blue-Violet com-text-tWhite;
}

.tags {
  @apply com-absolute com-m-0 com-tracking-wider com-px-1 com-w-max com-h-max com-font-extrabold com-rounded-md;
}

.large {
  div {
    margin: 7px 0px;
    height: 20px;
    p {
      @apply com-text-xs;
    }
  }
}

.medium {
  div {
    margin: 6px 0px;
    height: 15px;
    p {
      @apply com-text-10px;
    }
  }
}

.small {
  div {
    margin: 5px 0px;
    height: 10px;
    p {
      @apply com-text-8px com-leading-3;
    }
  }
}
