<a
  *ngIf="community && event"
  [routerLink]="['/communities', community.slug, 'events', event.slug]"
  class="home-events-card-container"
>
  <div class="home-events-card-image">
    <div [ngClass]="{ old: moment(event.start_time) < moment() }" class="home-events-card-image-overlay"></div>
    <img alt="{{ event.name }}" src="{{ event.header_image?.i350 || community.logo_path }}" title="{{ event.name }}" />
  </div>
  <div *ngIf="event.start_time" [ngClass]="{ old: moment(event.start_time) < moment() }" class="home-events-card-date">
    {{ moment(event.start_time).format('MMM DD') }}
  </div>
  <div class="home-events-card-details">
    <div class="home-events-card-name com-line-clamp-2">
      {{ event.name }}
    </div>
    <div class="home-events-card-host d-flex justify-content-space-between align-items-center">
      <div class="home-events-card-community d-flex align-items-center">
        <img
          alt="{{ community.name }}"
          class="home-events-card-community-logo"
          src="{{ community.logo_path }}"
          title="{{ community.name }}"
        />
        <div class="home-events-card-community-name com-line-clamp-1">{{ community.name }}</div>
      </div>
      <div *ngIf="event.start_time && moment(event.start_time) > moment()" class="home-events-card-register">
        Register
      </div>
    </div>
  </div>
</a>
