@import './projects/commudle-admin/src/assets/styles/variables';

.home-events-card-container {
  //border: 0.5px solid $silver-sand;
  border-radius: $border-10;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  @apply com-shadow;

  .home-events-card-image {
    @apply com-aspect-w-16 com-aspect-h-9 com-relative;

    .home-events-card-image-overlay {
      background: linear-gradient(360deg, rgba(13, 28, 46, 0.29) 0%, rgba(17, 51, 79, 0.1827) 100%);
      height: 100%;
      position: absolute;
      width: 100%;

      &.old {
        background: linear-gradient(360deg, rgb(13 28 46 / 45%) 0%, rgb(17 51 79 / 30%) 100%);
      }
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .home-events-card-date {
    background-color: $white;
    border: 1px solid #0095ff;
    border-radius: $border-8;
    color: #0095ff;
    font-size: $fs-h4;
    font-weight: $fw-500;
    height: 58px;
    padding: $space-8 $space-12;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 136px;
    width: 58px;
    word-break: break-word;

    &.old {
      border-color: $cadet;
      color: $cadet;
    }
  }

  .home-events-card-details {
    @apply com-flex com-flex-col com-justify-between com-p-3;

    .home-events-card-name {
      height: 3.5rem;
      @apply com-my-0 com-font-normal com-text-lg com-text-gray-900 com-line-clamp-2;

      @screen md {
        max-width: 80%;
      }
    }

    .home-events-card-host {
      margin-top: $space-16;

      .home-events-card-community {
        .home-events-card-community-logo {
          border: 0.5px solid $platinum;
          @apply com-h-7 com-w-7;
          @apply com-rounded-full com-object-contain com-object-center com-align-middle;
        }

        .home-events-card-community-name {
          word-break: break-all;
          @apply com-text-sm com-text-gray-400 com-mx-2 com-my-0 com-line-clamp-1;
        }
      }

      .home-events-card-register {
        color: #0095ff;
        font-size: $fs-h5;
        font-weight: $fw-600;
        text-transform: uppercase;
      }
    }
  }
}

@media all and (max-width: $pc-width) {
  .home-events-card-container {
    width: 230px;
  }

  .home-events-attending {
    display: none;
  }

  .home-events-card-image {
    height: 88px;

    .home-events-card-image-overlay {
      height: 88px;
    }

    img {
      object-position: center !important;
    }
  }

  .home-events-card-details {
    margin: $space-24 $space-8 $space-8 !important;

    .home-events-card-name {
      max-width: 100% !important;
    }
  }
}
