<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <nb-card>
        <nb-card-header>
          <h1>Commudle IDE: Newsletters from the Community</h1>
        </nb-card-header>
        <nb-card-body>
          <div *ngIf="newsletters.length > 0" class="newsletter-card-container com-flex com-flex-wrap com--m-4">
            <div *ngFor="let newsletter of newsletters" class="newsletter-card com-md:w-1/3">
              <div
                class="
                  com-flex com-flex-col com-justify-between com-h-full com-border-2 !com-border-gray-200 com-border-opacity-60 com-rounded-lg com-overflow-hidden
                "
              >
                <img
                  class="com-lg:h-48 com-md:h-36 com-w-full com-object-cover com-object-center"
                  src="{{ newsletter.header_image.url }}"
                  alt="{{ newsletter.title }}"
                />
                <div class="com-p-4">
                  <h2
                    class="
                      com-tracking-widest
                      !com-text-xs
                      com-title-font
                      !com-font-medium !com-text-gray-400
                      com-mt-1 com-mb-1
                    "
                  >
                    {{ newsletter.created_at | date }}
                  </h2>
                  <h2 class="com-line-clamp-2 com-title-font !com-text-lg !com-font-medium !com-text-gray-900 com-mt-1.5 com-mb-1.5">
                    {{ newsletter.title }}
                  </h2>
                  <a
                    [routerLink]="['/newsletters', newsletter.id]"
                    class="
                      !com-text-indigo-500
                      com-inline-flex com-items-center
                      com-md:mb-2
                      com-lg:mb-0
                      !com-no-underline
                      com-gap-x-1
                    "
                    >Read More
                    <nb-icon [icon]="'arrow-forward-outline'"></nb-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
