.channel-members {
  width: 300px;
  max-width: 100vw;
  height: 100%;
  width: 300px;

  nb-card {
    height: 100%;
    border: none;
    nb-card-header {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
    }

    nb-list {
      nb-list-item {
        border: none;
        padding: 0.5rem;
        >div {
          width: 100%;
        }
      }
    }
  }
}
