@import '/projects/commudle-admin/src/assets/styles/variables';

.communities-list {
  margin-top: 0;
  border: none;

  nb-card-body {
    padding: $space-24 $space-32;

    .prefix {
      margin-bottom: $space-16;

      .heading {
        font-weight: $fw-600;
        font-size: $fs-26;
        line-height: 30px;
        color: $gunmetal;
      }

      .controls {
        min-width: max-content;

        button {
          width: 40px;
          height: 28px;
          background: rgba($neon-blue, 0.3);

          nb-icon {
            color: $neon-blue;
          }

          &:nth-of-type(1) {
            margin-right: $space-8;
          }

          &.left-btn {
            border-radius: $border-8 0 0 $border-8;
          }

          &.right-btn {
            border-radius: 0 $border-8 $border-8 0;
          }
        }
      }
    }

    .search {
      margin: $space-44 0 $space-24;
      gap: $space-8 $space-32;

      .search-tags {
        gap: $space-8 $space-20;

        .search-tag {
          padding: $space-8 $space-6;
          font-size: $fs-h5;
          line-height: 16px;
          color: rgba($gunmetal, 0.85);
          border-bottom: 2px solid $white;

          &.active {
            border-bottom: 2px solid $gunmetal;
          }
        }
      }

      .search-bar {
        nb-form-field {
          &::ng-deep {
            .nb-form-field-prefix-medium {
              margin-right: -$space-32;
              height: 24px;
              width: 32px;
            }

            .nb-form-field-suffix-medium {
              margin-left: -$space-32;
              height: 24px;
              width: 32px;
            }
          }

          nb-icon {
            height: 16px;
            width: 16px;
            color: rgba($gunmetal, 0.85);
          }

          input {
            height: 24px;
            width: 140px;
            border: none;
            border-radius: $space-4;
            padding: $space-8 $space-32;
            font-size: $fs-h6;
            background: #edf1f7;
          }
        }
      }
    }

    .communities-list-cards {
      gap: $space-16;
    }
  }
}

@media all and (max-width: $tab-width) {
  .communities-list {
    nb-card-body {
      .communities-list-cards {
        flex-wrap: nowrap;
        overflow: scroll;
      }
    }
  }
}
