@import './projects/commudle-admin/src/assets/styles/variables';

.communities-list-container {
  margin-top: 0;
  @apply com-mt-0;

  nb-card-body {
    @apply com-py-6 com-px-8;

    .communities-list-prefix {
      @apply com-mb-4;

      .communities-list-heading {
        @apply com-text-[#2f2e41] com-text-[26px] com-font-semibold com-leading-[30px];
      }

      .communities-list-navigation {
        @apply com-min-w-max;

        button {
          @apply com-bg-blue-200 com-h-7 com-w-10;

          nb-icon {
            @apply com-text-[#536eff];
          }

          &:nth-of-type(1) {
            @apply com-mr-2;
          }

          &.communities-list-left-btn {
            @apply com-rounded-l-lg;
          }

          &.communities-list-right-btn {
            @apply com-rounded-r-lg;
          }
        }
      }
    }

    .communities-list-search {
      gap: $space-8 $space-32;
      @apply com-mt-11 com-mx-0 com-mb-6 com-gap-y-2 com-gap-x-8;

      .communities-list-search-tags {
        gap: $space-8 $space-20;

        .communities-list-search-tag {
          border-bottom: 2px solid $white;
          color: rgba($gunmetal, 0.85);
          font-size: $fs-h5;
          line-height: 16px;
          padding: $space-8 $space-6;

          &.active {
            border-bottom: 2px solid $gunmetal;
          }
        }
      }

      .communities-list-search-bar {
        nb-form-field {
          &::ng-deep {
            .nb-form-field-prefix-medium {
              height: 24px;
              margin-right: -$space-32;
              width: 32px;
            }

            .nb-form-field-suffix-medium {
              height: 24px;
              margin-left: -$space-32;
              width: 32px;
            }
          }

          nb-icon {
            color: rgba($gunmetal, 0.85);
            height: 16px;
            width: 16px;
          }

          .communities-list-search-input {
            background: #edf1f7;
            border: none;
            border-radius: $space-4;
            font-size: $fs-h6;
            height: 24px;
            padding: $space-8 $space-32;
            width: 140px;
          }
        }
      }
    }

    .communities-list-cards {
      @apply com-flex com-flex-nowrap com-overflow-x-scroll com-gap-4;

      @screen lg {
        @apply com-grid com-grid-cols-3 com-overflow-x-auto com-gap-4;
      }
    }
  }
}
