<div class="conference">
  <div *ngIf="screenShareStream" class="screen-video">
    <app-user-video
      (mutePeer)="mutePeer(streams[screenShareStream].uid)"
      (removeFromStage)="removePeerFromStage(streams[screenShareStream].uid)"
      [overridable]="serverClient.role === EHmsRoles.HOST"
      [self]="false"
      [stream]="streams[screenShareStream].stream"
      [type]="'screenshare'"
      [userDetails]="(peers[streams[screenShareStream].uid] ? peers[streams[screenShareStream].uid].user : {})"
    ></app-user-video>
  </div>
  <div
    [ngClass]="{'max-one': numVids === 1, 'max-four': numVids > 1 && numVids <= 4, 'more-than-four': numVids > 4, 'vertical': screenShareStream != null}"
    class="user-videos">
    <!-- <app-user-video
      *ngIf="localStream && onStage"
      [userDetails]="peers[client.uid]"
      [stream]="localStream"
      ></app-user-video>
    <app-user-video *ngIf="localScreen" [stream]="localScreen"></app-user-video> -->
    <div *ngFor="let stream of streams | keyvalue"
         [ngStyle]="{'display': screenShareStream !== stream.key ? 'unset' : 'none'}"
         class="video">
      <!-- show only non screen video elements here -->
      <app-user-video (mutePeer)="mutePeer(stream.value['uid'])"
                      (removeFromStage)="removePeerFromStage(stream.value['uid'])"
                      *ngIf="screenShareStream !== stream.key" [overridable]="serverClient.role === EHmsRoles.HOST"
                      [self]="stream.value['uid'] === client.uid" [stream]="stream.value['stream']" [type]="'camera'"
                      [userDetails]="peers[stream.value['uid']] ? peers[stream.value['uid']].user : {}"></app-user-video>
    </div>

  </div>
  <!-- controls should be visible to the user if they are on the stage or if they are the host -->
  <div class="controls d-flex justify-content-center">
    <div *ngIf="onStage" class="mic">
      <button (click)="toggleAudio(!this.mic)" nbButton shape="round">
        <nb-icon icon="{{mic ? 'mic' : 'mic-off'}}"></nb-icon>
      </button>
    </div>
    <div *ngIf="onStage" class="camera">
      <button (click)="toggleVideo(!this.camera)" nbButton shape="round">
        <nb-icon icon="{{camera ? 'video' : 'video-off'}}"></nb-icon>
      </button>
    </div>
    <div *ngIf="serverClient.role === EHmsRoles.HOST" class="end-meeting">
      <button (click)="confirmEndConference(endWebinarAlert)" nbButton shape="round">
        <nb-icon icon="phone" pack="fas" status="danger"></nb-icon>
      </button>
    </div>
    <div *ngIf="onStage" class="screen">
      <button (click)="toggleScreen()" [disabled]="screenShareStream && !screenShare"
              [ngClass]="{'cursor-disabled': (screenShareStream && !screenShare) === true}" nbButton shape="round">
        <nb-icon class="justify-content-center flex-column" icon="laptop" pack="fas"
                 status="{{localScreen ? 'success' : ''}}"></nb-icon>
      </button>
    </div>
    <div *ngIf="onStage || serverClient.role === EHmsRoles.HOST" class="settings">
      <button (click)="showSettings = !showSettings" nbButton shape="round">
        <nb-icon icon="settings"></nb-icon>
      </button>
    </div>
    <!-- <div class="recording" *ngIf="hmsClient.role === EHmsRoles.HOST"></div> -->
    <div *ngIf="onStage || serverClient.role === EHmsRoles.HOST" class="stage">
      <button (click)="toggleStage()" nbButton shape="round">
        <span *ngIf="onStage">Exit </span>
        <span *ngIf="!onStage">Join </span>
        &nbsp; Stage
      </button>
    </div>
  </div>

  <div *ngIf="showSettings" class="stream-settings">
    <app-settings (closeSettings)="this.showSettings = false" (joinStage)="toggleStage(); this.showSettings = false;"
                  [invitation]="serverClient.role === EHmsRoles.VIEWER"
                  [onStage]="onStage"></app-settings>
  </div>
</div>

<!-- dialog for ending the call -->
<ng-template #endWebinarAlert let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Are You Sure?</nb-card-header>
    <nb-card-body>
      <p>
        This will end the webinar for everyone.
      </p>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="endConference(); ref.close();" nbButton>Yes</button>
      <button (click)="ref.close()" nbButton>No</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
