<div class="conference">
  <div class="user-videos d-flex flex-wrap">
    <!-- <app-user-video
      *ngIf="localStream && onStage"
      [userDetails]="peers[client.uid]"
      [stream]="localStream"
      ></app-user-video>
    <app-user-video *ngIf="localScreen" [stream]="localScreen"></app-user-video> -->
    <div class="video" *ngFor="let stream of streams | keyvalue">
      <app-user-video
      [stream]="stream.value['stream']"
      [userDetails]="(peers[stream.value['uid']] ? peers[stream.value['uid']].user : {})"
      ></app-user-video>
    </div>

  </div>
   <!-- controls should be visible to the user if they are on the stage or if they are the host -->
   <div class="controls d-flex justify-content-center">
    <div class="mic" *ngIf="onStage">
      <button nbButton ghost (click)="toggleAudio()">
        <nb-icon icon="{{mic ? 'mic' : 'mic-off'}}"></nb-icon>
      </button>
    </div>
    <div class="camera" *ngIf="onStage">
      <button nbButton ghost (click)="toggleVideo()">
        <nb-icon icon="{{camera ? 'video' : 'video-off'}}"></nb-icon>
      </button>
    </div>
    <div class="end-meeting" *ngIf="serverClient.role === EHmsRoles.HOST">
      <button nbButton ghost (click)="endConference()">
        <nb-icon icon="phone" status="danger" pack="fas"></nb-icon>
      </button>
    </div>
    <div class="screen" *ngIf="onStage">
      <button nbButton ghost (click)="toggleScreen()">
        <nb-icon icon="laptop" pack="fas" status="{{ localScreen ? 'success' : 'basic' }}" class="justify-content-center flex-column"></nb-icon>
      </button>
    </div>
    <div class="settings" *ngIf="onStage || serverClient.role === EHmsRoles.HOST">
      <button nbButton ghost (click)="showSettings = !showSettings">
        <nb-icon icon="settings"></nb-icon>
      </button>
    </div>
    <!-- <div class="recording" *ngIf="hmsClient.role === EHmsRoles.HOST"></div> -->
    <div class="stage" *ngIf="onStage || serverClient.role === EHmsRoles.HOST">
      <button nbButton ghost (click)="toggleStage()">
        <span *ngIf="onStage">Exit </span>
        <span *ngIf="!onStage">Join </span>
        &nbsp; Stage
      </button>
    </div>
  </div>

  <div class="stream-settings" *ngIf="showSettings">
    <app-settings [onStage]="onStage" [invitation]="false" (closeSettings)="this.showSettings = false" (joinStage)="toggleStage(); this.showSettings = false;"></app-settings>
  </div>
</div>
