:host {
  height: 100%;
  width: 100%;

  .conference {
    position: relative;
    height: 100%;
    .user-videos {
      display: flex;
      flex-wrap: wrap;

      .video {
        max-width: 300px;
      }
    }

    .controls {
      position: absolute;
      bottom: 5px;
      width: 100%;
      >div {
        margin: 5px;
      }

      .end-meeting {
        nb-icon {
          transform: rotate(225deg);
          font-size: 1.1rem;
        }
      }

      .screen {
        button {
          nb-icon {
            display: flex;
          }
        }
      }
    }

    .stream-settings {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 1s ease-in-out;
    }
  }
}
