<nb-card *ngIf="builds?.length > 0" id="builds">
  <nb-card-header>
    <nb-icon icon="bulb" status="success"></nb-icon>
    Builds
    <span *ngIf="builds.length > 4">({{ builds.length }})</span>
  </nb-card-header>
  <nb-card-body>
    <div class="grid">
      <app-user-build-card *ngFor="let build of builds" [build]="build"></app-user-build-card>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="pastEvents?.length > 0" id="talks-at-events">
  <nb-card-header>
    <nb-icon icon="calendar" status="info"></nb-icon>
    Talks at Events
    <span *ngIf="pastEvents.length > 4">({{ pastEvents.length }})</span>
  </nb-card-header>
  <nb-card-body>
    <div class="grid">
      <app-user-past-event-card *ngFor="let pastEvent of pastEvents" [pastEvent]="pastEvent"></app-user-past-event-card>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="communities?.length > 0" id="communities">
  <nb-card-header>
    <nb-icon icon="people" status="warning"></nb-icon>
    Communities
    <span *ngIf="communities.length > 4">({{ communities.length }})</span>
  </nb-card-header>
  <nb-card-body [ngClass]="{ 'view-more': viewMoreCommunitiesSection, 'view-less': !viewMoreCommunitiesSection }">
    <div class="grid">
      <app-user-community-card
        *ngFor="let community of communities | orderBy: ['user_role.id']:['desc']"
        [community]="community"
      ></app-user-community-card>
    </div>
  </nb-card-body>
  <nb-card-footer
    *ngIf="communities?.length > 6"
    (click)="viewMoreCommunities()"
    class="com-cursor-pointer com-bg-[#1694FB] com-text-white hover:com-bg-[#43A9FB]"
  >
    <div class="com-flex com-justify-center">
      {{ footerCommunitiesCardText }}
    </div>
  </nb-card-footer>
</nb-card>

<nb-card *ngIf="labs?.length > 0" id="labs">
  <nb-card-header>
    <nb-icon icon="book-open" status="danger"></nb-icon>
    Labs
    <span *ngIf="labs.length > 4">({{ labs.length }})</span>
  </nb-card-header>
  <nb-card-body>
    <div class="grid">
      <app-user-lab-card *ngFor="let lab of labs" [lab]="lab"></app-user-lab-card>
    </div>
  </nb-card-body>
</nb-card>
