<div class="external-feed page-padding">
  <nb-card class="header">
    <nb-card-body>
      <h1>
        <nb-icon icon="cast-outline" status="warning"></nb-icon>
        Feed
      </h1>
      <p>
        Some links from around the world!
      </p>
    </nb-card-body>
  </nb-card>
  <div class="external-feed-list">
    <div *ngFor="let post of externalPosts">
      <app-external-feed-hlist-item [feedItem]="post"></app-external-feed-hlist-item>
    </div>
  </div>
  <div class="load-more-button" *ngIf="canLoadMore && total">
    <button [disabled]="isLoading" (click)="getFeedPosts()" fullWidth nbButton status="primary" size="small" outline>
      Load More!
    </button>
  </div>
</div>
