// .sidebar {
//   // transition: width 0.05;
// }

.sidebar-common-menu {
  a {
    @apply com-flex com-no-underline;
    color: grey;

    fa-icon {
      @apply com-h-[20px] com-w-[20px] com-mr-2;
    }

    span {
      font-size: 0.9735rem;
    }
  }
}

.router-link-active {
  color: #3366ff !important;
}

a.profile-edit-link {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .incomplete-badge {
    margin-left: 0.5rem;
  }
}

nb-user {
  ::ng-deep {
    .user-picture.image {
      background-size: contain !important;
      background-position: center;
    }
    .user-name {
      font-size: 0.9735rem !important;
      color: grey;
    }
  }
}

nb-accordion {
  box-shadow: none;
}
