nb-card {
  @apply com-mx-0 md:com-bg-Bright-Gray/30 com-border-none com-m-0;

  nb-card-body {
    @apply com-p-0 md:com-p-4;
    .heading {
      @apply md:com-mt-0 md:com-mb-6 com-mt-10 com-mb-4 com-mx-0 com-flex com-flex-col com-p-4 md:com-p-0 md:com-bg-transparent com-bg-Anti-Flash-White;

      .title {
        @apply com-text-sm com-font-semibold com-text-Dark-Jungle-Green com-mb-1 com-mt-0 com-mx-0;
      }
      .sub-heading {
        @apply com-text-xs com-font-normal com-text-gunmetal com-m-0;
      }
    }

    .tech-sessions {
      @apply com-flex md:com-block com-flex-nowrap md:com-flex-wrap com-overflow-x-auto com-mx-4 com-my-0 md:com-m-0 com-gap-4 md:com-gap-0 com-items-center;
      .tech-sessions-card {
        @apply md:com-mb-4 com-m-0;
      }

      .load-more {
        @apply com-text-center md:com-mt-6 com-mt-0;

        app-loading-spinner {
          @apply com-mb-6;
        }
      }
    }
  }
}
