p,
h4 {
  margin: 0;
}

.user-past-event-card {
  @apply com-h-full com-m-0 com-overflow-hidden com-cursor-pointer;

  a {
    @apply com-no-underline;
    nb-card-body {
      @apply com-p-0 com-flex com-overflow-hidden;

      .date {
        @apply com-p-2 com-bg-blue-500 com-flex com-flex-col com-justify-center com-items-center com-w-14 com-text-xs com-text-blue-100 com-flex-shrink-0;

        .date-day {
          @apply com-text-base com-font-semibold com-text-tWhite;
        }
      }

      .content {
        @apply com-my-auto com-p-2;

        .title {
          @apply com-text-sm com-font-semibold com-line-clamp-1 com-text-Yankees-Blue;
        }

        .community-badge {
          @apply com-mt-1;
        }
      }
    }
  }
}
