<form [formGroup]="userForm" *ngIf="userForm">
  <div class="com-flex">
    <div *ngIf="uploadedProfilePicture === null" class="uploaded-profile"></div>
    <div *ngIf="uploadedProfilePicture" class="uploaded-profile-image">
      <img alt="Profile Picture" src="{{ uploadedProfilePicture }}" title="Profile Picture" class="center" />
    </div>
    <!-- input for file upload -->
    <div class="com-w-full">
      <div class="com-border com-rounded-lg com-border-dashed com-bg-[#E4E9F2]/40 com-border-gray-500 com-relative">
        <input
          (change)="displaySelectedProfileImage($event)"
          type="file"
          accept="image/*"
          class="com-cursor-pointer com-relative com-block com-opacity-0 com-w-full com-h-full com-p-16 com-z-50"
        />
        <div class="com-text-center com-absolute com-top-8 com-right-0 com-left-0 com-m-auto com-text-gray-400">
          <fa-icon [icon]="faFileImage" class="com-text-5xl"></fa-icon>
          <p>
            Drag file here
            <br />
            or<span class="com-text-primary-500"> BROWSE </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="userForm.get('name')">
    <label for="name">Your Name*</label>
    <input type="text" nbInput fullWidth formControlName="name" />
  </div>
  <div *ngIf="userForm.get('designation')">
    <label for="name">Designation/Tagline*</label>
    <input type="text" nbInput fullWidth formControlName="designation" />
  </div>
  <div *ngIf="userForm.get('about_me')">
    <label for="name">About*</label>
    <textarea name="about_me" id="about_me" rows="3" nbInput fullWidth formControlName="about_me"></textarea>
  </div>
  <div *ngIf="userForm.get('location')">
    <label for="name">Location*</label>
    <input type="text" nbInput fullWidth formControlName="location" />
  </div>
  <div *ngIf="userForm.get('work_experience_months')">
    <label for="name">Your Work Experience in Years*</label>
    <input type="text" nbInput fullWidth formControlName="work_experience_months" />
  </div>
  <div *ngIf="userForm.get('education')">
    <label for="name">Your education*</label>
    <input type="text" nbInput fullWidth formControlName="education" />
  </div>
  <div *ngIf="userForm.get('phone')">
    <label for="name">Your Phone Number*</label>
    <input type="number" nbInput fullWidth formControlName="phone" />
  </div>
  <div *ngIf="userForm.get('email')">
    <label for="name">Your email*</label>
    <input type="email" nbInput fullWidth formControlName="email" readonly />
  </div>
  <div *ngIf="userForm.get('twitter')">
    <label for="name">Twitter*</label>
    <input type="text" nbInput fullWidth formControlName="twitter" />
  </div>
  <div *ngIf="userForm.get('linkedin')">
    <label for="name">Linkedin*</label>
    <input type="text" nbInput fullWidth formControlName="linkedin" />
  </div>
  <div *ngIf="userForm.get('dribbble')">
    <label for="name">Dribbble*</label>
    <input type="text" nbInput fullWidth formControlName="dribbble" />
  </div>
  <div *ngIf="userForm.get('youtube')">
    <label for="name">Youtube*</label>
    <input type="text" nbInput fullWidth formControlName="youtube" />
  </div>
  <div *ngIf="userForm.get('medium')">
    <label for="name">Medium*</label>
    <input type="text" nbInput fullWidth formControlName="medium" />
  </div>
  <div *ngIf="userForm.get('behance')">
    <label for="name">Behance*</label>
    <input type="text" nbInput fullWidth formControlName="behance" />
  </div>
  <div *ngIf="userForm.get('gitlab')">
    <label for="name">Gitlab*</label>
    <input type="text" nbInput fullWidth formControlName="gitlab" />
  </div>
  <div *ngIf="userForm.get('github')">
    <label for="name">Github*</label>
    <input type="text" nbInput fullWidth formControlName="github" />
  </div>
  <div *ngIf="userForm.get('facebook')">
    <label for="name">Facebook*</label>
    <input type="text" nbInput fullWidth formControlName="facebook" />
  </div>
  <div *ngIf="userForm.get('tshirt_size')">
    <label for="tshirt_size">T shirt size*</label>
    <select
      name="tshirt_size"
      id="tshirt_size"
      formControlName="tshirt_size"
      [ngClass]="{
        'com-text-[#8E9BB3]': userForm.get('tshirt_size').value === null
      }"
    >
      <option selected disabled [value]="null">Select T-shirt size</option>
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
      <option value="XXL">XXL</option>
      <option value="XXXL">XXXL</option>
    </select>
  </div>
  <div class="action-buttons">
    <button status="primary" nbButton disabled>Previous</button>
    <button status="primary" nbButton [disabled]="userForm.invalid" (click)="submitUserDetails()">Next</button>
  </div>
</form>
