<div class="menu">
  <div *ngIf="!hideUser" class="user">
    <commudle-user-profile-card-large [showFollowButton]="true" [user]="lab.user"></commudle-user-profile-card-large>
  </div>
  <nb-card *ngIf="!hideSteps" class="steps">
    <nb-list>
      <nb-list-item
        (click)="onSetStep(-1)"
        [ngClass]="{ active: selectedLabStep === -1 }"
        [routerLink]="['/labs', lab.slug]"
        class="clickable"
      >
        <a [routerLink]="['/labs', lab.slug]">
          <h2 class="lab-step-title">Overview</h2>
        </a>
      </nb-list-item>
      <nb-list-item
        (click)="onSetStep(i)"
        *ngFor="let step of lab.lab_steps; let i = index"
        [ngClass]="{ active: selectedLabStep === i }"
        [routerLink]="['steps', lab.lab_steps[i].id]"
        class="clickable"
      >
        <div>
          <a [routerLink]="['steps', lab.lab_steps[i].id]">
            <h2 class="lab-step-title">{{ i + 1 }}. {{ step.name }}</h2>
            <commudle-badge
              *ngIf="showContinue && i !== lab.lab_steps.length - 1 && lab.lab_steps[i].id === lab.last_visited_step_id"
              [color]="'blue'"
              [fontSize]="'small'"
              [text]="'Continue'"
            ></commudle-badge>
          </a>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card>
  <nb-card *ngIf="similarLabs.length > 0 && !hideRelatedLabs" class="related-labs">
    <nb-card-header>Related Labs</nb-card-header>
    <nb-card-body>
      <div *ngFor="let lab of similarLabs" [routerLink]="['/labs', lab.slug]" class="details clickable">
        <p class="name">{{ lab.name }}</p>
        <p class="type">LAB</p>
      </div>
    </nb-card-body>
  </nb-card>
  <ng-container *ngIf="!hideRecommendedLabs">
    <commudle-recommended-labs></commudle-recommended-labs>
  </ng-container>
  <div *ngIf="!hideInteractions" class="interactions d-flex flex-row justify-content-space-around">
    <commudle-votes-display [icon]="'heart-outline'" [votableId]="lab.id" [votableType]="'Lab'"></commudle-votes-display>
    <div (click)="onScrollToChat()" *ngIf="discussionChat" class="message-count clickable">
      <nb-icon icon="message-circle-outline"></nb-icon>
      {{ messagesCount }}
    </div>
    <div class="share-button">
      <button (click)="copyTextToClipboard(lab)" nbButton shape="round" size="small">
        <nb-icon icon="share"></nb-icon>
      </button>
    </div>
  </div>
</div>
