<div *ngIf="event.event_status.name !== EEventStatuses.DRAFT">
  <nb-card class="updates">
    <nb-card-body>
      <h6 class="com-mt-0 com-mb-2">Updates</h6>
      <div *ngFor="let eu of eventUpdates; let i = index" class="updates">
        <div>
          <div>
            <span>
              {{ eu.details }}
            </span>
            <span *ngIf="event.editable" class="delete-event-update clickable" (click)="deleteEventUpdate(eu.id, i)">
              <nb-icon icon="close"></nb-icon>
            </span>
          </div>
          <div class="image-section" *ngIf="eu.images">
            <div *ngFor="let img of eu.images" class="images">
              <img [src]="img.i128" alt="" />
            </div>
          </div>

          <small>
            <span class="com-text-Auro-Metal-Saurus"
              >{{ moment(eu.created_at).format('LT DD-MM-YYYY') }} by {{ eu.user.name }}</span
            >
          </small>
        </div>
      </div>
      <commudle-editor
        [addImageSection]="true"
        (contentChange)="createEventUpdate($event)"
        (uploadImages)="uploadImages($event)"
      ></commudle-editor>

      <div *ngIf="showPreviewImages" class="com-flex com-gap-3 com-flex-wrap">
        <div *ngFor="let image of images" class="com-w-32 com-h-32 com-aspect-1">
          <img
            [src]="image.url"
            [alt]="image.name"
            class="com-mx-auto com-my-0 com-h-full com-w-full com-object-contain"
          />
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
