p {
  @apply com-m-0 com-text-gunmetal;
}

.community-about {
  @apply com-mb-8 com-mx-0;

  nb-card {
    @apply com-h-max com-mt-4 com-mx-0 com-mb-0;

    nb-card-body {
      @apply com-p-4 md:com-p-6;

      .heading {
        @apply com-m-0 com-text-2xl com-font-semibold com-mb-8 com-text-Yankees-Blue;
      }
    }
  }

  .about {
    nb-card-body {
      &::ng-deep {
        .content {
          p,
          span {
            font-family: inter;
            @apply com-text-gunmetal com-text-base com-leading-5;
          }
        }
      }
    }
  }
}

.title {
  @apply com-text-2xl com-font-semibold com-text-Yankees-Blue md:com-mb-6 md:com-mt-0 com-mb-4 com-mt-0;
}

.event-horizontal-card {
  @apply com-flex com-flex-col com-gap-4;
}

.main-column {
  @apply lg:com-col-span-2;
}

app-loading-spinner {
  @apply com-my-4;
}

.default-channel-container {
  @apply com-border-primary-500;
  nb-card-header {
    @apply com-flex com-justify-between com-items-center;
    .name-count {
      @apply com-flex com-items-center com-gap-4;
      .channel-name {
        @apply com-font-semibold com-text-Auro-Metal-Saurus com-text-base;
      }
      .members-count {
        @apply com-bg-slate-200 com-rounded-3xl com-px-3 com-py-1;
      }
    }
  }
  nb-card-body {
    @apply com-p-0 #{!important};
    .description-container {
      @apply com-bg-blue-50 com-h-14 com-flex com-items-center com-px-4;
      .description {
        @apply com-line-clamp-1 com-text-Yankees-Blue;
      }
    }
    commudle-channel-discussion {
      @apply com-pb-1.5 com-h-500px com-bg-white;
    }
  }
}
