@import './apps/commudle-admin/src/assets/styles/variables';

p {
  color: $gunmetal;
  margin: 0;
}

.community-about {
  margin: $space-32 0;

  nb-card {
    height: max-content;
    margin: $space-16 0 0;

    nb-card-body {
      padding: $space-40 $space-32;

      .heading {
        @apply com-m-0;
        font-size: $fs-32;
        font-weight: $fw-600;
        line-height: 38px;
        margin-bottom: $space-32;
      }
    }
  }

  .about {
    nb-card-body {
      &::ng-deep {
        .content {
          p,
          span {
            color: $gunmetal;
            font-family: $primary-font-family !important;
            font-size: $fs-h4;
            line-height: 19px;
          }
        }
      }
    }
  }
}

@media all and (max-width: $tab-width) {
  .community-about {
    .about {
      nb-card-body {
        padding: $space-16;
      }
    }
  }
}
