p {
  @apply com-m-0 com-text-gunmetal;
}

.community-about {
  @apply com-my-8 com-mx-0;

  nb-card {
    @apply com-h-max com-mt-4 com-mx-0 com-mb-0;

    nb-card-body {
      @apply com-p-4;
      @apply md:com-py-10 md:com-px-8;

      .heading {
        @apply com-m-0 com-text-2xl com-font-semibold com-mb-8;
      }
    }
  }

  .about {
    nb-card-body {
      &::ng-deep {
        .content {
          p,
          span {
            font-family: inter;
            @apply com-text-gunmetal com-text-base com-leading-5;
          }
        }
      }
    }
  }
}
