<div class="category-heading">
  Event Status<commudle-help-section [helpDictionaryName]="'event-status'"></commudle-help-section>
</div>
<section *ngIf="event.editable">
  <nb-button-group
    (valueChange)="updateStatus($event[0])"
    [size]="isMobileView ? 'medium' : 'small'"
    filled
    class="border"
  >
    <button
      *ngFor="let i of eventStatuses"
      [pressed]="event.event_status.name === i"
      [value]="i"
      nbButtonToggle
      class="md:!com-px-3"
    >
      {{ i | titlecase }}
    </button>
  </nb-button-group>
</section>

<section *ngIf="!event.editable">
  <nb-alert status="success" class="com-mb-0">This event is completed!</nb-alert>
</section>
