<div [routerLink]="['/feed', feedItem.id]" class="single-external-feed-details">
  <nb-card>
    <nb-card-body>
      <div *ngIf="feedItem.details.image.length > 0" class="image">
        <img alt="{{ feedItem.details.source }}" src="{{ feedItem.details.image }}" title="{{feedItem.details.source}}">
      </div>
      <div class="source-details d-flex align-items-center">
        <div class="source-info">
          <em> {{ feedItem.details.source }} </em> <br/>
          <small> {{ feedItem.details.created_at }} </small>
        </div>
      </div>
      <div class="title">
        <h3 class="name"> {{ feedItem.details.title }} </h3>
      </div>
      <div *ngFor="let tag of feedItem.details.tags" class="tags">
        <span class="tag-hash">#</span> {{ tag.name }}
      </div>
      <p>
        Visit the post at:
        <a href="{{ feedItem.details.link }}">{{ feedItem.details.source }}</a>
      </p>
      <div class="stats d-flex align-items-center">
        <p class="stars">
          <app-votes-display [icon]="'heart'" [votableId]="feedItem.id" [votableType]="'FeedItem'"></app-votes-display>
        </p>
        <p [routerLink]="['/feed', feedItem.id]" class="comments">
          <span *ngIf="feedItem.messages_count > 0">
            {{ feedItem.messages_count }}
          </span>
          <nb-icon icon="message-circle-outline"></nb-icon>
        </p>
        <p class="flags">
          <app-flags-display [flaggableId]="feedItem.id" [flaggableType]="'FeedItem'"></app-flags-display>
        </p>
      </div>
    </nb-card-body>
  </nb-card>
</div>
<div class="feed-discussion">
  <app-feed-item-discussion *ngIf="discussionChat" [discussion]="discussionChat"></app-feed-item-discussion>
</div>
