@import './projects/commudle-admin/src/assets/styles/variables';

.single-external-feed-details {
  p,
  a,
  div,
  h3 {
    font-family: $primary-font-family;
  }

  nb-card {
    border: $border-1;
    box-shadow: none;
    margin-bottom: 8px;

    nb-card-body {
      .image {
        background-color: $lightestgrey;
        border: 1px solid $lightestgrey;
        height: 100%;
        margin-bottom: 5px;
        overflow: hidden;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .source-details {
        .source-info {
          align-items: center;
          font-size: $fs-h5;
          margin-bottom: 1px;
        }
      }

      h3.name {
        color: black;
        font-size: $fs-24;
        font-weight: $fw-600;
        line-height: normal;
        margin-bottom: 15px;
        margin-top: 15px;
      }

      .tags {
        display: inline-block;
        font-color: '#b7b7b7';
        font-size: 0.875rem;
        line-height: 1.3;
        margin-bottom: 10px;
        padding: 4px;

        .tag-hash {
          font-weight: normal;
          opacity: 0.4;
        }
      }

      .stats {
        .clickable {
          nb-icon {
            color: $spanish-gray;
          }
        }
        > p {
          margin: 0 16px 0 0;

          &.comments {
            nb-icon {
              color: $spanish-gray;
            }
          }
        }
      }
    }
  }

  .feed-discussion {
    margin: $space-32 0 $space-64;
  }
}
