<div class="tag-list" [ngClass]="{ editable: editable }">
  <span
    class="tag"
    *ngFor="let tag of getTags()"
    [ngClass]="{ tiny: size === 'tiny' }"
    class="{{ backgroundColor }} {{ fontColor }}"
    >{{ tag }} <fa-icon *ngIf="editable" class="remove-icon" (click)="onTagRemove(tag)" [icon]="faXmark"></fa-icon
  ></span>
  <input
    (keyup.enter)="onTagAdd($event)"
    *ngIf="editable"
    [disabled]="inputDisabled"
    nbInput
    placeholder="Type something and press enter to keep adding (Atleast {{ minimumTags }} tags)"
    type="text"
  />
</div>
