<nb-tag-list (tagRemove)="onTagRemove($event)">
  <nb-tag
    *ngFor="let tag of getTags(maximumTag)"
    [removable]="editable"
    [text]="tag"
    [ngClass]="{
      tiny: size === 'tiny'
    }"
    [ngStyle]="{ background: backgroundColor, color: fontColor }"
  ></nb-tag>
  <input
    (tagAdd)="onTagAdd($event)"
    *ngIf="editable"
    [disabled]="inputDisabled"
    fullWidth
    nbTagInput
    placeholder="Type something and press enter to keep adding (Atleast {{ minimumTags }} tags)"
    type="text"
  />
</nb-tag-list>
