@import './projects/commudle-admin/src/assets/styles/variables';

.suggestions-box {
  width: 300px;
}

.mention-menu {
  border: $space-2 solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
  float: left;
  left: 0;
  min-width: 11em;
  position: absolute;
  z-index: 1000;
}

.scrollable-menu {
  display: block;
  height: auto;
  max-height: 292px;
  overflow: auto;

  // Custom scrollbar
  &::-webkit-scrollbar {
    width: 0;
  }
}

.mention-dropdown {
  bottom: 100%;
  top: auto;
  margin-bottom: $space-2;
  background: $white;
}

.selected {
  background-color: $cornflower-blue;
}

nb-list-item {
  cursor: pointer;
  padding: $space-8;

  app-user-profile-mini {
    width: 100%;
  }

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}
