<div class="channel-members">
  <nb-card>
    <nb-card-header>
      <div>
        <p class="margin0 fontw-300">
          <nb-icon icon="people" status="basic"></nb-icon>
          Members ({{ channelUsers.length }})
        </p>
      </div>
      <span (click)="close()" class="clickable">
        <small>
          <nb-icon icon="close-circle" status="basic"></nb-icon>
        </small>
      </span>
    </nb-card-header>
    <nb-card-body>
      <div (scrolled)="getMembers()" [infiniteScrollDistance]="3" appInfiniteScroll>
        <ng-container
          *ngFor="let u of channelUsers | orderBy : ['user_role.name'] : ['asc']; let i = index"
          class="com-my-3"
        >
          <app-member
            (exitChannel)="leaveChannel(i)"
            (makeAdmin)="toggleAdmin(i)"
            (removeAdmin)="toggleAdmin(i)"
            (removeFromChannel)="removeFromChannel(i)"
            [currentUserIsAdmin]="currentUserIsAdmin"
            [userRolesUser]="u"
          ></app-member>
        </ng-container>
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      </div>
    </nb-card-body>
  </nb-card>
</div>
