<div class="channel-members">
  <nb-card>
    <nb-card-header>
      <div>
        <p class="margin0 fontw-300">
          <nb-icon icon="people" status="basic"></nb-icon>
          Members
          <span *ngIf="totalOrganizers || totalMembers"> ({{ totalOrganizers + totalMembers }}) </span>
        </p>
      </div>
      <span (click)="close()" class="clickable">
        <small>
          <nb-icon icon="close-circle" status="basic"></nb-icon>
        </small>
      </span>
    </nb-card-header>
    <nb-card-body>
      <div>
        <div *ngFor="let u of admins; let i = index" class="com-my-3">
          <app-member
            (exitChannel)="leaveChannel(i)"
            (removeAdmin)="removeAdmin(i, u.id)"
            (removeFromChannel)="removeFromChannel(i)"
            [currentUserIsAdmin]="currentUserIsAdmin || isSuperAdmin"
            [userRolesUser]="u"
          ></app-member>
        </div>
        <div
          *ngFor="let u of channelMembers; let i = index"
          (scrolled)="getMembers()"
          [infiniteScrollDisabled]="channelMembers.length >= totalMembers"
          appInfiniteScroll
          class="com-my-3"
        >
          <app-member
            (exitChannel)="leaveChannel(i)"
            (makeAdmin)="addAdmin(i, u.id)"
            (removeFromChannel)="removeFromChannel(i)"
            [currentUserIsAdmin]="currentUserIsAdmin || isSuperAdmin"
            [userRolesUser]="u"
          ></app-member>
        </div>
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      </div>
    </nb-card-body>
  </nb-card>
</div>
