<div class="channel-members">
  <nb-card>
    <nb-card-header>
      <div>
        <p class="margin0 fontw-300">
          <nb-icon icon="people" status="basic"></nb-icon>
          Members
          <span *ngIf="total"> ({{ total }}) </span>
        </p>
      </div>
      <span (click)="close()" class="clickable">
        <small>
          <nb-icon icon="close-circle" status="basic"></nb-icon>
        </small>
      </span>
    </nb-card-header>
    <nb-card-body>
      <div>{{ channelUsers.length >= total }}</div>
      <div
        (scrolled)="getMembers()"
        [infiniteScrollDistance]="5"
        appInfiniteScroll
        [infiniteScrollDisabled]="channelUsers.length >= total"
      >
        <ng-container *ngFor="let u of channelUsers; let i = index" class="com-my-3">
          <app-member
            (exitChannel)="leaveChannel(i)"
            (makeAdmin)="toggleAdmin(i)"
            (removeAdmin)="toggleAdmin(i)"
            (removeFromChannel)="removeFromChannel(i)"
            [currentUserIsAdmin]="currentUserIsAdmin"
            [userRolesUser]="u"
          ></app-member>
        </ng-container>
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      </div>
    </nb-card-body>
  </nb-card>
</div>
