@import './apps/commudle-admin/src/assets/styles/variables';
@import './apps/commudle-admin/src/assets/styles/text-styles';

p {
  margin: 0;
}

.communities-featured-list {
  @apply com-flex com-flex-nowrap com-overflow-x-scroll com-gap-4;

  @screen lg {
    @apply com-grid com-grid-cols-4 com-overflow-x-auto com-gap-6;
  }
}

@media all and (max-width: $tab-width) {
  .communities-featured-list {
    overflow-x: scroll;
  }
}

.home-view-all-communities {
  background-color: #0095ff;
}

.featured-community-card {
  @apply com-flex com-flex-shrink-0 com-w-[298px];
}
