@import './projects/commudle-admin/src/assets/styles/variables';

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.user-profile-large {
  background-color: $white;

  .avatar {
    border-radius: 50%;
    max-height: 56px;
    max-width: 56px;
    min-width: 56px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .details {
    margin-left: $space-16;

    .name {
      p {
        color: $black;
        font-size: $fs-18;
        line-height: 21px;
      }

      img {
        height: 16px;
        margin-left: $space-4;
        width: 16px;
      }
    }

    .username {
      color: rgba($gunmetal, 0.85);
      font-size: $fs-h6;
      line-height: 12px;
      margin-top: $space-4;
    }

    .designation {
      color: $black;
      font-size: $fs-h5;
      line-height: 16px;
      margin-top: $space-4;
    }
  }
}

.followers {
  margin: $space-8 0 0 $space-72;
}

.align-right {
  margin-left: auto;
}
