<div [ngClass]="{ 'com-flex': alignFollowToRight }">
  <a [routerLink]="['/users', user.username]">
    <div class="user-profile-large d-flex align-items-center">
      <div class="avatar">
        <img alt="{{ user.name }}" src="{{ user.photo.i64 }}" title="{{ user.name }}" />
      </div>
      <div class="details">
        <div class="name d-flex align-items-center">
          <p class="com-line-clamp-1">{{ user.name }}</p>
          <img *ngIf="user.is_expert" alt="Expert Tick" src="/assets/images/Expert-Tick.svg" title="Expert Tick" />
        </div>
        <p class="username com-line-clamp-1">@{{ user.username | truncatetext: maxUserNameLength }}</p>
        <p class="designation com-line-clamp-1">{{ user.designation || '--' }}</p>
      </div>
    </div>
  </a>
  <div *ngIf="showFollowButton" [ngClass]="{ 'align-right': alignFollowToRight }" class="followers">
    <app-user-follow [username]="user.username" class="follow-btn"></app-user-follow>
  </div>
</div>
