@import '/projects/commudle-admin/src/assets/styles/variables';

.user-cover-photo {
  height: 187px;
  background-color: $white;
  border-radius: $border-10;
  position: relative;
  overflow: hidden;

  .cover-image {
    height: inherit;
    background-color: $light-purple;
    background-image: radial-gradient(at top left, $light-purple2, transparent),
    radial-gradient(at top right, $neon-blue, transparent),
    radial-gradient(at bottom left, $blue-jeans, transparent);
    //background-size: 100% 100%;
    //background-repeat: no-repeat;
    overflow: hidden;

    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
      object-position: center;
    }
  }

  .cover-change {
    border: none;
    border-radius: $border-10;
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: $neon-blue;
    //background-color: rgba(196, 196, 196, 0.6);
    text-transform: none;
    font-weight: $fw-400;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1);
    }
  }
}

.cover-image-dialog {
  nb-card-body {
    img {
      height: 187px;
      margin-top: $space-16;
    }
  }

  nb-card-footer {
    button {
      text-transform: capitalize;
    }
  }
}

@media all and (max-width: $tab-width) {
  .user-cover-photo {
    border-radius: 0;
  }
}
