<div *ngIf="user && user.is_expert" class="user-follow">
  <button (click)="openDialog(userFollowDialog)" [ngClass]="{'active': isFollowing}" class="follow-btn anim-shadow"
          nbButton size="small">
    <nb-icon [icon]="isFollowing ? 'checkmark' : 'plus'"></nb-icon>
    {{isFollowing ? 'Following' : 'Follow'}}
  </button>
</div>

<ng-template #userFollowDialog let-data let-ref="dialogRef">
  <nb-card class="user-follow-dialog">
    <nb-card-header class="d-flex align-items-center justify-content-space-between">
      Confirmation
      <button (click)="ref.close()" ghost nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <p>Thank You for joining the journey of <em>{{user.name}}</em>!</p>
      <p>As a follower you will be able to receive content in the form of emails and notifications about
        <em>{{user.name}}</em> from Commudle.</p>
      <!--      <p>Are you sure you want to follow <em>{{user.name}}</em>?</p>-->
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-space-between">
      <button (click)="ref.close()" ghost nbButton status="danger">Cancel</button>
      <button (click)="toggleFollow(ref)" nbButton status="success">Confirm</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
