nb-card-body {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 800px) {
    flex-direction: row;
    flex-wrap: wrap;

  }

  .speaker{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin: 0.5rem 0;
    border-bottom: 1px dotted lightgrey;

    @media screen and (min-width: 800px) {
      width: 50%;
    }
  }
}
