<nb-card *ngIf="speakers.length > 0 || simpleAgendaSpeakers.length > 0">
  <nb-card-header>
    <h6>
      <nb-icon icon="people-outline" status="success"></nb-icon>
      Speakers
    </h6>
  </nb-card-header>
  <nb-card-body [ngClass]="{ 'view-more': viewMoreSection, 'view-less': !viewMoreSection }">
    <div *ngFor="let speaker of speakers | orderBy: ['user.name']:['asc']" class="speaker">
      <app-user-profile-card-large
        [alignFollowToRight]="true"
        [showFollowButton]="true"
        [user]="speaker.user"
      ></app-user-profile-card-large>
    </div>
    <div *ngFor="let speaker of simpleAgendaSpeakers" class="speaker">
      <app-user-profile-card-large
        [alignFollowToRight]="true"
        [showFollowButton]="true"
        [user]="speaker.user"
      ></app-user-profile-card-large>
    </div>
  </nb-card-body>
  <nb-card-footer
    *ngIf="speakers.length + simpleAgendaSpeakers.length > 5"
    (click)="viewMore()"
    class="com-cursor-pointer com-bg-[#1694FB] com-text-white hover:com-bg-[#43A9FB]"
  >
    <div class="com-flex com-justify-center">
      {{ footerText }}
    </div>
  </nb-card-footer>
</nb-card>
