<div class="community-channel-list">
  <div class="com-flex com-justify-between com-mt-3 com-mx-4">
    <div class="com-flex com-items-center">
      <p class="com-font-bold com-text-lg com-m-0">Forums</p>
      <commudle-help-section [helpDictionaryName]="'forums'"></commudle-help-section>
    </div>
    <button
      *ngIf="currentUser && (communityRoles.includes(EUserRoles.ORGANIZER) || isCommunityOrganizer)"
      (click)="newForumDialogBox()"
      outline
      nbButton
      size="tiny"
      status="base"
      class="com-h-min"
      nbTooltip="Start a new topic and forum"
    >
      New Topic
    </button>
  </div>
  <nb-accordion class="forum-group">
    <nb-accordion-item expanded="true" class="com-bg-[#F9F9F9]">
      <nb-accordion-item-header class="com-p-0">
        <div class="heading">
          <p class="com-m-0">Categories</p>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngFor="let frGroup of communityForums | keyvalue" class="group-name">
        <div [ngClass]="{ selectedForum: frGroup.key === this.selectedForumName }">
          <p class="com-m-0" (click)="selectedCommunityForum(frGroup)">
            {{ (frGroup.key | titlecase) || 'General' }}
          </p>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
