<div class="community-channel-list">
  <div class="com-flex com-justify-between">
    <p class="com-font-bold com-text-2xl com-m-0">Forums</p>
    <button (click)="newForumDialogBox()" outline nbButton size="tiny" status="base" class="com-h-min">
      <nb-icon icon="plus"></nb-icon>
    </button>
  </div>

  <nb-accordion class="channel-group com-shadow-none">
    <nb-accordion-item expanded="true">
      <nb-accordion-item-header class="com-p-0">
        <div class="group-name">
          <p class="com-m-0">Categories</p>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngFor="let chGroup of communityForums | keyvalue">
        <div>
          <p class="com-m-0" (click)="selectedCommunityChannel(chGroup)">{{ chGroup.key || 'GENERAL' }}</p>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
