<div *ngIf="currentUser">

  <div class="username">
      <form [formGroup]="usernameForm" (ngSubmit)="setUsername()">
        <div>
          <label>
            Choose a username to for your public profile
            <nb-form-field>
              <nb-icon nbPrefix icon="at-outline"></nb-icon>
              <input
                type="text"
                nbInput
                status="primary"
                fieldSize="small"
                formControlName="username"
                (change)="checkUsername()"
                >
            </nb-form-field>
          </label>
          <p class="field-error validation-error-text" *ngIf="usernameForm.controls.username.errors" icon="alert-circle-outline" status="danger">
            <small>
              *Username cannot contain spaces & special characters
            </small>
          </p>
          <p class="field-error validation-error-text" *ngIf="validusername == false && currentUsername != currentUser.username" icon="alert-circle-outline" status="danger">
            <small>
              *Username already taken
            </small>
          </p>
        </div>
        <div>
          <button nbButton size="small" [nbSpinner]="checkingUsername" status="success" type="submit" [disabled]="!validusername || (currentUsername == lastUsername) || checkingUsername">
            Save
          </button>
          <a class="public-profile-link" nbButton size="small" status="info" outline [routerLink]="['/users', currentUser.username]">
            Go To Profile Page
          </a>
        </div>
      </form>
  </div>
  <form [formGroup]="userProfileForm" (ngSubmit)="updateUserDetails()">
    <div class="row">
      <div>
        <label>
          Profile Picture*
          <input type="file" accept="image/*" nbInput fullWidth (change)="displaySelectedProfileImage($event)">
        </label>

        <div>
          <div class="uploaded-profile" *ngIf="uploadedProfilePicture == null">
          </div>
          <div class="uploaded-profile-image" *ngIf="uploadedProfilePicture">
            <img src={{uploadedProfilePicture}} alt="Profile Picture">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <label>
          Name*
          <input type="text" nbInput fullWidth formControlName="name">
        </label>
        <span *ngIf="userProfileForm['controls'].name.touched && userProfileForm['controls'].name.invalid && userProfileForm['controls'].name.errors.required" class="validation-error-text">
          Required Field
        </span>
      </div>
    </div>

    <div class="row">
      <div>
        <label>
          What's Your Tagline?*
          <input type="text" nbInput fullWidth formControlName="designation" placeholder="CEO, Commudle">
        </label>
        <span *ngIf="userProfileForm['controls'].designation.touched && userProfileForm['controls'].designation.invalid && userProfileForm['controls'].designation.errors.required" class="validation-error-text">
          Required Field
        </span>
      </div>
      <div>
        <label>
          About Me*
          <textarea nbInput fullWidth formControlName="about_me" placeholder="A little bit about your interests!"></textarea>
        </label>
        <span *ngIf="userProfileForm['controls'].about_me.touched && userProfileForm['controls'].about_me.invalid && userProfileForm['controls'].about_me.errors.required" class="validation-error-text">
          Required Field
        </span>
      </div>
    </div>

    <div class="row">

      <div>
        <label>
          Phone
          <input type="number" nbInput fullWidth formControlName="phone">
        </label>
      </div>

      <div class="gender-input">
        <label>
          Gender
          <nb-radio-group
            name="gender"
            formControlName="gender">
            <nb-radio value="male">
              Male
            </nb-radio>
            <nb-radio value="female">
              Female
            </nb-radio>
            <nb-radio value="prefer_not_to_answer">
              Other/Prefer Not To answer
            </nb-radio>
          </nb-radio-group>
        </label>
      </div>
    </div>

    <div class="row">
      <div>
        <label>
          <nb-icon icon="info"></nb-icon> Personal Website
          <input type="url" nbInput fullWidth formControlName="personal_website">
        </label>
      </div>
      <div>
        <label>
          <nb-icon icon="github"></nb-icon> Github
          <input type="url" nbInput fullWidth formControlName="github">
        </label>
      </div>
    </div>

    <div class="row">
      <div>
        <label>
          <nb-icon icon="linkedin"></nb-icon> Linkedin
          <input type="url" nbInput fullWidth formControlName="linkedin">
        </label>
      </div>
      <div>
        <label>
          <nb-icon icon="twitter"></nb-icon> Twitter
          <input type="url" nbInput fullWidth formControlName="twitter">
        </label>
      </div>
    </div>

    <div class="submit-button">
      <button [disabled]="!userProfileForm.valid" type="submit" status="primary" nbButton fullWidth size="medium">
        Save Profile
      </button>
    </div>


  </form>
</div>
