<section class="discussion-container">
  <div class="description-container" longPress (longPress)="onLongPress(description)">
    <span class="description" [nbTooltip]="selectedChannel?.description"> {{ selectedChannel?.description }} </span>
    <div (click)="toggleMembersList()" class="com-cursor-pointer">
      <fa-icon [icon]="faUsers"></fa-icon>
    </div>
  </div>

  <div *ngIf="!discussion && isLoading" class="com-h-[100vh] com-flex com-items-center com-justify-center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="discussion && !isLoading">
    <commudle-channel-discussion
      [discussionId]="discussion.id"
      [channelOrForum]="selectedChannel"
      [shareMessageUrl]="shareMessageUrl"
      discussionParent="channels"
      discussionType="channel"
    ></commudle-channel-discussion>
  </div>

  <div class="com-absolute com-bottom-0 com-right-0 com-h-full" *ngIf="showMembersList">
    <app-channel-members
      (closeMembersList)="toggleMembersList()"
      [channelOrForum]="selectedChannel"
      discussionType="channel"
    ></app-channel-members>
  </div>
</section>

<ng-template #description let-ref="dialogRef">
  <nb-card class="channel-description-dialog">
    <nb-card-header>
      <span>Channel Description</span>
      <button ghost nbButton size="small" (click)="ref.close()">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      {{ selectedChannel?.description }}
    </nb-card-body>
  </nb-card>
</ng-template>
