<div class="base-layout com-mb-8">
  <div class="container">
    <div class="one-column-layout">
      <nb-card class="job-applications-card">
        <nb-card-header class="com-flex com-items-center com-justify-between">
          <h2>My Job Applications</h2>
          <button [routerLink]="['/jobs']" nbButton status="info" shape="semi-round">Apply to more Jobs</button>
        </nb-card-header>
        <nb-card-body>
          <ng-container *ngIf="!isLoading; else loading">
            <!-- <nb-tabset *ngIf="jobApplications.length > 0">
              <nb-tab
                *ngFor="let jobApplicationStatus of jobApplicationStatuses"
                tabTitle="{{ jobApplicationStatus | uppercase }} ({{
                  jobApplicationGroups[jobApplicationStatus]?.length || 0
                }})"
              >
                <nb-list>
                  <nb-list-item *ngFor="let jobApplication of jobApplicationGroups[jobApplicationStatus]">
                    <app-my-job-application
                      (reloadJobApplication)="getMyJobApplications()"
                      [jobApplication]="jobApplication"
                    ></app-my-job-application>
                  </nb-list-item>
                </nb-list>
              </nb-tab>
            </nb-tabset> -->
            <nb-list>
              <nb-list-item *ngFor="let jobApplication of jobApplications">
                <app-my-job-application
                  (reloadJobApplication)="getMyJobApplications()"
                  [jobApplication]="jobApplication"
                ></app-my-job-application>
              </nb-list-item>
            </nb-list>
          </ng-container>
          <ng-template #loading>
            <app-loading-spinner></app-loading-spinner>
          </ng-template>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
