<div>
  <div>
    <nb-card>
      <nb-card-body>
        <div *ngIf="community">
          <h5 class="page-header">{{ community.name }}</h5>
          <p>
            <nb-icon icon="people-outline"></nb-icon> {{ community.member_count }} Members
          </p>

        </div>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="card-row">
    <div class="card-col">
      <nb-card>
        <nb-card-header>Events</nb-card-header>
        <nb-card-body>
          <app-community-events-list></app-community-events-list>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>Forms</nb-card-header>
        <nb-card-body>
          <app-community-forms-list></app-community-forms-list>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card>
        <nb-card-header>Edit Details</nb-card-header>
        <nb-card-body>
          <app-community-edit-details
          (updateCommunity)="setCommunity($event)"></app-community-edit-details>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>
          <nb-icon icon="people"></nb-icon>
          Team
        </nb-card-header>
        <nb-card-body>
          <app-community-team [community]="community"></app-community-team>
        </nb-card-body>
      </nb-card>
    </div>

  </div>
</div>
