.blog {
  @apply com-pb-8;
  button {
    @apply com-mt-3 com-mb-5;
  }

  nb-card-body {
    .profile {
      @apply com-pb-7 com-cursor-pointer;
    }
  }
}

.content {
  ::ng-deep {
    p {
      font-size: initial;
      color: initial;
    }
    a {
      color: blue !important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: unset !important;
    }
    img {
      @apply com-max-w-full;
    }
  }
}

app-loading-spinner {
  @apply com-flex com-justify-center com-mt-28;
}

app-share-button {
  ::ng-deep {
    button {
      @apply com-rounded-lg com-text-base #{!important};
    }
  }
}
.action-buttons {
  @apply com-flex com-mt-2 md:com-mt-0;
  .rss-button {
    @apply com-ml-4;
    fa-icon {
      @apply com-text-[32px] com-text-Azure com-rounded-lg;
    }
  }
}

article {
  div {
    ::ng-deep {
      p {
        @apply com-text-black #{!important};
        strong {
          @apply com-text-black #{!important};
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      span {
        @apply com-text-gray-700 #{!important};
        strong {
          @apply com-text-gray-700 #{!important};
        }
      }
      ol {
        li {
          strong {
            @apply com-text-gray-700 #{!important};
          }
        }
      }
    }
  }
}
