nb-card {
  @apply com-pb-8;
  button {
    @apply com-mt-3 com-mb-5;
  }

  nb-card-body {
    .profile {
      @apply com-pb-7 com-cursor-pointer;
    }
  }
}

.content {
  ::ng-deep {
    p {
      font-size: initial;
      color: initial;
    }
    a {
      color: blue !important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: unset !important;
    }
    img {
      @apply com-max-w-full;
    }
  }
}

app-loading-spinner {
  ::ng-deep {
    .spinner {
      @apply com-flex com-justify-center com-mt-28;
    }
  }
}

app-share-button {
  ::ng-deep {
    button {
      @apply com-text-base #{!important};
    }
  }
}

.blog-cards {
  @apply com-grid com-gap-4 com-cursor-pointer;
  @apply sm:com-grid-cols-2;
  @apply lg:com-grid-cols-3 lg:com-gap-8;

  .blog-card {
    @apply com-flex com-flex-col com-h-full com-border com-border-gray-200 com-border-solid com-border-opacity-60 com-rounded-lg com-overflow-hidden com-relative;

    .date {
      @apply com-tracking-widest com-text-xs com-font-medium com-text-gray-400 com-my-1;
    }

    .name {
      @apply com-line-clamp-3 com-text-lg com-font-medium com-text-gray-900 com-my-1.5;
    }

    .read-more {
      @apply com-text-blue-500 com-inline-flex com-items-center com-no-underline com-mt-4;
      @apply md:com-mb-2;
      @apply lg:com-mb-0 com-gap-x-1;
    }
  }
}
