@import 'projects/commudle-admin/src/assets/styles/variables';

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.home-experts {
  border: 0;
  border-radius: $border-10;

  nb-card-header {
    font-size: $fs-h2;
    font-weight: $fw-600;
    color: $gunmetal;
    padding: $space-28 $space-16 $space-24;
    border-bottom: none;
  }

  .home-experts-list {
    padding: 0;

    nb-list {
      nb-list-item {
        padding: 0 $space-16 $space-16;
        margin-bottom: $space-8;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;

        app-skeleton-text {
          width: 100%;
        }

        .home-expert {
          margin-right: $space-8;

          .home-expert-image {
            min-height: 2rem;
            max-height: 2rem;
            min-width: 2rem;
            max-width: 2rem;
            overflow: hidden;
            border-radius: 50%;
            margin-right: $space-8;

            img {
              width: 100%;
            }
          }

          .home-expert-details {
            .home-expert-name {
              font-size: $fs-h5;
              font-weight: 600;
              color: $gunmetal;
            }

            .home-expert-designation {
              font-size: $fs-h7;
              font-style: italic;
              line-height: 12px;
              color: $taupe-gray;
            }

            .home-expert-member-count {
              font-size: $fs-h7;
              font-style: italic;
              line-height: 12px;
              color: $neon-blue;
            }
          }
        }
      }
    }

    .home-experts-all {
      padding: $space-4 $space-16 $space-16;

      a {
        font-size: $fs-h5;
        color: rgba($neon-blue, 0.95);
      }
    }
  }
}
