<div class="com-my-4">
  <button (click)="openCreateFeaturedDialog()" status="success" nbButton size="small">
    <nb-icon icon="plus"></nb-icon>
    Create
  </button>
</div>

<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<table *ngIf="!isLoading">
  <tr>
    <th class="com-w-1/3">Build Name</th>
    <th>Reasons</th>
    <th>Status</th>
    <th>Change Status</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let communityBuild of communityBuilds; let i = index">
    <td>{{ communityBuild.community_build.name }}</td>
    <td>{{ communityBuild.reason }}</td>
    <td>{{ communityBuild.active }}</td>
    <td>
      <nb-toggle
        status="primary"
        (click)="updateFeaturedCommunity(communityBuild.id, !communityBuild.active, i)"
        [(checked)]="communityBuild.active"
        labelPosition="right"
      >
      </nb-toggle>
    </td>
    <td>
      <div class="actions d-flex">
        <button (click)="openDeleteFeaturedDialog(communityBuild.id, i)" nbButton outline size="tiny" status="danger">
          Delete
        </button>
      </div>
    </td>
  </tr>
</table>
