@import './projects/commudle-admin/src/assets/styles/variables';

.user-badges {
  margin: $space-16 0;
  border: none;

  nb-card-body {
    padding: $space-32;

    .badge-list {
      gap: $space-16;

      img {
        max-width: 100px;
      }
    }
  }
}
