<div class="agencies">
  <commudle-public-page-layout [imageOnLeft]="false">
    <!-- <div class="section"> -->
    <div content class="public-page">
      <div class="public-page-content">
        <div class="content">
          <h1 class="heading">Developer Profile</h1>
          <p class="subheading">
            A developer's profile is much more than just their professional work history, it includes blogs, tutorials,
            videos, projects, certificates, sessions at events, communities, your network and more. Your Commudle
            profile is your developer profile!
          </p>
        </div>
        <div>
          <button nbButton status="basic">Build Your Profile</button>
        </div>
      </div>
      <div image class="image">
        <h1>Image</h1>
        <!-- <img src="" alt="" /> -->
      </div>
    </div>
    <!-- </div> -->
  </commudle-public-page-layout>

  <commudle-testimonial-card></commudle-testimonial-card>
</div>
