@import '/projects/commudle-admin/src/assets/styles/variables.scss';

nb-card {
  margin: 0;
  nb-card-body {
    padding: 0;
  }
}
.events {
  background-color: white;
  padding: 124px 0;
  margin: auto;
  border-radius: $border-10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  a {
    text-decoration: none;
  }
  nb-card {
    border: 1px solid #C4C4C4;
    margin: 0;
    overflow: hidden;
  }
  .event {
    width: 768px;
    &:hover {
      box-shadow: 0px 2px 5px 1px lightgrey;
    }
    margin-bottom: $space-32;
    nb-card-body {
      padding: 0;
      padding-right: $space-24;
      display: flex;
      flex-wrap: nowrap;


      .header-image {
        width: 220px;
        min-width: 220px;
        height: 128px;
        margin-right: $space-24;

        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: left;
          align-self: center;
        }

        nb-icon {
          font-size: 2rem;
        }

        // @media screen and (max-width: $mobile-width) {
        //   .header-image {
        //     width: 100px;
        //   }

        // }
      }

      .details {

        h5 {
          color: $gunmetal;
          margin: $space-24 0 $space-8 0;
          display: flex;
          align-items: flex-start;
          line-height: 21px;
          font-size: $fs-18;
          font-weight: $fw-600;
          nb-icon {
            min-width: 1em;
          }
        }

        .timings {
          p {
            margin: 0;
            color: $gunmetal;
            font-size: $fs-14;
            line-height: 16px;
          }

        }

        .past-timings {
          p {
            margin: 0;
            color: $gunmetal;
            font-size: $fs-14;
            line-height: 16px;
            nb-icon {
              font-size: $fs-14;
              line-height: 16px;
            }
          }
        }
        .event-name {
          .collaboration {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .event.upcoming {
    margin: 0 0 1rem;

    nb-card-body {
      padding: $space-16 $space-24;
      flex-direction: column;
      align-items: center;

      .header-image {
        width: 500px;
        max-width: 90vw;
        height: auto !important;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        img {
          width: 100%;
        }

        nb-icon {
          font-size: 3rem;
        }
      }

      .details {
        h5 {
          margin: 0 0 0.5rem;
          font-weight: 400;
          font-size: 2.5rem;
          line-height: 2.5rem !important;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        .timings {
          text-align: center;
          p {
            color: grey;
            font-size: 1.2rem;
            nb-icon {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

  }
  @media all and (max-width: $mobile-width) {
    padding: $space-40 $space-20 $space-20 $space-20;
    .event {
      width: unset;
      nb-card-body {
        flex-direction: column;
        .details {
          padding: $space-10;
        }
        .header-image {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}
