<div *ngIf="events.length > 0" class="events">
  <div *ngFor="let event of events">
    <a [routerLink]="['/communities', event.kommunity_slug, 'events', event.slug]" class="clickable">
      <nb-card [ngClass]="{'upcoming' : moment(event.end_time) > moment() && event.header_image_path}" class="event">
        <nb-card-body>
          <div class="header-image">
            <span>
              <app-badge *ngIf="moment(event.start_time) > moment()" [color]="'#50d338'" [text]="'New'"></app-badge>
              <app-badge *ngIf="moment(event.start_time) <= moment() && moment(event.end_time) >= moment()"
                         [color]="'rgb(255 45 45)'" [text]="'Live'"></app-badge>
            </span>
            <img *ngIf="event.header_image_path" alt="{{ event.name }}" src="{{ event.header_image_path }}"
                 title="{{ event.name }}">
            <nb-icon *ngIf="!event.header_image_path" icon="link" status="primary"></nb-icon>
          </div>
          <div class="details">
            <h5>
              <nb-icon *ngIf="moment(event.end_time) < moment()" icon="checkmark-circle-2" nbTooltip="Completed"
                       status="success"></nb-icon>
              <span class="event-name">{{ event.name }}</span>
              <span *ngIf="event.kommunity_id != community.id" class="collaboration">(Collaboration)</span>
            </h5>
            <div>
              <div *ngIf="event.start_time && event.end_time"
                   [ngClass]="{'timings' : moment(event.end_time) > moment(), 'past-timings': moment(event.end_time) <= moment()}">
                <p>
                  <nb-icon icon="clock-outline"></nb-icon>
                  <span>{{ moment(event.start_time).format('dddd Do MMM, YYYY h:mm A') }}</span>
                  to
                  <span *ngIf="event.end_time.getDate != event.start_time.getDate">
                    {{ moment(event.end_time).format('dddd Do MMM, YYYY h:mm A') }}
                  </span>
                  <span *ngIf="event.end_time.getDate === event.start_time.getDate">
                    {{ moment(event.end_time).format('h:mm A') }}
                  </span>
                  <span *ngIf="event.timezone">
                    <nb-icon icon="globe"></nb-icon>
                    {{ momentTimezone.tz(event.timezone).format('z') }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </a>
  </div>
</div>
