<div>
  <div class="base-layout">
    <div class="container">
      <div class="cta-card">
        <div class="left-col">
          <div class="heading-subheading">
            <p class="heading">Scale Developer Programs</p>
            <p class="sub-heading">
              A tech company is successful when developers are using its products. Developer programs are essential for
              finding a global reach.
            </p>
          </div>
          <button nbButton size="medium" status="info">Apply Now</button>
        </div>
        <div class="right-col">
          <ul>
            <li><fa-icon [icon]="faCheck"></fa-icon>Community features including events, channels & emails</li>
            <li><fa-icon [icon]="faCheck"></fa-icon>Focus on developer specific engagements engagement</li>
            <li><fa-icon [icon]="faCheck"></fa-icon>Deep insights as everything is linked to profiles</li>
            <li><fa-icon [icon]="faCheck"></fa-icon>10x your DevRel team's efficiency, 100x your engagements</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
