@import './apps/commudle-admin/src/assets/styles/variables';

.email-stats {
  > div {
    border: 1px solid $lightgrey;
    border-collapse: collapse;
    padding: $space-4;
    text-align: center;
  }
}
