<nb-card *ngIf="eventUpdates.length > 0">
  <nb-card-header>
    <h6>
      <nb-icon icon="star-outline" status="warning"></nb-icon>
      Updates
    </h6>
  </nb-card-header>
  <nb-card-body>
    <div *ngFor="let eu of eventUpdates" class="event-update">
      <div class="details">
        <nb-icon icon="star" status="warning"></nb-icon>
        <span [innerHTML]="eu.details | linky : { sanitizeHtml: true }"></span>
        <div class="image-section" *ngIf="eu.images">
          <div *ngFor="let img of eu.images" class="images">
            <img [src]="img.i128" alt="" />
          </div>
        </div>
      </div>
      <p class="time">{{ moment(eu.created_at).format('h:mm A dddd,  Do MMM, YYYY') }}</p>
      <div class="votes">
        <app-votes-display
          [icon]="'heart-outline'"
          [votableId]="eu.id"
          votableType="EventUpdate"
          [textAlignment]="'after'"
        ></app-votes-display>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer *ngIf="page_info.has_next_page" (click)="getEventUpdates()" class="com-cursor-pointer">
    <div>
      View More
      <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
    </div>
  </nb-card-footer>
</nb-card>
