<!--<nb-card [routerLink]="['/labs']" class="home-promotions clickable">-->
<!--  <nb-card-body>-->
<!--    <div class="home-promotion-image">-->
<!--      <img alt="Promotion"-->
<!--           src="https://json.commudle.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbGdVIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19&#45;&#45;8dc6032e074504e0ad0e73ce9cd885112c2d5302/empoweringauthor.jpeg"-->
<!--           title="Promotion">-->
<!--    </div>-->
<!--  </nb-card-body>-->
<!--</nb-card>-->
<app-page-ads [adHeight]="264" [adWidth]="264" [showContent]="false" [showTitle]="false" slot="slot_1"></app-page-ads>
