.home-promotions-container {
  height: 304px;

  app-pa-slots {
    &::ng-deep {
      .page-ads-container {
        height: 264px;
        width: 264px;
        @apply com-mx-auto;

        @screen lg {
          @apply com-w-auto com-h-auto;
          @apply com-mx-2;
          min-height: 240px;
        }

        @screen xl {
          min-height: 304px;
        }
      }
    }
  }
}
