@import 'projects/commudle-admin/src/assets/styles/variables';

.home-promotions {
  border: none;
  overflow: hidden;

  nb-card-body {
    padding: 0;

    .home-promotion-image {
      line-height: 0;

      img {
        width: 100%;
      }
    }
  }
}
