//@import './projects/commudle-admin/src/assets/styles/variables';;
//
//.home-promotions {
//  border: none;
//  overflow: hidden;
//
//  nb-card-body {
//    padding: 0;
//
//    .home-promotion-image {
//      line-height: 0;
//
//      img {
//        width: 100%;
//      }
//    }
//  }
//}

app-pa-slots {
  &::ng-deep {
    .page-ads-container {
      height: 264px;
      width: 264px;
      @apply com-mx-auto;

      @screen lg {
        @apply com-w-auto com-h-auto;
        @apply com-mx-2;
        min-height: 240px;
      }

      @screen xl {
        min-height: 304px;
      }
    }
  }
}
