.send-message-form {
  position: relative;
  form {
    display: flex;
    align-items: self-start;
    nb-form-field {
      width: 100%;
      position: relative;

      textarea {
        font-weight: 400;
        resize: none;
        padding-left: 3.5rem;
      }

      .nbPrefix {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        margin-top: -5px;
        .emoji-button {
          padding: 0.1rem;
        }

        emoji-mart {
          position: absolute;
          bottom: 50px;
          left: 25px;

          &.edit {
            bottom: 0;
            top: 50px;
            left: 0;
          }
        }
      }
    }

    > button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      max-width: 40px;
      margin-left: 5px;
    }
  }

  .attachments {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: -115px;
    left: 10px;

    &.bottom {
      bottom: -115px;
      top: unset;
    }

    width: 80%;
    padding: 10px;
    overflow-x: auto;
    .file {
      width: 80px;
      height: 100px;
      margin: 0 5px;
      border: 2px solid #bcd4ff;
      border-radius: 5px;
      position: relative;
      background: white;
      .remove {
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        background: white;
      }

      .file-preview {
        display: flex;
        flex-direction: column;
        height: 100%;
        .name {
          margin: 0;
          height: 80%;
          text-align: center;
          display: flex;
          align-items: center;
        }
        .extension {
          margin: 0;
          text-align: center;
          border-top: 1px dotted lightgrey;
          font-weight: bolder;
          color: lightgrey;
        }
      }

      .image-file-preview {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        height: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

.tagging-info {
  line-height: 10px;
  font-weight: 400;
  font-size: 13px;
  margin-left: 10px;
}

// .mention-list-template {
//   display: flex;
//   >div {
//     overflow: hidden;
//     width: 25px;
//     height: 25px;
//     border-radius: 50%;
//     margin-right: 5px;
//     img {
//       width: 100%;

//     }
//   }

//   p.name {
//     margin: 0;

//     text-decoration: none !important;
//   }
// }
