<div class="send-message-form">
  <div *ngIf="existingAttachmentFiles.length > 0" class="attachments {{attachmentDisplay}}">
    <ng-container *ngFor="let attachment of existingAttachmentFiles; let i = index">
      <div *ngIf="!attachment['delete']" class="file">
        <div (click)="removeExistingFile(i)" class="remove clickable">
          <nb-icon icon="close-circle" status="danger"></nb-icon>
        </div>
        <div *ngIf="!attachment.type.includes('image')" class="file-preview">
          <p class="name">
            <small> {{attachment.name | truncatetext:10}} </small>
          </p>
          <p class="extension">
            <small> {{attachment.name.split('.').reverse()[0]}} </small>
          </p>
        </div>
        <div *ngIf="attachment.type.includes('image')" class="image-file-preview">
          <img alt="{{attachment.name}}" src="{{attachment.url}}" title="{{attachment.name}}" />
        </div>
      </div>
    </ng-container>
  </div>

  <div *ngIf="uploadedFiles.length > 0" class="attachments {{attachmentDisplay}}">
    <div *ngFor="let file of uploadedAttachmentFiles; let i=index;" class="file">
      <div (click)="removeFile(i)" class="remove clickable">
        <nb-icon icon="close-circle" status="danger"></nb-icon>
      </div>
      <div *ngIf="!file.file.type.includes('image')" class="file-preview">
        <p class="name">
          <small> {{file.file.name | truncatetext:10}} </small>
        </p>
        <p class="extension">
          <small> {{file.file.name.split('.').reverse()[0]}} </small>
        </p>
      </div>
      <div *ngIf="file.file.type.includes('image')" class="image-file-preview">
        <img alt="{{file.file.name}}" src="{{uploadedFiles[i]}}" title="{{file.file.name}}" />
      </div>
    </div>
  </div>

  <form (keydown.enter)="emitMessage()" (ngSubmit)="emitMessage()" [formGroup]="sendUserMessageForm">
    <nb-form-field>
      <div class="nbPrefix" nbPrefix>
        <label class="clickable">
          <nb-icon icon="attach"></nb-icon>
          <input #fileInput (change)="addFiles($event)" class="hidden" fullWidth multiple nbInput type="file" />
        </label>
        <a (click)="toggleEmojiForm()" class="emoji-button" ghost nbButton> 😃 </a>
        <emoji-mart
          (emojiSelect)="selectEmoji($event)"
          *ngIf="showEmojiForm"
          [ngClass]="{'edit': editableMessage}"
          class="emoji-mart"
          set="twitter"
          title="Select an emoji!"
        ></emoji-mart>
      </div>
      <textarea
        #inputElement
        (blur)="hideText()"
        (click)="selectInput()"
        (focus)="showText()"
        appMention
        formControlName="content"
        fullWidth
        nbInput
        placeholder="Type here..."
        rows="{{rows || 1}}"
      ></textarea>
    </nb-form-field>
    <button [disabled]="!sendUserMessageForm.valid || disabled" fullWidth nbButton outline status="info" type="submit">
      <nb-icon icon="corner-down-left-outline"></nb-icon>
    </button>
  </form>
  <div *ngIf="this.showHelperText" class="tagging-info">
    <span>@ users, ! others</span>
  </div>
</div>

<!--<ng-template #mentionListTemplate let-item="item">-->
<!--  <div class="mention-list-template">-->
<!--    <div class="avatar">-->
<!--      <img alt="{{item.name}}" src="{{item.avatar}}" title="{{item.name}}" />-->
<!--    </div>-->
<!--    <p class="name">-->
<!--      {{item.name}}-->
<!--      <br />-->
<!--      <small>@{{item.username}}</small>-->
<!--    </p>-->
<!--  </div>-->
<!--</ng-template>-->
