:host {
  .clone-form-button {
    margin-top: 1rem;
  }

  div.data-form-container {
    max-width: 920px;
    margin: 0 auto;

    .validation-error-text {
      @apply com-text-sm com-my-2 com-flex com-items-center;
      color: red; /* red */
    }

    input {
      @apply com-mt-1;
      background-color: white;
    }

    textarea {
      @apply com-mt-1;
      background-color: white;
    }

    label {
      @apply com-text-base com-font-medium;
    }
    .data-form-question-choices-container {
      margin-bottom: 0;
    }

    .add-question-button {
      @apply com-m-2;
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    .custom-placeholder {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      @apply com-min-h-[120px] com-border-0 com-rounded-xl com-bg-slate-200 com-min-w-full;
    }

    .question-container {
      @apply com-flex com-flex-col com-font-semibold com-text-xl com-mb-4 com-justify-start;

      button {
        @apply com-flex com-justify-start;
      }

      textarea {
        margin-bottom: 1rem;
      }

      label {
        @apply com-text-xl com-font-semibold;
      }

      .question-settings {
        // margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        nb-select {
          background-color: white;
        }

        label,
        nb-checkbox {
          margin-right: 1.5rem;
        }
      }

      .choices-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 1rem 1rem 1rem 0;

        .choice-icon-container {
          @apply com-flex com-flex-row;

          button {
            background-color: white;
            border: none;

            nb-icon {
              @apply com-text-base;
            }
          }
        }
      }
    }
  }

  .questions-form-section {
    .drag-button {
      @apply com-p-0 com-flex com-justify-center;

      button {
        @apply com-cursor-move;
      }
    }
    .question-form-footer {
      @apply sm:com-flex-col;
      @apply com-flex md:com-flex-row com-text-primary-500 com-align-middle com-gap-3;

      toggles {
        @apply sm:com-flex-col md:com-flex-row;
        nb-toggle {
          @apply com-mr-0 md:com-mb-2;
          @apply com-text-primary-500;
        }
      }

      @media (min-width: 992px) {
        nb-layout-column {
          display: none;
        }
      }

      @media (max-width: 767px) {
        .toggles {
          display: block;
        }

        .footer-icons-desktop {
          display: none;
        }

        nb-layout-column {
          display: block;
        }
      }
    }
  }
}
