:host {
  .clone-form-button {
    margin-top: 1rem;
  }

  div.data-form-container {
    max-width: 920px;
    margin: 0 auto;

    .validation-error-text {
      @apply com-text-sm com-my-2 com-flex com-items-center;
      color: red; /* red */
    }

    input {
      @apply com-mt-1 com-mb-0;
      background-color: white;
    }

    textarea {
      @apply com-mt-1;
      background-color: white;
    }

    label {
      @apply com-text-base com-font-medium;
    }
    .data-form-question-choices-container {
      margin-bottom: 0;
    }

    .add-question-button {
      @apply com-m-2;
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    .custom-placeholder {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      @apply com-min-h-[120px] com-border-0 com-rounded-xl com-bg-slate-200 com-min-w-full;
    }

    .question-container {
      @apply com-flex com-flex-col com-font-semibold com-text-xl com-mb-4 com-justify-start;

      button {
        @apply com-flex com-justify-start;
      }

      textarea {
        @apply com-mb-4;
      }

      label {
        @apply com-text-xl com-font-semibold;
      }

      .add-description {
        @apply com-mt-3;
        width: max-content;
      }

      .question-settings {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        nb-select {
          background-color: white;
        }

        label,
        nb-checkbox {
          margin-right: 1.5rem;
        }
      }

      .choices-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 1rem 1rem 1rem 0;

        .choice-icon-container {
          @apply com-flex com-flex-row;

          button {
            background-color: white;
            border: none;

            nb-icon {
              @apply com-text-base;
            }
          }
        }
      }
    }
  }

  .questions-form-section {
    .drag-button {
      @apply com-p-0 com-flex com-justify-center;

      button {
        @apply com-cursor-move;
      }
    }

    .question-form-footer {
      @apply com-flex md:com-flex-row com-text-primary-500  com-gap-3 com-mt-12 com-justify-between;

      .add-question-footer {
        @apply com-text-sm com-font-medium;

        nb-icon {
          @apply com-h-5 com-w-5;
        }
      }

      .toggles {
        @apply md:com-border-l com-border-Bright-Gray com-border-0 com-border-solid com-border-y-0;
        .toggle {
          @apply com-text-sm com-font-medium com-border-0;
          @apply com-mr-0 md:com-mb-2;

          span {
            @apply com-text-primary-500;
          }
        }
      }

      .delete-question-footer {
        @apply com-text-sm com-font-medium;

        nb-icon {
          @apply com-h-5 com-w-5;
        }
      }

      nb-layout-column {
        div {
          @apply com-flex com-justify-end;
          height: 100%;
          align-items: flex-end;
        }
      }

      @media (min-width: 992px) {
        nb-layout-column {
          display: none;
        }
      }

      @media (max-width: 767px) {
        .toggles {
          display: block;
        }

        nb-layout-column {
          display: block;
        }

        .footer-icons {
          display: none;
        }
      }
    }

    .add-question-button {
      @apply com-bg-Brandeis-Blue com-border-solid com-border-primary-500 com-border com-rounded com-text-white;
    }
  }
}
