<div class="data-form-container page-padding">
  <nb-card>
    <nb-card-header>
      <h3>Edit Form</h3>

      <div *ngIf="dataForm && dataForm.parent_type === 'Kommunity'">
        <button
          class="clone-form-button"
          nbButton
          outline
          status="info"
          size="medium"
          (click)="cloneCommunityDataForm()"
        >
          Clone this form
        </button>
      </div>
    </nb-card-header>
  </nb-card>
  <form class="edit-data-form" [formGroup]="editDataForm">
    <div formGroupName="data_form">
      <nb-card>
        <nb-card-body>
          <div role="group">
            <div>
              <label fullWidth>
                Name*
                <input type="text" nbInput fullWidth formControlName="name" class="com-mb-6" />
              </label>
            </div>
          </div>

          <div role="group">
            <div>
              <label fullWidth>
                Description
                <textarea
                  formControlName="description"
                  nbInput
                  fullWidth
                  formControlName="description"
                  placeholder="Description (optional)"
                ></textarea>
              </label>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <div (cdkDropListDropped)="drop($event)" cdkDropList>
        <div
          *ngFor="let question of editDataForm['controls'].data_form['controls'].questions['controls']; let i = index"
          cdkDrag
        >
          <div class="custom-placeholder" *cdkDragPlaceholder></div>
          <div formArrayName="questions" class="custom-preview" *cdkDragPreview>
            <nb-card [formGroupName]="i" class="questions-form-section com-w-80 md:com-w-500px">
              <nb-card-header class="com-p-0 com-flex com-justify-center">
                <button nbButton ghost size="small">
                  <nb-icon icon="move-outline"></nb-icon>
                </button>
              </nb-card-header>
              <nb-card-body>
                <div>
                  <label>
                    Question {{ i + 1 }} *
                    <input type="text" nbInput fullWidth formControlName="title" placeholder="Title*" required />
                  </label>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
          <div formArrayName="questions">
            <nb-card [formGroupName]="i" class="questions-form-section">
              <nb-card-header cdkDragHandle class="drag-button">
                <button nbButton ghost size="small">
                  <nb-icon icon="move-outline"></nb-icon>
                </button>
              </nb-card-header>
              <nb-card-body class="com-overflow-hidden">
                <div class="question-container">
                  <div>
                    <label>
                      Question {{ i + 1 }} *
                      <input type="text" nbInput fullWidth formControlName="title" placeholder="Title*" required />
                    </label>
                    <span
                      *ngIf="
                        question.get('title').touched &&
                        question.get('title').invalid &&
                        question.get('title').errors.required
                      "
                    >
                      <commudle-alert [validation_error]="true"></commudle-alert>
                    </span>
                  </div>

                  <button
                    nbButton
                    size="small"
                    ghost
                    (click)="toggleDescriptionField()"
                    status="primary"
                    class="com-mt-3"
                  >
                    <nb-icon icon="plus-outline"></nb-icon>
                    &nbsp;Add Description
                  </button>

                  <div *ngIf="showQuestionDescriptionField">
                    <textarea
                      nbInput
                      fullWidth
                      formControlName="description"
                      placeholder="Description (optional)"
                    ></textarea>
                  </div>

                  <div class="question-settings">
                    <nb-select
                      (selectedChange)="questionTypeChange($event, i)"
                      placeholder="Question Type*"
                      formControlName="question_type_id"
                      required
                      size="medium"
                      hero
                    >
                      <nb-option *ngFor="let qt of questionTypes" [value]="qt.id">
                        {{ qt.name }}
                        <!-- capitalizeAndRemoveUnderscore -->
                      </nb-option>
                    </nb-select>
                  </div>

                  <div *ngIf="[4, 5].includes(question.get('question_type_id').value)">
                    <div
                      class="choices-container"
                      formArrayName="question_choices"
                      *ngFor="let choice of question['controls'].question_choices['controls']; let chi = index"
                    >
                      <div>
                        <div class="choice-icon-container">
                          <div [formGroupName]="chi">
                            <input type="text" nbInput formControlName="title" placeholder="Enter Text*" required />
                            <span
                              *ngIf="
                                choice.get('title').touched &&
                                choice.get('title').invalid &&
                                choice.get('title').errors.required
                              "
                              class="validation-error-text"
                            >
                              <nb-icon icon="info" class="info"></nb-icon>
                              Required Field
                            </span>
                          </div>
                          <button
                            *ngIf="choice.get('has_responses').value == false"
                            nbButton
                            status="basic"
                            size="small"
                            (click)="removeQuestionChoiceButtonClick(i, chi)"
                          >
                            <nb-icon icon="close-circle-outline"></nb-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                    <button
                      nbButton
                      size="tiny"
                      (click)="addQuestionChoiceButtonClick(i)"
                      status="warning"
                      hero
                      class="com-m-0"
                    >
                      <fa-icon [icon]="faPlus"></fa-icon>
                      &nbsp; Add Choice
                    </button>
                  </div>
                </div>

                <div class="question-form-footer">
                  <div class="com-align-middle com-flex">
                    <button
                      nbButton
                      size="small"
                      ghost
                      (click)="addQuestionButtonClick(i + 1)"
                      status="primary"
                      class="footer-icons-desktop add-question-footer"
                    >
                      <nb-icon class="footer-icons-desktop" icon="plus-circle-outline" status="primary"></nb-icon>
                      &nbsp; Add Question Below
                    </button>
                    <div class="toggles">
                      <nb-toggle size="small" labelPosition="right" [formControl]="" class="com-mr-4 toggle"
                        >Required</nb-toggle
                      >
                      <nb-toggle size="small" labelPosition="right" [formControl]="" class="toggle"
                        >Disable this question
                        <p class="com-m-0">
                          <small>(This question won't appear anymore)</small>
                        </p>
                      </nb-toggle>
                    </div>
                  </div>
                  <button
                    nbButton
                    size="small"
                    ghost
                    (click)="removeQuestionButtonClick(i)"
                    status="danger"
                    class="footer-icons-desktop delete-question-footer"
                  >
                    <nb-icon icon="trash-outline" status="danger"></nb-icon>
                    Delete
                  </button>
                  <button
                    labelPosition="end"
                    nbButton
                    [nbContextMenu]="items"
                    nbContextMenuTrigger="click"
                    class="context-menu"
                  >
                    <nb-icon icon="more-vertical-outline"></nb-icon>
                  </button>
                  <!-- (click)="openForHiring()" [(checked)]="required"  -->
                  <!-- <nb-checkbox formControlName="disabled" status="primary"
                    >Disabled <small>(If you don't want this question to appear anymore)</small></nb-checkbox
                  >
                  <nb-checkbox formControlName="required" status="primary">Required</nb-checkbox> -->
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>

        <div class="add-question-button">
          <button
            nbButton
            size="medium"
            (click)="
              addQuestionButtonClick(editDataForm['controls'].data_form['controls'].questions['controls'].length + 1)
            "
            status="primary"
          >
            <fa-icon [icon]="faPlus"></fa-icon>
            &nbsp; Add Question
          </button>
        </div>
      </div>

      <div>
        <button
          [disabled]="!editDataForm.valid"
          type="submit"
          status="primary"
          nbButton
          fullWidth
          size="medium"
          (click)="updateDataForm()"
        >
          {{ submitButtonText() }}
        </button>
      </div>
    </div>
  </form>
</div>
