.event-stats {
  .page-header {
    h3 {
      font-weight: 300;
      margin-bottom: 0;
      nb-icon {
        font-size: 2rem;
      }
      small {
        font-size: 1rem;
      }
    }

  }

  nb-card.stat-card.visitors {
    nb-card-header {
      h3 {
        font-weight: 300;
        margin: 0;
        small {
          font-size: 1rem;
        }
      }
    }
    nb-card-body {
      height: 300px;
     .chart-container {
      position: relative;
      width: 100%;
      height: 300px;
     }

     .notification p {
       margin: 0;
     }

    }
  }

  nb-card.stat-card.registration {
    nb-card-header {
      h3 {
        font-weight: 300;
        margin: 0;
        small {
          font-size: 1rem;
        }
      }
    }
    nb-card-body.simple-registration {
      .number-group {
        display: flex;
        background: #e5f6ef;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        .total {
          padding-right: 1rem;
          margin: 0;
        }

        .gender {
          margin: 0 1rem 0 0;
          width: 75px;
          .label {
            display: inline-block;
            margin-right: 10px;
          }
        }
      }

    }

    nb-card-body.custom-registration {
      .form-group {
        margin-bottom: 2rem;
        h5.form-name {
          margin: 0;
          font-weight: 300;
        }
        .number-group {
          display: flex;
          background: #e5f6ef;
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          .total {
            padding-right: 1rem;
            margin: 0;
          }

          .gender {
            margin: 0 1rem 0 0;
            width: 75px;
            .label {
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
      }

    }
  }

  nb-card.stat-card.attendees {
    nb-card-header {
      h3 {
        font-weight: 300;
        margin: 0;
      }
    }

    nb-card-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .chart-container {
        text-align: center;
        position: relative;
        width: 330px;
        padding: 1rem 0;
        p {
          font-size: 1.2rem;
          margin: 0;
        }
      }

      .numbers {
        text-align: center;
        span {
          font-size: 1.3rem;
        }
      }
    }
  }

  nb-card.stat-card.discussions {
    nb-card-header {
      h3 {
        font-weight: 300;
        margin: 0;
        nb-icon {
          font-size: 2rem;
        }
      }
    }

    nb-card-body {
      nb-list {
        nb-list-item {
          p {
            margin: 0;
            word-break: break-all;
            padding: 0 5px;
          }
          .type {
            width: 20%;
          }

          .parent {
            width: 50%;
          }

          .messages {
            width: 10%;
          }
        }
      }
    }
  }

  nb-card.stat-card.polls {
    nb-card-header {
      h3 {
        font-weight: 300;
        margin: 0;
        nb-icon {
          font-size: 2rem;
        }
      }
    }

    nb-card-body {
      nb-list {
        nb-list-item {
          display: flex;
          flex-wrap: wrap;

          p {
            margin: 0;
            padding: 0 5px;
            word-break: break-all;
          }
          .question {
            width: 30%;
          }

          .pollable {
            width: 30%;
          }

          .responses {
            width: 10%;
          }

          .results {
            width: 10%;
          }
        }
      }
    }
  }
}
