div {
  border-radius: 5px;
  width: fit-content;
  display: inline-block;
  overflow: hidden;
  p {
    color: white;
    margin: 0;
    padding: 2px 4px;

    nb-icon {
      font-size: 1rem;
    }

    &.small-text {
      font-size: 10px;
      padding: 0 2px;
      line-height: 18px;

      nb-icon {
        font-size: 10px;
      }
    }
  }

  &.dotmode {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    p {
      display: none;
    }
  }
}

:host.top.right {
  position: absolute;
  top: 0;
  right: 0;
}

:host.top.left {
  position: absolute;
  top: 0;
  left: 0;
}

:host.right.center {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

:host.left.center {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
