div {
  border-radius: 5px;
  width: fit-content;
  display: inline-block;
  overflow: hidden;
  p {
    color: white;
    margin: 0;
    padding: 2px 4px;

    nb-icon {
      font-size: 1rem;
    }

    &.small-text {
      font-size: 10px;
      padding: 0 2px;
      line-height: 18px;

      nb-icon {
        font-size: 10px;
      }
    }
  }
}
