@import './apps/commudle-admin/src/assets/styles/variables';

.admin-page-ads-form {
  nb-card-body {
    .form-fields {
      label,
      nb-toggle,
      button {
        margin: $space-8 0;
      }

      .files-list {
        margin: $space-8 0 $space-16;

        nb-list-item {
          padding: $space-8 0;

          p {
            margin: 0;
          }
        }
      }
    }
  }
}
