<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <nb-card>
        <nb-card-body>
          <h4>My Builds</h4>
          <p>Here's a list of builds you've shared with the world!</p>
        </nb-card-body>
      </nb-card>

      <div class="add-new-build">
        <button *ngIf="incompleteProfile" nbButton status="primary" size="medium" [routerLink]="['/my-profile/edit']">
          <nb-icon icon="person"></nb-icon>
          Complete Profile
        </button>
        &nbsp;
        <button nbButton status="primary" size="medium" [routerLink]="['/builds/create']">
          <nb-icon icon="plus"></nb-icon>
          New Build!
        </button>
        &nbsp;
        <button nbButton status="warning" size="medium" [routerLink]="['/builds']">
          <nb-icon icon="arrowhead-right-outline"></nb-icon>
          More Builds
        </button>
      </div>

      <div class="community-builds">
        <nb-card [nbSpinner]="isLoading">
          <nb-card-body>
            <div class="community-build" *ngFor="let cb of cBuilds; let i = index">
              <app-build-list-item [cb]="cb" (deleteBuild)="destroyBuild($event)"></app-build-list-item>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="add-new-build" *ngIf="cBuilds.length > 5">
        <button nbButton status="primary" size="medium" [routerLink]="['/builds/create']">
          <nb-icon icon="plus"></nb-icon>
          New Build!
        </button>
      </div>
    </div>
  </div>
</div>
