<div>

  <nb-card>
    <nb-card-body>
      <h4>My Builds</h4>
      <p>Here's a list of builds you've shared with the community!</p>
    </nb-card-body>
  </nb-card>

  <div class="add-new-build">
    <button nbButton status="primary" size='medium' [routerLink]="['/my-profile/edit']">
      <nb-icon icon="person"></nb-icon>
      Complete Profile
    </button>
    &nbsp;
    <button nbButton status="primary" size='medium' [routerLink]="['/builds/create']">
      <nb-icon icon="plus"></nb-icon>
      New Build!
    </button>
    &nbsp;
    <button nbButton status="warning" size='medium' [routerLink]="['/builds']">
      <nb-icon icon="bulb"></nb-icon>
      See What Others Are Building
    </button>
  </div>

  <div class="community-builds">
    <nb-card>
      <nb-card-body>
        <div class="community-build" *ngFor="let cb of cBuilds; let i = index">
          <div class="content">
            <h5>
              {{ cb.name }}
              <a target="_blank" class="external-link" [routerLink]="['/builds', cb.slug]">
                <small *ngIf="[EPublishStatus.draft, EPublishStatus.submitted].includes(cb.publish_status)">Preview</small>
                <nb-icon icon="external-link"></nb-icon>
              </a>
            </h5>
            <p>
              <small>
                {{ moment(cb.created_at).fromNow() }}
              </small>
            </p>
          </div>
          <div class="status">
            <p>
              <app-badge
              [text]="cb.publish_status | titlecase"
              [color]="EPublishStatusColors[cb.publish_status]">
            </app-badge>
            </p>
          </div>
          <div class="build-type">
            <p>
              {{ cb.build_type | titlecase }}
            </p>
          </div>
          <div class="stats">
            <div>
              <app-votes-display
                [votableType]="'CommunityBuild'"
                [votableId]="cb.id"
                [icon]="'star'"
              ></app-votes-display>
            </div>
            <div class="tags">
              <app-badge *ngFor="let t of cb.tags" [text]="t"></app-badge>
            </div>
          </div>
          <div class="actions">
            <div>
              <button nbButton status="info" outline fullWidth size="tiny" [routerLink]="['/builds', cb.slug, 'edit']">
                <nb-icon icon="edit"></nb-icon>
                Edit
              </button>
            </div>
            <div>
              <button nbButton status="danger" outline fullWidth size="tiny" (click)="destroyBuild(i)">
                <nb-icon icon="close-circle"></nb-icon>
                Delete
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="add-new-build" *ngIf="cBuilds.length > 5">
    <button nbButton status="primary" size='medium' [routerLink]="['/builds/create']">
      <nb-icon icon="plus"></nb-icon>
      New Build!
    </button>
  </div>

  <ng-template #imageTemplate let-data>
    <div class="image-window">
      <img src="{{data.imageUrl}}">
    </div>
  </ng-template>
</div>
