.community-build {
  p.name {
    margin: 0 0 1rem;
    font-size: 25px;
    small {
      font-size: 0.7rem;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    .stats {
      display: flex;
      width: 50%;
      .stars {
        margin-right: 10px;
      }
    }
  }
}
