<div class="clickable community-build" [routerLink]="['/builds', communityBuild.slug]">
  <nb-card>
    <nb-card-body>
      <div class="details">
        <div class="build-type">
          <app-badge
            [text]="communityBuild.build_type | titlecase"
            [color]="CBuildTypeDisplay[communityBuild.build_type].color"
            [nbIcon]="CBuildTypeDisplay[communityBuild.build_type].icon"
            [fontSize]="'small'">
          </app-badge>
        </div>
        <p class="name">
          {{ communityBuild.name | slice:0:20 }} <span *ngIf="communityBuild.name.length > 18">...</span>
          <br>
          <small>{{ moment(communityBuild.created_at).fromNow() }}</small>
        </p>
        <div class="author">
          <app-user-profile-horizontal [user]="communityBuild.user" [socialMediaLinks]="false" [size]="'small'"></app-user-profile-horizontal>
        </div>
      </div>

      <div class="links">
        <div class="stats">
          <p class="stars">
            <app-votes-display
              [votableType]="'CommunityBuild'"
              [votableId]="communityBuild.id"
              [icon]="'star'"
              >
            </app-votes-display>
          </p>
          <p class="comments" *ngIf="communityBuild.chat_messages_count > 0">
            <span>
              {{ communityBuild.chat_messages_count }}
            </span>
            <nb-icon icon="message-circle-outline"></nb-icon>
          </p>
        </div>
        <div>
          <p class="text-info show-details">
            <nb-icon icon="link" status="info"></nb-icon> Show Details
          </p>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
