<div *ngIf="currentUser?.id !== userId" class="user-follow">
  <button
    (click)="isFollowing ? toggleFollow() : onFollowClick()"
    [appearance]="appearance ?? (isFollowing ? 'outline' : 'filled')"
    [ngClass]="{ 'fixed-width': !showIcon, 'width-full': isMobileWidthFull }"
    [status]="status === 'basic' ? 'basic' : 'info'"
    class="follow-btn"
    nbButton
    shape="semi-round"
    size="small"
    [disabled]="disabled"
  >
    <nb-icon *ngIf="showIcon" [icon]="isFollowing ? 'checkmark' : 'plus'"></nb-icon>
    {{ isFollowing ? 'Following' : 'Follow' }}
  </button>
</div>
