// page width
$max-page-width: 1440px;
$tab-width: 768px;
$mobile-width: 576px;
$media-width: 1000px;
$top-nav-height: 56px;
$max-newsletter-width: 700px;

$primary-font-family: "Work Sans";

// Font sizes
$fs-h7: 10px;
$fs-h6: 12px;
$fs-h5: 14px;
$fs-h4: 16px;
$fs-h3: 21px;
$fs-h2: 26px;
$fs-h1: 28px;


$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-19: 19px;
$fs-20: 20px;
$fs-21: 21px;
$fs-22: 22px;
$fs-23: 23px;
$fs-24: 24px;
$fs-25: 25px;
$fs-26: 26px;
$fs-27: 27px;
$fs-28: 28px;
$fs-30: 30px;
$fs-35: 35px;
$fs-40: 40px;

// Spacing
$space-1: 1px;
$space-2: 2px;
$space-4: 4px;
$space-5: 5px;
$space-6: 6px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-15: 15px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-28: 28px;
$space-32: 32px;
$space-36: 36px;
$space-40: 40px;
$space-44: 44px;
$space-48: 48px;
$space-52: 52px;
$space-56: 56px;
$space-60: 60px;
$space-64: 64px;
$space-68: 68px;
$space-70: 70px;
$space-72: 72px;
$space-76: 76px;
$space-80: 80px;
$space-84: 84px;
$space-88: 88px;
$space-92: 92px;
$space-96: 96px;
$space-110: 110px;
$space-130: 130px;
$space-136: 136px;
$space-220: 220px;

// Border Radius
$border-1: 1px;
$border-4: 4px;
$border-5: 5px;
$border-8: 8px;
$border-10: 10px;
$border-16: 16px;
$border-20: 20px;
$border-50: 50%;

// page padding
$page-horizontal-padding: 2.25rem;
$page-padding-top: 2.25rem;
$page-padding-bottom: 0.75rem;

// cover-font-sizes [TODO commented: need more clarity]
// $c-title: 48px;
// $c-description: 18px;
// $c-menu-text: 24px;

// // body-font-sizes
// $h1: 40px;
// $h1-description: 16px;

$fs-tag: 18px;
$fs-text: 16px;
$fs-list-small: 14px;

// card font sizes
$fs-card-title: 18px;
$fs-card-list-title: 14px;
$fs-card-secondary: 12px;

// font-weights
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// input font sizes
$input-title: 20px;

// color palette & gradients
$neon-blue: #536EFF;
$blue-jeans: #29A5FF;
$cyber-yellow: #FFD338;
$white: #FFFFFF;
$black-coral: #616476;
$medium-aquamarine: #7BE4A5;
$bittersweet: #F27059;
$light-purple: #EEEEFF;
$light-purple2: #C6CFFF;
$callout-yellow: rgba(255, 211, 56, 0.35);
$lightgreen: #EEFDFF;
$lightgreen2: #DFFAFE;
$lightestgrey: #F3F3F3;
$black: black;
$chinese-silver: #CCCCCC;

$text-low-emphasis: rgba(0, 0, 0, 0.6);

// Using https://www.color-name.com/
$gunmetal: #2F2E41;
$raisin-black: #231F20;
$silver-sand: #C4C4C4;
$spanish-gray: #979797;
$azure: #0087F1;
$cultured: #F5F5F5;
$cultured2: #F9F8F6;
$brilliant-azure: #3DAAFA;
$maya-blue: #72C1FF;
$lavender: #E9ECFB;
$platinum: #E9E8E8;
$taupe-gray: #898989;
$lightgrey: lightgrey;
$water: #D8ECFF;
$cadet: #5C6972;
$ultra-red: #FF6584;
$azureish-white: #DAE0FF;
$solitude: #E4E9F2;
$grey: grey;
$button-blue: #2196F3;
$jacarta: #3F3D56;
$mercury: #E7E7E7;

$gradient-top: linear-gradient(0deg, $neon-blue, $blue-jeans, $cyber-yellow, $white, $black-coral);
$gradient-right: linear-gradient(90deg, $neon-blue, $blue-jeans, $cyber-yellow, $white, $black-coral);
$gradient-bottom: linear-gradient(180deg, $neon-blue, $blue-jeans, $cyber-yellow, $white, $black-coral);
$gradient-left: linear-gradient(270deg, $neon-blue, $blue-jeans, $cyber-yellow, $white, $black-coral);
$gradient-top-right: linear-gradient(45deg, $neon-blue, $blue-jeans, $cyber-yellow, $white, $black-coral);
$gradient-bottom-right: linear-gradient(135deg, $neon-blue, $blue-jeans, $cyber-yellow, $white, $black-coral);
$gradient-top-left: linear-gradient(225deg, $neon-blue, $blue-jeans, $cyber-yellow, $white, $black-coral);
$gradient-bottom-left: linear-gradient(315deg, $neon-blue, $blue-jeans, $cyber-yellow, $white, $black-coral);
$gradient-radial: radial-gradient($neon-blue, $blue-jeans, $cyber-yellow, $white, $black-coral);

$card-faded-text: rgba(47, 46, 65, 0.5);
$low-emphasis-text: rgba(0, 0, 0, 0.6);
$card-text-grey: #898989;


// column widths
$large-column-width: 712px;
$small-column-width: 268px;
