<nb-card *ngIf="serverClient" class="select-role">
  <nb-card-header>Choose Role</nb-card-header>
  <nb-card-body class="d-flex flex-column">
    <button
      (click)="selectRole(EHmsRoles.VIEWER)"
      *ngIf="serverClient.role === EHmsRoles.VIEWER"
      nbButton
      size="small"
      status="primary"
    >
      Join Session as a Viewer
    </button>
    <button
      (click)="selectRole(EHmsRoles.HOST_VIEWER)"
      *ngIf="serverClient.role === EHmsRoles.HOST_VIEWER"
      nbButton
      size="small"
      status="primary"
    >
      Join Session as a Viewer
    </button>
    <button
      (click)="selectRole(EHmsRoles.HOST)"
      *ngIf="serverClient.role === EHmsRoles.HOST_VIEWER"
      nbButton
      size="small"
      status="primary"
    >
      Join Session as a Host
    </button>
  </nb-card-body>
</nb-card>
