<div>
  <form (ngSubmit)="submitForm()" [formGroup]="communityChannelForm" class="community-channel-form">
    <div class="logo field">
      <div *ngIf="uploadedLogoImage || (existingChannel && existingChannel.logo)" class="uploaded-logo">
        <img alt="Profile Picture" src="{{uploadedLogoImage || existingChannel.logo.url}}" title="Profile Picture">
      </div>
      <div class="delete-logo-button">
        <button (click)="removeLogo()" *ngIf="uploadedLogoImage || (existingChannel && existingChannel.logo)" ghost
                nbButton size="tiny" status="danger" type="button">
          <nb-icon icon="close-circle"></nb-icon>
          Remove Logo
        </button>
      </div>

      <label [ngClass]="{'hidden': uploadedLogoImage || (existingChannel && existingChannel.logo) }" class="clickable">
        <span>
          <span>
            <nb-icon icon="image-outline"></nb-icon>
          </span>
          <span>
            Click To Upload A Logo
            <br>
            <small>(200x200)</small>
          </span>
        </span>
        <input (change)="displaySelectedLogo($event)" accept="image/*" formControlName="logo" fullWidth nbInput
               type="file">
      </label>
    </div>

    <div class="field">
      <label fullWidth>
        Name*
        <input fieldSize="tiny" formControlName="name" fullWidth nbInput type="text">
      </label>
    </div>

    <div class="field">
      <label fullWidth>
        Description*
        <textarea fieldSize="small" formControlName="description" fullWidth nbInput type="text"></textarea>
      </label>
    </div>

    <div class="field">
      <nb-checkbox formControlName="is_private" status="basic">
        Private
      </nb-checkbox>
      <nb-checkbox status="basic">
        Read only
      </nb-checkbox>
    </div>

    <div class="field">
      <label fullWidth>
        Group Name (optional)
        <input fieldSize="tiny" formControlName="group_name" fullWidth nbInput type="text">
      </label>
    </div>

    <button [disabled]="!communityChannelForm.valid" nbButton outline size="small" status="success" type="submit">
      Save
    </button>
  </form>
</div>
