<div class="newsletter-form">
  <div class="back-button" (click)="backPage()">
    <fa-icon [icon]="icons.faChevronLeft" class="com-mr-1"></fa-icon> Back to list of newsletter
  </div>
  <h6>Create Newsletter</h6>
  <form [formGroup]="newsletterForm">
    <div class="title">
      <label for="title">Title*</label>
      <input type="text" formControlName="title" nbInput fullWidth placeholder="Title" />
      <commudle-alert
        *ngIf="
          newsletterForm.controls['title'].touched &&
          newsletterForm.controls['title'].hasError('required') &&
          newsletterForm.controls['title'].invalid
        "
        errorMessage="Title is Required"
        [error]="true"
      ></commudle-alert>
    </div>

    <div class="brief-description">
      <label for="brief_description">Brief Description*</label>
      <textarea
        type="text"
        formControlName="brief_description"
        nbInput
        fullWidth
        placeholder="Brief Description for newsletter"
      >
      </textarea>
      <commudle-alert
        *ngIf="newsletterForm.controls['brief_description'].hasError('maxlength')"
        errorMessage="Brief Description cannot exceed 50 characters"
        [error]="true"
      ></commudle-alert>
      <commudle-alert
        *ngIf="
          newsletterForm.controls['brief_description'].touched &&
          newsletterForm.controls['brief_description'].hasError('required') &&
          newsletterForm.controls['brief_description'].invalid
        "
        errorMessage="Brief Description is Required"
        [error]="true"
      ></commudle-alert>
    </div>

    <div class="email-subject">
      <label for="email_subject">Email Subject*</label>
      <input type="text" formControlName="email_subject" nbInput fullWidth placeholder="Email Subject" />
      <commudle-alert
        *ngIf="
          newsletterForm.controls['email_subject'].touched &&
          newsletterForm.controls['email_subject'].hasError('required') &&
          newsletterForm.controls['email_subject'].invalid
        "
        errorMessage="Email Subject is Required"
        [error]="true"
      ></commudle-alert>
    </div>

    <div class="banner-image">
      <label for="banner_image">Banner Image</label>
      <div class="com-w-full" *ngIf="!(imagePreview || newsletterForm.controls['banner_image'].value)">
        <div class="com-border com-rounded-lg com-border-dashed com-bg-[#E4E9F2]/40 com-border-gray-500 com-relative">
          <input
            (change)="onFileChange($event)"
            type="file"
            accept="image/*"
            class="com-cursor-pointer com-relative com-block com-opacity-0 com-w-full com-h-full com-p-16 com-z-50"
          />
          <div class="com-text-center com-absolute com-top-8 com-right-0 com-left-0 com-m-auto com-text-gray-400">
            <fa-icon [icon]="icons.faFileImage" class="com-text-5xl"></fa-icon>
            <p>
              Drag file here
              <br />
              or<span class="com-text-primary-500"> BROWSE </span>
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="imagePreview || newsletterForm.controls['banner_image'].value" class="image-preview">
        <div (click)="removeBannerImage()" class="delete-image">
          <button nbButton status="danger" outline size="small">Delete</button>
        </div>
        <commudle-banner-image
          [headerImagePath]="imagePreview || newsletterForm.controls['banner_image'].value"
        ></commudle-banner-image>
      </div>
    </div>

    <div class="content">
      <label for="content">Content*</label>
      <div id="gjs"></div>
    </div>
  </form>
  <section>
    <div class="action-buttons">
      <button
        nbButton
        status="primary"
        (click)="newsletterForm.controls['published'].setValue(true); createOrUpdate()"
        [disabled]="!newsletterForm.valid"
      >
        Save and Publish
      </button>
      <button
        nbButton
        status="primary"
        (click)="newsletterForm.controls['published'].setValue(false); createOrUpdate()"
        [disabled]="!newsletterForm.valid"
      >
        Save As Draft
      </button>
      <button
        nbButton
        status="success"
        (click)="newsletterForm.controls['published'].setValue(false); createOrUpdate(true)"
        [disabled]="!newsletterForm.valid"
      >
        Save & send test emails
      </button>
    </div>
    <div class="back-button" (click)="backPage()">
      <fa-icon [icon]="icons.faChevronLeft" class="com-mr-1"></fa-icon> Back to list of newsletter
    </div>
  </section>
</div>
<ng-template #cancelDialogBox let-ref="dialogRef">
  <nb-card>
    <nb-card-body>
      <div>Are you sure you want to discard changes?</div>
    </nb-card-body>
    <nb-card-footer class="action-buttons !com-my-0">
      <button nbButton status="primary" (click)="backPage(); ref.close()">Yes</button>
      <button nbButton status="danger" (click)="ref.close()">No</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #sendTestEmailDialog let-data let-ref="dialogRef">
  <nb-card class="com-w-630px">
    <nb-card-header>
      <div>Send Test Email for {{ data.title }}</div>
      <button ghost nbButton size="small" (click)="ref.close()">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="testEmailsForms">
        <div>
          <input nbInput fullWidth placeholder="Enter multiple comma separated emails" formControlName="emails" />
          <commudle-alert
            *ngIf="
              testEmailsForms['controls'].emails.touched &&
              testEmailsForms['controls'].emails.invalid &&
              testEmailsForms['controls'].emails.errors.required
            "
            [error]="true"
            errorMessage="  Required Field"
          >
          </commudle-alert>
          <commudle-alert
            *ngIf="
              testEmailsForms['controls'].emails.touched &&
              testEmailsForms['controls'].emails.invalid &&
              testEmailsForms['controls'].emails.errors.maxEmails
            "
            [error]="true"
            errorMessage="Maximum 5 emails allowed"
          >
          </commudle-alert>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button
        nbButton
        status="primary"
        (click)="sendTestMail(data.id); ref.close()"
        [disabled]="!testEmailsForms.valid"
      >
        Confirm
      </button>
      <button nbButton status="danger" (click)="ref.close()">cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
