<div class="page-padding">
  <div *ngIf="eventCollaboration">
    <nb-card>
      <nb-card-body>
        <div *ngIf="eventCollaboration.approved" class="status">
          <div class="collaboration-status">
            <div class="collaboration-community-logo">
              <img alt="{{ eventCollaboration.community.name }}" src="{{ eventCollaboration.community.logo_path }}"
                   title="{{ eventCollaboration.community.name }}">
            </div>
            <p>
              Welcome Aboard!
              <br>
              <span>Thank You for approving the collaboration request.</span>
            </p>
          </div>
        </div>

        <div class="event-details">
          <div class="event">
            <p>
              <a [routerLink]="['/communities', community.slug, 'events', eventCollaboration.event.slug]">
                Go To <strong>{{ eventCollaboration.event.name }}</strong>
              </a>
            </p>
          </div>
          <div class="community">
            <div class="logo">
              <img alt="{{ community.name }}" src="{{ community.logo_path }}" title="{{ community.name }}">
            </div>
            <p>
              <a [routerLink]="['/communities', community.slug]">{{ community.name }}</a>
            </p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
