.status {
  .collaboration-status {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .collaboration-community-logo {
      width: 100px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }

    p {
      font-size: 1.8rem;
      margin-left: 1rem;
      span {
        font-size: 0.8rem;
      }
    }

  }
}

.event-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .event{
    display: flex;
    align-items: center;
    p {
      margin: 0;
    }
  }

  .community {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    .logo {
      width: 50px;
      overflow: hidden;
      margin-right: 1rem;
      img {
        width: 100%;
      }
    }
  }
}
