.heading {
  @apply com-text-base com-font-semibold com-text-Yankees-Blue;
}

.registration-types {
  @apply com-grid lg:com-grid-cols-4 md:com-grid-cols-3 com-grid-cols-2 com-gap-4;
  .registration-type {
    @apply com-border com-border-solid com-border-Bright-Gray com-rounded-2xl com-w-full com-h-20 com-text-center hover:com-border-primary-500 hover:com-bg-sky-50 hover:com-cursor-pointer;
    &.active {
      @apply com-border-primary-500 com-bg-sky-50;
    }
    span {
      @apply com-flex com-justify-center com-items-center com-h-full com-text-xl com-font-semibold;
    }
  }
}

.form-attach-dialog {
  @apply com-max-h-[90dvh] com-w-full md:com-w-[60dvw];
  label {
    @apply com-flex com-flex-col com-gap-1;
  }
  .question-heading {
    @apply com-text-primary-500 com-text-base com-font-semibold com-my-5;
  }

  .select {
    @apply com-flex com-items-center com-gap-1 com-p-1 com-text-sm com-rounded-[4px] com-cursor-pointer com-bg-[#F6F9FC] hover:com-bg-[#eef2f7]/50 com-my-2  com-border com-border-solid com-border-[#EDF1F6] com-w-full com-mt-1;
    select {
      @apply com-bg-[#F6F9FC] hover:com-bg-[#eef2f7]/50 com-cursor-pointer com-border-0 com-w-full;
    }
  }
}
