nb-card {
  flex: 1 1 45%;
  margin: 0 2.5%;

  &.own-scroll {
    height: 30rem;
  }
}

.question-container {
  width: 100%;
  .question {
    display: flex;
    justify-content: space-between;
    width: 100%;
    p {
      margin: 0.3rem 0;
    }

    .author-details {
      display: flex;
      >div {
        width: 25px;
        height: 25px;
        border-radius: 50%;;
        overflow: hidden;
        vertical-align: text-top;
        img {
          width: 100%;
        }
      }
    }

    .content-controls {
      display: flex;
      flex-direction: column;
      width: 70%;
      nb-icon {
        font-size: 0.8rem;
      }
      .content {
        font-size: 1.2rem;
      }

      .details-flag {
        display: flex;
        font-size: 0.8rem;
        div {
          margin-right: 1rem;
        }

      }

    }

    .votes {
      p{
        font-size: 1.5rem;
      }

      .low {
        color: #4b2cec;
      }

      .medium {
        color: #ec9334
      }

      .high {
        color: green;
      }
    }

  }
}


.rules {
  padding: 1rem;
}

