<div>

  <nb-card class="own-scroll">
    <nb-card-header>
      Ask a Question or Vote for a Question, Live!
      <nb-icon icon="info-outline" status="primary" [nbPopover]="rules" nbPopoverTrigger="hover" nbPopoverPlacement="bottom"></nb-icon>
    </nb-card-header>
    <nb-card-body>
      <nb-list
      nbInfiniteList
      [threshold]="100"
      (bottomThreshold)="getDiscussionMessages()">
      <nb-list-item *ngFor="let q of questions">
        <div class="question">
          <div class="content-controls">
            <div class="content">{{ q.content }}</div>
            <div class="details-flag">
              <div>
                <p>
                  {{ q.user.name }}
                </p>
              </div>
              <div class="clickable" (click)="permittedActions.includes(allActions.FLAG) && sendFlag(q.id)">
                <p [ngClass]="{'error-text': q.flags_count > 0}">
                  {{ q.flags_count }}
                  <nb-icon icon="flag-outline"></nb-icon>
                </p>
              </div>
              <div class="clickable" (click)="permittedActions.includes(allActions.DELETE) && delete(q.id)">
                <p>
                  <nb-icon icon="close-circle-outline"></nb-icon>
                </p>
              </div>
            </div>
          </div>
          <div class="votes clickable" (click)="permittedActions.includes(allActions.VOTE) && sendVote(q.id)">
            <p [ngClass]="{'low' : (q.votes_count > 0 && q.votes_count <= 2), 'medium': (q.votes_count > 2 && q.votes_count <= 4), 'high': (q.votes_count > 4)}">
              {{ q.votes_count }}
              <nb-icon icon="arrow-upward"></nb-icon>
            </p>
          </div>
        </div>
      </nb-list-item>
    </nb-list>
    </nb-card-body>
    <nb-card-footer>
      <div>
         <form [formGroup]="userQuestionForm" (ngSubmit)="sendQuestion()">
            <input
            type="text"
            nbInput
            fullWidth
            formControlName="content"
            placeholder="As a question (5 to 200 characters)"
            >
            <button [disabled]="!userQuestionForm.valid || !permittedActions.includes(allActions.ADD)" type="submit" nbButton fullWidth status="info">
              Send
            </button>
         </form>
      </div>
    </nb-card-footer>
  </nb-card>

  <ng-template #rules>
    <div class="rules">
      <p>Here's how it works</p>
      <ul>
        <li>You can ask a question live!</li>
        <li>You can upvote a question asked by someone else</li>
        <li>More upvotes, your question climbs up every 10 seconds</li>
        <li>Find something uncool, flag it, 3 flags sum up for deleted question</li>
        <li>Speakers and moderators can directly delete a question</li>
      </ul>
    </div>
  </ng-template>

</div>
