.user-cover-photo {
  .cover-image {
    height: 168px;
    background: #FFFFFF;
    border: 1px solid #72C1FF;
    box-sizing: border-box;
    border-radius: 30px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  button {
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 40px;
    left: 20px;
    color: #536EFF !important;
    background-color: rgba(196, 196, 196, 0.6) !important;
    text-transform: none;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif !important;
  }
}
