@import '/projects/commudle-admin/src/assets/styles/variables';

.user-cover-photo {
  height: 187px;
  background-color: $white;
  border-radius: $border-10;
  position: relative;
  overflow: hidden;

  .cover-image {
    height: inherit;
    background: $white;

    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
      object-position: center;
    }
  }

  .cover-change {
    border: none;
    border-radius: $border-10;
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: $neon-blue;
    //background-color: rgba(196, 196, 196, 0.6);
    text-transform: none;
    font-weight: $fw-400;
    font-family: $primary-font-family;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1);
    }
  }
}

.cover-image-dialog {
  nb-card-body {
    text-align: center;

    img {
      height: 168px;
      margin-top: 1rem;
    }
  }

  nb-card-footer {
    display: flex;
    justify-content: space-between;
  }
}
