<h2 class="heading">Labs</h2>
<h3 class="subheading">Learn from people like you</h3>

<div class="home-labs-list">
  <ng-container *ngIf="labs.length > 0; else loading">
    <a *ngFor="let lab of labs" [routerLink]="['/labs', lab.slug]">
      <nb-card>
        <nb-card-body>
          <p class="fs-p1 name">{{ lab.name }}</p>
          <div class="com-flex com-justify-between com-items-center com-gap-2">
            <app-user-profile-card-small [user]="lab.user"></app-user-profile-card-small>
            <div class="com-flex com-gap-2 com-text-sm com-text-gray-400">
              <span class="com-flex com-items-center com-gap-1">
                <nb-icon icon="heart"></nb-icon>
                {{ lab.votes_count }}
              </span>
              <span class="com-flex com-items-center com-gap-1">
                <nb-icon icon="eye"></nb-icon>
                {{ lab.visits }}
              </span>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </a>
  </ng-container>
  <ng-template #loading>
    <nb-card *ngFor="let _ of [].constructor(3)">
      <nb-card-body>
        <app-skeleton-text [rows]="3"></app-skeleton-text>
      </nb-card-body>
    </nb-card>
  </ng-template>
</div>

<div class="com-flex com-gap-2 com-mt-6 com-justify-center">
  <button class="home-labs-view-all" ghost nbButton shape="round">View all</button>
  <button class="home-write-tutorial" nbButton shape="round" status="primary">
    Write a tutorial
    <nb-icon icon="arrow-forward"></nb-icon>
  </button>
</div>
