<div>
  <commudle-back-button text="Back"></commudle-back-button>
</div>

<nb-card class="com-mx-0 com-my-6">
  <nb-card-body>
    <p *ngIf="dataForm">{{ dataForm.name }} Responses</p>

    <div class="group-actions">
      <button (click)="openRSVPEmailWindow()" nbButton outline size="small" status="primary">
        Send All RSVP Emails
      </button>
      <button (click)="openEntryPassEmailWindow()" nbButton outline size="small" status="primary">
        Send All Entry Passes
      </button>

      <button
        *ngIf="
          userRoles.length > 0 &&
          (userRoles.includes(EUserRoles.COMMUNITY_ADMIN) ||
            userRoles.includes(EUserRoles.EVENT_ORGANIZER) ||
            userRoles.includes(EUserRoles.EVENT_VOLUNTEER) ||
            userRoles.includes(EUserRoles.ORGANIZER))
        "
        [routerLink]="['/admin/communities', community.slug, 'event-dashboard', event.slug, 'scan-entry-pass']"
        nbButton
        outline
        size="small"
        status="primary"
      >
        Scan Entry Pass
      </button>

      <button
        *ngIf="
          userRoles.length > 0 &&
          (userRoles.includes(EUserRoles.COMMUNITY_ADMIN) ||
            userRoles.includes(EUserRoles.EVENT_ORGANIZER) ||
            userRoles.includes(EUserRoles.EVENT_VOLUNTEER) ||
            userRoles.includes(EUserRoles.ORGANIZER))
        "
        [routerLink]="['/admin/communities', community.slug, 'event-dashboard', event.slug, 'scan-exit-pass']"
        nbButton
        outline
        size="small"
        status="primary"
      >
        Scan Exit Pass
      </button>

      <button
        [routerLink]="['/communities', community.slug, 'events', event.slug, 'attended-members']"
        nbButton
        outline
        size="small"
        status="primary"
      >
        View attended members
      </button>

      <button (click)="sendCSV()" nbButton outline size="small" status="info">
        <nb-icon icon="email-outline"></nb-icon>
        CSV
      </button>

      <button (click)="bulkStatusChangeConfirmation()" nbButton size="small" status="info">Change Bulk Status</button>
    </div>
  </nb-card-body>
</nb-card>

<nb-card class="data-table-responses">
  <nb-card-body>
    <div class="data-table-container">
      <ngx-datatable
        #table
        (page)="setPage($event.offset)"
        [columnMode]="ColumnMode.force"
        [count]="totalEntries"
        [externalPaging]="true"
        [footerHeight]="50"
        [headerHeight]="100"
        [limit]="count"
        [loadingIndicator]="isLoading"
        [messages]="{ emptyMessage: emptyMessage }"
        [offset]="page - 1"
        [rows]="rows"
        [scrollbarH]="true"
        [scrollbarV]="true"
        [sortType]="SortType.single"
        [virtualization]="false"
        class="material expandable"
        rowHeight="auto"
      >
        <!-- responsive row format -->
        <ngx-datatable-row-detail (toggle)="onDetailToggle($event)" [rowHeight]="'100%'">
          <ng-template let-expanded="expanded" let-row="row" ngx-datatable-row-detail-template>
            <div class="com-max-w-fit">
              <app-user-engagement-data
                *ngIf="row"
                [user]="row.user"
                [communityId]="community.id"
              ></app-user-engagement-data>
            </div>
            <div class="com-max-w-fit" *ngIf="eventDataFormEntityGroup?.is_paid">
              <commudle-user-payment-details
                [eto]="row.event_ticket_orders"
                [user]="row.user"
              ></commudle-user-payment-details>
            </div>
            <div class="com-max-w-fit" *ngIf="eventDataFormEntityGroup?.is_paid">
              <commudle-user-track-slots
                [trackSlots]="row.track_slots"
                [speakers]="rows"
                [event]="event"
                [community]="community"
              ></commudle-user-track-slots>
            </div>
            <div style="padding-left: 1rem; font-size: 14px; height: 300px; overflow-y: scroll">
              <div *ngFor="let question of questions">
                <p>
                  <strong> Q. {{ question.title }} </strong>
                </p>
                <div>
                  <p
                    [innerHTML]="
                      row.showFullAnswer
                        ? (getQuestionResponse(row.data_form_entity_response_values, question.id)
                          | linky : { sanitizeHtml: true })
                        : (getQuestionResponse(row.data_form_entity_response_values, question.id)
                          | truncatetext : 100
                          | linky : { sanitizeHtml: true })
                    "
                    class="question-responses"
                  ></p>
                  <a
                    (click)="row.showFullAnswer = !row.showFullAnswer"
                    *ngIf="getQuestionResponse(row.data_form_entity_response_values, question.id).length > 100"
                    class="clickable"
                  >
                    {{ row.showFullAnswer ? 'Read less' : 'Read more' }}
                  </a>
                </div>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>
        <!-- responsive row format -->
        <ngx-datatable-column [width]="300">
          <ng-template let-column="column" ngx-datatable-header-template>
            <div class="mobile-hidden">
              <div class="">
                <p>Engagement Data with {{ community.name }}</p>
              </div>
            </div>
          </ng-template>

          <ng-template let-expanded="expanded" let-row="row" ngx-datatable-cell-template>
            <div class="mobile-hidden">
              <app-user-engagement-data
                *ngIf="row"
                [user]="row.user"
                [communityId]="community.id"
              ></app-user-engagement-data>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="350">
          <ng-template let-column="column" ngx-datatable-header-template>
            <div class="mobile-hidden">
              <div class="">
                <p class="com-mb-0.5">Track Slot details</p>
              </div>
              <div class="com-flex com-gap-2 com-items-center">
                <div class="dropdown !com-my-0">
                  <select
                    class="com-border-0"
                    (change)="trackSlotFilter($event)"
                    [(ngModel)]="selectedEventLocationTrackId"
                    [ngClass]="{
                      'com-text-[#8E9BB3]': selectedEventLocationTrackId === ''
                    }"
                  >
                    <option selected disabled value="">Select Track</option>
                    <option *ngFor="let elt of eventLocationTracks" [value]="elt.id">
                      {{ elt.name }}
                    </option>
                  </select>
                </div>
                <div (click)="trackSlotFilter()" class="clear-track-filter" *ngIf="selectedEventLocationTrackId !== ''">
                  <fa-icon [icon]="icons.faXmark"></fa-icon>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template let-expanded="expanded" let-row="row" ngx-datatable-cell-template>
            <div class="mobile-hidden">
              <commudle-user-track-slots
                [trackSlots]="row.track_slots"
                [speakers]="rows"
                [event]="event"
                [community]="community"
                (eventLocationTrackIdsEmit)="eventLocationTrackId($event)"
              ></commudle-user-track-slots>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="300" *ngIf="eventDataFormEntityGroup?.is_paid">
          <ng-template let-column="column" ngx-datatable-header-template>
            <div class="mobile-hidden">
              <div class="">
                <p>Payment Details</p>
              </div>
            </div>
          </ng-template>

          <ng-template let-expanded="expanded" let-row="row" ngx-datatable-cell-template>
            <div class="mobile-hidden">
              <commudle-user-payment-details
                [eto]="row.event_ticket_orders"
                [user]="row.user"
              ></commudle-user-payment-details>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <!-- complete table format -->
        <ngx-datatable-column [canAutoResize]="true" [frozenLeft]="true" [width]="360" name="User Details">
          <ng-template let-column="column" ngx-datatable-header-template>
            <div class="header-column-template">
              <p>User Details</p>
              <form [formGroup]="searchForm">
                <div class="name-filter">
                  <input
                    [disabled]="isLoading"
                    fieldSize="tiny"
                    formControlName="name"
                    fullWidth
                    nbInput
                    placeholder="{{ isLoading ? 'Still Loading' : 'Search by name or email' }}"
                    type="text"
                  />
                </div>
              </form>

              <div class="registration-status-filter">
                <div (click)="registrationStatusFilter(0)">
                  <p [ngClass]="{ 'text-primary': 0 === registrationStatusId }">All</p>
                </div>
                <div (click)="registrationStatusFilter(rs.id)" *ngFor="let rs of registrationStatuses">
                  <p [ngClass]="{ 'text-primary': rs.id === registrationStatusId }">{{ rs.name | titlecase }}</p>
                </div>
              </div>
              <div class="gender-filter">
                <div (click)="genderFilter('male')">
                  <p [ngClass]="{ 'text-primary': 'male' === gender }">Male</p>
                </div>
              </div>
              <div (click)="genderFilter('female')">
                <p [ngClass]="{ 'text-primary': 'female' === gender }">Female</p>
              </div>
            </div>
          </ng-template>

          <ng-template let-expanded="expanded" let-row="row" ngx-datatable-cell-template>
            <div class="row-header user-details">
              <app-user-details-cell
                (updateEntryPass)="updateEntryPass($event, row.id)"
                (updatedRegistrationStatus)="updateRegistrationStatus($event, row.id)"
                [community]="community"
                [eventDataFormEntityGroupId]="eventDataFormEntityGroup.id"
                [event]="event"
                [registrationStatuses]="registrationStatuses"
                [registrationType]="eventDataFormEntityGroup.registration_type"
                [userResponse]="row"
              >
              </app-user-details-cell>
              <p
                (click)="toggleExpandRow(row)"
                [class.datatable-icon-down]="expanded"
                [class.datatable-icon-right]="!expanded"
                class="desktop-hidden view-mobile-response"
                title="Expand/Collapse Row"
              >
                View Responses
              </p>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          *ngFor="let question of questions"
          [canAutoResize]="true"
          [width]="200"
          name="{{ question.title }}"
        >
          <ng-template ngx-datatable-header-template>
            <div class="row-header question mobile-hidden">
              <p *ngIf="question.title.length > 20" nbTooltip="{{ question.title }}">{{ question.title }}</p>
              <p *ngIf="question.title.length <= 20">{{ question.title }}</p>
            </div>
            <div (click)="updateClickQuestion(question)">
              <form [formGroup]="questionForm">
                <div class="name-filter">
                  <input
                    [disabled]="isLoading"
                    fieldSize="tiny"
                    formControlName="v"
                    fullWidth
                    nbInput
                    placeholder="{{ isLoading ? 'Still Loading' : 'Search Answer' }}"
                    type="text"
                  />
                </div>
              </form>
            </div>
          </ng-template>

          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="row-cell question mobile-hidden" style="height: 100px">
              <p
                [innerHTML]="
                  row.showFullAnswer
                    ? (getQuestionResponse(row.data_form_entity_response_values, question.id)
                      | linky : { sanitizeHtml: true })
                    : (getQuestionResponse(row.data_form_entity_response_values, question.id)
                      | truncatetext : 100
                      | linky : { sanitizeHtml: true })
                "
                class="question-responses"
              ></p>
              <a
                (click)="row.showFullAnswer = !row.showFullAnswer"
                *ngIf="getQuestionResponse(row.data_form_entity_response_values, question.id).length > 100"
                class="clickable"
              >
                {{ row.showFullAnswer ? 'Read less' : 'Read more' }}
              </a>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #confirmStatusChange let-data>
  <div class="md:com-w-500px">
    <div class="com-flex com-gap-4">
      <div class="dropdown">
        <select
          class="com-border-0"
          (change)="changeFromRegistrationStatus($event)"
          [ngClass]="{
            'com-text-[#8E9BB3]': fromRegistrationStatus === undefined
          }"
        >
          <option selected disabled>From</option>
          <option *ngFor="let rs of registrationStatuses" [value]="rs.name">
            {{ rs.name | titlecase }}
          </option>
        </select>
      </div>
      <div class="dropdown">
        <select
          class="com-border-0"
          (change)="changeToRegistrationStatus($event)"
          [ngClass]="{
            'com-text-[#8E9BB3]': toRegistrationStatus === undefined
          }"
        >
          <option selected disabled>To</option>
          <option *ngFor="let rs of registrationStatuses" [value]="rs.name">
            {{ rs.name | titlecase }}
          </option>
        </select>
      </div>
    </div>
    <div *ngIf="fromRegistrationStatus === toRegistrationStatus && toRegistrationStatus !== undefined">
      <commudle-alert [error]="true" errorMessage="From and To value can't be same"></commudle-alert>
    </div>
    <p *ngIf="selectedRegistrationStatus !== 0">
      This will change the status of all {{ selectedRegistrationStatus }} entries and <strong>cannot be undone</strong>.
    </p>

    <div>
      <button
        (click)="bulkStatusChange()"
        nbButton
        size="medium"
        status="success"
        [disabled]="toRegistrationStatus === undefined || fromRegistrationStatus === undefined"
      >
        Yes
      </button>
      <button (click)="windowRef.close()" ghost nbButton size="medium" status="danger">No</button>
    </div>
  </div>
</ng-template>
