:host {
  .data-table-responses {
    overflow: hidden;

    nb-card-body {
      padding: 0;
    }
  }

  .data-table-container {
    @media screen and (max-width: 800px) {
      .desktop-hidden {
        display: initial;
      }
      .mobile-hidden {
        display: none;
      }

      .view-mobile-response {
        display: block;
        margin-top: 0.5rem;
      }
    }

    @media screen and (min-width: 800px) {
      .desktop-hidden {
        display: none;
      }
      .mobile-hidden {
        display: initial;
      }
    }

    .ngx-datatable {
      height: 70vh;

      .header-column-template {
        p {
          margin: 0;
        }

        > .name-filter {
          margin-top: 5px;
        }

        > .registration-status-filter {
          display: flex;
          flex-wrap: nowrap;

          div {
            border: 0.5px solid lightgrey;
            cursor: pointer;
            padding: 5px;
          }

          p {
            font-size: 12px;
            margin: 0;
          }
        }
      }

      .row-header {
        white-space: normal;
      }

      .row-header.question {
        overflow-y: visible;

        white-space: normal;
        @apply com-flex com-gap-1 com-items-baseline com-cursor-pointer;

        .small-text {
          font-size: 10px;
        }
      }

      .row-cell.question {
        white-space: normal;

        p {
          font-size: 14px;
        }
      }
    }
  }
}

.group-actions {
  display: flex;
  flex-wrap: wrap;

  button,
  nb-select {
    margin: 0.5rem;
  }
}

.question-responses {
  @apply com-mb-0;
  white-space: pre-wrap;
}

.dropdown {
  @apply com-flex com-items-center com-gap-1 com-h-8 com-p-1 com-text-sm com-rounded-md com-cursor-pointer com-bg-[#F6F9FC] hover:com-bg-[#eef2f7]/50 com-my-2   com-w-1/2 com-border com-border-solid com-border-primary-200;
  select {
    @apply com-bg-[#F6F9FC] hover:com-bg-[#eef2f7]/50 com-cursor-pointer com-w-full;
  }
}

.user-detail-dropdown {
  @apply com-flex com-items-center com-gap-1 com-h-6 com-p-0 com-text-sm com-rounded-[4px] com-cursor-pointer com-bg-[#F6F9FC] hover:com-bg-[#eef2f7]/50 com-border com-border-solid com-border-[#E4E9F2] com-w-full;
  select {
    @apply com-bg-[#F6F9FC] hover:com-bg-[#eef2f7]/50 com-cursor-pointer com-w-full;
  }
}

.track-slot-filter-dropdown {
  @apply com-flex com-items-center com-gap-1 com-h-8 com-p-1 com-text-sm com-cursor-pointer com-bg-transparent com-my-2  com-w-max com-border-0;
  select {
    @apply com-bg-transparent  com-cursor-pointer com-w-full;
  }
}

.clear-track-filter {
  @apply com-cursor-pointer;
  fa-icon {
    @apply com-text-red-500 com-text-base;
  }
}
