@import '/projects/commudle-admin/src/assets/styles/variables';

p {
  margin: 0;
}

.user-personal-details {
  padding: $space-16;
  border-radius: $border-10;
  background-color: $white;
  position: relative;
  overflow: hidden;

  &.normal {
    overflow: initial;
    margin-top: $space-110;

    &:before {
      content: none;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 184px;
    background: linear-gradient(180deg, $brilliant-azure 0%, $neon-blue 100%);;
  }

  .profile-photo-container {
    display: table;
    position: relative;
    height: 160px;
    width: 160px;
    margin: $space-70 auto $space-8;
    padding: $space-4;
    background-color: $white;
    border-radius: 50%;

    &.normal {
      width: 188px;
      height: 188px;
      margin: -$space-130 auto $space-20;
      border: 1.5px solid $mercury;
      padding: 0;
    }

    .profile-photo {
      overflow: hidden;
      border-radius: 50%;
      height: 100%;
      width: 100%;

      img {
        width: 100%;
        height: inherit;
        object-fit: cover;
        object-position: center top;
      }
    }
  }

  .user-details {
    color: $gunmetal;

    .heading {
      font-size: $fs-h4;
      line-height: 19px;
      font-weight: $fw-500;
      margin: $space-16 0 $space-4;
    }

    .name {
      font-weight: $fw-600;
      font-size: $fs-20;
      line-height: 23px;

      .expert-icon {
        position: absolute;
        margin: $space-2 0 0 $space-8;
        width: 18px;
        height: 18px;
      }
    }

    .username {
      font-size: $fs-h5;
      line-height: 16px;
      color: rgba($gunmetal, 0.85);
      margin-bottom: $space-12;
    }

    .designation {
      font-weight: $fw-500;
      font-size: $fs-h4;
      line-height: 19px;
      margin-bottom: $space-4;
      word-break: break-word;
    }

    .network {
      margin-bottom: $space-48;

      a {
        margin: 0 $space-4;
        color: $cadet;
        font-size: $fs-h5;
        font-style: italic;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .location {
      color: $cadet;
      font-size: $fs-h5;
      line-height: 16px;
      font-style: italic;
    }

    .about {
      margin: $space-16 0;
      font-size: $fs-h5;
      line-height: 16px;
      color: rgba($gunmetal, 0.85);
    }
  }

  hr {
    margin: $space-12 auto;
    border: 0;
    height: 1px;
    background-color: $chinese-silver;
  }

  .user-interactions {
    margin: $space-16 0;

    button {
      height: 32px;
      border: none;
      border-radius: $border-10;
      color: $neon-blue;
      background-color: rgba($neon-blue, 0.2);
      padding: $space-8;
      font-size: $fs-h6;
      font-weight: $fw-400;
      text-transform: none;
      margin: 0 $space-8;

      nb-icon {
        margin-right: $space-4;
      }
    }
  }

  .user-tags {
    .heading {
      color: $gunmetal;
      font-size: $fs-h4;
      font-weight: $fw-500;
      margin: $space-16 0;
    }

    nb-tag-list {
      nb-tag {
        border: none;
        color: $gunmetal;
        background-color: $azureish-white;
        font-size: $fs-h5;
        font-weight: $fw-500;
        padding: $space-2 $space-8;
        border-radius: $border-10;

        &.tags-add {
          cursor: pointer;
        }
      }
    }
  }
}

.tag-dialog {
  nb-card-body {
    .tag-dialog-info {
      margin-bottom: $space-16;
    }
  }

  nb-card-footer {
    button {
      text-transform: capitalize;
    }
  }
}

.profile-dialog {
  nb-card-body {
    padding: 0;
  }
}

@media all and (max-width: $tab-width) {
  .user-personal-details {
    border-radius: 0;
  }
}
