<div [ngClass]="{'normal': !user.is_expert}" class="user-personal-details">

  <div [ngClass]="{'normal': !user.is_expert}" class="profile-photo-container">
    <div class="profile-photo">
      <img alt="{{user.name}}" src="{{user.avatar}}" title="{{user.name}}">
    </div>
  </div>

  <div class="user-details text-center">
    <div class="name">
      {{user.name}}
      <img *ngIf="user.is_expert" alt="Expert Tick" class="expert-icon" src="/assets/images/Expert-Tick.svg"
           title="Expert Tick">
    </div>
    <div class="username">@{{user.username}}</div>
    <div *ngIf="user.designation" class="designation">{{user.designation}}</div>
    <div class="network">
      <a *ngIf="user.is_expert" routerLink="followers">{{user.followers_count || 0}} Followers</a>
      <a routerLink="following"> {{user.followees_count || 0}} Following </a>
    </div>
  </div>

  <div class="user-interactions d-flex justify-content-center">
    <div *ngIf="currentUser && currentUser.id === user.id">
      <button (click)="onEditProfileDialogOpen()" class="anim-shadow" nbButton size="small">
        <nb-icon icon="edit"></nb-icon>
        Edit bio
      </button>
    </div>
    <div *ngIf="currentUser && currentUser.id !== user.id">
      <button (click)="openChatWithUser()" class="anim-shadow" nbButton size="small">
        <nb-icon icon="paper-plane"></nb-icon>
        Message
      </button>
    </div>
    <app-user-follow (userFollowed)="updateProfile.emit()" [username]="user.username"></app-user-follow>
  </div>

  <hr *ngIf="user.location || user.about_me">

  <div *ngIf="user.location || user.about_me" class="user-details">
    <div class="heading">About me</div>
    <div *ngIf="user.location" class="location">
      <nb-icon icon="pin"></nb-icon>
      {{user.location}}
    </div>
    <div *ngIf="user.about_me" class="about">
      <span *ngIf="!showFullAbout">{{user.about_me | truncatetext:140}}</span>
      <span *ngIf="showFullAbout">{{user.about_me}}</span>&nbsp;
      <a (click)="showFullAbout = !showFullAbout" *ngIf="user.about_me.length > 140" class="clickable">
        {{showFullAbout ? 'Read less' : 'Read more'}}
      </a>
    </div>
  </div>

  <hr *ngIf="tags.length > 0">

  <div *ngIf="tags.length > 0" class="user-tags">
    <div class="heading">Skills</div>
    <nb-tag-list>
      <nb-tag *ngFor="let tag of tags" [text]="tag"></nb-tag>
      <nb-tag (click)="onTagDialogOpen()" *ngIf="currentUser && currentUser.id === user.id" [text]="'+'"
              class="tags-add anim-shadow"></nb-tag>
    </nb-tag-list>
  </div>

</div>

<ng-template #editTags let-ref="dialogRef">
  <nb-card class="tag-dialog">
    <nb-card-header class="text-center">
      Add tags which define you
    </nb-card-header>
    <nb-card-body class="text-center">
      <div class="tag-dialog-info">
        <nb-icon icon="info-outline"></nb-icon>
        Maximum {{maxTags}} tags can be added. Tags reflect your fields of interest.
      </div>
      <nb-tag-list (tagRemove)="onTagRemove($event)">
        <nb-tag *ngFor="let tag of tagsDialog" [text]="tag" removable></nb-tag>
        <input (tagAdd)="onTagAdd($event)" fullWidth nbTagInput placeholder="type a tag and press enter" type="text">
      </nb-tag-list>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-space-between">
      <button (click)="ref.close()" ghost nbButton status="danger">Cancel</button>
      <button (click)="onTagDialogSubmit()" nbButton status="success">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #editProfile let-data let-ref="dialogRef">
  <nb-card class="profile-dialog max-full-height-dialog-card">
    <nb-card-header class="d-flex align-items-center justify-content-space-between">
      Update Basic Details
      <button (click)="ref.close()" ghost nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <app-basic-user-profile (updateProfile)="onUpdateProfile(ref)"></app-basic-user-profile>
    </nb-card-body>
  </nb-card>
</ng-template>
