h1,
p {
  margin: 0;
}

.user-details-container {
  @apply com-mt-0 com-rounded-tl-none com-rounded-tr-none;

  nb-card-body {
    .user-avatar {
      @apply com-block com-h-24 com-w-24 md:com-h-40 md:com-w-40 com-rounded-full com-object-cover com-object-center;
    }

    .user-info {
      @apply com-w-full com-mt-8;

      .name {
        @apply com-flex com-items-baseline com-gap-1.5;

        .expert-icon {
          @apply com-h-3 com-w-3 md:com-h-6 md:com-w-6;
        }

        h1 {
          @apply com-text-2xl md:com-text-4xl com-font-semibold;
        }
      }

      .username {
        @apply com-text-base com-text-gray-400 com-mt-1;
      }

      .network {
        @apply com-flex com-mt-4 com-gap-2;

        a {
          @apply com-text-base hover:com-underline;
          color: inherit;
          text-decoration: none;

          span {
            @apply com-font-semibold;
          }
        }
      }

      .designation {
        @apply com-text-base com-flex com-items-center com-gap-2 com-mt-4;

        p,
        nb-icon {
          @apply com-text-base md:com-text-lg;
        }

        nb-icon {
          @apply com-text-[#42aaff];
        }
      }

      .location {
        @apply com-text-base com-flex com-items-center com-gap-2 com-mt-1;

        p,
        nb-icon {
          @apply com-text-base md:com-text-lg;
        }

        nb-icon {
          @apply com-text-[#42aaff];
        }
      }

      .tags {
        @apply com-mt-6;

        nb-tag {
          @apply com-text-sm com-font-medium com-border-none;
        }
      }
    }
  }
}
