<nb-card class="home-labs-container">
  <nb-card-header [routerLink]="['/labs']" class="home-labs-header clickable">
    Labs
    <p class="home-labs-sub-header">Learn from people like you</p>
  </nb-card-header>
  <nb-card-body class="home-labs-body">
    <nb-list *ngIf="labs.length === 0" class="home-labs-list">
      <nb-list-item *ngFor="let _ of [].constructor(4)">
        <commudle-skeleton-text [rows]="2"></commudle-skeleton-text>
      </nb-list-item>
    </nb-list>
    <nb-list *ngIf="labs.length > 0" class="home-labs-list">
      <nb-list-item *ngFor="let lab of labs">
        <a [routerLink]="['/labs', lab.slug]" class="home-lab-name com-line-clamp-2">{{ lab.name }}</a>
        <commudle-user-profile-card-small [user]="lab.user"></commudle-user-profile-card-small>
      </nb-list-item>
    </nb-list>
    <a *ngIf="labs.length > 0" [routerLink]="['/labs']" class="home-labs-all text-center">View all</a>
  </nb-card-body>
</nb-card>
