<nb-card [ngClass]="{ statusClosed: job.status === jobStatus.CLOSED }">
  <nb-card-body class="nb-body">
    <a [routerLink]="['/jobs', job.id]" class="com-no-underline md:com-w-4/5">
      <div class="job-details position">
        <p>{{ job.position }}</p>
      </div>

      <div class="job-details salary" *ngIf="job.max_salary !== 0">
        <div>
          <span class="icons com-bg-rose-50 com-text-rose-700">
            <fa-icon [icon]="faMoneyBills"></fa-icon>
          </span>
        </div>

        <p class="job-label">
          {{ job.salary_currency | uppercase }} {{ job.min_salary }} - {{ job.max_salary }} ({{
            job.salary_type | titlecase
          }})
        </p>
      </div>

      <div class="job-details company_name !com-items-baseline">
        <div>
          <span class="icons com-bg-blue-50 com-text-blue-700">
            <fa-icon [icon]="faBuilding"></fa-icon>
          </span>
        </div>
        <p class="com-text-justify">
          {{ job.company }}
        </p>
      </div>

      <div class="job-details location_type">
        <div>
          <span class="icons com-bg-yellow-50 com-text-yellow-700">
            <fa-icon [icon]="faLocationDot"></fa-icon>
          </span>
        </div>
        <div class="com-flex">
          <p>{{ job.location_type | titlecase }}</p>
          <p *ngIf="job.location">({{ job.location }})</p>
        </div>
      </div>

      <div class="job-details category">
        <div>
          <span class="icons com-bg-teal-50 com-text-teal-700">
            <fa-icon [icon]="faIdCard"></fa-icon>
          </span>
        </div>
        <p>{{ job.category | titlecase }}</p>
      </div>

      <div class="job-details experience">
        <div>
          <span class="icons com-bg-purple-50 com-text-purple-700">
            <fa-icon [icon]="faClock"></fa-icon>
          </span>
        </div>
        <p class="job-label" *ngIf="job.experience === 0">Fresher</p>
        <p class="job-label" *ngIf="job.experience > 0">
          Min. {{ job.experience }} year{{ job.experience > 1 ? 's' : '' }} experience
        </p>
      </div>

      <div class="md:com-flex com-items-center md:com-justify-between">
        <div class="job-details job-type">
          <div>
            <span class="icons com-bg-sky-50 com-text-sky-700">
              <fa-icon [icon]="faSuitcase"></fa-icon>
            </span>
          </div>
          <p class="job-label">{{ job.job_type | enumFormat }}</p>
        </div>
      </div>
    </a>

    <div class="com-flex com-justify-between com-flex-col com-relative md:com-w-1/5">
      <div>
        <div class="com-min-h-[40px]">
          <button
            *ngIf="job.status === jobStatus.OPEN && applyButton"
            class="com-w-auto apply-button"
            nbButton
            shape="semi-round"
            status="primary"
            [routerLink]="[job.id]"
          >
            View Details & Apply
          </button>
          <div class="com-flex md:com-justify-end com-items-center">
            <p *ngIf="job.status === jobStatus.CLOSED" class="com-text-Yankees-Blue">Closed</p>
          </div>
        </div>
        <div class="com-flex md:com-justify-end com-my-3 md:com-m-0">
          <p *ngIf="applicationsCount" class="com-text-gray-500">{{ job.job_applications_count }} Applications</p>
        </div>
      </div>
      <div class="com-w-44">
        <app-user-profile-card-medium *ngIf="userProfile" [user]="job.user"></app-user-profile-card-medium>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer *ngIf="showAdminButtons">
    <nb-actions>
      <nb-action *ngIf="user?.id === currentUser?.id">
        <button (click)="updateJob.emit()" ghost nbButton size="small" status="warning">
          <fa-icon [icon]="faPencil" class="com-px-1 md:com-px-2"></fa-icon>
          <ng-container *appBreakpoints="'>md'">Edit</ng-container>
        </button>
      </nb-action>
      <nb-action>
        <button (click)="copyTextToClipboard(job.id)" ghost nbButton size="small" status="primary">
          <fa-icon [icon]="faShareAlt" class="com-px-1 md:com-px-2"></fa-icon>
          <ng-container *appBreakpoints="'>md'">Share</ng-container>
        </button>
      </nb-action>
      <nb-action *ngIf="user?.id === currentUser?.id">
        <a
          [routerLink]="['/jobs', job.id, 'applications']"
          ghost
          nbButton
          size="small"
          status="success"
          class="com-p-0"
        >
          <fa-icon [icon]="faUsers" class="com-px-1 md:com-px-2"></fa-icon>
          <ng-container *appBreakpoints="'>md'"
            >All Received Applications
            <span *ngIf="job.job_applications_count !== 0">({{ job.job_applications_count }})</span></ng-container
          >
        </a>
      </nb-action>
      <nb-action>
        <a [routerLink]="['/jobs', job.id]" ghost nbButton size="small" status="info">
          <fa-icon [icon]="faInfoCircle" class="com-px-1 md:com-px-2"></fa-icon>
          <ng-container *appBreakpoints="'>md'">View Details</ng-container>
        </a>
      </nb-action>
      <nb-action *ngIf="user?.id === currentUser?.id">
        <button (click)="updateJobStatus()" ghost nbButton size="small" status="basic">
          <ng-container *ngIf="job.status === jobStatus.OPEN">
            <fa-icon [icon]="faEyeSlash" class="com-px-1 md:com-px-2"></fa-icon>
            <ng-container *appBreakpoints="'>md'">Close Job</ng-container>
          </ng-container>
          <ng-container *ngIf="job.status === jobStatus.CLOSED">
            <fa-icon [icon]="faEye" class="com-px-1 md:com-px-2"></fa-icon>
            <ng-container *appBreakpoints="'>md'">Open Job</ng-container>
          </ng-container>
        </button>
      </nb-action>
      <nb-action *ngIf="user?.id === currentUser?.id">
        <button (click)="onDialogOpen(deleteJobDialog)" ghost nbButton size="small" status="danger">
          <fa-icon [icon]="faTrash" class="com-px-1 md:com-px-2"></fa-icon>
          <ng-container *appBreakpoints="'>md'">Delete</ng-container>
        </button>
      </nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>

<ng-template #deleteJobDialog let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="com-flex com-items-center com-justify-between">
      <span class="com-flex com-items-center com-gap-2">
        <nb-icon icon="alert-triangle" status="warning"></nb-icon>
        Confirmation
      </span>
      <button (click)="ref.close()" ghost nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body class="confirmation-dialogue-box">
      <p>
        Are you sure your want to delete
        <strong> {{ job.position }} @ {{ job.company }} </strong>? <br />
        All the received applications will be deleted permanently as well.
      </p>
      <br />
      <p><strong>Note:</strong>&nbsp;This action cannot be undone.</p>
    </nb-card-body>
    <nb-card-footer class="confirmation-dialogue-footer">
      <button (click)="onDeleteJob(); ref.close()" nbButton status="success" class="option-yes">Yes</button>
      <button (click)="ref.close()" nbButton status="danger" class="option-no">No</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
