<nb-card [ngClass]="{ statusClosed: job.status === jobStatus.CLOSED }">
  <nb-card-body>
    <a [routerLink]="[job.id]" class="com-no-underline md:com-w-4/5">
      <div class="job-details position">
        <p>{{ job.position }}</p>
      </div>

      <div class="job-details salary" *ngIf="job.max_salary !== 0">
        <div>
          <span class="com-rounded-lg com-inline-flex com-bg-rose-50 com-text-rose-700 com-ring-4 com-ring-white">
            <fa-icon [icon]="faMoneyBills"></fa-icon>
          </span>
        </div>

        <p class="job-label">
          {{ job.salary_currency | uppercase }} {{ job.min_salary }} - {{ job.max_salary }} ({{
            job.salary_type | titlecase
          }})
        </p>
      </div>

      <div class="job-details company_name !com-items-baseline">
        <div>
          <span class="com-rounded-lg com-inline-flex com-bg-yellow-50 com-text-blue-700 com-ring-4 com-ring-white">
            <fa-icon [icon]="faBuilding"></fa-icon>
          </span>
        </div>
        <p class="com-text-justify">
          {{ job.company }}
        </p>
      </div>

      <div class="job-details location_type">
        <div>
          <span class="com-rounded-lg com-inline-flex com-bg-yellow-50 com-text-yellow-700 com-ring-4 com-ring-white">
            <fa-icon [icon]="faLocationDot"></fa-icon>
          </span>
        </div>
        <div class="com-flex">
          <p>{{ job.location_type | titlecase }}</p>
          <p *ngIf="job.location">({{ job.location }})</p>
        </div>
      </div>

      <div class="job-details category">
        <div>
          <span class="com-rounded-lg com-inline-flex com-bg-teal-50 com-text-teal-700 com-ring-4 com-ring-white">
            <fa-icon [icon]="faIdCard"></fa-icon>
          </span>
        </div>
        <p>{{ job.category | titlecase }}</p>
      </div>

      <div class="job-details experience">
        <div>
          <span class="com-rounded-lg com-inline-flex com-bg-purple-50 com-text-purple-700 com-ring-4 com-ring-white">
            <fa-icon [icon]="faClock"></fa-icon>
          </span>
        </div>
        <p class="job-label" *ngIf="job.experience === 0">Fresher</p>
        <p class="job-label" *ngIf="job.experience > 0">
          Min. {{ job.experience }} year{{ job.experience > 1 ? 's' : '' }} experience
        </p>
      </div>

      <div class="md:com-flex com-items-center md:com-justify-between">
        <div class="job-details job-type">
          <div>
            <span class="com-rounded-lg com-inline-flex com-bg-sky-50 com-text-sky-700 com-ring-4 com-ring-white">
              <fa-icon [icon]="faSuitcase"></fa-icon>
            </span>
          </div>
          <p class="job-label">{{ job.job_type | enumFormat }}</p>
        </div>
      </div>
    </a>

    <div class="com-flex com-justify-between com-flex-col com-relative md:com-w-1/5">
      <div>
        <div class="com-min-h-[40px]">
          <button
            *ngIf="job.status === jobStatus.OPEN"
            class="com-w-auto apply-button"
            nbButton
            shape="semi-round"
            status="primary"
            [routerLink]="[job.id]"
          >
            View Details & Apply
          </button>
          <div class="com-flex md:com-justify-end com-items-center">
            <p *ngIf="job.status === jobStatus.CLOSED">Closed</p>
          </div>
        </div>
        <div class="com-flex md:com-justify-end com-my-3 md:com-m-0">
          <p class="com-text-gray-500">{{ job.job_applications_count }} Applications</p>
        </div>
      </div>
      <div class="com-w-44">
        <app-user-profile-card-medium [user]="job.user"></app-user-profile-card-medium>
      </div>
    </div>
  </nb-card-body>
</nb-card>
