@import '/projects/commudle-admin/src/assets/styles/variables';

.user-content {
  // background-color: $white;

  nb-card {
    border-radius: $border-10;
    margin-right: 0;
    margin-left: 0;
  }

  nb-tabset {
    &::ng-deep {
      .tabset {
        border-bottom: 2px solid $silver-sand;

        .tab {
          flex-grow: 1;

          .tab-link {
            font-size: $fs-24;
            font-weight: $fw-400;
            line-height: 28px;
            text-transform: capitalize;
            color: $cadet;
            justify-content: center;
          }

          &.active {
            .tab-link {
              color: $neon-blue;
              font-weight: $fw-500;
              &::before {
                background-color: $brilliant-azure;
                border-radius: 0;
              }
            }
          }
        }
      }
    }

    nb-tab {
      padding: 0;
    }
  }
}

@media all and (max-width: $tab-width) {
  .user-content {
    padding: $space-8 0 $space-32;
    margin-bottom: $space-32;
    border-radius: 0;

    nb-tabset {
      &::ng-deep {
        .tabset {
          overflow-x: auto;
          padding: 5px 0;
          justify-content: flex-start;

          li {
            a {
              padding: 10px 10px;
              span {
                white-space: nowrap;
              }
            }
          }
        }
      }

      nb-tab {
        padding: 0;
      }
    }
  }
}
