a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.labs-card-container {
  @apply com-flex com-flex-row;

  p,
  h4 {
    margin: 0;
  }

  .lab-header-image {
    @apply com-flex com-justify-center com-items-center md:com-w-[135px] md:com-h-[90px] com-w-[102px] com-h-[68px] com-overflow-hidden com-mr-4 com-rounded-[4px] com-flex-shrink-0;
  }

  .labs-card-content {
    @apply com-flex com-flex-col com-justify-between com-overflow-hidden;

    .labs-card-content-prefix {
      .heading {
        @apply com-flex com-flex-row com-justify-between md:com-mb-2 com-mb-1;
        .labs-card-title {
          @apply com-flex com-items-center md:com-mr-10 com-m-0 com-justify-between md:com-justify-normal;
          .title {
            @apply md:com-text-base com-text-sm com-text-Dark-Jungle-Green com-font-semibold com-line-clamp-1 com-mr-2;
          }
          .steps {
            @apply com-flex com-text-xs com-font-medium com-text-Azure;
          }
        }
        .tags {
          @apply com-overflow-hidden com-ml-auto com-h-6 md:com-flex com-hidden;
        }
      }

      .labs-card-date {
        @apply md:com-text-sm com-text-[10px] com-font-normal com-text-Auro-Metal-Saurus md:com-mb-2 com-mb-1;
      }
    }

    .labs-card-content-suffix {
      @apply com-flex com-justify-between md:com-w-[726px] com-w-auto;
      .labs-card-stats {
        @apply com-flex com-gap-4 md:com-ml-auto com-m-0;

        .labs-card-views,
        .labs-card-likes {
          @apply com-flex com-items-center com-text-Auro-Metal-Saurus;

          nb-icon {
            @apply com-h-[18px] com-w-[18px] com-mr-2px;
          }
          p {
            @apply com-text-sm com-font-normal com-m-0;
          }
        }
      }
    }
  }
}
