// @import './apps/commudle-admin/src/assets/styles/variables';

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.labs-card-container {
  @apply com-flex com-flex-row;
  // border: 1px solid $silver-sand;
  // border-radius: $border-5;
  // height: max-content;
  // overflow: hidden;

  p,
  h4 {
    margin: 0;
  }

  .labs-card-header {
    @apply com-w-[135px] com-h-[90px] com-mr-4;
    // border-bottom: 1px solid $silver-sand;
    // border-top-left-radius: $border-5;
    // border-top-right-radius: $border-5;
    // display: block;
    // height: 134px;
    // overflow: hidden;

    // img {
    //   @apply com-h-full com-w-full com-object-cover com-object-center com-border-none;
    // };
  }

  .labs-card-content {
    @apply com-flex com-flex-col com-justify-between;
    // background-color: $white;
    // height: 130px;
    // padding: $space-12 $space-16 $space-8;

    .labs-card-content-prefix {
      .heading {
        @apply com-flex com-flex-row com-justify-between com-mb-2;
        .labs-card-title {
          @apply com-flex com-items-center;
          .title {
            @apply com-text-base com-text-Dark-Jungle-Green com-font-semibold com-line-clamp-1 com-mr-2;
          }
          .steps {
            @apply com-text-xs com-font-medium com-text-Azure;
          }
        }
        .tags {
        }
      }

      .labs-card-date {
        @apply com-text-sm com-font-normal com-text-Auro-Metal-Saurus com-mb-2;
      }
    }

    .labs-card-content-suffix {
      @apply com-flex com-justify-between com-w-[726px];
      .labs-card-stats {
        @apply com-flex com-gap-4 com-ml-auto;

        // p,
        // nb-icon {
        //   color: $neon-blue;
        //   font-size: $fs-card-secondary;
        //   margin-right: $space-4;
        // }

        .labs-card-views {
          @apply com-flex com-items-center;
          // p,
          nb-icon {
            @apply com-h-[18px] com-w-[18px] com-mr-2px;
          }
          p {
            @apply com-text-sm com-font-normal com-m-0;
          }
        }

        .labs-card-likes {
          // app-votes-display {
          //   &::ng-deep {
          //     p {
          //       font-size: $fs-card-secondary;

          //       span {
          //         color: $neon-blue;
          //         font-size: $fs-card-secondary;
          //       }
          //     }

          //     nb-icon {
          //       font-size: $fs-card-secondary;

          //       &:not(.voted-heart) {
          //         color: $neon-blue;
          //       }
          //     }
          //   }
          // }
        }
      }
    }
  }
}
