<div class="labs-card-container">
  <a class="labs-card-header clickable" routerLink="{{ lab.slug }}">
    <commudle-banner-image
      [headerImagePath]="lab.header_image ? lab.header_image?.i350 : staticAssets.community_build_empty_state"
      [name]="lab.name"
      [topRightCurve]="false"
      [topLeftCurve]="false"
      [bottomRightCurve]="false"
      [bottomLeftCurve]="false"
      [aspectRatio]="'3/2'"
    ></commudle-banner-image>
  </a>
  <div class="labs-card-content">
    <a class="labs-card-content-prefix" routerLink="{{ lab.slug }}">
      <div class="heading">
        <div class="labs-card-title">
          <h4 class="title">{{ lab.name }}</h4>
          <p class="steps">STEPS</p>
        </div>
        <!-- <div *ngIf="lab.tags > 0" class="tags">
          <app-tag
            [tags]="getTagNames()"
            [backgroundColor]="'rgba(0, 149, 255, 0.1)'"
            [size]="'tiny'"
            [fontColor]="'#0095FF'"
            [maximumTag]="3"
          ></app-tag>
        </div> -->
      </div>
      <p class="labs-card-date">{{ lab.published_at | date }}</p>
    </a>

    <div class="labs-card-content-suffix">
      <app-user-profile-card-medium [user]="lab.user"></app-user-profile-card-medium>
      <div class="labs-card-stats">
        <div class="labs-card-views">
          <nb-icon icon="eye-outline"></nb-icon>
          <p>{{ lab.visits }}</p>
        </div>
        <div class="labs-card-likes d-flex align-items-center">
          <app-votes-display [icon]="'heart-outline'" [votableId]="lab.id" [votableType]="'Lab'"></app-votes-display>
        </div>
      </div>
    </div>
  </div>
</div>
