<nb-card *ngIf="channels.length > 0">
  <nb-card-header> All Channels </nb-card-header>
  <nb-card-body class="channels-list-cards">
    <div *ngFor="let channel of channels">
      <a [routerLink]="[channel.id]">
        <div class="channel-list-card">
          <div>
            <p class="name">{{ channel.name }}</p>
            <p class="members-count">{{ channel.member_count }} members</p>
            <p class="descriptions">{{ channel.description }}</p>
          </div>
        </div>
      </a>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="channels.length === 0">
  <nb-card-body class="empty-state">
    <div>
      <p class="heading">No Channels Available</p>
      <p class="sub-heading">You can create one by clicking the plus button on the left menu</p>
    </div>
  </nb-card-body>
</nb-card>
