<div class="communities-featured-container">
  <h2 class="communities-featured-heading">Featured Communities</h2>
  <div *ngIf="skeletonLoaderCard" class="skeleton-vertical-cards">
    <commudle-skeleton-vertical-cards [cards]="6"></commudle-skeleton-vertical-cards>
  </div>
  <div class="communities-featured-list">
    <div *ngFor="let featuredCommunity of featuredCommunities" class="featured-community-card">
      <!-- <div class="featured-community-actions d-flex">
        <a [routerLink]="['/communities', featuredCommunity.kommunity.slug, 'members']">
          <button class="featured-community-members-btn" nbButton shape="round" size="small">
            <nb-icon icon="people"></nb-icon>
          </button>
        </a>
        <app-share-button
          [content]="environment.app_url + '/communities/' + featuredCommunity.kommunity.slug"
          [title]="featuredCommunity.kommunity.name"
          [text]="featuredCommunity.reason"
          [url]="environment.app_url + '/communities/' + featuredCommunity.kommunity.slug"
          [showText]="false"
          [round]="true"
        ></app-share-button>
      </div> -->
      <a [routerLink]="['/communities', featuredCommunity.community.slug]">
        <!-- <div class="clickable featured-community-image-container">
          <img
            alt="{{ featuredCommunity.kommunity.name }}"
            class="featured-community-image"
            src="{{ featuredCommunity.kommunity.logo_image?.url }}"
            title="{{ featuredCommunity.kommunity.name }}"
          />
        </div> -->
        <div class="banner">
          <div class="banner-image">
            <img
              alt="{{ featuredCommunity.community.name }} Profile Banner"
              *ngIf="featuredCommunity.community.banner_image"
              src="{{ featuredCommunity.community.banner_image.i320 }}"
              title="{{ featuredCommunity.community.name }} Profile Banner"
            />
            <div *ngIf="!featuredCommunity.community.banner_image" class="no-banner-image"></div>
          </div>
          <div class="community-image">
            <img
              alt="{{ featuredCommunity.community.name }}"
              src="{{ featuredCommunity.community.logo_image?.i64 }}"
              title="{{ featuredCommunity.community.name }}"
            />
          </div>
        </div>
        <div class="clickable featured-community-about">
          <h3 class="featured-community-name">{{ featuredCommunity.community.name }}</h3>
          <p class="featured-community-reason">{{ featuredCommunity.reason }}</p>
          <div class="members-events">
            <p class="members">
              <nb-icon icon="people-outline"></nb-icon>{{ featuredCommunity.community.member_count }}
            </p>
            <p class="events-organized"><nb-icon icon="calendar-outline"></nb-icon>count</p>
          </div>
          <!-- <div class="featured-community-tags">
            <app-tag
              [tags]="getTagNames()"
              [backgroundColor]="'rgba(0, 149, 255, 0.1)'"
              [size]="'tiny'"
              [fontColor]="'#101828'"
              [maximumTag]="5"
            ></app-tag>
          </div> -->
        </div>
      </a>
      <div class="community-join-btn">
        <app-membership-toggle
          [community]="featuredCommunity.community"
          [status]="'info'"
          [shapes]="'semi-round'"
          [isMobileWidthFull]="true"
        ></app-membership-toggle>
      </div>
    </div>
  </div>
</div>
