<div class="settings">
  <nb-card>
    <nb-card-body>
      <p *ngIf="invitation" class="text-center">
        You are being invited to the Stage!
      </p>
      <div class="local-video">
        <video #previewVideo autoplay [muted]="true" playsinline></video>
        <div class="controls">
          <button nbButton ghost (click)="toggleCamera()">
            <nb-icon icon="{{camera ? 'video' : 'video-off'}}"></nb-icon>
          </button>
          <button nbButton ghost (click)="toggleMic()">
            <nb-icon icon="{{mic ? 'mic' : 'mic-off'}}"></nb-icon>
          </button>
        </div>
      </div>
      <div class="sources d-flex flex-column mt-4">
        <!-- video source -->
        <label>
          Video Device
          <nb-select
            name="videoDevices"
            status="primary"
            size="tiny"
            [selected]="selectedVideoDevice"
            fullWidth
            (selectedChange)="setVideoDevice($event)"
            >
            <nb-option *ngFor="let dev of videoDevices" [value]="dev"> {{dev.label}} </nb-option>
          </nb-select>
        </label>

        <!-- mic source -->
        <label>
          Audio Device
          <nb-select
            name="audioDevices"
            status="primary"
            size="tiny"
            [selected]="selectedAudioDevice"
            fullWidth
            (selectedChange)="setAudioDevice($event)"
            >
            <nb-option *ngFor="let dev of audioDevices" [value]="dev"> {{dev.label}} </nb-option>
          </nb-select>
        </label>
      </div>

      <div>
        <!-- <button nbButton status="primary" outline fullWidth (click)="joinRoom()">
          Join
        </button> -->
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-space-around">
      <button *ngIf="!onStage" nbButton status="success" size="tiny" (click)="emitJoinStage()">
        <nb-icon icon="cast"></nb-icon>
        Join Stage
      </button>
      <button nbButton status="info" size="tiny" (click)="close()">
        Close
      </button>

    </nb-card-footer>
  </nb-card>

</div>
