<div (click)="openPrizeFormDialogBox(addPrizeDialogBox)" class="add-prize-button">
  <fa-icon [icon]="icons.faPlus"></fa-icon>
  <br />
  <span>Add Prize</span>
</div>

<div class="hackathon-prize-cards">
  <div *ngFor="let hackathonPrize of hackathonPrizes; let i = index">
    <commudle-hackathon-prize-card
      (destroyPrizeEvent)="confirmDeleteDialogBox(deletePrizeDilaogBox, $event, i)"
      (editPrizeEvent)="openPrizeFormDialogBox(addPrizeDialogBox, $event, i)"
      [hackathonPrize]="hackathonPrize"
    ></commudle-hackathon-prize-card>
  </div>
</div>

<ng-template #addPrizeDialogBox let-data let-ref="dialogRef">
  <nb-card class="prize-form">
    <nb-card-header>
      <span> {{ data.prize ? 'Edit Prize' : 'New Prize' }}</span>
      <button (click)="ref.close()" ghost nbButton shape="round" size="tiny">
        <fa-icon [icon]="icons.faXmark"></fa-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="prizeForm">
        <!-- name -->
        <div>
          <label for="name">Name*</label>
          <input formControlName="name" fullWidth id="name" nbInput placeholder="Name" type="text" />
        </div>

        <!-- hackathon_track_id -->
        <div>
          <label for="hackathon_track_id">Select Track</label>
          <br />
          <select
            [ngClass]="{
              'com-text-[#8E9BB3]': prizeForm.get('hackathon_track_id').value === null
            }"
            class="!com-w-full"
            formControlName="hackathon_track_id"
            id="hackathon_track_id"
            name="hackathon_track_id"
          >
            <option [value]="null" disabled selected>Select Track</option>
            <option value="">No Track</option>
            <option *ngFor="let track of hackathonTracks" [value]="track.id">{{ track.name }}</option>
          </select>
        </div>

        <!-- order -->
        <div>
          <label for="order">Order*</label>
          <br />
          <select
            [ngClass]="{
              'com-text-[#8E9BB3]': prizeForm.get('order').value === ''
            }"
            class="!com-w-full"
            formControlName="order"
            id="order"
            name="order"
          >
            <option disabled selected value="">Select Order</option>
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="3">3</option>
          </select>
        </div>

        <!-- prize_amount -->
        <div>
          <label for="prize_amount">Prize Amount</label>
          <div class="prize-amount">
            <select formControlName="currency_type" name="currency_type">
              <option [value]="countryDetails[0].currency" selected>
                {{ countryDetails[0].currency }} ({{ countryDetails[0].symbol }})
              </option>
              <option *ngFor="let countryDetail of countryDetails.slice(1)" [value]="countryDetail.currency">
                {{ countryDetail.currency }} ({{ countryDetail.symbol }})
              </option>
            </select>
            <input formControlName="prize_amount" fullWidth id="prize_amount" nbInput placeholder="100" type="text" />
          </div>
        </div>

        <!-- no_of_winners -->
        <div>
          <label for="no_of_winners">Number of winners*</label>
          <input
            formControlName="no_of_winners"
            fullWidth
            id="no_of_winners"
            nbInput
            placeholder="No of winners"
            type="number"
          />
        </div>

        <!-- Description -->
        <div>
          <label for="description">Description*</label>
          <editor [init]="tinyMCE" formControlName="description" id="description"></editor>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button
        (click)="data.prize ? updatePrize(data.prize.id, data.index) : createPrize(); ref.close()"
        [disabled]="prizeForm.invalid || !prizeForm.dirty"
        fullWidth
        nbButton
        status="primary"
      >
        {{ data.prize ? 'update' : 'save' }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #deletePrizeDilaogBox let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <span>Confirm delete Prize</span>
      <button (click)="ref.close()" ghost nbButton>
        <fa-icon [icon]="icons.faXmark"></fa-icon>
      </button>
    </nb-card-header>
    <nb-card-body>Are you sure, you want to delete Prize?</nb-card-body>
    <nb-card-footer>
      <button (click)="deletePrize(data.prizeId, data.index); ref.close()" nbButton status="primary">Delete</button>
      <button (click)="ref.close()" nbButton outline status="danger">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
