<div *ngIf="eventLocations.length > 0">
  <nb-card>
    <nb-card-header>
      <h6>
        <nb-icon icon="pin-outline"></nb-icon>
        Schedule
      </h6>
    </nb-card-header>
    <nb-card-body>
      <h6>Upcoming Events</h6>
      <div class="event-upcoming">
        <nb-card *ngFor="let slot of getUpcomingEvents()">
          <nb-card-body>
            <div class="upcoming-session-time">
              <nb-icon icon="clock-outline"></nb-icon>&nbsp;
              <p>{{ moment(slot.start_time).format('h:m A') }}</p>
            </div>
            <p class="upcoming-session-title">{{ slot.session_title }}</p>
            <nb-actions size="small">
              <nb-action *ngIf="slot.user">
                <nb-user name="{{ slot.user.name }}" picture="{{ slot.user.avatar }}" showTitle="false"
                         size="small"></nb-user>
              </nb-action>
              <nb-action>
                <a [queryParams]="{track_slot_id: slot.id}"
                   [routerLink]="['/communities', community.slug, 'events', event.slug, 'session']" target="_blank">
                  <nb-icon icon="external-link"></nb-icon>
                </a>
              </nb-action>
            </nb-actions>
          </nb-card-body>
        </nb-card>
      </div>

      <h6>All Events</h6>
      <nb-tabset>
        <nb-tab *ngFor="let el of eventLocations; let i = index;"
                tabIcon="{{ getTabIcon(el) }}" tabTitle="{{ getLocationName(el) }}">
          <app-event-location-tracks
            (updateSessionPreference)="updateSessionPreference($event, i)"
            *ngIf="el.location"
            [community]="community"
            [eventLocation]="el"
            [event]="event"
          ></app-event-location-tracks>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
</div>
