.header {
  @apply md:com-max-h-[460px] com-max-h-full;
  .background {
    @apply com-relative com-m-0 com-p-0 com-w-full com-h-full com-bg-no-repeat com-bg-center;

    .base-layout {
      @apply com-min-h-full;
      .content {
        @apply com-flex md:com-rounded-lg com-rounded-none md:com-flex-row com-flex-col md:com-justify-between com-items-center md:com-w-[1280px] com-h-full;
        .header-text {
          @apply com-flex com-flex-col md:com-p-0 com-px-4 md:com-pt-[72px] com-pt-10 com-pb-0 md:com-w-[664px] md:com-min-h-[386px] com-w-full com-min-h-full com-h-full;

          .heading {
            @apply com-flex com-items-center com-mt-0 com-mb-4 com-text-tWhite;
          }

          .sub-heading {
            @apply com-m-0 com-mx-0 md:com-mb-3 com-mb-2 com-text-tWhite;
          }

          .content {
            ::ng-deep {
              p {
                @apply com-m-0 com-mx-0 md:com-mb-[50px] com-mb-6 com-text-tWhite md:com-w-[664px] com-w-full;
              }
            }
          }
        }

        .header-image {
          @apply com-flex com-items-center com-m-0 com-h-[300px] md:com-h-[386px] md:com-pt-[72px];
          img {
            @apply com-h-full com-mx-auto;
          }
        }
      }
    }
  }
}
