nb-tabset nb-tab {
  padding: 0;
}

nb-card-body {
  @apply com-pb-0;
  h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

nb-card {
  @apply com-mx-0 com-mb-0 com-mt-4 md:com-rounded-[10px] com-rounded-none;

  nb-card-header {
    @apply com-flex com-flex-row com-items-center com-py-4 md:com-px-6 com-px-4;
    h6 {
      @apply com-m-0 md:com-font-semibold com-font-bold;
    }

    .share-btn {
      @apply com-ml-4;
      a {
        @apply com-flex com-items-center com-no-underline;

        span {
          @apply com-text-sm com-font-medium;
        }

        nb-icon {
          @apply com-pl-1 com-text-lg;
        }
      }
    }
  }
  .event-upcoming {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 719px;

    nb-card {
      width: 250px;
      margin: 10px;
      flex: 0 0 auto;

      nb-card-body {
        @apply md:com-px-6 com-px-4;
      }
    }

    .upcoming-session-time {
      margin-bottom: 0.5rem;
      text-align: center;
      font-size: 0.9rem;

      nb-icon {
        font-size: 0.95rem;
        color: lightslategray;
      }

      p {
        margin: 0;
        display: inline-block;
        color: lightslategray;
      }
    }

    .upcoming-session-title {
      font-size: large;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    .track-name {
      font-size: 0.9rem;
      margin-top: 0;
      text-align: center;
    }

    nb-actions {
      justify-content: center;
    }
  }
}
