<nb-card *ngIf="channels.length > 0">
  <nb-card-header>
    All Channels
    <nb-actions>
      <nb-action (click)="toggleCommunityListDisplay()" class="channel-list-menu-button" icon="menu-arrow"></nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-card-body class="channels-list-cards">
    <ng-container *ngFor="let channel of channels">
      <a [routerLink]="[channel.id]">
        <div class="channel-list-card">
          <div class="prefix d-flex">
            <div class="image">
              <img
                alt="{{ channel.name }}"
                src="{{ channel.logo || community.logo_path }}"
                title="{{ channel.name }}"
              />
            </div>
            <div class="details">
              <p class="name com-line-clamp-2">{{ channel.name }}</p>
              <p class="member-count">{{ channel.member_count }} Members</p>
            </div>
          </div>
          <div [innerHTML]="channel.description | linky: { sanitizeHtml: true }" class="about com-line-clamp-14"></div>
          <div
            *ngIf="channelRoles[channel.id]"
            class="channel-join"
            [ngSwitch]="
              channelRoles[channel.id].includes(EUserRoles.COMMUNITY_CHANNEL_ADMIN) ||
              channelRoles[channel.id].includes(EUserRoles.COMMUNITY_CHANNEL_MEMBER)
            "
          >
            <button class="join-btn anim-shadow" *ngSwitchCase="false" nbButton size="small">
              <nb-icon [icon]="'plus'"></nb-icon>
              Join
            </button>
            <button class="join-btn anim-shadow" *ngSwitchCase="true" nbButton size="small">
              <nb-icon [icon]="'checkmark'"></nb-icon>
              Joined
            </button>
          </div>
        </div>
      </a>
    </ng-container>
  </nb-card-body>
</nb-card>
