<nb-card *ngIf="channels.length > 0">
  <nb-card-header>
    All Channels
    <nb-actions>
      <nb-action (click)="toggleCommunityListDisplay()" class="channel-list-menu-button" icon="menu-arrow"></nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-card-body class="channels-list-cards">
    <ng-container *ngFor="let channel of channels">
      <a [routerLink]="[channel.id]">
        <div class="channel-list-card">
          <div class="prefix d-flex">
            <div class="image">
              <img
                alt="{{ channel.name }}"
                src="{{ channel.logo || community.logo_path }}"
                title="{{ channel.name }}"
              />
            </div>
            <div class="details">
              <p class="name com-line-clamp-2">{{ channel.name }}</p>
              <p class="member-count">{{ channel.member_count }} Members</p>
            </div>
          </div>
          <div [innerHTML]="channel.description | linky: { sanitizeHtml: true }" class="about com-line-clamp-14"></div>
          <div class="enter-channel-btn-container">
            <button class="enter-channel-btn" nbButton fullWidth size="small">
              Enter Channel
              <nb-icon [icon]="'arrow-forward-outline'"></nb-icon>
            </button>
          </div>
        </div>
      </a>
    </ng-container>
  </nb-card-body>
</nb-card>
