<div class="base-layout">
  <div class="container">
    <div class="two-column-layout">
      <div class="right-column">
        <nb-card class="filter-section">
          <nb-card-header>
            <h6>Filter</h6>
          </nb-card-header>
          <nb-card-body class="filter">
            <form #filterForm="ngForm" (ngSubmit)="formSubmit(filterForm)">
              <p>Category</p>
              <input id="internship" name="category" ngModel type="radio" value="internship" />
              <label for="internship">Internship</label><br />
              <input id="job" name="category" ngModel type="radio" value="job" />
              <label for="job">Job</label>

              <p>Salary</p>
              <div class="custom-ngx-slider salary">
                <!-- <p>Min value: <input type="number" name="salary" [(ngModel)]="minSalary" /></p>
                <p>Max value: <input type="number" name="salary" [(ngModel)]="maxSalary" /></p> -->
                <ngx-slider
                  (highValueChange)="onHighValueChange($event)"
                  (valueChange)="onValueChange($event)"
                  [(highValue)]="maxSalary"
                  [(value)]="minSalary"
                  [options]="salary_options"
                ></ngx-slider>
              </div>
              <!-- <p>Experience</p>
              <div class="custom-ngx-slider experience">
                <ngx-slider
                  [(value)]="experience"
                  [options]="exp_options"
                  (valueChange)="onExpChange($event)"
                ></ngx-slider>
              </div> -->

              <p>Job Type</p>
              <input id="full_time" name="job_type" ngModel type="radio" value="full_time" />
              <label for="full_time">Full Time</label><br />
              <input id="part_time" name="job_type" ngModel type="radio" value="part_time" />
              <label for="part_time">Part Time</label>

              <p>Location</p>
              <input id="remote" name="location_type" ngModel type="radio" value="remote" />
              <label for="remote">Remote</label><br />
              <input id="local" name="location_type" ngModel type="radio" value="local" />
              <label for="local">Local</label>
            </form>
            <div class="form-button">
              <button (click)="filterReset(filterForm)" nbButton status="primary" type="submit">Reset</button>
              <button (click)="formSubmit(filterForm)" nbButton status="primary" type="submit">Filter</button>
            </div>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="main-column">
        <nb-card>
          <nb-card-header>
            <h1>Jobs</h1>
          </nb-card-header>
          <nb-card-body>
            <!--            <app-jobs-list-card [Jobs]="Jobs"></app-jobs-list-card>-->
            <!-- FIXME WHAT IF NO SEARCH FOUND IN FILTER -->
            <!-- <p *ngIf="Jobs.length < 1">No job Found With This filter</p> -->
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
