<div class="base-layout">
  <div class="container">
    <div class="two-column-layout">
      <div class="right-column">
        <nb-card>
          <nb-card-header>
            <h6>Filter</h6>
          </nb-card-header>
          <nb-card-body>
            <form (ngSubmit)="formSubmit(myform)" #myform="ngForm">
              <p>category</p>
              <input type="radio" id="internship" name="category" value="internship" ngModel />
              <label for="internship">Internship</label><br />
              <input type="radio" id="job" name="category" value="job" ngModel />
              <label for="job">Job</label>

              <p>Salary</p>
              <div class="custom-ngx-slider">
                <!-- <p>Min value: <input type="number" name="salary" [(ngModel)]="minSalary" /></p>
                <p>Max value: <input type="number" name="salary" [(ngModel)]="maxSalary" /></p> -->
                <ngx-slider
                  [(value)]="minSalary"
                  [(highValue)]="maxSalary"
                  [options]="options"
                  (valueChange)="onValueChange($event)"
                  (highValueChange)="onHighValueChange($event)"
                ></ngx-slider>
              </div>

              <p>Job Type</p>
              <input type="radio" id="full_time" name="job_type" value="full_time" ngModel />
              <label for="full_time">full_time</label><br />
              <input type="radio" id="part_time" name="job_type" value="part_time" ngModel />
              <label for="part_time">part_time</label>

              <p>location_type</p>
              <input type="radio" id="remote" name="location_type" value="remote" ngModel />
              <label for="remote">remote</label><br />
              <input type="radio" id="local" name="location_type" value="local" ngModel />
              <label for="local">local</label>

              <button type="submit">Filter</button>
            </form>
            <button type="submit" (click)="freset(myform)">Reset</button>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="main-column">
        <nb-card>
          <nb-card-header>
            <h1>Jobs</h1>
          </nb-card-header>
          <nb-card-body>
            <app-jobs-list-card [Jobs]="Jobs"></app-jobs-list-card>
            <!-- FIXME WHAT IF NO SEARCH FOUND IN FILTER -->
            <!-- <p *ngIf="Jobs.length < 1">No job Found With This filter</p> -->
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
