@import '/projects/commudle-admin/src/assets/styles/variables';

.home-component {
  max-width: 976px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .page-header {
    // max-width: 976px;
    margin: $space-32 0 $space-64 0;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    text-align: center;

    .logo {
      display: flex;
      align-items: center;
      max-width: 208px;
      max-height: 208px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .details {
      h1 {
        font-weight: $fw-600;
        margin: $space-28 0 $space-8 0;
        line-height: 2.4rem;
        font-size: $fs-32;
      }

      .membership {
        display: flex;
        align-items: start;
        flex-direction: column;
        .membership-toggle {
          ::ng-deep {
            button {
              padding: $space-8;
              font-weight: $fw-400;
              background-color: #536EFF;
              color: white;
            }
            .select-button {
              padding: 4px;
              background-color:initial;
              color: initial;
            }
          }
        }

        .member-count {
          margin: 0;
          margin-bottom: $space-78;
          a {
            text-decoration: none;
            color: black;
          }
        }
      }

      .community-social-links {
        display: flex;
        align-items: center;

        nb-icon {
          color: #536EFF;
        }

        a {
          text-decoration: none;
          // margin: 0 0.5rem;
        }

        a:nth-of-type(1) {
          margin-left: 0;
        }
      }
    }

    @media screen and (min-width: $tab-width) {
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;

      .logo {
        margin-right: 5.5rem;
      }

      .details {
        .membership {
          flex-direction: column;
        }

        .community-social-links {
          justify-content: flex-start;
          margin-left: 312px;


          a {
            margin-left: 24px;
            nb-icon {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  @media all and (max-width: $mobile-width) {
    margin: auto 0;
    .page-header {
      align-self: center;
      .logo {
        margin: 0 auto;
      }
      .details {
        .membership {
          align-items: center;
        }
      }
    }
  }
}

.page-menu {
  //position: fixed;
  //background-color: white;
  width: 100%;
  //bottom: 0;
  //left: 0;
  z-index: 10;
  //box-shadow: 2px -5px 15px -7px lightgrey;

  nb-card {
    margin: 0;
    padding: 0;
    nb-card-body {
      padding: $space-20;
      padding-bottom: 0;
    }
  }

  .menu-items {
    display: flex;
    flex-wrap: nowrap;
    // width: 976px;


    a {
      margin: 0;
      padding: 0 $space-20 $space-16 $space-20;
      .title {
        margin-left: $space-8;
        align-self: center;
      }
      display: flex;
      font-size: $fs-14;
      cursor: pointer;
      text-decoration: none;
      color: black;
      // display: flex;
      // flex-direction: column;
      // align-items: center;

      //nb-icon {
      // color: grey !important;
      //}

      span {
        display: none;
        // font-size: 10px;
        // text-align: center;
      }
    }

    nb-icon {
      font-size: 1.5rem;
    }

    .active {
      border-bottom: 3px solid #29A5FF;
    }
  }

  @media screen and (min-width: $tab-width) {
    position: sticky;
    top: 3.5rem;
    box-shadow: none;
    nb-card {
      margin-bottom: 1rem;

      .menu-items {
        justify-content: flex-start;

        a {
          // margin-right: 1.5rem;

          span {
            display: inline;
          }
        }
      }
    }
  }
}
