@import './projects/commudle-admin/src/assets/styles/variables';

.home-component {
  .page-header {
    flex-direction: row;
    justify-content: flex-start;
    margin: $space-32 0 $space-64 0;

    .logo {
      @apply com-mr-20 com-h-52 com-w-52 com-object-contain;
    }

    .details {
      width: 100%;

      h1 {
        color: $gunmetal;
        font-size: $fs-32;
        font-weight: $fw-600;
        line-height: 38px;
        margin: $space-28 0 $space-8 0;
      }

      .membership {
        .member-count {
          margin: 0 0 $space-78 0;

          a {
            color: $gunmetal;
            text-decoration: none;
          }
        }

        .social-links-container {
          .membership-toggle {
            ::ng-deep {
              button {
                background-color: $neon-blue;
                color: $white;
                font-size: $fs-14;
                font-weight: $fw-400;
                padding: $space-8;
                text-transform: none;
              }

              nb-select {
                button {
                  background-color: initial;
                  color: initial;
                  padding: $space-4;
                }
              }
            }
          }

          .community-social-links {
            align-self: center;
            gap: $space-24;

            nb-icon {
              color: $neon-blue;
            }

            a {
              text-decoration: none;
            }
          }
        }
      }
    }

    @media screen and (max-width: $tab-width) {
      align-self: flex-start;

      .details {
        .membership {
          flex-direction: column;

          .social-links-container {
            flex-direction: column;
            gap: $space-24;
            justify-content: space-between;
            width: fit-content;

            .community-social-links {
              justify-content: space-between;

              a {
                nb-icon {
                  font-size: $fs-24;
                }
              }
            }
          }
        }
      }
    }
  }

  .router-outlet {
    width: 100%;
  }

  @media all and (max-width: $mobile-width) {
    margin: auto 0;

    .page-header {
      align-self: center;
      flex-direction: column;

      .logo {
        margin: 0 auto;
      }

      .details {
        text-align: center;

        .membership {
          align-items: center;

          .social-links-container {
            flex-direction: column;
            gap: $space-24;
            width: fit-content;

            .community-social-links {
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}

.page-menu {
  width: 100%;

  nb-card {
    margin: 0;

    nb-card-body {
      padding: $space-20 $space-20 0 $space-20;

      @media all and (max-width: $tab-width) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .menu-items {
    a {
      color: $gunmetal;
      cursor: pointer;
      font-size: $fs-14;
      height: fit-content;
      line-height: 16px;
      margin: 0;
      padding: 0 $space-24 $space-17 $space-24;
      text-decoration: none;

      nb-icon {
        color: rgba(47, 46, 65, 0.5);
      }

      .title {
        align-self: center;
        margin-left: $space-8;
      }

      span {
        display: none;
      }
    }

    nb-icon {
      font-size: $fs-24;
    }

    .active {
      border-bottom: 3px solid $blue-jeans;

      nb-icon,
      .title {
        color: $blue-jeans;
      }
    }
  }

  @media screen and (min-width: $tab-width) {
    nb-card {
      .menu-items {
        a {
          span {
            display: inline;
          }
        }
      }
    }
  }
}
