.home-component {
  .page-header {
    @apply com-flex-row com-content-start com-mx-0 com-mt-8 com-mb-16;

    .logo {
      @apply com-mr-20 com-h-40 com-w-40 lg:com-h-52 lg:com-w-52 com-object-contain;
    }

    .details {
      @apply com-w-full;

      h1 {
        @apply com-text-4xl com-font-semibold com-text-[#2f2e41] com-mx-0 com-mt-7 com-mb-2;
      }

      .membership {
        .member-count {
          @apply com-mx-0 com-mt-0 com-mb-[78px];

          a {
            text-decoration: none;
            @apply com-text-[#2f2e41];
          }
        }

        .social-links-container {
          .membership-toggle {
            ::ng-deep {
              button {
                text-transform: none;
                @apply com-p-2 com-font-normal com-text-[14px] com-text-white com-bg-[#536eff];
              }

              nb-select {
                button {
                  background-color: initial;
                  color: initial;
                  @apply com-p-1;
                }
              }
            }
          }

          .community-social-links {
            @apply com-self-center com-gap-6;

            nb-icon {
              @apply com-text-[#536eff];
            }

            a {
              text-decoration: none;
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      @apply com-self-start;

      .details {
        .membership {
          @apply com-flex-col;

          .social-links-container {
            @apply com-w-fit com-content-between com-gap-6 com-flex-col;

            .community-social-links {
              @apply com-content-between;

              a {
                nb-icon {
                  @apply com-text-[24px];
                }
              }
            }
          }
        }
      }
    }
  }

  .router-outlet {
    @apply com-w-full;
  }

  @media all and (max-width: 576px) {
    @apply com-mx-0 com-my-auto;

    .page-header {
      @apply com-items-center com-flex-col;

      .logo {
        @apply com-my-0 com-mx-auto;
      }

      .details {
        @apply com-items-center;

        .membership {
          @apply com-items-center;

          .social-links-container {
            @apply com-w-fit com-gap-6 com-flex-col;

            .community-social-links {
              @apply com-justify-between;
            }
          }
        }
      }
    }
  }
}

.page-menu {
  @apply com-w-full;

  nb-card {
    @apply com-m-0;

    nb-card-body {
      @apply com-pt-5 com-px-5 com-pb-0;

      @media all and (max-width: 768px) {
        @apply com-mx-0;
      }
    }
  }

  .menu-items {
    a {
      text-decoration: none;
      @apply com-text-[#2f2e41] com-text-sm com-leading-4 com-h-fit com-m-0 com-pt-0 com-px-6 com-pb-[17px] com-cursor-pointer;

      nb-icon {
        @apply com-text-[#2f2e4180];
      }

      .title {
        @apply com-self-center com-ml-2;
      }

      span {
        @apply com-hidden;
      }
    }

    nb-icon {
      @apply com-text-2xl;
    }

    .active {
      @apply com-border-0 com-border-b-[3px] com-border-solid com-border-[#29a5ff];

      nb-icon,
      .title {
        @apply com-text-[#29a5ff];
      }
    }
  }

  @media screen and (min-width: 768px) {
    nb-card {
      .menu-items {
        a {
          span {
            @apply com-inline;
          }
        }
      }
    }
  }
}
