.home-component {
  max-width: 1000px;
  margin: 0 auto;
  .page-header {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;

    .logo {
      width: 200px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }

    .details {
      h1 {
        margin-top: 0;
      }
      .member-count {
        a {
          text-decoration: none;
          color: black;
        }
      }

      .community-social-links {
        display: flex;
        justify-content: space-evenly;

        a {
          text-decoration: none;
          margin: 0 0.5rem;
        }
      }
    }


    @media screen and (min-width: 800px) {
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;

      .logo {
        margin-right: 1.5rem;
      }

      .details {
        .community-social-links {
          justify-content: flex-start;

          a {
            nb-icon {
              font-size: 1.5rem;
            }
          }
        }
      }
    }

  }
}


.page-menu {
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;


  nb-card {
    margin: 0;
  }

  box-shadow: 2px -5px 15px -7px lightgrey;

  .menu-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    justify-content: space-evenly;
    a {
      cursor: pointer;
      margin: 0 0.5rem;
      text-decoration: none;
      color: black;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      nb-icon {
        // color: grey !important;
      }
      span {
        display: none;
        // font-size: 10px;
        // text-align: center;
      }
    }
    nb-icon {

      font-size: 1.5rem;
    }

    .active {
      border-bottom: 3px solid #232b45;
    }
  }
  @media screen and (min-width: 800px){
    position: sticky;
    top: 3.5rem;
    box-shadow: none;
    nb-card {
      margin-bottom: 1rem;
      .menu-items {
        justify-content: flex-start;
        a {
          margin-right: 1.5rem;
          span {
            display: inline;
          }
        }
      }
    }

  }
}
