@import '/projects/commudle-admin/src/assets/styles/variables';

.home-component {
  // max-width: 1280px;
  margin: 0 232px;

  .page-header {
    margin: $space-32 0 $space-64 0;
    display: flex;
    flex-direction: column;
    text-align: center;

    .logo {
      display: flex;
      align-items: center;
      max-width: 208px;
      max-height: 208px;
      height: 208px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .details {
      h1 {
        font-weight: $fw-600;
        margin: $space-28 0 $space-8 0;
        // margin-bottom: $space-8;
        line-height: 2.4rem;
        font-size: $fs-32;
      }

      .membership {
        display: flex;
        align-items: start;
        flex-direction: column;

        .member-count {
          margin: 0;
          margin-bottom: $space-78;
          a {
            text-decoration: none;
            color: black;
          }
        }
      }

      .community-social-links {
        display: flex;
        justify-content: center;
        margin-top: $space-20;

        nb-icon {
          color: #536EFF;
        }

        a {
          text-decoration: none;
          margin: 0 0.5rem;
        }

        a:nth-of-type(1) {
          margin-left: 0;
        }
      }
    }

    @media screen and (min-width: 800px) {
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;

      .logo {
        margin-right: 5.5rem;
      }

      .details {
        .membership {
          flex-direction: column;
        }

        .community-social-links {
          justify-content: flex-start;
          margin-top: $space-10;
          margin-left: 312px;


          a {
            margin: 0 24px;
            nb-icon {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

.page-menu {
  //position: fixed;
  //background-color: white;
  //width: 100%;
  //bottom: 0;
  //left: 0;
  z-index: 10;
  //box-shadow: 2px -5px 15px -7px lightgrey;

  nb-card {
    margin: 0;
  }

  .menu-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    justify-content: space-evenly;


    a {
      cursor: pointer;
      margin: 0 0.5rem;
      text-decoration: none;
      color: black;
      // display: flex;
      // flex-direction: column;
      // align-items: center;

      //nb-icon {
      // color: grey !important;
      //}

      span {
        display: none;
        // font-size: 10px;
        // text-align: center;
      }
    }

    nb-icon {
      font-size: 1.5rem;
    }

    .active {
      border-bottom: 3px solid #232b45;
    }
  }

  @media screen and (min-width: 800px) {
    position: sticky;
    top: 3.5rem;
    box-shadow: none;
    nb-card {
      margin-bottom: 1rem;

      .menu-items {
        justify-content: flex-start;

        a {
          margin-right: 1.5rem;

          span {
            display: inline;
          }
        }
      }
    }
  }
}

@media all and (max-width: $mobile-width) {
  .home-component {
    margin: auto 0;
    .page-header {
      .logo {
        margin: 0 auto;
      }
      .details {
        .membership {
          align-items: center;
        }
      }
    }
  }
}
