@import '/projects/commudle-admin/src/assets/styles/variables';

.user-feed-post {
  border: 1px solid $platinum;
  border-radius: $border-10;

  .user-feed-post-prefix {
    padding: $space-16;

    .user-feed-post-details {
      nb-user {
        &::ng-deep {
          .user-name {
            font-size: $fs-h5;
            font-weight: $fw-600;
            color: $gunmetal;
          }

          .user-title {
            font-style: italic;
            color: $spanish-gray;
          }
        }
      }

      button {
        font-weight: $fw-400;
        text-transform: capitalize;
      }
    }

    .user-feed-post-content {
      margin-top: $space-28;
      font-size: $fs-h5;
      color: $gunmetal;
    }

    .user-feed-post-tags {
      margin-top: $space-20;
      gap: $space-4;

      .user-feed-post-tag {
        padding: 0 $space-8;
        font-size: $fs-h6;
        color: $neon-blue;
        background-color: $lavender;
        border-radius: $border-20;
      }
    }
  }

  .user-feed-post-images {
    height: 200px;
    overflow: auto;

    img {
      box-sizing: border-box;
      border: 0.5px solid $platinum;
      width: 32%;
      height: inherit;
      object-fit: cover;
      object-position: center;
      flex: 1;
    }
  }

  .user-feed-post-suffix {
    padding: $space-16;

    .user-feed-post-votes {
      color: $spanish-gray;
      font-size: $fs-h6;

      nb-icon {
        font-size: $fs-h4;
        color: rgba($brilliant-azure, 0.5);
      }
    }
  }
}

@media all and (max-width: $tab-width) {
  .user-feed-post {
    .user-feed-post-images {
      height: max-content;
      flex-direction: column;

      img {
        width: 100%;
      }
    }
  }
}
