<div class="com-flex com-justify-between com-items-center com-gap-2 com-container com-max-w-screen-xl com-px-2">
  <a [routerLink]="['/']">
    <img
      *appBreakpoints="'<=md'"
      alt="Commudle"
      class="com-d-block com-w-8 com-h-8 com-object-contain"
      src="/assets/images/commudle-logo72.png"
      title="Commudle"
    />
    <img
      *appBreakpoints="'>md'"
      alt="Commudle"
      class="com-d-block com-w-auto com-h-8 com-object-contain"
      src="/assets/images/commudle-logo-full.png"
      title="Commudle"
    />
  </a>

  <div class="home-navbar">
    <app-search-box class="com-col-span-3 md:com-col-span-1 md:com-justify-self-start"></app-search-box>

    <app-navbar-menu *appBreakpoints="'>md'" class="com-justify-self-center"></app-navbar-menu>

    <div class="com-justify-self-end">
      <img
        *ngIf="currentUser; else guest"
        [alt]="currentUser.name"
        [nbContextMenu]="userContextMenu"
        [src]="currentUser.photo.i64"
        class="com-w-9 com-h-9 md:com-w-11 md:com-h-11 com-object-cover com-rounded-full com-self-end"
      />
      <ng-template #guest>
        <button (click)="login()" *appBreakpoints="'>lg'" nbButton outline size="small">Login / Signup</button>
        <button (click)="login()" *appBreakpoints="'<=lg'" nbButton outline size="small" title="Login / Signup">
          <nb-icon icon="log-in-outline"></nb-icon>
        </button>
      </ng-template>
    </div>
  </div>

  <div (click)="toggleSidebar()" class="home-sidebar">
    <fa-icon [icon]="faBars"></fa-icon>
    <nb-badge
      *ngIf="sideBarState === 'collapsed' && sideBarNotifications"
      position="top end"
      status="danger"
    ></nb-badge>
  </div>
</div>
