<div class="com-flex com-justify-between com-items-center com-gap-2">
  <a [routerLink]="['/']">
    <img
      alt="Commudle"
      class="com-d-block com-w-8 com-h-8 md:com-w-12 md:com-h-12 com-object-contain"
      src="/assets/images/commudle-logo72.png"
      title="Commudle"
    />
  </a>

  <div class="home-navbar">
    <app-search-box class="com-col-span-3 md:com-col-span-1 md:com-justify-self-start"></app-search-box>

    <app-navbar-menu
      *appBreakpoints="'>md'"
      [currentUser]="currentUser"
      class="com-justify-self-center"
    ></app-navbar-menu>

    <div class="com-justify-self-end">
      <img
        *ngIf="currentUser; else guest"
        [alt]="currentUser.name"
        [nbContextMenu]="userContextMenu"
        [src]="currentUser.avatar"
        class="com-w-9 com-h-9 md:com-w-11 md:com-h-11 com-object-cover com-rounded-full com-self-end"
      />
      <ng-template #guest>
        <button (click)="login()" nbButton size="small">Login</button>
      </ng-template>
    </div>
  </div>

  <div (click)="toggleSidebar()" class="home-sidebar">
    <fa-icon [icon]="faBars"></fa-icon>
    <nb-badge
      *ngIf="sideBarState === 'collapsed' && sideBarNotifications"
      position="top end"
      status="danger"
    ></nb-badge>
  </div>
</div>
