<div [routerLink]="['/feed', feedItem.id]" class="clickable external-feed-list-item">
  <nb-card>
    <nb-card-body>
      <div class="image" *ngIf="feedItem.details.image.length > 0 ">
        <img src="{{ feedItem.details.image }}" alt="{{ feedItem.details.source }}">
      </div>
      <div class="source-details align-items-center d-flex">
        <div class="external-feed-post-source-image d-flex align-items-center">
          <img alt="{{ feedItem.details.source }}" src="{{ sourceImagePath }}">
        </div>
        <div class="source-info">
          <em> {{ feedItem.details.source}} </em> <br>
          <small> {{ feedItem.details.created_at.substr(0, 10) }} </small>
        </div>
      </div>
      <div class="title">
        <h3 class="name">
          {{ feedItem.details.title }}
        </h3>
      </div>
      <div class="tags" *ngFor="let tag of feedItem.details.tags">
        <span class="tag-hash">#</span> {{ tag.name }}
      </div>
      <div class="stats d-flex align-items-center">
        <p class="stars">
          <app-votes-display [votableType]="'ISingleExternalFeed'" [votableId]="feedItem.id" [icon]="'heart'">
          </app-votes-display>
        </p>
        <p class="comments" [routerLink]="['/feed', feedItem.id]">
          <span *ngIf="feedItem.messages_count > 0">
            {{ feedItem.messages_count }}
          </span>
          <nb-icon icon="message-circle-outline"></nb-icon>
        </p>
      </div>
    </nb-card-body>
  </nb-card>
</div>
