<nb-list
  (scrolled)="getNotifications()"
  [infiniteScrollDisabled]="!(canLoadMore && total)"
  appInfiniteScroll
  class="notification-list"
>
  <nb-list-item
    *ngFor="let notification of notifications"
    [ngClass]="{ active: notification.status === ENotificationStatuses.UNREAD }"
  >
    <div class="notification-card">
      <div
        *ngIf="
          notification.sender_type === ENotificationSenderTypes.USER ||
          notification.sender_type === ENotificationSenderTypes.KOMMUNITY
        "
      >
        <img
          *ngIf="notification.sender_type === ENotificationSenderTypes.USER"
          alt="{{ notification.sender.name }}"
          src="{{ notification.sender.photo.i64 }}"
        />
        <img
          *ngIf="notification.sender_type === ENotificationSenderTypes.KOMMUNITY"
          alt="{{ notification.sender.name }}"
          src="{{ notification.sender.logo_image.i64 }}"
        />
      </div>
      <div>
        <div class="details">
          <app-notifications-list-item
            (markRead)="changeStatus(ENotificationStatuses.READ, notification)"
            (notificationClicked)="changeStatus(ENotificationStatuses.INTERACTED, notification)"
            [ENotificationStatusesUnread]="notification.status === ENotificationStatuses.UNREAD"
            [notificationMessage]="notification.notification_message"
            [notificationType]="ENotificationSenderTypes.USER"
            [notification]="notification"
          ></app-notifications-list-item>
          <button
            (click)="changeStatus(ENotificationStatuses.READ, notification)"
            *ngIf="notification.status === ENotificationStatuses.UNREAD"
            class="mark-as-read"
            nbButton
            nbTooltip="Mark as read"
            size="small"
          >
            <nb-icon icon="checkmark-outline" size="tiny"></nb-icon>
          </button>
        </div>
        <p class="time">{{ moment(notification.created_at).fromNow() }}</p>
      </div>
    </div>
  </nb-list-item>
</nb-list>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
