<div>
  <form (ngSubmit)="updateCommunityDetails()" [formGroup]="communityForm" class="community-edit-details-form">
    <div formGroupName="community">
      <div role="group">
        <div>
          <label fullWidth>
            Name*
            <input formControlName="name" fullWidth nbInput type="text">
          </label>
        </div>
      </div>

      <div role="group">
        <div>
          <label>
            Logo*
            <input (change)="displaySelectedLogo($event)" accept="image/*" fullWidth nbInput type="file">
          </label>
        </div>
      </div>

      <div>
        <div *ngIf="uploadedLogo == null" class="uploaded-logo">
        </div>
        <div *ngIf="uploadedLogo" class="uploaded-logo-image">
          <img alt="uploaded-logo" src="{{uploadedLogo}}">
        </div>
      </div>

      <div role="group">
        <div>
          <label>
            Email*
            <input formControlName="contact_email" fullWidth nbInput type="text">
          </label>
        </div>
      </div>

      <div role="group">
        <div>
          <label>
            Location*
            <input formControlName="location" fullWidth nbInput type="text">
          </label>
        </div>
      </div>

      <div role="group">
        <div>
          <label>
            Website
            <input formControlName="website" fullWidth nbInput type="text">
          </label>
        </div>
      </div>

      <div class="about" role='group'>
        <label>
          About*
          <editor
            [init]="{
              height: 300,
              menubar: false,
              convert_urls: false,
              plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
              ],
              toolbar:
                'undo redo | formatselect | bold italic backcolor | \
                alignleft aligncenter alignright alignjustify | \
                bullist numlist outdent indent | removeformat | help'
            }"
            apiKey="e34vgv7ocd6ttka8t6qcd07g7lifas1y9lyve8ze1013nefs"
            formControlName="about">
          </editor>
        </label>
      </div>

      <div role="group">
        <div>
          <label>
            Mini Description*
            <input formControlName="mini_description" fullWidth nbInput type="text">
          </label>
        </div>
      </div>

      <div role="group">
        <div>
          <label>
            Facebook
            <input formControlName="facebook" fullWidth nbInput type="text">
          </label>
        </div>
      </div>

      <div role="group">
        <div>
          <label>
            Twitter
            <input formControlName="twitter" fullWidth nbInput type="text">
          </label>
        </div>
      </div>

      <div role="group">
        <div>
          <label>
            Github
            <input formControlName="github" fullWidth nbInput type="text">
          </label>
        </div>
      </div>

      <div role="group">
        <div>
          <label>
            Linkedin
            <input formControlName="linkedin" fullWidth nbInput type="text">
          </label>
        </div>
      </div>

      <div role="group">
        <div>
          <label fullWidth>
            Tags
            <app-tag (tagAdd)="onTagAdd($event)" (tagDelete)="onTagDelete($event)" [editable]="true"
                     [tags]="tags"></app-tag>
          </label>
        </div>
      </div>
    </div>

    <div>
      <button [disabled]="!communityForm.valid" nbButton status="primary" type="submit">
        Save
      </button>
    </div>

  </form>
</div>
