@import '/projects/commudle-admin/src/assets/styles/variables';

.user-contributions {
  .user-contributions-heading {
    margin: $space-40 0 $space-24;
    font-size: $fs-24;
    font-weight: $fw-600;
    line-height: 28px;
    color: $neon-blue;
  }

  .user-contributions-builds {
    .user-contributions-builds-cards {
      overflow: auto;
      gap: $space-32;
    }
  }

  .user-contributions-labs {
    .user-contributions-labs-cards {
      overflow: auto;
      gap: $space-32;
    }
  }

  .user-contributions-communities {
    .user-contributions-communities-cards {
      overflow: auto;
      gap: $space-32;
    }
  }
}
