<div class="user-contributions">
  <div *ngIf="labs && labs.length > 0" class="user-contributions-labs">
    <div class="user-contributions-heading">
      My Labs ({{labs.length}})
    </div>
    <div class="user-contributions-labs-cards d-flex">
      <app-user-lab-card *ngFor="let lab of labs" [lab]="lab"></app-user-lab-card>
    </div>
  </div>

  <div *ngIf="communities && communities.length > 0" class="user-contributions-communities">
    <div class="user-contributions-heading">
      My Communities ({{communities.length}})
    </div>
    <div class="user-contributions-communities-cards d-flex">
      <app-user-community-card *ngFor="let community of communities" [community]="community"></app-user-community-card>
    </div>
  </div>

  <div *ngIf="builds && builds.length > 0" class="user-contributions-builds">
    <div class="user-contributions-heading">
      My Builds ({{builds.length}})
    </div>
    <div class="user-contributions-builds-cards d-flex">
      <app-user-build-card *ngFor="let build of builds" [build]="build"></app-user-build-card>
    </div>
  </div>
</div>
