<div class="user-contributions">
  <div *ngIf="pastEvents && pastEvents.length > 0" class="section">
    <div class="header">
      My Talks at Events ({{pastEvents.length}})
    </div>
    <div #content class="content">
      <app-user-past-event-card *ngFor="let pastEvent of pastEvents" [pastEvent]="pastEvent"></app-user-past-event-card>
    </div>
    <div #navigation class="navigation active">
      <button (click)="scrollElement($event, -1)" nbButton shape="round">
        <nb-icon icon="arrow-back"></nb-icon>
      </button>
      <button (click)="scrollElement($event, 1)" nbButton shape="round">
        <nb-icon icon="arrow-forward"></nb-icon>
      </button>
    </div>
  </div>

  <div *ngIf="communities && communities.length > 0" class="section">
    <div class="header">
      Communities ({{communities.length}})
    </div>
    <div #content class="content">
      <app-user-community-card *ngFor="let community of communities" [community]="community"></app-user-community-card>
    </div>
    <div #navigation class="navigation active">
      <button (click)="scrollElement($event, -1)" nbButton shape="round">
        <nb-icon icon="arrow-back"></nb-icon>
      </button>
      <button (click)="scrollElement($event, 1)" nbButton shape="round">
        <nb-icon icon="arrow-forward"></nb-icon>
      </button>
    </div>
  </div>

  <div *ngIf="builds && builds.length > 0" class="section">
    <div class="header">
      Builds ({{builds.length}})
    </div>
    <div #content class="content">
      <app-user-build-card *ngFor="let build of builds" [build]="build"></app-user-build-card>
    </div>
    <div #navigation class="navigation active">
      <button (click)="scrollElement($event, -1)" nbButton shape="round">
        <nb-icon icon="arrow-back"></nb-icon>
      </button>
      <button (click)="scrollElement($event, 1)" nbButton shape="round">
        <nb-icon icon="arrow-forward"></nb-icon>
      </button>
    </div>
  </div>

  <div *ngIf="labs && labs.length > 0" class="section">
    <div class="header">
      Labs ({{labs.length}})
    </div>
    <div #content class="content">
      <app-user-lab-card *ngFor="let lab of labs" [lab]="lab"></app-user-lab-card>
    </div>
    <div #navigation class="navigation active">
      <button (click)="scrollElement($event, -1)" nbButton shape="round">
        <nb-icon icon="arrow-back"></nb-icon>
      </button>
      <button (click)="scrollElement($event, 1)" nbButton shape="round">
        <nb-icon icon="arrow-forward"></nb-icon>
      </button>
    </div>
  </div>
</div>
