@import '/projects/commudle-admin/src/assets/styles/variables';

.user-contributions {
  .section {
    position: relative;
    margin-bottom: $space-40;

    &:hover {
      .navigation.active {
        visibility: visible;
      }
    }

    .header {
      width: max-content;
      margin: 0 0 $space-24;
      padding-bottom: $space-8;
      font-size: $fs-24;
      font-weight: $fw-600;
      line-height: 28px;
      color: $gunmetal;
      border-bottom: 1px solid $chinese-silver;
    }

    .content {
      display: flex;
      overflow: hidden;
      gap: $space-32;
      padding-bottom: $space-16;
    }

    .navigation {
      visibility: hidden;
      pointer-events: none;
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      top: 50%;

      &:not(.active) {
        display: none;
      }

      button {
        margin: 0 $space-4;
        pointer-events: auto;
        border: none;
        background-color: $cyber-yellow;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);

        &:focus {
          box-shadow: none;
        }

        nb-icon {
          pointer-events: none;
          color: $white;
        }
      }
    }
  }
}

@media all and (max-width: $tab-width) {
  .user-contributions {
    .section {
      .content {
        overflow: auto;
      }
    }
  }
}
