.video-player-container {
  position: relative;
  height: 100%;
  width: 100%;
  .video-player {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: inherit;
    max-width: 100%;
    transform: translate(-50%,-50%);

    .filler {
      display: block;
      text-align: center;
      color: lightgrey;
      font-size: 1.2rem;
      margin-top: 2rem;
      nb-icon {
        font-size: 3.5rem;
        color: lightgrey;
      }
    }


    .external-link {
      text-align: center;

      p {
        font-size: 1.2rem;
        small {
          font-size: 0.8rem;
          nb-icon {
            font-size: 0.8rem;
          }
        }
      }
      nb-icon.video-outline {
        font-size: 3.5rem;
      }

      a {
        text-decoration: none;
      }
    }

  }
}
