<nb-card>
  <nb-card-body>
    <h4>Title</h4>
  </nb-card-body>
</nb-card>

<!-- <form [formGroup]="createNewsletterForm" class="newsletter-form">
  <div class="overview">
    <div>
      <input fieldSize="giant" formControlName="name" fullWidth nbInput placeholder="Type a name..."
             type="text">
      <span
        *ngIf="createNewsletterForm['controls'].name.touched && createNewsletterForm['controls'].name.invalid && createNewsletterForm['controls'].name.errors.required"
        class="validation-error-text">
        Required Field
      </span>
    </div>
    <div>
      <editor
        [init]="tinyMCE"
        apiKey="e34vgv7ocd6ttka8t6qcd07g7lifas1y9lyve8ze1013nefs"
        formControlName="description">
      </editor>
    </div>
  </div>
</form> -->


