<div class="username">
  <form (ngSubmit)="confirmSubmissionDialogueOpen()" [formGroup]="usernameForm">
    <div>
      <label>
        <p class="title">Choose a username for your public profile</p>
        <nb-form-field>
          <nb-icon icon="at-outline" nbPrefix></nb-icon>
          <input
            (change)="checkUsername()"
            fieldSize="medium"
            formControlName="username"
            nbInput
            fullWidth
            status="primary"
            type="text"
            class="username-input"
          />
          <nb-icon
            [icon]="validUsername || currentUser.username === currentUsername ? 'checkmark-outline' : 'close-outline'"
            [status]="validUsername || currentUser.username === currentUsername ? 'success' : 'danger'"
            nbSuffix
          ></nb-icon>
        </nb-form-field>
      </label>
      <p *ngIf="usernameForm.controls.username.errors" class="field-error">
        <commudle-alert
          [info]="true"
          [message]="'*Username cannot contain spaces & special characters'"
        ></commudle-alert>
      </p>
      <p
        *ngIf="!validUsername && currentUsername !== currentUser.username && !usernameForm.controls.username.errors"
        class="field-error"
      >
        <commudle-alert [info]="true" [message]="'*Username already taken'"></commudle-alert>
      </p>
    </div>
    <div *ngIf="showSaveButton">
      <button
        [disabled]="!validUsername || currentUsername === lastUsername || checkingUsername"
        [nbSpinner]="checkingUsername"
        nbButton
        size="small"
        status="success"
        type="submit"
      >
        Save
      </button>
    </div>
  </form>
</div>

<ng-template #confirmChangeUsername let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="text-center"> Confirmation</nb-card-header>
    <nb-card-body>
      <p>
        <nb-icon icon="info"></nb-icon>
        Are you sure you want to change your username?
      </p>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-start">
      <button (click)="ref.close()" ghost nbButton status="danger">No</button>
      <button (click)="setUsername()" nbButton status="success">Yes</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
