.communities-list-container {
  @apply com-m-0 md:com-p-0 com-px-4;

  .communities-list-prefix {
    @apply com-m-0 md:com-mt-0 com-mt-10;

    .communities-list-heading {
      @apply com-text-Dark-Jungle-Green com-text-2xl com-font-bold com-leading-30px;
    }
  }

  .communities-list-search {
    @apply com-flex com-justify-between com-items-center com-mt-6 com-mb-8 com-mx-0 com-gap-y-5 md:com-gap-0;

    .communities-list-search-bar {
      @apply md:com-w-[481px] com-w-full;
      nb-form-field {
        nb-icon {
          @apply com-h-4 com-w-4;
        }

        .communities-list-search-input {
          @apply com-rounded-lg com-text-xs com-h-8 com-py-2 com-px-8 md:com-w-[482px] com-w-full;
        }
      }
    }

    .tags {
      @apply com-m-0;

      nb-tag {
        @apply com-text-Dark-Jungle-Green com-border-0;
      }

      .activeTag {
        @apply com-bg-primary-500 com-text-tWhite;
      }
    }
  }

  .communities-list-cards {
    @apply com-flex com-flex-wrap md:com-grid md:com-grid-cols-3 com-gap-4;
  }

  .loading-spinner {
    @apply com-mt-4 com-flex com-justify-center;
  }

  .load-more {
    @apply com-flex com-justify-center com-mt-4;
  }
}
