<div class="communities-list-container" id="communities-list">
  <div class="communities-list-prefix d-flex justify-content-space-between align-items-center">
    <div class="communities-list-heading">Popular Communities</div>
    <!-- <div class="communities-list-navigation">
      <button (click)="changePage(-1)" class="communities-list-left-btn" nbButton>
        <nb-icon icon="arrow-ios-back"></nb-icon>
      </button>
      <button (click)="changePage(1)" class="communities-list-right-btn" nbButton>
        <nb-icon icon="arrow-ios-forward"></nb-icon>
      </button>
    </div> -->
  </div>
  <div class="communities-list-search d-flex flex-wrap align-items-center">
    <!-- <div class="communities-list-search-tags d-flex">
      <div
        (click)="changeTag(searchTag)"
        *ngFor="let searchTag of searchTags"
        [ngClass]="{ active: tag === searchTag }"
        class="clickable communities-list-search-tag"
      >
        {{ searchTag }}
      </div>
    </div> -->
    <div class="communities-list-search-bar">
      <nb-form-field>
        <nb-icon icon="search" nbPrefix></nb-icon>
        <input
          [formControl]="searchField"
          class="communities-list-search-input"
          nbInput
          size="tiny"
          type="text"
          placeholder="Search for communities, or type tech tags"
        />
      </nb-form-field>
    </div>
    <div class="tags">
      <nb-tag-list>
        <nb-tag
          appearance="outline"
          [text]="options[0]"
          status="basic"
          size="small"
          [removable]="events ? 'true' : 'false'"
          [ngClass]="{ activeTag: events }"
          (click)="filterByTags(options[0])"
        ></nb-tag>
        <nb-tag
          appearance="outline"
          [text]="options[1]"
          status="basic"
          size="small"
          [removable]="members ? 'true' : 'false'"
          [ngClass]="{ activeTag: members }"
          (click)="filterByTags(options[1])"
        ></nb-tag>
      </nb-tag-list>
    </div>
  </div>
  <!-- <app-skeleton-cards
    [cards]="4"
    [ImageShapeSquare]="true"
    [ImageShapeCircle]="false"
    *ngIf="showSkeletonCard"
  ></app-skeleton-cards> -->
  <div class="communities-list-cards">
    <app-communities-card *ngFor="let community of communities" [community]="community"> </app-communities-card>
  </div>
  <!-- <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner> -->
  <!-- <div class="load-more">
    <button
      *ngIf="canLoadMore && total && !showSpinner"
      (click)="getCommunityBuilds(); showSpinner = true"
      nbButton
      outline
      size="tiny"
      status="info"
      [disabled]="!canLoadMore || isLoading"
    >
      Load More
    </button>
  </div> -->
</div>
