<nb-card class="communities-list-container" id="communities-list">
  <nb-card-body>
    <div class="communities-list-prefix d-flex justify-content-space-between align-items-center">
      <div class="communities-list-heading">Popular Communities</div>
      <div class="communities-list-navigation">
        <button (click)="changePage(-1)" class="communities-list-left-btn" nbButton>
          <nb-icon icon="arrow-ios-back"></nb-icon>
        </button>
        <button (click)="changePage(1)" class="communities-list-right-btn" nbButton>
          <nb-icon icon="arrow-ios-forward"></nb-icon>
        </button>
      </div>
    </div>
    <div class="communities-list-search d-flex flex-wrap align-items-center">
      <div class="communities-list-search-tags d-flex flex-wrap">
        <div
          (click)="changeTag(searchTag)"
          *ngFor="let searchTag of searchTags"
          [ngClass]="{ active: tag === searchTag }"
          class="clickable communities-list-search-tag"
        >
          {{ searchTag }}
        </div>
      </div>
      <div class="communities-list-search-bar">
        <nb-form-field>
          <nb-icon icon="search" nbPrefix></nb-icon>
          <input [formControl]="searchField" class="communities-list-search-input" nbInput type="text" />
        </nb-form-field>
      </div>
    </div>
    <div class="communities-list-cards">
      <commudle-communities-list-card
        *ngFor="let community of communities"
        [community]="community"
      ></commudle-communities-list-card>
    </div>
  </nb-card-body>
</nb-card>
