:host {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.navigation-controls {
  @apply com-px-4 com-flex com-items-center com-justify-between sm:com-px-0;

  .pages {
    @apply com-hidden md:com-flex;

    .page {
      @apply com-text-gray-500 com-px-3 com-py-2 com-rounded com-inline-flex com-items-center com-text-sm com-font-medium hover:com-text-gray-700 hover:com-bg-gray-50;

      &.active {
        @apply com-text-blue-600 com-bg-blue-50;
      }
    }

    .more {
      @apply com-text-gray-500 com-pt-4 com-px-4 com-inline-flex com-items-center com-text-sm com-font-medium;
    }
  }
}
