@import './projects/commudle-admin/src/assets/styles/variables';

.profile-status-bar-container {
  background: #1ac7e340;
  height: 75px;

  .profile-status-bar-content {
    app-circular-progressive-bar {
      margin-right: 5px;
      position: relative;
      top: 2px;
    }

    p {
      font-weight: 500;
      font-size: medium;
    }

    button {
      margin-left: 5px;
    }
  }
}

@media all and (max-width: $tab-width) {
  .profile-status-bar-container {
    margin-top: 9px;
  }
}

@media all and (max-width: $mobile-width) {
  p {
    display: none;
  }
}
