<div class="community-build-details page-padding">

  <nb-card class="single-external-feed" *ngIf="SEFBuild">
    <nb-card-body>
      <div class="header">
        <div class="build-type">
          <app-badge
            [text]="SEFBuild.build_type | titlecase"
            [color]="SingleExternalFeedTypeDisplay[SEFBuild.build_type].color"
            [nbIcon]="SingleExternalFeedTypeDisplay[SEFBuild.build_type].icon"
          >
          </app-badge>
        </div>
        <h1>
          {{ SEFBuild.name }}
        </h1>
        <div class="tags">
          <app-badge *ngFor="let tag of SEFBuild.tags" [text]="tag" [color]="'#b7b7b7'"></app-badge>
        </div>
        <p class="author">
          {{ SEFBuild.user.name }} <span *ngIf="SEFBuild.user.designation">, {{ SEFBuild.user.designation }}</span>
          <br>
          <small>
            {{ moment(SEFBuild.created_at).format('Do MMM YYYY') }}
          </small>
        </p>
      </div>
      <div *ngIf="embedCode" class="embed" [innerHTML]="embedCode">
      </div>
      <div *ngIf="SEFBuild.link && !embedCode" class="link">
        <p>
          Visit the {{SEFBuild.build_type}}:
          <a target="_blank" href="{{ SEFBuild.link }}">
            {{ SEFBuild.link }}
            <nb-icon icon="external-link"></nb-icon>
          </a>
        </p>
      </div>
      <div class="description">
        <div [innerHTML]="SEFBuild.description"></div>
      </div>
      <div class="images" *ngIf="SEFBuild.images.length > 0">
        <div class="image-stripe">
          <div class="image clickable" *ngFor="let image of SEFBuild.images" (click)="openImage(SEFBuild.name, image)">
            <img src="{{ image.url }}" alt="{{ SEFBuild.name }}">
          </div>
        </div>
      </div>
      <div class="author-details">
        <app-user-profile-horizontal [user]="SEFBuild.user" [aboutMe]="true"
                                     [socialMediaLinks]="true"></app-user-profile-horizontal>
      </div>

      <div class="teammate-details" *ngIf="teammates.length > 0">
        <p>Teammates</p>
          <div *ngFor="let teammate of teammates;">
            <app-user-profile-horizontal [user]="teammate.user" [aboutMe]="true"></app-user-profile-horizontal>
          </div>
      </div>
      <div class="stats">
        <p class="stars">
          <app-votes-display
            [votableType]="'CommunityBuild'"
            [votableId]="SEFBuild.id"
            [icon]="'star'"
            [size]="'large'"
          >
          </app-votes-display>
          <span>
            Give a star to encourage!
          </span>
        </p>
      </div>

      <div class="comments" *ngIf="discussionChat">
        <p>Discussion</p>
        <app-discussion-chat [discussion]="discussionChat"></app-discussion-chat>
      </div>
    </nb-card-body>
  </nb-card>

</div>

<ng-template #imageTemplate>
  <div class="image-window">
    <img src="{{ this.currImage.url }}" alt="Image">
    <div class="controls">
      <button nbButton size="small" shape="round" (click)="imageNav(-1)">
        <nb-icon icon="arrow-ios-back-outline"></nb-icon>
        <span>Previous</span>
      </button>
      <button nbButton size="small" shape="round" (click)="imageNav(1)">
        <span>Next</span>
        <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
      </button>
    </div>
  </div>
</ng-template>
