<div class="speaker-session-details">
  <div class="card-row">
    <div class="card-session-details">
      <div class="session-details">
        <nb-card>
          <nb-card-body>
            <div>
              <div class="community">
                <app-community-badge [community]="community"></app-community-badge>
              </div>
              <p>
                <a [routerLink]="['/communities', community.slug, 'events', event.slug]">
                  {{ event.name }}
                </a>
              </p>
              <p class="visitors" *ngIf="userVisitData">
                <span *ngIf="userVisitData.visiting_users_count > 0">
                  {{userVisitData.visiting_users_count}} watching now
                </span>
              </p>
            </div>
            <div class="track-slot-details" *ngIf="trackSlot">
              <h4>
                {{trackSlot.session_title}}
              </h4>
            </div>

            <p *ngIf="moment().isBetween(moment(startTime), moment(endTime))">
              <span class="live-notification text-success">
                <nb-icon icon="flash"></nb-icon>
                Live Now!
              </span>
              <small>
                {{ moment(startTime).format('dddd Do MMM, YYYY h:mm A') }}
                -
                {{ moment(endTime).format('h:mm A') }}
              </small>
            </p>

          </nb-card-body>
        </nb-card>
      </div>

      <div *ngIf="speaker" class="speaker-details">
        <nb-card>
          <nb-card-body>
            <div>
              <app-user-profile-horizontal [user]="speaker" [size]="'medium'" [aboutMe]="true"></app-user-profile-horizontal>
            </div>
          </nb-card-body>
        </nb-card>
      </div>

      <div *ngIf="embeddedVideoStream" class="video-stream {{ embeddedVideoStream.source }}">
        <nb-card>
          <nb-card-body>
            <div>
            <app-video-stream
              [videoCode]="!currentUser ? false : embeddedVideoStream.embed_code"
              [videoSource]="embeddedVideoStream.source"
              [fillerText]="!currentUser ? 'Login to Access' : 'Loading Video...'"
              [width]="playerWidth"
              [height]="playerHeight"
            >
            </app-video-stream>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="card-live-discussion">
      <nb-card>
        <nb-card-body>
          <nb-tabset>
            <nb-tab tabTitle="Live Questions" *ngIf="discussion">
              <app-discussion-qna [discussion]="discussion"></app-discussion-qna>
            </nb-tab>
            <nb-tab tabTitle="Polls">
              <div *ngIf="pollableId && pollableType">
                <app-polls [pollableId]="pollableId" [pollableType]="pollableType"></app-polls>
              </div>
            </nb-tab>
           </nb-tabset>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="card-row" *ngIf="userVisitData">

    <nb-card class="visit-users" *ngIf="userVisitData.visiting_users.length > 0 && moment().isBetween(moment(startTime), moment(endTime))">
      <nb-card-header>You are watching this with</nb-card-header>
      <nb-card-body>
        <div class="visit-user" *ngFor="let user of userVisitData.visiting_users">
          <app-user-profile-horizontal [user]="user"></app-user-profile-horizontal>
        </div>
      </nb-card-body>
    </nb-card>


    <nb-card class="visit-users" *ngIf="userVisitData.visited_users.length >= 1 && moment() > moment(endTime)">
      <nb-card-header>People who attended</nb-card-header>
      <nb-card-body>
        <div class="visit-user" *ngFor="let user of userVisitData.visited_users">
          <app-user-profile-horizontal [user]="user"></app-user-profile-horizontal>
        </div>
      </nb-card-body>
    </nb-card>


  </div>

</div>
