<div #speakerSessionDetails [ngClass]="{'fullscreen': isFullscreen === true}" class="speaker-session-details">
  <div *ngIf="!isFullscreen" class="session-details">
    <nb-card>
      <nb-card-body>
        <div>
          <div class="community">
            <app-community-badge [community]="community"></app-community-badge>
          </div>
          <p>
            <a [routerLink]="['/communities', community.slug, 'events', event.slug]">
              {{ event.name }}
            </a>
          </p>
          <div *ngIf="trackSlot" class="track-slot-details">
            <h4>
              {{trackSlot.session_title}}
            </h4>
          </div>
        </div>

        <p *ngIf="moment().isBetween(moment(startTime), moment(endTime))" class="live-notification">
          <span class="live-notification text-success">
            <nb-icon icon="flash"></nb-icon>
            Live Now!
          </span>
          <small>
            {{ moment(startTime).format('dddd Do MMM, YYYY h:mm A') }}
            -
            {{ moment(endTime).format('h:mm A') }}
          </small>
        </p>
        <div *ngIf="speaker" class="speaker-details">
          <div>
            <app-user-profile-horizontal [aboutMe]="true" [size]="'medium'" [socialMediaLinks]="true"
                                         [user]="speaker"></app-user-profile-horizontal>
          </div>
        </div>
        <p *ngIf="userVisitData" class="visitors">
          <span *ngIf="userVisitData.visiting_users_count > 0">
            {{userVisitData.visiting_users_count}} watching now
          </span>
        </p>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="card-row">
    <div [ngClass]="{'maxWidth': sidebarMinimize}" class="card-session-details">
      <div #videoContainer class="video-stream">
        <app-auto-attendance *ngIf="this.event && moment().isBetween(moment(event.start_time), moment(event.end_time))"
                             [eventId]="this.event.id"></app-auto-attendance>
        <nb-icon icon="expand" (click)="toggleFullScreen(speakerSessionDetails)" *ngIf="!isFullscreen" class="fullscreen-button"
        nbButton size="tiny"></nb-icon>

        <div *ngIf="isBrowser && embeddedVideoStream" class="{{ embeddedVideoStream.source }}">
          <nb-card>
            <nb-card-body>
              <div>
                <app-video-stream
                  [currentUser]="currentUser"
                  [fillerText]="(!currentUser ? 'Login to Access' : ((moment() < moment(startTime)) ? ('Starting in ' + moment(startTime).fromNow(true)) : 'Loading Video...'))"
                  [height]="playerHeight"
                  [hmsRoomId]="embeddedVideoStream.hms_room_id"
                  [started]="moment() >= moment(startTime)"
                  [userEmail]="currentUser ? currentUser.email : ''"
                  [userName]="currentUser ? currentUser.name : ''"
                  [videoCode]="(!currentUser || (moment() < moment(startTime))) ? false : (embeddedVideoStream.embed_code || embeddedVideoStream.hms_room_id)"
                  [videoSource]="embeddedVideoStream.source"
                  [width]="playerWidth"
                  [zoomHostEmail]="embeddedVideoStream.zoom_host_email"
                  [zoomHostSignature]="embeddedVideoStream.zoom_host_signature"
                  [zoomPassword]="embeddedVideoStream.zoom_password"
                  [zoomSignature]="embeddedVideoStream.zoom_attendee_signature"
                >
                </app-video-stream>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>

    <div [ngClass]="{'minWidth': sidebarMinimize}" class="card-live-discussion">
      <nb-card>
        <nb-card-body>
          <button *ngIf="!sidebarMinimize" class="minimize-sidebar-button" ghost nbButton status="primary">
            <nb-icon (click)="toggleSidebar()" [ngStyle]="{'transform': 'rotate(-90deg)'}"
                     icon="download-outline"></nb-icon>
          </button>

          <nb-tabset (changeTab)="(currentTab = $event.tabId) && tabUpdate($event.tabId, 'open')" fullWidth responsive>
            <nb-tab
              *ngIf="embeddedVideoStream && isBrowser"
              [tabId]="'people'"
              tabIcon="people-outline"
              tabTitle="People {{ userCount > 0 ? ('('+userCount+')') : '' }}"
            >
              <app-users-list
                (userCount)="userCount = $event"
                [activeEvent]="moment().isBetween(moment(startTime), moment(endTime))"
                [embeddedVideoStream]="embeddedVideoStream"
                [event]="event"
                [isAdmin]="userRoles.includes(EUserRoles.ORGANIZER) || userRoles.includes[EUserRoles.EVENT_VOLUNTEER]"
              ></app-users-list>
            </nb-tab>
            <nb-tab
              *ngIf="chat"
              [tabId]="'chat'"
              badgeStatus="success"
              badgeText="{{ chatCount > 0 ? '('+chatCount+')' : '' }}"
              tabIcon="message-square-outline"
              tabTitle="Chat"
            >
              <app-discussion-chat
                (newMessage)="tabUpdate('chat', 'new')" [discussion]="chat"></app-discussion-chat>
            </nb-tab>
            <nb-tab
              *ngIf="discussion"
              [tabId]="'qna'"
              badgeStatus="success"
              badgeText="{{ questionCount > 0 ? '('+questionCount+')' : '' }}"
              tabIcon="question-mark-circle-outline"
              tabTitle="QnA">
              <app-discussion-qna (newMessage)="tabUpdate('qna', 'new')" [discussion]="discussion"></app-discussion-qna>
            </nb-tab>
            <nb-tab
              *ngIf="pollableId && pollableType"
              [tabId]="'poll'"
              tabIcon="trending-up"
              tabTitle="Polls"
            >
              <div>
                <app-polls [pollableId]="pollableId" [pollableType]="pollableType"></app-polls>
              </div>
            </nb-tab>
          </nb-tabset>

          <!--          <nb-list (click)="toggleSidebar()" [ngStyle]="{'visibility' : (sidebarMinimize ? 'visible' : 'hidden')}"-->
          <nb-list (click)="toggleSidebar()" [ngStyle]="{'display' : (sidebarMinimize ? 'block' : 'none')}"
                   class="clickable">
            <nb-list-item>
              <div>
                <p>
                  <nb-icon icon="people-outline"></nb-icon>
                  {{ userCount > 0 ? ('(' + userCount + ')') : '' }}
                </p>
              </div>
            </nb-list-item>
            <nb-list-item>
              <div>
                <p>
                  <nb-icon icon="message-square-outline"></nb-icon>
                  {{ chatCount > 0 ? '(' + chatCount + ')' : ''  }}
                </p>
              </div>
            </nb-list-item>
            <nb-list-item>
              <div>
                <p>
                  <nb-icon icon="question-mark-circle-outline"></nb-icon>
                  {{ questionCount > 0 ? '(' + questionCount + ')' : '' }}
                </p>
              </div>
            </nb-list-item>
            <nb-list-item>
              <div>
                <p>
                  <nb-icon icon="trending-up"></nb-icon>
                </p>
              </div>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
