p {
  @apply com-my-0;
}

.base-layout {
  @apply com-min-h-full;
}

.pricing-container {
  .pricing-header {
    @apply com-relative com-mx-auto md:com-pt-[132px] com-pt-[60px] md:com-px-4 com-px-3 com-text-center;

    .heading {
      @apply com-my-0 md:com-text-[60px] com-text-3xl com-font-extrabold com-tracking-tight com-text-gray-900 sm:com-text-6xl;

      //TODO: Convert style css to tailwindCss
      span {
        background: linear-gradient(90deg, #3b82f6 0%, #a855f7 51.39%, #1d4ed8 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // @apply com-w-full com-text-transparent com-bg-clip-text com-bg-gradient-to-r com-from-blue-500 com-via-purple-500 com-to-blue-700 md:com-inline com-block;
      }
    }

    .subheading {
      @apply com-mt-4 com-mb-0 md:com-text-[22px] com-text-base com-text-gray-500 com-font-normal;
    }
  }

  .background-container {
    @apply com-overflow-hidden com-bg-no-repeat com-w-full com-h-full com-bg-contain;

    .background {
      @apply com-mx-auto lg:com-w-full com-w-auto com-z-0 com-bg-cover com-bg-center com-h-full com-bg-no-repeat;
    }
    .cards {
      @apply com-flex md:com-flex-row com-flex-col com-w-full com-m-0 md:com-pt-20 com-pt-10 md:com-gap-x-9 md:com-gap-y-0 com-gap-x-0 com-gap-y-6;
      .enterprise-card,
      .students-card {
        @apply md:com-w-[622px] com-w-auto com-border com-border-solid com-rounded-[20px] com-border-Bright-Gray com-bg-white com-m-0 md:com-mx-0 com-mx-3;
        .title {
          @apply md:com-p-8 com-px-4 com-pt-6 com-pb-4 com-text-center;
          .heading {
            @apply md:com-text-4xl com-text-2xl com-font-bold md:com-mb-6 com-mb-4 com-text-gray-900;
          }
          .sub-heading {
            @apply md:com-text-xl com-text-base com-font-normal md:com-mb-8 com-mb-6;
          }
        }
        .card-image {
          @apply md:com-h-[486px] md:com-w-[620px] com-h-[276px]  com-w-full com-overflow-hidden;
          img {
            @apply com-h-auto com-w-full com-object-cover;
          }
        }
        .features {
          @apply md:com-mt-4 com-mt-2 md:com-mx-8 com-mx-4 md:com-mb-6 com-mb-4;

          .features-heading {
            @apply md:com-text-2xl com-text-base com-font-bold com-text-black md:com-mb-8 com-mb-4;
          }

          ul {
            @apply com-m-0 com-p-0;
            li {
              @apply com-list-none com-mb-6 com-text-gray-500;
              nb-icon {
                @apply md:com-h-6 md:com-w-6 com-h-5 com-w-5 com-text-Azure com-mr-3;
              }
              span {
                @apply md:com-text-lg com-text-sm com-font-semibold;
              }
            }
          }
        }
      }
    }

    .pricing-quotes {
      @apply com-bg-white/40 com-overflow-hidden md:com-pt-8 com-py-4 com-px-8 com-m-0 md:com-pb-20 com-mt-8 md:com-mt-20 md:com-p-0;

      .quote {
        @apply com-max-w-[1150px] com-mx-auto com-text-center md:com-text-[28px] com-text-base md:com-leading-10 md:com-font-medium com-font-normal md:com-text-gray-900 com-text-black;
      }
    }
  }

  .pricing-features {
    @apply com-p-0 md:com-pt-0 com-pt-9 com-overflow-x-auto;

    .pricing-features-heading {
      @apply md:com-text-4xl com-text-2xl com-font-bold com-text-gray-900 com-m-0 md:com-mb-[26px] com-mb-2 md:com-mt-0 com-mt-9;
    }

    .pricing-feature-headings {
      @apply com-w-full com-flex com-items-center;

      &.sticky {
        @apply com-sticky com-top-16 com-z-10;
      }

      .title {
        @apply com-my-0 com-text-gray-900 com-text-xl com-font-bold com-text-center;
      }

      .subtitle {
        @apply com-mt-2 com-text-base com-text-gray-500 com-font-medium;
      }

      .buy-btn {
        text-decoration: none;
        @apply com-mt-10 com-w-full com-inline-block com-py-2 com-px-8 com-rounded-md com-shadow-sm com-text-center com-text-base com-font-medium;
        @apply sm:com-w-auto lg:com-w-[96%];

        &.light {
          @apply com-bg-white com-text-Azure hover:com-bg-blue-50 com-border com-border-solid com-border-Bright-Gray com-shadow com-mb-1;
        }

        &.dark {
          @apply com-bg-Azure com-text-white hover:com-bg-blue-500 com-mb-1;
        }
      }
    }

    .pricing-feature-subheadings {
      @apply com-mt-10 com-text-base com-font-bold com-text-gray-900;
    }

    .pricing-feature-table {
      @apply com-relative com-w-full com-my-1;

      .heading {
        @apply com-w-1/3 com-py-3 com-text-left com-text-base com-font-medium com-text-gray-500;

        &.w-full {
          @apply com-w-full;
        }
      }

      .description {
        @apply com-relative com-py-0 com-text-center;

        .item {
          @apply com-relative com-w-full com-h-full com-py-3;

          nb-icon {
            @apply com-text-2xl;

            &.light {
              @apply com-text-Azure;
            }

            &.dark {
              @apply com-text-Azure;
            }
          }

          span {
            &.light {
              @apply com-text-gray-900 com-text-base com-font-medium;
            }

            &.dark {
              @apply com-text-Azure com-text-base com-font-medium;
            }
          }
        }
      }
    }
  }

  .avenues {
    @apply md:com-mt-[124px] com-mt-20 com-m-0 md:com-px-8 com-px-4 com-py-0 md:com-mb-12 com-mb-10;
    .heading {
      @apply md:com-text-4xl com-text-2xl md:com-font-bold com-font-semibold com-text-gray-900;
    }
    .sub-heading {
      @apply md:com-mt-8 com-mt-4 com-m-0 md:com-text-xl com-text-base com-font-normal com-text-gray-500;
    }
  }
}

.background-container-community {
  @apply com-overflow-hidden com-bg-no-repeat com-w-full com-bg-contain;

  .background {
    @apply com-mx-auto com-my-0 lg:com-w-full com-w-full com-z-0 com-bg-cover com-bg-center com-bg-no-repeat com-h-full;
  }
  .pricing-logo-cloud {
    @apply md:com-mx-auto com-my-0 com-p-0 md:com-pt-[102px] com-pt-10 md:com-w-auto com-w-full;

    .subheading {
      @apply com-text-center md:com-text-2xl com-text-base md:com-mb-16 com-mb-12 com-text-gray-500 com-font-semibold com-uppercase;
    }

    .communities {
      @apply com-grid com-grid-cols-1 com-gap-4 sm:com-grid-cols-2 sm:com-gap-6 md:com-grid-cols-3 md:com-gap-[60px] md:com-mb-24 com-mb-28;

      a {
        @apply com-flex com-justify-center md:com-justify-normal com-no-underline;
        .communities-card {
          @apply com-flex com-flex-row md:com-w-[385px] md:com-h-[120px] com-h-[100px] com-w-[254px] com-border com-border-solid com-border-white com-rounded-[20px] com-bg-white md:com-p-4 com-p-3;
          .logo {
            @apply com-flex com-items-center md:com-w-[88px] md:com-h-[88px] com-w-[66px] com-h-[66px] com-object-cover com-m-0 md:com-mr-4 com-mr-3 com-flex-shrink-0;

            img {
              @apply com-w-full com-h-auto com-rounded-lg;
            }
          }
          .communities-card-text {
            @apply com-flex com-flex-col;
            .name {
              @apply com-m-0 com-mb-1 com-line-clamp-1 md:com-text-base com-text-xs com-font-semibold com-text-Yankees-Blue;
            }
            .description {
              @apply com-m-0 com-line-clamp-3 md:com-text-sm com-text-10px com-font-normal com-text-gray-500;
            }
          }
        }
      }
    }
  }
}

.faq {
  @apply com-m-0 com-mb-[138px] md:com-mt-32 com-mt-0 com-mx-3 md:com-mx-0;
}
