<div class="com-bg-white">
  <div class="pricing-container">
    <div class="background-container" [ngStyle]="{ 'background-image': getUseCaseCardsUrl() }">
      <div class="base-layout com-min-h-full">
        <div class="pricing-header">
          <h1 class="heading">Empowering <span>DevRel </span> and Communities</h1>
          <h2 class="subheading">
            Commudle is an all in one platform to build and scale your developer community ecosystem. Increase your
            team's efficiency by 10x and boost your community engagements to build thriving developer communities.
          </h2>
        </div>
      </div>
      <div>
        <div class="base-layout com-min-h-full">
          <div class="subscription-cards">
            <div class="toggle-btn">
              <div class="monthly" [ngClass]="{ active: isMonthly }" (click)="toggleSubscription('monthly')">
                Monthly
              </div>
              <div class="anually" [ngClass]="{ active: isAnually }" (click)="toggleSubscription('anually')">
                Annual
              </div>
            </div>
            <div class="cards">
              <div class="enterprise-card active-border">
                <div class="title">
                  <p class="heading">{{ this.enterprise.name }}</p>
                  <p class="sub-heading">
                    With Commudle, you can bring your DevRel Team, Community Leaders and Members, all at one place with
                    seamless engagements and deep insights.
                  </p>
                  <div class="subscription">
                    <div class="price"></div>
                    <p class="monthly-yearly"></p>
                  </div>
                </div>
                <div class="features">
                  <p class="features-heading">For Businesses Focused on Techies</p>
                  <ul>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Organization dashboard</span>
                    </li>

                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Community and events dashboard</span>
                    </li>

                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Community & Event Analytics</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Access to Commudle Newsletter & On-platform campaigns</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Customized profile badges & highlights</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Exclusive conference collaboration invites</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Dedicated support for best use of Commudle</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">On platform promotional campaigns</span>
                    </li>
                  </ul>
                </div>
                <a
                  [routerLink]="['/student-non-profit-community-support']"
                  (click)="gtmDatalayerPush('non_profit')"
                  class="buy-btn"
                  ><button nbButton outline fullWidth status="info">Apply Now</button></a
                >
              </div>
              <div class="startup-card">
                <div class="title">
                  <p class="heading">Commudle for Students</p>
                  <p class="sub-heading">
                    Get a dedicated community space for all your members, their content, profiles & multiple engagement
                    options to share knowledge and build recognition.
                  </p>
                  <div class="subscription">
                    <div class="price"></div>
                    <p class="monthly-yearly"></p>
                  </div>
                </div>
                <div class="features">
                  <p class="features-heading">For The Tech Community Leaders</p>
                  <ul>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Community and events dashboard</span>
                    </li>

                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Member management</span>
                    </li>

                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Community & Event Analytics</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Community newsletters</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Online & Offline events with smart shortlisting</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Channels and forums</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Generative member growth</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Networking with experts and community leaders</span>
                    </li>
                  </ul>
                </div>
                <a
                  [routerLink]="['/student-non-profit-community-support']"
                  (click)="gtmDatalayerPush('non_profit')"
                  class="buy-btn"
                  ><button nbButton outline fullWidth status="info">Apply Now</button></a
                >
              </div>
              <div class="devrel-card">
                <div class="title">
                  <p class="heading">Commudle for Students</p>
                  <p class="sub-heading">
                    Get a dedicated community space for all your members, their content, profiles & multiple engagement
                    options to share knowledge and build recognition.
                  </p>
                  <div class="subscription">
                    <div class="price"></div>
                    <p class="monthly-yearly"></p>
                  </div>
                </div>
                <div class="features">
                  <p class="features-heading">For The Tech Community Leaders</p>
                  <ul>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Community and events dashboard</span>
                    </li>

                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Member management</span>
                    </li>

                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Community & Event Analytics</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Community newsletters</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Online & Offline events with smart shortlisting</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Channels and forums</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Generative member growth</span>
                    </li>
                    <li>
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">Networking with experts and community leaders</span>
                    </li>
                  </ul>
                </div>
                <a
                  [routerLink]="['/student-non-profit-community-support']"
                  (click)="gtmDatalayerPush('non_profit')"
                  class="buy-btn"
                  ><button nbButton outline fullWidth status="info">Apply Now</button></a
                >
              </div>
            </div>
          </div>
        </div>
        <section>
          <blockquote class="pricing-quotes">
            <div class="base-layout">
              <p class="quote">
                "Developers want to engage with other developers, brands and their awesome product teams, they don't
                want to just be an outlet to marketing efforts. Communities need to be built with a lot of passion and
                care."
              </p>
            </div>
          </blockquote>
        </section>
      </div>

      <!-- Feature comparison (Desktop) -->
      <div class="base-layout com-min-h-full">
        <div class="pricing-features">
          <div
            class="md:com-mt-[150px] com-max-w-7xl com-min-w-[60rem] md:com-mx-auto md:com-px-8 md:com-m-0 com-mx-3 com-p-0"
          >
            <p class="pricing-features-heading">Features to Grow Your Communities</p>
            <div class="pricing-feature-headings sticky"></div>
            <div class="pricing-feature-subheadings">Organization</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Organization page">
                    <th class="heading" scope="row">Organization page</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Teammates">
                    <th class="heading" scope="row">Organization Dashboard</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Members">
                    <th class="heading" scope="row">Admins</th>
                    <td class="description">
                      <span class="item">
                        <span class="dark">Unlimited</span>
                      </span>
                    </td>
                  </tr>

                  <tr key="Export data">
                    <th class="heading" scope="row">Custom API's</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="API access">
                    <th class="heading" scope="row">Custom Dashboards</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom APIs">
                    <th class="heading" scope="row">Key Account Manager</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom Dashboards">
                    <th class="heading" scope="row">Data Export</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Key Account Manager">
                    <th class="heading" scope="row">Survey Forms</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Commudle Expert Consultation">
                    <th class="heading" scope="row">Commudle Expert Consultations</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Community</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Community survey forms">
                    <th class="heading" scope="row">Dashboard</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Community newsletters">
                    <th class="heading" scope="row">Analytics</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Community newsletters">
                    <th class="heading" scope="row">Survey Forms</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Community newsletters">
                    <th class="heading" scope="row">Members Dashboard</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Community newsletters">
                    <th class="heading" scope="row">Pages</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Community newsletters">
                    <th class="heading" scope="row">Newsletters</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Community newsletters">
                    <th class="heading" scope="row">Emails</th>
                    <td class="description">
                      <span class="item">
                        <span class="dark">Unlimited</span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Events</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Multiple locations & tracks">
                    <th class="heading" scope="row">Free Tickets</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Registration forms">
                    <th class="heading" scope="row">Paid Tickets (Stripe)</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="RSVP emails">
                    <th class="heading" scope="row">Smart shortlisting</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="QR code entry passes">
                    <th class="heading" scope="row">Custom Emails</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Auto attendance using QR">
                    <th class="heading" scope="row">Email filters</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Calendar invite">
                    <th class="heading" scope="row">RSVP</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Waitlist management">
                    <th class="heading" scope="row">QR Scanner</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Feedback forms">
                    <th class="heading" scope="row">Auto Online Attendance</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Preserve speaker slides">
                    <th class="heading" scope="row">Post Event Networking</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Enlist/Highlight speakers">
                    <th class="heading" scope="row">Calendar Invite</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Volunteers">
                    <th class="heading" scope="row">Online Events</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Inter-community collaborations">
                    <th class="heading" scope="row">Offline Events</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Display sponsors">
                    <th class="heading" scope="row">Live Polls</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Live chat">
                    <th class="heading" scope="row">QnA</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="QnA with voting">
                    <th class="heading" scope="row">Feedback Forms</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Live polls">
                    <th class="heading" scope="row">Speaker Session Slides Upload</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Auto mark uninvited attendees">
                    <th class="heading" scope="row">Community Collaborations</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom emails">
                    <th class="heading" scope="row">Volunteers/Team</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom emails">
                    <th class="heading" scope="row">Sponsors</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom emails">
                    <th class="heading" scope="row">Dashboard</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom emails">
                    <th class="heading" scope="row">Analytics</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Commudle Stage</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Inbuilt commudle stage">
                    <th class="heading" scope="row">Online streaming</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Streaming to youtube">
                    <th class="heading" scope="row">Stream to YouTube (RTMP)</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="External link to another platform">
                    <th class="heading" scope="row">External Link to Another Platform</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Youtube live embed">
                    <th class="heading" scope="row">YouTube Embed</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Iframe embed">
                    <th class="heading" scope="row">Iframe Embed</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Analytics</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Event analytics">
                    <th class="heading" scope="row">Organization Analytics</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Community insights">
                    <th class="heading" scope="row">Community Analytics</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom stats">
                    <th class="heading" scope="row">Event Stats</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom stats">
                    <th class="heading" scope="row">Member Distribution & Interest Stats</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom stats">
                    <th class="heading" scope="row">Organization Analytics</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom stats">
                    <th class="heading" scope="row">Community Analytics</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom stats">
                    <th class="heading" scope="row">Event Stats</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom stats">
                    <th class="heading" scope="row">Member Distribution & Interest Stats</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Channels & Forums</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Public channels">
                    <th class="heading" scope="row">Public</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Private channels">
                    <th class="heading" scope="row">Readonly</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Protected channels">
                    <th class="heading" scope="row">Private</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Protected channels">
                    <th class="heading" scope="row">SEO Optimization</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Protected channels">
                    <th class="heading" scope="row">Send Message to Email</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Knowledge Sharing</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Labs">
                    <th class="heading" scope="row">Labs (Tutorials)</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Builds">
                    <th class="heading" scope="row">Builds (Projects)</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Developer Profile</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Display commudle activites">
                    <th class="heading" scope="row">Skills</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="View speaker slides">
                    <th class="heading" scope="row">Community activities</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Showcase apps/publications">
                    <th class="heading" scope="row">Work History</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Blue tick (for experts)">
                    <th class="heading" scope="row">External Content (Blogs, Videos, etc)</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Star (for community organizers)">
                    <th class="heading" scope="row">Blue Tick for Experts</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Customized badges">
                    <th class="heading" scope="row">Badges</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-2/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-headings">
              <div class="com--mt-px com-w-1/3 com-pt-10 com-pr-4 com-flex com-items-end">
                <div class="com-mt-auto com-text-base com-font-bold com-text-gray-900">Choose a plan</div>
              </div>
              <div class="com-px-4 com--mt-px com-w-2/3">
                <a
                  [routerLink]="['/fill-form', 1344]"
                  (click)="gtmDatalayerPush('startup')"
                  class="buy-btn dark com-w-full"
                  >Get started now</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="avenues">
          <div class="heading">More avenues to interact with Developers on Commudle</div>
          <p class="sub-heading">
            Sponsor badges, sessions, run content campaigns with labs & builds, get a sponsored slot in our sponsored
            emailers through community organizers
          </p>
        </div>
      </div>
    </div>
    <!-- Logo cloud -->
    <div class="background-container-community" [ngStyle]="{ 'background-image': getCommunityLogoCardsUrl() }">
      <div class="base-layout">
        <div class="pricing-logo-cloud">
          <p class="subheading">Communities already on Commudle</p>
          <div class="communities">
            <a *ngFor="let logo of logoCloud" [routerLink]="['/search', logo.slug]">
              <div class="communities-card">
                <div class="logo">
                  <img [alt]="logo.name" [nbTooltip]="logo.name" [src]="logo.image" />
                </div>
                <div class="communities-card-text">
                  <p class="name">{{ logo.name }}</p>
                  <p class="description">{{ logo.description }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- FAQs -->
      <div class="base-layout">
        <div class="faq">
          <commudle-faq [answers]="answers"></commudle-faq>
        </div>
      </div>
    </div>
  </div>
</div>
