<div class="com-bg-white">
  <div class="pricing-container">
    <div class="background-container" [ngStyle]="{ 'background-image': getUseCaseCardsUrl() }">
      <div class="base-layout com-min-h-full">
        <div class="pricing-header">
          <h1 class="heading">Empowering <span>DevRel </span> Teams & Community Leaders</h1>
          <h2 class="subheading">
            Commudle is an all in one platform to build and scale your developer community ecosystem. Increase your
            team's efficiency by 10x and boost your community engagements to build thriving developer communities.
          </h2>
        </div>
      </div>
      <div>
        <div class="base-layout com-min-h-full">
          <div class="cards">
            <div class="enterprise-card">
              <div class="title">
                <p class="heading">Commudle for Businesses</p>
                <p class="sub-heading">
                  With Commudle features and support, you can bring your DevRel team, your community leaders and
                  members, all at one place with seamless engagements and deep insights and feedbacks.
                </p>
                <a [routerLink]="['/fill-form', 1344]" (click)="gtmDatalayerPush('startup')">
                  <button nbButton fullWidth status="info">Get Started</button></a
                >
              </div>
              <div class="card-image">
                <img src="{{ staticAssets.pricing_enterprise }}" />
              </div>
              <div class="features">
                <p class="features-heading">For Businesses Focused on Techies</p>
                <ul>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Organization dashboard</span>
                  </li>

                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Community and events dashboard</span>
                  </li>

                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Community & Event Analytics</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Access to Commudle Newsletter & On-platform campaigns</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Customized profile badges & highlights</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Exclusive conference collaboration invites</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Dedicated support for best use of Commudle</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">On platform promotional campaigns</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="students-card">
              <div class="title">
                <p class="heading">Commudle for Students and Non Profits</p>
                <p class="sub-heading">
                  Get a dedicated community space for all your members, their content, profiles and multiple engagement
                  options to share knowledge and build recognition.
                </p>
                <a [routerLink]="['/fill-form', 1343]" (click)="gtmDatalayerPush('non_profit')" class="buy-btn"
                  ><button nbButton outline fullWidth status="info">Apply Now</button></a
                >
              </div>
              <div class="card-image">
                <img src="{{ staticAssets.pricing_students }}" />
              </div>
              <div class="features">
                <p class="features-heading">For The Tech Community Leaders</p>
                <ul>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Community and events dashboard</span>
                  </li>

                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Member management</span>
                  </li>

                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Community & Event Analytics</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Community newsletters</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Online & Offline events with smart shortlisting</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Channels and forums</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Generative member growth</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Networking with experts and community leaders</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <section>
          <blockquote class="pricing-quotes">
            <div class="base-layout">
              <p class="quote">
                "Developers want to engage with other developers, brands and their awesome product teams, they don't
                want to just be an outlet to marketing efforts. Communities need to be built with a lot of passion and
                care."
              </p>
            </div>
          </blockquote>
        </section>
      </div>

      <!-- Feature comparison (Desktop) -->
      <div class="base-layout com-min-h-full">
        <div class="pricing-features">
          <div
            class="md:com-mt-[150px] com-max-w-7xl com-min-w-[60rem] md:com-mx-auto md:com-px-8 md:com-m-0 com-mx-3 com-p-0"
          >
            <p class="pricing-features-heading">Features to Grow Your Communities</p>
            <div class="pricing-feature-headings sticky">
              <div class="com--mt-px com-w-1/3 com-py-6 com-px-0 com-flex com-items-end">
                <h3 class="title">Features</h3>
              </div>

              <div class="com-py-6 com-px-0 com--mt-px com-w-1/3">
                <h3 class="title">Startup & Professional</h3>
              </div>

              <div class="com--mt-px com-px-0 com-w-1/3">
                <div class="com-py-6">
                  <h3 class="title">Enterprise</h3>
                </div>
              </div>
            </div>

            <div class="com-relative">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Organization page">
                    <th class="heading" scope="row">Organization page</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Teammates">
                    <th class="heading" scope="row">Teammates</th>
                    <td class="description">
                      <span class="item">
                        <span class="dark">Unlimited</span>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <span class="dark">Unlimited</span>
                      </span>
                    </td>
                  </tr>

                  <tr key="Members">
                    <th class="heading" scope="row">Members</th>
                    <td class="description">
                      <span class="item">
                        <span class="dark">Unlimited</span>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <span class="dark">Unlimited</span>
                      </span>
                    </td>
                  </tr>

                  <tr key="Export data">
                    <th class="heading" scope="row">Export data</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="API access">
                    <th class="heading" scope="row">API access</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom APIs">
                    <th class="heading" scope="row">Custom APIs</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom Dashboards">
                    <th class="heading" scope="row">Custom Dashboards</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="light" icon="close-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Key Account Manager">
                    <th class="heading" scope="row">Key Account Manager</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="light" icon="close-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Commudle Expert Consultation">
                    <th class="heading" scope="row">Commudle Expert Consultation</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="light" icon="close-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-1 com-ring-black com-ring-opacity-5"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Surveys & Newsletters</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Community survey forms">
                    <th class="heading" scope="row">Community survey forms</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Community newsletters">
                    <th class="heading" scope="row">Community newsletters</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-1 com-ring-black com-ring-opacity-5"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Offline / Online events</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Multiple locations & tracks">
                    <th class="heading" scope="row">Multiple locations & tracks</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Registration forms">
                    <th class="heading" scope="row">Registration forms</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="RSVP emails">
                    <th class="heading" scope="row">RSVP emails</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="QR code entry passes">
                    <th class="heading" scope="row">QR code entry passes</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Auto attendance using QR">
                    <th class="heading" scope="row">Auto attendance using QR</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Calendar invite">
                    <th class="heading" scope="row">Calendar invite</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Waitlist management">
                    <th class="heading" scope="row">Waitlist management</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Feedback forms">
                    <th class="heading" scope="row">Feedback forms</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Preserve speaker slides">
                    <th class="heading" scope="row">Preserve speaker slides</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Enlist/Highlight speakers">
                    <th class="heading" scope="row">Enlist/Highlight speakers</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Volunteers">
                    <th class="heading" scope="row">Volunteers</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Inter-community collaborations">
                    <th class="heading" scope="row">Inter-community collaborations</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Display sponsors">
                    <th class="heading" scope="row">Display sponsors</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Live chat">
                    <th class="heading" scope="row">Live chat</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="QnA with voting">
                    <th class="heading" scope="row">QnA with voting</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Live polls">
                    <th class="heading" scope="row">Live polls</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Auto mark uninvited attendees">
                    <th class="heading" scope="row">Auto mark uninvited attendees</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>

                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom emails">
                    <th class="heading" scope="row">Custom emails</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-1 com-ring-black com-ring-opacity-5"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Video integrations</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Inbuilt commudle stage">
                    <th class="heading" scope="row">Inbuilt Commudle stage</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Streaming to youtube">
                    <th class="heading" scope="row">Streaming to youtube</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="External link to another platform">
                    <th class="heading" scope="row">External link to another platform</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Youtube live embed">
                    <th class="heading" scope="row">Youtube live embed</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Iframe embed">
                    <th class="heading" scope="row">Iframe embed</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-1 com-ring-black com-ring-opacity-5"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Dashboards</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Event analytics">
                    <th class="heading" scope="row">Event analytics</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Community insights">
                    <th class="heading" scope="row">Community insights</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Custom stats">
                    <th class="heading" scope="row">Custom stats</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="light" icon="close-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-1 com-ring-black com-ring-opacity-5"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Community channels</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Public channels">
                    <th class="heading" scope="row">Public channels</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Private channels">
                    <th class="heading" scope="row">Private channels</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Protected channels">
                    <th class="heading" scope="row">Protected channels</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-1 com-ring-black com-ring-opacity-5"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Knowledge sharing</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Labs">
                    <th class="heading" scope="row">Labs</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Builds">
                    <th class="heading" scope="row">Builds</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-1 com-ring-black com-ring-opacity-5"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-subheadings">Developer profile</div>

            <div class="com-relative com-mt-6">
              <!-- Fake card backgrounds -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow"></div>
                </div>
              </div>

              <table class="pricing-feature-table">
                <tbody>
                  <tr key="Display commudle activites">
                    <th class="heading" scope="row">Display commudle activites</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>

                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="View speaker slides">
                    <th class="heading" scope="row">View speaker slides</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Showcase apps/publications">
                    <th class="heading" scope="row">Showcase apps/publications</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>

                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Blue tick (for experts)">
                    <th class="heading" scope="row">Blue tick (for experts)</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Star (for community organizers)">
                    <th class="heading" scope="row">Star (for community organizers)</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>

                  <tr key="Customized badges">
                    <th class="heading" scope="row">Customized badges</th>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                    <td class="description">
                      <span class="item">
                        <nb-icon class="dark" icon="checkmark-outline"></nb-icon>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Fake card borders -->
              <div class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
                <div class="com-w-1/3 com-pr-4"></div>
                <div class="com-w-1/3 com-px-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-Azure"></div>
                </div>
                <div class="com-w-1/3 com-pl-4">
                  <div class="com-w-full com-h-full com-rounded-lg com-ring-1 com-ring-black com-ring-opacity-5"></div>
                </div>
              </div>
            </div>

            <div class="pricing-feature-headings">
              <div class="com--mt-px com-w-1/3 com-pt-10 com-pr-4 com-flex com-items-end">
                <div class="com-mt-auto com-text-base com-font-bold com-text-gray-900">Choose a plan</div>
              </div>
              <div class="com-px-4 com--mt-px com-w-1/3">
                <a [routerLink]="['/fill-form', 1344]" (click)="gtmDatalayerPush('startup')" class="buy-btn dark"
                  >Talk to Commudle Expert</a
                >
              </div>
              <div class="com--mt-px com-pl-4 com-w-1/3">
                <a [routerLink]="['/fill-form', 1345]" (click)="gtmDatalayerPush('enterprise')" class="buy-btn light"
                  >Apply For An Exclusive Free Trial</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="avenues">
          <div class="heading">More avenues to interact with Developers on Commudle</div>
          <p class="sub-heading">
            Sponsor badges, sessions, run content campaigns with labs & builds, get a sponsored slot in our sponsored
            emailers through community organizers
          </p>
        </div>
      </div>
    </div>
    <!-- Logo cloud -->
    <div class="background-container-community" [ngStyle]="{ 'background-image': getCommunityLogoCardsUrl() }">
      <div class="base-layout">
        <div class="pricing-logo-cloud">
          <p class="subheading">Communities already on Commudle</p>
          <div class="communities">
            <a *ngFor="let logo of logoCloud" [routerLink]="['/communities', logo.slug]">
              <div class="communities-card">
                <div class="logo">
                  <img [alt]="logo.name" [nbTooltip]="logo.name" [src]="logo.image" />
                </div>
                <div class="communities-card-text">
                  <p class="name">{{ logo.name }}</p>
                  <p class="description">{{ logo.description }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- FAQs -->
      <div class="base-layout">
        <div class="faq">
          <commudle-faq [answers]="answers"></commudle-faq>
        </div>
      </div>
    </div>
  </div>
</div>
