<div class="com-bg-white">
  <div class="pricing-container">
    <div class="background-container" [ngStyle]="{ 'background-image': getUseCaseCardsUrl() }">
      <div class="base-layout com-min-h-full">
        <div class="pricing-header">
          <h1 class="heading">Select a plan for your <span>Community </span></h1>
          <h2 class="subheading">Increase your DevRel’s efficiency by 10x and your engagements by 100x.</h2>
        </div>
      </div>
      <div>
        <div class="base-layout com-min-h-full">
          <div class="subscription-cards">
            <div class="toggle-btn">
              <div class="toggle-btn-month-annual">
                <div class="monthly" [ngClass]="{ active: isMonthly }" (click)="toggleSubscription('monthly')">
                  Monthly
                </div>
                <div class="anually" [ngClass]="{ active: isAnually }" (click)="toggleSubscription('anually')">
                  Annual
                </div>
              </div>
              <form class="select" [formGroup]="countryForm">
                <select formControlName="currency" (change)="onCountryChange()">
                  <option [value]="countries[0].currency" selected>{{ countries[0].name }}</option>
                  <option [value]="countries[1].currency">Global</option>
                </select>
              </form>
            </div>
            <div class="cards">
              <!-- ENTERPRISE -->
              <div *ngIf="enterprise" class="enterprise-card active-border">
                <div class="title-cards">
                  <p class="heading">{{ enterprise.name }}</p>
                  <p class="sub-heading">
                    {{ enterprise.description }}
                  </p>
                  <div *ngIf="isMonthly || isAnually" class="subscription">
                    <div *ngIf="enterprise.priceDetails" class="price">
                      <!-- MONTHLY  -->
                      <ng-container *ngIf="isMonthly">
                        <ng-container *ngFor="let item of enterprise.priceDetails[1].details">
                          <ng-container *ngIf="item.currencyType === selectedCurrency">
                            <span class="currency-symbol">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                            <span class="current-price">{{
                              item.price_after_discount ? item.price_after_discount : item.price
                            }}</span>
                            <ng-container class="discount" *ngIf="item.price_after_discount">
                              <p class="discount-percentage">
                                {{ item.discount_percentage }}
                              </p>
                              <ng-container>
                                <span class="discount-price">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                                <span class="discount-price">{{ item.price }}</span>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>

                      <!-- ANUALLY -->
                      <ng-container *ngIf="isAnually">
                        <ng-container *ngFor="let item of enterprise.priceDetails[0].details">
                          <ng-container *ngIf="item.currencyType === selectedCurrency">
                            <span class="currency-symbol">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                            <span class="current-price">{{
                              item.price_after_discount ? item.price_after_discount : item.price
                            }}</span>

                            <ng-container *ngIf="item.price_after_discount">
                              <div class="discount">
                                <p class="discount-percentage">
                                  {{ item.discount_percentage }}
                                </p>
                                <div>
                                  <span class="discount-price">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                                  <span class="discount-price">{{ item.price }}</span>
                                </div>
                              </div>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                  <p class="monthly-yearly">
                    {{ isMonthly ? 'per community/month billed monthly' : 'per community/month billed annualy' }}
                  </p>
                </div>
                <div class="features">
                  <p class="features-heading">Key Features</p>
                  <ul>
                    <li *ngFor="let feature of enterprise.key_features">
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">{{ feature }}</span>
                    </li>
                  </ul>
                </div>
                <a
                  [href]="
                    isMonthly ? enterprise.priceDetails[1].details[0]?.url : enterprise.priceDetails[0].details[0]?.url
                  "
                  (click)="gtmDatalayerPush('pricing_plan_enterprise')"
                  ><button nbButton fullWidth shape="semi-round" class="enterprise-btn">
                    {{ enterprise.button_text }}
                  </button></a
                >
              </div>

              <!-- STARTUP -->
              <div *ngIf="startup" class="startup-card">
                <div class="title-cards">
                  <p class="heading">{{ startup.name }}</p>
                  <p class="sub-heading">
                    {{ startup.description }}
                  </p>
                  <div *ngIf="isMonthly || isAnually" class="subscription">
                    <div *ngIf="startup.priceDetails" class="price">
                      <!-- MONTHLY  -->
                      <ng-container *ngIf="isMonthly">
                        <ng-container *ngFor="let item of startup.priceDetails[1].details">
                          <ng-container *ngIf="item.currencyType === selectedCurrency">
                            <span class="currency-symbol">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                            <span class="current-price">{{
                              item.price_after_discount ? item.price_after_discount : item.price
                            }}</span>
                            <ng-container class="discount" *ngIf="item.price_after_discount">
                              <p class="discount-percentage">
                                {{ item.discount_percentage }}
                              </p>
                              <ng-container>
                                <span class="discount-price">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                                <span class="discount-price">{{ item.price }}</span>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>

                      <!-- ANUALLY -->
                      <ng-container *ngIf="isAnually">
                        <ng-container *ngFor="let item of startup.priceDetails[0].details">
                          <ng-container *ngIf="item.currencyType === selectedCurrency">
                            <span class="currency-symbol">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                            <span class="current-price">{{
                              item.price_after_discount ? item.price_after_discount : item.price
                            }}</span>

                            <ng-container *ngIf="item.price_after_discount">
                              <div class="discount">
                                <p class="discount-percentage">
                                  {{ item.discount_percentage }}
                                </p>
                                <div>
                                  <span class="discount-price">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                                  <span class="discount-price">{{ item.price }}</span>
                                </div>
                              </div>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </div>
                    <p class="monthly-yearly">
                      {{ isMonthly ? 'per community/month billed monthly' : 'per community/month billed annualy' }}
                    </p>
                  </div>
                </div>
                <div class="features">
                  <p class="features-heading">Key Features</p>
                  <ul>
                    <li *ngFor="let feature of startup.key_features">
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">{{ feature }}</span>
                    </li>
                  </ul>
                </div>
                <a
                  [href]="isMonthly ? startup.priceDetails[1].details[0]?.url : startup.priceDetails[0].details[0]?.url"
                  (click)="gtmDatalayerPush('pricing_plan_startup')"
                  ><button nbButton fullWidth shape="semi-round" class="enterprise-btn">
                    {{ startup.button_text }}
                  </button></a
                >
              </div>

              <!-- DEVREL -->
              <div *ngIf="devrel" class="devrel-card">
                <div class="title-cards">
                  <p class="heading">{{ devrel.name }}</p>
                  <p class="sub-heading">
                    {{ devrel.description }}
                  </p>
                  <div *ngIf="isMonthly || isAnually" class="subscription">
                    <div *ngIf="devrel.priceDetails" class="price">
                      <!-- MONTHLY  -->
                      <ng-container *ngIf="isMonthly">
                        <ng-container *ngFor="let item of devrel.priceDetails[1].details">
                          <ng-container *ngIf="item.currencyType === selectedCurrency">
                            <span class="current-price">{{
                              item.price_after_discount ? item.price_after_discount : item.price
                            }}</span>
                            <ng-container class="discount" *ngIf="item.price_after_discount">
                              <p class="discount-percentage">
                                {{ item.discount_percentage }}
                              </p>
                              <ng-container>
                                <span class="discount-price">{{ item.price }}</span>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>

                      <!-- ANUALLY -->
                      <ng-container *ngIf="isAnually">
                        <ng-container *ngFor="let item of devrel.priceDetails[0].details">
                          <ng-container *ngIf="item.currencyType === selectedCurrency">
                            <span class="current-price">{{
                              item.price_after_discount ? item.price_after_discount : item.price
                            }}</span>
                            <ng-container *ngIf="item.price_after_discount">
                              <div class="discount">
                                <p class="discount-percentage">
                                  {{ item.discount_percentage }}
                                </p>
                                <div>
                                  <span class="discount-price">{{ item.price }}</span>
                                </div>
                              </div>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </div>
                    <p class="monthly-yearly">Contact us for best pricing</p>
                  </div>
                </div>
                <div class="features">
                  <p class="features-heading">Key Features</p>
                  <ul>
                    <li *ngFor="let feature of devrel.key_features">
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                      <span class="feature">{{ feature }}</span>
                    </li>
                  </ul>
                </div>
                <a
                  *ngIf="devrel.priceDetails[1]?.details && devrel.priceDetails[0]?.details"
                  [href]="isMonthly ? devrel.priceDetails[1]?.details[0]?.url : devrel.priceDetails[0]?.details[0]?.url"
                  (click)="gtmDatalayerPush('pricing_plan_devrel_agency')"
                  ><button nbButton fullWidth shape="semi-round" class="enterprise-btn">
                    {{ devrel.button_text }}
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
        <section>
          <blockquote class="pricing-quotes">
            <div class="base-layout">
              <p class="quote">
                "Developers want to engage with other developers, brands and their awesome product teams, they don't
                want to just be an outlet to marketing efforts. Communities need to be built with a lot of passion and
                care."
              </p>
            </div>
          </blockquote>
        </section>

        <div class="base-layout com-min-h-full">
          <div class="pricing-features">
            <p class="pricing-features-heading">Discover the Plan That's Right for You</p>
            <p class="pricing-features-subheading">Here are all the amazing features included in our plans</p>
            <div *appBreakpoints="'>lg'" class="subscription-container">
              <div></div>
              <div *ngIf="enterprise" class="subscription-header">
                <p class="heading">{{ enterprise.name }}</p>
                <div class="header-price">
                  <span *ngIf="enterprise?.priceDetails">
                    <!-- MONTHLY  -->
                    <ng-container *ngIf="isMonthly">
                      <ng-container *ngFor="let item of enterprise.priceDetails[1].details">
                        <ng-container *ngIf="item.currencyType === selectedCurrency">
                          <span class="discounted-price">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                          <span class="discounted-price">{{
                            item.price_after_discount ? item.price_after_discount + '/m' : item.price + '/m'
                          }}</span>

                          <ng-container *ngIf="item.price_after_discount">
                            <span class="earlier-price com-ml-2">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                            <span class="earlier-price">{{ item.price }}</span>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>

                    <!-- ANUALLY -->
                    <ng-container *ngIf="isAnually">
                      <ng-container *ngFor="let item of enterprise.priceDetails[0].details">
                        <ng-container *ngIf="item.currencyType === selectedCurrency">
                          <span class="discounted-price">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                          <span class="discounted-price">{{
                            item.price_after_discount ? item.price_after_discount + '/a' : item.price + '/a'
                          }}</span>

                          <ng-container *ngIf="item.price_after_discount">
                            <span class="earlier-price com-ml-2">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                            <span class="earlier-price">{{ item.price }}</span>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </span>
                </div>
                <a
                  [href]="
                    isMonthly
                      ? enterprise?.priceDetails[1]?.details[0]?.url
                      : enterprise?.priceDetails[0]?.details[0]?.url
                  "
                  (click)="gtmDatalayerPush('pricing_plan_enterprise')"
                  ><button nbButton status="primary" size="tiny" shape="round">
                    {{ enterprise?.button_text }}
                  </button></a
                >
              </div>
              <div *ngIf="startup" class="subscription-header">
                <p class="heading">{{ startup.name }}</p>
                <div class="header-price">
                  <span *ngIf="startup?.priceDetails">
                    <!-- MONTHLY  -->
                    <ng-container *ngIf="isMonthly">
                      <ng-container *ngFor="let item of startup.priceDetails[1].details">
                        <ng-container *ngIf="item.currencyType === selectedCurrency">
                          <span class="discounted-price">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                          <span class="discounted-price">{{
                            item.price_after_discount ? item.price_after_discount + '/m' : item.price + '/m'
                          }}</span>

                          <ng-container *ngIf="item.price_after_discount">
                            <span class="earlier-price com-ml-2">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                            <span class="earlier-price">{{ item.price }}</span>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>

                    <!-- ANUALLY -->
                    <ng-container *ngIf="isAnually">
                      <ng-container *ngFor="let item of startup.priceDetails[0].details">
                        <ng-container *ngIf="item.currencyType === selectedCurrency">
                          <span class="discounted-price">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                          <span class="discounted-price">{{
                            item.price_after_discount ? item.price_after_discount + '/a' : item.price + '/a'
                          }}</span>

                          <ng-container *ngIf="item.price_after_discount">
                            <span class="earlier-price com-ml-2">{{ item.currencyType === 'USD' ? '$' : '₹' }}</span>
                            <span class="earlier-price">{{ item.price }}</span>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </span>
                </div>
                <a
                  [href]="isMonthly ? startup?.priceDetails[1].details[0].url : startup?.priceDetails[0].details[0].url"
                  (click)="gtmDatalayerPush('pricing_plan_startup')"
                  ><button nbButton status="primary" size="tiny" shape="round">
                    {{ startup?.button_text }}
                  </button></a
                >
              </div>
              <div *ngIf="devrel" class="subscription-header">
                <p class="heading">{{ devrel.name }}</p>
                <div class="header-price">
                  <span *ngIf="devrel?.priceDetails">
                    <!-- MONTHLY  -->
                    <ng-container *ngIf="isMonthly">
                      <ng-container *ngFor="let item of devrel.priceDetails[1].details">
                        <ng-container *ngIf="item.currencyType === selectedCurrency">
                          <span class="discounted-price">{{
                            item.price_after_discount ? item.price_after_discount : item.price
                          }}</span>

                          <ng-container *ngIf="item.price_after_discount">
                            <span class="earlier-price">{{ item.price }}</span>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>

                    <!-- ANUALLY -->
                    <ng-container *ngIf="isAnually">
                      <ng-container *ngFor="let item of devrel.priceDetails[0].details">
                        <ng-container *ngIf="item.currencyType === selectedCurrency">
                          <span class="current-price">{{
                            item.price_after_discount ? item.price_after_discount : item.price
                          }}</span>

                          <ng-container *ngIf="item.price_after_discount">
                            <span class="earlier-price">{{ item.price }}</span>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </span>
                </div>
                <a
                  *ngIf="devrel.priceDetails[1]?.details && devrel.priceDetails[0]?.details"
                  [href]="isMonthly ? devrel?.priceDetails[1].details[0].url : devrel?.priceDetails[0].details[0].url"
                  (click)="gtmDatalayerPush('pricing_plan_devrel_agency')"
                  ><button nbButton size="tiny" shape="round" status="primary">
                    {{ devrel?.button_text }}
                  </button></a
                >
              </div>
            </div>
            <div [ngClass]="{ 'hide-all-features': !showAllFeatures }">
              <div *ngFor="let pricingFeature of pricingFeatures" class="header-section">
                <div *appBreakpoints="'<=lg'" class="sub-features">
                  <p class="title">{{ pricingFeature.name }}</p>
                  <p class="enterprise-title">{{ enterprise?.name }}</p>
                  <p class="startup-title">{{ startup?.name }}</p>
                  <p class="devrel-title">{{ devrel?.name }}</p>
                </div>
                <p *appBreakpoints="'>lg'" class="title">{{ pricingFeature.name }}</p>
                <div *ngFor="let subFeature of pricingFeature.features" class="sub-features">
                  <div class="feature-name">{{ subFeature.name }}</div>
                  <p class="enterprise-highlight">
                    <ng-container *ngIf="subFeature.custom_text_for_enterprise">
                      <p class="description">{{ subFeature.custom_text_for_enterprise }}</p>
                    </ng-container>
                    <ng-container *ngIf="!subFeature.custom_text_for_enterprise && subFeature.enterprise">
                      <fa-icon class="check-mark" [icon]="faCircleCheck"></fa-icon>
                    </ng-container>
                    <ng-container *ngIf="!subFeature.custom_text_for_enterprise && !subFeature.enterprise">
                      <fa-icon class="cross-mark" [icon]="faCircleXmark"></fa-icon>
                    </ng-container>
                  </p>
                  <p>
                    <ng-container *ngIf="subFeature.custom_text_for_startup">
                      <p class="description">{{ subFeature.custom_text_for_startup }}</p>
                    </ng-container>
                    <ng-container *ngIf="!subFeature.custom_text_for_startup && subFeature.startup">
                      <fa-icon class="check-mark" [icon]="faCircleCheck"></fa-icon>
                    </ng-container>
                    <ng-container *ngIf="!subFeature.custom_text_for_startup && !subFeature.startup">
                      <fa-icon class="cross-mark" [icon]="faCircleXmark"></fa-icon>
                    </ng-container>
                  </p>
                  <p>
                    <ng-container *ngIf="subFeature.custom_text_for_agency">
                      <p class="description">{{ subFeature.custom_text_for_agency }}</p>
                    </ng-container>
                    <ng-container *ngIf="!subFeature.custom_text_for_agency && subFeature.agency">
                      <fa-icon class="check-mark" [icon]="faCircleCheck"></fa-icon>
                    </ng-container>
                    <ng-container *ngIf="!subFeature.custom_text_for_agency && !subFeature.agency">
                      <fa-icon class="cross-mark" [icon]="faCircleXmark"></fa-icon>
                    </ng-container>
                  </p>
                </div>
              </div>
              <div *ngIf="enterprise && startup && devrel" class="action-sub-features">
                <p class="action-title">Choose a Plan</p>
                <a
                  [href]="
                    isMonthly ? enterprise.priceDetails[1].details[0].url : enterprise.priceDetails[0].details[0].url
                  "
                  (click)="gtmDatalayerPush('pricing_plan_enterprise')"
                  ><button nbButton status="primary" size="tiny" shape="round">
                    {{ enterprise.button_text }}
                  </button></a
                >
                <a
                  [href]="isMonthly ? startup.priceDetails[1].details[0].url : startup.priceDetails[0].details[0].url"
                  (click)="gtmDatalayerPush('pricing_plan_startup')"
                  ><button nbButton status="primary" size="tiny" shape="round">
                    {{ startup.button_text }}
                  </button></a
                ><a
                  *ngIf="devrel.priceDetails[1]?.details && devrel.priceDetails[0]?.details"
                  [href]="isMonthly ? devrel.priceDetails[1].details[0].url : devrel.priceDetails[0].details[0].url"
                  (click)="gtmDatalayerPush('pricing_plan_devrel_agency')"
                  ><button nbButton size="tiny" shape="round" status="primary">
                    {{ devrel.button_text }}
                  </button></a
                >
              </div>
            </div>
            <button
              nbButton
              status="primary"
              shape="semi-round"
              *ngIf="!showAllFeatures"
              (click)="toggleShowAllFeatures()"
              class="show-all-features-btn"
            >
              <p><span>Compare All Features</span><fa-icon [icon]="faArrowDown"></fa-icon></p>
            </button>

            <div class="student-section">
              <div class="student-section-details">
                <p class="heading">Commudle for Students</p>
                <p class="sub-heading">
                  Commudle for Students Get a dedicated community space for all your members, their content, profiles &
                  multiple engagement options to share knowledge and build recognition.
                </p>
                <p class="features-heading-students">For The Tech Community Leaders</p>
                <ul class="student-features-list">
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Community and events dashboard</span>
                  </li>

                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Member management</span>
                  </li>

                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Community & Event Analytics</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Community newsletters</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Generative member growth</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Channels and forums</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Online & Offline events with smart shortlisting</span>
                  </li>
                  <li>
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    <span class="feature">Networking with experts and community leaders</span>
                  </li>
                </ul>
                <a
                  [routerLink]="['/student-non-profit-community-support']"
                  (click)="gtmDatalayerPush('pricing_plan_non_profit')"
                  ><button
                    nbButton
                    fullWidth
                    shape="semi-round"
                    size="large"
                    status="primary"
                    class="md:com-mt-7 com-mt-6"
                  >
                    Apply Now
                  </button></a
                >
              </div>
              <div class="student-startup-iamge">
                <img [src]="staticAssets.pricing_students" alt="Commudle for Students and Individuals" />
              </div>
            </div>
            <div class="avenues">
              <div class="heading">More avenues to interact with Developers on Commudle</div>
              <p class="sub-heading">
                Sponsor badges, sessions, run content campaigns with labs & builds, get a sponsored slot in our
                sponsored emailers through community organizers
              </p>
            </div>

            <!-- Logo cloud -->
            <div class="background-container-community" [ngStyle]="{ 'background-image': getCommunityLogoCardsUrl() }">
              <div class="base-layout">
                <div class="pricing-logo-cloud">
                  <p class="subheading">Communities already on Commudle</p>
                  <div class="communities">
                    <a *ngFor="let logo of logoCloud" [routerLink]="['/search', logo.slug]">
                      <div class="communities-card">
                        <div class="logo">
                          <img [alt]="logo.name" [nbTooltip]="logo.name" [src]="logo.image" />
                        </div>
                        <div class="communities-card-text">
                          <p class="name">{{ logo.name }}</p>
                          <p class="description">{{ logo.description }}</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <!-- FAQs -->
              <div class="base-layout">
                <div class="faq">
                  <commudle-faq [answers]="answers"></commudle-faq>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
