<nb-card class="home-communities">
  <nb-card-header>
    Communities
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item class="home-communities-details">
        <!--        <img *ngIf="event.header_image_path" alt="{{event.name}}" src="{{event.header_image_path}}">-->
        <!--        <div class="home-community-name"></div>-->
        <nb-user name="Name" title="Title"></nb-user>
        <button nbButton shape="round" size="tiny">Join</button>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
