<nb-card class="home-communities">
  <nb-card-header>
    Communities
  </nb-card-header>
  <nb-card-body class="home-communities-list">
    <nb-list *ngIf="communities.length === 0">
      <nb-list-item *ngFor="let _ of [].constructor(7)">
        <app-skeleton-text [rows]="2"></app-skeleton-text>
      </nb-list-item>
    </nb-list>
    <nb-list *ngIf="communities.length > 0">
      <nb-list-item *ngFor="let community of communities; let i = index" [routerLink]="['/communities', community.slug]"
                    class="clickable">
        <div class="home-community">
          <div class="home-community-image">
            <img alt="{{community.name}}" src="{{community.logo_image.i64}}">
          </div>
          <div class="home-community-details">
            <div class="home-community-name">
              {{community.name | truncatetext:20}}
            </div>
            <div class="home-community-member-count">
              {{community.member_count.toString() + ' Members'}}
            </div>
          </div>
        </div>
        <button *ngIf="community.id" [ngClass]="communityStatus[i] ? 'active' : ''" class="home-communities-join"
                nbButton shape="round">
          {{communityStatus[i] ? 'Joined' : 'Join'}}
        </button>
      </nb-list-item>
    </nb-list>
    <div *ngIf="communities.length > 0" [routerLink]="['/communities']" class="home-communities-all clickable">
      <a>View All</a>
    </div>
  </nb-card-body>
</nb-card>
