@import "projects/commudle-admin/src/assets/styles/variables";

nb-card-header, div, a {
  font-family: $primary-font-family;
}

.home-communities {
  margin: $space-16 0 0;
  border: 0;
  border-radius: $border-10;

  nb-card-header {
    font-size: $fs-h2;
    font-weight: $fw-600;
    color: $gunmetal;
    padding: $space-32 $space-16 $space-16;
    border-bottom: none;
  }

  .home-communities-list {
    padding: 0;

    nb-list {
      nb-list-item {
        padding: $space-16;
        margin-bottom: $space-8;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;

        app-skeleton-text {
          width: 100%;
        }

        .home-community {
          margin-right: $space-8;

          .home-community-image {
            min-height: 2.5rem;
            max-height: 2.5rem;
            min-width: 2.5rem;
            max-width: 2.5rem;
            overflow: hidden;
            border-radius: 50%;
            border: 0.5px solid $platinum;
            margin-right: $space-8;

            img {
              width: 100%;
            }
          }

          .home-community-details {
            .home-community-name {
              font-size: $fs-h5;
              font-weight: 600;
              color: $gunmetal;
            }

            .home-community-member-count {
              margin-top: $space-4;
              font-size: $fs-h6;
              font-style: italic;
              line-height: 14px;
              color: $spanish-gray;
            }
          }
        }

        .home-communities-join {
          padding: $space-4 $space-12;
          font-family: $primary-font-family;
          font-weight: 400;
          text-transform: capitalize;
          color: white;
          background-color: $neon-blue;
          border: none;
        }

        .home-communities-join.active {
          color: $neon-blue;
          background-color: white;
          border: 0.5px solid $neon-blue;
        }
      }
    }

    .home-communities-all {
      padding: $space-8 $space-28 $space-24;

      a {
        font-size: $fs-h5;
        color: rgba($neon-blue, 0.95);
      }
    }
  }
}

@media all and (max-width: $tab-width) {
  .home-communities {
    border-radius: 0;

    .home-communities-list {
      nb-list {
        flex-direction: row;

        nb-list-item {
          app-skeleton-text {
            width: 80vw;
          }

          .home-communities-join {
            display: none;
          }
        }
      }

      .home-communities-all {
        display: none;
      }
    }
  }
}
