ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

footer {
  .footer-social-links {
    a {
      @apply com-text-gray-400 hover:com-text-gray-500;
    }
    fa-icon {
      @apply com-text-lg;
    }
  }

  .footer-links {
    @apply com-mt-12 com-grid com-grid-cols-2 com-gap-8 xl:com-mt-0 xl:com-col-span-2;

    ul {
      @apply com-mt-4 com-space-y-4;

      li {
        a {
          @apply com-text-sm com-text-gray-500 hover:com-text-gray-900;
        }

        .developer-community-blueprint {
          @apply com-text-primary-500;
        }
      }
    }
  }

  .footer-copyright {
    @apply com-mt-12 com-border-t com-border-gray-200 com-pt-8;
    border-top-style: solid;
  }

  .show-footer {
    @apply md:com-px-86px com-px-4 com-pt-16 com-pb-0 com-bg-Anti-Flash;

    hr {
      @apply com-border-gray-300 com-border-solid com-border-[0.5px] com-max-w-[1280px];
    }

    .links {
      @apply com-flex com-justify-center com-py-8;

      ul {
        @apply com-flex com-list-none md:com-space-x-10 com-text-gray-500 com-items-center com-flex-wrap com-justify-center com-space-x-4;

        li {
          a {
            @apply com-text-gray-500;
          }

          img {
            @apply com-h-8;
          }
        }
      }
    }
  }
}
