@import './projects/commudle-admin/src/assets/styles/variables';

nb-card {
  nb-card-header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    a {
      @apply com-text-xl md:com-text-2xl com-font-semibold;
    }
  }

  nb-card-body {
    .qr-code-scanner {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: inherit;

      .camera-container {
        display: flex;
        justify-content: center;

        zxing-scanner {
          ::ng-deep {
            video {
              height: 300px;
              object-fit: contain;
              width: 300px;
            }
          }
        }
      }

      .cameras-list {
        margin-top: 20px;
        width: inherit;

        nb-form-field {
          width: inherit;
        }
      }

      .divider {
        border-bottom: 1px solid black;
        height: 12px;
        margin: 20px 0;
        text-align: center;
        width: 400px;

        @media all and (max-width: $mobile-width) {
          width: 330px;
        }

        span {
          background-color: white;
          font-size: 18px;
          padding: 0 10px;
        }
      }

      .entry-pass-form {
        margin-top: 10px;
        width: 300px;

        form {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}

::ng-deep {
  .cdk-overlay-container {
    .user-info {
      nb-card-header {
        display: none !important;
      }
    }
  }
}