@import "./projects/commudle-admin/src/assets/styles/variables";

nb-card {
  nb-card-header {
    display: flex;
    justify-content: space-between;

    h2 {
      cursor: pointer;
    }
  }

  nb-card-body {
    .qr-code-scanner {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: inherit;

      .camera-container {
        display: flex;
        justify-content: center;

        zxing-scanner {
          ::ng-deep {
            video {
              width: 300px;
              height: 300px;
              object-fit: contain;
            }
          }
        }
      }

      .cameras-list {
        width: inherit;
        margin-top: 20px;

        nb-form-field {
          width: inherit;
        }
      }

      .divider {
        width: 400px;
        height: 12px;
        border-bottom: 1px solid black;
        text-align: center;
        margin: 20px 0;

        @media all and (max-width: $mobile-width) {
          width: 330px;
        }

        span {
          font-size: 18px;
          background-color: white;
          padding: 0 10px;
        }
      }

      .entry-pass-form {
        width: 300px;
        margin-top: 10px;

        form {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      .user-details-container {
        margin-top: 30px;

        .contact-details {
          margin: 0;
        }

        .social-links {
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          font-size: 12px;
          a {
            color: black;
            margin: 0 0.5rem;
          }
        }
      }
    }
  }
}
