@import './projects/commudle-admin/src/assets/styles/variables';

.home-build-card {
  .home-build-card-prefix {
    .home-build-card-tags {
      gap: $space-4;

      .home-build-card-tag {
        background-color: $lavender;
        border-radius: $border-20;
        color: $neon-blue;
        font-size: $fs-h6;
        padding: 0 $space-8;
      }
    }
  }

  .home-build-card-content {
    margin: $space-8 0;

    .home-build-card-name {
      color: $gunmetal;
      font-size: $fs-h5;
      font-weight: 600;
      line-height: 16px;
    }

    .home-build-card-description {
      color: $spanish-gray;
      font-size: $fs-h6;
      line-height: normal;
      margin-top: $space-4;
    }
  }

  .home-build-card-suffix {
    .home-build-card-interactions {
      color: $gunmetal;
      font-size: $fs-h6;

      nb-icon {
        color: $silver-sand;
        font-size: $fs-h4;
      }
    }

    .home-build-card-author {
      height: 24px;
      overflow: hidden;

      .home-build-card-author-name {
        color: $gunmetal;
        font-size: $fs-h6;
        line-height: normal;
        padding-right: $space-4;
      }

      img {
        @apply com-h-6 com-w-6;
        @apply com-rounded-full com-object-cover com-object-center;
      }
    }
  }

  .home-build-card-suffix {
    .home-build-card-author {
      background-color: $lavender;
      border-radius: $border-8 12px 12px $border-8;
      padding-left: $space-8;

      .home-build-card-author-name {
        display: block;
      }
    }
  }
}
