<nb-layout>

  <nb-layout-header fixed>
    <div class="container">
      <div class="sidebar-toggle" (click)="toggleSidebar()">
        <fa-icon [icon]="faBars" size="1x" rotate={{rotateMenuIcon}}></fa-icon>
      </div>
      <p></p>
    </div>

  </nb-layout-header>

  <nb-sidebar responsive="true">
    <ul>
      <li><a routerLink="/communities">Communities</a></li>
    </ul>
  </nb-sidebar>

  <nb-layout-column>


    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
  Commudle
  </nb-layout-footer>

</nb-layout>
