:host {
  nb-layout-header {
    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .menu-left-container {
        display: flex;
        align-items: center;
        .sidebar-toggle {
          font-size: 1.5rem;
          cursor: pointer;
          color: grey;
          position: relative;
          fa-icon {
            vertical-align: sub;
            &:hover {
              transform: rotate(25deg);
            }
          }
        }

        .main-logo {
          display: flex;
          align-items: center;
          margin-left: 0.8rem;

          img {
            width: 35px;
          }
          @media screen and (max-width: 640px) {
            p {
              display: none;
            }
          }

          p {
            font-size: 1rem;
            color: #4481ff;
            margin: 0 0.5rem;
          }
        }
      }

      .menu-right-container {
        display: flex;
      }
    }
  }

  // nb-layout-footer {
  //   ::ng-deep {
  //     nav {
  //       flex-direction: column;
  //     }
  //   }
  //   .main-logo {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     margin-left: 0.8rem;
  //     img {
  //       width: 35px;
  //     }

  //     p {
  //       font-size: 1rem;
  //       color: #4481ff;
  //       margin: 0 0.5rem;

  //     }
  //   }

  //   .links {
  //     display: flex;
  //     justify-content: space-around;
  //     flex-wrap: wrap;
  //     margin: 1rem 0;
  //     .social {
  //       margin: 0 1rem;
  //       a {
  //         margin: 5px;
  //         color: grey;
  //         nb-icon {
  //           font-size: 1.3rem;
  //         }
  //       }
  //     }

  //     .pages, .policies {
  //       display: flex;
  //       flex-direction: column;
  //       a {
  //         margin: 0 0 0.5rem;
  //         text-decoration: none;
  //         color: grey;
  //       }
  //     }

  //     @media screen and (max-width: 800px) {
  //       flex-direction: column;
  //       align-items: flex-start;
  //       .social {
  //         margin: 0.5rem 0 0;
  //       }

  //       .pages, .policies {
  //         margin-top: 0.5rem;
  //       }
  //     }
  //   }
  // }

  // nb-sidebar {
  //   transition: width 0.1s;
  // }

@media(min-width:480px)
{
  nb-layout-footer 
  {
    ::ng-deep 
    {
      nav {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, rgba(83, 110, 255, 1), rgba(61, 170, 250, 1));
        padding: 0!important;      
      }
    }

    .Top-section-mobile
    {
      display:none;
    }

    .bottom-section-mobile
    {
      display:none;
    }

    .Top-section-desktop
    {
      display: flex;
      .main-logo 
      {
        padding-left:7%;
        img 
        {
          filter: brightness(5);
          width: 95px;
        }
      }

      gap:20%;
      padding-bottom: 3%;
      padding-top:3%;

      .links
      {

        display:flex;
        gap:18%;
        width:55%;
        a, a:hover 
        {
          text-decoration: none;
          font-size: 12px;
          color: white;
          font-weight: 800;
          font-family: "Work Sans";
        }

        .dev1
        {
          display:flex;
          flex-direction: column;
        }

        .dev2
        {
          display:flex;
          flex-direction: column;
        }

        .policies
        {
          display:flex;
          flex-direction: column;
        }

        .frequentQuestions
        {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .bottom-section-desktop
    {
      // display:flex;
      // .ellipses
      // {
      //   .ellipse7
      //   {
      //     height:20%;
      //     width:10%;
      //     position:absolute;
      //     left:0;
      //   }


      //   .ellipse8
      //   {

      //     height:10%;
      //     width:10%;
      //     position:absolute;
      //     left:0;
      //   }
  
      // }

      .infoWeb
      {
        .social 
        {
          display: flex;
          justify-content: center;
          gap: 1%;
          padding-top: 1%;
          order:3;
          nb-icon {
            font-size: 25px;
            color: white;
          }
        }

        .horizontalLine
        {
          justify-content: center;
          order:2;
          hr 
          {
            width: 50%;
            border: 0;
            height: 2px;
            background: white;
          }
        }

        .techStacks
        {
          display:flex;
          justify-content:center;
          order:4;
          p
          {
            color: whitesmoke;
          font-family: "Work Sans";
        } 
      }

    }
  }
}
}

@media(max-width:480px)
{
  nb-layout-footer 
  {
    ::ng-deep 
    {
      nav {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, rgba(83, 110, 255, 1), rgba(61, 170, 250, 1));
      }
    }

  .Top-section-desktop
  {
    display:none;
  }
  .bottom-section-desktop
  {
    display:none;
  }

  .Top-section-mobile
  {
    .main-logo 
    {
      padding-left: 10%;
      img 
      {
        filter: brightness(5);
        width: 50px;
      }
    }

    .links 
    {
      display: flex;
      padding-top: 7%;
      padding-left: 10%;
      a, a:hover {
        text-decoration: none;
        font-size: 12px;
        color: white;
        font-weight: 800;
        font-family: "Work Sans";
      }

      .dev-pages {
        display: flex;
        flex-direction: column;
        width: 14%;
        .dev1 { 

          display: flex;
          flex-direction: column;
          
        }
        .dev2 {
          display: flex;
          flex-direction: column;
          padding-top: 16px;
        }
      }

      .policies {
        display: flex;
        flex-direction: column;
        padding-left: 37%;
      }
    }
  }

  .bottom-section-mobile
  {
    .social 
    {
      display: flex;
      justify-content: center;
      gap: 3%;
      padding-top: 5%;
      nb-icon {
      // height:25px;
        font-size: 25px;
        color: white;
        // height:24px;
        // width:25px;
      }
    }

    .horizontalLine
    {
      justify-content: center;

      hr 
      {
        width: 15%;
        border: 0;
        height: 1px;
        background: white;
        margin-bottom: 3%;
      }
    }

    .techStacks
    {
      display:none;
    }

  }
}
}
}