@import '/projects/commudle-admin/src/assets/styles/variables';

.home-navbar {
  width: 100vw;

  nb-layout-header {
    &::ng-deep {
      nav {
        padding: $space-8 $space-16;
        justify-content: space-between;
      }
    }

    .home-navbar-logo {
      max-width: 3rem;
      min-width: 3rem;

      img {
        width: 100%;
      }
    }

    .home-navbar-menu {
      .home-navbar-menu-user {
        margin-left: $space-16;

        .menu-user-avatar {
          width: 45px;
          height: 45px;
        }

        .menu-user-options {
          gap: $space-8;

          button {
            padding: $space-8 $space-12;
            text-transform: capitalize;
            font-size: $fs-h5;
            font-weight: 400;
            border: 0.5px solid $neon-blue;
          }

          .menu-login {
            color: $neon-blue;
            background-color: $white;
          }

          .menu-signup {
            color: $white;
            background-color: $neon-blue;
          }

          .menu-login-signup {
            display: none;
          }
        }
      }
    }

    .home-sidebar {
      margin-left: $space-16;

      fa-icon {
        font-size: 1.25rem;
      }
    }
  }

  nb-layout-footer {
    &::ng-deep {
      nav {
        flex-direction: column;
        background-image: linear-gradient(266deg, $brilliant-azure 14.24%, $neon-blue 98.56%);
        overflow: hidden;
        padding: 0 !important;
      }
    }

    .footer {
      padding: 30px 40px 15px;

      .page-links {
        .logo {
          img {
            width: 50px;
            filter: brightness(5);
          }
        }

        .links {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;

          & > div {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 15px 0;

            a {
              letter-spacing: 0.5px;
              text-decoration: none;
              color: $white;
              font-weight: 600;
              font-size: 12px;
            }
          }

          .two {
            order: 2;
          }

          .four {
            display: none;
          }
        }
      }

      .social-links {
        margin-top: 16px;

        hr {
          border-top: 1px solid white;
          width: 65px;
        }

        .links {
          display: flex;

          nb-icon {
            color: $white;
            font-size: 24px;
            margin: 8px;
          }
        }

        .tech-stack {
          color: $cultured;
          display: none;
        }
      }

      .ellipse-large, .ellipse-small {
        visibility: hidden;
      }
    }
  }

  @media all and (min-width: $mobile-width) {
    nb-layout-footer {
      &::ng-deep {
        nav {
          display: flex;
          flex-direction: column;
          background-image: linear-gradient(265.99deg, $brilliant-azure 14.24%, $neon-blue 98.56%);
        }
      }

      .footer {
        padding: 30px 100px 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .page-links {
          width: 100%;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;

          .logo {
            width: 30%;

            img {
              width: 100px;
            }
          }

          .links {
            width: 70%;
            justify-content: space-around;

            & > div {
              width: unset;
            }

            .two {
              order: unset;
            }

            .four {
              display: unset;
            }
          }
        }

        .social-links {
          width: 60%;
          flex-direction: column;

          hr {
            width: 100%;
          }

          .links {
            justify-content: center;

            nb-icon {
              font-size: 30px;
              margin: 24px 8px 18px;
            }
          }

          .tech-stack {
            display: block;

            p {
              margin: 0;
              color: $white;
            }
          }
        }

        .ellipse-large {
          visibility: visible;
          width: 160px;
          height: 155px;
          background: linear-gradient(226.61deg, $neon-blue 14.04%, rgba($maya-blue, 0.71) 73.46%);
          border-radius: 50%;
          position: absolute;
          left: -40px;
          bottom: -30px;
        }

        .ellipse-small {
          visibility: visible;
          width: 140px;
          height: 135px;
          left: 70px;
          bottom: -70px;
          transform: rotate(45deg);
          background: linear-gradient(226.61deg, $neon-blue 14.04%, rgba($maya-blue, .71) 73.46%);
          border-radius: 100px 100px 100px 100px;
          position: absolute;
        }
      }
    }
  }
}

@media all and (max-width: $tab-width) {
  .home-navbar {
    &::ng-deep {
      .layout {
        nav {
          padding: $space-8 !important;
        }

        .layout-container {
          padding-top: 3rem;
        }
      }
    }

    nb-layout-header {
      .home-navbar-logo {
        max-width: 2rem;
        min-width: 2rem;
      }

      .home-navbar-search {
        margin: 0 $space-8;
        width: 100%;
      }

      .home-navbar-menu {
        .home-navbar-menu-user {
          margin-left: 0;

          .menu-user-avatar {
            width: 2rem;
            height: 2rem;

            &::ng-deep {
              .user-picture {
                width: 2rem;
                height: 2rem;
              }
            }
          }

          .menu-user-options {
            gap: $space-4;

            button {
              width: 92px;
              padding: $space-4 $space-8;
              font-size: $fs-h6;
            }

            .menu-login, .menu-signup {
              display: none;
            }

            .menu-login-signup {
              display: block;
              color: $neon-blue;
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
