<nb-layout>

  <nb-layout-header fixed>
    <div class="container">
      <div class="menu-left-container">
        <div (click)="toggleSidebar()" class="sidebar-toggle">
          <fa-icon [icon]="faBars" size="1x"></fa-icon>
          <nb-badge *ngIf="sideBarState == 'collapsed' && sideBarNotifications == true" [position]="'top end'"
                    status="danger"></nb-badge>
        </div>
        <div [routerLink]="['/']" class="main-logo clickable">
          <img alt="logo" src="/assets/images/commudle-logo72.png">
          <p>
            Commudle
          </p>
        </div>
      </div>
      <div class="menu-right-container">
        <a [routerLink]="['/']" class="hide-mobile" ghost nbButton>Home</a>
        <a [routerLink]="['/about']" class="hide-mobile" ghost nbButton>About</a>
        <a [routerLink]="['/communities']" class="hide-mobile" ghost nbButton>Communities</a>
        <a [routerLink]="['/labs']" class="hide-mobile" ghost nbButton>Labs</a>
        <a [routerLink]="['/builds']" class="hide-mobile" ghost nbButton>Builds</a>
        <nb-user
          *ngIf="currentUser"
          [nbContextMenu]="userContextMenu"
          name=""
          picture="{{ currentUser.avatar }}"
          size="medium"
        >
        </nb-user>
        <button (click)="login()"
                *ngIf="!currentUser" ghost nbButton status="info">
          <nb-icon icon="log-in-outline"></nb-icon>
          Log in / Sign Up
        </button>

      </div>
    </div>

  </nb-layout-header>

  <nb-sidebar [tag]="'mainMenu'" id="commudleSidebar" responsive="true" state="collapsed">
    <app-sidebar-menu></app-sidebar-menu>
  </nb-sidebar>

  <nb-layout-column (click)="closeSidebarMobile()">
    <router-outlet></router-outlet>
  </nb-layout-column>


  <nb-layout-footer *ngIf="footerStatus">

    <div class="footer">
      <div class="page-links">
        <div [routerLink]="['/']" class="logo">
          <img alt="Logo" class="clickable" src="/assets/images/commudle-logo128.png">
        </div>

        <div class="links">
          <div class="one">
            <a [routerLink]="['/']">HOME</a>
            <a [routerLink]="['/about']">ABOUT</a>
            <a [routerLink]="['/features']">FEATURES</a>
            <!-- <a [routerLink]="['/pricing']">PRICING</a> -->
          </div>

          <div class="two">
            <a [routerLink]="['/communities']">ALL COMMUNITIES</a>
            <a [routerLink]="['/labs']">LABS</a>
            <a [routerLink]="['/builds']">COMMUNITY BUILDS</a>
          </div>

          <div class="three">
            <a [routerLink]="['/policies/privacy-policy']">PRIVACY POLICY</a>
            <a [routerLink]="['/policies/terms-and-conditions']">TERMS & CONDITIONS</a>
          </div>

          <div class="four">
            <a [routerLink]="['/about']">FAQ</a>
          </div>
        </div>

      </div>


      <div class="social-links">
        <hr/>

        <div class="links">
          <a href="https://twitter.com/commudle" target="_blank">
            <nb-icon icon="twitter"></nb-icon>
          </a>
          <a href="https://linkedin.com/company/commudle" target="_blank">
            <nb-icon icon="linkedin"></nb-icon>
          </a>
          <a href="https://facebook.com/commudle" target="_blank">
            <nb-icon icon="facebook"></nb-icon>
          </a>
          <a href="https://github.com/commudle/commudle-ng" target="_blank">
            <nb-icon icon="github"></nb-icon>
          </a>
        </div>

        <div class="tech-stack">
          <p>Made with Angular, Ruby on Rails, Postgres, Redis and Love</p>
        </div>
      </div>
      <div class="ellipse-large"></div>
      <div class="ellipse-small"></div>
    </div>

  </nb-layout-footer>

</nb-layout>

<app-chats-container *ngIf="currentUser && cookieAccepted"></app-chats-container>

<app-user-visit-tracker></app-user-visit-tracker>
<app-sw-update></app-sw-update>
