:host{
  nb-layout-header{
    .container{
      display: flex;
      justify-content: space-between;
      width: 100%;
      .menu-left-container {
        display: flex;
        align-items: center;
        .sidebar-toggle {
          font-size: 1.5rem;
          cursor: pointer;
          color: grey;
          fa-icon {
            vertical-align: sub;
            &:hover{
              transform: rotate(25deg);
            }
          }

        }

        .main-logo {
          display: flex;
          align-items: center;
          margin-left: 0.8rem;

          img {
            width: 35px;
          }
          @media screen and (max-width: 640px) {
            p {
              display: none;
            }
          }

          p{
            font-size: 1rem;
            color: #4481ff;
            margin: 0 0.5rem;

          }
        }
      }

      .menu-right-container {
        display: flex;
      }
    }
  }

  nb-layout-footer {
    ::ng-deep {
      nav {
        flex-direction: column;
      }
    }
    .main-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0.8rem;
      img {
        width: 35px;
      }

      p {
        font-size: 1rem;
        color: #4481ff;
        margin: 0 0.5rem;

      }
    }

    .links {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 1rem 0;
      .social {
        margin: 0 1rem;
        a {
          margin: 5px;
          color: grey;
          nb-icon {
            font-size: 1.3rem;
          }
        }
      }

      .pages, .policies {
        display: flex;
        flex-direction: column;
        a {
          margin: 0 0 0.5rem;
          text-decoration: none;
          color: grey;
        }
      }


      @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
        .social {
          margin: 0.5rem 0 0;
        }
        
        .pages, .policies {
          margin-top: 0.5rem;
        }
      }
    }
  }


}
