<nb-layout>

  <nb-layout-header fixed>
    <div class="container">
      <div class="menu-left-container">
        <div class="sidebar-toggle" (click)="toggleSidebar()">
          <fa-icon [icon]="faBars" size="1x"></fa-icon>
          <nb-badge *ngIf="sideBarState == 'collapsed' && sideBarNotifications == true" status="danger" [position]="'top end'"></nb-badge>
        </div>
        <div class="main-logo clickable" [routerLink]="['/']">
          <img src="/assets/images/commudle-logo72.png">
          <p>
            Commudle
          </p>
        </div>
      </div>
      <div class="menu-right-container">
        <a nbButton ghost class="hide-mobile" [routerLink]="['/']">Home</a>
        <a nbButton ghost class="hide-mobile" [routerLink]="['/about']">About</a>
        <a nbButton ghost class="hide-mobile" [routerLink]="['/communities']">Communities</a>
        <a nbButton ghost class="hide-mobile" [routerLink]="['/labs']">Labs</a>
        <a nbButton ghost class="hide-mobile" [routerLink]="['/builds']">Builds</a>
        <nb-user
          *ngIf="currentUser"
          size="medium"
          name=""
          picture="{{ currentUser.avatar }}"
          [nbContextMenu]="userContextMenu"
        >
        </nb-user>
        <button *ngIf="!currentUser"
          (click)="login()" nbButton ghost status="info">
          <nb-icon icon="log-in-outline"></nb-icon>
          Log in / Sign Up
        </button>

      </div>
    </div>

  </nb-layout-header>

  <nb-sidebar state="collapsed" responsive="true" id="commudleSidebar" [tag]="'mainMenu'">
    <app-sidebar-menu></app-sidebar-menu>
  </nb-sidebar>

  <nb-layout-column (click)="closeSidebarMobile()">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>

    <div class="top-section-desktop">
      <div class="main-logo" [routerLink]="['/']">
        <img class = "clickable" src="/assets/images/commudle-logo72.png">
      </div>

      <div class="links">
        <div class="dev1">
          <a [routerLink]="['/']">HOME</a>
          <a [routerLink]="['/about']">ABOUT</a>
          <a [routerLink]="['/features']">FEATURES</a>
        </div>

        <div class="dev2">
          <a [routerLink]="['/communities']">ALL COMMUNITIES</a>
          <a [routerLink]="['/labs']">LABS</a>
          <a [routerLink]="['/builds']">COMMUNITY BUILDS</a>
        </div>
      
        <div class="policies">
          <a [routerLink]="['/policies/privacy-policy']">PRIVACY POLICY</a>
          <a [routerLink]="['/policies/terms-and-conditions']">TERMS & CONDITIONS</a>
        </div>
      
        <a class = "frequentQuestions" href="#">FAQ</a>
      </div>

    </div>
    

    <div class="top-section-mobile">
      <div class="main-logo" [routerLink]="['/']">
        <img class = "clickable" src="/assets/images/commudle-logo72.png">
      </div>

      <div class="links">
        <div class="dev-pages">
          <div class="dev1">
            <a [routerLink]="['/']">HOME</a>
            <a [routerLink]="['/about']">ABOUT</a>
            <a [routerLink]="['/features']">FEATURES</a>
            <a href = "https://test.commudle.com/features">FAQ</a>
          </div>
          <div class="dev2">
            <a [routerLink]="['/communities']">COMMUNITIES</a>
            <a [routerLink]="['/labs']">LABS</a>
            <a [routerLink]="['/builds']">BUILDS</a>
            <a href = "#">EVENTS</a>
          </div>
        </div>
      
        <div class="policies">
          <a [routerLink]="['/policies/privacy-policy']">PRIVACY POLICY</a>
          <a [routerLink]="['/policies/terms-and-conditions']">TERMS & CONDITIONS</a>
        </div>
      </div>
    </div>
    
    <div class="bottom-section-desktop">
      <div class="ellipses">
        <div class = "ellipse7"></div>
        <div class = "ellipse8"></div>
      </div>
      <div class="infoWeb">
        <div class="horizontalLine"><hr></div>

        <div class="social">
          <a href="https://twitter.com/commudle" target="_blank">
            <nb-icon icon="twitter"></nb-icon>
          </a>
          <a href="https://linkedin.com/company/commudle" target="_blank">
            <nb-icon icon="linkedin"></nb-icon>
          </a>
          <a href="https://facebook.com/commudle" target="_blank">
            <nb-icon icon="facebook"></nb-icon>
          </a>
          <a href="https://github.com/commudle/commudle-ng" target="_blank">
            <nb-icon icon="github"></nb-icon>
          </a>
        </div>

        <div class="techStacks">
          <p>Made with angular11, RubyonRails, Postgres, Redis and Love</p>
        </div>
      </div>
    </div>

    <div class="bottom-section-mobile">
      <div class="horizontalLine"><hr></div>
      <div class="social">
        <a href="https://twitter.com/commudle" target="_blank">
          <nb-icon icon="twitter"></nb-icon>
        </a>
        <a href="https://linkedin.com/company/commudle" target="_blank">
          <nb-icon icon="linkedin"></nb-icon>
        </a>
        <a href="https://facebook.com/commudle" target="_blank">
          <nb-icon icon="facebook"></nb-icon>
        </a>
        <a href="https://github.com/commudle/commudle-ng" target="_blank">
          <nb-icon icon="github"></nb-icon>
        </a>
    </div>
   </div>

    

  </nb-layout-footer>
</nb-layout>


<app-user-visit-tracker></app-user-visit-tracker>
<app-sw-update></app-sw-update>
