:host {
  nb-layout-header {
    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .menu-left-container {
        display: flex;
        align-items: center;
        .sidebar-toggle {
          font-size: 1.5rem;
          cursor: pointer;
          color: grey;
          position: relative;
          fa-icon {
            vertical-align: sub;
            &:hover {
              transform: rotate(25deg);
            }
          }
        }

        .main-logo {
          display: flex;
          align-items: center;
          margin-left: 0.8rem;

          img {
            width: 35px;
          }
          @media screen and (max-width: 640px) {
            p {
              display: none;
            }
          }

          p {
            font-size: 1rem;
            color: #4481ff;
            margin: 0 0.5rem;
          }
        }
      }

      .menu-right-container {
        display: flex;
      }
    }

  nb-sidebar {
    transition: width 0.1s;
  }

  }


@media only screen and (min-width: 480px)
{
  nb-layout-footer 
  {
    ::ng-deep 
    {
      nav {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(265.99deg, #3DAAFA 14.24%, #536EFF 98.56%);
        padding: 0!important;  
        overflow:hidden;
    
      }
    }

    .top-section-mobile
    {
      display:none;
    }

    .bottom-section-mobile
    {
      display:none;
    }

    .top-section-desktop
    {
      display: flex;
      .main-logo 
      {
        padding-left:133px;
        img 
        {
          filter: brightness(5);
          width: 95px;
        }
      }

      gap:20%;
      padding-top:40px;

      .links
      {

        display:flex;
        gap:18%;
        width:55%;
        padding:19px;
        a, a:hover 
        {
          text-decoration: none;
          font-size: 12px;
          color: white;
          font-weight: 800;
          font-family: "Work Sans";
        }

        .dev1
        {
          display:flex;
          flex-direction: column;
        }

        .dev2
        {
          display:flex;
          flex-direction: column;
        }

        .policies
        {
          display:flex;
          flex-direction: column;
        }

        .frequentQuestions
        {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .bottom-section-desktop
    {
      display:flex;
      gap:21%;
      .ellipses
      {
        position:relative;
        .ellipse7
        {
          width: 267px;
          height: 262px;
          background: linear-gradient(226.61deg, #536EFF 14.04%, rgba(114, 193, 255, 0.71) 73.46%);
          border-radius: 200px 200px 200px 200px;
          position:absolute;
          left:-69px;
          bottom:-20px;
        }
        .ellipse8
        {
          width: 140px;
          height: 135px;
          background: linear-gradient(226.61deg, #536EFF 14.04%, rgba(114, 193, 255, 0.71) 73.46%);
          border-radius: 100px 100px 100px 100px;
          position:absolute;
          left:126px;
          bottom:-70px;
          transform:rotate(45deg);
        }
  
      }

      .infoWeb
      {
        display:flex;
        flex-direction:column;
        justify-content: center;
        width:56%;

          .social 
          {
            display: flex;
            justify-content: center;
            gap: 1%;
            padding-top: 5px;
            order:3;
            nb-icon {
              font-size: 25px;
              color: white;
            }
          }

          .horizontalLine
          {
            order:2;
            padding-top: 102px;
            padding-bottom:18px;
            hr 
            {
              width: 85%;
              border: 0;
              height: 2px;
              background: white;
            }
          }

          .techStacks
          {
            display:flex;
            justify-content:center;
            order:4;
            padding-bottom:36px;
            p
            {
              color: whitesmoke;
              font-family: "Work Sans";
            }  
          }
      }
    }
  }
}



@media only screen and (max-width: 480px)
  {
  nb-layout-footer 
  {
    ::ng-deep 
    {
      nav {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, rgba(83, 110, 255, 1), rgba(61, 170, 250, 1));
      }
    }

    .top-section-desktop
    {
      display:none;
    }
    .bottom-section-desktop
    {
      display:none;
    }

    .top-section-mobile
    {
      .main-logo 
      {
        padding-left: 10%;
        img 
        {
          filter: brightness(5);
          width: 50px;
        }
      }

      .links 
      {
        display: flex;
        padding-top: 14px;
        padding-left: 38px;
        a, a:hover
        {
          text-decoration: none;
          font-size: 12px;
          color: white;
          font-weight: 800;
          font-family: "Work Sans";
        }

        .dev-pages
        {
          display: flex;
          flex-direction: column;
          width: 14%;
          .dev1
          { 
            display: flex;
            flex-direction: column; 
          }
          .dev2
          {
            display: flex;
            flex-direction: column;
            padding-top: 16px;
          }
        }

        .policies
        {
          display: flex;
          flex-direction: column;
          padding-left: 150px;
        }
      }
    }

    .bottom-section-mobile
    {
      .social 
      {
        display: flex;
        justify-content: center;
        gap: 3%;
        padding-top: 15px;
        nb-icon 
        {
          font-size: 25px;
          color: white;
        }
      }

      .horizontalLine
      {
        justify-content: center;

        hr 
        {
          width: 15%;
          border: 0;
          height: 1px;
          background: white;
          margin-bottom: 3%;
        }
      }

      .techStacks
      {
        display:none;
      }

    }
  }
}
}