<nb-card class="admin-featured-communities">
  <nb-card-header class="d-flex align-items-center justify-content-space-between">
    Featured Communities
    <button (click)="openDialog(createFeaturedCommunityDialog)" ghost nbButton size="small">
      <nb-icon icon="plus"></nb-icon>
      Create
    </button>
  </nb-card-header>
  <nb-card-body>
    <nb-list class="featured-communities-container">
      <nb-list-item *ngFor="let featuredCommunity of featuredCommunities" class="justify-content-space-between">
        <div>
          <app-community-badge [community]="featuredCommunity.kommunity"></app-community-badge>
          <p>{{featuredCommunity.reason}}</p>
        </div>
        <div class="actions d-flex">
          <button
            (click)="openDialog(updateFeaturedCommunityDialog, featuredCommunity.id, true)"
            nbButton
            outline
            size="tiny"
            status="info"
          >
            Edit
          </button>
          <button
            (click)="openDialog(deleteFeaturedCommunityDialog, featuredCommunity.id)"
            nbButton
            outline
            size="tiny"
            status="danger"
          >
            Delete
          </button>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
  <button (click)="getFeaturedCommunities()" *ngIf="featuredCommunities.length !== total" fullWidth ghost nbButton>
    Get more featured communities
  </button>
</nb-card>

<ng-template #createFeaturedCommunityDialog let-ref="dialogRef">
  <nb-card class="create-featured-community-dialog">
    <nb-card-header class="d-flex align-items-center justify-content-space-between">
      Create a Featured Community
      <button (click)="ref.close()" ghost nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <input
        (input)="onInputChange($event)"
        [disabled]="selectedCommunity"
        [nbAutocomplete]="autoComplete"
        [value]="selectedCommunity?.name"
        fullWidth
        nbInput
        placeholder="Search for communities"
        type="text"
      />
      <nb-autocomplete #autoComplete (selectedChange)="onSelectionChange($event)">
        <nb-option *ngFor="let community of communities" [value]="community">
          <div class="logo">
            <img alt="{{community.name}}" src="{{community.logo_path}}" title="{{community.name}}" />
          </div>
          {{community.name}}
        </nb-option>
      </nb-autocomplete>
      <div *ngIf="selectedCommunity" class="d-flex justify-content-space-between">
        <app-community-badge [community]="selectedCommunity"></app-community-badge>
        <button (click)="onSelectionDelete()" ghost nbButton size="small" status="danger">Delete</button>
      </div>
      <input [(ngModel)]="reason" fullWidth nbInput placeholder="Enter the reason" type="text" />
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-space-between">
      <button (click)="ref.close()" ghost nbButton status="danger">Cancel</button>
      <button
        (click)="createFeaturedCommunity(); ref.close()"
        [disabled]="reason === '' || !selectedCommunity"
        nbButton
        status="success"
      >
        Create
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #updateFeaturedCommunityDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="d-flex align-items-center justify-content-space-between">
      Edit a Featured Community
      <button (click)="ref.close()" ghost nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <input [(ngModel)]="reason" fullWidth nbInput placeholder="Enter the reason" type="text" />
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-space-between">
      <button (click)="ref.close()" ghost nbButton status="danger">Cancel</button>
      <button
        (click)="updateFeaturedCommunity(data.id); ref.close()"
        [disabled]="reason === ''"
        nbButton
        status="success"
      >
        Update
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #deleteFeaturedCommunityDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="d-flex align-items-center justify-content-space-between">
      Delete a Featured Community
      <button (click)="ref.close()" ghost nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>Are you sure you want to delete?</nb-card-body>
    <nb-card-footer class="d-flex justify-content-space-between">
      <button (click)="deleteFeaturedCommunity(data.id); ref.close()" ghost nbButton status="success">Yes</button>
      <button (click)="ref.close()" nbButton status="danger">No</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
