.community-channel-list {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  .channel-group {
    margin-bottom: 1.5rem;
    .group-name {
      display: flex;
      justify-content: space-between;
      p {
        font-size: 0.8rem;
        color: grey;
        min-width: 10px;
        margin-bottom: 0;
        word-break: break-all;
      }
    }

    .channels {
      ul {
        list-style: none;
        padding-left: 0.5rem;
        margin: 0.5rem 0;
        li {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          nb-icon {
            font-size: 0.8rem;
            color: grey;
          }

          .name {

          }
        }
      }
    }
  }

}
