<div class="community-channel-list">
  <p>
    <a nbButton ghost size="tiny" [routerLink]="[{outlets: {'p': ['new-channel']}}]">
      <nb-icon icon="plus"></nb-icon>
      New Channel
    </a>
  </p>

  <div class="channel-group" *ngFor="let chGroup of groupedChannels | keyvalue">
    <div class="group-name">
      <p>
        {{(chGroup.key | uppercase) || 'GENERAL'}}
      </p>
      <p>

        <a nbButton ghost size="tiny" [routerLink]="[{outlets: {'p': ['new-channel']}}]" [queryParams]="{group_name: chGroup.key}">
          <nb-icon icon="plus"></nb-icon>
        </a>
      </p>
    </div>
    <div class="channels">
      <ul>
        <li *ngFor="let channel of chGroup.value">
          <p class="name">
            <a [routerLink]="[channel.id]">
              {{channel.name}}
            </a>
          </p>
          <p class="settings">
            <a [routerLink]="[{outlets: {'p': ['settings', channel.id, 'invite']}}]">
              <nb-icon icon="person-add"></nb-icon>
            </a>
            <a [routerLink]="[{outlets: {'p': ['settings', channel.id, 'edit']}}]">
              <nb-icon icon="settings"></nb-icon>
            </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
