.user-roles-user-form {
  display: flex;
  flex-wrap: wrap;

  > div {
    margin-right: 1rem;
  }

  .save-button-bottom {
    margin-top: 18px;
  }
}

.volunteers {
  display: flex;
  flex-wrap: wrap;
  .user-profile {
    border: 0.5px solid lightgrey;
    padding: 5px;
    justify-content: center;
    display: flex;

    margin: 1rem;
    @apply com-w-full  md:com-w-80;
    @media screen and (min-width: 1000px) {
      align-items: center;
      justify-content: space-between;
    }
  }
}

h6 {
  font-weight: 300;
  margin: 0;
}

p {
  margin: 0;
}
