<div>
  <div *ngIf="volunteers.length > 0">
    <div class="volunteers">
      <div *ngFor="let group of groupedVolunteers | keyvalue">
        <p class="heading_role_designation">{{ group.key }}</p>
        <div *ngFor="let org of group.value; let i = index" class="user-profile">
          <app-user-profile-horizontal [socialMediaLinks]="true" [user]="org.user"></app-user-profile-horizontal>
          <div class="actions">
            <a
              (click)="resendInvitationMail(org)"
              *ngIf="org.status === EUserRolesUserStatus.INVITED"
              class="clickable"
            >
              <small>Resend Invite</small>
            </a>
            <br />
            <a (click)="remove(org, i)" class="clickable">
              <small>Remove</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="event.editable">
    <h6>Add a Volunteer</h6>
    <p>
      <small> *Volunteers can only access the attendance page (which is applicable only for offline events) </small>
    </p>
    <form (ngSubmit)="createUserRolesUser()" [formGroup]="userRolesUserForm" class="user-roles-user-form">
      <div>
        <label fullWidth>
          Email*
          <input
            fieldSize="tiny"
            formControlName="email"
            fullWidth
            nbInput
            placeholder="Google/Gmail Email"
            type="email"
          />
        </label>
        <span
          *ngIf="
            userRolesUserForm['controls'].email.touched &&
            userRolesUserForm['controls'].email.invalid &&
            userRolesUserForm['controls'].email.errors.required
          "
          class="validation-error-text"
        >
          Required Field
        </span>
      </div>

      <div class="designation">
        <label fullWidth>
          Designation*
          <input
            fieldSize="medium"
            formControlName="role_designation"
            fullWidth
            nbInput
            placeholder="Role Designation"
            type="text"
          />
        </label>
        <span *ngIf="userRolesUserForm['controls'].role_designation.touched" class="validation-error-text">
          Required Field
        </span>
      </div>

      <div class="save-button-bottom">
        <button [disabled]="!userRolesUserForm.valid" nbButton outline size="tiny" status="primary" type="submit">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
