.user-roles-user-form {
  > div {
    margin-right: 1rem;
  }

  .save-button-bottom,
  .designation {
    margin-top: 18px;
  }
}

.volunteers {
  @apply com-mx-0 com-my-6;
  table {
    @apply com-w-full md:com-w-3/5;
  }
  .heading_role_designation {
    font-weight: 500;
  }

  .user-profile {
    border: 0.5px solid lightgrey;
    padding: 5px;
    justify-content: center;
    display: flex;

    margin: 1rem;
    @apply com-w-full  md:com-w-96;
    @media screen and (min-width: 1000px) {
      align-items: center;
      justify-content: space-between;
    }
  }
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

table {
  @apply com-border-collapse com-w-3/5;
}

td,
th {
  @apply com-border com-border-solid com-border-gray-300 com-text-left com-p-2;
}
