<div *ngIf="community" class="community-card-container" [ngClass]="horizontalScroll ? 'com-w-72' : 'com-w-full'">
  <a [routerLink]="['/communities', community.slug]">
    <div class="community-card-prefix">
      <img
        alt="{{ community.name }}"
        class="community-card-logo"
        src="{{ community.logo_path }}"
        title="{{ community.name }}"
      />
      <div class="community-card-details">
        <h5 class="community-card-name">{{ community.name }}</h5>
        <p class="community-card-members">{{ community.members_count }} Members</p>
      </div>
    </div>
    <div class="community-card-suffix">
      <div *ngIf="community.mini_description" class="community-card-about">
        {{ community.mini_description }}
      </div>
      <div class="community-card-tags">
        <app-tag
          [tags]="getTagNames()"
          [backgroundColor]="'com-bg-Azure-opacity-10'"
          [size]="'tiny'"
          [fontColor]="'com-text-Dark-Jungle-Green'"
          [maximumTag]="5"
        ></app-tag>
      </div>
    </div>
  </a>
  <div class="community-join-btn">
    <app-membership-toggle
      [community]="community"
      [status]="'info'"
      [shapes]="'semi-round'"
      [isMobileWidthFull]="true"
    ></app-membership-toggle>
  </div>
</div>
