<nb-card>
  <nb-card-body>
    <div class="upper-section">
      <div class="logo">
        <img [src]="sponsor.logo?.url" [alt]="sponsor.name" />
      </div>
      <div class="name-website">
        <div class="name">
          <span>{{ sponsor.name }}</span>
          <fa-icon (click)="destroySponsor(sponsor)" [icon]="faCircleXmark"></fa-icon>
        </div>
        <a [href]="sponsor.link" target="_blank" class="website">{{ sponsor.link }}</a>
      </div>
    </div>
    <div class="description">{{ sponsor.description }}</div>
  </nb-card-body>
</nb-card>
