<nb-card class="event-details-container">
  <nb-card-header>
    <h6>
      <nb-icon icon="info-outline"></nb-icon>
      Details
    </h6>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="event.header_image_path">
      <img
        [src]="event.header_image_path"
        alt="Event Header Image"
        class="com-block com-mx-auto com-max-w-screen-lg"
        title="Event Header Image"
      />
      <button
        (click)="deleteHeaderImage.emit()"
        *ngIf="event.editable"
        class="event-header-delete"
        nbButton
        outline
        size="tiny"
        status="danger"
      >
        <nb-icon icon="trash-2-outline"></nb-icon>
        Delete
      </button>
    </ng-container>

    <label
      *ngIf="event.editable && !event.header_image_path"
      class="
        com-mx-auto
        com-w-64
        com-flex
        com-flex-col
        com-items-center
        com-px-4
        com-py-6
        com-tracking-wide
        com-cursor-pointer
        com-bg-gray-100
        com-rounded-md
        com-transition-shadow
        hover:com-shadow-md
      "
    >
      <svg class="com-w-8 com-h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"
        />
      </svg>
      <span class="com-mt-2 com-text-base">Upload a header image</span>
      <span class="com-text-base"><small>(1000 x 350)</small></span>
      <input (change)="updateHeaderImage.emit($event)" accept="image/*" class="com-hidden" type="file" />
    </label>

    <div class="event-details">
      <h3 class="fs-h3">{{ event.name }}</h3>
      <p *ngIf="event.start_time">
        <nb-icon icon="clock-outline"></nb-icon>
        <span>
          {{ moment(event.start_time).format('dddd Do MMM, YYYY h:mm A') }} to
          {{ moment(event.end_time).format('dddd Do MMM, YYYY h:mm A') }}
          {{ moment(event.end_time).format('z') }}
        </span>
      </p>
      <div class="com-flex com-gap-2">
        <nb-icon icon="info-outline"></nb-icon>
        <div [innerHTML]="event.description" class="com-prose"></div>
      </div>
      <a *ngIf="event.editable" class="com-mt-4" ghost nbButton routerLink="edit" size="small" status="primary">
        <nb-icon icon="edit-outline"></nb-icon>
        Edit Basic Details
      </a>
    </div>
  </nb-card-body>
</nb-card>
