<nb-card>
  <nb-card-header
    ><h2>Post a content<fa-icon [icon]="faChevronDown"></fa-icon></h2
  ></nb-card-header>
  <!-- *ngIf="updates.length > 0" -->
  <nb-card-body>
    <div class="container">
      <div class="registrations">
        <div class="event-registrations">
          <h2 class="event-registration-heading">Your Event Registrations</h2>
          <h3 class="event-registration-subheading">Click on View pass to check out your entry pass</h3>
          <table>
            <tr>
              <td class="table-heading">Name</td>
              <td class="table-heading">Type</td>
              <td class="table-heading">Your Status</td>
              <td class="table-heading">Action</td>
            </tr>
            <!-- *ngFor="let update of updates; let i = index" -->
            <tr>
              <td class="event-title-date">
                <span class="event-title">Google Cloud Day 2024</span>
                <span class="date">26 July 2024</span>
              </td>
              <td class="table-type">Attendee</td>
              <td [ngClass]="{ confirmed: ERegistrationStatuses.CONFIRMED }" class="table-status">Confirmed</td>
              <!-- (click)="toggleEntryPass(i)" -->
              <td><button nbButton status="" shape="round" size="tiny">View Pass</button></td>
            </tr>
            <tr>
              <td class="com-flex com-flex-col">
                <span>Google Cloud Day 2024</span>
                <span>26 July 2024</span>
              </td>
              <td>Attendee</td>
              <td>Confirmed</td>
              <td><button nbButton status="" shape="round" size="tiny">View Pass</button></td>
            </tr>
          </table>
        </div>
        <div class="qr-code">
          <nb-card>
            <nb-card-body>
              <canvas #qrCanvas></canvas>
              <!-- <img [src]="'https://quickchart.io/qr?text=137228'" /> -->
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="channel-updates">
        <div class="channel-update">
          <div class="channel-name">
            <fa-icon></fa-icon>
            <h2>GDG New Delhi Designers</h2>
          </div>
          <div class="channel-new-messages">
            <fa-icon></fa-icon>
            <h2>18+ messages</h2>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
