<nb-card>
  <nb-card-header
    ><h2>Post a content<fa-icon class="plus-icon" [icon]="faPlus"></fa-icon></h2
  ></nb-card-header>
  <!-- *ngIf="updates?.length > 0" -->
  <nb-card-body class="main-body">
    <div class="tabs">
      <button
        nbButton
        status="basic"
        [class.active]="activeTab === 'channel'"
        size="small"
        shape="round"
        (click)="setActiveTab('channel')"
      >
        Channel Updates
      </button>
      <button
        nbButton
        status="basic"
        size="small"
        shape="round"
        [class.active]="activeTab === 'registrations'"
        (click)="setActiveTab('registrations')"
      >
        Registrations
      </button>
    </div>
    <!-- class="container" -->
    <nb-card *ngIf="activeTab === 'registrations'" class="registrations">
      <nb-card-body>
        <div class="event-registrations">
          <h2 class="event-registration-heading">Your Registrations</h2>

          <div class="registration-grid">
            <div class="registration-header">
              <div class="table-heading">Name</div>
              <div class="table-heading">Type</div>
              <div class="table-heading">Your Status</div>
              <div class="table-heading">Action</div>
            </div>
            <div *ngFor="let registration of myRegistrations; let i = index" class="registration-row">
              <!-- <div class="registration"> -->
              <div class="event-title-date">
                <span class="event-title">{{ registration.event.name }}</span>
                <span class="date">{{ moment(registration.event.start_time).format('Do MMMM, YYYY') }}</span>
              </div>
              <div class="table-type">{{ registration.registration_for }}</div>
              <div
                [ngClass]="{
                  confirmed: ERegistrationStatuses.CONFIRMED === registration.registration_status,
                  registered: ERegistrationStatuses.REGISTERED === registration.registration_status,
                  waiting: ERegistrationStatuses.WAITING === registration.registration_status,
                  shortlisted: ERegistrationStatuses.SHORTLISTED === registration.registration_status,
                  cancelled: ERegistrationStatuses.CANCELLED === registration.registration_status
                }"
                class="table-status"
              >
                {{ registration.registration_status }}
              </div>
              <div>
                <button
                  *ngIf="registration.entry_pass"
                  nbButton
                  status="primary"
                  shape="round"
                  size="tiny"
                  (click)="toggleEntryPass(i, registration.entry_pass.unique_code)"
                >
                  View Pass
                </button>
              </div>
              <!-- </div> -->
              <!-- <table>
            <tr>
              <td class="table-heading">Name</td>
              <td class="table-heading">Type</td>
              <td class="table-heading">Your Status</td>
              <td class="table-heading">Action</td>
            </tr>
            <tr *ngFor="let registration of myRegistrations; let i = index" class="registration-data">
              <td class="event-title-date">
                <span class="event-title">{{ registration.event.name }}</span>
                <span class="date">{{ moment(registration.event.start_time).format('Do MMMM, YYYY') }}</span>
              </td>
              <td class="table-type">{{ registration.registration_for }}</td>
              <td
                [ngClass]="{
                  confirmed: ERegistrationStatuses.CONFIRMED === registration.registration_status,
                  registered: ERegistrationStatuses.REGISTERED === registration.registration_status,
                  waiting: ERegistrationStatuses.WAITING === registration.registration_status,
                  shortlisted: ERegistrationStatuses.SHORTLISTED === registration.registration_status,
                  cancelled: ERegistrationStatuses.CANCELLED === registration.registration_status
                }"
                class="table-status"
              >
                {{ registration.registration_status }}
              </td>
              <td>
                <button
                  *ngIf="registration.entry_pass"
                  nbButton
                  status="primary"
                  shape="round"
                  size="tiny"
                  (click)="toggleEntryPass(i, registration.entry_pass.unique_code)"
                >
                  View Pass
                </button>
              </td>
            </tr>
          </table> -->
            </div>
          </div>
          <div *ngFor="let registration of myRegistrations; let i = index">
            <div *ngIf="showEntryPass[i]" class="qr-code">
              <nb-card>
                <nb-card-body>
                  <canvas #qrCanvas></canvas>
                  <p>{{ registration.event.name }}</p>
                  <!-- <img [src]="'https://quickchart.io/qr?text=' + registration.entry_pass.unique_code" /> -->
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </div>
        <!-- *ngIf="showEntryPass[i]" 
        <div class="qr-code">
          <nb-card>
            <nb-card-body>
              <canvas #qrCanvas></canvas>
              <img [src]="'https://quickchart.io/qr?text=137228'" />
            </nb-card-body>
          </nb-card>
        </div> -->
      </nb-card-body>
    </nb-card>
    <nb-card class="channel-updates" *ngIf="activeTab === 'channel'">
      <nb-card-body>
        <div class="badge-and-messages">
          <!-- *ngIf="community" -->
          <div class="community-badge">
            <!-- <app-community-badge [community]="community" [size]="'small'"></app-community-badge> -->
          </div>
          <div class="channel-update">
            <div class="channel-name">
              <fa-icon></fa-icon>
              <h2>GDG New Delhi Designers</h2>
            </div>
            <div class="channel-new-messages">
              <fa-icon [icon]="faComments"></fa-icon>
              <h2>18+ messages</h2>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
