.header {
  @apply md:com-max-h-[386px] com-max-h-full;
  .background {
    @apply com-m-0 com-p-0 md:com-h-[386px] com-w-full com-h-full;

    .base-layout {
      @apply com-min-h-full;
      .content {
        @apply com-flex md:com-rounded-lg com-rounded-none md:com-flex-row com-flex-col md:com-justify-between md:com-w-[1280px] com-w-auto com-h-full;
        .header-text {
          @apply com-flex com-flex-col md:com-p-0 com-px-4 md:com-pt-10 com-py-6 md:com-w-[769px] md:com-min-h-[386px] com-w-full com-h-full;

          .heading-text {
            @apply com-flex com-items-center com-mt-0 com-mb-9 md:com-mb-10;

            .button {
              @apply com-mr-4 md:com-w-[58px] md:com-h-[58px] com-bg-primary-100 com-w-11 com-h-11 com-border-0 com-flex com-items-center com-justify-center com-rounded-md;

              .flask-icon {
                @apply com-text-Catalina-Blue md:com-text-2xl com-text-[32px] com-flex-shrink-0;
              }
            }
            .title {
              @apply md:com-text-5xl com-text-4xl com-font-bold com-text-tYankees-Blue com-m-0;
            }
          }
          .heading {
            @apply md:com-text-[28px] com-text-xl md:com-font-bold com-font-medium com-m-0 com-mx-0 md:com-mb-3 com-mb-8 com-text-Catalina-Blue;
          }
          .subheading {
            @apply md:com-text-2xl com-text-xl com-font-medium com-m-0 com-mx-0  com-text-Catalina-Blue;
          }

          .richText {
            @apply md:com-w-[652px] com-mb-[30px] com-w-auto;
          }
        }

        .header-image {
          @apply com-flex com-items-center com-m-0 com-h-[300px] md:com-h-[386px];
          img {
            @apply com-h-full com-mx-auto com-py-1;
          }
        }
      }
    }
  }
}
::ng-deep {
  .richText {
    p {
      @apply md:com-text-2xl com-text-xl com-m-0;
      color: initial;
    }
  }
}
