<div class="header">
  <div
    *ngIf="labsPageHeader"
    [ngStyle]="{ 'background-color': labsPageHeader.background_color.hex }"
    class="background"
  >
    <div class="base-layout">
      <div class="content">
        <div class="header-text">
          <div class="heading-text">
            <div class="button">
              <fa-icon [icon]="faFlask" class="flask-icon"></fa-icon>
            </div>
            <h1 class="title">
              {{ labsPageHeader.title }}
            </h1>
          </div>
          <p class="heading">{{ labsPageHeader.heading }}</p>
          <div [innerHTML]="richText" class="richText"></div>
          <p class="subheading">{{ labsPageHeader.sub_heading }}</p>
        </div>
        <ng-container *ngIf="labsPageHeader?.image_link">
          <a class="header-image" [href]="labsPageHeader.image_link">
            <img [src]="imageUrl(labsPageHeader.header_image).url()" class="com-w-full" />
          </a>
        </ng-container>
        <ng-container *ngIf="!labsPageHeader?.image_link">
          <div class="header-image">
            <img [src]="imageUrl(labsPageHeader.header_image).url()" class="com-w-full" />
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
