<div>
  <nb-card>
    <nb-card-header>
      <h1>Privacy Policy for Commudle</h1>
      <p>
        <small>
          Last updated on: January 6, 2021
        </small>
      </p>
    </nb-card-header>
    <nb-card-body>

      <p>At Commudle, accessible from <a href="https://commudle.com">https://commudle.com</a>, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Commudle and how we use it.</p>

      <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

      <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they share and/or access and/or collect in Commudle. This policy is not applicable to any information collected offline or via channels other than this website.</p>

      <p>At all points in the document the terms 'You', 'you', 'Users' and 'users' are interchangeably used and refer to both signed in and not signed in users.</p>


      <h2>Consent</h2>

      <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
      <p>
        We use your Information for providing and improving the Services. By using the Services, you agree to the collection and use of Information in accordance with this Privacy Policy.
      </p>

      <h2>Information we collect</h2>

      <p>We do not ask for any information before you are signed in. Your visits to different pages are captured anonymously for analytics and displaying statistics to the owner of the content on the page you visited and for internal analytics to make Commudle better for its users.</p>
      <p>Once you are logged in, the following information can be asked from / filled by you</p>
      <p><strong>Profile</strong>: When you sign up for the first time, we automatically receive your email address in case of third party authorization (example Google) once you confirm sign up and cannot be changed right now, it is your primary identification for us. In your profile you are asked about the following.
      </p>
      <ul>
        <li>
          Email address (primary source of identification, required & prefilled)
        </li>
        <li>Your profile image (is automatically fetched from the third party authorization) </li>
        <li>Name (required)</li>
        <li>Tagline (required)</li>
        <li>About You (required)</li>
        <li>Phone Number</li>
        <li>Social Media Links</li>
        <li>Gender</li>
      </ul>

      <p>
        <strong>Forms</strong>: Forms can be created by anyone who is a user of the website if they have access to the feature. While filling a form, any type of a question can be asked by the creator of a form, and once you fill and submit the form, the creator of the form can access your responses and your profile information (including the optional fields). If you ever have a doubt, do not fill that form. If you encounter a form which can misuse your information or is misleading, report it immediately to <strong>more@commudle.com</strong>
      </p>

      <p>
        <strong>Event Activities</strong>:
        Pertaining to an event, the following information gets collected:
      </p>
      <ul>
        <li>
          Chat & QnA: Inside a session, or on the event page. It is publicly visible, can be moderated by the organizers of the event
        </li>
        <li>
          Polls: Your responses to any poll are anonymous
        </li>
      </ul>
      <p>All your likes & comments are visible publicly</p>

      <p>
        <strong>Labs & Community Builds</strong>: Users can share content using these features, the website owners/administrators/designated employees of Commudle reserve the right to publish/unpublish these based on the relevance of the content. Once published, it will be visible publicly. Users can give stars (or remove the one they've added) and add comments & reply to comments (and delete their own or flag others' comments anonymously) to both Labs and Community Builds. You can, at any point, delete your Lab or Community Build submission.
        <br>
        Commudle reserves all the rights to publish/unpublish your submissions for both of these in case the content is not original, is not appealing to the other users, has been reported, or is inappropriately offensive to the users of the website.
      </p>


      <h2>How we use your information</h2>

      <p>We use the information we collect in various ways, including to:</p>

      <ul>
      <li>Provide, operate, and maintain our website</li>
      <li>Improve, personalize, and expand our website</li>
      <li>Understand and analyze how you use our website</li>
      <li>Develop new products, services, features, and functionality</li>
      <li>Communicate with you, via email or in website or push notifications. If we need to reach out via phone or any other medium than these, you consent will be taken.</li>
      <li>Send you emails</li>
      <li>Find and prevent fraud</li>
      <li>As Commudle, we don't share or sell your information with any of our B2B or B2C clients for any purpose. However if you have filled a form owned by anyone who uses Commudle, they can access all those responses and are free to use that information. Commudle doesn't encourage misuse or selling of information collected on the website.</li>
      </ul>

      <h2>Log Files</h2>

      <p>Commudle follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information in order to improve the product more for the users.</p>

      <h2>Cookies and Web Beacons</h2>

      <p>Like any other website, Commudle uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

      <p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What Are Cookies"</a>.</p>

      <h2>
        Analytics
      </h2>
      <p>
        We use third-party browser and mobile analytics services like Google Analytics on the Services. These services help us analyze your use of Commudle by using cookies, tags, scripts, customized links, device or browser fingerprints etc. These services also help us analysing information including but not limited to:
      </p>
        <ul>
          <li>
            the third-party website you arrive from
          </li>
          <li>
            usage and performance data
          </li>
          <li>
            how often you visit the Site
          </li>
          <li>
            events taking place within Commudle
          </li>
        </ul>

      <p>
        The information collected is used solely for the purpose of improving our platform Commudle, to better understand the behaviour projected by our Services on different devices, and to provide information that may be of interest to you.
        You can opt-out of Google Analytics by visiting the Google Ads Settings page. Google also recommends installing the Google Analytics Opt-out Browser Addon for your web browser. Google Analytics Opt-out Browser Add-on provides visitors with the ability to prevent their data from being collected and used by Google Analytics.
        For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page on this link: <a href="https://policies.google.com/privacy?hl=en_US">https://policies.google.com/privacy?hl=en_US</a>.
      </p>

      <h2>Advertising Partners Privacy Policies</h2>

      <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Commudle, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

      <p>Note that Commudle has no access to or control over these cookies that are used by third-party advertisers.</p>

      <h2>Third Party Privacy Policies</h2>

      <p>Commudle's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>

      <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

      <h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

      <p>Under the CCPA, among other rights, California consumers have the right to:</p>
      <p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
      <p>Request that a business delete any personal data about the consumer that a business has collected.</p>
      <p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
      <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

      <h2>GDPR Data Protection Rights</h2>

      <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
      <p>The right to access – You have the right to request copies of your personal data. We may charge you a fee for this service.</p>
      <p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
      <p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
      <p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
      <p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
      <p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
      <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

      <h2>Children's Information</h2>

      <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

      <p>Commudle does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>



      <h5>
        Commudle has been made with a vision to help and grow the Software Developer Communities across the world, to be inclusive and diverse. If you think that there is anything or anyone which offends you, please reach out to us immediately on more@commudle.com. We will analyse it in the next 30 working days and get back to you as soon as possible with a resolution.
      </h5>
    </nb-card-body>
  </nb-card>
</div>
