.preferences-container {
  height: 520px;

  .subscribe-all-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .preferences-list {
    width: 100%;

    .group-name {
      margin-left: 15px;
    }

    nb-list-item {
      border: none;

      label {
        margin-left: 12px;
      }
    }
  }
}
