<div class="preferences-container">
  <div class="subscribe-all-btn-container">
    <strong>Subscribe All</strong>
    <nb-toggle (click)="toggleAllSubscriptions()" [(ngModel)]="subscribeAll"></nb-toggle>
  </div>
  <ng-container *ngFor="let subscriptionGroup of subscriptionGroups | keyvalue">
    <div *ngIf="subscriptionGroup.value.length !== 0" class="preferences-list">
      <strong class="group-name">{{ subscriptionGroup.key | capitalizeAndRemoveUnderscore }}</strong>
      <nb-list>
        <nb-list-item *ngFor="let entity of subscriptionGroup.value" class="display-flex justify-content-space-between">
          <label>{{ entity.name }}</label>
          <nb-toggle
            (click)="toggleSubscription(entity)"
            [disabled]="!this.subscribeAll"
            [(ngModel)]="entity.subscribed"
          ></nb-toggle>
        </nb-list-item>
      </nb-list>
    </div>
  </ng-container>
</div>
