<div class="communities">
  <div class="page-header">
    <h1 class="lh-fw">
      Communities
    </h1>
    <p>Click on any Community to visit!</p>
    <p>
      <a nbButton status="info" size="small" [routerLink]="['/fill-form', 465]">
        Apply For Early Access
      </a>
    </p>
  </div>

  <div>
    <form [formGroup]="searchForm">
      <div class="name-filter">

        <nb-form-field>
          <nb-icon nbPrefix icon="search"></nb-icon>
          <input
            nbInput
            placeholder="Search by Name, Tagline or About Me..."
            type="text"
            fullWidth
            fieldSize="medium"
            formControlName="name"
            [disabled]="isLoading"
          />
        </nb-form-field>
      </div>
    </form>

  </div>

  <div class="communities-list">
    <div *ngFor="let community of communities">
      <app-community-badge [community]="community"></app-community-badge>
    </div>
  </div>

  <p *ngIf="communities.length > 20" class="early-access-button bottom">
    <a nbButton status="info" size="small" [routerLink]="['/fill-form', 465]">
      Apply For Early Access
    </a>
  </p>
</div>
