.sponsors {
  @apply com-mx-0 com-mt-4 com-mb-0 md:com-rounded-[10px] com-rounded-none;
  nb-list-item.sponsor {
    border-top: none;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;

      .logo {
        @apply com-flex com-items-center com-m-0 com-mr-3 com-w-8 com-h-8 com-flex-shrink-0 com-overflow-hidden com-object-contain;
        img {
          width: 100%;
        }
      }

      p.name {
        @apply com-m-0 com-font-semibold;
      }
    }
  }
}
