<div class="agencies">
  <div class="base-layout">
    <div class="container commudle-agencies">
      <p class="heading">COMMUDLE FOR AGENCIES</p>

      <div class="developer-communities" id="developer-programs-section">
        <commudle-public-page-layout>
          <div content class="public-page-content">
            <div class="content">
              <h1 class="heading-developer-profile">
                <a [routerLink]="'.'" fragment="developer-programs-section"
                  >Scale Developer Programs For Your Clients</a
                >
              </h1>
              <p class="subheading-developer-profile">
                Commudle lets you manage all your clients, their developer programs and the engagements seamlessly at
                one place
              </p>
            </div>
            <div class="developer-communities-btn">
              <button nbButton status="primary" size="large">
                <a [routerLink]="'/fill-form/2046'">Setup A Call</a>
              </button>
            </div>
          </div>
          <div image class="developer-communities-image">
            <img
              alt="Developer Communities"
              src="https://json.commudle.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBblFjIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--01057b5be393344ed188982aa64722b41ab5b509/Homepage-Banner.png"
              title="Developer Communities"
            />
          </div>
        </commudle-public-page-layout>
      </div>

      <div class="developer-profile" id="devrel-section">
        <commudle-public-page-layout>
          <div content class="public-page-content">
            <div class="content">
              <h1 class="heading">
                <a [routerLink]="'.'" fragment="devrel-section">For DevRels, By DevRels</a>
              </h1>
              <p class="subheading">
                Commudle is created by experts from the DevRel industry who understand what it takes to build, run &
                scale a developer program. Your search for ‘the right platform’ completes here.
              </p>
            </div>
            <div>
              <button nbButton status="basic" size="medium" class="btn"><a [routerLink]="'/about'">The Team</a></button>
            </div>
          </div>
          <div image class="image">
            <img alt="Developer Profile" src="{{ staticAssets.commudle_logo_full }}" title="Developer Profile" />
          </div>
        </commudle-public-page-layout>
      </div>

      <div class="for-devrel" id="organizations-programs-section">
        <commudle-public-page-layout [imageOnLeft]="true">
          <div content class="public-page-content">
            <div class="content">
              <h1 class="heading">
                <a [routerLink]="'.'" fragment="organizations-programs-section">Organizations & Programs</a>
              </h1>
              <p class="subheading">
                Are you running multiple developer programs for multiple clients? Create organizations, customized
                programs & communities for them on Commudle and manage it all with a single login account.
              </p>
            </div>
          </div>
          <div image class="image">
            <img
              alt="DevRels"
              src="https://json.commudle.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaDNlIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--9bdb82202f1d3511b44ff30a0c8a598197eb8a90/Join%20Community.png"
              title="DevRels"
            />
          </div>
        </commudle-public-page-layout>
      </div>

      <div class="tech-communities" id="features-section">
        <commudle-public-page-layout>
          <div content class="public-page-content">
            <div class="content">
              <h1 class="heading">
                <a [routerLink]="'.'" fragment="features-section">Unlimited Engagement Features</a>
              </h1>
              <p class="subheading">
                Events, emails, newsletters, forums, channels, virtual stage, QR scanner, member profiles, content
                repository, projects, tutorials, custom pages and more!
              </p>
            </div>
            <div>
              <button nbButton status="basic" size="medium" class="btn">
                <a [routerLink]="'/pricing'">Checkout Features</a>
              </button>
            </div>
          </div>
          <div image class="image">
            <img alt="Tech Community" src="{{ staticAssets.commudle_logo_full }}" title="Tech Community" />
          </div>
        </commudle-public-page-layout>
      </div>

      <div class="experts-group" id="growth-performance-section">
        <commudle-public-page-layout [imageOnLeft]="true">
          <div content class="public-page-content">
            <div class="content">
              <h1 class="heading">
                <a [routerLink]="'.'" fragment="growth-performance-section">Track Growth and Performance</a>
              </h1>
              <p class="subheading">
                Understand the interests of your members, get engagement stats and see how your communities are growing
                globally
              </p>
            </div>
            <div>
              <button nbButton status="basic" size="medium" class="btn">
                <a [routerLink]="'/fill-form/2046'">Request A Demo</a>
              </button>
            </div>
          </div>
          <div image class="image">
            <img alt="Experts" src="{{ staticAssets.commudle_logo_full }}" title="Experts" />
          </div>
        </commudle-public-page-layout>
      </div>

      <div class="security" id="security-section">
        <commudle-public-page-layout>
          <div content class="public-page-content">
            <div class="content">
              <h1 class="heading"><a [routerLink]="'.'" fragment="security-section">Data Privacy & Security</a></h1>
              <p class="subheading">
                Your clients need a platform which has global data compliance and certifications. Commudle is now GDPR
                compliant and ISO 27001 certified. We take user consents seriously.
              </p>
              <div class="logos">
                <a class="gdpr-logo">
                  <img class="" src="{{ staticAssets.gdpr_compliance }}" alt="Commudle is gdpr compliant" />
                </a>
                <a href="https://compliances.commudle.com/" class="iso-logo">
                  <img class="com-h-16 com-ml-4" src="{{ staticAssets.iso_27001 }}" alt="Commudle is Iso 27001" />
                </a>
              </div>
            </div>
          </div>
          <div image class="image">
            <img alt="Experts" src="{{ staticAssets.commudle_logo_full }}" title="Experts" />
          </div>
        </commudle-public-page-layout>
      </div>
    </div>
  </div>
  <div id="stats-section">
    <commudle-public-page-stats [stats]="stats"></commudle-public-page-stats>
  </div>
  <!-- <div class="base-layout" id="testimonials-section">
    <div class="container commudle-agencies">
      <div class="testimonials">
        <p class="heading"><a [routerLink]="'.'" fragment="testimonials-section">Testimonials</a></p>
        <p class="subheading">Don't just take our word for it</p>
        <div class="testimonial-card">
          <commudle-testimonial-card [testimonials]="testimonials"></commudle-testimonial-card>
        </div>
      </div>
    </div>
  </div> -->
  <div id="cta-section">
    <commudle-public-page-cta></commudle-public-page-cta>
  </div>
  <div class="base-layout" id="faq-section">
    <div class="container faq commudle-agencies">
      <commudle-faq [answers]="answers" [questions]="questions"></commudle-faq>
    </div>
  </div>
</div>
