.user-chats {

  .chat-container {
    min-width: 80vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;

    .users-list {
      nb-select {
        display: block;
      }
      nb-list {
        display: none;
      }
    }

    .discussion {
      width: 100%;
      border: 1px solid lightgrey;
      padding: 10px;
      height: 80vh;

      .filler {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    @media (min-width: 800px) {
      flex-direction: row;
      .users-list {
        width: 20%;
        max-height: 80vh;
        overflow-y: auto;
        nb-select {
          display: none;
        }
        nb-list {
          display: inline-block;
        }
        .chat-user {
          width: 100%;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;

          .user-details {
            display: flex;

          }
        }
      }

      .discussion {
        width: 80%;
        position: sticky;
        max-height: 80vh;
        top: 0;
      }
    }
  }
}
