:host {
  .clone-form-button {
    margin-top: 1rem;
  }

  div.data-form-container {
    max-width: 920px;
    margin: 0 auto;

    .validation-error-text {
      color: red; /* red */
    }

    input {
      background-color: white;
    }

    textarea {
      background-color: white;
    }

    .data-form-question-choices-container {
      margin-bottom: 0;
    }

    .add-question-button {
      @apply com-m-2;
    }

    //for drag option

    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
      .drag-button {
        @apply com-bg-red-500;
      }
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    .custom-placeholder {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      @apply com-min-h-[120px] com-border-0 com-rounded-xl com-bg-slate-200 com-min-w-full;
    }

    .question-container {
      display: flex;
      flex-direction: column;
      // margin-bottom: 3rem;

      .question-settings {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        nb-select {
          background-color: white;
        }

        label,
        nb-checkbox {
          margin-right: 1.5rem;
        }
      }

      .choices-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 1rem;
      }
    }
  }

  .questions-form-section {
    .drag-button {
      @apply com-p-0 com-flex com-justify-center;

      button {
        @apply com-cursor-move;
      }
    }
    .question-form-footer {
      @apply com-flex md:com-items-center com-flex-col-reverse md:com-flex-row;

      button {
        @apply com-justify-start com-pl-0 md:com-pl-4;
      }

      nb-checkbox {
        @apply com-mr-0 md:com-mr-10;
      }
    }
  }
}
