<div class="user {{size}}">
  <app-user-live-status *ngIf="showLiveStatus" [userId]="user.id"></app-user-live-status>
  <div class="profile-picture {{ size }}">
    <img src="{{ user.avatar }}" alt="{{ user.name }}">
  </div>
  <div class="profile-info">
    <p class="name {{ size }} d-flex">
      <strong>{{ user.name }}</strong>
      <img *ngIf="user.is_expert" alt="Expert Tick" class="expert-icon" src="/assets/images/Expert-Tick.svg">
    </p>
    <p *ngIf="designation" class="designation {{ size }}">
      {{ user.designation | slice:0:50 }}
      <span *ngIf="user.designation && user.designation.length > 25">...</span>
    </p>
  </div>
</div>
