@import '/projects/commudle-admin/src/assets/styles/variables';

.user {
  padding: 0.5rem;
  display: flex;
  align-items: flex-start;
  position: relative;

  &.small {
    align-items: center;
  }

  .online-status {
    position: absolute;
    top: 6px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    &.online {
      background-color: #36DE4B;
      box-shadow: 0 1px 4px 2px #36DE4B;
    }

    &.offline {
      background-color: #8080806B;
    }
  }

  .profile-picture {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5rem;

    img {
      width: 100%;
      vertical-align: top;
    }

    &.medium {
      width: 75px;
      height: 75px;
      margin-right: 0.75rem;
    }

    &.small {
      width: 30px;
      height: 30px;
      margin-right: 0.5rem;
    }
  }

  .profile-info {
    // word-break: break-word;
    max-width: 80%;
    text-align: left;

    .name {
      margin: 0;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }

      &.medium {
        font-size: 1.2rem;
      }

      &.small {
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
      }

      .expert-icon {
        margin-left: $space-8;
        width: 16px;
        height: 16px;
      }
    }

    .designation {
      margin: $space-4 0 0;
      font-size: 0.8rem;
      color: grey;

      &.medium {
        font-size: 0.9rem;
      }

      &.small {
        font-size: 11px;
        line-height: 12px;
      }
    }
  }
}
