<div class="signup-newsletter">
  <div class="signup">
    <a [routerLink]="'.'" fragment="signup-newsletter"><p class="signup-heading">Sign up for our newsletter</p></a>
    <p class="signup-subheading">Stay in the loop with everything you need to know.</p>
  </div>
  <div class="signup-email">
    <div class="email">
      <input type="text" nbInput fullWidth placeholder="Enter your email" />
      <p class="signup-privacy">We care about your data in our <a>privacy policy</a></p>
    </div>
    <button nbButton status="primary" size="medium" class="subscribe">Subscribe</button>
  </div>
</div>
