<div class="community-channels-dashboard page-padding com-h-[700px]">
  <div class="community-list" *ngIf="showCommunityList">
    <app-community-list [selectedCommunity]="selectedCommunity"></app-community-list>
  </div>
  <div [ngClass]="{ 'com-w-[21rem]': sidebarExpanded, 'com-w-16': !sidebarExpanded }">
    <commudle-sidebar
      [isExpanded]="sidebarExpanded"
      (toggleSidebar)="sidebarExpanded = !sidebarExpanded"
      [expandedWidth]="'extra-large'"
    >
      <div class="com-flex">
        <div class="left-section">
          <!-- <div class="icons com-bg-gray-200">
          <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </div>
        <div class="icons com-bg-gray-200">
          <fa-icon [icon]="faUser" class="com-mx-auto"></fa-icon>
        </div> -->
          <div class="icons !com-bg-primary-200" (click)="openChannel()">
            <fa-icon [icon]="faHashtag" class="com-mx-auto com-text-primary-500"></fa-icon>
          </div>
          <div class="icons !com-bg-primary-200" (click)="openForum()">
            <fa-icon [icon]="faMessage" class="com-mx-auto com-text-primary-500"></fa-icon>
          </div>
        </div>
        <div *ngIf="sidebarExpanded" [ngClass]="{ show: showCommunityList }" class="community-channel-list">
          <app-community-channel-list
            *ngIf="!showForumData"
            [groupedChannels]="communityChannels"
            [selectedCommunity]="selectedCommunity"
            (updateSelectedChannel)="checkSelectedChannel($event)"
          ></app-community-channel-list>

          <app-community-forum-list
            *ngIf="showForumData"
            (updateSelectedChannel)="checkSelectedChannel()"
          ></app-community-forum-list>
        </div>
      </div>
    </commudle-sidebar>
  </div>

  <div class="community-channel-discussion">
    <div *ngIf="!showChannelsComponent && !showForumData">
      <app-community-channels-dashboard-channel-list></app-community-channels-dashboard-channel-list>
    </div>
    <div *ngIf="showForumData && !showForumsComponent && !showForumsComponent">
      <commudle-community-channels-dashboard-forum-list
        (updateSelectedChannel)="checkSelectedChannel($event)"
      ></commudle-community-channels-dashboard-forum-list>
    </div>
    <app-community-channel
      *ngIf="showChannelsComponent"
      [selectedChannelId]="selectedChannelId"
    ></app-community-channel>
    <!-- <commudle-channel-discussion *ngIf="showChannelsComponent"  ></commudle-channel-discussion> -->

    <commudle-community-forum
      *ngIf="showForumsComponent"
      [selectedCommunity]="selectedCommunity"
    ></commudle-community-forum>
    <router-outlet></router-outlet>
  </div>
</div>
