<div class="community-channels-dashboard page-padding">
  <div class="community-list" *ngIf="showCommunityList">
    <app-community-list [selectedCommunity]="selectedCommunity"></app-community-list>
  </div>
  <div [ngClass]="{ 'com-w-[21rem]': sidebarExpanded, 'com-w-[72px]': !sidebarExpanded }">
    <commudle-sidebar
      [isExpanded]="sidebarExpanded"
      (toggleSidebar)="sidebarExpanded = !sidebarExpanded"
      [expandedWidth]="'extra-large'"
      [forWindow]="false"
    >
      <div class="com-flex com-h-[calc(100%-48px)]">
        <div class="left-section">
          <div
            class="icons !com-bg-[#EFF9FF]"
            (click)="openChannelOrForums(discussionType.CHANNEL)"
            title="Channels"
            [ngClass]="{ active: !discussionTypeForum }"
          >
            <fa-icon [icon]="faHashtag" class="com-mx-auto com-text-[#0095FF]"></fa-icon>
            <span class="text">Channels</span>
          </div>
          <div
            class="icons !com-bg-[#EFF9FF]"
            (click)="openChannelOrForums(discussionType.FORUM)"
            title="Forums"
            [ngClass]="{ active: discussionTypeForum }"
          >
            <fa-icon [icon]="faMessage" class="com-mx-auto com-text-[#0095FF]"></fa-icon>
            <span class="text">Forums</span>
          </div>
        </div>
        <div *ngIf="sidebarExpanded" [ngClass]="{ show: showCommunityList }" class="community-channel-list">
          <!-- channel list -->
          <div *ngIf="channelsList && !forumsList && !discussionTypeForum">
            <app-community-channel-list
              [groupedChannels]="communityChannels"
              [selectedCommunity]="selectedCommunity"
              (updateSelectedChannel)="updateSelectedChannelOrForum($event)"
              [isCommunityOrganizer]="isCommunityOrganizer"
            ></app-community-channel-list>
          </div>

          <!-- forum list -->
          <div *ngIf="forumsList && !channelsList && discussionTypeForum">
            <app-community-forum-list
              [isCommunityOrganizer]="isCommunityOrganizer"
              [selectedForumName]="forumName"
              (updateSelectedForum)="updateSelectedChannelOrForum($event)"
            ></app-community-forum-list>
          </div>
        </div>
      </div>
    </commudle-sidebar>
  </div>

  <div class="community-channel-discussion">
    <!-- /channel card -->
    <div *ngIf="channelsCards && !forumsCards">
      <app-community-channels-dashboard-channel-list
        [community]="selectedCommunity"
      ></app-community-channels-dashboard-channel-list>
    </div>

    <!-- //form cards (landing page) -->
    <div *ngIf="forumsCards && !channelsCards" class="com-h-full">
      <commudle-community-channels-dashboard-forum-list
        [community]="selectedCommunity"
        (updateSelectedForum)="updateSelectedChannelOrForum($event)"
      ></commudle-community-channels-dashboard-forum-list>
    </div>

    <!-- //Channel message Component -->
    <div *ngIf="channelMessage && !forumMessage">
      <app-community-channel
        [selectedChannelId]="selectedChannelOrFormId"
        [selectedCommunity]="selectedCommunity"
      ></app-community-channel>
    </div>

    <!-- //Form Name List shows after selecting form group -->
    <commudle-community-forum
      *ngIf="forumsNamesList"
      [selectedCommunity]="selectedCommunity"
      [isCommunityOrganizer]="isCommunityOrganizer"
      (updateSelectedForum)="checkSelectedForum()"
    ></commudle-community-forum>

    <!-- //Form message component shows after selecting form name  -->
    <commudle-community-forum-message
      *ngIf="forumMessage && !forumsNamesList"
      [selectedCommunity]="selectedCommunity"
      (updateSelectedForum)="updateSelectedChannelOrForum($event)"
    ></commudle-community-forum-message>
  </div>
</div>
