<nb-card>
  <nb-card-body>
    <div class="user-card d-flex flex-column justify-content-space-around">
      <div class="banner-image">
        <!-- <app-user-cover-photo [user]="speaker"></app-user-cover-photo> -->
        <div class="banner">
          <img
            *ngIf="speaker.profile_banner_image"
            alt="{{ speaker.name }} Profile Banner"
            src="{{ speaker.profile_banner_image.i350 }}"
            title="{{ speaker.name }} Profile Banner"
          />
        </div>
        <div class="user-image">
          <a [routerLink]="['/users', speaker.username]" class="clickable">
            <img alt="{{ speaker.name }}" src="{{ speaker.photo.i96 }}" title="{{ speaker.name }}" />
          </a>
        </div>
        <div class="talks-leader">
          <button nbButton status="warning" shape="round" size="tiny" outline>Leader</button>
          <app-badge
            [text]="speaker.speaker_events_count + (speaker.speaker_events_count > 1 ? ' Talks' : ' Talk')"
            [fontColor]="'com-text-gunmetal'"
            [fontSize]="'small'"
            [borderRadius]="'round'"
            [color]="'com-bg-Bright-Gray/60'"
          ></app-badge>
        </div>
      </div>
      <div class="user-details d-flex flex-column justify-content-space-between">
        <a [routerLink]="['/users', speaker.username]" class="clickable">
          <div class="text-details">
            <!-- <div class="hiring-looking-works-tags"> -->
            <!-- <app-hiring-looking-works-tags [user]="speaker.user"></app-hiring-looking-works-tags> -->
            <!-- </div> -->
            <p class="user-name">
              {{ speaker.name }}
              <img
                *ngIf="speaker.is_expert"
                alt="Expert Tick"
                class="expert-icon"
                src="/assets/images/Expert-Tick.svg"
                title="Expert Tick"
              />
            </p>
            <p *ngIf="speaker.username" class="username">@{{ speaker.username | truncatetext : maxUserNameLength }}</p>
            <p class="designation">
              {{ speaker.designation || '--' }}
            </p>
            <div class="count-and-location">
              <p *ngIf="speaker.followers_count > 0" class="followers-count">
                <span>{{ speaker.followers_count }}</span> Follower{{ speaker.followers_count > 1 ? 's' : '' }}
              </p>
            </div>
          </div>
        </a>
        <!-- <div *ngIf="speaker.tags.length > 0" class="user-card-tags d-flex flex-wrap">
          <div *ngFor="let tag of speaker.tags" class="user-card-tag">{{ tag.name }}</div>
        </div> -->
        <div class="tags">
          <!-- <app-tag
            *ngIf="speaker.tags.length > 0"
            [tags]="speaker.tags"
            [backgroundColor]="'#0095ff'"
            [size]="'tiny'"
            [fontColor]="'#101828'"
            [maximumTag]="3" -->
          <!-- ></app-tag> -->
        </div>
        <div class="user-follow-button">
          <app-user-follow [username]="speaker.username" [isMobileWidthFull]="true"></app-user-follow>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
