<nb-card>
  <nb-card-body>
    <div class="user-card d-flex flex-column justify-content-space-around">
      <div class="banner-image">
        <div class="banner">
          <img
            *ngIf="speaker.profile_banner_image"
            alt="{{ speaker.name }} Profile Banner"
            src="{{ speaker.profile_banner_image.i350 }}"
            title="{{ speaker.name }} Profile Banner"
          />
        </div>
        <div class="user-image">
          <a [routerLink]="['/users', speaker.username]" class="clickable">
            <img alt="{{ speaker.name }}" src="{{ speaker.photo.i96 }}" title="{{ speaker.name }}" />
          </a>
        </div>
        <commudle-user-follow [username]="speaker.username"></commudle-user-follow>
      </div>
      <div class="user-details d-flex flex-column justify-content-space-between">
        <a [routerLink]="['/users', speaker.username]" class="clickable">
          <div class="text-details">
            <p class="user-name d-flex align-items-center com-line-clamp-1">
              {{ speaker.name }}
              <img
                *ngIf="speaker.is_expert"
                alt="Expert Tick"
                class="expert-icon"
                src="/assets/images/Expert-Tick.svg"
                title="Expert Tick"
              />
            </p>
            <p *ngIf="speaker.designation" class="designation com-line-clamp-2">{{ speaker.designation }}</p>
          </div>
        </a>
        <div *ngIf="speaker.tags.length > 0" class="user-card-tags d-flex flex-wrap">
          <div *ngFor="let tag of speaker.tags" class="user-card-tag">{{ tag.name }}</div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
