<button (click)="openDialog(addMemberDialog)" *ngIf="!isMember" nbButton size="small">
  <nb-icon icon="plus"></nb-icon>
  Join Community
</button>

<nb-select
  (selectedChange)="openDialog(removeMemberDialog)"
  *ngIf="isMember"
  [(ngModel)]="selectExit"
  placeholder="You're a Member!"
  size="small"
  status="success"
>
  <nb-option [value]="'false'">Exit {{community.name}}</nb-option>
</nb-select>

<ng-template #addMemberDialog let-data>
  <nb-card class="confirmation-dialog">
    <nb-card-header>Confirmation</nb-card-header>
    <nb-card-body>
      <div>
        <p>We are excited to have you join our Community!</p>
        <p>
          As a part of <strong>{{community.name}}</strong>, the following information will be shared between you and the
          organizers:
        </p>
        <ul>
          <li>Your email address</li>
          <li>
            {{community.name}} and platform admins are permitted to send you communication mails for different events,
            surveys, newsletters and community initiatives
          </li>
          <li>
            Organizers of {{community.name}} have the right to permit or revoke your membership of the community at any
            point of time
          </li>
        </ul>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="toggleMembership()" nbButton status="success">I agree</button>
      <button (click)="dialogRef.close()" ghost nbButton size="tiny" status="danger">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #removeMemberDialog>
  <nb-card class="confirmation-dialog">
    <nb-card-header>Confirmation</nb-card-header>
    <nb-card-body>
      <div>
        <p>Are you sure you want to leave {{community.name}}?</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="toggleMembership()" ghost nbButton status="link">Yes, I will leave</button>
      <button (click)="dialogRef.close()" ghost nbButton status="link">No, I'm staying</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
