@import '/projects/commudle-admin/src/assets/styles/variables';

button {
  min-width: 152px;
  cursor: pointer;
  padding: $space-8;
  background-color: #536EFF;
  border-radius: $border-4;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.42px;
}

.confirmation-dialog {
  width: 500px;
  max-width: 100vw;
}
