<button
  *ngIf="!isMember"
  nbButton
  outline
  size="small"
  status="info"
  (click)="openDialog(addMemberDialog)"
>
<nb-icon icon="plus"></nb-icon>
Become a member
</button>

<nb-select
  *ngIf="isMember"
  [(ngModel)]="selectExit"
  size="small"
  status="success"
  placeholder="You're a Member!"
  (selectedChange)="openDialog(removeMemberDialog)"
>
  <nb-option value="false">Exit {{community.name}}</nb-option>

</nb-select>

<ng-template #addMemberDialog let-data>
  <nb-card class="confirmation-dialog">
    <nb-card-header>Confirmation</nb-card-header>
    <nb-card-body>
      <div>
        <p>
          We are excited to have you join our Community!
        </p>
        <p>As a part of <strong>{{community.name}}</strong>, the following information will be shared between you and the organizers:</p>
        <ul>
          <li>
            Your email address will be shared with the organizers of {{community.name}}
          </li>
          <li>
            Organizers of the {{community.name}} will be sending you communication mails for different events, surveys and more activities in the community
          </li>
          <li>
            Organizers of the {{community.name}} have the right to allow or not allow you into an event organized for {{community.name}}
          </li>
        </ul>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button
        nbButton
        ghost
        status="success"
        (click)="toggleMembership()">
          I agree
      </button>
      <button
        nbButton
        ghost
        status="danger"
        (click)="dialogRef.close()">
          I don't want to be a member
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>



<ng-template #removeMemberDialog let-data>
  <nb-card class="confirmation-dialog">
    <nb-card-header>Confirmation</nb-card-header>
    <nb-card-body>
      <div>
        <p>
          Are you sure you want to leave {{community.name}}?
        </p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button
        nbButton
        ghost
        status="link"
        (click)="toggleMembership()">
          Yes, I will leave
      </button>
      <button
        nbButton
        ghost
        status="link"
        (click)="dialogRef.close()">
          No, I'm staying
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
