@import '/projects/commudle-admin/src/assets/styles/variables.scss';

.community-build-list-item {
  nb-card {
    margin-bottom: 0.5rem;
    nb-card-body {
      &:hover {
        box-shadow: 1px 1px 5px 5px $lightgrey;
      }

      .row {
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-direction: row-reverse;
        align-items: center;

        .details-page {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        p.show-details{
          margin: 0;
          color: black;
          font-size: $fs-card-secondary;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        .details {
          width: 100%;
          margin-left: 20px;
          p.created-at {
            margin: 0;
            color: grey;
          }

          h3.name {
            margin: 0;
            font-weight: 300;
            font-size: $fs-card-title;
            line-height: normal;
          }
        }
        .author-stats {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .image {
          display: flex;
          align-items: center;
          border: 1px solid $lightgrey;
          img {
            width: 100px;
            height: 100px;
            overflow: hidden;
          }
        }
        .no-image{
          width: 120px;
          height: 100px;
          background-color: $lightgrey;

        }

      }

      .stats {
        display: flex;
        >p {
          margin: 0 1rem 0 0;

          &.comments {
            nb-icon {
              color: grey;
            }
          }
        }
      }
    }
  }
}
