<div class="clickable community-build-list-item">
  <nb-card class="anim-shadow clickable" [routerLink]="['/builds', communityBuild.slug]">
    <nb-card-body>
      <div class="row flex-row-reverse align-items-center d-flex justify-content-space-between">
        <div class="details">
          <div class="build-type">
            <app-badge [color]="CBuildTypeDisplay[communityBuild.build_type].color" [fontSize]="'small'"
                       [nbIcon]="CBuildTypeDisplay[communityBuild.build_type].icon"
                       [text]="communityBuild.build_type | titlecase"></app-badge>
          </div>
          <p class="created-at">
            <small>{{ moment(communityBuild.created_at).fromNow() }}</small>
          </p>
          <h3 class="name">
            {{ communityBuild.name }}
          </h3>
          <p class="text-info show-details">
            <!-- <nb-icon icon="link" status="info"></nb-icon> Show Details -->
            {{ buildDescription | truncatetext:100 }};
          </p>

          <div class="author-stats justify-content-space-between d-flex align-items-center">
            <div class="author">
              <app-user-profile-horizontal [size]='"small"' [socialMediaLinks]="false"
                                           [user]="communityBuild.user"></app-user-profile-horizontal>
            </div>

            <div class="stats d-flex">
              <p class="stars">
                <app-votes-display
                  [icon]="'star'"
                  [votableId]="communityBuild.id"
                  [votableType]="'CommunityBuild'"
                >
                </app-votes-display>
              </p>
              <p [routerLink]="['/builds', communityBuild.slug]" class="comments">
                <span *ngIf="communityBuild.chat_messages_count > 0">
                  {{ communityBuild.chat_messages_count }}
                </span>
                <nb-icon icon="message-circle-outline"></nb-icon>
              </p>
            </div>
          </div>

        </div>
        <div class="image align-items-center d-flex">
          <img *ngIf="communityBuild.images.length > 0" alt="{{ communityBuild.name }}"
               src="{{ communityBuild.images[0].url }}">
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
