@import '/projects/commudle-admin/src/assets/styles/variables.scss';

.community-build-list-item {
  p, a, div, h3 {
    font-family: $primary-font-family;
  }
  nb-card {
    margin-bottom: 0.5rem;
    nb-card-body {
      &:hover {
        box-shadow: 1px 1px 5px 5px $lightgrey;
      }

      .row {
        width: 100%;
        // height: 140px;
        position: relative;

        .details-page {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        p.show-details{
          margin: 0;
          color: $gunmetal;
          font-size: $fs-card-secondary;
        }

        .details {
          width: 100%;
          margin-left: $space-20;
          p.created-at {
            margin: 0;
            color: $spanish-gray;
          }

          h3.name {
            margin: 0;
            font-weight: $fw-500;
            font-size: $fs-card-title;
            line-height: normal;
          }
        }

        .image {
          border: 1px solid $lightestgrey;
          background-color: $lightestgrey;
          width: 120px;
          height: 100px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

      }

      .stats {
        >p {
          margin: 0 1rem 0 0;

          &.comments {
            nb-icon {
              color: $spanish-gray;
            }
          }
        }
      }
    }
  }
}
