<nb-card>
  <nb-card-header
    >Hackathon's Dates<commudle-help-section [helpDictionaryName]="'hackathon-dates'"></commudle-help-section
  ></nb-card-header>
  <nb-card-body class="hackathon-form">
    <form [formGroup]="hackathonDatesForm">
      <div class="form-groups-heading">Time Zone</div>
      <!-- Time Zone -->
      <div>
        <label for="timezone">Time Zone</label>
        <select formControlName="timezone" name="timezone" id="timezone">
          <option *ngFor="let tz of allTimeZones" [value]="tz">{{ tz }}</option>
        </select>
      </div>

      <div class="form-groups-heading">Application Dates</div>
      <div class="!com-grid com-grid-cols-1 !com-gap-4 md:com-grid-cols-2">
        <!-- Application Opens -->
        <div>
          <label for="application_start_date">Application Opens</label>
          <input formControlName="application_start_date" id="application_start_date" type="datetime-local" nbInput />
          <commudle-alert
            *ngIf="
              hackathonDatesForm.controls['application_start_date'].invalid &&
              hackathonDatesForm.controls['application_start_date'].hasError('required') &&
              hackathonDatesForm.controls['application_start_date'].touched
            "
            [error]="true"
            errorMessage="Application Opens is required"
          ></commudle-alert>
        </div>

        <!-- Application Closes -->
        <div>
          <label for="application_end_date">Application Closes</label>
          <input
            formControlName="application_end_date"
            id="application_end_date"
            type="datetime-local"
            nbInput
            [min]="this.hackathonDatesForm.controls['application_start_date'].value"
            (change)="validateApplicationClosedDates()"
          />
          <commudle-alert
            *ngIf="
              hackathonDatesForm.controls['application_end_date'].invalid &&
              hackathonDatesForm.controls['application_end_date'].hasError('required') &&
              hackathonDatesForm.controls['application_end_date'].touched
            "
            [error]="true"
            errorMessage="Application Closes is required"
          ></commudle-alert>
        </div>
      </div>

      <div class="form-groups-heading">Open & Close Dates</div>
      <div class="!com-grid com-grid-cols-1 !com-gap-4 md:com-grid-cols-2">
        <!-- Hackathon Begins -->
        <div>
          <label for="start_date">Hackathon Begins</label>
          <input formControlName="start_date" id="start_date" type="datetime-local" nbInput />
          <commudle-alert
            *ngIf="
              hackathonDatesForm.controls['start_date'].invalid &&
              hackathonDatesForm.controls['start_date'].hasError('required') &&
              hackathonDatesForm.controls['start_date'].touched
            "
            [error]="true"
            errorMessage="Hackathon Begins is required"
          ></commudle-alert>
        </div>

        <!-- Submission Deadline-->
        <div>
          <label for="end_date">Hackathon Ends</label>
          <input
            formControlName="end_date"
            id="end_date"
            type="datetime-local"
            nbInput
            [min]="this.hackathonDatesForm.controls['start_date'].value"
            (change)="validateEndsDates()"
          />
          <commudle-alert
            *ngIf="
              hackathonDatesForm.controls['end_date'].invalid &&
              hackathonDatesForm.controls['end_date'].hasError('required') &&
              hackathonDatesForm.controls['end_date'].touched
            "
            [error]="true"
            errorMessage="Submission Deadline is required"
          ></commudle-alert>
        </div>
      </div>

      <button
        class="save-button"
        nbButton
        (click)="createOrUpdate()"
        fullWidth
        status="primary"
        [disabled]="hackathonDatesForm.invalid || !hackathonDatesForm.dirty || invalidFormFields"
      >
        Save
      </button>
    </form>
  </nb-card-body>
</nb-card>
