<div class="admin-featured-communities">
  <div class="d-flex align-items-center justify-content-space-between">
    <div class="com-my-4">
      <button (click)="openCreateFeaturedDialog()" status="success" nbButton size="small">
        <nb-icon icon="plus"></nb-icon>
        Create
      </button>
    </div>
  </div>
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <table *ngIf="!isLoading || featuredItems.length >= 1">
    <tr>
      <th class="com-w-1/3">Community Name</th>
      <th>Reasons</th>
      <th class="com-w-56">Status</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let featuredItem of featuredItems; let i = index">
      <td>{{ featuredItem.community.name }}</td>
      <td>{{ featuredItem.reason }}</td>
      <td>
        <nb-toggle
          status="primary"
          (click)="updateFeaturedCommunity(featuredItem.id, !featuredItem.active, i)"
          [(checked)]="featuredItem.active"
          labelPosition="right"
        >
          {{ featuredItem.active ? 'Activated' : 'Deactivated' }}
        </nb-toggle>
      </td>
      <td>
        <div class="actions d-flex">
          <button (click)="openDeleteFeaturedDialog(featuredItem.id, i)" nbButton outline size="tiny" status="danger">
            Delete
          </button>
        </div>
      </td>
    </tr>
  </table>
  <button (click)="getFeaturedCommunities()" *ngIf="this.pageInfo?.has_next_page" fullWidth ghost nbButton>
    Get more featured communities
  </button>
</div>
