<nb-card>
  <nb-card-body>
    <div class="total">
      <h3 class="text-basic">
        <nb-icon icon="people-outline" status="info"></nb-icon>
        {{ community.member_count }}
      </h3>
    </div>
    <div class="users">
      <div *ngFor="let member of members" class="user">
        <app-user-profile-card-large [user]="member"></app-user-profile-card-large>
        <!--          <app-user-profile-horizontal [user]="member" [socialMediaLinks]="true"></app-user-profile-horizontal>-->
      </div>
    </div>

    <div *ngIf="canLoadMore" class="load-more">
      <button (click)="getMembers()" nbButton outline size="small" status="info">Load More...</button>
    </div>
  </nb-card-body>
</nb-card>
