<nb-card class="community-members">
  <nb-card-body>
    <p class="header-text">Be one of us!</p>
    <div class="users d-flex flex-wrap">
      <div *ngFor="let member of members" class="user">
        <app-user-profile-card-large
          [maxDesignationLength]="18"
          [maxNameLength]="13"
          [maxUserNameLength]="25"
          [user]="member"
        ></app-user-profile-card-large>
      </div>
    </div>

    <div *ngIf="canLoadMore" class="load-more">
      <button (click)="getMembers()" nbButton outline size="small" status="info">Load More...</button>
    </div>
  </nb-card-body>
</nb-card>
