.event-location-tracks {
  .map-location {
    p {
      @apply com-mt-14px com-mb-6 com-mx-0;
    }
  }

  .track-container {
    nb-action {
      display: flex;
      flex-wrap: wrap;

      nb-icon {
        font-size: 1.3rem;
      }
    }

    nb-accordion-item-header {
      @apply com-border-0 com-rounded-[4px] com-p-2 com-bg-Anti-Flash-White;

      .track-name {
        @apply com-text-base com-font-semibold com-m-0;
      }
    }

    nb-accordion-item-body {
      padding: 0;

      nb-list {
        nb-list-item {
          @apply com-flex com-px-0 com-py-3 com-border-0 com-border-b com-border-Bright-Gray;

          .session-time {
            @apply com-border-0 com-border-r com-border-solid com-border-Bright-Gray com-pr-6px com-w-[60px];

            p {
              margin: 0;
              text-align: right;
            }

            p:nth-of-type(1) {
              @apply com-text-lg com-font-normal com-m-0;
            }

            p:nth-of-type(2) {
              @apply com-text-sm com-font-normal com-m-0;
            }
          }

          .session-details {
            @apply com-pl-3 com-w-[80%];

            .session-title {
              p:nth-of-type(1) {
                @apply com-text-base com-font-normal com-text-Yankees-Blue com-m-0 com-mb-1;
              }

              app-badge {
                margin-right: 0.3rem;
                margin-bottom: 0.3rem;
              }
            }
          }
        }
      }
    }

    .view-more {
      @apply com-text-sm com-font-normal com-text-Yankees-Blue com-mt-2 com-max-h-[647px] com-overflow-y-hidden;
    }
    .view-less {
      @apply com-mb-2 com-max-h-max;
    }

    // @media all and (max-width: 767px) {
    //   .track-name {
    //     font-size: 1.1rem;
    //   }
    // }

    // .session-time {
    //   p {
    //     margin: 0;
    //     text-align: right;
    //   }

    //   p:nth-of-type(1) {
    //     font-size: 1.2rem;
    //   }

    //   p:nth-of-type(2) {
    //     margin-top: 0.2rem;
    //     font-size: 0.9rem;
    //   }

    //   @media all and (max-width: 767px) {
    //     p:nth-of-type(1) {
    //       font-size: 1rem;
    //     }

    //     p:nth-of-type(2) {
    //       font-size: 0.8rem;
    //     }
    //   }
    // }

    // .session-title {
    //   min-width: max-content;

    //   p:nth-of-type(1) {
    //     font-size: 1.2rem;
    //     font-weight: normal;
    //     width: 500px;
    //     margin: 0 0 0.3rem;
    //   }

    //   app-badge {
    //     margin-right: 0.3rem;
    //     margin-bottom: 0.3rem;
    //   }
    // }

    // @media all and (max-width: 767px) {
    //   .session-title {
    //     p:nth-of-type(1) {
    //       font-size: 1rem;
    //     }
    //   }
    // }
  }
}
