.event-location-tracks {
  @apply com-mx-4;
  .map-location {
    .link-to-map {
      @apply com-mt-10px com-mb-6 com-mx-0;
      a {
        @apply com-no-underline;
      }
    }
    .address {
      @apply com-mt-5 com-mb-0 com-mx-0;
    }
  }

  .track-container {
    nb-action {
      display: flex;
      flex-wrap: wrap;

      nb-icon {
        font-size: 1.3rem;
      }
    }

    nb-accordion-item-header {
      @apply com-border-0 com-rounded-[4px] com-p-2 com-bg-zinc-100;

      .track-name {
        @apply com-text-base com-font-semibold com-m-0 com-text-tYankees-Blue;
      }
    }

    nb-accordion-item-body {
      padding: 0;

      nb-list {
        nb-list-item {
          @apply com-flex com-px-0 com-py-3 com-border-0 com-border-b com-border-Bright-Gray;

          .session-time {
            @apply com-border-0 com-border-r-2 com-border-solid com-border-Bright-Gray com-items-center com-pr-1 md:com-pr-3 md:com-flex com-gap-2 md:com-w-28 com-pt-px;

            fa-icon {
              @apply com-text-xs;
            }

            p {
              margin: 0;
              text-align: right;
            }

            .start-time {
              @apply com-text-base md:com-text-sm;
            }
            .end-time {
              @apply com-text-xs md:com-text-sm;
            }
          }

          .session-details {
            @apply com-pl-3 com-w-[84%];

            .session-title {
              p:nth-of-type(1) {
                @apply com-text-base com-font-normal com-text-Yankees-Blue com-m-0 com-mb-1;
              }

              app-badge {
                margin-right: 0.3rem;
                margin-bottom: 0.3rem;
              }
            }

            .session-speaker {
              @apply com-flex com-gap-3 com-flex-wrap;
            }
          }
        }
      }
    }
  }
}
