.lab-card-container {
  width: 300px;
  border: 1px solid #72C1FF;
  border-radius: 5px;

  nb-card-header {
    padding: 0;
    border-bottom: 1px solid #72C1FF;
    line-height: 0;

    img {
      width: 100%;
    }
  }

  nb-card-body {
    padding: 0.75rem;

    .name {
      font-weight: 600;
      color: #536EFF;
    }

    .description {
      font-size: 14px;
      color: #5C6972;
      margin-bottom: 2rem;
    }
  }
}
