.embedded-video-stream {
  display: flex;
  flex-direction: column;

  .embedded-video-stream-form {
    order: 2;

    form {
      > div {
        margin-bottom: 1rem;
      }
    }
  }

  .preview {
    @apply com-mb-4 com-h-[550px] com-overflow-auto;
    order: 1;
  }

  nb-option.selected {
    background-color: red !important;

    p {
      color: white !important;
    }
  }
}

nb-option {
  @apply com-text-Yankees-Blue;
}

nb-select {
  ::ng-deep {
    button {
      span {
        @apply com-text-Yankees-Blue;
      }
    }
  }
}
