<div>
  <div>
    <button nbButton fullWidth size="small" (click)="newPoll()">
      New Poll
    </button>
  </div>
  <div class="polls" *ngIf="polls.length > 0">
    <div *ngFor="let poll of polls">
      <app-poll-list-item
        [poll]="poll"
        [deletable]="permittedActions.includes(allActions.DELETE)"
        [editable]="permittedActions.includes(allActions.START) && permittedActions.includes(allActions.STOP)"
        (startPoll)="startPoll($event)"
        (startSelfPoll)="startSelf($event)"
        (stopPoll)="stopPoll($event)"
        (deletePoll)="deletePoll($event)"
        ></app-poll-list-item>
    </div>
  </div>
</div>


<ng-template #newPollTemplate let-data>
  <app-poll-create-form (newPoll)="create($event)"></app-poll-create-form>
</ng-template>


<ng-template #fillPollTemplate let-data>
  <app-poll-form [poll]="selectedPoll" (pollData)="submitPoll($event)"></app-poll-form>
</ng-template>
