<nb-list class="session-page-viewers">
  <nb-list-item *ngFor="let user of usersList">
    <app-user-profile-mini [designation]="true" [showLiveStatus]="true" [user]="user"
                           size="small"></app-user-profile-mini>
    <button (click)="inviteToStage(user.id)" *ngIf="embeddedVideoStream.hms_room_id && isAdmin && activeEvent"
            [ngClass]="{'admin': isAdmin}" class="invite-to-stage" ghost nbButton size="small" status="info">
      Invite to Stage
    </button>
  </nb-list-item>
</nb-list>
