<div *ngIf="caseStudyPageHeader" class="header">
  <div class="background-image" [ngStyle]="{ 'background-image': 'url(\'' + this.BackgroundImage + '\')' }">
    <div class="base-layout">
      <div class="content">
        <div class="logo-image">
          <img
            [src]="imageUrl(caseStudyPageHeader.logoImage).url()"
            alt="{{ caseStudyPageHeader.title }}"
            title="{{ caseStudyPageHeader.title }}"
          />
        </div>
        <div class="header-text">
          <h1 class="title">{{ caseStudyPageHeader.title }}</h1>
          <div [innerHTML]="richTextTagline"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- [ngStyle]="{ 'background-image': 'url(\'' + this.BackgroundImage + '\')' }" -->

<!-- background-image: linear-gradient(90deg, #000000, white), -->
<!-- url('https://json.commudle.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMmZQQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--af8f26c149cf39c3b91f547486c960a0be366212/linkedin-cover.png'); -->
