<div *ngIf="caseStudyPageHeader" class="header">
  <div class="background-image" [ngStyle]="{ 'background-image': 'url(\'' + this.BackgroundImage + '\')' }">
    <div class="base-layout">
      <div class="content">
        <div class="logo-image">
          <img
            [src]="imageUrl(caseStudyPageHeader.logoImage).url()"
            alt="{{ caseStudyPageHeader.title }}"
            title="{{ caseStudyPageHeader.title }}"
          />
        </div>
        <div class="header-text">
          <h1 class="title">{{ caseStudyPageHeader.title }}</h1>
          <h2 class="tagline">{{ caseStudyPageHeader.tagline }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
