<div class="join-by-token page-padding">
  <div class="d-flex justify-content-center align-items-center">
    <nb-card [nbSpinner]="loading">
      <nb-card-header class="d-flex align-items-center justify-content-space-between"> 💡 Disclaimer</nb-card-header>
      <nb-card-body>
        <p>Once you join this channel</p>
        <ul>
          <li>Your profile will be shared with the admins of this channel and the community to which it belongs</li>
          <li>
            If you are not a member of the parent community of the channel, you will be added to it automatically. The
            admins of this channel and it's community will be able to send you emails and notifications about this
            channel and it's community
          </li>
          <li>You will receive emails if someone replies on your thread of messages in this channel.</li>
        </ul>
      </nb-card-body>
      <nb-card-footer>
        <button (click)="joinChannel()" nbButton status="primary">Click here to confirm</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
