<div class="com-mt-7" *ngIf="!communityChannel">
  <app-loading-spinner></app-loading-spinner>
</div>
<!-- <div class="join-by-token page-padding" *ngIf="communityChannel"> -->
<!-- <div class="d-flex justify-content-center align-items-center">
    <nb-card>
      <nb-card-header class="d-flex align-items-center">
        <p>
          <fa-icon [icon]="faShieldHeart"></fa-icon> Your <strong> Privacy</strong>, Our <strong> Priority</strong>
        </p></nb-card-header
      >
      <nb-card-body>
        <p>
          When you join this channel <strong>{{ communityChannel.name }}</strong
          >, the following information will be shared between you, this channel’s admins and the organizers &
          administrators of
          <strong>{{ communityChannel.kommunity.name }}</strong>
        </p>
        <ul>
          <li>
            You will become a member of
            <strong>{{ communityChannel.kommunity.name }}</strong> community, if not already.
          </li>
          <li>
            Channel admins of <strong>{{ communityChannel.name }}</strong> and Organizers & Administrators of
            {{ communityChannel.kommunity.name }} can access your email address and all the data filled in various forms
            created by them and filled by you. They can also send you emails, some of which you can unsubscribe.
          </li>
          <li>
            Organizers of <strong> {{ communityChannel.kommunity.name }}</strong> have the right to permit or revoke
            your membership of the community at any point of time at their discretion.
          </li>
        </ul>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton class="accept-button" (click)="joinChannel()">Click here to confirm</button>&nbsp;
        <button nbButton class="reject-button" (click)="reject()">Decline</button>
      </nb-card-footer>
    </nb-card>
  </div> -->
<!-- </div> -->
