<div>
  <nb-card>
    <nb-card-body>
      <h3 *ngIf="communityGroup" class="lh-fw chapter-count text-center">
        Welcome to {{ communityGroup.name }} Communities! Select a community to begin
      </h3>

      <div class="chapters d-flex flex-wrap">
        <div class="community" *ngFor="let community of communities" [routerLink]="['/communities', community.slug]">
          <div class="logo d-flex">
            <img src="{{ community.logo_path }}" />
          </div>
          <h4 class="lh-fw">
            {{ community.name | slice: 0:20 }}
          </h4>
          <p>
            <nb-icon icon="people-outline"></nb-icon>
            {{ community.member_count }}
          </p>

          <a [routerLink]="['/communities', community.slug]"> Details </a>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
