<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <nb-card class="page-section">
        <nb-card-header>
          <h1>Top Cryptocurrencies</h1>
        </nb-card-header>
        <nb-card-body>
          <div class="images">
            <div *ngFor="let cryptoCurrency of cryptoCurrencies">
              <commudle-crypto-currency-card [cryptoCurrency]="cryptoCurrency"></commudle-crypto-currency-card>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <div class="powered-by-exa">
        <a href="https://www.exaprotocol.com" target="_blank"
          ><button nbButton status="primary">
            <div class="image"><img [src]="exaProtocolImageLink" alt="Exa Protocol" title="Exa Protocol" /></div>
            <p>Image assests powered by ExaDrive</p>
          </button></a
        >
      </div>
    </div>
  </div>
</div>
