:host {
  height: 100%;
  .discussion-chat-component {
    min-height: 100px;
    height: 100%;
    position: relative;

    .block-chat {
      position: absolute;
      right: 0;
      top: 0;
    }

    .messages {
      height: 90%;
      overflow-y: auto;
      .message {
        margin-bottom: 1rem;
        border: 1px dotted lightgrey;
        border-radius: 5px;
        padding: 5px;
      }

      .filler-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        h4 {
          color: darkgrey;
        }
      }
    }

    .send-message-form {
      position: sticky;
      bottom: 0.5rem;
      width: 100%;

      form {
        display: flex;
        button {
          width: 20%;
          max-width: 40px;
          margin-left: 5px;
        }
      }
    }
  }
}
