@import './projects/commudle-admin/src/assets/styles/variables';

:host {
  height: 100%;

  .discussion-chat-component {
    height: 100%;
    position: relative;

    .block-chat {
      position: absolute;
      right: 0;
      top: 0;
    }

    .messages {
      height: 90%;
      overflow-y: auto;

      .message {
        margin-bottom: 1rem;
        border: 1px dotted lightgrey;
        border-radius: 5px;
        padding: 5px;
      }

      .filler-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;

        h4 {
          color: darkgrey;
        }
      }
    }

    .send-message-form {
      position: sticky;
      bottom: 0.5rem;
      width: 100%;

      form {
        align-items: self-start;
        display: flex;
        padding: 0.3rem;

        nb-form-field {
          position: relative;
          width: 100%;

          input {
            font-weight: 400;
            resize: none;
          }

          .nbPrefix {
            align-items: center;
            display: flex;
            margin-top: -5px;

            .emoji-button {
              padding: 0.1rem;
            }

            emoji-mart {
              bottom: 50px;
              left: 25px;
              position: absolute;

              ::ng-deep {
                .emoji-mart-scroll {
                  height: 250px;
                }

                .emoji-mart-bar {
                  display: none;
                }
              }
            }
          }
        }

        > button {
          align-items: center;
          display: flex;
          justify-content: center;
          margin-left: 5px;
          max-width: 40px;
          width: 20%;
        }
      }
    }
  }
}
