<nb-card>
  <nb-card-header> Notifications </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let notification of notifications" (click)="markAsInteracted(notification)">
        <nb-badge
          *ngIf="notification.status === 'unread'"
          status="primary"
          dotMode="true"
          position="left center"
        ></nb-badge>
        <div class="avatar">
          <img
            alt="{{ notification.sender.name }}"
            src="{{ notification.sender.avatar }}"
            title="{{ notification.sender.name }}"
          />
        </div>
        <div class="content">
          {{ notification.notification_message }}
        </div>
        <nb-icon
          *ngIf="notification.status === 'unread'"
          (click)="markAsRead(notification)"
          [icon]="'checkmark-outline'"
          [status]="'basic'"
        ></nb-icon>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
  <nb-card-footer>
    <!-- TODO: change it to commudle.com -->
    <a href="https://test.commudle/notifications"> View All Notifications </a>
  </nb-card-footer>
</nb-card>
