nb-card {
  width: 500px;
  max-height: 500px;
  margin: 0;
  border-radius: 0.25rem;
  border: 0;

  nb-card-body {
    padding: 0;
    nb-list {
      nb-list-item {
        position: relative;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
          cursor: pointer;

          nb-icon {
            visibility: visible;
          }
        }

        nb-badge{
          margin-left: 10px;
        }

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          padding-left: 10px;


          .avatar {
            overflow: hidden;
  
            img {
              width: 100%;
            }
          }
  
          .content {
            margin: 0 12px;
          }
        }

        nb-icon {
          position: absolute;
          right: 20px;
          border-radius: 6px;
          font-size: 30px;
          padding: 2px;
          visibility: hidden;

          &:hover {
            background-color: #d0d7de;
          }
        }

        border: 0;
      }
    }
  }

  nb-card-footer {
    padding: 0.5rem 1rem;
    border: 0;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
}
