nb-card {
  width: 500px;
  max-height: 500px;
  margin: 0;
  border-radius: 0.25rem;
  border: 0;

  nb-card-body {
    padding: 0;
    nb-list {
      nb-list-item {
        border: 0;
      }
    }
  }

  nb-card-footer {
    padding: 0.5rem 1rem;
    border: 0;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
}
