<nb-card>
  <nb-card-header> Notifications </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item>Notification 1</nb-list-item>
      <nb-list-item>Notification 2</nb-list-item>
      <nb-list-item>Notification 3</nb-list-item>
      <nb-list-item>Notification 4</nb-list-item>
      <nb-list-item>Notification 5</nb-list-item>
      <nb-list-item>Notification 6</nb-list-item>
      <nb-list-item>Notification 7</nb-list-item>
      <nb-list-item>Notification 8</nb-list-item>
      <nb-list-item>Notification 9</nb-list-item>
      <nb-list-item>Notification 10</nb-list-item>
    </nb-list>
  </nb-card-body>
  <nb-card-footer>
    <!-- TODO: change it to commudle.com -->
    <a href="http://localhost:4200/notifications"> View All Notifications </a>
  </nb-card-footer>
</nb-card>
