<div>
  <div class="search-filters">
    <form [formGroup]="searchForm">
      <div class="search">
        <nb-form-field>
          <nb-icon icon="search" nbPrefix></nb-icon>
          <input
            [disabled]="isLoadingSearch"
            fieldSize="small"
            formControlName="name"
            fullWidth
            nbInput
            placeholder="Search for Speakers, or type specific tags"
            type="text"
          />
        </nb-form-field>
      </div>
    </form>
    <div *ngIf="skeletonLoaderCard" class="skeleton-vertical-cards">
      <commudle-skeleton-vertical-cards [cards]="9"></commudle-skeleton-vertical-cards>
    </div>

    <!-- <div *ngIf="!loading && speakers.length === 0">
      <commudle-empty-state-component></commudle-empty-state-component>
    </div> -->
    <div *ngIf="labs.length > 0">
      <div
        *appBreakpoints="'>lg'"
        (scrolled)="getSpeakersList()"
        [infiniteScrollDisabled]="labs.length >= total"
        appInfiniteScroll
        class="speakers"
      >
        <div *ngFor="let lab of labs" class="speakers-card">
          <!-- <app-speaker-card [speaker]="speaker" [maxUserNameLength]="25"></app-speaker-card> -->
        </div>
      </div>
      <div *ngIf="loading" class="loading-spinner">
        <app-loading-spinner></app-loading-spinner>
      </div>

      <div *appBreakpoints="'<=lg'">
        <div class="speakers">
          <div *ngFor="let lab of labs.slice(0, 3)" class="speakers-card">
            <!-- <app-speaker-card
              [speaker]="speaker"
              [maxUserNameLength]="25"
              [isMobileWidthFull]="true"
            ></app-speaker-card> -->
          </div>
        </div>
        <!-- <commudle-public-home-list-speakers-upcoming></commudle-public-home-list-speakers-upcoming>
        <commudle-public-home-list-events-featured-communities></commudle-public-home-list-events-featured-communities>
        <commudle-public-home-list-events-tech-sessions></commudle-public-home-list-events-tech-sessions>
        <commudle-public-home-list-speakers-content></commudle-public-home-list-speakers-content> -->
        <div class="speakers">
          <div *ngFor="let lab of labs.slice(3)" class="speakers-card">
            <!-- <app-speaker-card
              [speaker]="speaker"
              [maxUserNameLength]="25"
              [isMobileWidthFull]="true"
            ></app-speaker-card> -->
          </div>
        </div>
        <app-loading-spinner *ngIf="loading" class="com-mt-4"></app-loading-spinner>
        <button
          (click)="getSpeakersList()"
          *ngIf="page_info?.has_next_page"
          fullWidth
          ghost
          nbButton
          class="view-more-button"
        >
          View More
        </button>
      </div>
    </div>

    <!-- <div class="labs-search-container d-flex">
  <div
    (clickOutside)="toggleSearchSuffix(false)"
    (mouseleave)="toggleSearchSuffix(false)"
    appClickOutside
    class="lab-search"
  >
    <nb-form-field (mouseenter)="toggleSearchSuffix(true)" class="labs-search-form">
      <nb-icon icon="search" nbPrefix></nb-icon>
      <input
        #searchBar
        (input)="getTagSearchResults()"
        (keyup.enter)="onTagAdd(tagSearchParam)"
        [(ngModel)]="tagSearchParam"
        class="labs-search-input"
        nbInput
        placeholder="Search labs on your favorite topics"
        type="text"
      />
    </nb-form-field>

    <div class="labs-search-suffix">
      <div (mouseenter)="toggleSearchSuffix(true)" *ngIf="labSearchParams.length > 0" class="labs-search-params">
        <app-tag
          (tagDelete)="onTagDelete($event)"
          [editable]="true"
          [inputDisabled]="true"
          [tags]="labSearchParams"
        ></app-tag>
      </div>
      <div [ngClass]="{ active: showTagSearchResults }" class="labs-tag-search-results d-flex">
        <ul *ngIf="tagSearchResults.length > 0">
          <li
            (click)="onTagAdd(result.name, false)"
            *ngFor="let result of tagSearchResults"
            class="labs-tag-search-result clickable"
          >
            {{ result.name }}
          </li>
        </ul>
        <p *ngIf="tagSearchResults.length === 0" class="text-center">
          Quickly search your favorite topics, labs by industry experts or find an event you missed
        </p>
      </div>
    </div>
  </div>

  <div class="labs-search-actions">
    <button [nbContextMenu]="labFilters" class="filter-btn" nbButton>
      <nb-icon icon="options-2"></nb-icon>
      Filters
    </button> -->
    <!-- <button class="labs-create-btn" nbButton routerLink="/labs/create">
      <nb-icon icon="plus"></nb-icon>
      Create Lab
    </button>
  </div>
</div> -->
    <!-- </div>
</div> -->
  </div>
</div>
