<div class="labs">
  <form [formGroup]="searchForm">
    <div class="search">
      <nb-form-field>
        <nb-icon icon="search" nbPrefix></nb-icon>
        <input
          [disabled]="isLoadingSearch"
          fieldSize="small"
          formControlName="name"
          fullWidth
          nbInput
          placeholder="Search for Speakers, or type specific tags"
          type="text"
        />
      </nb-form-field>
    </div>
  </form>
  <div *ngIf="skeletonLoaderCard" class="skeleton-vertical-cards">
    <app-skeleton-cards [cards]="10" [ImageShapeSquare]="true" [ImageShapeCircle]="false"></app-skeleton-cards>
  </div>
  <div *ngIf="!skeletonLoaderCard && labs.length === 0">
    <commudle-empty-state-component [parentType]="'Labs'"></commudle-empty-state-component>
  </div>
  <div *ngIf="labs.length > 0">
    <div
      *appBreakpoints="'>lg'"
      (scrolled)="getLabs()"
      [infiniteScrollDisabled]="labs.length >= total"
      appInfiniteScroll
      class="labs"
    >
      <div *ngFor="let lab of labs" class="labs-card">
        <app-labs-card [lab]="lab"></app-labs-card>
      </div>
    </div>
    <div *ngIf="loading" class="loading-spinner">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <div *appBreakpoints="'<=lg'">
      <div class="labs">
        <div *ngFor="let lab of labs.slice(0, 5)" class="labs-card">
          <app-labs-card [lab]="lab"></app-labs-card>
        </div>
      </div>
      <commudle-builds-top-builders
        [heading]="'TOP PUBLISHERS'"
        [subHeading]="'Top publishers for you to check out'"
        [parentType]="'labs'"
        [toolTipText]="
          'People whose labs have the highest upvotes in the selected duration. The number in the profile card displays overall total labs and overall total likes.'
        "
        [selectedByDefault]="'all-time'"
      ></commudle-builds-top-builders>
      <div class="featured-labs">
        <commudle-labs-featured [showCardsHorizontal]="true"></commudle-labs-featured>
      </div>
      <commudle-explore-experts></commudle-explore-experts>
      <commudle-public-home-list-speakers-content
        [parentType]="'communities'"
      ></commudle-public-home-list-speakers-content>
      <div class="labs">
        <div *ngFor="let lab of labs.slice(3)" class="labs-card">
          <app-labs-card [lab]="lab"></app-labs-card>
        </div>
      </div>
      <app-loading-spinner *ngIf="loading" class="com-mt-4"></app-loading-spinner>
      <button (click)="getLabs()" *ngIf="pageInfo?.has_next_page" fullWidth ghost nbButton class="view-more-button">
        View More
      </button>
    </div>
  </div>
</div>
