nb-card {
  @apply com-w-[248px] com-h-[196px] com-mx-0;
  nb-card-body {
    @apply com-p-3 com-text-center com-flex com-flex-col com-justify-between;
    .text {
      .icon {
        @apply com-text-2xl com-mb-4;
        fa-icon,
        nb-icon {
          @apply com-text-primary-500;
        }
        nb-icon {
          @apply com-text-3xl;
        }
      }
      .heading {
        @apply com-text-sm com-font-semibold com-text-Yankees-Blue com-mb-2;
      }
      .sub-heading {
        @apply com-text-xs com-font-normal com-text-Yankees-Blue;
      }
    }
    .button {
    }
  }
}
