<nb-card>
  <nb-card-body>
    <div class="text">
      <div class="icon">
        <fa-icon *ngIf="faIcon" [icon]="faIcon"></fa-icon>
        <nb-icon *ngIf="nbIcon" [icon]="nbIcon"></nb-icon>
      </div>
      <div class="heading">{{ headingText }}</div>
      <div class="sub-heading">{{ subHeadingText }}</div>
    </div>
    <div class="button">
      <button
        [routerLink]="['/admin', 'communities', communitySlug, 'event-dashboard', eventSlug, routePath]"
        nbButton
        status="primary"
        fullWidth
        size="small"
      >
        {{ buttonText }}
      </button>
    </div>
  </nb-card-body>
</nb-card>
