p,
h4 {
  @apply com-m-0;
}

.user-communities-card {
  @apply com-m-0 com-cursor-pointer;

  nb-card-body {
    @apply com-p-2 com-flex com-items-center com-gap-2;

    .user-communities-logo {
      @apply com-h-12 com-w-12 com-rounded-full com-object-contain com-object-center;
    }

    .user-communities-name {
      @apply com-text-sm com-font-semibold com-line-clamp-1;
    }

    .user-communities-role {
      @apply com-text-xs com-text-gray-500 com-py-2px;
    }

    .user-communities-members {
      @apply com-mt-1 com-text-xs com-text-blue-500;
    }
  }
}

.organizer {
  .user-communities-role {
    @apply com-text-black com-bg-[#FFAA00] com-flex com-items-center com-w-min com-p-0 com-px-2 com-font-medium com-rounded-xl #{!important};
    nb-icon {
      @apply com-text-white com-mr-1;
    }
  }
}
