<div>
  <div class="heading">
    <button nbButton status="basic" size="small" shape="semi-round"><fa-icon [icon]="faMicrophone"></fa-icon></button>
    <p><span class="title">Events Speakers</span><span class="sub-heading">Speakers you can follow</span></p>
  </div>
  <div class="top-border"></div>
  <div *ngFor="let speaker of speakers" class="user-profile-card-large">
    <app-user-profile-card-large
      [showFollowButton]="true"
      [alignFollowToRight]="true"
      [showAbout]="true"
      [user]="speaker"
    ></app-user-profile-card-large>
  </div>
  <div class="load-more">
    <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
    <button *ngIf="page_info?.has_next_page" (click)="getSpeakersList()" nbButton outline size="tiny" status="basic">
      View More
    </button>
  </div>
  <div class="bottom-border"></div>
</div>
