<div>
  <div class="heading">
    <p>
      <span class="title">Speakers to Follow</span><span class="sub-heading">Network with speakers from events</span>
    </p>
  </div>
  <div class="top-border"></div>
  <div class="user-profile-card-large">
    <div class="user-profile-card-large-card" *ngFor="let speaker of speakers">
      <div *appBreakpoints="'>lg'">
        <app-user-profile-card-large
          [showFollowButton]="true"
          [alignFollowToRight]="true"
          [showAbout]="true"
          [user]="speaker"
        ></app-user-profile-card-large>
      </div>
      <div *appBreakpoints="'<=lg'">
        <app-user-profile-card-large
          [showFollowButton]="true"
          [alignFollowToRight]="false"
          [showAbout]="true"
          [user]="speaker"
          [horizontalScroll]="true"
          [isMobileWidthFull]="true"
        ></app-user-profile-card-large>
      </div>
    </div>

    <div class="load-more">
      <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
      <button *ngIf="page_info?.has_next_page" (click)="getSpeakersList()" nbButton outline size="tiny" status="basic">
        View More
      </button>
    </div>
  </div>
  <div class="bottom-border"></div>
</div>
