nb-card {
  @apply md:com-bg-Bright-Gray-opacity-30 com-m-0 md:com-mb-6 md:com-w-[348px] com-border-none md:com-block;
  nb-card-body {
    @apply md:com-p-4 com-p-0;
    .heading {
      @apply com-mt-10 md:com-mt-0 com-mb-4 com-mx-0 com-flex md:com-py-0 md:com-px-4 com-p-4 md:com-bg-transparent com-bg-Anti-Flash-White com-flex-col md:com-mb-7;

      .title {
        @apply md:com-text-sm com-text-base com-font-semibold com-text-Dark-Jungle-Green com-mb-1 com-mt-0 com-mx-0;
      }
      .sub-heading {
        @apply md:com-text-xs com-text-sm com-font-normal com-text-gunmetal com-m-0;
      }
    }

    .user-profile-card-large {
      @apply com-flex md:com-block com-flex-nowrap md:com-flex-wrap com-overflow-x-auto com-mx-4 md:com-mx-3 com-my-0 md:com-m-0 com-gap-4 md:com-gap-0 com-items-center;
      .user-profile-card-large-card {
        @apply md:com-mb-4 com-m-0 com-border com-border-solid md:com-border-b md:com-border-0 com-border-Bright-Gray com-rounded-xl md:com-p-0 com-p-4 com-h-[218px] md:com-h-auto;
      }
    }

    .load-more {
      @apply com-text-center com-m-0 com-p-0;

      button {
        @apply com-text-gray-500;
      }
    }

    .loading-spinner {
      @apply com-my-4;
    }
  }
}
