.embedded-video-stream {
  display: flex;
  flex-direction: column;

  .embedded-video-stream-form {
    order: 2;

    form {
      > div {
        margin-bottom: 1rem;
      }
    }
  }

  .preview {
    height: 550px;
    order: 1;
    overflow: auto;
  }

  nb-option.selected {
    background-color: red !important;

    p {
      color: white !important;
    }
  }

  // @media screen and (min-width: 920px) {
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content: space-evenly;
  //   align-items: center;

  //   .embedded-video-stream-form {
  //     width: 45%;
  //     order: 1;
  //   }

  //   .preview {
  //     width: 50%;
  //     height: 360px;
  //     margin-left: 1rem;
  //     order: 2;
  //   }
  // }
}
