<div class="labs base-layout com-mb-12">
  <div class="container">
    <div class="one-column-layout">
      <app-labs-search (updateTags)="onTagsUpdate($event)" [labSearchParams]="searchedTags"></app-labs-search>
      <app-labs-header [labs]="searchedLabs" [tags]="searchedTags"></app-labs-header>

      <nb-card>
        <nb-card-body>
          <div class="popular-tags d-flex flex-wrap">
            <button (click)="onTagAdd(tag.name)" *ngFor="let tag of popularTags" class="tag" ghost nbButton>
              {{ tag.name }}
            </button>
          </div>

          <hr />

          <div class="com-grid com-gap-12 com-grid-cols-1 sm:com-grid-cols-2 lg:com-grid-cols-3">
            <ng-container *ngFor="let lab of searchedLabs.length > 0 ? searchedLabs : popularLabs">
              <app-labs-card [lab]="lab"></app-labs-card>
            </ng-container>
          </div>

          <button
            (click)="getLabsByTags()"
            *ngIf="searchedLabs.length < total"
            class="com-mt-4"
            fullWidth
            nbButton
            outline
            size="small"
            status="info"
          >
            Load More
          </button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
