@import './projects/commudle-admin/src/assets/styles/variables';

.labs-container {
  .labs-popular-tags {
    .labs-popular-tag {
      color: $gunmetal;
      font-size: $fs-h3;
      font-weight: $fw-400;
      text-transform: lowercase;
    }
  }

  .loading-spinner {
    .spinner {
      height: 40px;

      & > div {
        animation: stretch-delay 1.2s infinite ease-in-out;
        background-color: $cadet;
        display: inline-block;
        height: 100%;
        margin: 0 1px;
        width: 4px;

        &:nth-child(2) {
          animation-delay: -1.1s;
        }

        &:nth-child(3) {
          animation-delay: -1s;
        }

        &:nth-child(4) {
          animation-delay: -0.9s;
        }

        &:nth-child(5) {
          animation-delay: -0.8s;
        }
      }

      @keyframes stretch-delay {
        0%,
        40%,
        100% {
          transform: scaleY(0.4);
        }
        20% {
          transform: scaleY(1);
        }
      }
    }
  }

  hr {
    background-color: rgba($gunmetal, 0.2);
    border: none;
    height: 2px;
    margin: $space-12 0 $space-32;
  }
}
