<div class="labs-home">
  <div class="page-container">

    <section class="nav">
      <!-- search bar component will contain the filter also -->
      <app-search-bar></app-search-bar>

      <!-- create lab button -->
    </section>

    <section class="header">
      <!-- header text section -->
      <app-header-text></app-header-text>
      
      <!-- header banner or the graphic -->
      <app-header-banner></app-header-banner>
    </section>


    <section class="body">
      <!-- display list of popular tags and horizontal rule if the search bar is empty -->
      <div class="popular-tags">
        <!-- popular tags here -->
        <div *ngFor="let popTag of popularTags; let i = index">
          <!-- {{Lab}} -->
          {{popTag.name}}
        </div>

      </div>

      <hr>

      <!-- List of lab cards -->
      <div class="labs d-flex ">
        <!-- lab-display-card-component here-->
        <div *ngFor="let Lab of Labs; let i = index">
          <!-- {{Lab}} -->
          <app-lab-display-card [lab]="Lab"></app-lab-display-card>
        </div>
      </div>
    </section>

  </div>

</div>


<!-- <div class="labs-home page-padding">
  <div class="header">
    <h1>
      <fa-icon [icon]="faFlask"></fa-icon>
      Labs
    </h1>
    <p>
      The best way to learn, is step by step.
      <br>
      We introduce <strong>Labs</strong>,
      a place where you will find tutorials created by everyone who learnt something new and wants to make it easy for others to learn too!
    </p>
  </div>
  <div class="tags-list">
    <nb-card>
      <nb-card-body>
        <div class="tags">
          <a
            nbButton
            class="create-lab-button"
            [routerLink]="['/labs/create']"
            size="tiny"
            status="primary"
            >
            <nb-icon icon="plus"></nb-icon>
            Create a Lab
          </a>
          <a
            class="tag clickable"
            (click)="getLabs(null)"
            [ngClass]="{'selected-tag': (this.selectedTag === null)}"
            >
            <p>
              all
            </p>
          </a>
          <a
            class="tag clickable"
            *ngFor="let tag of popularTags"
            (click)="getLabs(tag.name)"
            [ngClass]="{'selected-tag': (this.selectedTag === tag.name)}"
            >
            <p>
              {{ tag.name }} <small *ngIf="tag.object_count > 0"> ({{tag.object_count}})</small>
            </p>
          </a>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="labs">
    <div class="lab" *ngFor="let lab of labs">
      <app-lab-card [lab]="lab"></app-lab-card>
    </div>
  </div>

</div> -->
