@import './projects/commudle-admin/src/assets/styles/variables';

.labs {
  .popular-tags {
    .tag {
      color: $gunmetal;
      font-size: $fs-h3;
      font-weight: $fw-400;
      text-transform: lowercase;
    }
  }

  hr {
    background-color: rgba($gunmetal, 0.2);
    border: none;
    height: 2px;
    margin: $space-12 0 $space-32;
  }
}
