<div class="dashboard">
  <div class="base-layout">
    <div class="container">
      <div class="three-column-layout medium">
        <div class="left-column">
          <!-- <commudle-first-signin [currentUser]="currentUser"></commudle-first-signin> -->
        </div>
        <div class="main-column">
          <h1>Main</h1>
        </div>
        <div class="right-column">
          <div class="advertisement">
            <nb-card>
              <nb-card-body><h2>Advertisement</h2></nb-card-body></nb-card
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
