<div class="dashboard">
  <div class="base-layout">
    <div class="container">
      <div class="two-column-layout">
        <div class="left-column">
          <commudle-user-profile [currentUser]="currentUser"></commudle-user-profile>
          <nb-card class="user-profile-details">
            <nb-card-body *ngIf="currentUser">
              <commudle-userprofile-details
                [userProfileDetails]="userProfileDetails"
                [username]="currentUser.username"
              ></commudle-userprofile-details>
            </nb-card-body>
          </nb-card>
          <div class="user-managed-communities">
            <nb-card>
              <nb-card-body>
                <h2 class="user-managed-communities-heading">Your Communities</h2>
                <div *ngFor="let community of managedCommunities">
                  <a [routerLink]="['/admin', 'communities', community.slug]" class="community">
                    <div class="community-image-name">
                      <div class="community-image">
                        <img
                          alt="{{ community.name }}"
                          src="{{ community.logo_image_path?.i64 }}"
                          title="{{ community.name }}"
                        />
                      </div>
                      <p class="community-name">{{ community.name }}</p>
                    </div>
                    <p class="community-members-count">{{ community.members_count }}</p>
                  </a>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
        <div class="main-column">
          <commudle-dashboard-updates></commudle-dashboard-updates>
          <div class="two-column">
            <div class="center-column">
              <div class="upcoming-events">
                <h2>Upcoming</h2>
                <app-loading-spinner *ngIf="loading"></app-loading-spinner>
                <div *ngIf="upcomingEventsHackathons.length > 0 && !loading">
                  <div
                    *ngFor="let upcomingEventHackathon of upcomingEventsHackathons"
                    class="event-horizontal-card"
                    [ngSwitch]="upcomingEventHackathon.object_type"
                  >
                    <commudle-event-horizontal-card
                      *ngSwitchCase="EDbModels.EVENT"
                      [event]="upcomingEventHackathon.data"
                    ></commudle-event-horizontal-card>
                    <commudle-hackathon-horizontal-card
                      *ngSwitchCase="EDbModels.HACKATHON"
                      [hackathon]="upcomingEventHackathon.data"
                    ></commudle-hackathon-horizontal-card>
                  </div>
                </div>
                <div class="no-upcoming-events" *ngIf="upcomingEventsHackathons.length === 0 && !loading">
                  <h3>No Upcoming Events</h3>
                </div>
              </div>
              <div *ngIf="total > 0" class="pagination">
                <app-pagination
                  (goTo)="page = $event; getUpcomingEventsHackathons()"
                  (next)="page = $event; getUpcomingEventsHackathons()"
                  (previous)="page = $event; getUpcomingEventsHackathons()"
                  [count]="count"
                  [current]="page"
                  [total]="total"
                ></app-pagination>
              </div>
              <div class="recent-activity">
                <h2>Recent Activity</h2>
                <app-loading-spinner *ngIf="loadActivity"></app-loading-spinner>
                <div *ngIf="activityFeed.length > 0">
                  <div
                    (scrolled)="getActivityFeed()"
                    [infiniteScrollDisabled]="activityFeed.length >= activityTotal"
                    appInfiniteScroll
                    class="activity-feed"
                  >
                    <div *ngFor="let feed of activityFeed">
                      <ng-container [ngSwitch]="feed.actionable_type">
                        <ng-container *ngSwitchCase="EDbModels.VOTE">
                          <nb-card class="activity-cards">
                            <nb-card-header
                              ><h2 class="user">
                                <img
                                  [src]="
                                    feed.performer_type === EDbModels.USER
                                      ? feed.performer.photo?.i32
                                      : feed.performer.logo_image?.i64
                                  "
                                />
                                <span class="performer-name">{{ feed.performer.name }}</span
                                ><span class="action-text"
                                  >{{ feed.action_text }} &nbsp;{{ feed.actionable.object_type }}</span
                                >
                              </h2>
                            </nb-card-header>
                            <nb-card-body>
                              <ng-container *ngIf="feed.actionable.object_type === EDbModels.COMMUNITY_BUILD">
                                <app-community-build-card
                                  [communityBuild]="feed.actionable.object_data"
                                ></app-community-build-card>
                              </ng-container>
                              <ng-container *ngIf="feed.actionable.object_type === EDbModels.LAB">
                                <app-labs-card [lab]="feed.actionable.object_data"></app-labs-card>
                              </ng-container>
                            </nb-card-body>
                          </nb-card>
                        </ng-container>

                        <ng-container *ngSwitchCase="EDbModels.COMMUNITY_BUILD">
                          <nb-card class="activity-cards">
                            <nb-card-header
                              ><h2>
                                <img
                                  [src]="
                                    feed.performer_type === EDbModels.USER
                                      ? feed.performer.photo?.i32
                                      : feed.performer.logo_image?.i64
                                  "
                                />
                                <span class="performer-name">{{ feed.performer.name }}</span
                                ><span class="action-text">{{ feed.action_text }}</span>
                              </h2>
                            </nb-card-header>
                            <nb-card-body>
                              <app-community-build-card [communityBuild]="feed.actionable"></app-community-build-card>
                            </nb-card-body>
                          </nb-card>
                        </ng-container>

                        <ng-container *ngSwitchCase="EDbModels.EVENT">
                          <nb-card class="activity-cards">
                            <nb-card-header
                              ><h2>
                                <img
                                  [src]="
                                    feed.performer_type === EDbModels.USER
                                      ? feed.performer.photo?.i32
                                      : feed.performer.logo_image?.i64
                                  "
                                />
                                <span class="performer-name">{{ feed.performer.name }}</span
                                ><span class="action-text">{{ feed.action_text }}</span>
                              </h2>
                            </nb-card-header>
                            <nb-card-body>
                              <commudle-event-horizontal-card
                                [event]="feed.actionable"
                              ></commudle-event-horizontal-card>
                            </nb-card-body>
                          </nb-card>
                        </ng-container>

                        <ng-container *ngSwitchCase="EDbModels.HACKATHON">
                          <nb-card class="activity-cards">
                            <nb-card-header
                              ><h2>
                                <img
                                  [src]="
                                    feed.performer_type === EDbModels.USER
                                      ? feed.performer.photo?.i32
                                      : feed.performer.logo_image?.i64
                                  "
                                />
                                <span class="performer-name">{{ feed.performer.name }}</span
                                ><span class="action-text">{{ feed.action_text }}</span>
                              </h2>
                            </nb-card-header>
                            <nb-card-body>
                              <commudle-hackathon-large-card
                                [hackathon]="feed.actionable"
                              ></commudle-hackathon-large-card>
                            </nb-card-body>
                          </nb-card>
                        </ng-container>

                        <ng-container *ngSwitchCase="EDbModels.LAB">
                          <nb-card class="activity-cards">
                            <nb-card-header
                              ><h2>
                                <img
                                  [src]="
                                    feed.performer_type === EDbModels.USER
                                      ? feed.performer.photo?.i32
                                      : feed.performer.logo_image?.i64
                                  "
                                />
                                <span class="performer-name">{{ feed.performer.name }}</span
                                ><span class="action-text">{{ feed.action_text }}</span>
                              </h2>
                            </nb-card-header>
                            <nb-card-body>
                              <app-labs-card [lab]="feed.actionable"></app-labs-card>
                            </nb-card-body>
                          </nb-card>
                        </ng-container>
                      </ng-container>
                    </div>
                    <app-loading-spinner *ngIf="loadingActivity"></app-loading-spinner>
                  </div>
                </div>
                <div class="no-upcoming-events" *ngIf="activityFeed.length === 0 && !loadingActivity">
                  <h3>No Recent Activity</h3>
                </div>
              </div>
            </div>
            <div class="right-column">
              <div class="advertisement">
                <nb-card>
                  <nb-card-body><h2>Advertisement</h2></nb-card-body></nb-card
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *appBreakpoints="'<=lg'">
                <div *ngFor="let communityBuild of communityBuilds" class="builds-card">
                  <app-community-build-card [communityBuild]="communityBuild"></app-community-build-card>
                </div>
                <app-loading-spinner *ngIf="loading" class="com-mt-4"></app-loading-spinner>
                <button
                  (click)="getCommunityBuilds()"
                  *ngIf="page_info?.has_next_page"
                  fullWidth
                  ghost
                  nbButton
                  class="view-more-button"
                >
                  View More
                </button>
              </div> -->
