<table class="data" *ngFor="let detail of eto">
  <tr>
    <td>Status</td>
    <td>{{ detail.status | titlecase }}</td>
  </tr>
  <tr>
    <td>Amount Paid</td>
    <td>{{ detail.currency === 'inr' ? '₹' : '$' }} {{ detail.total_amount / 100 }}</td>
  </tr>

  <tr>
    <td>Tax Amount</td>
    <td>{{ detail.currency === 'inr' ? '₹' : '$' }} {{ detail.tax_amount / 100 }}</td>
  </tr>

  <tr>
    <td>Discount Amount</td>
    <td>{{ detail.currency === 'inr' ? '₹' : '$' }} {{ detail.discount_amount / 100 }}</td>
  </tr>
  <tr>
    <td>Users</td>
    <td class="com-flex com-flex-col" *ngFor="let user of detail.eto_users">
      <span>{{ user.name }}</span>
      <span>{{ user.email }}</span>
      <span>{{ user.phone }}</span>
    </td>
  </tr>
  <div class="com-mt-4" *ngIf="detail.status">
    <button nbButton (click)="refund(detail.uuid)">Create Refund</button>
  </div>
</table>
