<a [routerLink]="['/communities', channel.kommunity_id, 'channels', 'app', channel.id]" class="com-no-underline">
  <nb-card [ngClass]="horizontalScroll ? 'com-w-72' : 'com-w-full'">
    <nb-card-body>
      <div class="logo-section">
        <div class="logo" *ngIf="channel.logo">
          <img [src]="channel.logo.url" [alt]="channel.name" [title]="channel.name" />
        </div>
        <div class="without-logo" *ngIf="!channel.logo">
          <nb-icon icon="hash"></nb-icon>
        </div>
      </div>
      <div class="details-container">
        <div class="details">
          <div *ngIf="community" class="community-badge">
            <app-community-badge [community]="community"></app-community-badge>
          </div>
          <p class="name">{{ channel.name }}</p>
          <p class="members-count">{{ channel.member_count }} Members</p>
          <p class="description">{{ channel.description }}</p>
        </div>
        <button class="join-channel" nbButton shape="round" status="base">Join Channel</button>
      </div>
    </nb-card-body>
  </nb-card>
</a>
