<div>
  <div class="user-details-container">
    <h6>
      {{ user.name }}
      <nb-icon class="clickable" icon="email" status="info" (click)="openGeneralEmailWindow()"></nb-icon>
    </h6>
    <div class="user-avatar">
      <img src="{{ user.avatar }}" alt="{{ user.name }}">
    </div>
    <p class="contact-details">
      <small>{{ user.email }}</small>
    </p>
    <div class="social-links">
      <a target="_blank" *ngIf="user.github" href="{{ user.github }}">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a target="_blank" *ngIf="user.twitter" href="{{ user.twitter }}">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a target="_blank" *ngIf="user.linkedin" href="{{ user.linkedin }}">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
      <a target="_blank" *ngIf="user.personal_website" href="{{ user.personal_website }}">
        <fa-icon [icon]="faInfo"></fa-icon>
      </a>
    </div>
  </div>
  <div class="registration-status-details">
    <div *ngIf="['speaker', 'attendee'].includes(registrationType.name)">
      <div class="registration-status-list">
        <div *ngFor="let rs of registrationStatuses" (click)="event.editable && updateRegistrationStatus(rs.id)">
          <p [ngClass]="{'selected-status': (rs.id == userResponse.registration_status.id), 'disabled': !event.editable}" >{{ rs.name }}</p>
        </div>
      </div>
      <div *ngIf="(userResponse.registration_status.name == 'confirmed') && (userResponse.entry_pass != null)">
        <p class="entry-pass-code">
          Entry Pass: {{ userResponse.entry_pass.unique_code }}
        </p>
      </div>
      <div class="action-buttons" *ngIf="event.editable">
        <button *ngIf="userResponse.registration_status.name == 'shortlisted'" (click)="openRSVPEmailWindow()" nbButton size="tiny">
          Send RSVP Email
        </button>

        <div *ngIf="(userResponse.registration_status.name == 'confirmed')">
          <button  nbButton size="tiny" *ngIf="(userResponse.entry_pass == null)" (click)="generateEntryPass()">
            Generate Entry Pass
          </button>
          <div *ngIf="(userResponse.entry_pass != null)">

            <button nbButton size="tiny" (click)="openEntryPassEmailWindow()">
              Send Entry Pass Email
            </button>
            <div>
              <button
                nbButton size="tiny"
                status="link"
                [ngClass]="{'active-uninvited': (userResponse.entry_pass.uninvited == true)}"
                (click)="toggleUninvited()">
                Uninvited
              </button>
              <button
                nbButton
                size="tiny"
                status="link"
                [ngClass]="{'active-attendance': (userResponse.entry_pass.attendance == true)}"
                (click)="toggleAttendance()">
                Attendance
              </button>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
