.user-details-container{
  h6{
    margin: 0;
  }
  .user-avatar{
    width: 50px;
    min-height: 50px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .contact-details {
    margin: 0;
  }

  .social-links {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    a {
      color: black;
      margin: 0 0.5rem;
    }
  }
}

.registration-status-details {
  .registration-status-list {
    display: flex;
    >div{
      padding: 5px;
      border: 0.5px solid lightgrey;
      cursor: pointer;
      p{
        font-size: 12px;
        margin: 0;
        color: blue;
        &.selected-status{
          color: green;
          font-weight: bold;
        }
      }

    }
  }


  .action-buttons {
    .entry-pass-code {
      margin: 0;
    }

    .active-uninvited {
      background-color: blue;
      color: white;
    }

    .active-attendance {
      background-color: green;
      color: white;
    }
  }
}
