<div class="page-padding">
  <div *ngIf="userRolesUser">
    <nb-card>
      <nb-card-body>
        <div *ngIf="userRolesUser.active" class="status">
          <div class="role-status">
            <nb-icon icon="person-add" status="success"></nb-icon>
            <p>
              <strong>{{ userRolesUser.user_role.name | titlecase }}</strong>! Welcome To The Team
            </p>
          </div>
        </div>

        <div class="details">
          <div *ngIf="event" class="event">
            <p>
              <a [routerLink]="['/communities', community.slug, 'events', event.slug]">
                Go To <strong>{{ event.name }}</strong>
              </a>
            </p>
          </div>
          <div *ngIf="community" class="community">
            <div class="logo">
              <img alt="{{ community.name }}" src="{{ community.logo_path }}" title="{{ community.name }}">
            </div>
            <p
              *ngIf="[EUserRoles.ORGANIZER.valueOf(), EUserRoles.EVENT_ORGANIZER.valueOf()].includes(userRolesUser.user_role.name)">
              <a [routerLink]="['/admin/communities', community.slug]">{{ community.name }} (Admin Panel)</a>
            </p>
            <p
              *ngIf="![EUserRoles.ORGANIZER.valueOf(), EUserRoles.EVENT_ORGANIZER.valueOf()].includes(userRolesUser.user_role.name)">
              <a [routerLink]="['/communities', community.slug]">{{ community.name }}</a>
            </p>
          </div>

          <div *ngIf="communityGroup" class="community">
            <div class="logo">
              <img alt="{{ communityGroup.name }}" src="{{ communityGroup.logo }}" title="{{ communityGroup.name }}">
            </div>
            <p>
              <a [routerLink]="['/admin/orgs', communityGroup.slug]">{{ communityGroup.name }}</a>
            </p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
