<a [routerLink]="['/users', user.username]">
  <div class="user-profile-large d-flex align-items-center">
    <div class="avatar">
      <img alt="{{user.name}}" src="{{user.avatar}}">
    </div>
    <div class="details">
      <div class="name d-flex align-items-center">
        {{user.name | truncatetext:maxNameLength}}
        <img *ngIf="user.is_expert" alt="Expert Tick" src="/assets/images/Expert-Tick.svg">
      </div>
      <div class="username">@{{user.username | truncatetext:maxUserNameLength}}</div>
      <div class="designation">{{(user.designation || '--') | truncatetext:maxDesignationLength}}</div>
    </div>
  </div>
</a>
