<div class="event-location-tracks">
  <button
    *ngIf="event.editable"
    (click)="showAddTrackForm()"
    nbButton
    size="tiny"
    status="primary"
    class="add-track-button"
  >
    <fa-icon [icon]="faPlusCircle"></fa-icon>
    &nbsp; Add Track
  </button>
  <div class="track-container">
    <nb-accordion *ngFor="let elt of eventLocationTracks; let elti = index" class="com-mb-3 com-shadow-none">
      <nb-accordion-item
        collapsed="{{ !trackSlotVisibility[elt.id] }}"
        (click)="changeTrackSlotVisibility(!trackSlotVisibility[elt.id], elt.id)"
      >
        <nb-accordion-item-header class="com-justify-between">
          <p class="track-name">{{ elt.name }}</p>
          &nbsp;
          <nb-icon *ngIf="elt.embedded_video_stream" icon="video-outline"></nb-icon>
          <div *ngIf="event.editable" class="com-mr-8">
            <button (click)="showEditTrackForm(elt); $event.stopPropagation()" nbButton size="tiny" status="info">
              <nb-icon icon="edit-outline"></nb-icon>
            </button>
            &nbsp;
            <button (click)="confirmDeleteTrack(elt); $event.stopPropagation()" nbButton size="tiny" status="danger">
              <nb-icon icon="close"></nb-icon>
            </button>
            &nbsp;
            <button
              (click)="showAddSlotForm(event.id, event.start_time); $event.stopPropagation()"
              nbButton
              size="tiny"
              status="primary"
            >
              <nb-icon icon="plus"></nb-icon>
            </button>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body class="com-rounded-b-2xl com-p-0 com-m-0">
          <nb-list *ngIf="trackSlotVisibility[elt.id]" class="com-p-0">
            <nb-list-item *ngFor="let slot of sortedTrackSlots[elt.id]; let tsi = index" class="com-p-0">
              <div class="session-time">
                <p>{{ moment(slot.start_time).format('HH:mm') }}</p>
                <p>{{ moment(slot.end_time).format('HH:mm') }}</p>
              </div>
              <div class="session-details">
                <div class="session-title">
                  <div *ngIf="slot.tags_list" class="tag-badge">
                    <app-badge
                      *ngFor="let tag of slot.tags_list.split('')"
                      [fontSize]="'small'"
                      [text]="tag"
                    ></app-badge>
                  </div>
                  <p>{{ slot.session_title }}</p>
                  <div *ngIf="slot.user" class="session-speaker">
                    <app-user-profile-card-small [user]="slot.user"></app-user-profile-card-small>
                  </div>
                </div>
                <div class="links">
                  <div *ngIf="event.editable" class="session-links">
                    <a
                      *ngIf="!slot.speaker_resource"
                      [queryParams]="{ token: slot.rsvp_token, event_id: event.slug }"
                      [routerLink]="['/speaker-resource-form']"
                      class="add-session"
                      target="_blank"
                    >
                      <nb-icon icon="clipboard-outline"></nb-icon>
                      Add session slides
                    </a>
                    <a
                      *ngIf="slot.speaker_resource"
                      [queryParams]="{ token: slot.rsvp_token, event_id: event.slug }"
                      [routerLink]="['/speaker-resource-form']"
                      class="edit-session"
                      target="_blank"
                    >
                      <nb-icon icon="clipboard-outline"></nb-icon>
                      <span>Edit Session Details/Slides</span>
                    </a>
                  </div>
                  <p class="public-session">
                    <small>
                      <a
                        [queryParams]="{ track_slot_id: slot.id }"
                        [routerLink]="['/communities', community.slug, 'events', event.slug, 'session']"
                        target="_blank"
                      >
                        <nb-icon icon="external-link"></nb-icon>
                        Public Session Page
                      </a>
                    </small>
                  </p>
                </div>
              </div>
              <nb-icon
                icon="edit-outline"
                (click)="showEditSlotForm(slot); $event.stopPropagation()"
                class="edit-outline"
              ></nb-icon>
              &nbsp;
              <nb-icon
                icon="close-circle-outline"
                (click)="confirmDeleteSlot(slot); $event.stopPropagation()"
                status="danger"
                class="close-circle-outline"
              ></nb-icon>
            </nb-list-item>
          </nb-list>
          <div *ngIf="elt.track_slots.length === 0" class="no-slots-yet">No Slots Yet</div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>

<ng-template #eventLocationTrackFormTemplate let-data>
  <form
    (ngSubmit)="data.operationType === 'create' ? createTrack() : editTrack(data.eventLocationTrackId)"
    [formGroup]="eventLocationTrackForm"
    class="event-location-track-form"
  >
    <div formGroupName="event_location_track">
      <div>
        <label>
          Name*
          <input formControlName="name" fullWidth nbInput type="text" />
        </label>
        <span
          *ngIf="
            eventLocationTrackForm['controls'].event_location_track['controls'].name.touched &&
            eventLocationTrackForm['controls'].event_location_track['controls'].name.invalid &&
            eventLocationTrackForm['controls'].event_location_track['controls'].name.errors.required
          "
        >
          <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
        </span>
      </div>

      <div
        *ngIf="eventLocation && eventLocation.event_type === EEventType.ONLINE_ONLY"
        class="online-event-fields"
        formGroupName="embedded_video_stream"
      >
        <p>
          <small>
            <i>If you want a common video for this track, fill the fields below</i>
          </small>
        </p>
        <div>
          <nb-select
            (selectedChange)="updateEventLocationTrackFormZoomValidators()"
            formControlName="source"
            fullWidth
            placeholder="Source"
            size="small"
            status="primary"
          >
            <nb-option [value]="EEmbeddedVideoStreamSources.YOUTUBE"> YouTube (URL)</nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.EXTERNAL_LINK">
              External Link (to another platform)
            </nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.OTHER"> Other (Embedded Iframe)</nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.ZOOM" disabled> Zoom</nb-option>
          </nb-select>
        </div>
        <div>
          <label>
            Video Url / Zoom Meeting Id / Embed Iframe / External Link (depending on the source above)
            <textarea formControlName="embed_code" fullWidth nbInput type="text"></textarea>
          </label>
        </div>

        <div
          *ngIf="
            eventLocationTrackForm.get('event_location_track').get('embedded_video_stream').get('source').value ===
            EEmbeddedVideoStreamSources.ZOOM
          "
        >
          <label>
            Meeting/Webinar Host Email*
            <input formControlName="zoom_host_email" fullWidth nbInput placeholder="Type email id here" />
          </label>
        </div>
        <div
          *ngIf="
            eventLocationTrackForm.get('event_location_track').get('embedded_video_stream').get('source').value ===
            EEmbeddedVideoStreamSources.ZOOM
          "
        >
          <label>
            Meeting/Webinar Password (visible only to organizers)*
            <input formControlName="zoom_password" fullWidth nbInput placeholder="Type password here" />
          </label>
        </div>
      </div>
    </div>

    <div class="save-button-bottom">
      <button [disabled]="!eventLocationTrackForm.valid" fullWidth nbButton status="info" type="submit">Save</button>
    </div>
  </form>
</ng-template>

<ng-template #deleteEventLocationTrackTemplate let-data>
  <div>
    <p>Are you sure you want to delete this track?</p>
  </div>
  <div>
    <button (click)="deleteTrack(true, data.eventLocationTrackId)" nbButton status="link">Yes</button>&nbsp;
    <button (click)="deleteTrack(false, data.eventLocationTrackId)" nbButton status="link">No</button>
  </div>
</ng-template>

<ng-template #trackSlotFormTemplate let-data>
  <form
    (ngSubmit)="data.operationType === 'create' ? addSlot() : editSlot(data.trackSlotId)"
    [formGroup]="trackSlotForm"
    class="track-slot-form"
  >
    <div formGroupName="track_slot">
      <div>
        <nb-select formControlName="event_location_track_id" placeholder="Select Track" fullWidth class="select-track">
          <nb-option-group *ngFor="let location of eventLocations" title="{{ location.id }}">
            <nb-option *ngFor="let ltrack of location.event_location_tracks" [value]="ltrack.id">
              {{ ltrack.name }}
            </nb-option>
          </nb-option-group>
          <span
            *ngIf="
              trackSlotForm['controls'].track_slot['controls'].event_location_track_id.touched &&
              trackSlotForm['controls'].track_slot['controls'].event_location_track_id.invalid &&
              trackSlotForm['controls'].track_slot['controls'].event_location_track_id.required
            "
          >
            <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
          </span>
        </nb-select>
      </div>
      <div>
        <nb-select
          formControlName="speaker_registration_id"
          placeholder="Select Speaker (optional)"
          fullWidth
          class="select-speaker"
        >
          <nb-option *ngFor="let speaker of eventSpeakers | orderBy : ['user.name'] : ['asc']" [value]="speaker.id">
            {{ speaker.user.name }}
          </nb-option>
        </nb-select>
      </div>
      <div class="session-name">
        <input formControlName="session_title" fullWidth nbInput placeholder="Session Name*" type="text" />
        <span
          *ngIf="
            trackSlotForm['controls'].track_slot['controls'].session_title.touched &&
            trackSlotForm['controls'].track_slot['controls'].session_title.invalid &&
            trackSlotForm['controls'].track_slot['controls'].session_title.errors.required
          "
        >
          <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
        </span>
      </div>

      <div class="date">
        <input [nbDatepicker]="datepicker" formControlName="date" fullWidth nbInput placeholder="Date*" />
        <span
          *ngIf="
            trackSlotForm['controls'].track_slot['controls'].date.touched &&
            trackSlotForm['controls'].track_slot['controls'].date.invalid &&
            trackSlotForm['controls'].track_slot['controls'].date.errors.required
          "
        >
          <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
        </span>
        <nb-datepicker #datepicker></nb-datepicker>
      </div>

      <div class="start-time">
        <input
          [nbTimepicker]="startTimePicker"
          formControlName="start_time"
          fullWidth
          nbInput
          placeholder="Start Time*"
          readonly
        />
        <nb-timepicker #startTimePicker></nb-timepicker>
        <span
          *ngIf="
            trackSlotForm['controls'].track_slot['controls'].start_time.invalid &&
            trackSlotForm['controls'].track_slot['controls'].start_time.errors.required
          "
        >
          <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
        </span>
      </div>

      <div class="end-time">
        <input
          [nbTimepicker]="endTimePicker"
          formControlName="end_time"
          fullWidth
          nbInput
          placeholder="End Time*"
          readonly
        />
        <nb-timepicker #endTimePicker></nb-timepicker>
      </div>

      <nb-tag-list (tagRemove)="onTagRemove($event)">
        <nb-tag *ngFor="let tag of tags" [text]="tag" removable></nb-tag>
        <input
          (tagAdd)="onTagAdd($event)"
          [separatorKeys]="[13, 188]"
          (keypress)="restrictComma($event)"
          fullWidth
          nbTagInput
          placeholder="Enter Tag"
          type="text"
          formControlName="tags_list"
        />
      </nb-tag-list>

      <!-- <div
        *ngIf="eventLocation && eventLocation.event_type === EEventType.ONLINE_ONLY"
        class="online-event-fields"
        formGroupName="embedded_video_stream"
      >
        <p>
          <small>
            <i>If this speaker has an individual video stream, add here, else leave blank</i>
          </small>
        </p>
        <div>
          <nb-select
            (selectedChange)="updateTrackSlotFormZoomValidators()"
            formControlName="source"
            fullWidth
            placeholder="Source"
            size="small"
            status="primary"
          >
            <nb-option [value]="EEmbeddedVideoStreamSources.YOUTUBE"> YouTube (URL)</nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.OTHER"> Other (Embedded Iframe)</nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.ZOOM" disabled> Zoom</nb-option>
          </nb-select>
        </div>
        <div>
          <label>
            Video Url / Zoom Meeting ID / Embed Iframe (depending on the source above)
            <textarea formControlName="embed_code" fullWidth nbInput type="text"></textarea>
          </label>
        </div>
        <div
          *ngIf="
            trackSlotForm.get('track_slot').get('embedded_video_stream').get('source').value ===
            EEmbeddedVideoStreamSources.ZOOM
          "
        >
          <label>
            Meeting/Webinar Host Email*
            <input formControlName="zoom_host_email" fullWidth nbInput placeholder="Type email id here" />
          </label>
        </div>
        <div
          *ngIf="
            trackSlotForm.get('track_slot').get('embedded_video_stream').get('source').value ===
            EEmbeddedVideoStreamSources.ZOOM
          "
        >
          <label>
            Meeting/Webinar Password (visible only to organizers)*
            <input formControlName="zoom_password" fullWidth nbInput placeholder="Type password here" />
          </label>
        </div>
      </div> -->
    </div>

    <div class="save-button-bottom">
      <button [disabled]="!trackSlotForm.valid" fullWidth nbButton status="info" type="submit">Save</button>
    </div>
  </form>
</ng-template>

<ng-template #deleteTrackSlotTemplate let-data>
  <div>
    <p>Are you sure you want to delete this slot?</p>
  </div>
  <div>
    <button (click)="deleteSlot(true, data.trackSlot)" nbButton status="link">Yes</button> &nbsp;
    <button (click)="deleteSlot(false, data.trackSlot)" nbButton status="link">No</button>
  </div>
</ng-template>
