.event-location-tracks {
  // max-width: 1500px;

  .add-track-button {
    @apply com-text-sm com-mb-2;
  }

  .track-container {
    nb-action {
      display: flex;
      flex-wrap: wrap;

      nb-icon {
        font-size: 1.3rem;
        @apply com-text-white;
      }
    }

    nb-accordion-item-header {
      @apply com-py-1 com-px-2 com-overflow-x-auto com-justify-between;
      background-color: #ffaa00;
      @apply com-border-0 com-rounded-md;

      .track-name {
        @apply com-text-lg com-mr-2 com-my-0 com-ml-0;
        display: inline-block;
      }

      .actions {
        @apply com-mr-8 com-flex com-flex-row;
      }
    }

    nb-accordion-item-body {
      @apply com-p-0;
      nb-list {
        @apply com-m-0 com-p-0;
        nb-list-item {
          display: flex;
          align-items: center;
          @apply com-border-t-0 com-py-2;

          .session-time {
            @apply com-pr-2 com-flex com-justify-center com-flex-col;
            width: 60px;
            height: 112px;
            border-right: 3px solid lightgrey;

            p {
              margin: 0;
              text-align: right;
            }

            p:nth-of-type(1) {
              font-size: 1.2rem;
            }

            p:nth-of-type(2) {
              margin-top: 0.2rem;
              font-size: 0.9rem;
            }
          }

          .session-details {
            width: 90%;
            padding-left: 0.5rem;

            .session-title {
              p:nth-of-type(1) {
                @apply com-text-lg;
                @apply com-mt-1 com-mb-0;
                font-weight: normal;
              }

              .tag-badge {
                @apply com-mt-0 com-mb-0 com-p-0;
              }

              .session-speaker {
                @apply com-mt-1;
                width: fit-content;
              }
            }

            .links {
              @apply com-flex com-flex-row;

              .session-links {
                @apply com-mt-1 com-mr-7;

                .add-session,
                .edit-session {
                  @apply com-text-sm;
                }
              }
            }

            .public-session {
              @apply com-mt-1;
              a {
                @apply com-text-sm;
              }
            }
          }
        }
      }
      .edit-outline {
        @apply com-mx-4 com-cursor-pointer com-text-2xl md:com-text-xl;
      }

      .close-circle-outline {
        @apply com-cursor-pointer com-text-2xl md:com-text-xl;
      }

      .no-slots-yet {
        @apply com-text-xl com-font-medium;
      }
    }
  }
}
.save-button-bottom {
  @apply com-mt-6;
}

.session-name,
.date,
.start-time,
.end-time,
.select-track,
.select-speaker {
  @apply com-mb-4;
}
