<div class="event-location-tracks">
  <button
    *ngIf="event.editable"
    (click)="showAddTrackForm()"
    nbButton
    size="medium"
    status="primary"
    class="add-track-button"
  >
    <fa-icon [icon]="faPlusCircle"></fa-icon>
    &nbsp; Add Track
  </button>
  <div class="track-container">
    <nb-accordion *ngFor="let elt of eventLocationTracks; let elti = index" class="com-mb-3 com-shadow-none">
      <nb-accordion-item
        collapsed="{{ !trackSlotVisibility[elt.id] }}"
        (click)="changeTrackSlotVisibility(!trackSlotVisibility[elt.id], elt.id)"
      >
        <nb-accordion-item-header>
          <p class="track-name">{{ elt.name }}</p>
          &nbsp;
          <nb-icon *ngIf="elt.embedded_video_stream" icon="video-outline"></nb-icon>
          <div *ngIf="event.editable" class="actions">
            <button
              (click)="showAddSlotForm(event.id, event.start_time, elt, elti); $event.stopPropagation()"
              nbButton
              size="tiny"
              status="primary"
            >
              <nb-icon icon="plus"></nb-icon>
              Add Speaker Slot
            </button>
            &nbsp;
            <button (click)="showEditTrackForm(elt); $event.stopPropagation()" nbButton size="tiny" status="info">
              <nb-icon icon="edit-outline"></nb-icon>
            </button>
            &nbsp;
            <button (click)="confirmDeleteTrack(elt); $event.stopPropagation()" nbButton size="tiny" status="danger">
              <nb-icon icon="trash-outline"></nb-icon>
            </button>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body class="com-rounded-b-2xl com-p-0 com-m-0" (click)="$event.stopPropagation()">
          <div
            class="add-session"
            (click)="showAddSlotForm(event.id, event.start_time, elt, elti); $event.stopPropagation()"
            *ngIf="event.editable"
          >
            <fa-icon [icon]="faPlus"></fa-icon>
            &nbsp; Add New Session
          </div>
          <ng-container *ngFor="let group of sortedTrackSlots[elt.id] | groupByDate : 'start_time'">
            <!-- Display the date -->
            <div class="group-date">{{ group.date }}</div>
            <nb-list *ngIf="trackSlotVisibility[elt.id]" class="com-p-0">
              <nb-list-item *ngFor="let slot of group.slots; let tsi = index">
                <div
                  class="com-flex com-items-center com-justify-between com-gap-2 md:com-gap-0 com-w-full com-flex-col md:com-flex-row"
                >
                  <div class="com-flex com-w-full md:com-w-auto">
                    <div class="session-time">
                      <p class="start-time">{{ moment(slot.start_time).format('HH:mm') }}</p>
                      <fa-icon *appBreakpoints="'>md'" [icon]="faChevronRight"></fa-icon>
                      <p class="end-time">{{ moment(slot.end_time).format('HH:mm') }}</p>
                    </div>
                    <div class="session-title">
                      <p>{{ slot.session_title }}</p>
                      <div *appBreakpoints="'<=md'" class="mobile-action-buttons">
                        <div
                          *ngIf="event.editable"
                          class="edit"
                          (click)="showEditSlotForm(slot, elti); $event.stopPropagation()"
                        >
                          <fa-icon [icon]="faPen"></fa-icon>
                        </div>
                        <div class="attachment" *ngIf="slot.track_slot_speakers.length > 0">
                          <a
                            [queryParams]="{ token: slot.rsvp_token, event_id: event.slug }"
                            [routerLink]="['/speaker-resource-form']"
                            class="add-session"
                            target="_blank"
                          >
                            <fa-icon [icon]="faPaperclip"></fa-icon>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div *appBreakpoints="'<=md'" class="com-flex com-justify-between com-flex-col">
                      <div class="speakers" *ngIf="slot.track_slot_speakers">
                        <div *ngFor="let slot of slot.track_slot_speakers">
                          <div class="avatar">
                            <img
                              [alt]="slot.user.name"
                              [src]="slot.user.photo?.i32 || slot.user.avatar"
                              [title]="slot.user.name"
                              [username]="slot.user.username"
                              appMiniUserProfile
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mobile-action-buttons">
                        <div class="public">
                          <a
                            [queryParams]="{ track_slot_id: slot.id }"
                            [routerLink]="['/communities', community.slug, 'events', event.slug, 'session']"
                            target="_blank"
                          >
                            <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                          </a>
                        </div>
                        <div
                          class="delete"
                          *ngIf="event.editable"
                          (click)="confirmDeleteSlot(slot); $event.stopPropagation()"
                        >
                          <fa-icon [icon]="faTrash"></fa-icon>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *appBreakpoints="'>md'" class="com-flex com-justify-between com-w-full md:com-w-auto">
                    <div class="action-buttons">
                      <div
                        *ngIf="event.editable"
                        class="edit"
                        (click)="showEditSlotForm(slot, elti); $event.stopPropagation()"
                      >
                        <fa-icon [icon]="faPen"></fa-icon>
                      </div>
                      <div class="attachment" *ngIf="slot.track_slot_speakers.length > 0">
                        <a
                          [queryParams]="{ token: slot.rsvp_token, event_id: event.slug }"
                          [routerLink]="['/speaker-resource-form']"
                          class="add-session"
                          target="_blank"
                        >
                          <fa-icon [icon]="faPaperclip"></fa-icon>
                        </a>
                      </div>
                      <div class="public">
                        <a
                          [queryParams]="{ track_slot_id: slot.id }"
                          [routerLink]="['/communities', community.slug, 'events', event.slug, 'session']"
                          target="_blank"
                        >
                          <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                        </a>
                      </div>
                      <div
                        class="delete"
                        *ngIf="event.editable"
                        (click)="confirmDeleteSlot(slot); $event.stopPropagation()"
                      >
                        <fa-icon [icon]="faTrash"></fa-icon>
                      </div>
                    </div>
                    <div>
                      <div class="speakers" *ngIf="slot.track_slot_speakers">
                        <div *ngFor="let slot of slot.track_slot_speakers">
                          <div class="avatar">
                            <img
                              [alt]="slot.user.name"
                              [src]="slot.user.photo?.i32 || slot.user.avatar"
                              [title]="slot.user.name"
                              [username]="slot.user.username"
                              appMiniUserProfile
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nb-list-item>
            </nb-list>
          </ng-container>
          <div *ngIf="elt.track_slots.length === 0" class="no-slots-yet">No Speaker Slots Added</div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>

<ng-template #eventLocationTrackFormTemplate let-data>
  <form
    (ngSubmit)="data.operationType === 'create' ? createTrack() : editTrack(data.eventLocationTrackId)"
    [formGroup]="eventLocationTrackForm"
    class="event-location-track-form"
  >
    <div formGroupName="event_location_track">
      <div>
        <label>
          Name*
          <input formControlName="name" fullWidth nbInput type="text" />
        </label>
        <span
          *ngIf="
            eventLocationTrackForm['controls'].event_location_track['controls'].name.touched &&
            eventLocationTrackForm['controls'].event_location_track['controls'].name.invalid &&
            eventLocationTrackForm['controls'].event_location_track['controls'].name.errors.required
          "
        >
          <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
        </span>
      </div>

      <div
        *ngIf="eventLocation && eventLocation.event_type === EEventType.ONLINE_ONLY"
        class="online-event-fields"
        formGroupName="embedded_video_stream"
      >
        <p>
          <small>
            <i>If you want a common video for this track, fill the fields below</i>
          </small>
        </p>
        <div>
          <nb-select
            (selectedChange)="updateEventLocationTrackFormZoomValidators()"
            formControlName="source"
            fullWidth
            placeholder="Source"
            size="small"
            status="primary"
          >
            <nb-option [value]="EEmbeddedVideoStreamSources.YOUTUBE"> YouTube (URL)</nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.EXTERNAL_LINK">
              External Link (to another platform)
            </nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.OTHER"> Other (Embedded Iframe)</nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.ZOOM" disabled> Zoom</nb-option>
          </nb-select>
        </div>
        <div>
          <label>
            Video Url / Zoom Meeting Id / Embed Iframe / External Link (depending on the source above)
            <textarea formControlName="embed_code" fullWidth nbInput type="text"></textarea>
          </label>
        </div>

        <div
          *ngIf="
            eventLocationTrackForm.get('event_location_track').get('embedded_video_stream').get('source').value ===
            EEmbeddedVideoStreamSources.ZOOM
          "
        >
          <label>
            Meeting/Webinar Host Email*
            <input formControlName="zoom_host_email" fullWidth nbInput placeholder="Type email id here" />
          </label>
        </div>
        <div
          *ngIf="
            eventLocationTrackForm.get('event_location_track').get('embedded_video_stream').get('source').value ===
            EEmbeddedVideoStreamSources.ZOOM
          "
        >
          <label>
            Meeting/Webinar Password (visible only to organizers)*
            <input formControlName="zoom_password" fullWidth nbInput placeholder="Type password here" />
          </label>
        </div>
      </div>
    </div>

    <div class="save-button-bottom">
      <button [disabled]="!eventLocationTrackForm.valid" fullWidth nbButton status="info" type="submit">Save</button>
    </div>
  </form>
</ng-template>

<ng-template #deleteEventLocationTrackTemplate let-data>
  <div>
    <p>Are you sure you want to delete this track?</p>
  </div>
  <div>
    <button (click)="deleteTrack(true, data.eventLocationTrackId)" nbButton status="link">Yes</button>&nbsp;
    <button (click)="deleteTrack(false, data.eventLocationTrackId)" nbButton status="link">No</button>
  </div>
</ng-template>

<ng-template #deleteTrackSlotTemplate let-data>
  <div>
    <p>Are you sure you want to delete this slot?</p>
  </div>
  <div>
    <button (click)="deleteSlot(true, data.trackSlot)" nbButton status="link">Yes</button> &nbsp;
    <button (click)="deleteSlot(false, data.trackSlot)" nbButton status="link">No</button>
  </div>
</ng-template>
