.error-text {
  @apply com-text-sm com-flex com-items-center com-font-normal com-align-middle com-text-red-500;
  span {
    @apply com-flex com-items-start;
  }

  .info-icon {
    @apply com-text-sm com-mr-1 com-mt-[3px];
  }
}

.info {
  @apply com-grid com-gap-1;
  grid-template-columns: max-content auto;
  nb-icon {
    @apply com-text-sm com-text-New-Car  com-m-0;
  }
  p {
    @apply com-text-xs com-font-normal com-text-New-Car com-my-0;
  }
  &.blue-border {
    @apply com-border com-border-solid com-border-primary-500 com-bg-Alice-Blue com-rounded-md com-p-2;
  }
}
