.community-stats {
  a {
    width: max-content;
  }

  .page-header {
    h3 {
      font-weight: 300;
      margin-bottom: 0;

      nb-icon {
        font-size: 2rem;
      }

      small {
        font-size: 1rem;
      }
    }
  }

  nb-card.stat-card.members {
    height: fit-content;

    nb-card-header {
      h3 {
        font-weight: 300;
        margin: 0;

        small {
          font-size: 1rem;
        }
      }
    }

    nb-card-body {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0 1rem 3rem;

      > p {
        font-size: 1.3rem;
        margin: 0;
        text-align: center;
      }

      .chart-container {
        position: relative;
        text-align: center;
        width: 330px;
      }

      .wide.chart-container {
        height: 300px;
        margin-bottom: 3rem;
        max-width: 100vw;
        width: 500px;
      }

      .numbers {
        text-align: center;

        span {
          font-size: 1.3rem;
        }
      }
    }
  }

  nb-card.stat-card.events {
    nb-card-header {
      h3 {
        font-weight: 300;
        margin: 0;

        small {
          font-size: 1rem;
        }
      }
    }

    nb-card-body {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .chart-container {
        position: relative;
        text-align: center;
        width: 330px;
      }

      .wide.chart-container {
        height: 400px;
        margin-bottom: 3rem;
        max-height: 70vh;
        max-width: 100vw;
        width: 100%;
      }

      .numbers {
        text-align: center;

        span {
          font-size: 1.3rem;
        }
      }
    }
  }
}
