@import './apps/commudle-admin/src/assets/styles/variables';

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

.user-profile-small {
  @apply com-bg-transparent;

  .avatar {
    @apply com-h-6 com-w-6 com-overflow-hidden;
    border-radius: 50%;

    img {
      width: 100%;
    }
  }

  .name {
    @apply com-text-sm com-font-medium com-text-Auro-Metal-Saurus com-ml-2;

    img {
      height: 12px;
      margin-left: $space-4;
      width: 12px;
    }
  }
}
