@import '/projects/commudle-admin/src/assets/styles/variables.scss';

.features {
  max-width: $max-page-width;
  padding: 1rem;
  margin: 0 auto;

  .page-header {
    h1 {
      font-size: 3.5rem;
      margin: 0;
    }

    p {
      font-size: 1.2rem;
    }
  }

}
