<div class="base-layout">
  <div class="container !com-max-w-5xl">
    <div class="one-column-layout com-mb-10">
      <nb-card>
        <nb-card-header>Techies Looking To Get Hired</nb-card-header>
        <nb-card-body>
          <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
          <div *ngFor="let user of users" class="employee">
            <app-user-profile-card-large [user]="user"></app-user-profile-card-large>
            <button
              class="com-h-9"
              (click)="redirectToProfile(user.username)"
              status="primary"
              nbButton
              size="small"
              shape="semi-round"
            >
              View Profile
            </button>
          </div>
          <button
            (click)="getEmployeesList()"
            *ngIf="page_info?.has_next_page"
            [nbSpinner]="isLoading"
            ghost
            fullWidth
            nbButton
          >
            View More
          </button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
