<nb-card class="user-job-card">
  <nb-card-body>
    <app-job-list-card [job]="job"></app-job-list-card>
    <nb-actions>
      <nb-action *ngIf="user.id === currentUser?.id">
        <button (click)="updateJob.emit()" ghost nbButton size="small" status="warning">
          <fa-icon [icon]="faPencil" class="icons"></fa-icon>
          <ng-container *appBreakpoints="'>md'">Edit</ng-container>
        </button>
      </nb-action>
      <nb-action>
        <button (click)="copyTextToClipboard(job.id)" ghost nbButton size="small" status="primary">
          <fa-icon [icon]="faShareAlt" class="icons"></fa-icon>
          <ng-container *appBreakpoints="'>md'">Share</ng-container>
        </button>
      </nb-action>
      <nb-action *ngIf="user.id === currentUser?.id">
        <a [routerLink]="['/jobs', job.id, 'applications']" ghost nbButton size="small" status="success">
          <fa-icon [icon]="faUsers" class="icons"></fa-icon>
          <ng-container *appBreakpoints="'>md'"
            >All Received Applications
            <span *ngIf="job.job_applications_count !== 0">({{ job.job_applications_count }})</span></ng-container
          >
        </a>
      </nb-action>
      <nb-action>
        <a [routerLink]="['/jobs', job.id]" ghost nbButton size="small" status="info">
          <fa-icon [icon]="faInfoCircle" class="icons"></fa-icon>
          <ng-container *appBreakpoints="'>md'">View Details</ng-container>
        </a>
      </nb-action>
      <nb-action *ngIf="user.id === currentUser?.id">
        <button (click)="updateJobStatus()" ghost nbButton size="small" status="basic">
          <ng-container *ngIf="job.status === jobStatus.OPEN">
            <fa-icon [icon]="faEyeSlash" class="icons"></fa-icon>
            <ng-container *appBreakpoints="'>md'">Close Job</ng-container>
          </ng-container>
          <ng-container *ngIf="job.status === jobStatus.CLOSED">
            <fa-icon [icon]="faEye" class="icons"></fa-icon>
            <ng-container *appBreakpoints="'>md'">Open Job</ng-container>
          </ng-container>
        </button>
      </nb-action>
      <nb-action *ngIf="user.id === currentUser?.id">
        <button (click)="onDialogOpen(deleteJobDialog)" ghost nbButton size="small" status="danger">
          <fa-icon [icon]="faTrash" class="icons"></fa-icon>
          <ng-container *appBreakpoints="'>md'">Delete</ng-container>
        </button>
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>

<ng-template #deleteJobDialog let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="com-flex com-items-center com-justify-between">
      <span class="com-flex com-items-center com-gap-2">
        <nb-icon icon="alert-triangle" status="warning"></nb-icon>
        Confirmation
      </span>
      <button (click)="ref.close()" ghost nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body class="com-max-w-[350px]">
      <p>
        Are you sure your want to delete
        <strong> {{ job.position }} @ {{ job.company }} </strong>? <br />
        All the received applications will be deleted permanently as well.
      </p>
      <br />
      <p><strong>Note:</strong>&nbsp;This action cannot be undone.</p>
    </nb-card-body>
    <nb-card-footer class="com-flex com-items-center com-justify-between">
      <button (click)="ref.close()" ghost nbButton status="danger">No</button>
      <button (click)="onDeleteJob(); ref.close()" nbButton status="success">Yes</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
