<div class="emailer-component">
  <form (ngSubmit)="submitForm()" [formGroup]="eMailForm">
    <div class="fieldset">
      <p>{{ community.name }}</p>
      <nb-radio-group (valueChange)="toggleEventSpecificEmail($event)" formControlName="members" name="members">
        <nb-radio value="{{ EemailTypes.GENERAL_ALL }}"> General Email (to All or a Specific Member)</nb-radio>
        <nb-radio value="event"> Event Specific Emails</nb-radio>
      </nb-radio-group>
    </div>

    <div *ngIf="isEventSpecificEmail" class="fieldset">
      <nb-select
        (selectedChange)="getEventDataFormEntityGroups($event)"
        filled
        formControlName="event_id"
        placeholder="Select Event"
        status="primary"
      >
        <nb-option *ngFor="let event of events" [value]="event.id">
          {{ event.name }}
        </nb-option>
      </nb-select>

      <div class="fieldset form-mail-type-selection">
        <div *ngIf="eventDataFormEntityGroups.length > 0" class="fieldset">
          <p>Source?</p>
          <nb-radio-group
            (valueChange)="toggleEventDataFormEntityGroupType($event)"
            formControlName="event_data_form_entity_group_id"
            name="event_data_form_entity_group_id"
          >
            <nb-radio *ngFor="let edfeg of eventDataFormEntityGroups" [value]="edfeg.id">
              {{ edfeg.name }}
            </nb-radio>
          </nb-radio-group>
        </div>
        <div *ngIf="eventSimpleRegistration" class="fieldset">
          <p>Single Click Registration</p>
        </div>

        <div *ngIf="selectedEventDataFormEntityGroup || eventSimpleRegistration" class="fieldset">
          <p>Let's Be Specific!</p>
          <nb-radio-group
            (valueChange)="toggleEmailBodyValidation($event)"
            *ngIf="selectedEventDataFormEntityGroup"
            formControlName="registration_selection_type"
            name="registration_selection_type"
          >
            <nb-radio *ngFor="let reg of selectedFormRegistrationType" [value]="reg.value">
              {{ reg.display }}
            </nb-radio>
          </nb-radio-group>

          <nb-radio-group
            (valueChange)="toggleEmailBodyValidation($event)"
            *ngIf="eventSimpleRegistration"
            formControlName="registration_selection_type"
            name="registration_selection_type"
          >
            <nb-radio *ngFor="let reg of selectedFormRegistrationType" [value]="reg.value">
              {{ reg.display }}
            </nb-radio>
          </nb-radio-group>
        </div>
      </div>
    </div>
    <div
      *ngIf="
        [EemailTypes.GENERAL_ALL, EemailTypes.ENTRY_PASS, EemailTypes.SEND_LINK, EemailTypes.RSVP].includes(
          selectedEmailType
        ) == true
      "
      class="fieldset"
    >
      <div>
        <p *ngIf="recipientUsername">
          To
          <br />
          <b>Selected Username</b>: <u>{{ recipientUsername }}</u>
        </p>
        <label *ngIf="!recipientUsername">
          To
          <input
            formControlName="recipient_email"
            fullWidth
            nbInput
            placeholder="Enter 1 email addresses or leave blank for all matching members"
            type="text"
          />
        </label>
      </div>
      <div>
        <nb-checkbox formControlName="resend" status="basic"> Resend (if already sent)</nb-checkbox>
      </div>
    </div>
    <div class="fieldset">
      <label>
        Subject*
        <input formControlName="subject" fullWidth nbInput type="text" />
      </label>
      <span
        *ngIf="
          eMailForm['controls'].subject.touched &&
          eMailForm['controls'].subject.invalid &&
          eMailForm['controls'].subject.errors.required
        "
        class="validation-error-text"
      >
        Required Field
      </span>
    </div>
    <div class="fieldset">
      <label> Message From Organizers </label>
      <span
        *ngIf="
          eMailForm['controls'].body.touched &&
          eMailForm['controls'].body.invalid &&
          eMailForm['controls'].body.errors.required
        "
        class="validation-error-text"
      >
        Required Field
      </span>
      <editor [init]="tinyMCE" formControlName="body"> </editor>
    </div>

    <div class="submit-button">
      <button [disabled]="!eMailForm.valid || isEmailSending" fullWidth nbButton status="primary" type="submit">
        Send Mail
      </button>
    </div>
  </form>
</div>
