<div>
  <form
    (ngSubmit)="operationType === 'create' ? addSlot() : editSlot(trackSlotId)"
    [formGroup]="trackSlotForm"
    class="track-slot-form"
  >
    <div formGroupName="track_slot">
      <div>
        <nb-select formControlName="event_location_track_id" placeholder="Select Track" fullWidth class="select-track">
          <nb-option-group *ngFor="let location of eventLocations" title="{{ location.id }}">
            <nb-option *ngFor="let ltrack of location.event_location_tracks" [value]="ltrack.id">
              {{ ltrack.name }}
            </nb-option>
          </nb-option-group>
          <span
            *ngIf="
              trackSlotForm['controls'].track_slot['controls'].event_location_track_id.touched &&
              trackSlotForm['controls'].track_slot['controls'].event_location_track_id.invalid &&
              trackSlotForm['controls'].track_slot['controls'].event_location_track_id.required
            "
          >
            <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
          </span>
        </nb-select>
      </div>
      <div
        *ngFor="
          let speakerControl of trackSlotForm.get('track_slot.track_slot_speaker_registration_ids').controls;
          let i = index
        "
        class="com-flex com-items-baseline com-gap-2"
      >
        <div class="dropdown">
          <select [formControl]="speakerControl" class="com-border-0" (change)="speakerSelected($event, i)">
            <option value="" selected disabled>Select Speaker (optional)</option>
            <option *ngFor="let speaker of eventSpeakers | orderBy : ['user.name'] : ['asc']" [value]="speaker.id">
              {{ speaker.user.name }}
            </option>
          </select>
        </div>
        <div (click)="removeSpeakerDropdown(i)" class="com-p-1 com-cursor-pointer com-text-red-500">
          <fa-icon [icon]="icons.faXmark"></fa-icon>
        </div>
      </div>
      <div
        (click)="addSpeakerDropdown()"
        class="com-text-primary-500 com-cursor-pointer com-flex com-justify-center com-mb-3"
      >
        + Add Another Speaker
      </div>

      <div class="session-name">
        <input formControlName="session_title" fullWidth nbInput placeholder="Session Name*" type="text" />
        <span
          *ngIf="
            trackSlotForm['controls'].track_slot['controls'].session_title.touched &&
            trackSlotForm['controls'].track_slot['controls'].session_title.invalid &&
            trackSlotForm['controls'].track_slot['controls'].session_title.errors.required
          "
        >
          <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
        </span>
      </div>

      <!-- <div class="date">
        <input
          fullWidth
          nbInput
          placeholder="Date*"
          value="{{ trackSlotForm['controls'].track_slot['controls'].date.value | date : 'fullDate' }}"
          disabled
        />
        <span
          *ngIf="
            trackSlotForm['controls'].track_slot['controls'].date.touched &&
            trackSlotForm['controls'].track_slot['controls'].date.invalid &&
            trackSlotForm['controls'].track_slot['controls'].date.errors.required
          "
        >
          <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
        </span>
      </div> -->

      <div class="start-time">
        <input
          [nbTimepicker]="startTimePicker"
          formControlName="start_time"
          fullWidth
          nbInput
          placeholder="Start Time*"
          readonly
        />
        <nb-timepicker #startTimePicker></nb-timepicker>
        <span
          *ngIf="
            trackSlotForm['controls'].track_slot['controls'].start_time.invalid &&
            trackSlotForm['controls'].track_slot['controls'].start_time.errors.required
          "
        >
          <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
        </span>
      </div>

      <div class="end-time">
        <input
          [nbTimepicker]="endTimePicker"
          formControlName="end_time"
          fullWidth
          nbInput
          placeholder="End Time*"
          readonly
        />
        <nb-timepicker #endTimePicker></nb-timepicker>
      </div>

      <nb-tag-list (tagRemove)="onTagRemove($event)">
        <nb-tag *ngFor="let tag of tags" [text]="tag" removable></nb-tag>
        <input
          (tagAdd)="onTagAdd($event)"
          [separatorKeys]="[13, 188]"
          fullWidth
          nbTagInput
          placeholder="Type a tag name and press comma ',' to add the tag"
          type="text"
          formControlName="tags_list"
        />
      </nb-tag-list>

      <!-- <div
        *ngIf="eventLocation && eventLocation.event_type === EEventType.ONLINE_ONLY"
        class="online-event-fields"
        formGroupName="embedded_video_stream"
      >
        <p>
          <small>
            <i>If this speaker has an individual video stream, add here, else leave blank</i>
          </small>
        </p>
        <div>
          <nb-select
            (selectedChange)="updateTrackSlotFormZoomValidators()"
            formControlName="source"
            fullWidth
            placeholder="Source"
            size="small"
            status="primary"
          >
            <nb-option [value]="EEmbeddedVideoStreamSources.YOUTUBE"> YouTube (URL)</nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.OTHER"> Other (Embedded Iframe)</nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.ZOOM" disabled> Zoom</nb-option>
          </nb-select>
        </div>
        <div>
          <label>
            Video Url / Zoom Meeting ID / Embed Iframe (depending on the source above)
            <textarea formControlName="embed_code" fullWidth nbInput type="text"></textarea>
          </label>
        </div>
        <div
          *ngIf="
            trackSlotForm.get('track_slot').get('embedded_video_stream').get('source').value ===
            EEmbeddedVideoStreamSources.ZOOM
          "
        >
          <label>
            Meeting/Webinar Host Email*
            <input formControlName="zoom_host_email" fullWidth nbInput placeholder="Type email id here" />
          </label>
        </div>
        <div
          *ngIf="
            trackSlotForm.get('track_slot').get('embedded_video_stream').get('source').value ===
            EEmbeddedVideoStreamSources.ZOOM
          "
        >
          <label>
            Meeting/Webinar Password (visible only to organizers)*
            <input formControlName="zoom_password" fullWidth nbInput placeholder="Type password here" />
          </label>
        </div>
      </div> -->
    </div>

    <div class="save-button-bottom">
      <button [disabled]="!trackSlotForm.valid" fullWidth nbButton status="info" type="submit">Save</button>
    </div>
  </form>
</div>
