<div>
  <div class="section main">

    <div class="about-commudle">
      <div class="logo">
        <img src="/assets/images/commudle-logo128.png" alt="Commudle">
      </div>
      <div class="revamp-text">
        <p class="header"> Welcome to Commudle! </p>
        <p>
          A platform for Tech Communities to Organize Events & Share Knowledge  😃
          <br>
          <br>
          <nb-icon icon="video"></nb-icon> Online Events are now supported!
          <br>
          <strong>
            It's FREE for Communities, will always be.
          </strong>
          <br>
          <br>
          <span class="clickable" [routerLink]="['fill-form', 406]">
            <u>
              Click Here to Join!
            </u>
          </span>
        </p>
      </div>
    </div>
    <div class="upcoming-events" *ngIf="upcomingEvents.length > 0">
      <div class="event" *ngFor="let event of upcomingEvents">
        <app-event-card [event]="event"></app-event-card>
      </div>
    </div>
    <div class="past-events" *ngIf="upcomingEvents.length == 0">
      <div class="event" *ngFor="let event of pastEvents">
        <app-event-card [event]="event"></app-event-card>
      </div>
    </div>
  </div>

  <div class="section updates">

    <nb-card class="stats">
      <nb-card-body>
        <div class="community-count">
          <span class="number">
          🏅 70+
          </span>
          <span class="field">
          Communities
          </span>
        </div>
        <div class="member-count">
          <span class="number">
          😃 20,000+
          </span>
          <span class="field">
            Members
          </span>
        </div>
        <div class="event-count">
          <span class="number">
          🎥 150+
          </span>
          <span class="field">
            Events
          </span>

        </div>
        <a [routerLink]="['/fill-form', 406]" nbButton fullWidth status="success" size="medium">
          <nb-icon icon="plus-circle-outline"></nb-icon>
          I Want Access!
        </a>
      </nb-card-body>
    </nb-card>

    <a [routerLink]="['/builds']" class="community-builds-feature">
      <nb-card accent="primary">
        <nb-card-body>
          <h4>
            <app-badge [text]="'New'" [color]="'#3465ff'"></app-badge>
            <br>
            Community Builds!
          </h4>
          <p>
            Share anything related to Tech which you have built and can be used by others.
          </p>
          <p>
            It could be a <strong>Project</strong>, <strong>Tech Session Slides</strong>, <strong>Tutorial</strong> or anything else.
            <br/>
            <br/>
            Sharing is what the Community is about!
          </p>
          <p class="text-info">CLICK HERE</p>
        </nb-card-body>
      </nb-card>
    </a>


    <a class="github" href="https://github.com/commudle/commudle-ng">
      <nb-card >
        <nb-card-body>
          <nb-icon icon="github"></nb-icon>
          <p>We're Open Sourced!</p>
        </nb-card-body>
      </nb-card>
    </a>

  </div>

  <nb-card class="section communities-list" *ngIf="communities.length > 0">
    <nb-card-body>
      <h3 class="header-communities">
        A Growing Family!
      </h3>
      <div class="communities">
        <div class="community" *ngFor="let community of communities; let i=index" [ngClass]="{'shine': i === shineIndex || 1%shineIndex === 0}">
          <app-community-badge [community]="community"></app-community-badge>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <!-- <div class="section description">
    <div class="photo-grid">
      <div *ngFor="let photo of photoGrid"></div>
    </div>
  </div> -->
  <!-- <div class="photo-grid"
    Home Component
  </div> -->
</div>
