// ::ng-deep {
//   nb-layout-column {
//     background-color: white;
//     padding: 0 !important;
//   }
// }

$max-page-width: 1320px;

div.page.home {
  section.page-header {
    // background: white;
    // background-color: #3b49df;
    background-color: #3b9bdf;

    padding: 1rem;
    >div {
      margin: 0 auto;

      display: flex;

      .header-text {
        h1 {
          margin: 0;

          // color: #232323f0;
          color: white;

          span.light-font {
            font-weight: 300;
          }
        }
        p {
          color: #f0f0f0;;
        }

        a {
          display: block;
          margin-top: 45px;
          width: fit-content;
          text-decoration: none;
          color: white;
          border: 1px solid white;
          font-size: 20px;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }


    @media screen and (min-width: 800px) {
      margin: -36px;

      >div {
        max-width: $max-page-width;
      }

      .header-text {
        padding: 5rem 0 3rem;
        width: 50%;
        h1 {
          font-size: 55px;
          line-height: 58px;
        }
        p {
          margin-top: 0.5rem;
          font-size: 17px;
          line-height: 20px;
        }
      }
    }
  }
}

section.events {
  margin: 0;
  padding: 1rem;
  background-color: white;
  .header-text {
    h3 {
      margin-bottom: 0.5rem;
      font-weight: 500;
      color: #565656;
      nb-icon {
        font-size: 35px;
      }
    }

  }

  .footer-text {

    p {
      font-size: 18px;
    }
  }

  .upcoming-events, .past-events {
    width: 100%;
    height: 380px;
    overflow-y: hidden;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    // border-left: 1px solid #b7b7b7;
    // border-top: 1px solid #b7b7b7;
    // border-bottom: 1px solid #b7b7b7;

    padding: 0.5rem;
    // border-top-left-radius: 10px;
    // border-bottom-left-radius: 10px;

    .event {
      margin: 0.5rem 0.5rem 0.5rem 0;
    }
  }

  @media screen and (min-width: 800px) {
    margin: 0.5rem 0 3rem;

    .upcoming-events, .past-events {
      flex-direction: row;
      flex-wrap: wrap;
      height: fit-content;

      .event {
        margin: 0.5rem 1.1rem 1rem 0 !important;
      }
    }

    .upcoming-event {
      box-shadow: 0px 0px 7px 1px #50ff6e;
    }

    >div {
      max-width: $max-page-width;
      margin: 0 auto;
    }


  }
}


section.labs, section.builds {
  padding: 1rem;

  border-top: 2px solid lightgrey;
  .header-text {
    h3 {
      margin-bottom: 0.5rem;
      font-weight: 500;
      color: #565656;
      nb-icon {
        font-size: 35px;
      }
    }
    p {
      margin: 0 0 1rem;
    }
  }

  .labs, .builds {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: fit-content;

    .lab {
      min-width: 93%;
      margin: 0 1rem 0 0;
    }
  }

  @media screen and (min-width: 800px) {
    >div {
      max-width: $max-page-width;
      margin: 0 auto;
    }

    .labs, .builds {
      flex-wrap: wrap;
      .lab {
        width: 31.5%;
        min-width: auto;
      }

      .build {
        width: 23.5%;
        min-width: auto;
      }
    }
  }
}


section.communities-list {
  padding: 1rem;
  background: white;
  .header-text {
    h3 {
      margin-bottom: 1.5rem;
      font-weight: 500;
      color: #565656;
      nb-icon {
        font-size: 35px;
      }
    }
    p {
      margin: 0 0 1rem;
      font-size: 18px;
      line-height: 20px;
    }
  }

  .communities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .community {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    .logo {
      width: 80px;
      height: 80px;
      overflow: hidden;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }
    >p {
      font-size: 1.2rem;
      font-weight: 300;
      color: grey;
    }
  }
  }

  @media screen and (min-width: 800px) {
    >div {
      max-width: $max-page-width;
      margin: 0 auto;
    }
  }
}


section.github {
  margin-top: 2.5rem;
  a {
    text-decoration: none;
    nb-card {
      nb-card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        nb-icon {
          font-size: 3.5rem;
        }
        p {
          margin: 0;
          text-align: center;
        }
      }
    }
  }
}



// .section.updates {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   margin: 1rem auto;
//   nb-card {
//     width: 100%;
//     margin-bottom: 0;
//   }

//   a.community-builds-feature {
//     text-decoration: none;
//     nb-card {
//       h4 {
//         margin: 0;
//       }
//     }
//   }



//   nb-card.stats {
//     height: 300px;
//     nb-card-body {
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: space-around;
//       >div {
//         width: 100%;
//         margin: 0.5rem;
//         display: flex;
//         justify-content: flex-start;
//         align-items: baseline;
//         font-size: 1.2rem;
//         line-height: normal;
//         span.number {
//           font-size: 1.5rem;
//         }

//         span.field {
//           font-size: 1rem;
//           margin-left: 0.5rem
//         }
//       }
//     }
//   }

//   @media screen and (min-width: 1000px) {
//     width: 1000px;
//     margin: 2rem auto;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-around;

//     nb-card {
//       width: 333px;
//     }
//   }

// }
