<div class="com-min-h-screen com-max-w-screen-xl com-mx-auto com-mb-8">
  <div class="com-container">
    <div *ngIf="getWindowWidth() > 1024" class="three-column-layout">
      <div>
        <app-home-labs></app-home-labs>
        <app-home-communities></app-home-communities>
      </div>
      <div>
        <app-home-head-banner></app-home-head-banner>
        <app-home-events></app-home-events>
        <app-home-external-feed-links></app-home-external-feed-links>
      </div>
      <div>
        <app-home-promotions></app-home-promotions>
        <app-home-experts></app-home-experts>
        <app-home-builds></app-home-builds>
      </div>
    </div>
    <div *ngIf="getWindowWidth() <= 1024" class="one-column-layout">
      <app-home-head-banner></app-home-head-banner>
      <app-home-events></app-home-events>
      <app-home-promotions></app-home-promotions>
      <app-home-experts></app-home-experts>
      <app-home-labs></app-home-labs>
      <app-home-communities></app-home-communities>
      <app-home-builds></app-home-builds>
      <app-home-external-feed-links></app-home-external-feed-links>
    </div>
  </div>
</div>
