@import './projects/commudle-admin/src/assets/styles/variables';

.home {
  min-height: 100vh;
  // background-color: $lightestgrey;
  margin-bottom: $space-32;

  .page-container {
    .home-desktop {
      .left-column {
        width: 280px;
      }

      .center-column {
        width: 576px;
      }

      .right-column {
        width: 280px;
      }
    }
  }

  .home-mobile {
    display: none;
  }
}

@media all and (max-width: $tab-width) {
  .home {
    .page-container {
      flex-direction: column;

      .home-desktop {
        display: none;
      }

      .home-mobile {
        display: block;
        margin-top: $space-16;

        & > app-home-promotions {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
