<footer *ngIf="showFooter" class="com-bg-white">
  <div class="com-container com-mx-auto com-py-12 com-px-4">
    <div class="xl:com-grid xl:com-grid-cols-3 xl:com-gap-8">
      <div class="com-space-y-8 xl:com-col-span-1">
        <img alt="Commudle" class="com-h-16" src="/assets/images/commudle-logo128.png" title="Commudle" />
        <div class="com-text-gray-500 com-text-base">Connect with experts and grow with communities.</div>
        <div class="footer-social-links com-flex com-space-x-6">
          <a href="https://twitter.com/commudle" target="_blank">
            <nb-icon icon="twitter"></nb-icon>
          </a>
          <a href="https://linkedin.com/company/commudle" target="_blank">
            <nb-icon icon="linkedin"></nb-icon>
          </a>
          <a href="https://facebook.com/commudle" target="_blank">
            <nb-icon icon="facebook"></nb-icon>
          </a>
          <a href="https://github.com/commudle/commudle-ng" target="_blank">
            <nb-icon icon="github"></nb-icon>
          </a>
        </div>
      </div>
      <div class="footer-links">
        <div class="md:com-grid md:com-grid-cols-2 md:com-gap-8">
          <div>
            <ul>
              <li><a [routerLink]="['/']">Home</a></li>
              <li><a [routerLink]="['/about']">About</a></li>
              <li><a [routerLink]="['/features']">Features</a></li>
            </ul>
          </div>
          <div class="com-mt-12 md:com-mt-0">
            <ul>
              <li><a [routerLink]="['/communities']">Communities</a></li>
              <li><a [routerLink]="['/labs']">Labs</a></li>
              <li><a [routerLink]="['/builds']">Builds</a></li>
            </ul>
          </div>
        </div>
        <div class="md:com-grid md:com-grid-cols-2 md:com-gap-8">
          <div>
            <ul>
              <li><a [routerLink]="['/pricing']">Pricing</a></li>
              <li><a [routerLink]="['/policies/privacy-policy']">Privacy Policy</a></li>
              <li><a [routerLink]="['/policies/terms-and-conditions']">Terms and Conditions</a></li>
            </ul>
          </div>
          <div class="com-mt-12 md:com-mt-0">
            <ul>
              <li><a [routerLink]="['/newsletters']">Newsletters</a></li>
              <li><a [routerLink]="['/about']">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="com-text-base com-text-gray-400 xl:com-text-center">
        Made with Angular, Ruby on Rails, Postgres, Redis and Love
      </div>
    </div>
  </div>
</footer>
