.edfeg-details{
  display: flex;

  >div{
    margin: 0.25rem;
  }

  .copy-link {
    padding: 0.25rem;
  }

  .basic-details {
    padding: 0.25rem;
    width: 10rem;
    max-width: 25%;
    overflow: hidden;
  }

  .stats {
    width: 9.5rem;
    max-width: 50%;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    p{
      font-size: 2rem;
      margin: 1rem 0;
    }
  }

  .actions {
    padding: 0.25rem;
    .visibility {
      padding: 0.8rem 0;
    }
    div {
      margin: 0.5rem 0;
    }

  }
}


.dfeg-create-form {
  >div {
    display: flex;
    flex-direction: column;
    >div{
      margin: 0.5rem;
    }

  }


  .save-button-bottom {
    margin-top: 10px;
  }

  @media screen and (min-width: 640px) {
    >div {
      flex-direction: row;
      flex-wrap: nowrap;
      >div{
        margin: 0 0.25rem;
      }
    }
  }
}
