.edfeg-details{
  display: flex;

  >div{
    margin: 0.25rem;
  }

  .copy-link {
    padding: 0.25rem;
  }

  .basic-details {
    padding: 0.25rem;
  }

  .visibility {
    padding: 0.8rem 0;
  }

  .stats {
    min-width: 5.5rem;
    padding: 0.25rem;
  }

  .actions {
    padding: 0.25rem;
    div {
      margin: 0.5rem 0;
    }

  }
}


.dfeg-create-form {
  >div {
    display: flex;
    flex-direction: column;
    >div{
      margin: 0.5rem;
    }

  }


  .save-button-bottom {
    margin-top: 10px;
  }

  @media screen and (min-width: 640px) {
    >div {
      flex-direction: row;
      flex-wrap: nowrap;
      >div{
        margin: 0 0.25rem;
      }
    }
  }
}
