.event-data-form-groups-list {
  nb-list-item {
    align-self: center;

    @media screen and (min-width: 640px) {
      align-self: flex-start;
    }

    .edfeg-details{
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 640px) {
        flex-direction: row;
      }

      >div{
        margin: 0.25rem;
      }

      .display-details{
        display: flex;
        .copy-link {
          padding: 0.25rem;
        }

        .basic-details {
          padding: 0.25rem;
          width: 10rem;
          p {
            margin: 0.5rem;
          }

          overflow: hidden;
        }

      }



      .stats {
        display: flex;

        @media screen and (min-width: 640px) {
          max-width: 25%;
          width: 9.5rem;
          max-width: 50%;
          padding: 0.25rem;
          flex-direction: column;
        }

        p{
          font-size: 2rem;
          margin: 0.5rem 0;
        }
      }

      .actions {
        padding: 0.25rem;
        div {
          margin: 0.5rem 0;
        }

      }
    }

  }
}

.dfeg-create-form {
  >div {
    display: flex;
    flex-direction: column;
    >div{
      margin: 0.5rem;
    }

  }

  .data-form-select, .data-form-type-select{
    margin: 0.5rem;
  }

  .save-button-bottom {
    margin-top: 10px;
  }

  @media screen and (min-width: 640px) {
    >div {
      flex-direction: row;
      flex-wrap: nowrap;
      >div{
        margin: 0 0.25rem;
      }
    }
  }
}
