<div class="event-data-form-groups">
  <div>
    <nb-list class="event-data-form-groups-list" *ngIf="eventDataFormEntityGroups.length > 0">
      <nb-list-item *ngFor="let edfeg of eventDataFormEntityGroups; let i = index;">
        <div class="edfeg-details" *ngIf="edfeg.data_form_entity">
          <div class="display-details">
            <div class="copy-link clickable">
              <a *ngIf="event.editable" class="text-primary" target="_blank" [routerLink]="['/fill-form', edfeg.data_form_entity.id]">
                <nb-icon icon="external-link"></nb-icon>
                <br>
                <small>Link to fill</small>
              </a>
            </div>
            <div class="basic-details">
              <p>
                {{ edfeg.name }}
                <br>
                <small *ngIf="communityDataForms.length > 0">{{getAttachedDataFormName(edfeg.data_form_entity.data_form_id)}}</small>
              </p>
            </div>
          </div>

          <div class="stats">
            <p><fa-icon [icon]="faUsers"></fa-icon> &nbsp; {{edfeg.responses_count}}</p>
          </div>
          <div class="actions">
            <div class="visibility">
              <nb-select *ngIf="event.editable" size="small" [(selected)]="edfeg.data_form_entity.visibility" (selectedChange)="changeVisibility($event, edfeg.data_form_entity.id)">
                <nb-option value="{{visibilityOptions.YET_TO_ANNOUNCE}}">Yet to announce</nb-option>
                <nb-option value="{{visibilityOptions.OPEN_BUT_INVISIBLE}}">Open but invisible</nb-option>
                <nb-option value="{{visibilityOptions.OPEN}}">Open to all</nb-option>
                <nb-option value="{{visibilityOptions.CLOSED}}">Closed to all</nb-option>
                <nb-option value="{{visibilityOptions.ON_THE_SPOT_UNINVITED}}">On the spot uninvited</nb-option>
                <nb-option value="{{visibilityOptions.MEMBERS_WHO_HAVE_ATTENDED}}">Members who have attended</nb-option>
              </nb-select>
            </div>
            <div>
              <a nbButton
                status="info"
                size="tiny"
                [routerLink]="
                  [
                    '/admin/communities',
                    community.slug,
                    'event-dashboard',
                    event.slug,
                    'form-responses'
                  ]" [queryParams]="{parent_type: 'EventDataFormEntityGroup', parent_id: edfeg.id, data_form_id: edfeg.data_form_entity.data_form_id}">

                Show Responses
              </a>
            </div>
            <div *ngIf="[ERegistationTypes.ATTENDEE, ERegistationTypes.SPEAKER].includes(edfeg.registration_type.name) && event.editable">
              <nb-toggle [checked]="edfeg.rsvp_open == true" (checkedChange)="updateRSVP(edfeg.id, i)">Allow RSVP</nb-toggle>
            </div>
            <div *ngIf="event.editable">
              <a
                nbButton
                outline
                status="info"
                size="tiny"
                (click)="openEmailWindow(edfeg)">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                &nbsp;
                Send By EMail
              </a>
            </div>
            <div *ngIf="edfeg.responses_count >= 0">
              <a *ngIf="edfeg.responses_count == 0" nbButton outline status="danger" size="tiny" (click)="deleteEventDataFormEntityGroup(edfeg.id)">
                <fa-icon [icon]="faTimesCircle"></fa-icon>
                &nbsp;
                Delete
              </a>
            </div>
          </div>
        </div>

      </nb-list-item>
    </nb-list>
  </div>

  <div *ngIf="event.editable">
    <p>
      Attach a Form
      <small>You can add more forms if you want members to fill more information for this event, by filling the form below</small>
    </p>
    <form class="dfeg-create-form" [formGroup]="eventDataFormEntityGroupForm" (ngSubmit)="createEventDataFormEntityGroup()" >
      <div formGroupName="data_form_entity_group">
          <div>
            <label fullWidth>
              Name*
              <span *ngIf="eventDataFormEntityGroupForm.controls.data_form_entity_group.get('name').touched && eventDataFormEntityGroupForm.controls.data_form_entity_group.get('name').invalid && eventDataFormEntityGroupForm.controls.data_form_entity_group.get('name').errors.required " class="validation-error-text">
                Required Field
              </span>
              <input type="text" nbInput fullWidth formControlName="name" fieldSize="tiny">
            </label>

          </div>


        <div class="data-form-type-select">
          <label>
            Form Type
            <br>
            <nb-select placeholder="Form Type*" formControlName="registration_type_id" status="primary" size="tiny" hero>
              <nb-option *ngFor="let rt of registrationTypes" [value]="rt.id">
                {{ rt.name }}
              </nb-option>
            </nb-select>
          </label>
        </div>

        <div class="data-form-select">
          <label>
            Select Form
            <br>
            <nb-select  placeholder="Which Form? *" formControlName="data_form_id" status="primary" size="tiny">
              <nb-option *ngFor="let df of communityDataForms" [value]="df.id">
                {{ df.name }}
              </nb-option>
            </nb-select>
          </label>
          <span>
            <nb-icon class="clickable" nbTooltip="Add New Form" icon="plus-circle" status="success" (click)="openNewFormWindow()"></nb-icon>
          </span>
          <a
            *ngIf="eventDataFormEntityGroupForm.get('data_form_entity_group').get('data_form_id').value"
            target="_blank"
            [routerLink]="['/admin/forms', eventDataFormEntityGroupForm.get('data_form_entity_group').get('data_form_id').value, 'edit']">
            <nb-icon class="clickable" nbTooltip="View Form" icon="eye" status="info"></nb-icon>
          </a>
        </div>
      </div>

      <div class="save-button-bottom">
        <button [disabled]="!eventDataFormEntityGroupForm.valid" type="submit" nbButton fullWidth outline status="primary" size="tiny">
          Save
        </button>
      </div>

    </form>
  </div>

</div>




<ng-template #newDataFormTemplate let-data>
  <app-new-data-form [minQuestionCount]="1" (newDataForm)="createAndSelectForm($event)"></app-new-data-form>
</ng-template>
