<!--<nb-card [routerLink]="['/builds', build.slug]" class="build-card-container clickable">-->
<!--  <nb-card-body>-->
<!--    <div class="details">-->
<!--      <fa-icon [icon]="faCodeBranch"></fa-icon>-->
<!--      <p class="name">{{build.name}}</p>-->
<!--      <nb-tag-list class="tags">-->
<!--        <nb-tag [text]="build.build_type"></nb-tag>-->
<!--      </nb-tag-list>-->
<!--    </div>-->
<!--    <p class="description">{{getDesc()}}</p>-->
<!--  </nb-card-body>-->
<!--</nb-card>-->
<div [routerLink]="['/builds', build.slug]" class="user-build-card clickable">
  <div class="user-build-card-prefix">
    <div class="user-build-card-tags d-flex">
      <div *ngFor="let tag of build.tags.slice(0, 2)" class="user-build-card-tag">{{tag}}</div>
    </div>
  </div>
  <div class="user-build-card-content">
    <div class="user-build-card-name">{{build.name | truncatetext:35}}</div>
    <div class="user-build-card-description">{{getDescription()}}</div>
  </div>
  <div class="user-build-card-suffix d-flex justify-content-space-between align-items-center">
    <div class="user-build-card-interactions">
      <nb-icon icon="heart"></nb-icon>
      {{build.votes_count}}&nbsp;
      <nb-icon icon="message-circle"></nb-icon>
      {{build.chat_messages_count}}
    </div>
    <div class="user-build-card-author d-flex align-items-center">
      <div class="user-build-card-author-name">{{build.user.name}}</div>
      <img alt="{{build.user.name}}" src="{{build.user.avatar}}">
    </div>
  </div>
</div>
