.expanded {
  .content {
    .link {
      .content {
        .title {
          max-width: 100px;
          @apply com-flex;
        }
        .icon {
          margin-right: 3px;
        }
      }
      .children {
        .content {
          padding-left: 30px;
        }
      }
    }
  }
}
.content {
  .link {
    .children {
      .content {
        @apply com-bg-white com-text-black;
        // padding-left: 30px;
        padding-left: 10px;

        &.active {
          background: #191a27;
        }
      }
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      cursor: pointer;

      transition: 0.3s;

      &:hover {
        @apply com-text-primary-500;
        .title {
          @apply com-text-primary-500;
        }
      }

      &.active {
        @apply com-text-primary-500 com-border-0 com-border-b-2 com-border-solid com-border-primary-500;
        .title {
          @apply com-text-primary-500;
        }
      }

      .icon {
        flex: 0 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
        @apply com-text-base;
      }
      .title {
        flex: 1;
        color: #6d6e7e;
        transition: 0.3s;
        max-width: 0px;
        overflow: hidden;
        @apply com-hidden;
      }
    }
  }
}
