<div class="user-consents-container">
  <nb-card>
    <nb-card-header>
      <div class="animation">
        <div>
          <span #consentAnimation></span>
        </div>
        <p>Your Privacy, Our Priority</p>
      </div>
    </nb-card-header>
    <nb-card-body [ngSwitch]="true">
      <div *ngSwitchCase="Following">
        <commudle-user-follow-consent [username]="username"></commudle-user-follow-consent>
      </div>
      <div *ngSwitchCase="joinCommunity">
        <commudle-join-community-consent [communitySlug]="communitySlug"></commudle-join-community-consent>
      </div>
      <div *ngSwitchCase="acceptRole">
        <commudle-accept-event-volunteer-consent
          *ngSwitchCase="component === 'event_volunteer'"
          [volunteerCommunityName]="volunteerCommunityName"
          [volunteerEventName]="volunteerEventName"
        ></commudle-accept-event-volunteer-consent>
        <commudle-accept-community-organizer-consent
          *ngSwitchCase="component === 'organizer'"
          [parentName]="parentName"
        ></commudle-accept-community-organizer-consent>
        <commudle-accept-community-administrator-consent
          *ngSwitchCase="component === 'community_administrator'"
          [parentName]="parentName"
        ></commudle-accept-community-administrator-consent>
      </div>
      <div *ngSwitchCase="joinBuild">
        <commudle-accept-build-teammate-consent [buildName]="buildName"></commudle-accept-build-teammate-consent>
      </div>
      <div *ngSwitchCase="joinChannelToken">
        <commudle-accept-channel-token-consent
          [communityNameToken]="communityNameToken"
          [channelNameToken]="channelNameToken"
        ></commudle-accept-channel-token-consent>
      </div>
      <div *ngSwitchCase="onjoinChannel">
        <commudle-join-channel-consent
          [communityName]="communityName"
          [channelName]="channelName"
        ></commudle-join-channel-consent>
      </div>
      <div *ngSwitchCase="oneClickRegistration">
        <commudle-accept-event-one-click-registration-consent></commudle-accept-event-one-click-registration-consent>
      </div>
      <div *ngSwitchCase="oneClickRegistrationForm">
        <commudle-accept-event-form-registration-consent></commudle-accept-event-form-registration-consent>
      </div>
      <div *ngSwitchCase="acceptResumeConsent"><commudle-accept-resume-consent></commudle-accept-resume-consent></div>
      <commudle-accept-single-click-registration-speaker-consent
        *ngSwitchCase="onacceptRSVP"
        [communityNameSpeaker]="communityNameSpeaker"
        [eventNameSpeaker]="eventNameSpeaker"
      ></commudle-accept-single-click-registration-speaker-consent>
      <commudle-accept-join-channel-email-consent
        *ngSwitchCase="joinChannelEmail"
        [communityNameEmail]="communityNameEmail"
        [channelNameEmail]="channelNameEmail"
      ></commudle-accept-join-channel-email-consent>
      <commudle-accept-deactivate-account-consent
        *ngSwitchCase="deactivateAccount"
      ></commudle-accept-deactivate-account-consent>
      <commudle-accept-delete-account-consent *ngSwitchCase="closeAccount"></commudle-accept-delete-account-consent>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton shape="rectangle" (click)="accept()" class="accept-button">
        {{ buttonText ? buttonText : 'Accept' }}
      </button>
      <button nbButton shape="rectangle" (click)="reject()" class="reject-button">Decline</button>
    </nb-card-footer>
  </nb-card>
</div>
