<nb-card class="fade-in" (mouseover)="onMouseEnter()" (mouseout)="onMouseLeave()">
  <nb-card-body>
    <app-user-profile-card-large
      *ngIf="user"
      [user]="user"
      [activateMiniProfileDirective]="false"
    ></app-user-profile-card-large>
    <div *ngIf="miniUser.tags.length > 0" class="user-tags">
      <nb-tag-list>
        <nb-tag *ngFor="let tag of miniUser.tags" [text]="tag.name"></nb-tag>
      </nb-tag-list>
    </div>
    <div class="user-statistics-container">
      <div class="entity-count">
        <p>{{ miniUser.followers_count }}</p>
        <p>Followers</p>
      </div>

      <div class="entity-count">
        <p>{{ miniUser.badges.length }}</p>
        <p>Badges</p>
      </div>

      <div class="entity-count">
        <p>{{ miniUser.communities_count }}</p>
        <p>Communities</p>
      </div>
    </div>
    <div class="buttons-container">
      <app-user-follow [username]="miniUser.username"></app-user-follow>
      <button (click)="openChatWithUser()" class="anim-shadow" nbButton size="small">
        <nb-icon icon="paper-plane"></nb-icon>
        Message
      </button>
    </div>
  </nb-card-body>
</nb-card>
