<nb-card [ngClass]="horizontalScroll ? 'com-w-72' : 'com-w-full'">
  <nb-card-body>
    <div class="details">
      <div class="community-badge">
        <div *ngIf="community">
          <app-community-badge [community]="community" [size]="'small'"></app-community-badge>
        </div>
      </div>
      <a
        [routerLink]="
          session.embedded_content
            ? ['/speaker-resources', session.id]
            : ['/communities', session.event.kommunity.id, 'events', session.event.id]
        "
      >
        <div class="content">
          <nb-icon [icon]="session.embedded_content ? 'attach-outline' : 'calendar-outline'"></nb-icon>
          <p class="session-link">{{ session.title }}</p>
        </div>
      </a>
    </div>
    <a [routerLink]="['/communities', session.event.kommunity.id, 'events', session.event.id]" target="_blank">
      <p class="event-time">{{ moment(session.event.start_time).format('dddd, MMM Do, YYYY') }}</p>
      <p class="event-title">{{ session.event.name }}</p>
    </a>
  </nb-card-body>
</nb-card>
