<nb-card [ngClass]="horizontalScroll ? 'com-w-72' : 'com-w-full'">
  <nb-card-body>
    <a
      [routerLink]="
        session.embedded_content
          ? ['/speaker-resources', session.id]
          : ['/communities', session.event.kommunity.id, 'events', session.event.id]
      "
    >
      <div class="content">
        <nb-icon [icon]="session.embedded_content ? 'attach-outline' : 'calendar-outline'"></nb-icon>
        <p class="session-link">{{ session.title ? session.title : session.event.name }}</p>
      </div>
      <div class="details">
        <p *ngIf="session.title" class="event-title">{{ session.event.name }}</p>
        <p class="event-time">{{ moment(session.event.start_time).format('dddd, MMM Do, YYYY') }}</p>
      </div>
      <div class="community-badge">
        <div *ngIf="community">
          <app-community-badge [community]="community" [size]="'small'"></app-community-badge>
        </div>
      </div>
    </a>
  </nb-card-body>
</nb-card>
