<nb-card [ngClass]="horizontalScroll ? 'com-w-72' : 'com-w-full'">
  <nb-card-body>
    <a
      [routerLink]="['/communities', session.event.kommunity.id, 'events', session.event.id]"
      target="_blank"
      class="details"
    >
      <div *ngIf="community" class="community-badge">
        <app-community-badge [community]="community" [size]="'small'"></app-community-badge>
      </div>
      <p class="event-title">{{ session.event.name }}</p>
      <p class="event-time">{{ moment(session.event.start_time).format('dddd, MMM Do, YYYY') }}</p>
    </a>
    <a
      class="content"
      [routerLink]="
        session.embedded_content
          ? ['/speaker-resources', session.id]
          : ['/communities', session.event.kommunity.id, 'events', session.event.id]
      "
    >
      <nb-icon icon="attach-outline"></nb-icon>
      <p class="session-link">{{ session.title }}</p>
    </a>
  </nb-card-body>
</nb-card>
