@import './apps/commudle-admin/src/assets/styles/variables';

.user {
  align-items: flex-start;
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0;
  position: relative;

  .profile-picture {
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: 0.5rem;
    overflow: hidden;
    img {
      position: absolute;
      width: 48px;
      height: 48px;
      left: 0px;
      top: 12px;
      border-radius: 32px;
    }

    &.medium {
      width: 48px;
      min-height: 48px;
      margin-right: 0.75rem;
    }

    &.small {
      width: 48px;
      min-height: 48px;
      margin-right: 0.5rem;
    }
  }

  .profile-info {
    @apply com-w-full md:com-w-[625px] com-pl-2;
    text-align: left;
    .name {
      @apply com-text-Charcoal com-p-0.5;
      margin: 0;
      font-size: $fs-card-list-title;
      font-weight: 500;
      line-height: 20px;
      margin: 0;
      a {
        text-decoration: none;
        color: #344054;

        &:hover {
          text-decoration: underline;
        }
      }
      &.medium {
        font-size: 1.2rem;
      }
      &.small {
        font-size: 1rem;
        font-weight: 300;
      }
    }

    .designation {
      @apply com-text-Auro-Metal-Saurus com-p-0.5;
      margin: 0;
      font-size: $fs-card-list-title;
      word-break: break-all;
      font-weight: 500;
      line-height: 20px;

      line-height: 20px;

      &.medium {
        font-size: 0.9rem;
      }
      &.small {
        font-size: 0.8rem;
      }
    }

    .about_me {
      @apply com-text-Auro-Metal-Saurus com-p-0.5 com-break-all md:com-break-normal;
      margin: 0;
      font-size: $fs-card-list-title;
      font-weight: 400;
      line-height: 20px;

      &.medium {
        font-size: 0.9rem;
      }
      &.small {
        font-size: 0.8rem;
      }
    }

    .user-social-links {
      @apply com-p-1;
      display: flex;
      flex-wrap: wrap;
      font-size: 18px;
      a {
        margin: 0 0.5rem;
        nb-icon {
          @apply com-text-Charcoal com-mx-[12px];
          font-size: 18px;
        }
      }

      &.medium {
        nb-icon {
          @apply com-text-Charcoal;
          font-size: 18px;
        }
      }

      &.small {
        nb-icon {
          @apply com-text-Charcoal;
          font-size: 0.9rem;
        }
      }
    }

    .about-me {
      font-size: 0.8rem;

      &.medium {
        font-size: 0.8rem;
      }

      &.small {
        font-size: 0.7rem;
      }
    }
  }
}
