<a [routerLink]="['/dashboard']" class="back-btn" ghost nbButton size="small">
  <nb-icon icon="arrow-ios-back-outline"></nb-icon>
  Back to dashboard
</a>
<nb-card class="registrations">
  <nb-card-body>
    <h2 class="event-registration-heading">Your Registrations</h2>
    <div class="event-registrations">
      <div class="registration-grid">
        <div class="registration-header">
          <div class="table-heading">Name</div>
          <div class="table-heading"></div>
          <div class="table-heading">Type</div>
          <div class="table-heading">Your Status</div>
          <div class="table-heading">Action</div>
        </div>
        <div *ngFor="let registration of registrations; let i = index" class="registration-row">
          <div class="event-title-date">
            <span class="event-title">
              <fa-icon *ngIf="registration.registration_for === 'hackathon'" [icon]="faTrophy"></fa-icon
              >{{ registration.event.name }}</span
            >
            <span class="date-desktop">{{ moment(registration.event.start_time).format('Do MMMM, YYYY') }}</span>
          </div>
          <div class="table-type">{{ registration.registration_for }}</div>
          <span class="date-mobile">{{ moment(registration.event.start_time).format('Do MMMM, YYYY') }}</span>
          <div
            [ngClass]="{
              confirmed: ERegistrationStatuses.CONFIRMED === registration.registration_status,
              registered: ERegistrationStatuses.REGISTERED === registration.registration_status,
              waiting: ERegistrationStatuses.WAITING === registration.registration_status,
              shortlisted: ERegistrationStatuses.SHORTLISTED === registration.registration_status,
              cancelled: ERegistrationStatuses.CANCELLED === registration.registration_status
            }"
            class="table-status"
          >
            {{ registration.registration_for === 'hackathon' ? registration.status : registration.registration_status }}
            <span *ngIf="registration.registration_for === 'hackathon'" class="individual-status"
              >Application Incomplete</span
            >
          </div>
          <div>
            <button
              *ngIf="registration.entry_pass"
              nbButton
              status="primary"
              shape="round"
              size="tiny"
              (click)="toggleEntryPass(i, registration.entry_pass.unique_code)"
            >
              View Pass
            </button>
          </div>
        </div>
      </div>
      <div *ngFor="let registration of registrations; let i = index">
        <div *ngIf="showEntryPass[i]" class="qr-code">
          <nb-card>
            <nb-card-body>
              <canvas #qrCanvas></canvas>
              <p>{{ registration.event.name }}</p>
              <!-- <img [src]="'https://quickchart.io/qr?text=' + registration.entry_pass.unique_code" /> -->
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
    <!-- *ngIf="showEntryPass[i]" 
      <div class="qr-code">
        <nb-card>
          <nb-card-body>
            <canvas #qrCanvas></canvas>
            <img [src]="'https://quickchart.io/qr?text=137228'" />
          </nb-card-body>
        </nb-card>
      </div> -->
  </nb-card-body>
</nb-card>
