<div class="user">
  <div class="profile-picture {{ size }}">
    <img src="{{ user.avatar }}" alt="{{ user.name }}">
  </div>
  <div class="profile-info">
    <p class="name {{ size }}">
      <a class="clickable" [routerLink]="['/users', user.username]">
        {{user.name}}
      </a>
    </p>
    <p class="designation {{ size }}" *ngIf="aboutMe">{{ user.designation }}</p>
    <p class="designation {{ size }}" *ngIf="!aboutMe">
      {{ user.designation }}
    </p>
    <div class="user-social-links {{ size }}" *ngIf="socialMediaLinks">
      <a target="_blank" *ngIf="user.linkedin" href="{{ user.linkedin | completeurl:'linkedin' }}">
        <nb-icon icon="linkedin" status="primary"></nb-icon>
      </a>
      <a target="_blank" *ngIf="user.twitter" href="{{ user.twitter | completeurl:'twitter' }}">
        <nb-icon icon="twitter" status="primary"></nb-icon>
      </a>
      <a target="_blank" *ngIf="user.github" href="{{ user.github | completeurl:'github' }}">
        <nb-icon icon="github" status="primary"></nb-icon>
      </a>
      <a target="_blank" *ngIf="user.personal_website" href="{{ user.personal_website | completeurl }}">
        <nb-icon icon="info" status="primary"></nb-icon>
      </a>
      <a class="clickable" (click)="openChatWithUser()">
        <nb-icon icon="message-circle-outline" status="basic"></nb-icon>
      </a>
    </div>
    <div class="about-me {{ size }}" *ngIf="aboutMe">
      {{ user.about_me }}
    </div>
  </div>
</div>
