div {
  @apply md:com-flex md:com-justify-between;
  // com-border com-border-solid md:com-border-none com-border-Bright-Gray-Light com-rounded-xl md:com-p-0 com-p-4 md:com-m-0 com-my-4 com-ml-4 com-mr-0 md:com-w-full
  a {
    @apply com-no-underline;

    .featured-community {
      @apply com-flex com-items-start;

      .avatar {
        @apply com-h-12 com-w-12 com-rounded-none com-object-contain com-object-center com-align-middle com-mr-3;
      }

      .no-image-header {
        @apply com-h-14 com-w-14 com-flex com-items-center com-justify-center com-mr-3;

        nb-icon {
          @apply com-text-xl;
        }
      }

      .featured-communities-details {
        @apply md:com-flex com-items-start md:com-justify-between;

        .details {
          @apply com-flex com-flex-col md:com-mr-3;
          .community-name {
            @apply com-text-base com-font-medium com-text-black com-mt-0 com-mb-1 com-line-clamp-1;
          }

          .mini-description {
            @apply com-text-sm com-font-normal com-text-gunmetal com-mt-0 md:com-mb-0 com-mb-4 com-line-clamp-2;
          }
        }
      }
    }
  }
  .membership-toggle {
    @apply md:com-ml-auto md:com-my-0 md:com-mr-0 com-m-0;
  }
}
