@import './apps/commudle-admin/src/assets/styles/variables';

.single-external-feed {
  width: 100%;

  @media screen and (min-width: 920px) {
    width: 920px;
    margin: 0 auto;
  }

  .page-navigation-actions {
    a {
      margin: 0 16px 5px 0;
    }

    a.new-build-button {
      padding: 3px;
    }
  }

  .feed-discussion {
    margin: $space-32 0 $space-64;
  }
}
