<div class="page-padding">
  <h4> Community Builds </h4>

  <div>
    <nb-card class="community-builds">
      <nb-card-body>
        <div *ngFor="let cb of cBuilds" class="community-build">
          <div class="content">
            <p>
              <small>{{ moment(cb.created_at).fromNow() }</small>
            </p>
            <p>({{ cb.build_type | titlecase }})</p>
            <h5>{{ cb.name }}</h5>
            <p *ngIf="cb.link">
              <a href="{{ cb.link }}" target="_blank">
                {{ cb.link }}
                <nb-icon icon="external-link"></nb-icon>
              </a>
            </p>
            <div [innerHTML]="cb.description" class="description"></div>
            <div class="images">
              <div (click)="openImage(cb.name, image.url)" *ngFor="let image of cb.images" class="image clickable">
                <img alt="{{cb.name}}" src="{{image.url}}" title="{{cb.name}}">
              </div>
            </div>
          </div>
          <div class="creator">
            <app-user-profile-horizontal [socialMediaLinks]="true" [user]="cb.user"></app-user-profile-horizontal>
          </div>
          <div class="stats">
            <div>
              <app-votes-display [icon]="'star'" [votableId]="cb.id"
                                 [votableType]="'CommunityBuild'"></app-votes-display>
            </div>
            <div class="tags">
              <app-badge *ngFor="let t of cb.tags" [text]="t"></app-badge>
            </div>
          </div>
          <div class="actions">
            <div class="status-update">
              <nb-select (selectedChange)="updatePublishStatus($event, cb.id)" [selected]="cb.publish_status"
                         size="small" status="primary">
                <nb-option *ngFor="let ps of publishStatuses" [value]="EPublishStatus[ps]" placeholder="Select Status">
                  {{ EPublishStatus[ps] | titlecase }}
                </nb-option>
              </nb-select>
            </div>
            <div>
              <button [routerLink]="['/builds', cb.slug, 'edit']" nbButton outline size="tiny" status="info">
                Edit
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <ng-template #imageTemplate let-data>
    <div class="image-window">
      <img alt="Image" src="{{data.imageUrl}}" title="Image">
    </div>
  </ng-template>
</div>
