<div class="event">
  <a
    [routerLink]="['/communities', event.kommunity_slug, 'events', event.slug]"
    [ngClass]="horizontalScroll ? 'com-w-72' : 'com-w-full'"
  >
    <nb-card>
      <nb-card-body>
        <div *ngIf="event.header_image_path || event.header_image">
          <commudle-banner-image
            [headerImagePath]="event.header_image_path || event.header_image?.i320"
            [name]="event.name"
            [bottomRightCurve]="false"
            [bottomLeftCurve]="false"
          ></commudle-banner-image>
        </div>
        <div *ngIf="!(event.header_image_path || event.header_image)" class="without-header-image">
          <nb-icon icon="link" status="primary"></nb-icon>
        </div>
        <div class="details-container">
          <div class="event-details">
            <div class="details">
              <div class="completed" *ngIf="event.event_status.name === 'completed'">
                Completed
                <nb-icon icon="checkmark-circle-2" nbTooltip="Completed" status="success" class="com-m-auto"></nb-icon>
              </div>
              <div *ngIf="event.interested_members_count > 0" class="interested-members">
                <app-badge
                  [text]="event.interested_members_count"
                  [fontColor]="'com-text-tAuro-Metal-Saurus'"
                  [nbIcon]="'people-outline'"
                  [fontSize]="'small'"
                  [borderRadius]="'round'"
                  [color]="'com-bg-Bright-Gray-Light'"
                ></app-badge>
              </div>
            </div>
            <p class="event-name">
              {{ event.name }}
              <!-- <span *ngIf="event.kommunity_id !== community.id" class="collaboration">(Collaboration)</span> -->
            </p>
            <p class="event-timings">{{ moment(event.start_time).format('dddd, MMM Do, YYYY') }}</p>
            <div class="community-badge">
              <div *ngIf="community">
                <app-community-badge [community]="community" [size]="'small'"></app-community-badge>
              </div>
            </div>
          </div>
          <a class="view-details">View Details</a>
        </div>
      </nb-card-body>
    </nb-card>
  </a>
</div>
