<div>
  <div class="message">
    <div class="author-image">
      <img alt="{{ message.user.name }}" src="{{ message.user.avatar }}" title="{{ message.user.name }}">
    </div>
    <div class="content-controls">
      <div class="author-details">
        <p>
          {{ message.user.name }}
          <small>{{ moment(message.created_at).fromNow() }}</small>
        </p>
      </div>
      <div>
        <div class="content">{{ message.content }}</div>
        <div class="details-flag">
          <div (click)="login() && permittedActions.includes(allActions.FLAG) && emitFlag(message.id)"
               class="clickable">
            <p [ngClass]="{'error-text': message.flags_count > 0}"
               nbTooltip="Report this message. (3 reports will delete it)" nbTooltipStatus="warning">
              <span *ngIf="message.flags_count > 0">{{ message.flags_count }}</span>
              <nb-icon icon="flag-outline"></nb-icon>
            </p>
          </div>
          <div
            (click)="login() && (permittedActions.includes(allActions.DELETE) || (currentUser && message.user.id === currentUser.id)) && emitDelete(message.id)"
            *ngIf="permittedActions.includes(allActions.DELETE)" class="clickable" nbTooltip="Delete"
            nbTooltipStatus="warning">
            <p>
              <nb-icon icon="close-circle-outline"></nb-icon>
            </p>
          </div>
          <div (click)="toggleReplyForm()" *ngIf="permittedActions.includes(allActions.ADD) && canReply"
               class="clickable reply-button">
            <p class="text-info">
              <small>Reply</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div (click)="canVote && this.login() && permittedActions.includes(allActions.VOTE) && emitVote(message.id)"
         *ngIf="message.parent_type != 'UserMessage'"
         class="votes clickable"
         nbTooltip="Upvote" nbTooltipStatus="info">
      <p
        [ngClass]="{'low' : message.votes_count > 0 && message.votes_count <= 2, 'medium': message.votes_count > 2 && message.votes_count <= 4, 'high': message.votes_count > 4}">
        <nb-icon icon="arrow-upward" status="info"></nb-icon>
        {{ message.votes_count > 0 ? message.votes_count : '' }}
      </p>
    </div>
  </div>

  <div *ngIf="canReply" class="replies-container">
    <div *ngFor="let rep of message.user_messages" class="reply">
      <app-qna-user-message (sendDelete)="emitDelete($event)" (sendFlag)="emitFlag($event)"
                            (sendVote)="emitVote($event)" [allActions]="allActions" [canReply]="false" [canVote]="false"
                            [currentUser]="currentUser" [message]="rep"
                            [permittedActions]="permittedActions"></app-qna-user-message>
    </div>
    <div *ngIf="showReplyForm" class="reply-form">
      <form (ngSubmit)="emitReply()" *ngIf="canReply" [formGroup]="userMessageReplyForm">
        <input fieldSize="tiny" formControlName="content" fullWidth nbInput placeholder="Reply (max 200 characters)"
               type="text">
        <button [disabled]="!userMessageReplyForm.valid" fullWidth nbButton size="tiny" status="info" type="submit">
          <nb-icon icon="corner-down-left-outline"></nb-icon>
        </button>
      </form>
    </div>
  </div>
</div>
