@import '/projects/commudle-admin/src/assets/styles/variables';

.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;

  p {
    font-size: 0.8rem;
  }

  nb-icon {
    font-size: 0.8rem;
  }

  .author-image {
    max-width: 35px;
    max-height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-self: start;
    margin: 3px 5px 0 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .content-controls {
    width: 100%;

    .author-details {
      p {
        margin: 0;
        font-size: $fs-h5;
        font-weight: $fw-600;
        color: $gunmetal;

        small {
          font-weight: $fw-400;
        }
      }
    }

    .content {
      font-size: $fs-h5;
      word-break: break-word;
    }

    .details-flag {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      > div {
        margin-right: 10px;

        p {
          margin: 0;
        }
      }

      .reply-button {
        p {
          font-size: 1rem;
        }
      }

    }
  }

  .votes {
    display: flex;
    align-items: center;
    width: 100px;

    nb-icon {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
      margin: 0;
    }
  }
}

.replies-container {
  margin: 1rem;

  .reply {
    margin-bottom: 5px;
  }

  // border-bottom: 1px solid lightgrey;
  // border-left: 1px solid lightgrey;
  // border-right: 1px solid lightgrey;

  .reply-form {
    width: 100%;

    form {
      display: flex;
      width: 100%;

      button {
        width: 30px;
      }
    }
  }
}
