<!-- <div class="base-layout thin com-mb-8">
  <div class="container">
    <div class="one-column-layout">
      
    </div>
  </div>
</div> -->

<div class="com-bg-white">
  <div class="base-layout">
    <app-search-box [overrideSearchStatus]="true" [showSuggestions]="false" class="com-mt-6"></app-search-box>
    <p class="query-searched">
      You searched for <strong>{{ query }}</strong>
    </p>
    <nb-tag-list>
      <nb-tag
        text="All"
        [status]="selectedFilters.includes('All') ? 'primary' : 'basic'"
        appearance="filled"
        (click)="onFilterChange('All')"
      ></nb-tag>
      <nb-tag
        (click)="onFilterChange(filter)"
        *ngFor="let filter of filters"
        [status]="selectedFilters.includes(filter) ? 'primary' : 'basic'"
        [text]="filter"
        appearance="filled"
        class="com-cursor-pointer"
      ></nb-tag>
    </nb-tag-list>
    <div class="container">
      <div *appBreakpoints="'<=lg'" class="one-column-layout"></div>
      <div *appBreakpoints="'>lg'" class="two-column-layout medium">
        <div class="main-column">
          <!-- <app-loading-spinner *ngIf="searchLoader"></app-loading-spinner> -->
          <!-- <div [nbSpinner]="searchLoader" class="search-results"> -->
          <!-- *ngIf="total > 0" -->
          <div>
            <p class="results-count">{{ total }} Results Found</p>
            <!-- <p class="option-name">Hello</p> -->
            <nb-list>
              <nb-list-item *ngIf="users.length > 0">
                <p>User</p>
                <div *ngFor="let user of users" class="search-result com-border-t-0">
                  <commudle-search-details [option]="user"></commudle-search-details>
                </div>
              </nb-list-item>
              <nb-list-item *ngIf="communities.length > 0">
                <p>Community</p>
                <div *ngFor="let community of communities" class="search-result com-border-t-0">
                  <commudle-search-details [option]="community"></commudle-search-details>
                </div>
              </nb-list-item>
              <nb-list-item *ngIf="labs.length > 0">
                <p>Labs</p>
                <div *ngFor="let lab of labs" class="search-result com-border-t-0">
                  <h1>Hello</h1>
                  <commudle-labs-featured-card [featuredItem]="lab"></commudle-labs-featured-card>
                </div>
              </nb-list-item>
              <!-- </div> -->
              <!-- </ng-container> -->
              <!-- <ng-container *ngFor="let option of getCommunity()">
                <nb-list-item (click)="navigate(option)" class="search-result com-border-t-0">
                  <nb-user [name]="option.name" [picture]="getPicture(option)" [title]="getTitle(option)"></nb-user>
                  <h1>{{ option.type }}</h1>
                </nb-list-item>
              </ng-container> -->
              <!-- <nb-list-item
                
                  <div *ngSwitchCase="'Labs'">
                  <div class="labs-card">
                    <commudle-labs-featured-card></commudle-labs-featured-card>
                  </div>
                  </div>
                </div>
              </nb-list-item> -->
            </nb-list>
            <!-- <button
              (click)="getSearchData()"
              *ngIf="total !== results.length"
              [nbSpinner]="loadMoreLoader"
              fullWidth
              ghost
              nbButton
              status="primary"
            >
              Load More
            </button> -->
          </div>
        </div>

        <div class="right-column">
          <commudle-public-home-list-speakers-upcoming></commudle-public-home-list-speakers-upcoming>
          <commudle-public-home-list-events-speakers
            [parentType]="'communities'"
          ></commudle-public-home-list-events-speakers>
          <commudle-public-home-list-events-tech-sessions></commudle-public-home-list-events-tech-sessions>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- <nb-user [name]="option.name" [picture]="getPicture(option)" [title]="getTitle(option)"></nb-user> -->
