@import './apps/commudle-admin/src/assets/styles/variables';

$title: #2f2e41;
$content: #231f20;

$spacing: 16px;

.lab-step {
  .step-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 500;
    text-transform: capitalize;
    color: $title;
    margin: 0 0 1.25 * $spacing;
  }

  @media all and (max-width: $tab-width) {
    .step-title {
      font-size: 1.75rem;
      line-height: 1.75rem;
    }
  }

  .content {
    ::ng-deep {
      img {
        max-width: 100%;
        height: auto;
      }

      code {
        white-space: pre-wrap;
      }

      @for $index from 1 through 6 {
        h#{$index} {
          color: $title;
        }
      }

      p,
      li {
        color: $content;
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
    }
  }
}

.image {
  @media screen and (min-width: $max-page-width) {
    width: 70vw;
  }

  @media screen and (max-width: $tab-width) {
    width: 80vw;
  }
}
