<nb-card class="communities-featured">
  <nb-card-body>
    <p class="heading">Featured Communities</p>
    <div class="featured-communities-list">
      <div *ngFor="let featuredCommunity of featuredCommunities" class="featured-community-card">
        <div class="actions d-flex">
          <a [routerLink]="['/communities', featuredCommunity.kommunity.slug, 'members']">
            <button nbButton shape="round" size="small">
              <nb-icon icon="people"></nb-icon>
            </button>
          </a>
          <a>
            <button (click)="copyTextToClipboard(featuredCommunity)" nbButton shape="round" size="small">
              <nb-icon icon="share"></nb-icon>
            </button>
          </a>
        </div>
        <div [routerLink]="['/communities', featuredCommunity.kommunity.slug]" class="clickable image">
          <img
            alt="{{ featuredCommunity.kommunity.name }}"
            src="{{ featuredCommunity.kommunity.logo_image?.url }}"
            title="{{ featuredCommunity.kommunity.name }}"
          />
        </div>
        <div [routerLink]="['/communities', featuredCommunity.kommunity.slug]" class="clickable content">
          <p class="name">{{ featuredCommunity.kommunity.name }}</p>
          <p class="reason">{{ featuredCommunity.reason }}</p>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
