@import './projects/commudle-admin/src/assets/styles/variables';
@import './projects/commudle-admin/src/assets/styles/text-styles';

p {
  color: $gunmetal;
  margin: 0;
}

.communities-featured-container {
  margin-bottom: $space-32;
  overflow: hidden;
  position: relative;

  //&:before {
  //  content: '';
  //  position: absolute;
  //  width: 366px;
  //  height: 100%;
  //  background: linear-gradient(59.68deg, #dae0ff 6.11%, rgba(241, 243, 255, 0.05) 71.61%);
  //  animation: shimmer 8s linear infinite;
  //  transform: skew(45deg);
  //}
  //
  //@keyframes shimmer {
  //  0% {
  //    left: calc(-366px * 1.707);
  //  }
  //  100% {
  //    left: calc(100% + 336px * 0.707);
  //  }
  //}

  nb-card-body {
    padding: $space-32 $space-20 $space-24;

    .communities-featured-heading {
      @include card-header-text;
      margin: 0 0 $space-44;
    }

    .communities-featured-list {
      @apply com-flex com-flex-nowrap com-overflow-x-scroll com-gap-4;

      @screen lg {
        @apply com-grid com-grid-cols-4 com-overflow-x-auto com-gap-4;
      }

      .featured-community-card {
        background-color: $white;
        border: 1px solid $silver-sand;
        border-radius: $border-8;
        min-width: 260px;
        overflow: hidden;
        position: relative;

        @screen lg {
          min-width: inherit;
        }

        .featured-community-actions {
          gap: $space-8;
          position: absolute;
          right: $space-12;
          top: $space-12;

          button {
            background-color: $azureish-white;

            nb-icon {
              color: $neon-blue;
            }
          }

          app-share-button {
            ::ng-deep {
              .share-button {
                button {
                  background-color: $azureish-white;
                }
              }
            }
          }
        }

        .featured-community-image-container {
          height: 156px;
          overflow: hidden;
          width: 100%;

          .featured-community-image {
            width: 100%;
          }
        }

        .featured-community-about {
          padding: $space-16;

          .featured-community-name {
            @apply com-m-0;
            @include card-title-text;
          }

          .featured-community-reason {
            @include card-content-text;
            margin-top: $space-8;
          }
        }
      }
    }
  }
}

@media all and (max-width: $tab-width) {
  .communities-featured-container {
    nb-card-body {
      .communities-featured-list {
        overflow-x: scroll;
      }
    }
  }
}
