@import './projects/commudle-admin/src/assets/styles/variables';

.head-banner {
  border: none;

  p,
  a,
  h1 {
    color: $gunmetal;
  }

  section.header {
    .logo {
      line-height: 15px;
      width: 200px;

      img {
        width: 100%;
      }
    }

    h1 {
      font-size: $fs-card-title;
      font-weight: $fw-500;
      line-height: calc(1 * #{$fs-card-title});
      margin: 0 0 0 49px;
    }
  }

  section.content {
    margin-top: $space-36;

    a {
      margin: $space-4 0;
      text-decoration: none;
      width: 100%;

      nb-card {
        color: $gunmetal;
        margin: 0;

        nb-card-body {
          padding: 0;

          div.header {
            padding: $space-12;

            fa-icon {
              text-align: center;
              width: 20px;
            }

            p {
              margin: 0 0 0 $space-8;

              small {
                nb-icon {
                  font-size: $fs-card-secondary;
                  font-weight: $fw-400;
                }
              }
            }
          }
        }
      }
    }
  }

  section.footer {
    p {
      margin-bottom: 0;
    }
  }
}
