<nb-card class="user-details-container">
  <nb-card-body>
    <img [alt]="user.name" [src]="user.avatar" [title]="user.name" class="user-avatar" />
    <div class="user-info">
      <div class="com-flex com-flex-col md:com-flex-row com-items-center com-justify-between com-gap-4">
        <div class="com-text-center md:com-text-left">
          <div class="name !com-contents md:!com-flex">
            <h1>{{ user.name }}</h1>
            <img
              *ngIf="user.is_expert"
              alt="Expert Tick"
              class="expert-icon"
              src="/assets/images/Expert-Tick.svg"
              title="Expert Tick"
            />
            <app-hiring-looking-works-tags
              [user]="users"
              [size]="'large'"
              class="com-block com-h-3 md:com-h-7"
            ></app-hiring-looking-works-tags>
          </div>
          <p class="username">@{{ user.username }}</p>
        </div>
        <div class="com-flex com-space-x-2">
          <app-user-follow (userFollowed)="updateProfile.emit()" [username]="user.username"></app-user-follow>
          <app-share-button
            [content]="environment.app_url + '/users/' + user.username"
            [title]="user.name + ' ' + user.designation"
            [url]="environment.app_url + '/users/' + user.username"
            appearance="outline"
          ></app-share-button>
          <a
            *ngIf="currentUser?.id === user.id; else message"
            [routerLink]="[{ outlets: { p: ['settings', 'basic-details'] } }]"
            outline
            nbButton
            shape="semi-round"
            size="small"
          >
            <nb-icon icon="edit-outline"></nb-icon>
            Edit Profile
          </a>
          <ng-template #message>
            <button (click)="openChatWithUser()" nbButton shape="semi-round" size="small" status="info">
              <nb-icon icon="paper-plane"></nb-icon>
              Message
            </button>
          </ng-template>
        </div>
      </div>
      <div class="com-flex com-justify-between com-items-start md:com-items-center com-flex-col md:com-flex-row">
        <div>
          <!-- <div class="com-flex com-justify-between"> -->
          <div *ngIf="user.designation" class="designation">
            <nb-icon icon="briefcase-outline"></nb-icon>
            <p>{{ user.designation }}</p>
          </div>

          <div *ngIf="user.location" class="location">
            <nb-icon icon="pin"></nb-icon>
            <p>{{ user.location }}</p>
          </div>
        </div>
        <div
          *ngIf="currentUser?.id === user.id"
          class="com-flex com-items-end com-flex-col com-gap-3 com-mt-3 md:com-mt-0"
        >
          <nb-toggle (click)="openForWork()" [(checked)]="users.is_employee" status="basic" labelPosition="right">
            I'm looking for work
          </nb-toggle>
          <nb-toggle
            (click)="openForHiring()"
            status="basic"
            [(checked)]="hiring"
            labelPosition="right"
            class="com-w-[186px]"
            >I'm hiring</nb-toggle
          >
        </div>
      </div>
      <div class="network">
        <a routerLink="followers">
          <span>{{ user.followers_count || 0 }}</span> Followers
        </a>
        <a routerLink="following">
          <span>{{ user.followees_count || 0 }}</span> Following
        </a>
      </div>
      <nb-tag-list *ngIf="user.tags.length > 0" class="tags">
        <nb-tag *ngFor="let tag of user.tags" [text]="tag.name" appearance="outline" status="info"></nb-tag>
        <nb-tag
          (click)="onTagDialogOpen()"
          *ngIf="currentUser?.id === user.id"
          class="com-cursor-pointer"
          status="info"
          text="+"
        ></nb-tag>
      </nb-tag-list>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #editTags let-ref="dialogRef">
  <nb-card class="tag-dialog">
    <nb-card-header class="text-center">Add tags which define you</nb-card-header>
    <nb-card-body class="text-center">
      <div class="tag-dialog-info">
        <nb-icon icon="info-outline"></nb-icon>
        Add {{ maxTags }} of your skills which you want other developers to see!
      </div>
      <nb-tag-list (tagRemove)="onTagRemove($event)">
        <nb-tag *ngFor="let tag of tagsDialog" [text]="tag" removable></nb-tag>
        <input
          (keypress)="restrictComma($event)"
          (tagAdd)="onTagAdd($event)"
          [separatorKeys]="[13, 188]"
          fullWidth
          nbTagInput
          placeholder="Type a tag and press enter or comma"
          type="text"
        />
      </nb-tag-list>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-space-between">
      <button (click)="ref.close()" ghost nbButton status="danger">Cancel</button>
      <button (click)="onTagDialogSubmit()" nbButton status="success">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #hiringDialogBox let-ref="dialogRef">
  <nb-card>
    <nb-card-body class="text-center">
      <p>All your posted jobs will be marked as closed, are you sure?</p>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-space-between">
      <button (click)="closeHiring()" nbButton status="success">Yes</button>
      <button (click)="(this.hiring = true) && ref.close()" ghost nbButton status="danger">No</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #enableHiring let-ref="dialogRef">
  <nb-card class="tag-dialog">
    <nb-card-body class="text-center">
      <p>Welcome! You can now post a job on your profile your next rockstar techie teammate</p>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-space-between">
      <button (click)="openForHiring()" nbButton status="success">Yes, I'm Hiring</button>
      <button (click)="ref.close()" ghost nbButton status="danger">Not Hiring Right Now</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
