<div>

  <nb-card>
    <nb-card-body>
      <div *ngIf="community">
        <div class="basic-details">
          <div>
            <img src="{{ community.logo_path }}" alt="{{ community.name }}">
          </div>
          <h4>{{ community.name }}</h4>
        </div>

        <p>
          <nb-icon icon="people-outline"></nb-icon> {{ community.member_count }} Members
          &nbsp;
          &nbsp;
          <a nbButton status="info" size="small" target="_blank" [routerLink]="['/communities', community.slug]">
            Public Page
            <nb-icon icon="external-link"></nb-icon>
          </a>

          &nbsp;&nbsp;
          <a nbButton status="success" size="small" [routerLink]="['stats']">
            <nb-icon icon="trending-up-outline"></nb-icon>
            Stats <sup>Beta</sup>
            &nbsp; <nb-icon icon="external-link"></nb-icon>
          </a>
        </p>
      </div>
      <div>
        <nb-route-tabset [tabs]="tabs">
          <!-- <nb-tab tabTitle="Events">
            <app-community-events-list></app-community-events-list>
          </nb-tab>
          <nb-tab tabTitle="Forms">
            <app-community-forms-list></app-community-forms-list>
          </nb-tab>
          <nb-tab tabTitle="Edit Details" [lazyLoad]="true">
            <app-community-edit-details
        (updateCommunity)="setCommunity($event)"></app-community-edit-details>
          </nb-tab>
          <nb-tab tabTitle="Team">
            <app-community-team [community]="community"></app-community-team>

          </nb-tab> -->
        </nb-route-tabset>
      </div>

    </nb-card-body>
  </nb-card>
</div>

