<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <nb-card *ngIf="community">
        <nb-card-body>
          <div class="basic-details">
            <div>
              <img alt="{{ community.name }}" src="{{ community.logo_path }}" title="{{ community.name }}" />
            </div>
            <h4>{{ community.name }}</h4>
          </div>

          <p>
            <nb-icon icon="people-outline"></nb-icon>
            {{ community.member_count }} Members&nbsp;&nbsp;
            <button (click)="sendEmails()" nbButton size="small" status="primary">
              <nb-icon icon="email-outline"></nb-icon>
              Send Emails
            </button>
            &nbsp;&nbsp;
            <a [routerLink]="['/communities', community.slug]" nbButton size="small" status="primary" target="_blank">
              Public Page
              <nb-icon icon="external-link"></nb-icon>
            </a>
            &nbsp;&nbsp;
            <a
              [routerLink]="['/communities', community.slug, 'channels']"
              nbButton
              size="small"
              status="primary"
              target="_blank"
            >
              Channels
              <nb-icon icon="external-link"></nb-icon>
            </a>
            &nbsp;&nbsp;
            <a [routerLink]="['stats']" nbButton size="small" status="success">
              <nb-icon icon="trending-up-outline"></nb-icon>
              Stats <sup>Beta</sup>&nbsp;
              <nb-icon icon="external-link"></nb-icon>
            </a>
          </p>

          <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
