<div *ngIf="selectedTestimonial" class="homepage-testimonials">
  <div class="quotes com-text-left">&ldquo;</div>
  <p [nbTooltip]="selectedTestimonial.longContent" class="content">{{ selectedTestimonial.shortContent }}</p>
  <div class="quotes com-text-right">&rdquo;</div>
  <nb-actions fullWidth size="giant">
    <nb-action *ngIf="user">
      <app-user-profile-card-large [user]="user"></app-user-profile-card-large>
    </nb-action>
    <nb-action *ngFor="let item of selectedTestimonial.contributions" class="text">
      {{ item.content }}
    </nb-action>
  </nb-actions>
  <div *ngIf="testimonials.length > 1" class="navigation">
    <button
      (click)="setTestimonial(-1)"
      [disabled]="testimonials.indexOf(selectedTestimonial) === 0"
      nbButton
      shape="round"
      size="small"
    >
      <nb-icon icon="arrow-left-outline"></nb-icon>
    </button>
    <p class="text">{{ testimonials.indexOf(selectedTestimonial) + 1 }} / {{ testimonials.length }}</p>
    <button
      (click)="setTestimonial(1)"
      [disabled]="testimonials.indexOf(selectedTestimonial) === testimonials.length - 1"
      nbButton
      shape="round"
      size="small"
    >
      <nb-icon icon="arrow-right-outline"></nb-icon>
    </button>
  </div>
</div>
