<nb-card [style.height.px]="adHeight" [style.width.px]="adWidth" class="page-ads-container">
  <a *ngIf="pageAd" [href]="pageAd.link" target="_blank">
    <!--    TODO: Carousel isn't working properly, reference: https://css-tricks.com/css-only-carousel/-->
    <!--    <section *ngIf="pageAd.files.length > 0" class="carousel">-->
    <!--      <ol class="carousel__viewport">-->
    <!--        <li *ngFor="let file of pageAd.files" [ngSwitch]="file.type" class="carousel__slide">-->
    <!--          <div class="carousel__snapper">-->
    <!--            <img *ngSwitchCase="'image'" alt="{{file.filename}}" src="{{file.url}}" title="{{file.filename}}" />-->
    <!--            <video *ngSwitchCase="'video'" src="{{file.url}}"></video>-->
    <!--          </div>-->
    <!--        </li>-->
    <!--      </ol>-->
    <!--    </section>-->
    <div *ngIf="pageAd.files.length > 0" [style.height.px]="adHeight" class="image">
      <img alt="{{ pageAd.files[0].filename }}" src="{{ pageAd.files[0].url }}" title="{{ pageAd.title }}" />
    </div>
    <div *ngIf="showTitle || showContent" class="info">
      <p *ngIf="showTitle" class="title">{{ pageAd.title }}</p>
      <p *ngIf="showContent" class="content">{{ pageAd.content }}</p>
    </div>
  </a>
</nb-card>
