<nb-card class="communities-about">
  <nb-card-body class="d-flex justify-content-space-between">
    <div class="content">
      <p class="prefix">
        For you to build along with your developer friends & learn from our Experts
      </p>
      <div class="body">
        <p class="title">We bring you <span>Communities</span></p>
        <p class="sub-title">Let’s grow together!</p>
      </div>
      <p class="suffix">
        Want to create your own community?
        <a href="">Click here</a>
      </p>
    </div>
    <div class="image">
      <img alt="Communities Home" src="/assets/images/Communities-Home.png" title="Communities Home">
    </div>
  </nb-card-body>
</nb-card>
