<div class="messages-container">
  <app-messages-list
    (getPreviousMessages)="getDiscussionMessages()"
    (sendDelete)="sendDelete($event)"
    (sendFlag)="sendFlag($event)"
    (sendReply)="sendReply($event)"
    *ngIf="messages.length > 0; else noMessages"
    [allActions]="allActions"
    [currentUser]="currentUser"
    [messages]="messages"
    [permittedActions]="permittedActions"
    [showMessagesLoader]="showMessagesLoader"
  ></app-messages-list>
  <ng-template #noMessages>
    <div class="no-messages">
      <p>Be the first to post a message!</p>
    </div>
  </ng-template>

  <commudle-editor
    (contentChange)="sendMessage($event)"
    *ngIf="currentUser; else noUser"
    [validators]="validators"
  ></commudle-editor>
  <ng-template #noUser>
    <button (click)="login()" *ngIf="!isBlocked" fullWidth nbButton status="info">
      <nb-icon icon="person-outline"></nb-icon>
      Login to comment
    </button>

    <div *ngIf="isBlocked" class="blocked">
      <p>You have been blocked from this discussion</p>
    </div>
  </ng-template>
</div>
