.messages-container {
  height: 100%;

  .no-messages {
    align-items: center;
    display: flex;
    height: calc(100% - 40px);
    justify-content: center;

    p {
      @apply com-text-2xl;
    }
  }

  .send-message {
    bottom: 0;
    position: sticky;

    emoji-mart {
      bottom: 40px;
      display: none;
      position: absolute;
      width: clamp(250px, 100%, 360px);

      &.active {
        display: initial;
      }
    }

    form {
      nb-form-field {
        .emoji-picker {
          @apply com-p-2.5;
        }
      }
    }
  }
}
