<div class="messages-container">
  <app-messages-list
    (getPreviousMessages)="getDiscussionMessages()"
    (sendDelete)="sendDelete($event)"
    (sendFlag)="sendFlag($event)"
    (sendReply)="sendReply($event)"
    *ngIf="messages.length > 0; else noMessages"
    [allActions]="allActions"
    [currentUser]="currentUser"
    [messages]="messages"
    [permittedActions]="permittedActions"
    [showMessagesLoader]="showMessagesLoader"
    [discussionOpen]="discussion.open"
  ></app-messages-list>
  <ng-template #noMessages>
    <div class="no-messages">
      <p *ngIf="discussion.open">Be the first to post a message!</p>
    </div>
  </ng-template>

  <ng-container *ngIf="discussion.open; else discussionClose">
    <ng-container *ngIf="currentUser; else noUser">
      <commudle-editor (contentChange)="sendMessage($event)" [validators]="validators"></commudle-editor>
    </ng-container>
  </ng-container>

  <ng-template #noUser>
    <button (click)="login()" *ngIf="!isBlocked" fullWidth nbButton status="info">
      <nb-icon icon="person-outline"></nb-icon>
      Login to comment
    </button>

    <div *ngIf="isBlocked" class="blocked">
      <p>You have been blocked from this discussion</p>
    </div>
  </ng-template>
  <ng-template #discussionClose>
    <div class="discussion-closed">
      <commudle-alert [info]="true" message="Comments are turned off."></commudle-alert>
    </div>
  </ng-template>
</div>
