<nb-card *ngIf="speakers.length > 0 || simpleAgendaSpeakers.length > 0">
  <nb-card-header>
    <h6>
      <nb-icon icon="people-outline" status="success"></nb-icon>
      Speakers
    </h6>
  </nb-card-header>
  <nb-card-body>
    <div *ngFor="let speaker of speakers" class="speaker">
      <commudle-user-profile-card-large
        [alignFollowToRight]="true"
        [showFollowButton]="true"
        [user]="speaker.user"
      ></commudle-user-profile-card-large>
    </div>
    <div *ngFor="let speaker of simpleAgendaSpeakers" class="speaker">
      <commudle-user-profile-card-large
        [alignFollowToRight]="true"
        [showFollowButton]="true"
        [user]="speaker.user"
      ></commudle-user-profile-card-large>
    </div>
  </nb-card-body>
</nb-card>
