nb-card {
  @apply com-mx-0 com-mt-4 com-mb-0;

  nb-card-header {
    h6 {
      @apply com-font-semibold com-m-0;
    }
  }
  nb-card-body {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.5rem;

    .speaker {
      @apply com-flex com-justify-start com-items-center com-border-0 com-border-b com-border-Bright-Gray com-border-solid com-py-10px com-m-0 com-px-0;

      &:last-child {
        border-bottom: none;
      }

      app-user-profile-card-large {
        width: 100%;
      }
    }
  }

  .view-more {
    @apply com-max-h-[460px] com-overflow-y-hidden;
  }
  .view-less {
    @apply com-max-h-max;
  }
}
