<div class="community-builds page-padding">
  <nb-card class="header">
    <nb-card-body>
      <h1>
        <nb-icon icon="bulb-outline" status="warning"></nb-icon>
        Builds
      </h1>
      <p>
        From coding a small, simple and useful <strong>Project</strong> to <strong>Slides</strong> which you used for a talk,
        <br/>
        share something which is your Build! The best ones get featured.
      </p>
      <br>
      <a nbButton status="primary" [routerLink]="['/builds/create']">
        <nb-icon icon="plus-circle-outline"></nb-icon>
        Share Your Build
      </a>
    </nb-card-body>
  </nb-card>
  <div class="builds-list">
    <div *ngFor="let build of communityBuilds">
      <app-community-build-h-list-item [communityBuild]="build"></app-community-build-h-list-item>
    </div>
  </div>
  <div class="load-more-button" *ngIf="canLoadMore && total">
    <button [disabled]="isLoading" (click)="getCommunityBuilds()" fullWidth nbButton status="primary" size="small" outline>
      Load More!
    </button>
  </div>
</div>
