<nb-card>
  <nb-card-body>
    <a [routerLink]="['/builds', featuredProject.community_build.slug]">
      <div class="featured-projects-card">
        <div class="details">
          <div class="user-profile-card">
            <app-user-profile-card-small [user]="featuredProject.community_build.user"> </app-user-profile-card-small>
          </div>
          <h5 class="title">{{ featuredProject.community_build.name }}</h5>
          <p class="time">{{ moment(featuredProject.community_build.created_at).format('dddd, MMM Do, YYYY') }}</p>
        </div>
        <div class="votes">
          <app-votes-display
            [icon]="'star'"
            [votableId]="featuredProject.community_build.id"
            [votableType]="'CommunityBuild'"
            [votesDirectionVertical]="true"
            size="mini"
          ></app-votes-display>
        </div>
      </div>
      <div class="tags" *ngIf="showTag">
        <app-tag
          [tags]="featuredProject.community_build.tags"
          [backgroundColor]="'#FCEDE7'"
          [size]="'tiny'"
          [fontColor]="'#C05324'"
          [maximumTag]="5"
        ></app-tag>
      </div>
    </a>
  </nb-card-body>
</nb-card>
