<nb-card>
  <nb-card-body>
    <div class="featured-projects-card">
      <div class="details">
        <div class="user-profile-card">
          <app-user-profile-card-medium [user]="communityBuild.user"></app-user-profile-card-medium>
        </div>
        <h5 class="title">{{ communityBuild.name }}</h5>
        <p class="time">{{ moment(communityBuild.created_at).format('dddd, MMM Do, YYYY') }}</p>
      </div>
      <div class="votes">
        <app-votes-display
          [icon]="'star'"
          [votableId]="communityBuild.id"
          [votableType]="'CommunityBuild'"
          [border]="true"
        ></app-votes-display>
      </div>
    </div>
  </nb-card-body>
</nb-card>
