<nb-card>
  <nb-card-body>
    <div class="heading">
      <h3 class="title">{{ heading }}</h3>
      <h4 class="sub-heading">{{ subheading }}</h4>
    </div>
    <div class="content custom-scrollbar">
      <app-skeleton-cards *ngIf="showSkeletonCard" [cards]="3" [ImageShapeCircle]="false"></app-skeleton-cards>
      <div *ngFor="let speakersContent of speakersContents" class="content-card">
        <div *appBreakpoints="'>lg'">
          <commudle-event-content-card [speakersContent]="speakersContent"></commudle-event-content-card>
        </div>
        <div *appBreakpoints="'<=lg'">
          <commudle-event-content-card
            [speakersContent]="speakersContent"
            [horizontalScroll]="true"
          ></commudle-event-content-card>
        </div>
      </div>
      <div class="load-more">
        <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
        <button
          *ngIf="page_info?.has_next_page && parentType === 'communities'"
          [disabled]="showSpinner"
          (click)="getAllCommunitiesContentList()"
          nbButton
          outline
          size="tiny"
          status="basic"
        >
          View More
        </button>
        <button
          *ngIf="page_info?.has_next_page && parentType === 'events'"
          [disabled]="showSpinner"
          (click)="getEventsContentList()"
          nbButton
          outline
          size="tiny"
          status="basic"
        >
          View More
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
