<nb-card>
  <nb-card-header>
    <h4>{{ channel.name }} > Settings</h4>
    <button (click)="closeDialog()" ghost nbButton size="small" shape="round">
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body class="com-p-0">
    <nb-tabset>
      <nb-tab tabTitle="Edit">
        <commudle-edit-channel
          [channelId]="channel.id"
          [discussionType]="discussionType"
          (updateForm)="updateChannelForm($event)"
        ></commudle-edit-channel>
      </nb-tab>
      <nb-tab tabTitle="invite" [active]="invite">
        <app-invite-form
          [channelId]="channel.id"
          (updateForm)="updateChannelForm()"
          [redirectUrl]="redirectUrl"
        ></app-invite-form>
      </nb-tab>
      <nb-tab tabTitle="delete">
        <app-delete-channel
          [channelId]="channel.id"
          (updateForm)="updateChannelForm()"
          [currentUrl]="currentUrl"
        ></app-delete-channel>
      </nb-tab>
      <nb-tab tabTitle="archive">
        <commudle-archive [channelId]="channel.id" (updateForm)="updateChannelForm()"></commudle-archive>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
