<div [style.height.vh]="chatsListHeight" [style.width.px]="chatsListWidth" class="chat-window">
  <nb-card>
    <nb-card-header (click)="toggleChatHeight()">
      <div class="window-options">
        <p class="user-name">{{discussionFollower.user.name}}</p>
        <button (click)="closeChat()" ghost nbButton>
          <nb-icon icon="close" pack="eva"></nb-icon>
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <app-discussion-personal-chat *ngIf="discussion" [discussion]="discussion"></app-discussion-personal-chat>
    </nb-card-body>
  </nb-card>
</div>
