<div [style.width.px]="chatsWindowWidth" class="chat-window">
  <nb-card>
    <nb-card-header class="clickable">
      <div class="window-options">
        <app-user-profile-mini [size]="'small'" [user]="discussionFollower.user"></app-user-profile-mini>
        <div *ngIf="discussion" class="com-flex com-items-center">
          <button
            ghost
            nbButton
            [nbContextMenu]="items"
            nbContextMenuTag="user-personal-chat-menu-{{ discussionFollower.discussion_id }}"
          >
            <nb-icon icon="more-vertical" pack="eva"></nb-icon>
          </button>
          <!-- <nb-menu tag="menu" [items]="items"></nb-menu> -->
          <button (click)="toggleChatsWindowHeight()" ghost nbButton>
            <nb-icon icon="minus" pack="eva"></nb-icon>
          </button>
          <button (click)="closeChat()" ghost nbButton>
            <nb-icon icon="close" pack="eva"></nb-icon>
          </button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body
      [style.height.vh]="chatsWindowHeight"
      [style.maxHeight.vh]="chatsWindowHeight"
      [style.minHeight.vh]="chatsWindowHeight"
    >
      <app-discussion-personal-chat
        *ngIf="discussion"
        [discussion]="discussion"
        [blocked]="blocked"
        (updateBlocked)="blocked = $event"
      ></app-discussion-personal-chat>
    </nb-card-body>
  </nb-card>
</div>
