<nb-card class="admin-page-ads-list">
  <nb-card-header class="d-flex justify-content-space-between align-items-center">
    Page Ads
    <button [routerLink]="['/sys-admin', 'admin-page-ads', 'form']" ghost nbButton shape="round" size="small">
      <nb-icon icon="plus"></nb-icon>
      Create New Ad
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="ad-list-container">
      <nb-card>
        <nb-list>
          <nb-list-item *ngFor="let ad of ads" class="d-flex justify-content-space-between">
            <div class="ad-details">
              <p class="title">{{ad.title}}</p>
              <p>{{ad.content}}</p>
              <small>{{moment(ad.start_at).format("hh:mm MMM D [']YY") + " - "}}</small>
              <small>{{moment(ad.end_at).format("hh:mm MMM D [']YY")}}</small>
            </div>
            <div class="controls">
              <button (click)="confirmDeleteAdOpen(ad.id)" nbButton status="danger" size="tiny" outline>Delete</button>
              <a [routerLink]="['../form', ad.id]">
                <button nbButton status="info" size="tiny" outline>Edit</button>
              </a>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </nb-card-body>

  <ng-template #confirmDeleteAd let-ref="dialogRef">
    <nb-card>
      <nb-card-header class="text-center">
        Confirmation
      </nb-card-header>
      <nb-card-body>
        <p>
          Are you sure you want to delete this Ad?
        </p>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-space-between">
        <button (click)="ref.close()" ghost nbButton status="danger">No</button>
        <button (click)="deleteAd();ref.close()" nbButton status="success">Yes</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>

</nb-card>
