<nb-card>
  <nb-card-body>
    <div class="heading">
      <h3 class="title">Upcoming Events</h3>
      <h4 class="sub-heading">Check out amazing events lined up</h4>
    </div>
    <app-skeleton-cards [displayFollowButton]="true" [cards]="4" *ngIf="showSpinner"></app-skeleton-cards>
    <div class="upcoming-events custom-scrollbar">
      <div class="upcoming-events-card" *ngFor="let upcomingEvent of upcomingEvents">
        <!-- <div *appBreakpoints="'>lg'"> -->
        <commudle-event-mini-card
          [attendedEvent]="upcomingEvent"
          [iconSize]="'medium'"
          [cardType]="'upcomingEvents'"
        ></commudle-event-mini-card>
        <!-- </div> -->
        <!-- <div *appBreakpoints="'<=lg'">
          <commudle-featured-communities-card
            [featuredCommunity]="featuredCommunity"
            [horizontalScroll]="true"
          ></commudle-featured-communities-card>
        </div> -->
      </div>
    </div>
  </nb-card-body>
</nb-card>
