<div>
  <div class="heading">
    <h3 class="title">Upcoming Events</h3>
    <h4 class="sub-heading">Check out amazing events lined up</h4>
  </div>
  <app-skeleton-cards
    *ngIf="showSpinner"
    [cards]="4"
    [ImageShapeSquare]="true"
    [ImageShapeCircle]="false"
  ></app-skeleton-cards>
  <div class="upcoming-events custom-scrollbar">
    <div class="upcoming-events-card" *ngFor="let upcomingEvent of upcomingEvents">
      <commudle-event-mini-card
        [attendedEvent]="upcomingEvent"
        [iconSize]="'medium'"
        [cardType]="'upcomingEvents'"
      ></commudle-event-mini-card>
    </div>
  </div>
  <div class="load-more" *ngIf="pageInfo?.has_next_page">
    <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
    <button [disabled]="showSpinner" (click)="getUpcomingEvents()" nbButton outline size="small" status="info">
      Load More
    </button>
  </div>
</div>
