<div
  class="community-badge {{ background }}"
  [ngClass]="{
    small: size === 'small',
    medium: size === 'medium'
  }"
>
  <a [routerLink]="['/communities', community.slug]">
    <div class="logo">
      <img
        alt="{{ community.name }}"
        src="{{ community.logo_path || community.logo_image?.url || community.logo_image_path?.url }}"
        title="{{ community.name }}"
      />
    </div>
    <div>
      <p class="name">
        {{ community.name }}
      </p>
    </div>
  </a>
</div>
