.community-badge {
  @apply com-w-max com-cursor-pointer com-overflow-x-hidden com-bg-gray-100;
  border-radius: 99em;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  a {
    @apply com-flex com-flex-nowrap com-w-max com-items-center com-no-underline;
  }

  .logo {
    @apply com-flex com-justify-center com-items-center com-overflow-hidden com-m-0 com-mr-6px;
    border-radius: 50%;
    img {
      @apply com-w-full;
    }

    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.2);
  }

  .name {
    @apply com-m-0 com-text-black;
  }
}

.community-badge.bg-white {
  @apply com-bg-white;
}

.community-badge.small {
  @apply com-py-1 com-px-2;

  .logo {
    @apply com-w-[20px] com-h-[20px];
  }

  .name {
    @apply com-text-xs com-font-semibold;
  }
}

.community-badge.medium {
  @apply com-pt-6px com-pr-3 com-pb-6px com-pl-6px;

  .logo {
    @apply com-w-[30px] com-h-[30px];
  }

  .name {
    @apply com-text-sm com-font-normal;
  }
}
