
.event-location-tracks {
  width: 95%
}
.tracks-container {
  display: flex;
  flex-wrap: nowrap;
  height: 25rem;
  // width: ;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: scroll;

  .track.empty {
    width: 6.5rem;
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 1;
    .track-name.empty {
      width: 5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      p {
        margin-bottom: 0.3rem;
      }
    }
    .time-cell{
      width: 5rem;
      display: flex;
      align-items: center;
      height: 2.5rem;
      border: 1px solid white;
      background-color: white;
      .time-display {
        margin: 0;
        font-size: 0.8rem;
      }
    }
  }


  .track {
    position: relative;
    width: 20rem;
    max-width: 80%;
    .track-name {
      width: 20rem;
      max-width: 100%;
      height: 2.5rem;
      position: sticky;
      padding: 0.5rem;
      background-color: #e6e6e6;
      top: 0;
      display: flex;
      justify-content: space-between;
      p {
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 50%;
        font-size: 0.8rem;
      }
      button: {
        margin-right: 0.5rem;
      }
    }

    .time-cell.fill {
      width: 20rem;
      max-width: 100%;
      height: 2.5rem;
      border: 1px solid lightgrey;
      border-radius: 5px;
      // margin: 1px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      .filler-text{
        color: #3365ff;
      }
      &:hover {
        background: #3264ff;
        .filler-text {
          color: white;
        }
      }
      .time-display {
        margin: 0;
      }
    }
    .time-cell.fill {
      .filler-text {
        margin: 0;
        text-align: center;
      }
    }
  }

}


.track-slot {
  overflow-y: auto;
  position: absolute;
      width: 90%;
      z-index: 1;
      background-color: white;
      box-shadow: -1px 5px 7px 4px lightgrey;
      border-radius: 5px;
      padding: 1rem;
  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.track-slot-form {
  >div>div{
    margin-bottom: 0.8rem;
  }
}
