<div class="tracks-container">
  <div class="track empty">
    <div class="track-name empty">
      <p>Time</p>
    </div>
    <div class="time-container">
      <div *ngFor="let hour of hours">
        <div *ngFor="let minute of minutes">
          <div *ngIf="minute%5 == 0" class="time-cell">
            <p class="time-display">{{ displayTime(hour, minute) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="track" *ngFor="let lt of eventLocationTracks">
    <div class="track-name">
      <p>{{ lt.name }}</p>
    </div>
    <div class="time-container">
      <div *ngFor="let hour of hours">
        <div *ngFor="let minute of minutes">
          <div *ngIf="minute%5 == 0" class="time-cell fill">
            <p class="filler-text">
              <small>Add Session</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="track-slots-container">
      <div *ngFor="let slot of lt.track_slots"></div>
    </div>
  </div>

</div>
