.event-location-tracks {
  .add-track-button {
    margin: 1rem 0;
  }
}

.small-icon {
  font-size: 1.25rem !important;
}

.track-container {
  .track-name {
    display: inline-block;
    margin: 0;
  }

  .track-video-source {
    display: inline-block;
  }

  .track-options {
    display: inline-block;
    float: right;

    button {
      margin-left: 0.5rem;
    }
  }

  .session-time {
    p {
      margin: 0;
      text-align: right;
    }

    p:nth-of-type(1) {
      font-size: 1.2rem;
    }

    p:nth-of-type(2) {
      margin-top: 0.3rem;
      font-size: 0.9rem;
    }

    @media all and (max-width: 767px) {
      p:nth-of-type(1) {
        font-size: 1rem;
      }

      p:nth-of-type(2) {
        font-size: 0.8rem;
      }
    }
  }

  .session-title {
    font-size: 1.2rem;
    font-weight: normal;
  }

  @media all and (max-width: 767px) {
    .session-title {
      font-size: 1rem;
    }
  }

  .session-speaker {
    padding: 1px 12px;
    border-color: rgba(0, 0, 0, 0.12);
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    min-width: max-content;

    small {
      font-weight: 400;
    }

    nb-icon {
      font-size: 0.875rem;
    }
  }
}

.track-slot-form {
  > div > div {
    margin-bottom: 0.9rem;
  }
}
