<div class="tracks-container">
  <div class="track empty">
    <div class="track-name empty">
      <p>Time</p>
      <button nbButton size="tiny" (click)="showAddTrackForm()">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
        &nbsp;
        Add Track
      </button>
    </div>
    <div class="time-container">
      <div *ngFor="let hour of hours">
        <div *ngFor="let minute of minutes">
          <div *ngIf="minute%5 == 0" class="time-cell">
            <p class="time-display">{{ displayTime(hour, minute) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="track" *ngFor="let lt of eventLocationTracks; let t = index">
    <div class="track-name">
      <p (click)="showEditTrackForm(lt)">{{ lt.name }}</p>
      <button nbButton size="tiny" status="danger" (click)="confirmDeleteTrack(lt)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
    <div class="time-container">
      <div *ngFor="let hour of hours">
        <div *ngFor="let minute of minutes">
          <div *ngIf="minute%5 == 0" class="time-cell fill">
            <p class="filler-text" (click)="showAddSlotForm(lt, hour, minute)">
              <small>Add Session</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="track-slots-container">
      <div *ngFor="let slot of lt.track_slots">
        <div class="track-slot"
        [ngStyle]="{
          'height': slotSessionHeight(slot) + 'rem',
          'top': slotSessionOffsetFromTop(slot) + 'rem' }"
          >
          <p>
            <fa-icon [icon]="faPen" (click)="showEditSlotForm(slot)" class="clickable"></fa-icon>
            <fa-icon [icon]="faTrash" (click)="confirmDeleteSlot(slot)" class="clickable"></fa-icon>
          </p>
          <p>
            <fa-icon [icon]="faClock"></fa-icon>
            &nbsp;
            {{ moment(slot.start_time).format('HH:mm A') }} - {{ moment(slot.end_time).format('HH:mm A') }}
          </p>
          <p>
            <fa-icon [icon]="faInfo"></fa-icon>
            &nbsp;
            {{ slot.session_title }}
          </p>
        </div>
      </div>
    </div>
  </div>






  <ng-template #eventLocationTrackFormTemplate let-data>
    <form class="event-location-track-form" [formGroup]="eventLocationTrackForm" (ngSubmit)="data.operationType == 'create' ? createTrack() : editTrack(data.eventLocationTrackId) ">
      <div formGroupName="event_location_track">
          <div>
            <label fullWidth>
              Name*
              <input type="text" nbInput fullWidth formControlName="name">
            </label>
            <span *ngIf="eventLocationTrackForm['controls'].event_location_track['controls'].name.touched && eventLocationTrackForm['controls'].event_location_track['controls'].name.invalid && eventLocationTrackForm['controls'].event_location_track['controls'].name.errors.required" class="validation-error-text">
              Required Field
            </span>
          </div>
      </div>

      <div class="save-button-bottom">
        <button [disabled]="!eventLocationTrackForm.valid" type="submit" nbButton fullWidth status="info">
          Save
        </button>
      </div>

    </form>
  </ng-template>
  <ng-template #deleteEventLocationTrackTemplate let-data>
    <div>
      <p>Are you sure you want to delete this track?</p>
    </div>
    <div>
      <button nbButton status="link" (click)="deleteTrack(true,data.eventLocationTrackId)">Yes</button>
      <button nbButton status="link" (click)="deleteTrack(false,data.eventLocationTrackId)">No</button>
    </div>
  </ng-template>





  <!-- track slot windows -->
  <ng-template #trackSlotFormTemplate let-data>
    <form class="event-location-track-form" [formGroup]="trackSlotForm" (ngSubmit)="data.operationType == 'create' ? addSlot() : editSlot(data.trackSlotId) ">
      <div formGroupName="track_slot">
          <div>
            <nb-select formControlName="event_location_track_id">
              <nb-option-group *ngFor="let location of eventLocations" title="{{location.location.name}}">
                <nb-option *ngFor="let ltrack of location.event_location_tracks" [value]="ltrack.id">
                  {{ ltrack.name }}
                </nb-option>
              </nb-option-group>
            </nb-select>
          </div>
          <div>
            <nb-select formControlName="speaker_registration_id">
              <nb-option *ngFor="let speaker of eventSpeakers" [value]="speaker.id">
                {{ speaker.user.name }}
              </nb-option>
            </nb-select>
          </div>
          <div>
            <label fullWidth>
              Session Title*
              <input type="text" nbInput fullWidth formControlName="session_title">
            </label>
            <span *ngIf="trackSlotForm['controls'].track_slot['controls'].session_title.touched && trackSlotForm['controls'].track_slot['controls'].session_title.invalid && trackSlotForm['controls'].track_slot['controls'].session_title.errors.required" class="validation-error-text">
              Required Field
            </span>
          </div>

          <div>
            <input nbInput [nbDatepicker]="datepicker" placeholder="Date" formControlName="date">
            <nb-datepicker #datepicker></nb-datepicker>
          </div>


          <div>
            <input [ngxTimepicker]="startTimePicker" nbInput fullWidth formControlName="start_time" placeholder="Start Time" [format]="24"  readonly>
            <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
            <span *ngIf="trackSlotForm['controls'].track_slot['controls'].start_time.touched && trackSlotForm['controls'].track_slot['controls'].start_time.invalid && trackSlotForm['controls'].track_slot['controls'].start_time.errors.required" class="validation-error-text">
              Required Field
            </span>
          </div>
          <div>
            <input [ngxTimepicker]="endTimePicker" nbInput fullWidth formControlName="end_time" placeholder="End Time" [format]="24" readonly>
            <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
            <span *ngIf="trackSlotForm['controls'].track_slot['controls'].end_time.touched && trackSlotForm['controls'].track_slot['controls'].end_time.invalid && trackSlotForm['controls'].track_slot['controls'].end_time.errors.required" class="validation-error-text">
              Required Field
            </span>
          </div>
          <div>
            <input type="text" nbInput fullWidth formControlName="tags_list" placeholder="Tag A, Tag B, ...">

          </div>
      </div>

      <div class="save-button-bottom">
        <button [disabled]="!trackSlotForm.valid" type="submit" nbButton fullWidth status="info">
          Save
        </button>
      </div>

    </form>
  </ng-template>

  <ng-template #deleteTrackSlotTemplate let-data>
    <div>
      <p>Are you sure you want to delete this slot?</p>
    </div>
    <div>
      <button nbButton status="link" (click)="deleteSlot(true,data.trackSlot)">Yes</button>
      <button nbButton status="link" (click)="deleteSlot(false,data.trackSlot)">No</button>
    </div>
  </ng-template>

</div>
