<div class="judge-card">
  <nb-card>
    <nb-card-body>
      <a [routerLink]="['/users', judge.username]">
        <div class="image-name">
          <div class="image">
            <img [src]="judge.profile_image?.url" [alt]="judge.name" />
          </div>
          <div>
            <div class="name">{{ judge.name }}</div>
            <div class="username">@{{ judge.username }}</div>
          </div>
        </div>
        <div>
          <div class="designation">
            <div class="name">Job Title</div>
            <div class="value">{{ judge.designation }}</div>
          </div>
          <div class="company">
            <div class="name">Company</div>
            <div class="value">{{ judge.company }}</div>
          </div>
          <div class="twitter" *ngIf="judge.twitter && judge.twitter !== null">
            <div class="name">Twitter</div>
            <a [href]="judge.twitter" class="value" target="_blank" (click)="$event.stopPropagation()">{{
              judge.twitter
            }}</a>
          </div>
          <div class="linkedin" *ngIf="judge.linkedin">
            <div class="name">Linkedin</div>
            <a [href]="judge.linkedin" class="value" target="_blank" (click)="$event.stopPropagation()">{{
              judge.linkedin
            }}</a>
          </div>
          <div class="website" *ngIf="judge.website">
            <div class="name">Personal Website</div>
            <a [href]="judge.website" class="value" target="_blank" (click)="$event.stopPropagation()">{{
              judge.website
            }}</a>
          </div>
        </div>
      </a>
      <div>
        <div class="actions">
          <button nbButton ghost fullWidth status="primary" (click)="editJudge(judge)">Edit</button>
          <button nbButton ghost fullWidth status="danger" (click)="deleteJudge(judge.id)">Delete</button>
        </div>
        <div>
          <button
            *ngIf="judge.invite_status === EInvitationStatus.INVITED"
            nbButton
            ghost
            fullWidth
            status="primary"
            (click)="resendJudgeInvite()"
          >
            Invite Status: {{ judge.invite_status | titlecase }} Resend Invite
          </button>
          <button *ngIf="judge.invite_status !== EInvitationStatus.INVITED" nbButton ghost fullWidth status="primary">
            {{ judge.invite_status | titlecase }}
          </button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
