<div>

  <nb-list>
    <nb-list-item *ngFor="let voter of voters">
      <app-user-profile-horizontal [user]="voter" [socialMediaLinks]="false"></app-user-profile-horizontal>
    </nb-list-item>
  </nb-list>

  <div class="load-more-button" *ngIf="total && voters.length < total">
    <button nbButton size="tiny" status="primary" outline (click)="openWindow()">Load More...</button>
  </div>

</div>


<ng-template #votersList let-data>
  <nb-list>
    <nb-list-item *ngFor="let voter of voters">
      <app-user-profile-horizontal [user]="voter" [socialMediaLinks]="true"></app-user-profile-horizontal>
    </nb-list-item>
  </nb-list>

  <div class="load-more-button" *ngIf="total && voters.length < total">
    <button nbButton size="tiny" status="primary" outline>Load More...</button>
  </div>
</ng-template>
