@import './projects/commudle-admin/src/assets/styles/variables';

nb-card {
  overflow: hidden;
  height: 97vh;
  width: 800px;

  @media all and (max-width: $tab-width) {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  nb-card-body {
    padding: 1rem 1rem;
    overflow: unset;

    nb-stepper {
      &::ng-deep {
        .header {
          .connector-past {
            background-color: #00d68f;
          }

          .step {
            .label-index {
              border-color: #00d68f;
            }

            &.completed {
              .label-index {
                background-color: #00d68f;
                border-color: #00d68f;
              }
            }
          }
        }

        .step-content {
          padding: 0;
        }
      }
    }

    .content {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 75vh;

      @media all and (max-width: $tab-width) {
        height: 80vh;
      }

      .skills-gif-container {
        display: flex;
        justify-content: center;
        height: 68%;

        @media all and (max-width: $mobile-width) {
          display: none;
        }
      }

      .profile-completed-gif {
        display: flex;
        justify-content: center;
        height: 68%;
      }

      // Custom scrollbar
      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: darken($light-purple, 5%);
        border-radius: $border-10;
        border: 3px solid transparent;
        background-clip: content-box;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: darken($light-purple, 8%);
      }
    }

    .navigation-buttons {
      padding-top: 1rem;

      &.both-buttons {
        display: flex;
        justify-content: space-between;
      }

      &.next-button-only {
        display: flex;
        justify-content: flex-end;
      }

      &.prev-button-only {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}

.step-one-heading {
  margin-left: 25px;
}
