<nb-card>
  <nb-card-body>
    <nb-stepper orientation="horizontal" disableStepNavigation>
      <nb-step [label]="stepOne">
        <ng-template #stepOne>
          <label class="step-one-heading">Username & Skills</label>
        </ng-template>
        <div class="content">
          <app-username (usernameValidation)="checkUsername($event)" [showSaveButton]="false"></app-username>
          <div>
            <div class="tag-dialog-info">
              <nb-icon icon="info-outline"></nb-icon>
              Maximum {{ maxTags }} tags can be added. Tags reflect your fields of interest.
            </div>
            <nb-tag-list (tagRemove)="onTagRemove($event)">
              <nb-tag *ngFor="let tag of tagsDialog" [text]="tag" removable></nb-tag>
              <input
                (tagAdd)="onTagAdd($event)"
                fullWidth
                nbTagInput
                placeholder="type a tag and press enter"
                type="text"
              />
            </nb-tag-list>
          </div>
          <div class="skills-gif-container">
            <img
              alt="Skills"
              src="https://json.commudle.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcGdaIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b373211d40f97d30372232728c78d825bbff51fe/userflow-skills.gif"
              title="Skills"
            />
          </div>
        </div>
        <div class="navigation-buttons next-button-only">
          <button [disabled]="!validUsername" nbButton nbStepperNext status="primary" (click)="submitStepOne()">
            Next
          </button>
        </div>
      </nb-step>

      <nb-step [label]="stepTwo">
        <ng-template #stepTwo>
          <label>Basic profile</label>
        </ng-template>
        <div class="content">
          <app-basic-info (basicInfoFormValidity)="checkBasicDetailsValidity($event)"></app-basic-info>
        </div>
        <div class="navigation-buttons both-buttons">
          <button nbButton nbStepperPrevious status="primary">Prev</button>
          <button
            [disabled]="!validBasicDetailsStatus"
            nbButton
            nbStepperNext
            status="primary"
            (click)="submitStepTwo()"
          >
            Next
          </button>
        </div>
      </nb-step>

      <nb-step [label]="stepThree">
        <ng-template #stepThree>
          <label>Social Links</label>
        </ng-template>
        <div class="content">
          <app-social-links (socialLinksFormValidity)="checkSocialLinksValidity($event)"></app-social-links>
        </div>
        <div class="navigation-buttons both-buttons">
          <button nbButton nbStepperPrevious status="primary">Prev</button>
          <button
            [disabled]="!validSocialLinksStatus"
            nbButton
            nbStepperNext
            status="primary"
            (click)="submitStepThree()"
          >
            Next
          </button>
        </div>
      </nb-step>

      <nb-step [hidden]="true">
        <div class="content">
          <h3 class="text-center">Thank you for completing your profile!</h3>
          <div class="profile-completed-gif">
            <img
              alt="Completed"
              src="https://json.commudle.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcGNaIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--33ad326a4cad4e6d33e037188dd68e9ccedc0ee5/userflow-done.gif"
              title="Completed"
            />
          </div>
        </div>
        <div class="navigation-buttons next-button-only">
          <button nbButton status="primary" (click)="closeStepper()">Close</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
