nb-card {
  @apply com-w-95vw md:com-w-800 com-h-95vh;

  nb-card-body {
    @apply com-p-4 com-overflow-hidden;

    .user-profile-completion-stepper {
      @apply com-h-full;

      &::ng-deep {
        .header {
          .connector-past {
            @apply com-bg-Caribbean-Green;
          }

          .step {
            .label-index {
              @apply com-border-Caribbean-Green;
            }

            &.completed {
              .label-index {
                @apply com-bg-Caribbean-Green com-border-Caribbean-Green;
              }
            }
          }
        }

        .step-content {
          height: inherit;
          @apply com-p-0;

          .content {
            height: calc(95% - 56px - 68px);
            @apply com-overflow-x-hidden;

            .skills-gif,
            .completed-gif {
              @apply com-block com-mt-4 com-mx-auto com-mb-0 com-max-h-[60%];
            }

            .skills-gif {
              @apply com-hidden;
              @apply md:com-block;
            }

            // Custom scrollbar
            &::-webkit-scrollbar {
              @apply com-w-3;
            }

            &::-webkit-scrollbar-track {
              @apply com-bg-transparent;
            }

            &::-webkit-scrollbar-thumb {
              @apply com-bg-gray-300 hover:com-bg-gray-400 com-bg-clip-content com-rounded-xl com-border-2 com-border-solid com-border-transparent;
            }
          }
        }
      }
    }

    .navigation-buttons {
      @apply com-pt-4;

      &.both-buttons {
        @apply com-flex com-justify-between com-relative com-bottom-2;
      }

      &.next-button-only {
        @apply com-flex com-justify-end;
      }

      &.prev-button-only {
        @apply com-flex com-justify-start;
      }
    }
  }
}

.step-one-heading {
  @apply com-ml-6;
}
