<div class="experts">
  <div *ngIf="experts.length > 0 && !isLoadingExperts" class="experts-card">
    <div *ngFor="let expert of experts" class="card">
      <commudle-featured-experts-card [expert]="expert"></commudle-featured-experts-card>
    </div>
  </div>
  <div *ngIf="isLoadingExperts" class="load-more">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <button *ngIf="pageInfo?.has_next_page" (click)="getExperts()" nbButton size="medium" status="basic">
    View More
  </button>
</div>

<div *ngIf="experts.length === 0 && !isLoadingExperts">
  <h3 class="no-user-text">Experts to be added soon!</h3>
</div>
