<div>
  <div class="collaboration-communities">
    <div *ngFor="let col of collaborationCommunities;  let i = index;" class="community">
      <div class="logo">
        <a [routerLink]="['/communities', col.community.slug]">
          <img alt="{{ col.community.name }}" src="{{ col.community.logo_path }}" title="{{ col.community.name }}">
        </a>
      </div>
      <div class="details">
        <p> {{col.community.name | slice:0:10}} </p>
        <div *ngIf="event.editable" class="actions">
          <a (click)="resendConfirmationEmail(col.id)" *ngIf="!col.approved" class="clickable">
            <small> Resend Request </small>
          </a>
          <a (click)="removeCollaboration(col.id, i)" class="clickable">
            <small> Remove </small>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="event.editable">
      <label for="nb-input">
        <p>
          <nb-icon icon="info-circle" pack="fas"></nb-icon>
          Type 3 or more characters to get the results
        </p>
      </label>

      <input #autoInput
      nbInput
      id="nb-input"
      type="text"
      [value]="selectedCommunity"
      (input)="onChange()"
      (keyup)="checkTyping()"
      placeholder="Enter Name..."
      [nbAutocomplete]="auto" />

      <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">

        <nb-option *ngFor="let community of communities" [value]="community">
          <div class="logo">
            <img src="{{community.logo_path}}" alt="{{ community.name }}" title="{{ community.name }}">
          </div>
          {{ community.name }}
        </nb-option>
        <nb-option disabled *ngIf="communities.length===0 && typing">
          No Results
        </nb-option>

      </nb-autocomplete>
    </div>
  </div>
</div>
