.actions {
  a {
    text-decoration: none;
    display: block;
  }
}


.collaboration-communities {
  display: flex;
  flex-wrap: wrap;
  .community {
    margin-right: 1rem;
    width: 150px;
    height: 160px;
    border: 0.5px solid lightgrey;
    padding: 0.5rem;
    .logo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 auto;
      overflow: hidden;
      img {
        width: 100%;
        vertical-align: text-bottom;
      }
    }

    .details {
      text-align: center;
    }
  }
}

::ng-deep .cdk-overlay-container {
  nb-option-list {
    .option-list {
      nb-option {
        .logo {
          max-width:25px;
          max-height:25px;
          margin-right: 5px;
          img {
            width:100%;
          }
        }
      }
    }
  }
}
