<div>
  <div class="collaboration-communities">
    <div class="community" *ngFor="let col of collaborationCommunities;  let i = index;">
      <div class="logo">
        <a [routerLink]="['/communities', col.community.slug]">
          <img src="{{ col.community.logo_path }}" alt="{{ col.community.name }}">
        </a>
      </div>
      <div class="details">
        <p>
          {{col.community.name | slice:0:10}}
        </p>
        <div class="actions" *ngIf="event.editable">
          <a *ngIf="!col.approved" (click)="resendConfirmationEmail(col.id)" class="clickable">
            <small>
              Resend Request
            </small>
          </a>
          <a (click)="removeCollaboration(col.id, i)" class="clickable">
            <small>
              Remove
            </small>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="event.editable">
      <input #autoInput
      nbInput
      type="text"
      [value]="selectedCommunity"
      (input)="onChange()"
      (keyup)="checkTyping()"
      placeholder="Enter Name..."
      [nbAutocomplete]="auto" />

      <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">

        <nb-option *ngFor="let option of communities" [value]="option">
          <div class="logo">
            <img src="{{option.logo_path}}">
          </div>
          {{ option.name }}
        </nb-option>
        <nb-option disabled *ngIf="communities.length===0 && typing">
          No Results
        </nb-option>

      </nb-autocomplete>
    </div>
  </div>

</div>
