<div>
  <div class="collaboration-communities">
    <div *ngFor="let col of collaborationCommunities;  let i = index;" class="community">
      <div class="logo">
        <a [routerLink]="['/communities', col.community.slug]">
          <img alt="{{ col.community.name }}" src="{{ col.community.logo_path }}" title="{{ col.community.name }}">
        </a>
      </div>
      <div class="details">
        <p> {{col.community.name | slice:0:10}} </p>
        <div *ngIf="event.editable" class="actions">
          <a (click)="resendConfirmationEmail(col.id)" *ngIf="!col.approved" class="clickable">
            <small> Resend Request </small>
          </a>
          <a (click)="removeCollaboration(col.id, i)" class="clickable">
            <small> Remove </small>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="event.editable">
      <input #autoInput (input)="onChange()" [nbAutocomplete]="auto" [value]="selectedCommunity" nbInput
             placeholder="Enter Name..." type="text"/>
      <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)" [handleDisplayFn]="autocompleteDisplay">
        <nb-option *ngFor="let option of communities" [value]="option"> {{ option.name }} </nb-option>
      </nb-autocomplete>
    </div>
  </div>
</div>
