@import '/projects/commudle-admin/src/assets/styles/variables';

.user-content {
  nb-card {
    border: none;
    margin: $space-16 0 0;

    nb-card-body {
      padding: 0;

      //TODO: Remove after 7th July 2021
      //&.section-b {
      //  padding: $space-32;
      //}
    }
  }

  nb-tabset {
    padding-top: $space-8;

    &::ng-deep {
      .tabset {
        border-bottom: 1px solid $silver-sand;

        .tab {
          .tab-link {
            font-style: italic;
            font-size: $fs-h4;
            line-height: 19px;
            font-weight: $fw-400;
            color: rgba($gunmetal, 0.6);
            text-transform: capitalize;
            padding-bottom: $space-8;
          }

          &.active {
            .tab-link {
              color: $jacarta;
              font-style: normal;
              font-weight: $fw-500;

              &::before {
                height: 2px;
                bottom: -1px;
                border-radius: 0;
                background-color: $brilliant-azure;
              }
            }
          }
        }
      }
    }

    nb-tab {
      padding: $space-32;
    }
  }
}

@media all and (max-width: $tab-width) {
  .user-content {
    margin-bottom: $space-32;

    nb-card {
      border-radius: 0;
    }
  }
}
