@import './projects/commudle-admin/src/assets/styles/variables';

.user-content {
  nb-card {
    margin: $space-16 0 0;

    nb-card-body {
      padding: 0;

      //TODO: Remove after 7th July 2021
      //&.section-b {
      //  padding: $space-32;
      //}
    }
  }

  nb-route-tabset {
    &::ng-deep {
      .route-tabset {
        border-bottom: 1px solid $silver-sand;
        padding-top: $space-8;

        .route-tab {
          .tab-link {
            color: rgba($gunmetal, 0.6);
            font-size: $fs-h4;
            font-style: italic;
            font-weight: $fw-400;
            line-height: 19px;
            padding-bottom: $space-8;
            text-transform: capitalize;
          }

          &.active {
            .tab-link {
              color: $jacarta;
              font-style: normal;
              font-weight: $fw-500;

              &::before {
                background-color: $brilliant-azure;
                border-radius: 0;
                bottom: -1px;
                height: 2px;
              }
            }
          }
        }
      }

      .user-contributions,
      .user-social {
        padding: $space-32;
      }
    }
  }
}

@media all and (max-width: $tab-width) {
  .user-content {
    margin-bottom: $space-32;

    nb-card {
      border-radius: 0;
    }
  }
}
