.organizers, .event_organizers {

  display: flex;
  flex-wrap: wrap;
  .user-profile {
    height: 160px;
    border: 0.5px solid #ff3e60;
    padding: 5px;
    width: 120px;
    margin: 1rem;
    text-align: center;
    .user-avatar {
      margin: 0 auto;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      border: 0.5px solid lightgrey;
      img: {
        width: 100%;
        // vertical-align: ;
      }
    }

    .user-name {
      margin: 0;
    }

    .user-designation {
      margin: 0;
    }

    .user-social-links {
      display: flex;
      justify-content: space-around;
      height: 1rem;
      a {
        text-decoration: none;
        color: grey;
        nb-icon {
          font-size: 1rem;
        }
      }
    }
  }
}

h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.user-roles-user-form {
  display: flex;
  flex-wrap: wrap;

  >div {
    margin-right: 1rem;
  }

  .save-button-bottom {
    margin-top: 18px;
  }

}
