.organizers, .event_organizers {

  display: flex;
  flex-wrap: wrap;
  .user-profile {
    border: 0.5px solid grey;
    padding: 5px;
    width: 100%;
    justify-content: center;
    display: flex;

    margin: 1rem;
    @media screen and (min-width: 1000px) {
      align-items: center;
      justify-content: space-between;
    }
  }
}

h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.user-roles-user-form {
  display: flex;
  flex-wrap: wrap;

  >div {
    margin-right: 1rem;
  }

  .save-button-bottom {
    margin-top: 18px;
  }

}
