@import '/projects/commudle-admin/src/assets/styles/variables.scss';

$primary-color: #536EFF;
$title: #2F2E41;
$content: #231F20;

$spacing: 16px;
$border-radius: 10px;

.lab {
  width: 100%;
  background: $light-purple;
  padding: $page-padding-top $page-horizontal-padding $page-padding-bottom;

  .body {
    display: flex;
    justify-content: center;
    max-width: $max-page-width;
    margin: 0 auto;

    .menu {
      nb-card {
        border: none;
        border-radius: $border-radius;
      }

      .user {
        padding: $spacing;
        margin: 0 0 $spacing;
        transition: all 0.3s ease-in-out;

        nb-user {
          &::ng-deep {
            .user-picture.image {
              height: 3.5rem;
              width: 3.5rem;
            }

            .user-name {
              font-size: 1.125rem;
              line-height: 1.5rem;
              font-family: $primary-font-family;
            }

            .user-title {
              font-size: 0.875rem;
              font-family: $primary-font-family;
            }
          }
        }

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }

      .steps {
        margin: 0;

        nb-list {
          border: none;
          border-radius: $border-radius;
        }

        nb-list-item:not(:last-child) {
          border-bottom: 2px solid rgba(83, 110, 255, 0.35);
          font-family: $primary-font-family;
        }

        .active {
          a {
            color: white;
          }

          background-color: $primary-color;
        }

        a {
          text-decoration: none;
          color: $primary-color;
        }
      }

      .related-labs {
        margin: $spacing $spacing 0 0;

        nb-card-header {
          font-size: 1.1rem;
          font-weight: 400;
          font-family: $primary-font-family;
          color: $primary-color;
          padding: $spacing $spacing 0.5 * $spacing;
          border-bottom: none;
        }

        nb-card-body {
          padding: 0;

          .details {
            padding: $spacing;
            transition: all 0.3s ease-in-out;

            .name {
              margin: 0;
              font-size: 1rem;
              font-family: $primary-font-family;
            }

            .type {
              margin: 0;
              font-size: 0.9rem;
              font-family: $primary-font-family;
              color: $primary-color;
            }

            &:hover {
              background: rgba(0, 0, 0, 0.05);
            }
          }
        }
      }

      .mobile-interactions {
        display: none;
        flex-direction: row;
        justify-content: space-around;
        margin: $spacing 0 0;
        font-family: $primary-font-family;

        app-votes-display {
          direction: rtl;

          &::ng-deep {
            p {
              font-size: 1.5rem;
              font-family: $primary-font-family;

              span {
                color: $primary-color;
              }

              nb-icon {
                font-size: 1.5rem;

                &:not(.voted-heart) {
                  color: $primary-color;
                }
              }
            }
          }
        }

        .discussion {
          font-size: 1.5rem;
          color: $primary-color;
        }

        nb-icon {
          font-size: 1.5rem;
          color: $primary-color;
        }
      }
    }

    .content {
      width: 100%;

      nb-card {
        min-height: 80vh;
        border: none;
        border-radius: $border-radius;
        margin: 0 $spacing $spacing;

        nb-card-body {
          padding: 3 * $spacing;

          .introduction {
            display: flex;
            flex-direction: column;

            .lab-title {
              font-size: 2.25rem;
              font-weight: 500;
              font-family: $primary-font-family;
              line-height: 2.75rem;
              color: $title;
              text-transform: capitalize;
              margin: 0 0 1.25 * $spacing;
            }

            .lab-detail {
              display: flex;
              justify-content: space-between;
              margin-bottom: 3 * $spacing;

              .user-profile {
                display: flex;
                justify-content: flex-start;

                .avatar {
                  img {
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                  }
                }

                .details {
                  width: max-content;
                  font-style: italic;

                  p {
                    color: #979797;
                    margin: 0 $spacing 0 0.5 * $spacing;
                    font-family: $primary-font-family;
                  }

                  .name {
                    text-transform: capitalize;
                    color: $primary-color;
                  }
                }
              }

              .tags {
                margin-left: 4rem;

                &::ng-deep {
                  .nb-tag-list-tags-wrapper {
                    nb-tag {
                      font-size: 13px;
                      font-family: $primary-font-family;
                      text-transform: lowercase;
                      color: $title;
                      background-color: #DAE0FF;
                      border: none;
                      border-radius: 0.5 * $border-radius;
                    }
                  }
                }
              }
            }

            @media all and (max-width: $tab-width) {
              .lab-detail {
                flex-direction: column;

                .user-profile {
                  align-items: center;

                  .details {
                    width: auto;
                  }
                }

                .tags {
                  margin: $spacing 0 0;
                }
              }
            }

            .header-image {
              max-width: 900px;
              max-height: 350px;
              overflow: hidden;

              img {
                width: 100%;
              }
            }

            .intro-content {
              width: 100%;

              ::ng-deep {
                img {
                  max-width: 100%;
                  height: auto;
                }

                code {
                  white-space: pre-wrap;
                }

                * {
                  font-family: $primary-font-family;
                }

                @for $index from 1 through 6 {
                  h#{$index} {
                    color: $title;
                  }
                }

                p, li {
                  color: $content;
                  font-size: 1.1rem;
                  line-height: 1.5rem;
                }
              }
            }
          }
        }

        @media all and (max-width: $tab-width) {
          nb-card-body {
            padding: 1.25 * $spacing;

            .introduction {
              .lab-title {
                font-size: 1.75rem;
                line-height: 1.75rem;
              }
            }
          }
        }

        nb-card-footer {
          background-color: $light-purple;
          padding: 1.5 * $spacing 0 0;
          border: none;
        }
      }
    }

    .interactions {
      display: none;
      width: max-content;
      height: fit-content;
      margin-left: $spacing;
      position: sticky;
      top: 50vh;
      font-family: $primary-font-family;

      app-votes-display {
        direction: rtl;

        &::ng-deep {
          p {
            font-size: 1.5rem;
            font-family: $primary-font-family;

            span {
              color: $primary-color;
            }

            nb-icon {
              font-size: 1.5rem;

              &:not(.voted-heart) {
                color: $primary-color;
              }
            }
          }
        }
      }

      .discussion {
        margin: 1.5 * $spacing 0 0;
        font-size: 1.5rem;
        color: $primary-color;
      }

      nb-icon {
        font-size: 1.5rem;
        color: $primary-color;
      }
    }

    @media (min-width: $tab-width) {
      .menu {
        display: inline-flex !important;
        flex-direction: column;
        position: sticky;
        top: 4.5rem;
        height: fit-content;
        width: 250px;

        nb-card {
          width: 100%;
        }
      }

      .content {
        min-width: 500px;
        width: 70%;
      }

      .interactions {
        display: block;
      }
    }
  }

  .steps-navigation {
    display: flex;
    justify-content: space-between;

    button {
      font-size: 1rem;
      font-weight: 500;
      font-family: $primary-font-family;
      text-transform: capitalize;
      color: white;
      background-color: $primary-color;
      border-radius: $border-radius;
    }
  }

  .lab-discussion {
    margin: 2 * $spacing 0 4 * $spacing;
  }
}

@media all and (max-width: $tab-width) {
  .lab {
    padding: $spacing 0 0;

    .body {
      flex-direction: column;

      .menu {
        margin: 0 $spacing $spacing;

        .steps {
          nb-list {
            &::ng-deep {
              flex-direction: row;

              nb-list-item:not(:last-child) {
                border-bottom: 0;
                border-right: 2px solid rgba(83, 110, 255, 0.35);
              }
            }
          }
        }

        .mobile-interactions {
          display: flex;
        }
      }
    }
  }
}

.image {
  @media screen and (min-width: $max-page-width) {
    width: 70vw;
  }

  @media screen and (max-width: $tab-width) {
    width: 80vw;
  }
}
