@import '/projects/commudle-admin/src/assets/styles/variables.scss';

$primary-color: #536EFF;

.lab {
  width: 100%;
  background: $light-purple;

  .body {
    display: flex;
    justify-content: center;

    .menu {
      display: none;

      .user {
        padding: 0.5rem;
        margin-bottom: 1rem;
      }

      nb-card {
        border: none;
        border-radius: 10px;

        .steps {
          border-radius: 10px;

          nb-list-item:not(:last-child) {
            border-bottom: 2px solid rgba(83, 110, 255, 0.35);
            font-family: $primary-font-family;
          }

          .active {
            a {
              color: white;
            }

            background-color: $primary-color;
          }

          a {
            text-decoration: none;
            color: $primary-color;
          }
        }
      }

      .interactions {
        > div {
          display: flex;
          justify-content: space-around;
          flex-direction: row;

          p {
            margin: 0 1rem 0 0;
          }
        }
      }
    }

    .content {
      width: 100%;

      > nb-card {
        min-height: 50vh;
        border: none;
        border-radius: 10px;

        .introduction {
          display: flex;
          flex-direction: column;

          .lab-title {
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-weight: 500;
            font-family: $primary-font-family;
            text-transform: capitalize;
          }

          .lab-detail {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;

            .user-profile {
              display: flex;
              justify-content: flex-start;

              .avatar {
                img {
                  height: 24px;
                  width: 24px;
                  border-radius: 50%;
                }
              }

              .details {
                width: max-content;
                font-style: italic;

                p {
                  color: #979797;
                  margin: 0 1rem 0 0.5rem;
                  font-family: $primary-font-family;
                }

                .name {
                  text-transform: capitalize;
                  color: $primary-color;
                }
              }
            }

            .tags {
              margin-left: 1rem;
            }
          }

          @media all and (max-width: $tab-width) {
            .lab-detail {
              flex-direction: column;

              .user-profile {
                align-items: center;

                .details {
                  width: auto;
                }
              }

              .tags {
                margin: 1rem 0 0;
              }
            }
          }

          .header-image {
            max-width: 100%;
            overflow: hidden;

            img {
              width: 100%;
            }
          }

          > div.intro-content {
            width: 100%;

            ::ng-deep {
              img {
                max-width: 100%;
                height: auto;
              }

              code {
                white-space: pre-wrap;
              }

              > * {
                font-family: $primary-font-family;
              }
            }
          }
        }

        @media all and (max-width: $tab-width) {
          .introduction {
            .lab-title {
              font-size: 1.5rem;
              line-height: 1.75rem;
            }
          }
        }

        nb-card-footer {
          background-color: $light-purple;
          padding: 1.5rem 0 0;
          border: none;

          &.completed {
            background-color: #5073ff;
          }

          p {
            color: white;
          }
        }
      }

      .end-step-user-display {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 1.5rem;

        p {
          margin: 0 1rem;

          a {
            margin-left: 1rem;
          }
        }

        .user {
          width: 300px;
          border: 1px solid lightgrey;
        }
      }

    }

    .interactions {
      width: 75px;
      height: fit-content;
      margin-left: 1rem;
      position: sticky;
      top: 50vh;
      font-family: $primary-font-family;
      font-weight: 500;

      app-votes-display {
        direction: rtl;
      }

      .discussion {
        margin: 1.5rem 0;
      }
    }

    @media (min-width: 800px) {
      .menu {
        display: inline-flex !important;
        flex-direction: column;
        position: sticky;
        top: 4rem;
        height: fit-content;
        width: 250px;
        margin: 0 0.5rem 0 0;

        nb-card {
          width: 100%;
        }
      }

      .content {
        min-width: 500px;
        width: 70%;
      }
    }
  }

  .steps-navigation {
    display: flex;
    justify-content: space-between;

    button {
      color: white;
      background-color: $primary-color;
      border-radius: 10px;
      font-family: $primary-font-family;
    }
  }

  .lab-discussion {
    margin-top: 2rem;
  }
}

.image {
  @media screen and (min-width: 1300px) {
    width: 70vw;
  }

  @media screen and (max-width: 720px) {
    width: 80vw;
  }
}
