@import '/projects/commudle-admin/src/assets/styles/variables';

.lab {
  width: 100%;
  background: $light-purple;
  padding: $page-padding-top $page-horizontal-padding $page-padding-bottom;

  .body {
    max-width: 1152px;
    margin: 0 auto;

    nb-sidebar, .toggle-details {
      display: none;
    }

    .content {
      width: 100%;

      nb-card {
        min-height: 80vh;
        border: none;
        border-radius: $border-10;
        margin: 0 $space-16 $space-16;

        nb-card-body {
          padding: $space-64;

          .introduction {
            .lab-title {
              font-size: $fs-35;
              font-weight: $fw-500;
              line-height: 2.75rem;
              color: $gunmetal;
              text-transform: capitalize;
              margin: 0 0 $space-20;
            }

            .lab-detail {
              margin-bottom: $space-48;

              .user-profile {
                .avatar {
                  img {
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                  }
                }

                .details {
                  width: max-content;
                  font-style: italic;

                  p {
                    font-size: $fs-h5;
                    color: $spanish-gray;
                    margin: 0 $space-16 0 $space-8;
                  }

                  .name {
                    text-transform: capitalize;
                    color: $neon-blue;
                  }

                  .date {
                    font-style: normal;
                  }
                }
              }

              .tags {
                margin-left: $space-64;

                &::ng-deep {
                  .nb-tag-list-tags-wrapper {
                    nb-tag {
                      padding: $space-4 $space-12;
                      font-size: $fs-h7;
                      font-weight: $fw-400;
                      line-height: 12px;
                      text-transform: lowercase;
                      color: $gunmetal;
                      background-color: $azureish-white;
                      border: none;
                      border-radius: $border-5;
                    }
                  }
                }
              }
            }

            @media all and (max-width: $tab-width) {
              .lab-detail {
                flex-direction: column;

                .user-profile {
                  align-items: center;

                  .details {
                    width: auto;
                  }
                }

                .tags {
                  margin: $space-16 0 0;
                }
              }
            }

            .header-image {
              max-width: 900px;
              max-height: 350px;
              overflow: hidden;

              img {
                width: 100%;
              }
            }

            .intro-content {
              width: 100%;

              ::ng-deep {
                img {
                  max-width: 100%;
                  height: auto;
                }

                code {
                  white-space: pre-wrap;
                }

                @for $index from 1 through 6 {
                  h#{$index} {
                    color: $gunmetal;
                  }
                }

                p, li {
                  color: $raisin-black;
                  font-size: 1.1rem;
                  line-height: 1.5rem;
                }
              }
            }
          }
        }

        nb-card-footer {
          padding: $space-24 0 0;
          background-color: $light-purple;
          border: none;
        }

        @media all and (max-width: $tab-width) {
          nb-card-body {
            padding: $space-20;

            .introduction {
              .lab-title {
                font-size: 1.75rem;
                line-height: 1.75rem;
              }
            }
          }

          nb-card-footer {
            position: sticky;
            bottom: $space-64;
            padding: $space-8 0;
          }
        }
      }
    }

    .interactions {
      display: none;
      width: max-content;
      height: fit-content;
      margin-left: $space-16;
      position: sticky;
      top: 50vh;

      app-votes-display {
        direction: rtl;

        &::ng-deep {
          p {
            font-size: 1.5rem;

            span {
              color: $neon-blue;
            }

            nb-icon {
              font-size: 1.5rem;

              &:not(.voted-heart) {
                color: $neon-blue;
              }
            }
          }
        }
      }

      .discussion {
        margin: $space-24 0 0;
        font-size: $fs-24;
        color: $neon-blue;
      }

      nb-icon {
        font-size: $fs-24;
        color: $neon-blue;
      }
    }

    @media (min-width: $tab-width) {
      .content {
        max-width: 744px;
      }

      .interactions {
        display: block;
      }
    }
  }

  .steps-navigation {
    button {
      font-size: $fs-18;
      font-weight: $fw-500;
      text-transform: capitalize;
      color: $white;
      background-color: $neon-blue;
      border-radius: $border-10;
    }
  }

  .lab-discussion {
    margin: $space-32 0 0;
    padding: 0 0 $space-64;
  }
}

@media all and (max-width: $tab-width) {
  .lab {
    padding: $space-16 0 0;

    .body {
      flex-direction: column;
      justify-content: normal;

      .toggle-details {
        display: block;
        position: fixed;
        top: $space-96;
        left: 0;
        font-size: 2.25rem;
        padding: $space-4;
        color: white;
        background-color: $neon-blue;
        z-index: 3;
        border-top-right-radius: $border-10;
        border-bottom-right-radius: $border-10;
      }

      .desktop-lab-details {
        &::ng-deep {
          .menu {
            position: initial;
            top: initial;
            height: initial;
            width: 100%;

            nb-card {
              width: initial;
            }

            .user {
              margin: 0 $space-16 $space-16;
            }
          }
        }
      }

      nb-sidebar.right.expanded {
        display: inherit;

        &::ng-deep {
          .main-container {
            z-index: 3;
            top: $space-56;
            right: 0;
            width: 80vw;
            height: calc(100vh - 3.5rem);
            padding: $space-16;
            backdrop-filter: blur(20px);

            .scrollable {
              padding: 0;

              app-lab-details {
                .menu {
                  position: initial;
                  top: initial;
                  height: initial;
                  width: 100%;

                  nb-card {
                    width: initial;
                  }

                  .user {
                    margin: 0 $space-16 $space-16;
                  }

                  .related-labs {
                    margin: $space-16 0 $space-56;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.image {
  @media screen and (min-width: $max-page-width) {
    width: 70vw;
  }

  @media screen and (max-width: $tab-width) {
    width: 80vw;
  }
}
