<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="image-popup">
    <nb-card-header style="align-self: flex-end;">
      <nb-icon (click)="ref.close()" icon="close"></nb-icon>
    </nb-card-header>

    <nb-card-body>
      <img [src]="src" alt="" class="image">
    </nb-card-body>
  </nb-card>
</ng-template>

<div *ngIf="lab" class="lab page-padding">
  <div class="body">
    <div class="menu">
      <nb-card [routerLink]="['/users', lab.user.username]" class="user clickable">
        <nb-user [name]="lab.user.name" [picture]="lab.user.avatar" [title]="lab.user.designation"></nb-user>
      </nb-card>
      <nb-card class="steps">
        <nb-list>
          <nb-list-item (click)="setStep(-1)" [ngClass]="{'active': selectedLabStep === -1}"
                        [routerLink]="['/labs', lab.slug]"
                        class="clickable">
            <a [routerLink]="['/labs', lab.slug]">Overview</a>
          </nb-list-item>
          <nb-list-item (click)="setStep(i)" *ngFor="let step of lab.lab_steps; let i = index"
                        [ngClass]="{'active': selectedLabStep === i}" [routerLink]="['steps', lab.lab_steps[i].id]"
                        class="clickable">
            <div>
              <a [routerLink]="['steps', lab.lab_steps[i].id]">
                <div>
                  {{ step.name }}
                </div>
              </a>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card>
      <nb-card *ngIf="similarLabs.length > 0" class="related-labs">
        <nb-card-header>
          RELATED
        </nb-card-header>
        <nb-card-body>
          <div *ngFor="let lab of similarLabs" [routerLink]="['/labs', lab.slug]" class="details clickable">
            <p class="name">{{lab.name}}</p>
            <p class="type">LAB</p>
          </div>
        </nb-card-body>
      </nb-card>
      <div class="mobile-interactions">
        <app-votes-display [icon]="'heart-outline'" [votableId]="lab.id" [votableType]="'Lab'"></app-votes-display>
        <div (click)="scroll(discussionChatContainer)" *ngIf="discussionChat" class="discussion clickable">
          <nb-icon icon="message-circle-outline"></nb-icon>
          {{messagesCount}}
        </div>
      </div>
    </div>
    <div class="content">
      <app-user-object-visit-pixel [parentId]="lab.id" [parentType]="'Lab'"></app-user-object-visit-pixel>
      <nb-card>
        <nb-card-body>
          <div *ngIf="selectedLabStep === -1" class="introduction">
            <p class="lab-title">
              {{lab.name}}
            </p>
            <div class="lab-detail">
              <div class="user-profile">
                <div class="avatar">
                  <img alt="{{lab.user.name}}" src="{{lab.user.avatar}}">
                </div>
                <div class="details">
                  <p>
                    created by
                    <span class="name">{{lab.user.name}}</span>&nbsp;
                    <span>{{lab.created_at | date}}</span>
                  </p>
                </div>
              </div>
              <div class="tags">
                <app-tag [tags]="lab.tags"></app-tag>
              </div>
            </div>
            <div *ngIf="lab.header_image" class="header-image">
              <img alt="{{ lab.name }}" src="{{ lab.header_image.url }}">
            </div>
            <div #introCon [innerHTML]="labDescription" class="intro-content"></div>
          </div>
          <div>
            <router-outlet></router-outlet>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="steps-navigation">
            <button (click)="changeStep(-1)" *ngIf="selectedLabStep != -1"
                    [routerLink]="selectedLabStep === 0 ? [] : ['steps', this.lab.lab_steps[selectedLabStep - 1].id]"
                    nbButton>
              <span>
                <nb-icon icon="arrow-back"></nb-icon>
                Prev
              </span>
            </button>

            <span></span>

            <button (click)="changeStep(1)" *ngIf="selectedLabStep < lab.lab_steps.length - 1"
                    [routerLink]="['steps', this.lab.lab_steps[selectedLabStep + 1].id]" nbButton>
              <span>
                Next
                <nb-icon icon="arrow-forward"></nb-icon>
              </span>
            </button>
          </div>
        </nb-card-footer>
      </nb-card>

      <div #discussionChatContainer class="lab-discussion">
        <app-lab-discussion (messagesCount)="getMessagesCount($event)" *ngIf="discussionChat"
                            [discussion]="discussionChat"></app-lab-discussion>
      </div>
    </div>
    <div class="interactions">
      <app-votes-display [icon]="'heart-outline'" [votableId]="lab.id" [votableType]="'Lab'"></app-votes-display>
      <div (click)="scroll(discussionChatContainer)" *ngIf="discussionChat" class="discussion clickable">
        <nb-icon icon="message-circle-outline"></nb-icon>
        {{messagesCount}}
      </div>
    </div>
  </div>
</div>
