<div class="community-build">
  <div class="content">
    <h5>
      {{ cb.name }}
      <a target="_blank" class="external-link" [routerLink]="['/builds', cb.slug]">
        <small>{{cb.publish_status}}</small>
        <small *ngIf="[EPublishStatus.draft, EPublishStatus.submitted].includes(cb.publish_status)">Preview</small>
        <nb-icon icon="external-link"></nb-icon>
      </a>
    </h5>
    <p>
      <small>
        {{ moment(cb.created_at).fromNow() }}
      </small>
    </p>
    <div class="stats" *ngIf="stats">
      <p>
        {{stats.total_visitors}}
        <small>Total Visits</small>
      </p>
      <p>
        {{stats.unique_visitors}}
        <small>Unique Visitors</small>
      </p>
      <p>
        {{stats.total_votes}}
        <small>Stars</small>
      </p>
      <p>
        {{stats.total_comments}}
        <small>Comments</small>
      </p>
    </div>
  </div>
  <div class="status">
    <p>
      <app-badge
      [text]="cb.publish_status | titlecase"
      [color]="EPublishStatusColors[cb.publish_status]">
    </app-badge>
    </p>
  </div>
  <div class="build-type">
    <p>
      {{ cb.build_type | titlecase }}
    </p>
  </div>
  <div class="stats">
    <div>
      <app-votes-display
        [votableType]="'CommunityBuild'"
        [votableId]="cb.id"
        [icon]="'star'"
      ></app-votes-display>
    </div>
    <div class="tags">
      <app-badge *ngFor="let t of cb.tags" [text]="t"></app-badge>
    </div>
  </div>
  <div class="actions">
    <div>
      <button nbButton status="info" outline fullWidth size="tiny" [routerLink]="['/builds', cb.slug, 'edit']">
        <nb-icon icon="edit"></nb-icon>
        Edit
      </button>
    </div>
    <div>
      <button nbButton status="danger" outline fullWidth size="tiny" (click)="openDeleteConfirmation(cb)">
        <nb-icon icon="close-circle"></nb-icon>
        Delete
      </button>
    </div>
  </div>
</div>
<ng-template #imageTemplate let-data>
  <div class="image-window">
    <img src="{{data.imageUrl}}">
  </div>
</ng-template>

<ng-template #confirmDeleteTemplate let-data>

  <div>
    <button nbButton size="small" status="basic" (click)="destroyBuild(data.cb.id)">Yes</button>
    <button nbButton size="small" status="danger" (click)="windowRef.close()">No</button>
  </div>
</ng-template>
