<section class="com-flex">
  <div class="sidebar">
    <commudle-sidebar
      [isExpanded]="true"
      [expandedWidth]="'extra-large'"
      [forWindow]="true"
      [showExpandedButton]="false"
    >
      <div class="com-h-28">
        <div class="community-details">
          <div class="community-logo">
            <img [src]="community.logo_path" alt="" />
          </div>
          <div class="community-name">
            <p>
              {{ community.name }}
            </p>
          </div>
        </div>
      </div>
      <div class="action-buttons">
        <a
          [routerLink]="['/communities', community.slug, 'events', event.slug]"
          target="_blank"
          class="action-button public-event-page"
        >
          <div class="icon">
            <fa-icon [icon]="icons.faUpRightFromSquare"></fa-icon>
          </div>
          <div class="heading">Public Event Page</div>
        </a>
        <a [routerLink]="['stats']" target="_blank" class="action-button stats">
          <div class="icon">
            <fa-icon [icon]="icons.faUpRightFromSquare"></fa-icon>
          </div>
          <div class="heading">Event Stats</div>
        </a>
        <a class="action-button">
          <div class="icon">
            <fa-icon [icon]="icons.faUserGroup"></fa-icon>
          </div>
          <div class="heading">View Attended Members</div>
        </a>
        <a class="action-button">
          <div class="icon">
            <fa-icon [icon]="icons.faShareNodes"></fa-icon>
          </div>
          <div class="heading">Share Event</div>
        </a>
        <hr class="com-border-Bright-Gray com-border com-border-solid" />
        <div class="!com-px-0 com-my-2">
          <app-event-status (updatedEventStatus)="event.event_status = $event" [event]="event"></app-event-status>
        </div>
        <a
          class="action-button"
          [routerLink]="['./']"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="icon">
            <nb-icon icon="info-outline"></nb-icon>
          </div>
          <div class="heading">Event Details</div>
        </a>
        <a
          *ngIf="event.event_status.name !== EEventStatuses.DRAFT"
          [routerLink]="['updates']"
          [routerLinkActive]="'active'"
          class="action-button"
        >
          <div class="icon">
            <nb-icon icon="star-outline"></nb-icon>
          </div>
          <div class="heading">Updates</div>
        </a>

        <a [routerLink]="['registrations']" [routerLinkActive]="'active'" class="action-button">
          <div class="icon">
            <nb-icon icon="edit-2-outline"></nb-icon>
          </div>
          <div class="heading">Registrations</div>
        </a>
        <a [routerLink]="['agenda']" [routerLinkActive]="'active'" class="action-button">
          <div class="icon">
            <nb-icon icon="calendar-outline"></nb-icon>
          </div>
          <div class="heading">Agenda</div>
        </a>
        <a [routerLink]="['collaborations']" [routerLinkActive]="'active'" class="action-button">
          <div class="icon">
            <nb-icon icon="pricetags-outline"></nb-icon>
          </div>
          <div class="heading">Collaborations</div>
        </a>
        <a [routerLink]="['volunteers']" [routerLinkActive]="'active'" class="action-button">
          <div class="icon">
            <nb-icon icon="headphones-outline"></nb-icon>
          </div>
          <div class="heading">Team</div>
        </a>
        <a [routerLink]="['sponsors']" [routerLinkActive]="'active'" class="action-button">
          <div class="icon">
            <nb-icon icon="briefcase-outline"></nb-icon>
          </div>
          <div class="heading">Sponsors</div>
        </a>
        <a [routerLink]="['emails']" [routerLinkActive]="'active'" class="action-button">
          <div class="icon">
            <nb-icon icon="email-outline"></nb-icon>
          </div>
          <div class="heading">Emails</div>
        </a>
        <!-- <a class="action-button" (click)="openGuide()">
          <div class="icon">
            <nb-icon icon="question-mark-circle-outline"></nb-icon>
          </div>
          <div class="heading">Guide</div>
        </a> -->
      </div>
    </commudle-sidebar>
  </div>
  <div class="right-column">
    <div class="event-details">
      <h1 class="event-name">{{ event.name }}</h1>

      <p class="text">Welcome to event dashboard, here you can manage your event</p>
    </div>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
