<section class="event-details">
  <app-community-badge [community]="community" size="small"></app-community-badge>
  <h1 class="event-name">{{ event.name }}</h1>
  <p class="text">Welcome to event dashboard, here you can manage your event</p>
  <div class="com-flex com-gap-4 com-flex-wrap" *appBreakpoints="'<=md'">
    <div class="com-flex com-justify-between com-w-full">
      <a
        [routerLink]="['/communities', community.slug, 'events', event.slug]"
        nbButton
        size="small"
        status="info"
        target="_blank"
      >
        Public Event Page
        <nb-icon icon="external-link"></nb-icon>
      </a>
      <a [routerLink]="['stats']" nbButton size="small" status="success" target="_blank" class="com-w-1/2">
        <nb-icon icon="trending-up-outline"></nb-icon>
        Stats<sup>new</sup> &nbsp;
        <nb-icon icon="external-link"></nb-icon>
      </a>
    </div>
    <a
      [routerLink]="['/communities', community.slug, 'events', event.slug, 'attended-members']"
      target="_blank"
      nbButton
      outline
      size="small"
      status="primary"
      fullWidth
    >
      View attended members
    </a>
  </div>
</section>

<section class="md:com-flex">
  <div class="sidebar" *appBreakpoints="'>md'">
    <commudle-sidebar
      [isExpanded]="true"
      [expandedWidth]="'extra-large'"
      [forWindow]="false"
      [showExpandedButton]="false"
    >
      <div class="action-buttons">
        <a [routerLink]="['/admin', 'communities', community.slug]" class="back-admin">
          <div class="icon">
            <fa-icon [icon]="icons.faArrowLeft"></fa-icon>
          </div>
          <div class="heading">Back to Admin Panel</div>
        </a>
        <div class="!com-px-0 com-my-3">
          <app-event-status (updatedEventStatus)="event.event_status = $event" [event]="event"></app-event-status>
        </div>
        <div class="category">
          <div class="category-heading">
            <span>Event Setup</span>
          </div>
          <a
            class="action-button"
            [routerLink]="['./']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <div class="icon">
              <nb-icon icon="info-outline"></nb-icon>
            </div>
            <div class="heading">Details</div>
          </a>
          <a [routerLink]="['registrations']" [routerLinkActive]="'active'" class="action-button">
            <div class="icon">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </div>
            <div class="heading">Registrations</div>
          </a>
          <a [routerLink]="['agenda']" [routerLinkActive]="'active'" class="action-button">
            <div class="icon">
              <nb-icon icon="calendar-outline"></nb-icon>
            </div>
            <div class="heading">Agenda</div>
          </a>
        </div>
        <div class="category-heading">
          <span>More</span>
        </div>
        <a
          *ngIf="event.event_status.name !== EEventStatuses.DRAFT"
          [routerLink]="['updates']"
          [routerLinkActive]="'active'"
          class="action-button"
        >
          <div class="icon">
            <nb-icon icon="star-outline"></nb-icon>
          </div>
          <div class="heading">Updates</div>
        </a>
        <a [routerLink]="['collaborations']" [routerLinkActive]="'active'" class="action-button">
          <div class="icon">
            <nb-icon icon="pricetags-outline"></nb-icon>
          </div>
          <div class="heading">Collaborations</div>
        </a>
        <a [routerLink]="['volunteers']" [routerLinkActive]="'active'" class="action-button">
          <div class="icon">
            <nb-icon icon="headphones-outline"></nb-icon>
          </div>
          <div class="heading">Team</div>
        </a>
        <a [routerLink]="['sponsors']" [routerLinkActive]="'active'" class="action-button">
          <div class="icon">
            <nb-icon icon="briefcase-outline"></nb-icon>
          </div>
          <div class="heading">Sponsors</div>
        </a>
        <a (click)="sendEmails()" class="action-button">
          <div class="icon">
            <fa-icon [icon]="icons.faEnvelope"></fa-icon>
          </div>
          <div class="heading">Send Emails</div>
        </a>
        <div class="category-heading">
          <div>Public Event Page</div>
        </div>
        <a
          [routerLink]="['/communities', community.slug, 'events', event.slug]"
          target="_blank"
          class="action-button public-event-page"
        >
          <div class="icon">
            <fa-icon [icon]="icons.faUpRightFromSquare"></fa-icon>
          </div>
          <div class="heading">Public Event Page</div>
        </a>
        <a [routerLink]="['stats']" class="action-button stats" [routerLinkActive]="'active'">
          <div class="icon">
            <fa-icon [icon]="icons.faChartLine"></fa-icon>
          </div>
          <div class="heading">Event Stats</div>
        </a>
        <a
          class="action-button"
          [routerLink]="['/communities', community.slug, 'events', event.slug, 'attended-members']"
          target="_blank"
        >
          <div class="icon">
            <fa-icon [icon]="icons.faUpRightFromSquare"></fa-icon>
          </div>
          <div class="heading">View Attended Members</div>
        </a>
        <a class="action-button" (click)="copyTextToClipboard()">
          <div class="icon">
            <fa-icon [icon]="icons.faShareNodes"></fa-icon>
          </div>
          <div class="heading">Share Event</div>
        </a>
        <a
          [routerLink]="['/admin', 'communities', community.slug, 'event-dashboard', event.slug, 'scan-entry-pass']"
          target="_blank"
          class="action-button public-event-page"
        >
          <div class="icon">
            <fa-icon [icon]="icons.faUpRightFromSquare"></fa-icon>
          </div>
          <div class="heading">Scan Entry Pass</div>
        </a>

        <a [routerLink]="['emails']" [routerLinkActive]="'active'" class="action-button">
          <div class="icon">
            <fa-icon [icon]="icons.faEnvelopeOpen"></fa-icon>
          </div>
          <div class="heading">Mails Sent Stats</div>
        </a>
      </div>
    </commudle-sidebar>
  </div>

  <div class="right-column">
    <div *appBreakpoints="'<=md'" class="event-dashboard-menu">
      <nb-card>
        <nb-card-body>
          <div class="com-scrollbar-hide">
            <a
              class="action-button"
              [routerLink]="['./']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <div class="icon">
                <nb-icon icon="info-outline"></nb-icon>
              </div>
              <div class="heading">Details</div>
            </a>
            <a
              *ngIf="event.event_status.name !== EEventStatuses.DRAFT"
              [routerLink]="['updates']"
              [routerLinkActive]="'active'"
              class="action-button"
            >
              <div class="icon">
                <nb-icon icon="star-outline"></nb-icon>
              </div>
              <div class="heading">Updates</div>
            </a>

            <a [routerLink]="['registrations']" [routerLinkActive]="'active'" class="action-button">
              <div class="icon">
                <nb-icon icon="edit-2-outline"></nb-icon>
              </div>
              <div class="heading">Registrations</div>
            </a>
            <a [routerLink]="['agenda']" [routerLinkActive]="'active'" class="action-button">
              <div class="icon">
                <nb-icon icon="calendar-outline"></nb-icon>
              </div>
              <div class="heading">Agenda</div>
            </a>
            <a [routerLink]="['collaborations']" [routerLinkActive]="'active'" class="action-button">
              <div class="icon">
                <nb-icon icon="pricetags-outline"></nb-icon>
              </div>
              <div class="heading">Collaborations</div>
            </a>
            <a [routerLink]="['volunteers']" [routerLinkActive]="'active'" class="action-button">
              <div class="icon">
                <nb-icon icon="headphones-outline"></nb-icon>
              </div>
              <div class="heading">Team</div>
            </a>
            <a [routerLink]="['sponsors']" [routerLinkActive]="'active'" class="action-button">
              <div class="icon">
                <nb-icon icon="briefcase-outline"></nb-icon>
              </div>
              <div class="heading">Sponsors</div>
            </a>
            <a [routerLink]="['emails']" [routerLinkActive]="'active'" class="action-button">
              <div class="icon">
                <nb-icon icon="email-outline"></nb-icon>
              </div>
              <div class="heading">Emails</div>
            </a>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
