.community-build-card {
  @apply com-flex com-flex-col md:com-flex-row com-no-underline com-rounded-lg com-overflow-hidden com-transition-shadow hover:com-shadow-lg;
  border: 0.5px solid #c4c4c4;

  img {
    @apply com-w-full com-h-48 com-object-cover;

    @screen md {
      width: 12rem;
      min-width: 12rem;
    }
  }

  .details {
    @apply com-p-4 com-w-full;

    .prefix {
      @apply com-flex com-justify-between com-items-center;

      .date {
        @apply com-m-0;
      }
    }

    .section {
      .title,
      .content {
        @apply com-my-2;
      }

      .content {
        @apply com-line-clamp-2;
      }
    }

    .suffix {
      @apply com-flex com-justify-between com-items-center;

      .interactions {
        @apply com-flex com-gap-2 com-items-center;
      }
    }
  }
}
