.session-time {
  @apply com-pr-2 com-flex com-justify-center com-flex-col;
  border-right: 3px solid lightgrey;

  p {
    margin: 0;
    text-align: right;
  }

  p:nth-of-type(1) {
    font-size: 1.2rem;
  }

  p:nth-of-type(2) {
    margin-top: 0.2rem;
    font-size: 0.9rem;
  }
}

.session-details {
  width: 90%;
  padding-left: 0.5rem;

  .session-title {
    p:nth-of-type(1) {
      @apply com-text-base;
      @apply com-mt-1 com-mb-0;
      font-weight: normal;
    }

    .tag-badge {
      @apply com-mt-0 com-mb-0 com-p-0 com-flex com-space-x-1;
    }

    .session-speaker {
      @apply com-mt-1 com-flex com-flex-col com-gap-3;
    }
  }

  .links {
    @apply com-flex com-flex-col;

    .session-links {
      @apply com-mt-1 com-mr-7;

      .add-session,
      .edit-session {
        @apply com-text-xs com-flex com-items-center;

        nb-icon {
          @apply com-text-xs com-ml-1 com-cursor-pointer;
        }
      }
    }
  }

  .public-session {
    @apply com-mt-1;
    a {
      @apply com-text-xs com-flex com-items-center;

      nb-icon {
        @apply com-text-xs com-ml-1 com-cursor-pointer;
      }
    }
  }
}
