p {
  @apply com-m-0;
}

.entry-pass-scan-container {
  nb-card-header {
    @apply com-flex com-flex-col md:com-flex-row md:com-items-center com-justify-between com-gap-4;

    .actions {
      @apply com-flex com-gap-2;
    }
  }

  nb-card-body {
    .scanner-controls {
      @apply com-flex com-flex-col-reverse md:com-flex-row com-items-center com-justify-between com-gap-4 com-mb-4;

      .camera-controls {
        @apply com-flex com-items-center com-gap-2 com-w-full;
      }
    }

    .scanner {
      @apply com-relative;

      nb-alert {
        @apply com-p-6 com-absolute com-top-4 com-left-1/2 com--translate-x-1/2 com-w-72;
      }

      zxing-scanner {
        @apply com-mx-auto com-h-[35dvh] com-aspect-[1/1];

        ::ng-deep {
          video {
            @apply com-aspect-[1/1];
          }
        }
      }
    }

    .divider {
      @apply com-flex com-justify-center com-my-2 com-mx-auto com-w-full;
    }

    .manual-entry-pass {
      @apply com-mx-auto com-w-max;
    }
  }
}
