<div class="page-container">
  <nb-card>
    <nb-card-body>
      <nb-list>
        <nb-list-item
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste ex doloremque earum nihil, ad quos
          blanditiis odio ipsam velit optio cupiditate quam deserunt, maxime repellat impedit dolores harum.
          Quisquam.</nb-list-item
        >
        <nb-list-item
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste ex doloremque earum nihil, ad quos
          blanditiis odio ipsam velit optio cupiditate quam deserunt, maxime repellat impedit dolores harum.
          Quisquam.</nb-list-item
        >
        <nb-list-item
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste ex doloremque earum nihil, ad quos
          blanditiis odio ipsam velit optio cupiditate quam deserunt, maxime repellat impedit dolores harum.
          Quisquam.</nb-list-item
        >
        <nb-list-item
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste ex doloremque earum nihil, ad quos
          blanditiis odio ipsam velit optio cupiditate quam deserunt, maxime repellat impedit dolores harum.
          Quisquam.</nb-list-item
        >
        <nb-list-item
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste ex doloremque earum nihil, ad quos
          blanditiis odio ipsam velit optio cupiditate quam deserunt, maxime repellat impedit dolores harum.
          Quisquam.</nb-list-item
        >
        <nb-list-item
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste ex doloremque earum nihil, ad quos
          blanditiis odio ipsam velit optio cupiditate quam deserunt, maxime repellat impedit dolores harum.
          Quisquam.</nb-list-item
        >
        <nb-list-item
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste ex doloremque earum nihil, ad quos
          blanditiis odio ipsam velit optio cupiditate quam deserunt, maxime repellat impedit dolores harum.
          Quisquam.</nb-list-item
        >
        <nb-list-item
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste ex doloremque earum nihil, ad quos
          blanditiis odio ipsam velit optio cupiditate quam deserunt, maxime repellat impedit dolores harum.
          Quisquam.</nb-list-item
        >
        <nb-list-item
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste ex doloremque earum nihil, ad quos
          blanditiis odio ipsam velit optio cupiditate quam deserunt, maxime repellat impedit dolores harum.
          Quisquam.</nb-list-item
        >
        <nb-list-item
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste ex doloremque earum nihil, ad quos
          blanditiis odio ipsam velit optio cupiditate quam deserunt, maxime repellat impedit dolores harum.
          Quisquam.</nb-list-item
        >
        <nb-list-item
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste ex doloremque earum nihil, ad quos
          blanditiis odio ipsam velit optio cupiditate quam deserunt, maxime repellat impedit dolores harum.
          Quisquam.</nb-list-item
        >
        <nb-list-item
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste ex doloremque earum nihil, ad quos
          blanditiis odio ipsam velit optio cupiditate quam deserunt, maxime repellat impedit dolores harum.
          Quisquam.</nb-list-item
        >
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>
