@import './projects/commudle-admin/src/assets/styles/variables';

.container {
  .two-column-layout {
    @media all and (max-width: 1280px) {
      display: flex;
      flex-direction: column;
    }

    .left-column {
      h5 {
        margin: 0;
      }
    }

    .right-column {
      nb-card {
        nb-card-body {
          padding: 1rem;

          .loading-spinner {
            .spinner {
              height: 40px;

              & > div {
                animation: stretch-delay 1.2s infinite ease-in-out;
                background-color: $cadet;
                display: inline-block;
                height: 100%;
                margin: 0 1px;
                width: 4px;

                &:nth-child(2) {
                  animation-delay: -1.1s;
                }

                &:nth-child(3) {
                  animation-delay: -1s;
                }

                &:nth-child(4) {
                  animation-delay: -0.9s;
                }

                &:nth-child(5) {
                  animation-delay: -0.8s;
                }
              }

              @keyframes stretch-delay {
                0%,
                40%,
                100% {
                  transform: scaleY(0.4);
                }
                20% {
                  transform: scaleY(1);
                }
              }
            }
          }
        }
      }
    }
  }
}
