<nb-card class="admin-badges-form" >
    <nb-card-header class="d-flex justify-content-space-between align-items-center">
        Badges
        <button [routerLink]="['/sys-admin', 'badges']" ghost nbButton shape="round" size="small">Show All Badges</button>
    </nb-card-header>
    <nb-card-body>
        <form (submit)="submitForm()" [formGroup]="badgeForm" class="form-fields d-flex flex-column" >
            <label>
                Name*
                <input formControlName="name" fullWidth nbInput type="text" />
            </label>
            <label>
                Badge Type*
                <nb-select formControlName="badge_type" fullWidth placeholder="Select Badge Type">
                    <nb-option value="expert">Expert</nb-option>
                    <nb-option value="author">Author</nb-option>
                </nb-select>
            </label>
            <label>
                Image*
                <input (change)="addImage($event)" accept="image/svg+xml" fullWidth nbInput type="file" />
            </label>
            <nb-list class="files-list">
                <nb-list-item *ngIf="imageUploaded" class="justify-content-space-between flex-wrap">
                  <div *ngIf="imageSrc" >
                    <img [src]="imageSrc" alt="No preview available" height="200px"/>
                  </div>
                  <button (click)="deleteImage()" ghost nbButton size="tiny" status="danger">Delete</button>
                </nb-list-item>
            </nb-list>
            <button [disabled]="!badgeForm.valid || !imageUploaded" fullWidth ghost nbButton status="primary" type="submit">
                {{badge ? 'Update Badge' : 'Create Badge'}}
            </button>
        </form>
    </nb-card-body>
</nb-card>
