@import '/projects/commudle-admin/src/assets/styles/variables';

.admin-badges-form {
  nb-card-body {
    .form-fields {
      label, button {
        margin: $space-8 0;
      }
    }

    .image-container {

      display: flex;
      justify-content: center;
      align-items: center;
      
      img{
        height: 200px;
      }
    }
  }
}