<div>
  <div class="event-statuses" *ngIf="event.editable">
    <div
      class="clickable event-status"
      [ngClass]="{'selected': event.event_status.name == i}" *ngFor="let i of eventStatuses"
      (click)="updateStatus(i)"
      [nbPopover]="rules" nbPopoverTrigger="hover" nbPopoverPlacement="bottom">
      {{ i | titlecase }}
    </div>
  </div>

  <div>
    <nb-alert status="success" *ngIf="!event.editable">
      This event is completed!
    </nb-alert>
  </div>



  <ng-template #rules>
    <div class="rules">
      <ul>
        <li><strong>DRAFT</strong>: The event can be seen only by organizers</li>
        <li><strong>OPEN</strong>: The event is visible publicly</li>
        <li><strong>COMPLETED</strong>: The event is completed (the system automatically marks it in 24 hours of end time, if you forget to)</li>
        <li><strong>CANCELED</strong>: Organizers canceled the event</li>
      </ul>
      <p>** An event can be edited up to 5 days post end time.</p>
    </div>
  </ng-template>
</div>
