.event-statuses {
  display: flex;
  justify-content: space-around;

  .event-status {
    flex-grow: 1;
    text-align: center;
    padding: 5px;;
    height: fit-content;
    border: 0.5px solid #ffffff59;
    background: #cfcfcf;
    &:hover {
      color: #507eff;
      border-color: #507eff;
    }
    &.selected {
      background-color: #507eff;
      color: white;
    }
  }
}

.rules {
  padding: 1rem;
}

.info {
  padding: 0rem;
  display: flex;
  align-items: center;
  nb-icon {
    font-size: 1.1rem;
  }
}


nb-alert {
  margin-bottom: 0;
}
