<div class="user-social">
  <div class="header" *ngIf="socialResources && socialResources.length > 0">
    My Content
  </div>
  <div *ngIf="currentUser && currentUser.id === user.id" class="user-social-add d-flex">
    <button (click)="onOpenDialog()" ghost nbButton status="primary">
      <nb-icon icon="plus-circle"></nb-icon>
      Share your content from anywhere on the web!
    </button>
    <button (click)="toggleEditView()" *ngIf="socialResources && socialResources.length > 1"
            [status]="isEditing ? 'success' : 'warning'" ghost nbButton>
      <nb-icon [icon]="isEditing ? 'checkmark-circle-2' : 'flip-2'"></nb-icon>
      {{isEditing ? 'Save order' : 'Edit order'}}
    </button>
  </div>
  <nb-alert *ngIf="currentUser && currentUser.id === user.id" [ngClass]="{'active': isEditing}"
            class="user-social-alert" status="info">
    You can drag and drop the items!
  </nb-alert>
  <nb-list (cdkDropListDropped)="drop($event)" *ngIf="socialResources && socialResources.length > 0" cdkDropList
           class="user-social-cards">
    <nb-list-item *ngFor="let socialResource of socialResources" [cdkDragDisabled]="!isEditing"
                  [ngClass]="{'active': isEditing}" cdkDrag>
      <app-user-social-card (deleteResource)="deleteSocialResource($event)" [currentUser]="currentUser"
                            [socialResource]="socialResource" [user]="user"></app-user-social-card>
    </nb-list-item>
  </nb-list>
</div>

<ng-template #addLinkDialog>
  <nb-card class="user-social-popup max-full-height-dialog-card">
    <nb-card-header class="d-flex justify-content-space-between">
      <div>Share your content from the Web</div>
      <button (click)="onCloseDialog()" nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body [nbSpinner]="isLoading">
      <nb-form-field>
        <nb-icon icon="link" nbPrefix></nb-icon>
        <input (ngModelChange)="socialLinkChanged.next($event)" [ngModel]="socialLink" nbInput fullWidth
               placeholder="Paste a link to begin" type="url">
      </nb-form-field>
      <form *ngIf="showLinkPreview" [formGroup]="socialResourcesForm"
            class="user-social-popup-details d-flex flex-column">
        <div class="user-social-popup-heading">Source</div>
        <img alt="{{linkPreview.title}}" class="user-social-popup-favicon" src="{{linkPreview.favicon}}">
        <div class="user-social-popup-heading">Image</div>
        <div class="user-social-popup-image">
          <img alt="{{linkPreview.title}}" src="{{linkPreview.images[0]}}">
        </div>
        <div class="user-social-popup-heading">Title*</div>
        <input formControlName="title" fullWidth nbInput type="text">
        <div class="user-social-popup-heading">Description*</div>
        <textarea formControlName="description" fullWidth nbInput rows="5"
                  type="text"></textarea>
        <div class="user-social-popup-heading">Tags*</div>
        <app-tag (tagAdd)="addTag($event)" (tagDelete)="removeTag($event)" [editable]="true" [tags]="tags"></app-tag>
      </form>
    </nb-card-body>
    <nb-card-footer *ngIf="showLinkPreview" class="d-flex justify-content-space-between">
      <button (click)="onCloseDialog()" ghost nbButton size="small" status="danger">
        Cancel
      </button>
      <button (click)="addSocialResource()" [disabled]="!socialResourcesForm.valid || tags.length === 0" nbButton
              status="success">
        Submit
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
