<div *ngIf="users.length > 0">
  <nb-card>
    <nb-card-header>
      Interested Members!
    </nb-card-header>
    <nb-card-body>
      <div class="users">
        <div class="user" *ngFor="let user of users" nbTooltip="{{ user.name }}">
          <div class="profile-picture">
            <img src="{{ user.avatar }}" alt="{{ user.name }}">
          </div>
        </div>
        <p>
          <span *ngIf="totalCount > 0">... + {{ totalCount }} More</span>
        </p>
      </div>


      <nb-alert *ngIf="event.event_status.name === EEventStatuses.OPEN" status="info">
        Entry By Invite Only!
      </nb-alert>
    </nb-card-body>
  </nb-card>
</div>
