@import './apps/commudle-admin/src/assets/styles/variables';

.external-feed {
  .left-column {
    margin-top: 10px;
    width: 264px;

    .tag-checkboxes {
      border: $border-1;
      box-shadow: none;

      font-weight: $fs-h7;
      font-size: $fs-30;
      text-align: left;

      margin-top: $space-4;
      margin-left: $space-10;

      padding-left: $space-32;
      padding-top: $space-20;
      padding-bottom: $space-20;

      .header {
        height: 50px;
        font-weight: $fw-500;
        font-size: $fs-25;
        text-align: justify;
      }

      .tag-checkbox {
        font-size: $fs-16;

        .label {
          display: inline-block;
        }
      }
    }
  }

  .right-column {
    width: 700px;

    .header {
      border: $border-1;
      box-shadow: none;

      h1 {
        font-weight: $fw-500;

        nb-icon {
          font-size: $fs-40;
          font-weight: $fw-500;
        }
      }
    }

    .sorting {
      border: $border-1;
      box-shadow: none;

      button {
        margin: 10px;
        background-color: white;
        font-size: 16px;
        border: none;
        text-align: center;
        width: 100px;
      }

      .white {
        background-color: white;
      }

      .light-purple {
        background-color: $light-purple;
      }
    }
  }
}

@media (min-width: $mobile-width) {
  .external-feed {
    .page-container {
      margin: 0 auto;
    }
  }
}
