<nb-card>
  <nb-card-body>
    <div class="track-details">
      <div>
        <p class="name">{{ hackathonPrize.name }}</p>
      </div>
      <div class="action-buttons">
        <button nbButton ghost status="primary" (click)="editPrize(hackathonPrize)">Edit</button>
        <button nbButton ghost status="danger" (click)="deletePrize(hackathonPrize.id)">Delete</button>
      </div>
    </div>
    <div class="prize-details">
      <div class="track-details">
        <div *ngIf="hackathonPrize.hackathon_track" class="track-name">{{ hackathonPrize.hackathon_track.name }}</div>
      </div>
      <p class="prize">
        {{ this.prizeCurrencySymbol?.symbol }}{{ hackathonPrize.prize_amount }}, {{ hackathonPrize.no_of_winners }}
        {{ hackathonPrize.no_of_winners === 1 ? 'Winner' : 'Winners' }}
      </p>
      <div class="description" [innerHTML]="hackathonPrize.description"></div>
    </div>
    <div>
      <button nbButton fullWidth status="primary" (click)="openPrizeDistributionDialogBox(prizeDistributionDialogBox)">
        Add Winners
      </button>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #prizeDistributionDialogBox let-ref="dialogRef" let-data>
  <nb-card class="prize-distribution-dialog-box">
    <nb-card-header>
      <span> {{ hackathonPrize.name }} ({{ this.prizeCurrencySymbol?.symbol }}{{ hackathonPrize.prize_amount }}) </span>
      <button nbButton ghost shape="round" (click)="ref.close()">X</button>
    </nb-card-header>
    <nb-card-body>
      <table>
        <tr>
          <th width="30%">Team Name</th>
          <th width="10%">Round</th>
          <th width="40%">Build/ Project Name</th>
          <th width="20%">Prize</th>
        </tr>
        <tr
          *ngFor="let userResponse of hackathonUserResponses; let i = index"
          (click)="addWinner(userResponse.team, i)"
          [ngClass]="{ winner: userResponse.team.hackathon_winners.length > 0 }"
        >
          <td>{{ userResponse.team.name }}</td>
          <td>{{ userResponse.team.round?.name }}</td>
          <td>{{ userResponse.team.community_build?.name }}</td>
          <td>
            <div *ngFor="let hackathonWinner of userResponse.team.hackathon_winners; let wi = index">
              <span (click)="$event.stopPropagation()" class="prizes">
                <span>
                  {{ hackathonWinner.hackathon_prize.name }}
                </span>
                <fa-icon [icon]="icons.faXmark" (click)="removeWinner(hackathonWinner.id, i, wi)"></fa-icon>
              </span>
            </div>
          </td>
        </tr>
      </table>
    </nb-card-body>
  </nb-card>
</ng-template>
