<section class="com-p-4">
  <div class="com-my-3">
    <button
      class="!com-bg-Blue-Lotus hover:!com-bg-Blue-Lotus/90"
      (click)="openDialogBox(StripeConnectAccount)"
      nbButton
      status="primary"
    >
      <span class="com-font-semibold com-text-xs"> Connect Bank Account </span>
    </button>
  </div>

  <app-loading-spinner *ngIf="isUpdating"></app-loading-spinner>

  <table *ngIf="stripeAccounts.length > 0" class="com-mt-4">
    <tr>
      <th>Active</th>
      <!-- <th>Actions</th> -->
      <th>Charges Enabled</th>
      <th>Payouts Enabled</th>
      <th>Bank Details</th>
    </tr>
    <tr *ngFor="let stripeAccount of stripeAccounts">
      <td>
        <p>{{ stripeAccount.active }}</p>
      </td>
      <!-- <td>
        <a>{{ stripeAccount.details.external_accounts.url }}</a>
      </td> -->
      <td>
        <p>{{ stripeAccount.details.charges_enabled }}</p>
      </td>
      <td>
        <p>{{ stripeAccount.details.payouts_enabled }}</p>
      </td>
      <td>
        <div *ngIf="stripeAccount.details.external_accounts.data.length >= 1">
          <details *ngFor="let bankDetails of stripeAccount.details.external_accounts.data">
            <summary>{{ bankDetails.bank_name }}</summary>
            <p>
              <span>****{{ bankDetails.last4 }}</span>
              <br />
              <span>{{ bankDetails.routing_number }}</span>
              <br />
              <span>{{ bankDetails.account_holder_name }}</span>
              <br />
              <span>{{ bankDetails.currency | uppercase }}</span>
            </p>
          </details>
        </div>
        <div *ngIf="stripeAccount.details.external_accounts.data.length <= 0">
          <strong> No Band Details Found </strong>
        </div>
      </td>
    </tr>
  </table>
</section>

<ng-template #StripeConnectAccount let-data let-ref="dialogRef">
  <nb-card class="com-max-h-[90dvh]">
    <nb-card-header>
      <div class="com-flex com-justify-between">
        <div>Create Stripe Account</div>
        <button (click)="ref.close(); stripeConnectAccountForm.reset()" ghost nbButton shape="round" size="small">
          <nb-icon icon="close"></nb-icon>
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="stripeConnectAccountForm" *ngIf="!isLoading">
        <div class="com-flex com-flex-col com-gap-3">
          <!-- Name* -->
          <label>
            Name*
            <input fieldSize="small" formControlName="name" placeholder="Name" fullWidth nbInput type="string" />
            <span
              *ngIf="
                stripeConnectAccountForm.get('name').touched &&
                stripeConnectAccountForm.get('name').invalid &&
                stripeConnectAccountForm.get('name').errors.required
              "
            >
              <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
            </span>
          </label>

          <!-- Email* -->
          <label>
            Email*
            <input fieldSize="small" formControlName="email" placeholder="Email" fullWidth nbInput type="email" />
            <span
              *ngIf="
                stripeConnectAccountForm.get('email').touched &&
                stripeConnectAccountForm.get('email').invalid &&
                stripeConnectAccountForm.get('email').errors.required
              "
            >
              <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
            </span>
          </label>

          <!-- Phone* -->
          <label>
            Phone*
            <div class="com-flex com-flex-row com-gap-2 com-h-auto">
              <div class="select !com-w-32">
                <select formControlName="phone_country_code">
                  <option *ngFor="let country of countries" [value]="country.phone">
                    +{{ country.phone }} ({{ country.name }})
                  </option>
                </select>
              </div>
              <input
                fieldSize="small"
                formControlName="phone"
                placeholder="Phone Number"
                fullWidth
                nbInput
                type="number"
              />
            </div>
            <span
              *ngIf="
                stripeConnectAccountForm.get('phone').touched &&
                stripeConnectAccountForm.get('phone').invalid &&
                stripeConnectAccountForm.get('phone').errors.required
              "
            >
              <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
            </span>
          </label>

          <!-- Address* -->
          <label>
            Address*
            <textarea fieldSize="small" formControlName="address" placeholder="Address" fullWidth nbInput type="string">
            </textarea>
            <span
              *ngIf="
                stripeConnectAccountForm.get('address').touched &&
                stripeConnectAccountForm.get('address').invalid &&
                stripeConnectAccountForm.get('address').errors.required
              "
            >
              <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
            </span>
          </label>

          <!-- Country* -->
          <label>
            country*
            <div class="select !com-mt-0">
              <select formControlName="country">
                <option value="" selected disabled>Select Bank Ac</option>
                <option *ngFor="let country of countries" [value]="country.name">
                  {{ country.name }}
                </option>
              </select>
            </div>
            <span
              *ngIf="
                stripeConnectAccountForm.get('country').touched &&
                stripeConnectAccountForm.get('country').invalid &&
                stripeConnectAccountForm.get('country').errors.required
              "
            >
              <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
            </span>
          </label>

          <!-- city and state -->
          <div class="com-flex com-gap-3">
            <!-- City* -->
            <label>
              City*
              <input fieldSize="small" formControlName="city" placeholder="City" fullWidth nbInput type="string" />
              <span
                *ngIf="
                  stripeConnectAccountForm.get('city').touched &&
                  stripeConnectAccountForm.get('city').invalid &&
                  stripeConnectAccountForm.get('city').errors.required
                "
              >
                <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
              </span>
            </label>

            <!-- State -->
            <label>
              State
              <input fieldSize="small" formControlName="state" placeholder="State" fullWidth nbInput type="string" />
            </label>

            <!-- Zip Code* -->
            <label>
              Zip Code*
              <input
                fieldSize="small"
                formControlName="zip_code"
                placeholder="Zip Code"
                fullWidth
                nbInput
                type="string"
              />
              <span
                *ngIf="
                  stripeConnectAccountForm.get('name').touched &&
                  stripeConnectAccountForm.get('name').invalid &&
                  stripeConnectAccountForm.get('name').errors.required
                "
              >
                <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
              </span>
            </label>
          </div>
        </div>
      </form>
      <div *ngIf="isLoading">
        <p class="com-text-center com-font-bold">Connecting to Stripe Account......</p>
        <app-loading-spinner></app-loading-spinner>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <div class="save-button-bottom">
        <button
          (click)="connectStripeAccount()"
          [disabled]="!stripeConnectAccountForm.valid || isLoading"
          fullWidth
          nbButton
          size="small"
          status="primary"
          type="submit"
          [nbSpinner]="isLoading"
        >
          Proceed
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
