@import './apps/commudle-admin/src/assets/styles/variables';

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.user-profile-large {
  .avatar {
    @apply com-h-14 com-w-14;
    @apply com-rounded-full com-object-cover com-object-center com-align-middle;
  }

  .details {
    margin-left: $space-16;

    .name {
      p {
        @apply com-font-medium;
        color: $black;
        font-size: 16px;
        line-height: 21px;
        word-break: break-word;
      }

      img {
        height: 16px;
        margin-left: $space-4;
        width: 16px;
      }
    }

    .username {
      @apply com-text-Quartz com-mt-2px;
      font-size: $fs-h6;
      line-height: 12px;
      word-break: break-word;
    }

    .designation {
      @apply com-mt-2px;
      color: $black;
      font-size: $fs-h5;
      line-height: 16px;
      word-break: break-word;
    }

    .about {
      @apply com-mt-2px;
      color: $black;
      font-size: $fs-h6;
      line-height: 16px;
      word-break: break-word;
    }

    .speaker-count {
      @apply com-bg-Bright-Gray com-text-gunmetal com-mt-1;
    }

    .social {
      a {
        nb-icon {
          font-size: $fs-h5;
        }
      }
    }
  }
}

.followers {
  margin: 0 0 0 $space-72;
}

.align-right {
  margin-left: auto;
}
