<nb-card *ngIf="(user?.is_expert && currentUser?.id === user.id) || posts?.length > 0" class="user-feed" id="feed">
  <nb-card-header>
    <nb-icon icon="cast" status="primary"></nb-icon>
    Feed
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="currentUser?.id === user.id" class="user-feed-input-container">
      <commudle-user-feed-input (createPost)="getPosts()"></commudle-user-feed-input>
    </div>
    <commudle-user-feed-posts
      (deletePost)="deletePost($event)"
      *ngIf="posts?.length > 0"
      [currentUser]="currentUser"
      [posts]="posts"
      [user]="user"
    ></commudle-user-feed-posts>
  </nb-card-body>
</nb-card>
