:host {
  @apply com-block;
}

p {
  @apply com-m-0;
}

.user-work-history-card {
  @apply com-m-0;

  nb-card-body {
    .heading {
      @apply com-grid com-grid-cols-1 md:com-grid-cols-5 com-gap-2;

      .job {
        @apply md:com-col-span-3;

        .job-title {
          @apply com-text-xl com-font-semibold com-w-44 md:com-w-max;
        }

        .button {
          @apply md:com-flex com-justify-end;
        }

        .company {
          @apply com-text-base com-text-gray-500;
        }
      }

      .date,
      .location {
        @apply com-text-sm com-text-gray-700 com-flex;

        nb-icon {
          @apply com-text-Blue-Jeans com-mr-1;
        }
      }
    }

    .description {
      @apply com-mt-3 com-text-base com-text-gray-800 com-whitespace-pre-wrap;
    }
  }
}
