<div class="user-video-container">
  <div
    *ngIf="
      !peer?.isLocal &&
      (localPeer?.roleName === EHmsRoles.HOST || localPeer?.roleName === EHmsRoles.HOST_VIEWER) &&
      !screenShare
    "
    class="video-controls d-flex"
  >
    <button
      (click)="mutePeerAudio()"
      [disabled]="!isAudioEnabled"
      ghost
      nbButton
      nbTooltip="Mute this person's audio"
      nbTooltipTrigger="hover"
      shape="round"
      size="small"
    >
      <nb-icon [icon]="isAudioEnabled ? 'mic' : 'mic-off'"></nb-icon>
    </button>
    <button
      (click)="mutePeerVideo()"
      [disabled]="!isVideoEnabled"
      ghost
      nbButton
      nbTooltip="Mute this person's video"
      nbTooltipTrigger="hover"
      shape="round"
      size="small"
    >
      <nb-icon [icon]="isVideoEnabled ? 'video' : 'video-off'"></nb-icon>
    </button>
    <button
      (click)="changeRole()"
      ghost
      nbButton
      nbTooltip="Remove from stage"
      nbTooltipTrigger="hover"
      shape="round"
      size="small"
    >
      <nb-icon icon="minus-circle"></nb-icon>
    </button>
    <button
      (click)="removeFromSession()"
      ghost
      nbButton
      nbTooltip="Remove from session"
      nbTooltipTrigger="hover"
      shape="round"
      size="small"
    >
      <nb-icon icon="log-out"></nb-icon>
    </button>
  </div>
  <div class="user-video">
    <div *ngIf="isSpeaker" class="user-video-overlay"></div>
    <video
      #videoElement
      [autoplay]="true"
      [muted]="peer?.isLocal"
      [ngClass]="{ hidden: !isVideoEnabled && !screenShare, 'screen-share': screenShare }"
      playsinline
    ></video>
    <img
      *ngIf="metaData && !isVideoEnabled && !screenShare"
      [alt]="metaData.name"
      [src]="metaData.avatar"
      [title]="metaData.name"
      class="user-avatar"
    />
  </div>
  <a *ngIf="metaData" [routerLink]="['/users', metaData?.username]" class="user-name" target="_blank">
    <nb-icon *ngIf="!isAudioEnabled" icon="mic-off" status="danger"></nb-icon>
    {{ displayText }}
  </a>
</div>
