@import './projects/commudle-admin/src/assets/styles/variables';

.user-video-container {
  height: 100%;
  position: relative;
  width: 100%;

  .audio-level {
    @apply com-absolute com-top-6 com-right-6 com-h-8 com-w-8 com-rounded-full com-bg-blue-600;

    @keyframes sound {
      0% {
        height: 3px;
      }
      100% {
        height: 24px;
      }
    }

    .audio-level-bar {
      animation: sound 0ms -800ms linear infinite alternate;
      background: white;
      bottom: 15%;
      position: absolute;
      width: 4px;

      &:nth-child(1) {
        animation-duration: 474ms;
        left: calc(50% - 8px);
      }

      &:nth-child(2) {
        animation-duration: 407ms;
        left: 48%;
      }

      &:nth-child(3) {
        animation-duration: 340ms;
        left: calc(50% + 6px);
      }
    }
  }

  &:hover {
    .video-controls {
      opacity: 1;
      transition: opacity 0.6s ease-in-out;
    }
  }

  .video-controls {
    background-color: rgba($black, 0.3);
    border-radius: 32px;
    gap: $space-8;
    left: 50%;
    opacity: 0;
    padding: $space-8;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
  }

  .user-video {
    height: 100%;
    position: relative;
    width: 100%;

    .hidden {
      display: none;
    }

    video {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .screen-share {
      object-fit: contain;
    }

    .user-avatar {
      transform: translate(-50%, -50%);
      @apply com-h-16 com-w-16 com-rounded-full com-object-cover;
      @apply com-absolute com-left-1/2 com-top-1/2 com-overflow-hidden;
    }
  }

  .user-name {
    background-color: rgba($black, 0.3);
    bottom: 0;
    color: $white;
    font-size: $fs-h5;
    left: 0;
    padding: $space-4;
    position: absolute;
    text-decoration: none;

    &:hover {
      background-color: rgba($black, 0.4);
    }

    nb-icon {
      font-size: $fs-h5;
    }
  }
}
