<div class="newsletters-index page-padding">
  <div class="page-container">
    <nb-card>
      <nb-card-body>
        <nb-actions>
          <nb-action icon="plus-circle-outline" [routerLink]="['new']"></nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-body [nbSpinner]="isLoading">
        <nb-list>
          <nb-list-item *ngFor="let nl of newsletters">
            <app-main-newsletter-list-item [newsletter]="nl"></app-main-newsletter-list-item>
          </nb-list-item>
        </nb-list>
        <p *ngIf="!isLoading && this.newsletters.length === 0">
          No newsletters found
        </p>
      </nb-card-body>
    </nb-card>
  </div>
</div>
