<div class="base-layout com-mb-8">
  <div class="container">
    <div class="two-column-layout">
      <div class="main-column">
        <nb-card>
          <nb-card-body>
            <nb-stepper orientation="horizontal" [linear]="false" #stepper>
              <nb-step label="Profile">
                <div *ngIf="hackathonResponseGroup && hackathonUserResponse">
                  <commudle-public-hackathon-user-details-form
                    [hackathonResponseGroup]="hackathonResponseGroup"
                    [hackathonUserResponse]="hackathonUserResponse"
                    (submitUserFormData)="
                      hackathonUserResponse ? updateUserResponse($event) : submitUserResponse($event)
                    "
                  ></commudle-public-hackathon-user-details-form>
                </div>
              </nb-step>
              <nb-step *ngIf="showTeammateForm" label="Teammates">
                <commudle-public-hackathon-teammate-form
                  [hackathonUserResponse]="hackathonUserResponse"
                  (submitTeammateDetailsEvent)="submitTeammateDetails($event)"
                ></commudle-public-hackathon-teammate-form>
              </nb-step>
              <nb-step label="Project Details">
                <div *ngIf="hackathon">
                  <commudle-public-hackathon-teammate-project-details-form
                    [hackathon]="hackathon"
                    (createOrUpdateProjectDetails)="submitProjectDetails($event)"
                  ></commudle-public-hackathon-teammate-project-details-form>
                </div>
              </nb-step>
              <nb-step label="Submit">
                <form></form>
                <button nbButton nbStepperNext status="primary">next</button>
              </nb-step>
            </nb-stepper>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
