@import './projects/commudle-admin/src/assets/styles/variables';

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.community-list-card-container {
  border: 0.5px solid $silver-sand;
  border-radius: $border-8;
  height: 296px;
  padding: $space-16;
  position: relative;
  width: 260px;

  @screen lg {
    width: inherit;
  }

  .community-list-card-prefix {
    .community-list-card-logo {
      border: 0.5px solid $silver-sand;
      @apply com-h-12 com-w-12;
      @apply com-rounded-full com-object-contain com-object-center;
    }

    .community-list-card-details {
      margin-left: $space-8;

      .community-list-card-name {
        color: $gunmetal;
        font-size: $fs-h5;
        font-weight: $fw-600;
        line-height: 16px;
      }

      .community-list-card-members {
        color: #777777;
        font-size: $fs-h6;
        font-style: italic;
        line-height: 14px;
      }
    }
  }

  .community-list-card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: $space-8;
    margin-top: $space-16;

    .community-list-card-tag {
      background-color: $azureish-white;
      border-radius: $border-5;
      color: $gunmetal;
      font-size: $fs-h7;
      line-height: 12px;
      padding: $space-4 $space-10;
    }
  }

  .community-list-card-about {
    color: rgba($gunmetal, 0.85);
    font-size: $fs-h6;
    line-height: 14px;
    margin-top: $space-16;
  }

  .community-list-card-suffix {
    bottom: 16px;
    position: absolute;
    right: 16px;

    .community-list-card-member-avatars {
      display: inline-flex;
      flex-direction: row-reverse;
      height: 20px;
      margin-right: $space-36;
      width: 32px;

      .community-list-card-member-avatar {
        border: 1px solid $white;
        border-radius: $border-50;
        overflow: hidden;
        position: relative;
        width: 20px;

        &:not(:last-child) {
          margin-left: -$space-30;
        }

        img {
          display: block;
          width: 100%;
        }
      }
    }

    .community-join-btn {
      app-membership-toggle {
        &::ng-deep {
          button {
            background: $white;
            border: 1px solid $silver-sand;
            border-radius: $border-4;
            color: $neon-blue;
            font-size: $fs-h5;
            font-weight: normal;
            height: 32px;
            line-height: 16px;
            min-width: 152px;
            padding: $space-8;
            text-transform: capitalize;
            width: 152px;
          }
        }
      }
    }
  }
}
