.messages-container {
  height: 100%;

  .send-message {
    bottom: 0;
    position: sticky;

    emoji-mart {
      bottom: 40px;
      display: none;
      position: absolute;

      &.active {
        display: initial;
      }
    }
  }
}
