.messages-container {
  height: 100%;

  .send-message {
    bottom: 0;
    position: sticky;

    emoji-mart {
      bottom: 40px;
      display: none;
      position: absolute;
      width: clamp(250px, 100%, 360px);

      &.active {
        display: initial;
      }
    }

    form {
      nb-form-field {
        .emoji-picker {
          @apply com-p-2.5;
        }
      }
    }
  }
}
