<div>
  <div class="heading">
    <button nbButton status="basic" class="image">
      <img
        alt="Top Builders"
        src="https://json.commudle.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOGNxQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--c32f54e069ae256b46224c8d591a14e100abcc9d/b3d37220175f46299a2639f1bf15ded2.png"
        title="Top Builders"
      />
    </button>
    <div class="text">
      <h3 class="title">TOP BUILDERS</h3>
      <h4 class="sub-heading">Top Builders you can check out</h4>
    </div>
  </div>
  <div class="tags">
    <nb-tag-list>
      <nb-tag
        appearance="outline"
        [text]="options[0]"
        status="basic"
        [removable]="month ? 'true' : 'false'"
        [ngClass]="{ activeTag: month }"
        (click)="filterByTags(options[0])"
      ></nb-tag>
      <nb-tag
        appearance="outline"
        [text]="options[1]"
        status="basic"
        [removable]="year ? 'true' : 'false'"
        [ngClass]="{ activeTag: year }"
        (click)="filterByTags(options[1])"
      ></nb-tag>
      <nb-tag
        appearance="outline"
        [text]="options[2]"
        status="basic"
        [removable]="allTime ? 'true' : 'false'"
        [ngClass]="{ activeTag: allTime }"
        (click)="filterByTags(options[2])"
      ></nb-tag>
    </nb-tag-list>
  </div>
  <!-- <app-skeleton-cards [displayFollowButton]="true" [cards]="4" *ngIf="showSpinner"></app-skeleton-cards> -->
  <div class="top-builders custom-scrollbar">
    <div class="top-builders-card" *ngFor="let topBuilder of topBuilders">
      <div>
        <commudle-top-builders-card
          [topBuilder]="topBuilder"
          [displayVotes]="true"
          [displayViewProfile]="true"
        ></commudle-top-builders-card>
      </div>
      <!-- <div *appBreakpoints="'<=lg'">
          <commudle-featured-communities-card
            [featuredCommunity]="featuredCommunity"
            [horizontalScroll]="true"
          ></commudle-featured-communities-card>
        </div> -->
    </div>
  </div>
</div>
