<div class="session-page-container">
  <div class="session-page">
    <!-- !['commudle', 'youtube'].includes(embeddedVideoStream?.source) ||
    (!trackSlot?.embedded_video_stream && !embeddedVideoStream) -->
    <app-session-page-video
      [chat]="chat"
      [community]="community"
      [currentUser]="currentUser"
      [embeddedVideoStream]="embeddedVideoStream"
      [endTime]="endTime"
      [event]="event"
      [pollableId]="pollableId"
      [pollableType]="pollableType"
      [qna]="discussion"
      [speaker]="speaker"
      [startTime]="startTime"
      [trackSlot]="trackSlot"
      [userRoles]="userRoles"
    ></app-session-page-video>
    <app-auto-attendance
      *ngIf="moment().isBetween(moment(event?.start_time), moment(event?.end_time))"
      [eventId]="event.id"
    ></app-auto-attendance>
  </div>
</div>
