<div class="session-page-container">
  <div class="session-page">
    <app-session-page-video *ngIf="embeddedVideoStream" [chat]="chat" [currentUser]="currentUser"
                            [embeddedVideoStream]="embeddedVideoStream" [endTime]="endTime" [event]="event"
                            [pollableId]="pollableId" [pollableType]="pollableType" [qna]="discussion"
                            [startTime]="startTime" [userRoles]="userRoles"></app-session-page-video>
    <app-session-page-details [community]="community" [endTime]="endTime" [event]="event" [speaker]="speaker"
                              [startTime]="startTime" [trackSlot]="trackSlot"
                              [userVisitData]="userVisitData"></app-session-page-details>

    <app-auto-attendance *ngIf="this.event && moment().isBetween(moment(event.start_time), moment(event.end_time))"
                         [eventId]="this.event.id"></app-auto-attendance>
  </div>
</div>
