.votes {
  >p {
    margin: 0;
    .count {

    }
    nb-icon {
      font-size: 1.2rem;
      color: #8080808c;

      &:hover {
        transform: rotate(360deg);
        transition: 0.5s ease-in-out;
      }
    }

    nb-icon.voted-star {
      color: gold;
    }

    nb-icon.voted-heart {
      color: #ff1e1ed6;
    }
  }
}
