.votes {
  > p {
    margin: 0;

    .count {
      color: grey;
    }

    nb-icon {
      font-size: 1.2rem;
      //color: #8080808c;
    }

    nb-icon.star.has-votes {
      color: goldenrod;
    }

    nb-icon.star.voted-star {
      color: gold;
    }

    nb-icon.voted-heart {
      color: #FF1E1ED6;
    }
  }

  &.size-large {
    > p {
      font-size: 1.8rem;

      nb-icon {
        font-size: 1.8rem;
      }
    }
  }
}
