.skeleton-text {

  @keyframes load {
    from {
        left: -50px;
    }
    to   {
        left: 100%;
    }
}

  .row {
    margin: 0 0 5px;
    height: 14px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background: #c7c7c76b;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -50px;
      top: 0;
      height: 100%;
      width: 50%;
      background: linear-gradient(to right, transparent 0%, #f0f0f0 50%, transparent 100%);
      animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    }
  }
}
