@import '/projects/commudle-admin/src/assets/styles/variables';

.qna-list-container {
  height: calc(100% - 40px);
  overflow: hidden;

  .qna-list {
    height: 100%;
    padding-right: $space-8;
    overflow: auto;

    &.compressed {
      height: calc(100% - 32px);
    }

    // Custom scrollbar
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken($light-purple, 5%);
      border-radius: $border-10;
      border: 3px solid transparent;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: darken($light-purple, 8%);
    }
  }

  .new-qna-btn {
    position: absolute;
    right: 16px;
    bottom: 52px;
  }
}
