<nb-card *ngIf="showPopup">
  <nb-card-header>
    <div class="heading">
      <fa-icon [icon]="faBullhorn" class="heading-icon"></fa-icon>
      <p class="heading-text">What’s New</p>
    </div>
    <fa-icon [icon]="faXmark" class="cross-icon" (click)="closePopup()"></fa-icon
  ></nb-card-header>
  <nb-card-body>
    <p class="new-features">New Features, enhancements & Bug fixes</p>
    <div *ngFor="let update of updates">
      <ul>
        <commudle-whats-new-card [update]="update"></commudle-whats-new-card>
      </ul>
    </div>
  </nb-card-body>
  <nb-card-footer (click)="closePopup()"
    ><button nbButton status="primary" outline>View Details</button
    ><button nbButton status="primary" outline>Got it</button></nb-card-footer
  >
</nb-card>
