<div class="base-layout">
  <div class="container">
    <div *ngIf="showPopup && showWhatsNewPopup" class="gradient-border card">
      <nb-card>
        <nb-card-header>
          <div class="heading">
            <fa-icon [icon]="faBullhorn" class="heading-icon"></fa-icon>
            <p class="heading-text">What’s New</p>
          </div>
          <button nbButton ghost (click)="setCookie(); closePopup()">
            <fa-icon [icon]="faXmark" class="cross-icon"></fa-icon></button
        ></nb-card-header>
        <nb-card-body>
          <div *ngFor="let update of newUpdates">
            <ul>
              <commudle-whats-new-card [update]="update"></commudle-whats-new-card>
            </ul>
          </div>
        </nb-card-body>
        <nb-card-footer
          ><button
            nbButton
            status="primary"
            outline
            size="small"
            ghost
            (click)="openDialog(cardInfoDialog); closePopup()"
          >
            View Details</button
          ><button nbButton status="primary" outline size="small" ghost (click)="setCookie(); closePopup()">
            Got it
          </button></nb-card-footer
        >
      </nb-card>
    </div>
  </div>
</div>

<ng-template #cardInfoDialog let-ref="dialogRef">
  <div class="gradient-border">
    <nb-card class="card-info-popup">
      <nb-card-header>
        <div class="heading">
          <fa-icon [icon]="faBullhorn" class="heading-icon"></fa-icon>
          <p class="heading-text">What’s New</p>
        </div>
        <button nbButton ghost (click)="setCookie(); ref.close()">
          <fa-icon [icon]="faXmark" class="cross-icon"></fa-icon></button
      ></nb-card-header>
      <nb-card-body>
        <p class="new-features">New Features, enhancements & Bug fixes</p>
        <div *ngFor="let update of newUpdates">
          <ul>
            <commudle-whats-new-card [update]="update"></commudle-whats-new-card>
          </ul>
        </div>
      </nb-card-body>
      <nb-card-footer
        ><button nbButton status="primary" size="medium" ghost (click)="setCookie(); ref.close()">
          Got it
        </button></nb-card-footer
      >
    </nb-card>
  </div>
</ng-template>
