nb-card {
  @apply com-mx-0 com-mt-4 com-mb-0 md:com-rounded-[10px] com-rounded-none;

  nb-card-header {
    @apply com-py-4 md:com-px-6 com-px-4;
    h6 {
      @apply com-m-0 md:com-font-semibold com-font-bold;
    }
  }

  nb-card-body {
    @apply com-flex com-flex-col com-gap-4;
    .community {
      @apply com-p-4 com-border com-border-solid com-border-Bright-Gray com-rounded-xl;
      a {
        @apply com-flex com-items-center com-no-underline;
        color: #5072ff;
        .logo {
          @apply com-flex com-items-center com-m-0 com-mr-3 com-w-6 com-h-6 com-flex-shrink-0 com-overflow-hidden com-object-contain com-bg-tWhite com-rounded-sm;
          img {
            @apply com-w-full com-h-auto;
          }
        }
        p {
          @apply com-m-0 com-font-semibold;
        }
      }
    }
  }
}
