.community-emails {
  nb-card {
    height: 450px;

    nb-card-header {
      background: #ececec;
      font-size: 1.2rem;
      font-weight: 300;
    }

    nb-list {
      nb-list-item {
        .email {
          > div {
            display: flex;

            p {
              margin: 0 1.5rem 0 0;
            }
          }
        }
      }
    }
  }
}
