<div>

  <div class="page-actions">
    <a nbButton outline status="primary" size="medium" [routerLink]="['/admin/forms', 'new']" [queryParams]="{ parent_id: newFormParentId, parent_type: 'Kommunity' }">
      <fa-icon [icon]="faPlusSquare"></fa-icon>
      &nbsp;
      Create Form

    </a>
  </div>
  <div>
    <ng2-smart-table [settings]="tableSettings" [source]="dataForms"></ng2-smart-table>
  </div>
  <div class="page-actions">
    <button nbButton status="primary" outline size="medium">
      <fa-icon [icon]="faPlusSquare"></fa-icon>
      &nbsp;
      Create Form
    </button>
  </div>

</div>
