.event-locations-list {
  @apply com-mx-0 com-my-5 com-py-2;
  display: flex;
  flex-direction: column;

  .event-location {
    nb-tabset {
      @apply com-overflow-x-auto;
      nb-tab {
        @apply com-m-0 com-p-3;

        p {
          @apply com-m-0 com-p-0;
        }

        .address {
          @apply com-mb-2;

          span {
            @apply com-text-base com-font-extrabold com-text-Yankees-Blue;
          }

          a {
            @apply com-no-underline com-text-base com-font-medium com-text-primary-500;
          }

          .edit-location-icon {
            @apply com-mx-2 com-cursor-pointer com-text-base;
          }
          .delete-location-icon {
            @apply com-cursor-pointer com-text-base;
          }
        }

        .link-to-map {
          @apply com-mb-6;
          a {
            @apply com-no-underline com-text-base com-font-medium com-text-primary-500;
          }
        }
      }
    }

    nb-card-header {
      display: flex;
      justify-content: flex-start;

      .event-location-details {
        margin-left: 1rem;
        p {
          margin: 0;
          word-wrap: break-word;
        }
      }
    }
  }
}

.online-event-fields,
.offline-event-fields {
  > div {
    margin-top: 1rem;
  }
}

.save-button-bottom {
  margin-top: 1rem;
}

.help-text-button {
  @apply com-cursor-pointer;
  p {
    margin: 0 0 0.5rem;
  }
}

.embedded-video-popover {
  min-width: 150px;
  min-height: 150px;
  background-color: white;
}

.event-location-form {
  @apply md:com-w-[40vw] com-w-full;
}

.locations-tracks {
  @apply com-flex com-flex-row;
}

.locations {
  @apply com-flex com-flex-row com-gap-4 com-mb-[18px];
}
