.community-members {
  padding: 1.5rem;

  .pages {
    display: flex;
    justify-content: center;
    margin: 1rem;

    p {
      margin: 0 0.5rem;

      nb-icon {
        font-size: 0.8rem;
      }
    }

    .selected-page {
      color: blue;
    }
  }

  .members-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 0.5rem;

    .member {
      margin: 0.5rem;
      max-width: 80vw;
      width: 100%;

      .context-menu {
        @apply com-invisible;
      }

      &:hover {
        .context-menu {
          @apply com-visible;
        }
      }

      @media screen and (min-width: 800px) {
        max-width: 25vw;
        width: 30%;
      }
    }
  }
}
