.community-members {
  padding: 1.5rem;
  .pages {
    display: flex;
    justify-content: center;
    margin: 1rem;
    p {
      margin: 0 0.5rem;
      nb-icon {
        font-size: 0.8rem;
      }
    }

    .selected-page {
      color: blue;
    }
  }
  .members-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0.5rem;

    .member {
      width: 100%;
      max-width: 80vw;
      margin: 0.5rem;
      &:hover {
        background-color: #d3d3d347;
      }

      @media screen and (min-width: 800px) {
        width: 30%;
        max-width: 25vw;
      }
    }
  }
}
