<nb-card class="com-min-w-[50vw]">
  <nb-card-header class="d-flex align-items-center justify-content-space-between">
    Create a Featured Community Build
    <button (click)="close()" ghost nbButton size="small">
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="com-flex com-flex-col com-gap-3">
      <input
        [(ngModel)]="searchQuery"
        (input)="changeInput()"
        fullWidth
        nbInput
        placeholder="search for Community Build (type at least 3 words)"
        type="text"
      />
      <div *ngIf="searchResult.length >= 1 && searchQuery.length >= 3" class="com-flex com-flex-wrap com-gap-2">
        <div *ngFor="let result of searchResult">
          <div (click)="this.entityId = result.id; searchQuery = result.name" class="search-result">
            <div>{{ result.name }}</div>
          </div>
        </div>
      </div>
      <input [(ngModel)]="reason" fullWidth maxlength="50" nbInput placeholder="Enter the reason" type="text" />
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-space-between">
    <button (click)="createFeaturedItems()" [disabled]="!reason || entityId === undefined" nbButton status="success">
      Create
    </button>
    <button (click)="close()" ghost nbButton status="danger">Cancel</button>
  </nb-card-footer>
</nb-card>
