<div class="header">
  <div
    *ngIf="buildsPageHeader"
    [ngStyle]="{ 'background-color': buildsPageHeader.background_color.hex }"
    class="background"
  >
    <div class="base-layout">
      <div class="content">
        <div class="header-text">
          <h1 class="title">
            <button class="button">
              <nb-icon class="bulb-icon" icon="bulb-outline"></nb-icon></button
            >{{ buildsPageHeader.title }}
          </h1>
          <p class="heading">{{ buildsPageHeader.heading }}</p>
          <div [innerHTML]="richText" class="content"></div>
        </div>
        <a class="header-image" [href]="buildsPageHeader?.image_link">
          <img [src]="imageUrl(buildsPageHeader?.header_image).url()" class="com-w-full" />
        </a>
      </div>
    </div>
  </div>
</div>
