<div>

  <!-- <form [formGroup]="communityForm">
    <label>
      Name
      <input type="text" formControlName="name">
    </label>

    <label>
      Logo
      <input type="text" formControlName="logo_path">
    </label>

    <label>
      About
      <input type="text" formControlName="about">
    </label>

    <label>
      Mini Description
      <input type="text" formControlName="mini_description">
    </label>

    <label>
      Email
      <input type="text" formControlName="contact_email">
    </label>

    <label>
      Website
      <input type="text" formControlName="website">
    </label>

    <label>
      Facebook
      <input type="text" formControlName="facebook">
    </label>

    <label>
      Twitter
      <input type="text" formControlName="twitter">
    </label>

    <label>
      Github
      <input type="text" formControlName="github">
    </label>

    <label>
      Linkedin
      <input type="text" formControlName="linkedin">
    </label>







  </form> -->
</div>
