.community-edit-details-form {
  padding: 1.5rem;
  margin: 0 auto;


  div[role='individual'] {
    margin: 2rem auto;
  }


  .uploaded-logo {
    height: 150px;
    width: 300px;
    max-width: 100%;
    overflow: hidden;
    background: #d3d3d36b;
    margin: 0;
    position: relative;
    &::before{
      content: 'Logo';
      position: absolute;
      font-size: 2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #b9b9b9;
      font-weight: bolder;
    }
  }

  .uploaded-logo-image{
    width: 300px;
    overflow: hidden;
    // background: #d3d3d36b;
    text-align: center;
    img {
      max-width: 100%;

    }

  }

  .about {
    label {
      width: 619px;
      max-width: 100%;
      margin: 1rem 0.3rem;
    }
  }

  div[role='group'] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    >div{
      width: 100%;
      margin: 10px;
    }

    @media (min-width: 768px) {
      >div{
        width: 50%;
      }

    }
  }


  .save-button-top {
    margin-top: 2rem;
  }

}
