<div>

  <form class="community-edit-details-form" [formGroup]="communityForm" (ngSubmit)="updateCommunityDetails()">
    <div formGroupName="community">
      <div role="group" >
        <div>
          <label fullWidth>
            Name*
            <input type="text" nbInput fullWidth formControlName="name">
          </label>
        </div>

        <div>
          <label>
            Logo*
            <input type="file" accept="image/*" nbInput fullWidth (change)="displaySelectedLogo($event)">
          </label>
        </div>

      </div>

      <div>
        <div class="uploaded-logo" *ngIf="uploadedLogo == null">
        </div>
        <div class="uploaded-logo-image" *ngIf="uploadedLogo">
          <img src={{uploadedLogo}} alt="uploaded-logo">
        </div>
      </div>



      <div role="group">
        <div>
          <label>
            Email*
            <input type="text" nbInput fullWidth formControlName="contact_email">
          </label>
        </div>

        <div>
          <label>
            Website
            <input type="text" nbInput fullWidth formControlName="website">
          </label>
        </div>
      </div>

      <div role='individual'>
          <label>
            About*
          </label>
            <editor
              formControlName="about"
              apiKey="e34vgv7ocd6ttka8t6qcd07g7lifas1y9lyve8ze1013nefs"
             [init]="{
              height: 300,
              menubar: false,
              convert_urls: false,
              plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
              ],
              toolbar:
                'undo redo | formatselect | bold italic backcolor | \
                alignleft aligncenter alignright alignjustify | \
                bullist numlist outdent indent | removeformat | help'
            }">

            </editor>

      </div>

      <div role="individual">
        <label>
          Mini Description*
        </label>
          <input type="text" nbInput fullWidth formControlName="mini_description">
      </div>

      <div role="group">
        <div>
          <label>
            Facebook
            <input type="text" nbInput fullWidth formControlName="facebook">
          </label>

        </div>
        <div>
          <label>
            Twitter
            <input type="text" nbInput fullWidth formControlName="twitter">
          </label>
        </div>
      </div>

      <div role="group">
        <div>
          <label>
            Github
            <input type="text" nbInput fullWidth formControlName="github">
          </label>
        </div>

        <div>
          <label>
            Linkedin
            <input type="text" nbInput fullWidth formControlName="linkedin">
          </label>
        </div>

      </div>

    </div>

    <div>
      <button [disabled]="!communityForm.valid" type="submit" nbButton status="primary" fullWidth>
        Save
      </button>
    </div>

  </form>
</div>
