<div class="home-labs">
  <nb-card>
    <nb-card-body class="card-p16">
      <h3>Labs</h3>
      <div class="labs-list">
        <ul *ngIf="labs.length === 0">
          <li>
            <app-skeleton-text [rows]="3"></app-skeleton-text>
          </li>
          <li>
            <app-skeleton-text [rows]="3"></app-skeleton-text>
          </li>
          <li>
            <app-skeleton-text [rows]="3"></app-skeleton-text>
          </li>
          <li>
            <app-skeleton-text [rows]="3"></app-skeleton-text>
          </li>
        </ul>
        <ul *ngIf="labs.length > 0">
          <li *ngFor="let lab of labs" class="clickable">
            <p class="name">
              <a [routerLink]="['/labs', lab.slug]">
                {{ lab.name | truncatetext:35 }}
              </a>
            </p>
            <p class="author">by {{ lab.user.name }}</p>
          </li>
        </ul>
      </div>
      <p *ngIf="labs.length > 0" [routerLink]="['/labs']" class="all-labs-link clickable">
        <a>All Labs >></a>
      </p>
    </nb-card-body>
  </nb-card>
</div>
