<div class="community-group-dashboard page-padding">
  <nb-card *ngIf="communityGroup">
    <nb-card-header>
      <div class="logo">
        <img src="{{ communityGroup.logo.url }}">
      </div>
      <h1>
        {{communityGroup.name}}
        <small>Dashboard</small>
      </h1>
    </nb-card-header>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="About">
          <div class="about-community-group" [innerHTML]="communityGroup.description">
          </div>
          <button nbButton size="small" status="primary" [routerLink]="['/admin/orgs', communityGroup.slug, 'edit']">Edit</button>
        </nb-tab>
        <nb-tab tabTitle="Chapters">
          <a nbButton status="primary" [routerLink]="['/admin/communities/new']" [queryParams]="{community_group_id: communityGroup.slug}">
            <nb-icon icon="plus"></nb-icon>
            Add New Chapter
          </a>
          <div class="chapters">
            <div class="community-chapter" *ngFor="let community of communities">
              <h3 class="lh-fw">{{community.name | slice:0:30}}</h3>
              <p>
                <nb-icon icon="people-outline"></nb-icon>
                {{community.member_count}}
              </p>
              <div class="links">
                <a target="_blank" [routerLink]="['/communities', community.slug]">
                  Public Page
                  <nb-icon icon="external-link"></nb-icon>
                </a>
                <a target="_blank" [routerLink]="['/admin/communities', community.slug]">
                  Admin Panel
                  <nb-icon icon="external-link"></nb-icon>
                </a>
              </div>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Admin Team">
          <div class="team-invitation-form">
            <form [formGroup]="userRolesUserForm" (ngSubmit)="inviteCommunityAdmin()">
              <p>
                Add a Teammate
              </p>
              <input nbInput fieldSize="small" formControlName="email" placeholder="Enter Email">
              <button [disabled]="!userRolesUserForm.valid" type="submit" nbButton size="small" status="primary" outline>Send Invitation</button>
            </form>
          </div>
          <div class="team">
            <div class="member" *ngFor="let admin of team; let i=index">
              <div>
                <app-user-profile-horizontal [user]="admin.user" [socialMediaLinks]="true" [aboutMe]="true"></app-user-profile-horizontal>
              </div>
              <div>
                <a class="clickable" *ngIf="admin.status == EUserRolesUserStatus.INVITED" (click)="resendInvitationMail(admin)">
                  Resend Invite
                </a>
                <br>
                <a class="clickable" (click)="remove(i)">
                  Remove
                </a>
              </div>
            </div>
          </div>
        </nb-tab>
       </nb-tabset>
    </nb-card-body>
  </nb-card>

</div>
