<dl class="homepage-features">
  <div class="com-relative">
    <dt>
      <div class="homepage-feature-icon">
        <svg
          aria-hidden="true"
          class="com-h-6 com-w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"
          />

        </svg>
      </div>
      <h3 class="homepage-feature-title">Who should have a profile on Commudle?</h3>
    </dt>
    <dd class="homepage-feature-description">
      If you are a Software Developer, Designer, DevRel or a Community Leader then Commudle is for you.
    </dd>
  </div>

  <div class="com-relative">
    <dt>
      <div class="homepage-feature-icon">
        <svg
          aria-hidden="true"
          class="com-h-6 com-w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            stroke-width="2"
            d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
        </svg>
      </div>
      <h3 class="homepage-feature-title">Why do I need a Commudle profile?</h3>
    </dt>
    <dd class="homepage-feature-description">
      It helps you build recognitions with not just your community contributions on Commudle, but everything on the
      internet from your blogs to your public projects.
    </dd>
  </div>

  <div class="com-relative">
    <dt>
      <div class="homepage-feature-icon">
        <svg
          aria-hidden="true"
          class="com-h-6 com-w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
          />
        </svg>
      </div>
      <h3 class="homepage-feature-title">
        How can I get a blue tick?
        <img
          alt="Expert Tick"
          class="expert-icon"
          src="/assets/images/Expert-Tick.svg"
          title="Expert Tick"
        />
      </h3>
    </dt>
    <dd class="homepage-feature-description">
      If you think you are an expert in a technology, just fill this form and we'll get back:
      <a [routerLink]="['/fill-form', '1093']"> Expert Nomination Form </a>
    </dd>
  </div>

  <div class="com-relative">
    <dt>
      <div class="homepage-feature-icon">
        <svg
          aria-hidden="true"
          class="com-h-6 com-w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            stroke-width="2"
            d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
          />
        </svg>
      </div>
      <h3 class="homepage-feature-title">Why to have my Developer Community on Commudle?</h3>
    </dt>
    <dd class="homepage-feature-description">
      The right tools to engage your members all at one place. From events, newsletter to forums & chats. It's very easy
      to manage members & every community activity helps you build your profile.
    </dd>
  </div>
</dl>
