@import './projects/commudle-admin/src/assets/styles/variables';

.homepage-features {
  @apply com-space-y-10 md:com-space-y-0 md:com-grid md:com-grid-cols-2 md:com-gap-x-8 md:com-gap-y-10;

  .homepage-feature-icon {
    border: 0.5px solid #0095ff;
    border-radius: $border-10;
    @apply com-absolute com-flex com-items-center com-justify-center com-h-12 com-w-12 com-text-white;

    svg {
      stroke: #0095ff;
    }
  }

  .homepage-feature-title {
    @apply com-my-0 com-ml-16 com-text-lg com-leading-6 com-font-medium com-text-gray-900;
  }
}
