@import './apps/commudle-admin/src/assets/styles/variables';

.messages-list-container {
  height: calc(100% - 40px);
  overflow: hidden;

  .messages-list {
    height: 100%;
    overflow: auto;
    padding-right: $space-8;

    &.compressed {
      height: calc(100% - 32px);
    }

    // Custom scrollbar
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: content-box;
      background-color: darken($light-purple, 5%);
      border: 3px solid transparent;
      border-radius: $border-10;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: darken($light-purple, 8%);
    }
  }

  .new-message-btn {
    bottom: 52px;
    position: absolute;
    right: 16px;
  }
}
