<div class="features">
  <div class="base-layout">
    <div class="container">
      <h1 class="features-heading">Understand your customers with better reports</h1>
      <h2 class="features-subheading">
        With our integrated CRM, project management, collaboration and invoicing capabilities, you can manage every
        aspect of your business in one secure platform.
      </h2>
      <div class="two-column-layout">
        <!-- <div class="content"> -->
        <div class="left-column">
          <div *ngIf="features" class="com-w-full">
            <commudle-features [features]="features"></commudle-features>
          </div>
        </div>
        <div class="main-column">
          <div>
            <!-- <h1 class="chapter-name">{{ features }}</h1> -->
            <nb-card>
              <div *ngIf="featureData?.image" class="image">
                <img
                  alt="{{ featureData.title }}"
                  [src]="imageUrl(featureData.image).url()"
                  title="{{ featureData.title }}"
                />
              </div>
              <!-- <nb-card-body *ngIf="richTextContent">
                    <article>
                      <div [innerHTML]="richTextContent" class="!com-max-w-full content"></div>
                    </article>
                    <div *ngIf="chapterData.fun_facts" class="fun-facts">
                      <div [innerHTML]="richTextFunFact" class="!com-max-w-full content"></div>
                    </div>
                    <div *ngIf="chapterData.how_commudle_helps" class="how-commudle-helps">
                      <div [innerHTML]="richTextCommudleHelps" class="!com-max-w-full content"></div>
                    </div>
                  </nb-card-body> -->
            </nb-card>
          </div>
          <!-- <div class="fixed-btn">
                <a
                  href="https://json.commudle.com/resources/developer-community-blueprint.pdf"
                  download
                  target="_blank"
                >
                  <button nbButton status="primary" size="large" class="download-pdf desktop-hidden" fullWidth>
                    <fa-icon [icon]="faDownload"></fa-icon>Download PDF
                  </button>
                </a>
              </div> -->
          <!-- <div class="footer">
                <div class="actions">
                  <div>
                    <button
                      *ngIf="chapterData?.link_to_previous_page"
                      nbButton
                      size="large"
                      [routerLink]="['/developer-ecosystem-blueprint/book', chapterData.link_to_previous_page]"
                      [disabled]="!chapterData?.link_to_previous_page"
                      class="prev-btn"
                    >
                      <span>
                        <nb-icon icon="arrow-back"></nb-icon>
                        Prev
                      </span>
                    </button>
                  </div>
                  <div class="desktop-hidden">
                    <select (change)="showIndex($event)">
                      <option *ngFor="let index of chapterIndexes" [value]="index.slug.current">
                        {{ index.chapter_name }}
                      </option>
                    </select>
                  </div>
                  <div>
                    <button
                      *ngIf="chapterData?.link_to_next_page"
                      nbButton
                      size="large"
                      [routerLink]="['/developer-ecosystem-blueprint/book', chapterData.link_to_next_page]"
                      [disabled]="!chapterData?.link_to_next_page"
                      class="next-btn"
                    >
                      <span>
                        Next
                        <nb-icon icon="arrow-forward"></nb-icon>
                      </span>
                    </button>
                  </div>
                </div>
              </div> -->
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
