.event-stats {
  a {
    width: max-content;
  }

  .page-header {
    h3 {
      font-weight: 300;
      margin-bottom: 0;

      nb-icon {
        font-size: 2rem;
      }

      small {
        font-size: 1rem;
      }
    }
  }

  nb-card.stat-card.visitors {
    nb-card-header {
      h3 {
        font-weight: 300;
        margin: 0;

        small {
          font-size: 1rem;
        }
      }
    }

    nb-card-body {
      height: 300px;

      .chart-container {
        height: 300px;
        position: relative;
        width: 100%;
      }

      .notification p {
        margin: 0;
      }
    }
  }

  nb-card.stat-card.registration {
    nb-card-header {
      h3 {
        font-weight: 300;
        margin: 0;

        small {
          font-size: 1rem;
        }
      }
    }

    nb-card-body.simple-registration {
      .number-group {
        background: #e5f6ef;
        display: flex;
        margin-bottom: 0.5rem;
        padding: 0.5rem;

        .total {
          margin: 0;
          padding-right: 1rem;
        }

        .gender {
          margin: 0 1rem 0 0;
          width: 75px;

          .label {
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }

    nb-card-body.custom-registration {
      .form-group {
        margin-bottom: 2rem;

        h5.form-name {
          font-weight: 300;
          margin: 0;
        }

        .number-group {
          background: #e5f6ef;
          display: flex;
          margin-bottom: 0.5rem;
          padding: 0.5rem;

          .total {
            margin: 0;
            padding-right: 1rem;
          }

          .gender {
            margin: 0 1rem 0 0;
            width: 75px;

            .label {
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  nb-card.stat-card.attendees {
    nb-card-header {
      h3 {
        font-weight: 300;
        margin: 0;
      }
    }

    nb-card-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .chart-container {
        padding: 1rem 0;
        position: relative;
        text-align: center;
        width: 330px;

        p {
          font-size: 1.2rem;
          margin: 0;
        }
      }

      .numbers {
        text-align: center;

        span {
          font-size: 1.3rem;
        }
      }
    }
  }

  nb-card.stat-card.discussions {
    nb-card-header {
      h3 {
        font-weight: 300;
        margin: 0;

        nb-icon {
          font-size: 2rem;
        }
      }
    }

    nb-card-body {
      nb-list {
        nb-list-item {
          p {
            margin: 0;
            padding: 0 5px;
            word-break: break-all;
          }

          .type {
            width: 20%;
          }

          .parent {
            width: 50%;
          }

          .messages {
            width: 10%;
          }
        }
      }
    }
  }

  nb-card.stat-card.polls {
    nb-card-header {
      h3 {
        font-weight: 300;
        margin: 0;

        nb-icon {
          font-size: 2rem;
        }
      }
    }

    nb-card-body {
      nb-list {
        nb-list-item {
          display: flex;
          flex-wrap: wrap;

          p {
            margin: 0;
            padding: 0 5px;
            word-break: break-all;
          }

          .question {
            width: 30%;
          }

          .pollable {
            width: 30%;
          }

          .responses {
            width: 10%;
          }

          .results {
            width: 10%;
          }
        }
      }
    }
  }
}
