<div class="chats-container">
  <div class="chats-list">
    <app-chats-list (getChat)="openChat($event)"
                    [currentUser]="currentUser"
                    [allPersonalChatUsers]="allPersonalChatUsers"
    ></app-chats-list>
  </div>
  <div [style.right.px]="chatsWindowsRight" class="chats-windows">
    <app-chats-window (removeChat)="closeChat($event)"
                      [discussionFollower]="follower"
                      *ngFor="let follower of discussionFollowers;"
                      (removeFromUnread)="removeFromUnread($event)"
    ></app-chats-window>
  </div>
</div>
