.event-dashboard {
  display: flex;
  justify-content: space-around;
  .side-menu.responsive {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    // height: 5rem;
    z-index: 2;
    box-shadow: 2px -5px 15px -7px lightgrey;


    nb-card {
      margin-bottom: 0;
      nb-card-body {
        padding: 5px;
      }
    }

    .menu-items {
      display: flex;
      flex-direction: row;
      overflow-x: auto;

      .item {
        padding: 0 5px;

        a {
          display: block;
          height: 100%;
          width: fit-content;
          text-decoration: none;
          padding: 0.5rem 0.5rem;
          text-transform: uppercase;
          font-size: 12px;
          color: #4e4e4e;
          white-space: nowrap;

          nb-icon {
            vertical-align: bottom;
          }
        }
      }

      .item.external-links {
        display: flex;
        button {
          margin: 0 5px;
        }
      }
    }

    @media screen and (min-width: 800px) {
      width: 30%;
      max-width: 300px;
      position: sticky;
      height: fit-content;
      top: 5.2rem;
      .menu-items {
        flex-direction: column;
        .item {
          text-align: right;
          cursor: pointer;
          :hover {
            text-decoration: underline !important;
          }
          a {
            display: block;
            height: 100%;
            text-decoration: none;
            padding: 0.5rem 0.5rem;
            text-transform: uppercase;
            font-size: 0.85rem;
            color: #4e4e4e;
            width: 100%;
          }
        }

        .item.external-links {
          flex-direction: column;
          button {
            margin: 5px 0;
          }
        }
      }
    }


  }

  .page-column {
    width: 100%;
    @media screen and (min-width: 800px) {
      width: 70%;
    }

    .item-group {
      margin-bottom: 3.5rem;
      .item-group-title {
        display: flex;
        padding-right: 5px;
        text-transform: uppercase;
        font-size: 1rem;
        color: grey;
        padding-left: 5px;
      }
      .item-group-title:after {
        content: '';
        flex: 1 1;
        border-bottom: 2px solid grey;
        margin: auto 0 auto 0.5rem;
      }
    }

    nb-card {
      margin-bottom: 0.5rem;
      nb-card-header {
        // background: #ececec;
        font-weight: 300;
        font-size: 1rem;
        padding: 0 0.5rem;
      }
    }
    .event-details {
      display: flex;
      flex-direction: column;
      h1 {
        margin-top: 0;
      }
    }

    .advanced-option-switch {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      p {
        margin: 0 0.5rem;
      }
    }

    // .card-row {
    //   display: flex;
    //   flex-direction: column;
    //   margin: 0 -0.5rem;

    //   @media screen and (min-width: 800px) {
    //     flex-direction: row;
    //   }

    //   @media screen and (max-width: 800px) {
    //     .event-guide {
    //       display: none;
    //     }
    //   }

    // }

    // .card-col {
    //   flex: 1 0 100%;
    //   flex-direction: column;
    //   margin: 0 0.5rem;
    //   position: relative;
    //   @media screen and (min-width: 800px) {
    //     flex: 1 0 calc(50% - 1rem);
    //     flex-direction: row;
    //   }
    // }

    .event-timings{
      >div{
        display: flex;
        p{
          margin: 0 1rem 1rem;
        }
      }
    }

    .event-description {
      background-color: #f9f9f9;
      fa-icon{
        margin-top: 1rem;
        margin-right: 0.5rem;
      }
      display: flex;
      >div{
        height: 15rem;
        overflow: scroll;
      }
    }


    fa-icon{
      vertical-align: text-top;
    }


    .event-header-image {
      form {
        width: 800px;
        max-width: 100%;
        margin: 0 auto;
        .uploaded-header-image {
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-width: 100%;
          }
        }


        .uploaded-header-image.filler {
          height: 300px;
          width: 100%;
          background-color: #c5c5c538;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            margin: 0;
            font-size: 1.5rem;
            color: grey;
          }

        }

        .delete-header-image-button {
          display: block;
          margin: 0 auto;
        }
      }
    }

    .community-emails {
      height: 400px;
      overflow-y: auto;
    }
  }
}



