<div class="single-external-feed page-padding" *ngIf="externalFeed">
  <div class="page-navigation-actions">
    <a nbButton ghost size="small" class="padding-0" [routerLink]="['/feed']">
      <nb-icon icon="arrow-ios-back"></nb-icon> Back
    </a>
  </div>
  <app-single-external-feed-details [feedPost]="externalFeed" [showComments]="true"></app-single-external-feed-details>
  <div class="page-navigation-actions">
    <a nbButton ghost size="small" class="padding-0" [routerLink]="['/feed']">
      <nb-icon icon="arrow-ios-back"></nb-icon> Back
    </a>
  </div>
</div>