<nb-card>
  <nb-card-header>
    {{ round.name }}
  </nb-card-header>
  <nb-card-body>
    <div class="date">{{ moment(round.date).format('DD MMM YYYY') }}</div>
    <div class="description">{{ round.description }}</div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton ghost status="primary" (click)="editRound(round)">Edit</button>
    <button nbButton ghost status="danger" (click)="destroyRound(round.id)">Delete</button>
    <button nbButton ghost status="info" (click)="createChannel()" *ngIf="!round.channel_id">Create Channel</button>
    <a
      *ngIf="round.channel_id"
      [routerLink]="['/communities', communitySlug, 'hackathons', hackathonSlug, 'channels', round.channel_id]"
      target="_blank"
    >
      <button nbButton ghost status="info">Go To Channel</button>
    </a>
  </nb-card-footer>
</nb-card>
