<div class="user-video-container">
  <div *ngIf="!peer?.isLocal && localPeer?.roleName === EHmsRoles.HOST" class="video-controls d-flex">
    <button
      (click)="mutePeerAudio()"
      [disabled]="!isAudioEnabled"
      ghost
      nbButton
      nbTooltip="Mute this person's audio"
      shape="round"
      size="small"
    >
      <nb-icon [icon]="isAudioEnabled ? 'mic' : 'mic-off'"></nb-icon>
    </button>
    <button
      (click)="mutePeerVideo()"
      [disabled]="!isVideoEnabled"
      ghost
      nbButton
      nbTooltip="Mute this person's video"
      shape="round"
      size="small"
    >
      <nb-icon [icon]="isVideoEnabled ? 'video' : 'video-off'"></nb-icon>
    </button>
    <button (click)="changeRole()" ghost nbButton nbTooltip="Remove from stage" shape="round" size="small">
      <nb-icon icon="minus-circle"></nb-icon>
    </button>
    <button (click)="removeFromSession()" ghost nbButton nbTooltip="Remove from session" shape="round" size="small">
      <nb-icon icon="log-out"></nb-icon>
    </button>
  </div>
  <video #videoElement [autoplay]="true" [muted]="peer?.isLocal" playsinline></video>
  <div *ngIf="metaData" class="user-name">
    <nb-icon *ngIf="!isAudioEnabled" icon="mic-off" status="danger"></nb-icon>
    {{metaData.name}}
  </div>
</div>
