<div class="book">
  <div class="base-layout">
    <div class="container">
      <div class="power-of-communities">
        <commudle-public-page-layout>
          <div content>
            <div class="power-of-communities-content">
              <h1 class="heading-power-of-communities">
                <a [routerLink]="'.'" fragment="power-of-communities"
                  >The Power of Community: How Online Communities Can Change Your Life</a
                >
              </h1>
              <p class="subheading-power-of-communities">
                Herox helps businesses in Africa get paid by anyone, anywhere in the world securedly.
              </p>
            </div>
            <div class="power-of-communities-btn">
              <button nbButton status="info" size="large">Request a Demo</button>
              <button nbButton size="large" class="signUp-btn">Sign Up</button>
            </div>
          </div>
          <div image class="power-of-communities-image">
            <img
              alt="Power Communities"
              src="https://json.commudle.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBblFjIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--01057b5be393344ed188982aa64722b41ab5b509/Homepage-Banner.png"
              title="Power Communities"
            />
          </div>
        </commudle-public-page-layout>
      </div>

      <div class="features">
        <app-badge
          [text]="'FEATURES'"
          [fontColor]="'com-text-green-500'"
          [fontSize]="'small'"
          [borderRadius]="'round'"
          [color]="'com-bg-green-100'"
        ></app-badge>
        <p class="heading">Gain more insight into how people use your</p>
        <p class="subheading">
          With our integrated CRM, project management, collaboration and invoicing capabilities, you can manage every
          aspect of your business in one secure platform.
        </p>
        <div class="all-features">
          <div class="features-left-col">
            <commudle-public-page-feature-card [feature]="feature1"></commudle-public-page-feature-card>
            <commudle-public-page-feature-card [feature]="feature2"></commudle-public-page-feature-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
