<div>
  <p>If you accept this role:</p>
  <ul>
    <li>
      You will become a member of <strong>{{ communityNameSpeaker }}</strong> community, if not already.
    </li>
    <li>
      Organizers & Administrators of <strong>{{ communityNameSpeaker }}</strong> can access your email address and all
      the data filled in various forms created by them and filled by you. They can also send you emails, some of which
      you can unsubscribe.
    </li>
    <li>
      Organizers & Administrators of <strong>{{ communityNameSpeaker }}</strong> have the right to permit or revoke your
      membership of the community or remove you as the speaker at any point of time at their discretion.
    </li>
  </ul>
</div>
