<div class="newsletter" >
  <p>
    {{this.newsletter.title}}
    <a
      nbButton ghost size="small" target="_blank"
      [routerLink]="['/newsletters', this.newsletter.id]">
      <nb-icon icon="external-link"></nb-icon>
      Preview
    </a>
  </p>
  <div>
    <app-main-newsletter-email-stats [mainNewsletterId]="newsletter.id"></app-main-newsletter-email-stats>
  </div>
  <div>
    <div class="actions d-flex">
      <a
        nbButton
        outline size="small"
        [routerLink]="['/admin', 'newsletters', this.newsletter.id, 'edit']"
        [disabled]="newsletter.scheduled_for || newsletter.sent_at"
        >
        Edit
      </a>
      <nb-select
        [selected]="this.newsletter.status" [size]="'small'"
        (selectedChange)="updateStatus($event)"
        [disabled]="newsletter.scheduled_for !== null"
        [nbTooltip]="(newsletter.scheduled_for === null) ? 'Admin Communication will not be visible publicly' : 'Status cannot be changed when schedule is set'"
        >
        <nb-option
          *ngFor="let status of EMainNewsletterStatuses | keyvalue"
          [value]="status.value"> {{status.key}} </nb-option>
      </nb-select>

      <button nbButton outline size="small" (click)="sendTestEmail()">
        Send Test Email
      </button>

      <button
        nbButton outline size="small"
        *ngIf="newsletter.status === EMainNewsletterStatuses.PUBLISHED && (!showScheduler && !newsletter.scheduled_for && !newsletter.sent_at)"
        (click)="showScheduler = true"
        >
        <nb-icon icon="clock-outline"></nb-icon>
        Set Schedule
      </button>

      <div *ngIf="newsletter.status === EMainNewsletterStatuses.PUBLISHED && (showScheduler || newsletter.scheduled_for)" class="d-flex align-items-center">
        <app-main-newsletter-scheduler [newsletter]="newsletter" (updatedNewsLetter)="updateSchedule($event)"></app-main-newsletter-scheduler>
      </div>

    </div>
  </div>
</div>
