<div [style.padding-top.px]="currentUser ? 12 : 8" class="d-flex align-items-center home-navbar-menu-options">
  <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <nb-icon icon="home" pack="fas"></nb-icon>
    <div class="home-navbar-menu-option">Home</div>
  </a>
  <a [routerLink]="['/about']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <nb-icon icon="info-circle" pack="fas"></nb-icon>
    <div class="home-navbar-menu-option">About</div>
  </a>
  <a [routerLink]="['/builds']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <nb-icon icon="lightbulb" pack="fas"></nb-icon>
    <div class="home-navbar-menu-option">Builds</div>
  </a>
  <a [routerLink]="['/labs']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <nb-icon icon="flask" pack="fas"></nb-icon>
    <div class="home-navbar-menu-option">Labs</div>
  </a>
  <a [routerLink]="['/communities']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <nb-icon icon="user-friends" pack="fas"></nb-icon>
    <div class="home-navbar-menu-option">Communities</div>
  </a>
</div>