:host {
  @media screen and (max-width: theme('screens.md')) {
    @apply com-overflow-x-scroll com-overflow-y-hidden com-w-screen;
  }
}

a {
  text-decoration: none;
}

nb-actions {
  @apply com-h-full com-flex com-justify-evenly;

  nb-action {
    @apply com-px-0 com-py-4 md:com-p-0 com-border-none;

    a {
      @apply com-flex com-flex-col com-items-center com-px-2 md:com-px-4 com-border-none md:com-w-24;

      fa-icon {
        @apply com-text-base md:com-text-xl com-text-gray-300;
      }

      &.active {
        fa-icon,
        span {
          @apply com-text-blue-600 com-font-medium;
        }
      }

      span {
        @apply com-font-normal com-text-gray-500 com-text-xs;
      }
    }
  }
}
