a {
  text-decoration: none;
}

nb-actions {
  nb-action {
    @apply com-p-0 md:com-border-none;

    a {
      @apply com-flex com-flex-col com-items-center com-px-2 md:com-px-4 com-border-none md:com-w-24;

      fa-icon {
        @apply com-text-lg md:com-text-xl com-text-gray-300;
      }

      &.active {
        fa-icon,
        span {
          @apply com-text-blue-600 com-font-medium;
        }
      }

      span {
        @apply com-font-normal com-text-gray-500;
      }
    }
  }
}
