<div class="d-flex home-navbar-menu-options">
  <a [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/']" routerLinkActive="active">
    <div class="icon">
      <fa-icon [icon]="faHome"></fa-icon>
    </div>
    <div class="home-navbar-menu-option">Home</div>
  </a>
  <!-- <a [routerLink]="['/about']" routerLinkActive="active">
    <div class="icon">
      <fa-icon [icon]="faInfoCircle"></fa-icon>
    </div>
    <div class="home-navbar-menu-option">About</div>
  </a> -->
  <a
    (click)="resetCount()"
    *appBreakpoints="'<=lg'"
    [routerLink]="['/notifications']"
    class="notification"
    routerLinkActive="active"
  >
    <div class="icon">
      <span *ngIf="notificationCount > 0" class="notification-badge">{{ notificationCount }}</span>
      <fa-icon [icon]="faBell"></fa-icon>
    </div>
    <div class="home-navbar-menu-option">Notifications</div>
  </a>
  <a
    (click)="resetCount()"
    *appBreakpoints="'>lg'"
    [nbPopover]="notificationsPopoverComponent"
    [nbPopoverContext]="'notificationsPopover'"
    class="notification clickable"
  >
    <div class="icon">
      <div *ngIf="notificationCount > 0" class="notification-badge">{{ notificationCount }}</div>
      <fa-icon [icon]="faBell"></fa-icon>
    </div>
    <div class="home-navbar-menu-option">Notifications</div>
  </a>
  <a [routerLink]="['/builds']" routerLinkActive="active">
    <div class="icon">
      <fa-icon [icon]="faLightbulb"></fa-icon>
    </div>
    <div class="home-navbar-menu-option">Builds</div>
  </a>
  <a [routerLink]="['/labs']" routerLinkActive="active">
    <div class="icon">
      <fa-icon [icon]="faFlask"></fa-icon>
    </div>
    <div class="home-navbar-menu-option">Labs</div>
  </a>
  <a [routerLink]="['/communities']" routerLinkActive="active">
    <div class="icon">
      <fa-icon [icon]="faUserFriends"></fa-icon>
    </div>
    <div class="home-navbar-menu-option">Communities</div>
  </a>
</div>
