@import '/projects/commudle-admin/src/assets/styles/variables';

.communities-container {
  width: max-content;
  margin: 0 auto;

  .communities {
    .about {
      width: 1136px;
    }

    .content {
      .left-column {
        width: 280px;
      }

      .center-column {
        width: 856px;
      }
    }
  }

  .ads {
    width: 178px;
  }

  .communities-mobile {
    width: 100vw;

    .ads {
      gap: $space-32;
    }
  }
}
