@import '/projects/commudle-admin/src/assets/styles/variables';

.communities {
  width: max-content;
  margin: 0 auto;

  .about {
    width: 1118px;
  }

  .left-column {
    width: 280px;
  }

  .center-column {
    width: 856px;
  }
}

@media all and (max-width: $tab-width) {
  .communities {
    .about {
      width: 100vw;
    }

    .left-column {
      width: 100vw;
    }

    .center-column {
      width: 100vw;
    }
  }
}
