<div>
  <p>If you accept this role:</p>
  <ul>
    <li>Your profile will be listed publicly as a leader of {{ parentName }} community.</li>
    <li>
      You will be able to access the admin dashboard of {{ parentName }} and create and manage events, channels,
      members, community details and any other entities & roles associated with this community.
    </li>
    <li>You will be able to send email communications to all community members.</li>
    <li>
      Community administrators (if present) and other fellow organizers can revoke this role at any point of time at
      their discretion.
    </li>
  </ul>
</div>
