<div class="user-video">
  <video #userVideo [muted]="self" autoplay playsinline></video>
  <div *ngIf="userDetails && !userDetails.camera && type === 'camera'"
       class="avatar d-flex justify-content-center align-items-center">
    <img alt="{{userDetails.name}}" src="{{userDetails.avatar}}" title="{{userDetails.name}}">
  </div>
  <div *ngIf="overridable && userDetails" class="override-controls d-flex justify-content-center">
    <button (click)="mutePeer.emit()" *ngIf="userDetails.mic" ghost nbButton nbTooltip="Mute" size="small">
      <nb-icon icon="mic-off-outline"></nb-icon>
    </button>
    <button (click)="removeFromStage.emit()" ghost nbButton nbTooltip="Remove from Stage" size="small">
      <nb-icon icon="person-delete-outline"></nb-icon>
    </button>
  </div>
  <div *ngIf="userDetails" class="user-info">
    <nb-icon *ngIf="!userDetails.mic" icon="mic-off" status="danger"></nb-icon>
    <p class="name">{{userDetails.name}}</p>
  </div>
</div>
