<div>
  <div class="base-layout">
    <div class="container">
      <div class="one-column">
        <div class="header-text">
          <nb-icon icon="people"></nb-icon>
          <p>People at {{ event.name }}</p>
        </div>

        <form [formGroup]="searchForm">
          <div class="search">
            <nb-form-field>
              <nb-icon icon="search" nbPrefix></nb-icon>
              <input
                formControlName="name"
                fullWidth
                nbInput
                placeholder="Search for people by name..."
                shape="semi-round"
                type="text"
              />
            </nb-form-field>
          </div>
        </form>
      </div>
      <div *appBreakpoints="'>lg'" class="two-column-layout medium">
        <div class="main-column">
          <div class="filters">
            <select class="filter" (change)="updateFilter()" [(ngModel)]="value">
              <option value="" disabled selected hidden>Looking For Work / Hiring</option>
              <option value="employee">Looking for work</option>
              <option value="employer">Hiring</option>
            </select>
            <button nbButton size="small" shape="round" (click)="resetFiltersAndSearch()" class="reset">Reset</button>
          </div>
          <div class="attended-members">
            <app-skeleton-cards
              [displayFollowButton]="true"
              [cards]="4"
              *ngIf="skeletonLoaderCard"
            ></app-skeleton-cards>
            <app-attended-members-card *ngFor="let member of members" [user]="member"></app-attended-members-card>

            <app-pagination
              (goTo)="page = $event; getMembers()"
              (next)="page = $event; getMembers()"
              (previous)="page = $event; getMembers()"
              *ngIf="total > 0"
              [count]="count"
              [current]="page"
              [total]="total"
            ></app-pagination>
          </div>
        </div>
        <div class="right-column">
          <commudle-events-volunteer-list
            [event]="event"
            [heading]="volunteerHeading"
            [subheading]="volunteerSubheading"
          ></commudle-events-volunteer-list>
          <commudle-public-home-list-events-speakers></commudle-public-home-list-events-speakers>
          <commudle-public-home-list-speakers-content
            [heading]="contentHeading"
            [subheading]="contentSubheading"
          ></commudle-public-home-list-speakers-content>
        </div>
      </div>

      <div *appBreakpoints="'<=lg'" class="one-column-layout">
        <div class="filters">
          <select class="filter" (change)="updateFilter()" [(ngModel)]="value">
            <option value="" disabled selected hidden>Looking for work / Hiring</option>
            <option value="employee">Looking for work</option>
            <option value="employer">Hiring</option>
          </select>
          <button nbButton size="small" shape="round" (click)="resetFiltersAndSearch()" class="reset">Reset</button>
        </div>
        <div class="attended-members">
          <app-skeleton-cards [cards]="4" *ngIf="skeletonLoaderCard"></app-skeleton-cards>
          <app-attended-members-card *ngFor="let member of members" [user]="member"></app-attended-members-card>

          <app-pagination
            (goTo)="page = $event; getMembers()"
            (next)="page = $event; getMembers()"
            (previous)="page = $event; getMembers()"
            *ngIf="total > 0"
            [count]="count"
            [current]="page"
            [total]="total"
          ></app-pagination>
        </div>
        <commudle-events-volunteer-list
          [event]="event"
          [heading]="volunteerHeading"
          [subheading]="volunteerSubheading"
        ></commudle-events-volunteer-list>
        <commudle-public-home-list-events-speakers></commudle-public-home-list-events-speakers>
        <commudle-public-home-list-speakers-content
          [heading]="contentHeading"
          [subheading]="contentSubheading"
        ></commudle-public-home-list-speakers-content>
      </div>
    </div>
  </div>
</div>
