.user-details-container {
  commudle-user-profile-card-large {
    &::ng-deep {
      .user-profile-large {
        margin: 10px 0;
        background-color: transparent;
      }
    }
  }

  .contact-details {
    margin: 0;
  }

  .social-links {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    a {
      color: black;
      margin: 0 0.5rem;
    }
  }
}

.registration-status-details {
  .registration-status-list {
    display: flex;
    flex-wrap: wrap;
    > div {
      cursor: pointer;
      p {
        padding: 5px;
        border: 0.5px solid lightgrey;
        font-size: 12px;
        margin: 0;
        color: blue;

        &.disabled {
          color: lightgrey;
        }

        &.selected-status {
          color: green;
          font-weight: bold;
        }
      }
    }
  }

  .action-buttons {
    .entry-pass-code {
      margin: 0;
    }

    .active-uninvited {
      background-color: blue;
      color: white;
    }

    .active-attendance {
      background-color: green;
      color: white;
    }
  }
}

.confirmed-status-actions {
  > button {
    margin-bottom: 0.5rem;
  }
}
