@import '/projects/commudle-admin/src/assets/styles/variables';

.email-unsubscribe {
  height: 75vh;

  h2 {
    font-weight: normal;
  }

  nb-card {
    min-width: 300px;
    max-width: 100vw;
  }
}
