@import "../../../../../assets/styles/variables.scss";

:host {
  height: 100%;
  width: 100%;

  nb-card {
    width: 100%;
    height: 300px;
    margin: 0;
    nb-card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      .logo {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        overflow: hidden;
        img {
          width: 100%;
          overflow: hidden;
        }
      }

      .name {
        margin: 5px 0;
        text-align: center;
      }

      .mini-description {
        margin: 0;
        color: grey;
      }

      .stats {
        width: 100%;
        display: flex;
        justify-content: space-between;
        p {
          margin: 0;
        }

        a {
          color: black;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile-width) {
  .community {
    nb-card {
      width: 100%;
      height: $ch-mobile-view;
      nb-card-body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;

        .logo {
          display: inline-flex;
          align-items: center;
          img {
            margin-right: 10px;
          }
        }

        .right-column {
          .name {
            text-align: left;
            font-size: $fs-card-title;
            line-height: normal;
          }
        }

        .mini-description {
          font-size: $fs-card-secondary;
        }

        .stats {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        p {
          margin: 0;
          font-size: 12px;
        }
      }
    }
  }
}
