<div *ngIf="community" class="community clickable" [routerLink]="['/communities', community.slug]">
  <nb-card>
    <nb-card-body>
      <div>
        <div class="logo">
          <img src="{{community.logo_path}}" alt="{{community.name}} Logo">
        </div>
        <h3 class="name lh-fw">
          {{community.name | truncatetext:25}}
        </h3>
      </div>
      <p class="mini-description">
        {{community.mini_description | truncatetext:40}}
      </p>
      <div class="stats">
        <p>
          {{community.member_count}} Members
        </p>
        <p>
          {{community.event_count}} Events
        </p>
        <p>
          <a [routerLink]="['/communities', community.slug]">
            <nb-icon icon="arrow-right-outline" status="primary"></nb-icon>
          </a>
        </p>
      </div>
    </nb-card-body>
  </nb-card>
</div>
