<div class="user-feed-post">
  <div class="user-feed-post-prefix">
    <div class="user-feed-post-details d-flex justify-content-space-between">
      <nb-user [name]="user.name" [picture]="user.avatar" [title]="user.designation"></nb-user>
      <span></span>
      <button (click)="onDeletePost()" *ngIf="currentUser && currentUser.id === user.id" ghost nbButton size="small"
              status="danger">Delete
      </button>
    </div>
    <div class="user-feed-post-content">
      {{post.content}}
    </div>
    <div class="user-feed-post-tags d-flex">
      <div *ngFor="let tag of post.tags" class="user-feed-post-tag">{{tag.name}}</div>
    </div>
  </div>
  <div *ngIf="post.images.length > 0" class="user-feed-post-images d-flex">
    <img *ngFor="let image of post.images" alt="Image" height="200" src="{{image.url}}">
  </div>
  <div class="user-feed-post-suffix">
    <div class="user-feed-post-votes">
      <nb-icon icon="heart"></nb-icon>
      {{post.votes_count}}
    </div>
  </div>
</div>
