<div class="com-bg-white">
  <div class="base-layout com-bg-white">
    <div class="container">
      <div class="one-column-layout">
        <commudle-public-home-list-events-header></commudle-public-home-list-events-header>
      </div>
      <div class="two-column-layout medium">
        <div class="main-column">
          <!-- <app-loading-spinner *ngIf="isLoading"></app-loading-spinner> -->
          <commudle-public-home-list-events-upcoming></commudle-public-home-list-events-upcoming>
          <commudle-public-home-list-events-past></commudle-public-home-list-events-past>
        </div>
        <div class="right-column">
          <commudle-public-home-list-events-featured-communities></commudle-public-home-list-events-featured-communities>
          <commudle-public-home-list-events-speakers></commudle-public-home-list-events-speakers>
          <commudle-public-home-list-events-tech-sessions></commudle-public-home-list-events-tech-sessions>
        </div>
      </div>
    </div>
  </div>
</div>
