<div class="base-layout com-bg-white">
  <div class="container">
    <div class="two-column-layout mobile-reverse">
      <div class="main-column">
        <!-- <app-loading-spinner *ngIf="isLoading"></app-loading-spinner> -->
        <!-- <commudle-public-home-list-events-header></commudle-public-home-list-events-header> -->
        <commudle-public-home-list-events-upcoming></commudle-public-home-list-events-upcoming>
        <!-- <commudle-public-home-list-events-featured-communities></commudle-public-home-list-events-featured-communities> -->
      </div>
      <div class="right-column">
        <commudle-public-home-list-events-featured-communities></commudle-public-home-list-events-featured-communities>
      </div>
    </div>
  </div>
</div>
