<commudle-listing-pages-layout>
  <div header>
    <commudle-public-home-list-events-header></commudle-public-home-list-events-header>
  </div>
  <div one-column *ngIf="isMobileView">
    <commudle-public-home-list-events-upcoming></commudle-public-home-list-events-upcoming>
    <div class="featured-communities">
      <commudle-public-home-list-events-featured-communities></commudle-public-home-list-events-featured-communities>
    </div>
    <div class="tech-sessions">
      <commudle-public-home-list-events-tech-sessions></commudle-public-home-list-events-tech-sessions>
    </div>
    <div class="speakers">
      <commudle-public-home-list-events-speakers
        [parentType]="'communities'"
      ></commudle-public-home-list-events-speakers>
    </div>
    <commudle-public-home-list-events-past></commudle-public-home-list-events-past>
  </div>
  <div main-column *ngIf="!isMobileView">
    <commudle-public-home-list-events-upcoming></commudle-public-home-list-events-upcoming>
    <commudle-public-home-list-events-past></commudle-public-home-list-events-past>
  </div>
  <div right-column class="right-column">
    <div class="featured-communities">
      <commudle-public-home-list-events-featured-communities></commudle-public-home-list-events-featured-communities>
    </div>
    <div class="speakers">
      <commudle-public-home-list-events-speakers
        [parentType]="'communities'"
      ></commudle-public-home-list-events-speakers>
    </div>
    <div class="tech-sessions">
      <commudle-public-home-list-events-tech-sessions></commudle-public-home-list-events-tech-sessions>
    </div>
  </div>
</commudle-listing-pages-layout>
