.send-message-form {
  position: relative;

  form {
    align-items: self-start;
    display: flex;

    nb-form-field {
      position: relative;
      width: 100%;

      textarea {
        font-weight: 400;
        padding-left: 3.5rem;
        resize: none;
      }

      .nbPrefix {
        align-items: center;
        display: flex;
        margin-left: 1rem;
        margin-top: -5px;

        .emoji-button {
          padding: 0.1rem;
        }

        emoji-mart {
          bottom: 50px;
          left: 25px;
          position: absolute;

          &.edit {
            bottom: 0;
            left: 0;
            top: 50px;
          }
        }
      }
    }

    > button {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: 5px;
      max-width: 40px;
      width: 20%;
    }
  }

  .attachments {
    display: flex;
    justify-content: flex-end;
    left: 10px;
    overflow-x: auto;
    padding: 10px;

    position: absolute;

    top: -115px;
    width: 80%;

    &.bottom {
      bottom: -115px;
      top: unset;
    }

    .file {
      background: white;
      border: 2px solid #bcd4ff;
      border-radius: 5px;
      height: 100px;
      margin: 0 5px;
      position: relative;
      width: 80px;

      .remove {
        background: white;
        border-radius: 50%;
        position: absolute;
        right: -10px;
        top: -10px;
      }

      .file-preview {
        display: flex;
        flex-direction: column;
        height: 100%;

        .name {
          align-items: center;
          display: flex;
          height: 80%;
          margin: 0;
          text-align: center;
        }

        .extension {
          border-top: 1px dotted lightgrey;
          color: lightgrey;
          font-weight: bolder;
          margin: 0;
          text-align: center;
        }
      }

      .image-file-preview {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
  }
}

.tagging-info {
  font-size: 12px;
  line-height: 6px;
  margin-left: 10px;
}

// .mention-list-template {
//   display: flex;
//   >div {
//     overflow: hidden;
//     width: 25px;
//     height: 25px;
//     border-radius: 50%;
//     margin-right: 5px;
//     img {
//       width: 100%;

//     }
//   }

//   p.name {
//     margin: 0;

//     text-decoration: none !important;
//   }
// }
