<div class="com-relative com-bg-white com-py-16">
  <div class="com-mx-auto com-px-4 com-text-center sm:com-px-6 lg:com-px-8">
    <div class="com-text-base com-font-semibold com-tracking-wider com-text-blue-600 com-uppercase">
      Developer Ecosystem
    </div>
    <div class="com-mt-2 com-text-3xl com-font-extrabold com-text-gray-900 com-tracking-tight sm:com-text-4xl">
      Step into the Commudle Developerverse
    </div>
    <div class="com-mt-5 com-max-w-prose com-mx-auto com-text-xl com-text-gray-500">
      Being a Techie is a superpower,
      <br />
      share knowledge & collaborate with more people like you.
    </div>
    <div class="com-mt-12">
      <div class="com-grid com-grid-cols-1 com-gap-8 md:com-grid-cols-3">
        <div class="com-pt-6">
          <div class="com-flow-root com-bg-gray-50 com-rounded-lg com-px-6 com-pb-8">
            <div class="com--mt-6">
              <div>
                <span
                  class="
                    com-inline-flex
                    com-items-center
                    com-justify-center
                    com-p-3
                    com-bg-blue-500
                    com-rounded-md
                    com-shadow-lg
                  "
                >
                  <!-- Heroicon name: outline/cloud-upload -->
                  <svg
                    aria-hidden="true"
                    class="com-h-6 com-w-6 com-text-white"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                </span>
              </div>
              <div class="com-mt-8 com-text-lg com-font-medium com-text-gray-900 com-tracking-tight">
                Find Opportunities
              </div>
              <div class="com-mt-5 com-text-base com-text-gray-500">
                Your Commudle profile is your Developer journey towards a strong network and new opportunities.
              </div>
            </div>
          </div>
        </div>

        <div class="com-pt-6">
          <div class="com-flow-root com-bg-gray-50 com-rounded-lg com-px-6 com-pb-8">
            <div class="com--mt-6">
              <div>
                <span
                  class="
                    com-inline-flex
                    com-items-center
                    com-justify-center
                    com-p-3
                    com-bg-blue-500
                    com-rounded-md
                    com-shadow-lg
                  "
                >
                  <!-- Heroicon name: outline/lock-closed -->
                  <svg
                    aria-hidden="true"
                    class="com-h-6 com-w-6 com-text-white"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      strokeLinecap="round"
                      strokeLinejoin="round"
                      d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
                    />

                  </svg>
                </span>
              </div>
              <div class="com-mt-8 com-text-lg com-font-medium com-text-gray-900 com-tracking-tight">
                Knowledge Sharing
              </div>
              <div class="com-mt-5 com-text-base com-text-gray-500">
                Publish your own tutorials, share those projects which you are building and get recognized.
              </div>
            </div>
          </div>
        </div>

        <div class="com-pt-6">
          <div class="com-flow-root com-bg-gray-50 com-rounded-lg com-px-6 com-pb-8">
            <div class="com--mt-6">
              <div>
                <span
                  class="
                    com-inline-flex
                    com-items-center
                    com-justify-center
                    com-p-3
                    com-bg-blue-500
                    com-rounded-md
                    com-shadow-lg
                  "
                >
                  <svg
                    aria-hidden="true"
                    class="com-h-6 com-w-6 com-text-white"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                    />
                  </svg>
                </span>
              </div>
              <div class="com-mt-8 com-text-lg com-font-medium com-text-gray-900 com-tracking-tight">Communities</div>
              <div class="com-mt-5 com-text-base com-text-gray-500">
                Build your own Community or join one, learn new things, help other developers. One platform for all
                engagements.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
