<div class="community-build">
  <div class="content">
    <h5>
      {{ cb.name }}
      <a [routerLink]="['/builds', cb.slug]" class="external-link" target="_blank">
        <small>{{cb.publish_status}}</small>
        <small *ngIf="[EPublishStatus.draft, EPublishStatus.submitted].includes(cb.publish_status)">Preview</small>
        <nb-icon icon="external-link"></nb-icon>
      </a>
    </h5>
    <p>
      <small>
        {{ moment(cb.created_at).fromNow() }}
      </small>
    </p>
    <div *ngIf="stats" class="stats">
      <p>
        {{stats.total_visitors}}
        <small>Total Visits</small>
      </p>
      <p>
        {{stats.unique_visitors}}
        <small>Unique Visitors</small>
      </p>
      <p>
        {{stats.total_votes}}
        <small>Stars</small>
      </p>
      <p>
        {{stats.total_comments}}
        <small>Comments</small>
      </p>
    </div>
  </div>
  <div class="status">
    <p>
      <commudle-badge [color]="EPublishStatusColors[cb.publish_status]" [text]="cb.publish_status | titlecase"></commudle-badge>
    </p>
  </div>
  <div class="build-type">
    <p>
      {{ cb.build_type | titlecase }}
    </p>
  </div>
  <div class="stats">
    <div>
      <commudle-votes-display [icon]="'star'" [votableId]="cb.id" [votableType]="'CommunityBuild'"></commudle-votes-display>
    </div>
    <div class="tags">
      <commudle-badge *ngFor="let t of cb.tags" [text]="t"></commudle-badge>
    </div>
  </div>
  <div class="actions">
    <div>
      <button [routerLink]="['/builds', cb.slug, 'edit']" fullWidth nbButton outline size="tiny" status="info">
        <nb-icon icon="edit"></nb-icon>
        Edit
      </button>
    </div>
    <div>
      <button (click)="openDeleteConfirmation(cb)" fullWidth nbButton outline size="tiny" status="danger">
        <nb-icon icon="close-circle"></nb-icon>
        Delete
      </button>
    </div>
  </div>
</div>

<ng-template #imageTemplate let-data>
  <div class="image-window">
    <img alt="Image" src="{{data.imageUrl}}" title="Image">
  </div>
</ng-template>

<ng-template #confirmDeleteTemplate let-data>
  <div>
    <button (click)="destroyBuild(data.cb.id)" nbButton size="small" status="basic">Yes</button>
    <button (click)="windowRef.close()" nbButton size="small" status="danger">No</button>
  </div>
</ng-template>
