.track-slot {
  overflow-y: auto;
  position: absolute;
  width: 90%;
  z-index: 1;
  background-color: white;
  box-shadow: -1px 5px 7px 4px lightgrey;
  border-radius: 5px;
  padding: 0.2rem;
  @apply com-text-sm;
  @apply hover:com-z-10;

  .slot-time {
    @apply com-text-xs;
  }

  .actions {
    display: flex;
    @apply com-mt-3 com-mb-2;
    nb-icon {
      @apply com-mr-3;
    }
  }

  p {
    @apply com-m-0;
  }
}
