.labs {
  nb-card {
    margin-bottom: 1rem;
  }
  .lab {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    &:not(:last-child){
      border-bottom: 1px solid lightgrey;
    }

    .content {
      >h5 {
        margin: 0;
        font-weight: 400;
      }

      >p {
        margin: 0
      }

      >div {
        margin: 0;
      }
    }


    .status {
      p {
        margin: 0;
      }
    }


    .stats {
      p {
        margin: 0;
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        app-badge {
          margin: 3px;
        }
      }
    }

    .actions {
      >div {
        margin: 0.5rem 0;
      }
    }

    @media (min-width: 800px) {
      flex-direction: row;

      .content {
        width: 60%
      }

      .status {
        width: 10%;
      }

      .stats {
        width: 10%;
      }

      .actions {
        width: 10%;
        padding-left: 0.5rem;
      }
    }
  }
}
