section {
  @apply com-p-5;
}

.topic {
  @apply com-text-xl com-mb-0;
}

.category {
  @apply com-text-base com-m-0 com-text-[#344054] com-font-medium;
}

.group-name {
  @apply com-text-[#545861] com-text-sm com-m-0 com-pb-1;
}

.forum-list {
  @apply com-cursor-pointer;
  .badge {
    @apply com-bg-Bright-Gray com-rounded-2xl;
    span {
      @apply com-p-2;
      fa-icon {
        @apply com-mr-1;
      }
    }
  }
}

.replies {
  @apply com-text-lg com-text-Auro-Metal-Saurus com-text-center;
}

td {
  @apply com-py-3 com-px-2;
}

table {
  @apply com-border-collapse;
}

.forum-list:not(:last-child) {
  @apply com-border-0 com-border-b com-border-solid com-border-gray-200;
}

.forum-list:hover {
  @apply hover:com-bg-Bright-Gray-opacity-30;
  .icons {
    @apply com-flex com-justify-around;
  }
}

.icons {
  @apply com-hidden com-w-28 -com-mt-8 com-p-1 com-bg-white com-rounded-lg com-border com-border-solid com-border-Bright-Gray com-z-10;
}

.pointer {
  @apply com-cursor-pointer;
}
