<section>
  <div>
    <button
      (click)="newChannelDialogBox(selectedForum[0].group_name); $event.stopPropagation()"
      nbButton
      status="warning"
      size="small"
    >
      <nb-icon icon="plus"></nb-icon> New Discussion
    </button>
  </div>
  <table style="width: 100%">
    <tr>
      <th><p class="topic">Topics</p></th>
      <!-- <th>Replies</th>
      <th>Activity</th> -->
    </tr>
    <tr *ngFor="let forum of selectedForum" class="forum-list">
      <td (click)="openChat(forum.id)">
        <div>
          <p class="forum-name">{{ forum.name | titlecase }}</p>
          <p class="group-name">{{ (forum.group_name | titlecase) || 'General' }}</p>
        </div>
      </td>
    </tr>
  </table>
</section>
