<section>
  <div *ngIf="currentUser && isCommunityOrganizer">
    <button
      (click)="newChannelDialogBox(selectedForum[0].group_name); $event.stopPropagation()"
      nbButton
      status="warning"
      size="small"
    >
      <nb-icon icon="plus"></nb-icon> New Discussion
    </button>
  </div>
  <table style="width: 100%">
    <tr>
      <th><p class="topic">Topics</p></th>
      <!-- <th>Replies</th> -->
      <!-- <th>Activity</th> -->
    </tr>
    <tr *ngFor="let forum of selectedForum" class="forum-list">
      <td (click)="openChat(forum.id)" class="com-w-4/5">
        <div>
          <p class="category">{{ forum.name | titlecase }}</p>
          <div class="com-flex com-space-x-2">
            <p class="group-name">{{ (forum.group_name | titlecase) || 'General' }}</p>
            <div class="readonly badge" *ngIf="forum.is_readonly">
              <span> <fa-icon [icon]="faEye"></fa-icon>Read Only </span>
            </div>
            <div class="private badge" *ngIf="forum.is_private">
              <span> <fa-icon [icon]="faLock"></fa-icon>Private </span>
            </div>
          </div>
        </div>
      </td>

      <td class="com-w-1/5">
        <div
          class="icons"
          *ngIf="
            channelsRoles[forum.id] &&
            (channelsRoles[forum.id].includes(EUserRoles.COMMUNITY_CHANNEL_ADMIN) || isCommunityOrganizer)
          "
        >
          <div class="edit pointer" (click)="openEditDialogBox(forum)">
            <fa-icon [icon]="faPen"></fa-icon>
          </div>
          <div class="delete pointer" (click)="openDeleteDialogBox(forum.id)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </div>
          <div class="invite pointer" (click)="openInviteDialogBox(forum)">
            <fa-icon [icon]="faUserPlus"></fa-icon>
          </div>
          <!-- <div class="pin pointer" (click)="pin()">
            <fa-icon [icon]="faThumbTack"></fa-icon>
          </div> -->
        </div>
        <!-- <p class="replies">29</p> -->
      </td>
    </tr>
  </table>
</section>
