@import './apps/commudle-admin/src/assets/styles/variables';

:host {
  div.data-form-container {
    max-width: 920px;
    margin: 0 auto;

    .fill-data-form {
      .form-name {
        text-align: center;
      }

      .community {
        width: fit-content;
        margin: 0 auto;
      }

      .event {
        text-align: center;
        .header-image {
          width: 100%;
          max-width: 800px;
          margin: 0 auto;
          min-height: 200px;
          img {
            width: 100%;
          }
        }
        .event-name {
          @apply com-text-Ultramarine-Blue com-m-0 com-text-base com-font-bold;
        }

        .form-name {
          @apply com-text-xl com-font-semibold com-mb-1 com-mt-8;
        }
      }

      .data-form-fill-body {
        @apply com-py-5 com-px-4;
      }
    }
  }
}

.confirmation-dialog {
  nb-card-body {
    text-align: center;
    .thank-you-icon {
      nb-icon {
        font-size: 100px;
      }
    }
  }

  nb-card-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    p {
      flex-grow: 1;
      max-width: 30%;
      text-align: center;
      a {
        text-decoration: none;
        img {
          width: 50px;
        }
      }
    }
  }
}
