<div *ngIf="dataFormEntity" class="base-layout fill-data-form">
  <div class="container">
    <div class="one-column-layout">
      <div>
        <nb-card *ngIf="formClosed">
          <nb-card-body> This form is closed! </nb-card-body>
        </nb-card>
      </div>

      <div *ngIf="!formClosed">
        <nb-card>
          <nb-card-body>
            <h1 class="form-name">{{ dataFormEntity.name }}</h1>
            <p *ngIf="community" class="community">
              <app-community-badge [community]="community"></app-community-badge>
            </p>
            <div *ngIf="event" class="event">
              <div *ngIf="event.header_image_path" class="header-image">
                <img alt="{{ event.name }}" src="{{ event.header_image_path }}" title="{{ event.name }}" />
              </div>
              <h3>{{ event.name }}</h3>
            </div>
          </nb-card-body>
        </nb-card>

        <nb-card *ngIf="showProfileForm">
          <nb-card-header> Let's Update Your Basic Profile! </nb-card-header>
          <nb-card-body>
            <div>
              <app-basic-user-profile></app-basic-user-profile>
            </div>
          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-header> Filling this form should be easy! </nb-card-header>
          <nb-card-body>
            <app-data-form-fill
              (formSubmitted)="submitForm($event)"
              [dataFormId]="dataFormEntity.data_form_id"
              [existingResponses]="selectedFormResponse"
            >
            </app-data-form-fill>
            <p *ngIf="dataFormEntity.multi_response" class="text-info">
              <i>* You can submit multiple responses for this form!</i>
            </p>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>

<ng-template #formConfirmationDialog let-data>
  <nb-card class="confirmation-dialog">
    <nb-card-body>
      <div>
        <p class="thank-you-icon">
          <nb-icon icon="done-all" status="success"></nb-icon>
        </p>
        <p>Thank You {{ currentUser.name }} for filling the form!</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <p *ngIf="event">
        <a [routerLink]="['/communities', community.slug, 'events', event.slug]">
          <img alt="{{ event.name }}" src="{{ event.header_image_path }}" title="{{ event.name }}" />
          <br />
          {{ event.name }}
        </a>
      </p>
      <p *ngIf="community">
        <a [routerLink]="['/communities', community.slug]">
          <img alt="{{ community.name }}" src="{{ community.logo_path }}" title="{{ community.name }}" />
          <br />
          {{ community.name }}
        </a>
      </p>
      <p>
        <a [routerLink]="['/']">
          <nb-icon icon="home"></nb-icon>
          <br />
          Home
        </a>
      </p>
    </nb-card-footer>
  </nb-card>
</ng-template>
