<div class="data-form-container">
  <div *ngIf="dataFormEntity" class="base-layout fill-data-form">
    <div class="container">
      <div class="one-column-layout">
        <div>
          <nb-card *ngIf="formClosed">
            <nb-card-body> This form is closed! </nb-card-body>
          </nb-card>
        </div>

        <div *ngIf="!formClosed">
          <nb-card class="header">
            <nb-card-body>
              <p *ngIf="community" class="community">
                <app-community-badge [community]="community"></app-community-badge>
              </p>
              <div *ngIf="event" class="event">
                <div class="header-image">
                  <commudle-banner-image
                    *ngIf="event.header_image_path"
                    [headerImagePath]="event.header_image_path"
                    [name]="event.name"
                  ></commudle-banner-image>
                </div>
                <p class="event-name">{{ event.name }}</p>
              </div>
              <p class="form-name">{{ dataFormEntity.name }}</p>
            </nb-card-body>
          </nb-card>

          <nb-card *ngIf="showProfileForm">
            <nb-card-header> Let's Update Your Basic Profile! </nb-card-header>
            <nb-card-body>
              <div>
                <app-basic-user-profile></app-basic-user-profile>
              </div>
            </nb-card-body>
          </nb-card>
          <nb-card *ngIf="dataFormEntity.user_details">
            <nb-card-body>
              <commudle-user-details-form
                [userFormDetails]="dataFormEntity.user_details"
                [showActionButtons]="false"
                (submitUserDetailsEvent)="UpdateOrSubmitResponse($event)"
              ></commudle-user-details-form>
            </nb-card-body>
          </nb-card>

          <div class="data-form-fill-body">
            <app-data-form-fill
              (formSubmitted)="updateUserDetailsAndSubmitForm($event)"
              [dataFormId]="dataFormEntity.data_form_id"
              [existingResponses]="selectedFormResponse"
              [eventId]="event ? event.id : ''"
            >
            </app-data-form-fill>
            <p *ngIf="dataFormEntity.multi_response" class="text-info">
              <i>* You can submit multiple responses for this form!</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #formConfirmationDialog let-data>
  <nb-card class="confirmation-dialog">
    <nb-card-body>
      <div>
        <p class="thank-you-icon">
          <nb-icon icon="done-all" status="success"></nb-icon>
        </p>
        <p class="thank-you-text">Thank You {{ currentUser.name }} for filling the form!</p>
        <div *appBreakpoints="'>lg'" class="user">
          <commudle-user-profile [currentUser]="currentUser"></commudle-user-profile>
          <commudle-userprofile-details
            [userProfileDetails]="userProfileDetails"
            [username]="currentUser.username"
            [completeProfileText]="completeProfileText"
          ></commudle-userprofile-details>
        </div>
        <div *appBreakpoints="'<=lg'" class="user">
          <commudle-user-profile [currentUser]="currentUser"></commudle-user-profile>
          <commudle-userprofile-details
            [userProfileDetails]="userProfileDetails"
            [username]="currentUser.username"
            [showLowerCardUserDetails]="false"
            [completeProfileText]="completeProfileText"
          ></commudle-userprofile-details>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <p *ngIf="event">
        <a [routerLink]="['/communities', community.slug, 'events', event.slug]">
          <p>Go to Event Page &nbsp;<fa-icon [icon]="faArrowRight"></fa-icon></p>
        </a>
      </p>
    </nb-card-footer>
  </nb-card>
</ng-template>
