@import './apps/commudle-admin/src/assets/styles/variables';

:host {
  div.data-form-container {
    max-width: 920px;
    margin: 0 auto;

    .fill-data-form {
      .container {
        .one-column-layout {
          .header {
            @apply com-mb-3;
            .form-name {
              @apply com-text-2xl com-font-semibold com-my-1 com-text-center com-text-Yankees-Blue;
            }

            .community {
              width: fit-content;
              margin: 0 auto;
            }

            .event {
              @apply com-mt-2;
              text-align: center;
              .header-image {
                width: 100%;
                max-width: 800px;
                margin: 0 auto;
                img {
                  width: 100%;
                }
              }
              .event-name {
                @apply com-text-Ultramarine-Blue com-m-0 com-text-lg com-font-bold com-my-1;
              }
            }
          }

          .data-form-fill-body {
            max-width: 920px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
.confirmation-dialog {
  @apply com-m-0 md:com-w-[25dvw] com-w-auto com-h-full;
  nb-card-body {
    @apply com-px-0 com-py-0;
    text-align: center;
    .thank-you-icon {
      @apply com-m-0;
      nb-icon {
        font-size: 100px;
      }
    }
    .thank-you-text {
      @apply com-mt-0;
    }
  }

  nb-card-footer {
    display: flex;
    p {
      @apply com-m-0 com-font-medium;
    }
    a {
      text-decoration: none;
    }
  }
}
