.card-row {
  display: flex;
  flex-direction: column;
  margin: 0 -0.5rem;

  @media screen and (min-width: 800px) {
    flex: 1 0 calc(50% - 1rem);
    flex-direction: row;
  }
}

.card-col {
  flex: 1 0 100%;
  flex-direction: column;
  margin: 0 0.5rem;

  @media screen and (min-width: 800px) {
    flex: 1 0 calc(50% - 1rem);
    flex-direction: row;
  }
}

.basic-details {
  align-items: center;
  display: flex;

  > div {
    overflow: hidden;
    width: 100px;

    img {
      width: 100%;
    }
  }

  h4 {
    margin: 0 1rem 0;
  }
}

section {
  div {
    @apply com-mb-4;
  }
  .buttons {
    @apply com-flex com-flex-wrap com-justify-evenly md:com-justify-start;
    a,
    button {
      @apply com-mr-4 com-mt-4;
    }
  }
}

.menu {
  @apply com-border-0 com-border-b com-border-solid com-border-gray-200 com-w-auto com-overflow-auto com-scrollbar-hide com-pt-4;
  a {
    @apply com-text-gunmetal com-text-sm com-leading-4 com-h-fit com-m-0 com-pt-0 com-px-6 com-pb-17px com-cursor-pointer com-no-underline;

    nb-icon,
    fa-icon {
      @apply com-text-gray-500;
    }

    .title {
      @apply com-self-center com-ml-2;
    }
    span {
      @apply com-text-gray-500;
    }
  }

  nb-icon {
    @apply com-text-2xl;
  }
  fa-icon {
    @apply com-text-xl;
  }

  .active {
    @apply com-border-0 com-border-b-3 com-border-solid com-border-Blueberry;

    nb-icon,
    fa-icon,
    .title {
      @apply com-text-Blueberry;
    }
  }
}

.disabled {
  fa-icon,
  span {
    @apply com-text-gray-400 #{!important};
  }
}
