<div class="base-layout com-mb-8">
  <div class="container">
    <div class="one-column-layout">
      <nb-card *ngIf="community">
        <nb-card-header>
          <div class="basic-details">
            <div>
              <img alt="{{ community.name }}" src="{{ community.logo_path }}" title="{{ community.name }}" />
            </div>
            <h4>{{ community.name }}</h4>
          </div>

          <section>
            <div>
              <nb-icon icon="people-outline"></nb-icon>
              {{ community.members_count }} Members
            </div>
            <div class="buttons">
              <button (click)="sendEmails()" nbButton size="small" status="primary">
                <nb-icon icon="email-outline"></nb-icon>
                Send Emails
              </button>
              <a [routerLink]="['/communities', community.slug]" nbButton size="small" status="primary" target="_blank">
                Public Page
                <nb-icon icon="external-link"></nb-icon>
              </a>
              <a
                [routerLink]="['/communities', community.slug, 'channels']"
                nbButton
                size="small"
                status="primary"
                target="_blank"
              >
                Channels
                <nb-icon icon="external-link"></nb-icon>
              </a>
              <a [routerLink]="['stats']" nbButton size="small" status="success" target="_blank">
                <nb-icon icon="trending-up-outline"></nb-icon>
                Stats <sup>New</sup>&nbsp;
                <nb-icon icon="external-link"></nb-icon>
              </a>
            </div>
          </section>
        </nb-card-header>
        <nb-card-body class="com-px-0 md:com-px-6 com-pt-0">
          <div class="menu d-flex">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['./']"
              class="d-flex"
              routerLinkActive="active"
            >
              <nb-icon icon="calendar" status="info"></nb-icon>
              <span class="title">Events</span>
            </a>
            <div class="com-relative" *ngIf="isOrganizer">
              <a [routerLink]="['notifications']" class="d-flex" routerLinkActive="active">
                <nb-badge
                  *ngIf="notificationCount > 0"
                  [text]="notificationCount.toString()"
                  status="danger"
                ></nb-badge>

                <nb-icon icon="bell" status="success"></nb-icon>
                <span class="title">Activity</span>
              </a>
            </div>
            <a [routerLink]="['members']" class="d-flex" routerLinkActive="active">
              <nb-icon icon="people" status="success"></nb-icon>
              <span class="title">Members</span>
            </a>
            <a [routerLink]="['forms']" class="d-flex" routerLinkActive="active">
              <fa-icon [icon]="faScroll"></fa-icon>
              <span class="title">Forms</span>
            </a>
            <a [routerLink]="['team']" class="d-flex" routerLinkActive="active">
              <nb-icon icon="people" status="success"></nb-icon>
              <span class="title">Team</span>
            </a>
            <a [routerLink]="['edit']" class="d-flex" routerLinkActive="active">
              <nb-icon icon="edit" status="success"></nb-icon>
              <span class="title">Edit Details</span>
            </a>
            <a
              *ngIf="community.payments_enabled"
              [routerLink]="['payments']"
              class="d-flex com-relative"
              routerLinkActive="active"
            >
              <app-badge
                class="-com-mt-4"
                text="New"
                [fontColor]="'com-text-white'"
                [fontSize]="'small'"
                [borderRadius]="'round'"
                [color]="'com-bg-Caribbean-Green'"
                [position]="'top right'"
              ></app-badge>
              <fa-icon [icon]="icons.faBuildingColumns"></fa-icon>
              <span class="title">Bank Details</span>
            </a>
            <a
              *ngIf="!community.payments_enabled"
              class="d-flex disabled com-relative"
              nbTooltip="We now support payments with Stripe! To enable on your community, please write a mail to arpan@commudle.com"
            >
              <app-badge
                class="-com-mt-4"
                text="New"
                [fontColor]="'com-text-white'"
                [fontSize]="'small'"
                [borderRadius]="'round'"
                [color]="'com-bg-Caribbean-Green'"
                [position]="'top right'"
              ></app-badge>
              <fa-icon [icon]="icons.faBuildingColumns"></fa-icon>
              <span class="title">Bank Details</span>
            </a>
          </div>
          <div class="router-outlet">
            <router-outlet></router-outlet>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
