.card-row {
  display: flex;
  flex-direction: column;
  margin: 0 -0.5rem;

  @media screen and (min-width: 800px) {
    flex: 1 0 calc(50% - 1rem);
    flex-direction: row;
  }
}

.card-col {
  flex: 1 0 100%;
  flex-direction: column;
  margin: 0 0.5rem;

  @media screen and (min-width: 800px) {
    flex: 1 0 calc(50% - 1rem);
    flex-direction: row;
  }
}

.basic-details {
  align-items: center;
  display: flex;

  > div {
    overflow: hidden;
    width: 100px;

    img {
      width: 100%;
    }
  }

  h4 {
    margin: 0 1rem 0;
  }
}

nb-tabset {
  ::ng-deep {
    ul.tabset {
      overflow-x: auto !important;
      padding: 5px !important;
    }
  }
}
