@import './projects/commudle-admin/src/assets/styles/variables';

p {
  margin: 0;
}

.community-build-discussion {
  nb-card-body {
    overflow: initial;
  }
}

.community-build-details {
  .community-build-name {
    margin: $space-20 0;
  }

  .community-build-tags {
    &::ng-deep {
      .nb-tag-list-tags-wrapper {
        nb-tag {
          background-color: $azureish-white;
          border: none;
          border-radius: $border-5;
          color: $gunmetal;
          font-size: $fs-h6;
          font-weight: $fw-400;
          line-height: 12px;
          padding: $space-4 $space-12;
          text-transform: lowercase;
        }
      }
    }
  }

  .community-build-content {
    margin: $space-20 0;

    .community-build-embed {
      display: flex;
      justify-content: center;
      max-width: 100%;
      overflow: auto;

      iframe {
        width: 100% !important;
      }
    }

    .community-build-link {
      margin: $space-8 0;
    }
  }

  .commudle-build-images {
    background: #d3d3d33b;
    margin-top: 1.5rem;
    overflow-x: auto;

    .commudle-build-images-stripe {
      display: flex;
      flex-wrap: nowrap;
      width: fit-content;

      .commudle-build-image {
        align-items: center;
        border: 1px solid lightgrey;
        display: flex;
        height: 280px;
        margin: 0 0.5rem;
        overflow: hidden;
        width: 280px;

        img {
          width: 100%;
        }
      }
    }
  }
}

.image-window {
  max-width: 100vw;
  overflow: hidden;

  .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;

    button {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    nb-icon {
      vertical-align: top;
    }
  }

  img {
    width: 100%;
  }
}
