<nb-card *ngIf="cBuild" class="community-build-details">
  <nb-card-body>
    <div class="com-flex com-justify-between com-items-center">
      <app-badge
        [color]="CBuildTypeDisplay[cBuild.build_type].color"
        [nbIcon]="CBuildTypeDisplay[cBuild.build_type].icon"
        [text]="cBuild.build_type | titlecase"
      ></app-badge>
      <p class="fs-p3">{{ cBuild.created_at | date }}</p>
    </div>
    <h2 class="fs-h2 community-build-name">{{ cBuild.name }}</h2>
    <div class="community-build-author com-my-4">
      <span class="com-text-sm">Created by</span>
      <app-user-profile-card-small
        [user]="cBuild.user"
        class="com-inline-block com-align-middle com-ml-2"
      ></app-user-profile-card-small>
      <span *ngIf="cBuild.user_roles_users.length > 0" class="com-text-sm com-text-gray-500">
        + {{ cBuild.user_roles_users.length }} others
      </span>
    </div>
    <div class="community-build-tags">
      <app-tag [tags]="cBuild.tags"></app-tag>
    </div>
    <div *ngIf="cBuild.images.length > 0" class="commudle-build-images">
      <div class="commudle-build-images-stripe">
        <div
          (click)="openImage(cBuild.name, image)"
          *ngFor="let image of cBuild.images"
          class="commudle-build-image clickable"
        >
          <img alt="{{ cBuild.name }}" src="{{ image.url }}" title="{{ cBuild.name }}" />
        </div>
      </div>
    </div>
    <div class="community-build-content">
      <div *ngIf="embedCode" [innerHTML]="embedCode" class="community-build-embed"></div>
      <ng-container *ngIf="cBuild.link && !embedCode">
        <p class="fs-h2 community-build-link">
          Visit the {{ cBuild.build_type }}:
          <a [href]="cBuild.link | completeurl" rel="noreferrer" target="_blank">
            {{ cBuild.link }}
            <nb-icon icon="external-link"></nb-icon>
          </a>
        </p>
      </ng-container>
      <div [innerHTML]="cBuild.description"></div>
    </div>
    <div class="com-mt-8">
      <app-votes-display
        [votableId]="cBuild.id"
        class="com-inline-block com-mr-2"
        icon="star"
        votableType="CommunityBuild"
      ></app-votes-display>
      <span>Give a star to encourage!</span>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="discussionChat">
  <nb-card-header>Discussion</nb-card-header>
  <nb-card-body>
    <app-messages [discussion]="discussionChat"></app-messages>
  </nb-card-body>
</nb-card>

<ng-template #imageTemplate>
  <div class="image-window">
    <img alt="Image" src="{{ this.currImage.url }}" title="Image" />
    <div class="controls">
      <button (click)="imageNav(-1)" nbButton shape="round" size="small">
        <nb-icon icon="arrow-ios-back-outline"></nb-icon>
        <span>Previous</span>
      </button>
      <button (click)="imageNav(1)" nbButton shape="round" size="small">
        <span>Next</span>
        <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
      </button>
    </div>
  </div>
</ng-template>
