<div (clickOutside)="toggleSearchSuffix(false, $event)" appClickOutside class="home-navbar-search">
  <div class="d-flex search-container">
    <nb-form-field [ngClass]="{'search-form-expanded': showSearchResults}" (click)="toggleSearchSuffix(true)" class="search-form">
      <nb-icon icon="search" nbPrefix></nb-icon>
      <input (ngModelChange)="searchQueryChanged.next($event)" [ngModel]="searchQuery" fullWidth nbInput
             placeholder="Search events, labs, communities, people" type="text">
    </nb-form-field>
    <nb-select [ngClass]="{'search-filter-expanded': showSearchResults}" (selectedChange)="getSelectedFilters($event)" class="search-filter" multiple nbSuffix
               placeholder="Filters">
      <nb-option *ngFor="let filter of filterBy" [value]="filter">{{filter | titlecase}}</nb-option>
    </nb-select>
  </div>

  <div class="search-suffix">
    <div [ngClass]="{'active': showSearchResults}" class="search-results d-flex flex-column">
      <div *ngFor="let result of searchResults | keyvalue">
        <div *ngIf="result.value.length !== 0" class="search-result-group">
          <div class="search-result-heading">{{result.key}}</div>
          <div (click)="toggleSearchSuffix(false)" *ngFor="let value of result.value"
               [routerLink]="result.key === 'events' ? ['communities', value['kommunity_slug'], 'events', value['slug']] : [result.key, value['slug'] || value['username']]"
               class="search-result-name clickable">
            {{value.name}}
            <img *ngIf="result.key === 'users' && value['is_expert']" alt="Expert Tick" class="expert-icon"
                 src="/assets/images/Expert-Tick.svg" title="Expert Tick">
          </div>
        </div>
      </div>
      <div *ngIf="showPlaceholder" class="placeholder-text d-flex justify-content-center align-items-center">
        Quickly search your favorite topics, labs by industry experts or find an event you missed
      </div>
      <div *ngIf="showLoading" class="loading-text d-flex justify-content-center align-items-center">
        <div class="spinner">
          <div *ngFor="let _ of [].constructor(5)"></div>
        </div>
      </div>
    </div>
  </div>
</div>
