@import '/projects/commudle-admin/src/assets/styles/variables';

.home-navbar-search {
  position: relative;

  .search-container {
    .search-form {
      width: 100%;

      &::ng-deep {
        .nb-form-field-prefix-medium {
          color: $gunmetal;
          height: 2rem;
        }
      }

      input {
        height: 2.5rem;
        border: none;
        border-radius: 0;
        background-color: $light-purple;

        &::placeholder {
          color: rgba($gunmetal, 0.7);
        }
      }
    }

    .search-filter {
      position: relative;
      max-width: 208px;

      &::before {
        content: '';
        position: absolute;
        top: 20%;
        height: 60%;
        z-index: 2;
        border-left: 1px solid rgba($gunmetal, 0.7);
      }

      &::ng-deep {
        button {
          height: 100%;
          border: none;
          border-radius: 0;
          background-color: $light-purple;
          min-width: 150px;
        }
      }
    }
  }

  .search-suffix {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 7px 9px 0 rgba(100, 100, 111, 0.2);

    .search-results {
      height: 0;
      overflow: auto;
      background-color: $light-purple;
      transition: all 0.3s ease-in-out;

      .placeholder-text {
        width: 100%;
        height: 100%;
        font-size: $fs-h4;
        color: rgba($gunmetal, 0.6);
        padding: 0 $space-16;
      }

      .loading-text {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $light-purple;
        z-index: 3;

        .spinner {
          height: 40px;

          & > div {
            margin: 0 1px;
            width: 4px;
            height: 100%;
            display: inline-block;
            background-color: $cadet;
            animation: stretch-delay 1.2s infinite ease-in-out;

            &:nth-child(2) {
              animation-delay: -1.1s;
            }

            &:nth-child(3) {
              animation-delay: -1.0s;
            }

            &:nth-child(4) {
              animation-delay: -0.9s;
            }

            &:nth-child(5) {
              animation-delay: -0.8s;
            }
          }

          @keyframes stretch-delay {
            0%, 40%, 100% {
              transform: scaleY(0.4);
            }
            20% {
              transform: scaleY(1.0);
            }
          }
        }
      }

      .search-result-group {
        padding: 0 0 $space-8;

        .search-result-heading {
          padding: $space-8 $space-8 $space-4;
          text-transform: capitalize;
          font-weight: 600;
        }

        .search-result-name {
          padding: $space-4 $space-16;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: darken($light-purple, 3%);
          }
        }
      }

      // Custom scrollbar
      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: darken($light-purple, 5%);
        border-radius: $border-10;
        border: 3px solid transparent;
        background-clip: content-box;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: darken($light-purple, 8%);
      }
    }

    .search-results.active {
      height: 30vh;
    }
  }
}

@media all and (max-width: $tab-width) {
  .home-navbar-search {
    width: 100%;

    .search-container {
      .search-filter {
        &::ng-deep {
          button {
            max-width: 100px;
            min-width: 100px;
          }
        }
      }
    }
  }
}
