.community-team {
  @apply com-overflow-hidden;
  padding: 1.5rem;
  .organizers,
  .event_organizers {
    display: flex;
    flex-wrap: wrap;
    .user-profile {
      padding: 5px;
      width: 800px;
      max-width: 90vw;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      margin: 0.5rem;

      .actions {
        @apply com-text-primary-500;

        .clickable {
          text-decoration: none;
          small {
            font-weight: 400;
            font-size: 14px;
          }
        }
      }

      @media screen and (min-width: 1000px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .user-roles-user-form {
    display: flex;
    flex-wrap: wrap;

    > div {
      margin-right: 1rem;
    }

    .save-button-bottom {
      margin-top: 18px;
    }
  }
}
