.community-team {
  @apply com-overflow-hidden com-p-6;

  .heading {
    @apply com-m-0;
  }

  .organizers,
  .event_organizers {
    display: flex;
    flex-wrap: wrap;
    .user-profile {
      @apply com-px-0 com-py-1 com-mx-0 com-my-2;
      width: 800px;
      max-width: 90vw;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .actions {
        @apply com-text-primary-500;

        .clickable {
          text-decoration: none;
          small {
            font-weight: 400;
            font-size: 14px;
          }
        }
      }

      @media screen and (min-width: 1000px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  h6 {
    @apply com-mt-4 com-mb-2;
  }

  .user-roles-user-form {
    display: flex;
    flex-wrap: wrap;

    > div {
      @apply com-mr-4;
    }

    .save-button-bottom {
      @apply com-mt-5;
    }
  }
}
