.lab-step {
  .content {
    ::ng-deep {
      img {
       max-width: 100%;
       height: auto;
      }

      code {
        white-space: pre-wrap;
      }
  }
}
}

img{

  @media screen and (min-width: 1300px){
    width: 80vw;
  }
  @media screen and (max-width: 720px){
    width: 500px;
  }
}




