<div>
  <div class="user-details-container">
    <h6>{{ user.name }}</h6>
    <div class="user-avatar">
      <img alt="{{ user.name }}" src="{{ user.avatar }}" title="{{ user.name }}">
    </div>
    <p class="contact-details">
      <small>{{ user.email }}</small>
    </p>
    <div class="social-links">
      <a *ngIf="user.github" href="{{ user.github }}">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a *ngIf="user.twitter" href="{{ user.twitter }}">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a *ngIf="user.linkedin" href="{{ user.linkedin }}">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
      <a *ngIf="user.personal_website" href="{{ user.personal_website }}">
        <fa-icon [icon]="faInfo"></fa-icon>
      </a>
    </div>
  </div>
  <div class="registration-status-details">
    <div class="registration-status-list">
      <div (click)="event.editable && updateRegistrationStatus(rs.id)" *ngFor="let rs of registrationStatuses">
        <p *ngIf="rs.name != 'shortlisted'"
           [ngClass]="{'selected-status': rs.id == userResponse.registration_status.id, 'disabled': !event.editable}">{{ rs.name }}</p>
      </div>
    </div>
    <div *ngIf="userResponse.registration_status.name == 'confirmed' && userResponse.entry_pass != null">
      <p class="entry-pass-code">Entry Pass: {{ userResponse.entry_pass.unique_code }}</p>
    </div>
    <div *ngIf="event.editable" class="action-buttons">
      <div *ngIf="userResponse.registration_status.name == 'confirmed'">
        <button (click)="generateEntryPass()" *ngIf="userResponse.entry_pass == null" nbButton size="tiny">
          Generate Entry Pass
        </button>
        <div *ngIf="(userResponse.entry_pass != null)" class="confirmed-status-actions">
          <button (click)="openEntryPassEmailWindow()" nbButton size="tiny">
            Send Entry Pass Email
          </button>
          <div>
            <button (click)="toggleUninvited()"
                    [ngClass]="{'active-uninvited': userResponse.entry_pass.uninvited == true}" nbButton size="tiny"
                    status="link">
              Uninvited
            </button>
            <button (click)="toggleAttendance()"
                    [ngClass]="{'active-attendance': userResponse.entry_pass.attendance == true}" nbButton size="tiny"
                    status="link">
              Attendance
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
