<nb-card>
  <nb-card-header class="com-flex com-items-center">
    <h6>
      <nb-icon icon="info-outline" status="info"></nb-icon>
      Details
    </h6>
    <app-share-button
      *ngIf="share"
      [content]="environment.app_url + '/communities/' + event.kommunity_slug + '/events/' + event.slug"
      [title]="'Meet me at ' + event.name"
      [url]="environment.app_url + '/communities/' + event.kommunity_slug + '/events/' + event.slug"
    ></app-share-button>
  </nb-card-header>
  <nb-card-body>
    <div
      [innerHTML]="
        showFullDescription
          ? (event.description | linky : { sanitizeHtml: false })
          : (event.description | linky : { sanitizeHtml: false } | truncatetext : 1000)
      "
    ></div>
  </nb-card-body>
  <nb-card-footer (click)="viewMore()" *ngIf="event.description.length > 1000" class="com-cursor-pointer">
    <div>
      {{ footerText }}
      <nb-icon *ngIf="!showFullDescription" icon="arrow-ios-downward-outline"></nb-icon>
      <nb-icon *ngIf="showFullDescription" icon="arrow-ios-upward-outline"></nb-icon>
    </div>
  </nb-card-footer>
</nb-card>
