nb-card {
  @apply com-m-0 com-mt-4 md:com-rounded-[10px] com-rounded-none;
  nb-card-header {
    @apply com-flex com-items-center com-justify-between com-py-4 md:com-px-6 com-px-4;

    h6 {
      @apply md:com-font-semibold com-font-bold;
    }
  }

  nb-card-body {
    @apply com-px-6 com-pt-[30px] com-pb-[26px];

    div {
      ::ng-deep {
        p {
          @apply com-m-0;
        }
      }
    }
  }

  .view-more {
    @apply com-max-h-[256px] com-overflow-y-hidden;
  }
  .view-less {
    @apply com-max-h-max;
  }
}
