<nb-card *ngIf="serverClient && currentUser" class="local-preview">
  <nb-card-header>Local Preview</nb-card-header>
  <!--  <nb-card-body *ngIf="devices.audioInput.length == 0 || devices.videoInput.length == 0" [nbSpinner]="isDevicesLoading">-->
  <!--    <nb-alert accent="info">Please allow access to microphone and camera devices to continue!</nb-alert>-->
  <!--    <button (click)="getMediaPermission()" fullWidth nbButton size="small" status="info">Get Permission</button>-->
  <!--  </nb-card-body>-->
  <nb-card-body>
    <div #previewDiv class="preview">
      <div #videoContainer [style.width]="previewDiv.clientWidth" class="video-container"></div>
      <div class="controls">
        <button
          (click)="toggleAudio()"
          [appearance]="isAudioEnabled ? 'ghost' : 'filled'"
          nbButton
          shape="round"
          size="small"
        >
          <nb-icon icon="mic"></nb-icon>
        </button>
        <button
          (click)="toggleVideo()"
          [appearance]="isVideoEnabled ? 'ghost' : 'filled'"
          nbButton
          shape="round"
          size="small"
        >
          <nb-icon icon="video"></nb-icon>
        </button>
      </div>
    </div>
    <nb-select
      (selectedChange)="setAudioDevice($event)"
      [selected]="devices.audioInput[0]?.deviceId"
      fullWidth
      size="small"
    >
      <nb-option *ngFor="let device of devices.audioInput" [value]="device.deviceId"> {{device.label}} </nb-option>
    </nb-select>
    <nb-select
      (selectedChange)="setVideoDevice($event)"
      [selected]="devices.videoInput[0]?.deviceId"
      fullWidth
      size="small"
    >
      <nb-option *ngFor="let device of devices.videoInput" [value]="device.deviceId"> {{device.label}} </nb-option>
    </nb-select>
    <button (click)="joinRoom()" fullWidth nbButton size="small" status="primary">Join Room</button>
  </nb-card-body>
</nb-card>
