@import 'projects/commudle-admin/src/assets/styles/variables';

.local-preview {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 320px;

  nb-card-body {
    * {
      margin: $space-8 0;
    }

    .preview {
      position: relative;

      .video-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 240px;
        height: 180px;
        margin: 0 auto;
        video {
          width: 100%;
        }
      }

      .controls {
        position: absolute;
        bottom: $space-8;
        left: 50%;
        transform: translateX(-50%);

        button {
          margin: 0 $space-4;
          height: 32px;
          width: 32px;
        }
      }
    }
  }
}


.hidden {
  display: none;
}
