<nb-actions class="home-navbar-menu-options">
  <nb-action [routerLink]="['/']" class="clickable">
    <nb-icon icon="home" pack="fas"></nb-icon>
    <div class="home-navbar-menu-option">Home</div>
  </nb-action>
  <nb-action [routerLink]="['/about']" class="clickable">
    <nb-icon icon="info-circle" pack="fas"></nb-icon>
    <div class="home-navbar-menu-option">About</div>
  </nb-action>
  <nb-action [routerLink]="['/builds']" class="clickable">
    <nb-icon icon="cog" pack="fas"></nb-icon>
    <div class="home-navbar-menu-option">Builds</div>
  </nb-action>
  <nb-action [routerLink]="['/labs']" class="clickable">
    <nb-icon icon="flask" pack="fas"></nb-icon>
    <div class="home-navbar-menu-option">Labs</div>
  </nb-action>
  <nb-action [routerLink]="['/communities']" class="clickable">
    <nb-icon icon="user-friends" pack="fas"></nb-icon>
    <div class="home-navbar-menu-option">Communities</div>
  </nb-action>
</nb-actions>
