<div class="community-channel-list">
  <div *ngIf="showCommunityBadge" class="community">
    <app-community-badge [community]="selectedCommunity"></app-community-badge>
  </div>
  <div class="com-flex com-justify-between com-mt-3 com-mx-4">
    <p class="com-font-bold com-text-lg com-m-0">Channels</p>
    <button
      *ngIf="currentUser && (communityRoles.includes(EUserRoles.ORGANIZER) || isCommunityOrganizer)"
      (click)="newChannelDialogBox()"
      outline
      nbButton
      size="tiny"
      status="base"
      class="com-h-min"
    >
      <nb-icon icon="plus"></nb-icon>
    </button>
  </div>

  <nb-accordion
    *ngFor="let chGroup of groupedChannels | keyvalue"
    class="channel-group com-shadow-none com-bg-[#F9F9F9]"
  >
    <nb-accordion-item expanded="true" class="com-bg-[#F9F9F9]">
      <nb-accordion-item-header class="com-p-0"
        ><div class="group-name">
          <p>{{ (chGroup.key | titlecase) || 'General' }}</p>
        </div></nb-accordion-item-header
      >
      <nb-accordion-item-body
        ><div class="channels">
          <ul>
            <li
              *ngFor="let channel of chGroup.value"
              class="channel"
              [ngClass]="{ selectedChannel: selectedChannelId === channel.id }"
              (click)="selectedCommunityChannel(channel)"
            >
              <div class="details">
                <div class="com-w-9">
                  <div class="logo" *ngIf="channel.logo">
                    <img alt="{{ channel.name }}" src="{{ channel.logo.url }}" title="{{ channel.name }}" />
                  </div>
                  <div class="without-logo" *ngIf="!channel.logo">
                    <img
                      alt="{{ channel.name }}"
                      src="/assets/icons/default-channel-logo.svg"
                      title="{{ channel.name }}"
                    />
                  </div>
                </div>
                <p class="name">
                  <a>
                    <span *ngIf="channel.is_private" class="icon">
                      <nb-icon
                        title="Private Channel"
                        alt="Private Channel"
                        title="Private Channel"
                        icon="lock"
                      ></nb-icon>
                    </span>
                    <span *ngIf="channel.is_readonly" class="icon">
                      <nb-icon
                        title="Read-only Channel"
                        alt="Readonly Channel"
                        title="Readonly Channel"
                        icon="eye"
                      ></nb-icon>
                    </span>
                    {{ channel.name }}
                  </a>
                </p>
              </div>
              <div *ngIf="channelNotifications.includes(channel.id) && selectedChannelId !== channel.id">
                <app-badge [dotMode]="true" [color]="'com-bg-red-500'" [position]="'right center'"></app-badge>
              </div>
              <p *ngIf="currentUser" class="settings">
                <a
                  title="Invite"
                  *ngIf="
                    (!channel.is_private &&
                      channelsRoles[channel.id] &&
                      channelsRoles[channel.id].includes(EUserRoles.COMMUNITY_CHANNEL_ADMIN)) ||
                    (channelsRoles[channel.id] &&
                      channelsRoles[channel.id].includes(EUserRoles.COMMUNITY_CHANNEL_ADMIN)) ||
                    isCommunityOrganizer
                  "
                  (click)="inviteDialogBox(channel.id); $event.stopPropagation()"
                >
                  <nb-icon icon="person-add"></nb-icon>
                </a>
                <a
                  title="Settings"
                  *ngIf="
                    channelsRoles[channel.id] &&
                    (channelsRoles[channel.id].includes(EUserRoles.COMMUNITY_CHANNEL_ADMIN) || isCommunityOrganizer)
                  "
                  (click)="editDialogBox(channel.id); $event.stopPropagation()"
                >
                  <nb-icon icon="settings"></nb-icon>
                </a>
              </p>
            </li>
          </ul></div
      ></nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
