<div *ngIf="embeddedVideoStream?.id" class="streaming">
  <ng-container *ngIf="communityAuthToken; else loginButton">
    <button (click)="logoutFromYoutube()" nbButton type="button">Disconnect from YouTube</button>

    <ng-container *ngIf="embeddedVideoStream?.youtube_broadcast; else createStreamButton">
      <button (click)="deleteStream()" [nbSpinner]="loaders.deleteStream" nbButton type="button">Delete stream</button>
      <a
        href="https://studio.youtube.com/video/{{ embeddedVideoStream.youtube_broadcast.broadcast_id }}/livestreaming"
        nbButton
        target="_blank"
        type="button"
      >
        Go to studio
      </a>
    </ng-container>

    <ng-template #createStreamButton>
      <button (click)="createStream()" [nbSpinner]="loaders.createStream" nbButton type="button">
        Create new stream
      </button>
    </ng-template>
  </ng-container>

  <ng-template #loginButton>
    <button (click)="loginToYoutube()" nbButton type="button">Connect to YouTube</button>
  </ng-template>
</div>
