@import './apps/commudle-admin/src/assets/styles/variables';

p {
  color: $gunmetal;
  font-size: $fs-13;
  line-height: 15px;
  margin: 0;
}

.message-container {
  padding: $space-8 0 $space-8 $space-8;

  .prefix {
    width: 100%;

    .avatar {
      @apply com-h-8 com-w-8 com-rounded-full com-object-cover com-object-center;
    }

    .user-container {
      margin-left: $space-8;
      width: 100%;

      .user {
        .name {
          a {
            color: inherit;
            font-weight: $fw-600;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .expert-icon {
          height: 12px;
          margin-left: $space-4;
          width: 12px;
        }

        .time {
          @apply com-ml-2 com-text-xs com-text-gray-500;
        }
      }

      .content {
        margin: $space-4 0;
        word-break: break-word;
      }
    }
  }

  .suffix {
    margin-left: $space-32;

    app-votes-display {
      &::ng-deep {
        .votes {
          p {
            font-size: $fs-h6;
            height: 18px;

            .count {
              color: $spanish-gray;
            }

            nb-icon {
              font-size: $fs-13;
            }
          }
        }
      }
    }

    nb-action {
      border: none;
      padding: 0 $space-8;

      p {
        color: $spanish-gray;
        font-size: $fs-h6;
        line-height: 14px;
        margin-top: $space-1;
      }

      nb-icon {
        font-size: $fs-13;
      }
    }
  }

  .replies {
    margin-left: $space-32;

    .reply-form {
      margin-top: $space-8;

      emoji-mart {
        display: none;
        width: clamp(250px, 100%, 360px);

        &.active {
          display: initial;
        }
      }

      form {
        nb-form-field {
          .emoji-picker {
            @apply com-p-2.5;
          }
        }
      }
    }
  }
}
