<commudle-listing-pages-layout>
  <div header>
    <commudle-speakers-header></commudle-speakers-header>
  </div>
  <div one-column *ngIf="isMobileView">
    <div class="router-tab">
      <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
    </div>
  </div>
  <div main-column *ngIf="!isMobileView">
    <div class="router-tab">
      <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
    </div>
  </div>
  <div right-column>
    <div class="speakers-upcoming">
      <commudle-public-home-list-speakers-upcoming></commudle-public-home-list-speakers-upcoming>
    </div>
    <div class="featured-communities">
      <commudle-public-home-list-events-featured-communities></commudle-public-home-list-events-featured-communities>
    </div>
    <div class="tech-sessions">
      <commudle-public-home-list-events-tech-sessions></commudle-public-home-list-events-tech-sessions>
    </div>
    <div class="speakers-content">
      <commudle-public-home-list-speakers-content
        [parentType]="'communities'"
      ></commudle-public-home-list-speakers-content>
    </div>
  </div>
</commudle-listing-pages-layout>
