.speakers-upcoming,
.tech-sessions,
.speakers-content,
.featured-communities {
  @apply com-m-0 md:com-mt-4 com-mt-10;
}

.tab-links {
  @apply com-flex com-flex-row com-mt-5 md:com-mx-0 com-mx-3 md:com-mb-0 com-mb-6 md:com-justify-start com-justify-center;
  a {
    @apply com-flex com-leading-4 com-h-fit com-m-0 com-py-3 com-px-4 com-cursor-pointer com-no-underline;

    .title {
      @apply com-self-center com-ml-2  com-text-gray-500 com-text-lg com-font-bold com-text-Blueberry;
    }
  }
}

.active {
  @apply com-border-0 com-border-b-3 com-border-solid com-border-Blueberry;
}
