<div class="cookie-consent">
  <p>
    We use cookies and other tracking technologies
    to improve your browsing experience on our website,
    to show you personalized content and targeted ads,
    to analyze our website traffic, and to understand
    where our visitors are coming from. By browsing our website,
    you consent to our use of cookies and other tracking technologies.
  </p>
  <button nbButton status="info" ghost (click)="acceptCookieConsent()">Accept</button>
  <!-- <button nbButton status="basic" ghost (click)="disagreeCookieConsent()">Disagree</button> -->
</div>
