<nb-card
  [ngClass]="{'fullscreen': isFullScreen, 'internal-link': ['commudle', 'youtube'].includes(embeddedVideoStream.source), 'external-link': ['external_link', 'jitsi'].includes(embeddedVideoStream.source)}"
  class="session-page-video">
  <nb-card-body>
    <button (click)="toggleFullScreen()"
            *ngIf="currentUser && ['commudle', 'youtube'].includes(embeddedVideoStream.source)" class="fullscreen-btn"
            nbButton shape="round">
      <nb-icon [icon]="isFullScreen ? 'collapse' : 'expand'"></nb-icon>
    </button>
    <div #videoStream [ngClass]="{'compressed': compressVideoStream}" class="video-stream">
      <app-video-stream [currentUser]="currentUser"
                        [fillerText]="!currentUser ? 'Login to Access' : (moment() < moment(startTime) ? 'Starting in ' + moment(startTime).fromNow(true) : 'Loading Video...')"
                        [height]="videoStream.clientHeight" [hmsRoomId]="embeddedVideoStream.hms_room_id"
                        [started]="moment() >= moment(startTime)" [userEmail]="currentUser?.email || ''"
                        [userName]="currentUser?.name || ''"
                        [videoCode]="!currentUser || moment() < moment(startTime) ? false : embeddedVideoStream.embed_code || embeddedVideoStream.hms_room_id"
                        [videoSource]="embeddedVideoStream.source" [width]="videoStream.clientWidth"
                        [zoomHostEmail]="embeddedVideoStream.zoom_host_email"
                        [zoomHostSignature]="embeddedVideoStream.zoom_host_signature"
                        [zoomPassword]="embeddedVideoStream.zoom_password"
                        [zoomSignature]="embeddedVideoStream.zoom_attendee_signature"></app-video-stream>
    </div>
    <div *ngIf="currentUser && ['commudle', 'youtube'].includes(embeddedVideoStream.source) && interactionWindows"
         class="user-interactions">
      <button (click)="toggleInteractionWindow(0)" [ngClass]="{'active': !getInteractionWindowStatus(0)}" nbButton
              nbTooltip="Info" shape="round">
        <nb-icon icon="info-outline"></nb-icon>
      </button>
      <button (click)="toggleInteractionWindow(1)" [ngClass]="{'active': !getInteractionWindowStatus(1)}" nbButton
              nbTooltip="Viewers" shape="round">
        <nb-badge class="notification" status="info" text="{{userCount}}"></nb-badge>
        <nb-icon icon="people-outline"></nb-icon>
      </button>
      <button (click)="toggleInteractionWindow(2)" [ngClass]="{'active': !getInteractionWindowStatus(2)}" nbButton
              nbTooltip="Messages" shape="round">
        <nb-badge [dotMode]="true" [ngClass]="{'notification': newMessage}" status="info"></nb-badge>
        <nb-icon icon="message-circle-outline"></nb-icon>
      </button>
      <button (click)="toggleInteractionWindow(3)" [ngClass]="{'active': !getInteractionWindowStatus(3)}" nbButton
              nbTooltip="QnA" shape="round">
        <nb-badge [dotMode]="true" [ngClass]="{'notification': newQna}" status="info"></nb-badge>
        Q
      </button>
      <button (click)="toggleInteractionWindow(4)" [ngClass]="{'active': !getInteractionWindowStatus(4)}" nbButton
              nbTooltip="Polls" shape="round">
        <nb-badge [dotMode]="true" [ngClass]="{'notification': newPoll}" status="info"></nb-badge>
        <nb-icon icon="bar-chart"></nb-icon>
      </button>
    </div>
    <div #interactionWindow class="session-page-window">
      <div class="actions d-flex align-items-center justify-content-space-between">
        <p class="heading">Session Details</p>
        <button (click)="toggleInteractionWindow(0)" ghost nbButton shape="round" size="small">
          <nb-icon icon="close"></nb-icon>
        </button>
      </div>
      <app-session-page-details (openViewers)="toggleInteractionWindow(1)" [community]="community" [endTime]="endTime"
                                [event]="event" [speaker]="speaker" [startTime]="startTime" [trackSlot]="trackSlot"
                                [userVisitData]="userVisitData"></app-session-page-details>
    </div>
    <div #interactionWindow class="session-page-window">
      <div class="actions d-flex align-items-center justify-content-space-between">
        <p class="heading">People attending the Session</p>
        <button (click)="toggleInteractionWindow(1)" ghost nbButton shape="round" size="small">
          <nb-icon icon="close"></nb-icon>
        </button>
      </div>
      <app-session-page-viewers (userCount)="userCount = $event"
                                [activeEvent]="moment().isBetween(moment(startTime), moment(endTime))"
                                [embeddedVideoStream]="embeddedVideoStream" [event]="event"
                                [isAdmin]="userRoles.includes(EUserRoles.ORGANIZER) || userRoles.includes(EUserRoles.EVENT_VOLUNTEER)"
      ></app-session-page-viewers>
    </div>
    <div #interactionWindow class="session-page-window">
      <div class="actions d-flex align-items-center justify-content-space-between">
        <p class="heading">Chat with other Viewers</p>
        <button (click)="toggleInteractionWindow(2)" ghost nbButton shape="round" size="small">
          <nb-icon icon="close"></nb-icon>
        </button>
      </div>
      <app-session-page-chat (newMessage)="newMessage = getInteractionWindowStatus(2)"
                             [chat]="chat"></app-session-page-chat>
    </div>
    <div #interactionWindow class="session-page-window">
      <div class="actions d-flex align-items-center justify-content-space-between">
        <p class="heading">Ask a Question</p>
        <button (click)="toggleInteractionWindow(3)" ghost nbButton shape="round" size="small">
          <nb-icon icon="close"></nb-icon>
        </button>
      </div>
      <app-session-page-qna (newQna)="newQna = getInteractionWindowStatus(3)" [qna]="qna"></app-session-page-qna>
    </div>
    <div #interactionWindow class="session-page-window">
      <div class="actions d-flex align-items-center justify-content-space-between">
        <p class="heading">Participate in Polls</p>
        <button (click)="toggleInteractionWindow(4)" ghost nbButton shape="round" size="small">
          <nb-icon icon="close"></nb-icon>
        </button>
      </div>
      <app-session-page-poll [pollableId]="pollableId" [pollableType]="pollableType"></app-session-page-poll>
    </div>
  </nb-card-body>
</nb-card>
