<nb-card [ngClass]="{'fullscreen': isFullScreen}" class="session-page-video">
  <nb-card-body>
    <button (click)="toggleFullScreen()" *ngIf="currentUser" class="fullscreen-btn" nbButton shape="round">
      <nb-icon [icon]="isFullScreen ? 'collapse' : 'expand'"></nb-icon>
    </button>
    <app-video-stream [currentUser]="currentUser"
                      [fillerText]="!currentUser ? 'Login to Access' : (moment() < moment(startTime) ? 'Starting in ' + moment(startTime).fromNow(true) : 'Loading Video...')"
                      [hmsRoomId]="embeddedVideoStream.hms_room_id" [started]="moment() >= moment(startTime)"
                      [userEmail]="currentUser?.email || ''" [userName]="currentUser?.name || ''"
                      [videoCode]="!currentUser || (moment() < moment(startTime)) ? false : embeddedVideoStream.embed_code || embeddedVideoStream.hms_room_id"
                      [videoSource]="embeddedVideoStream.source" [zoomHostEmail]="embeddedVideoStream.zoom_host_email"
                      [zoomHostSignature]="embeddedVideoStream.zoom_host_signature"
                      [zoomPassword]="embeddedVideoStream.zoom_password"
                      [zoomSignature]="embeddedVideoStream.zoom_attendee_signature"></app-video-stream>
    <div *ngIf="currentUser" class="user-interactions">
      <button (click)="toggleWindow(0)" nbButton shape="round">
        <nb-badge class="notification" status="info" text="{{userCount}}"></nb-badge>
        <nb-icon icon="people"></nb-icon>
      </button>
      <button (click)="toggleWindow(1)" nbButton shape="round">
        <nb-badge [dotMode]="true" [ngClass]="{'notification': newMessage}" status="info"></nb-badge>
        <nb-icon icon="message-circle"></nb-icon>
      </button>
      <button (click)="toggleWindow(2)" nbButton shape="round">
        <nb-badge [dotMode]="true" [ngClass]="{'notification': newQna}" status="info"></nb-badge>
        <nb-icon icon="question-mark-circle"></nb-icon>
      </button>
      <button (click)="toggleWindow(3)" nbButton shape="round">
        <nb-badge [dotMode]="true" [ngClass]="{'notification': newPoll}" status="info"></nb-badge>
        <nb-icon icon="bar-chart"></nb-icon>
      </button>
    </div>
    <div #window class="session-page-window">
      <app-session-page-viewers (userCount)="userCount = $event"
                                [activeEvent]="moment().isBetween(moment(startTime), moment(endTime))"
                                [embeddedVideoStream]="embeddedVideoStream" [event]="event"
                                [isAdmin]="userRoles.includes(EUserRoles.ORGANIZER) || userRoles.includes(EUserRoles.EVENT_VOLUNTEER)"
      ></app-session-page-viewers>
    </div>
    <div #window class="session-page-window">
      <app-session-page-chat (newMessage)="newMessage = true" [chat]="chat"></app-session-page-chat>
    </div>
    <div #window class="session-page-window">
      <app-session-page-qna (newQna)="newQna = true" [qna]="qna"></app-session-page-qna>
    </div>
    <div #window class="session-page-window">
      <app-session-page-poll></app-session-page-poll>
    </div>
  </nb-card-body>
</nb-card>
