<commudle-listing-pages-layout>
  <div header>
    <app-labs-header></app-labs-header>
  </div>
  <div one-column *ngIf="isMobileView">
    <div class="publish-lab-button">
      <a [routerLink]="['/labs/create']" nbButton size="giant" class="button">
        <nb-icon icon="plus"></nb-icon>
        Publish New Lab
      </a>
    </div>
    <app-labs-search></app-labs-search>
  </div>
  <div main-column *ngIf="!isMobileView">
    <app-labs-search></app-labs-search>
  </div>
  <div right-column>
    <div class="publish-lab-button">
      <a [routerLink]="['/labs/create']" nbButton size="giant" class="button">
        <nb-icon icon="plus"></nb-icon>
        Publish New Lab
      </a>
    </div>
    <div>
      <commudle-builds-top-builders
        [backgroundColor]="'#334988'"
        [heading]="'TOP PUBLISHERS'"
        [subHeading]="'Top publishers for you to check out'"
        [parentType]="'labs'"
        [toolTipText]="
          'People whose labs have the highest upvotes in the selected duration. The number in the profile card displays overall total labs and overall total likes.'
        "
        [selectedByDefault]="'all-time'"
        [displayUsername]="false"
      ></commudle-builds-top-builders>
      <div class="labs-featured">
        <commudle-labs-featured></commudle-labs-featured>
      </div>
      <commudle-explore-experts></commudle-explore-experts>
      <commudle-public-home-list-speakers-content
        [parentType]="'communities'"
      ></commudle-public-home-list-speakers-content>
    </div>
  </div>
</commudle-listing-pages-layout>
