<div class="labs-container base-layout com-mb-12">
  <div class="container">
    <div class="one-column-layout">
      <commudle-labs-search (updateTags)="onTagsUpdate($event)" [labSearchParams]="searchedTags"></commudle-labs-search>
      <commudle-labs-header [labs]="searchedLabs" [tags]="searchedTags"></commudle-labs-header>

      <nb-card>
        <nb-card-body>
          <div class="labs-popular-tags d-flex flex-wrap">
            <button
              (click)="onTagAdd(tag.name)"
              *ngFor="let tag of popularTags"
              class="labs-popular-tag"
              ghost
              nbButton
            >
              {{ tag.name }}
            </button>
          </div>

          <hr />

          <div
            (scrolled)="getLabsByTags()"
            [infiniteScrollDisabled]="searchedLabs.length >= total"
            [infiniteScrollDistance]="3"
            commudleInfiniteScroll
            class="com-grid com-gap-12 com-grid-cols-1 sm:com-grid-cols-2 lg:com-grid-cols-3"
          >
            <ng-container *ngFor="let lab of searchedLabs.length > 0 ? searchedLabs : popularLabs">
              <commudle-labs-card [lab]="lab"></commudle-labs-card>
            </ng-container>
          </div>
          <div *ngIf="isLoading" class="loading-spinner com-my-4 com-text-center">
            <div class="spinner">
              <div *ngFor="let _ of [].constructor(5)"></div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
