<div class="conference-container">
  <app-conference-user-videos></app-conference-user-videos>
  <div class="d-flex controls">
    <!-- Recording -->
    <button
      (click)="toggleRecording()"
      *ngIf="serverClient.role === EHmsRoles.HOST"
      [nbTooltip]="isRecording ? 'Stop Recording' : 'Start Recording'"
      ghost
      nbButton
      shape="round"
    >
      <nb-icon [icon]="isRecording ? 'stop-circle' : 'play-circle'"></nb-icon>
    </button>
    <!-- Streaming -->
    <button
      (click)="toggleStreaming()"
      *ngIf="serverClient.role === EHmsRoles.HOST"
      [nbTooltip]="isStreaming ? 'Stop Streaming' : 'Start Streaming'"
      ghost
      nbButton
      shape="round"
    >
      <nb-icon [status]="isStreaming ? 'success' : ''" icon="radio"></nb-icon>
    </button>
    <!-- Microphone -->
    <button
      (click)="toggleAudio()"
      *ngIf="serverClient.role === EHmsRoles.HOST || serverClient.role === EHmsRoles.GUEST"
      [nbTooltip]="mic ? 'Mute Audio' : 'Unmute Audio'"
      ghost
      nbButton
      shape="round"
    >
      <nb-icon [icon]="mic ? 'mic' : 'mic-off'"></nb-icon>
    </button>
    <!-- Camera -->
    <button
      (click)="toggleVideo()"
      *ngIf="serverClient.role === EHmsRoles.HOST || serverClient.role === EHmsRoles.GUEST"
      [nbTooltip]="camera ? 'Mute Video' : 'Unmute Video'"
      ghost
      nbButton
      shape="round"
    >
      <nb-icon [icon]="camera ? 'video' : 'video-off'"></nb-icon>
    </button>
    <!-- Screen share -->
    <button
      (click)="toggleScreenShare()"
      *ngIf="serverClient.role === EHmsRoles.HOST || serverClient.role === EHmsRoles.GUEST"
      [disabled]="isScreenSharing && !isLocalScreenSharing"
      [nbTooltip]="isLocalScreenSharing ? 'Stop Screen Share' : 'Start Screen Share'"
      ghost
      nbButton
      shape="round"
    >
      <nb-icon [status]="isLocalScreenSharing ? 'success' : ''" icon="monitor"></nb-icon>
    </button>
    <!-- Settings -->
    <button
      (click)="openSettings()"
      *ngIf="serverClient.role === EHmsRoles.HOST || serverClient.role === EHmsRoles.GUEST"
      ghost
      nbButton
      nbTooltip="Open Settings"
      shape="round"
    >
      <nb-icon icon="settings"></nb-icon>
    </button>
    <!-- Join/Leave Stage -->
    <!--    <button (click)="toggleStage()" ghost nbButton shape="round">{{isOnStage ? 'Leave stage' : 'Join stage'}}</button>-->
    <!-- Leave session -->
    <button (click)="leaveSession()" ghost nbButton nbTooltip="Leave session" shape="round">
      <nb-icon icon="log-out"></nb-icon>
    </button>
    <!-- End session -->
    <button (click)="endSession()" *ngIf="serverClient.role === EHmsRoles.HOST" ghost nbButton shape="round">
      End session
    </button>
  </div>
</div>

<ng-template #roleChangeRequestDialog let-data let-ref="dialogRef">
  <nb-card class="role-change-request-dialog">
    <nb-card-header class="d-flex justify-content-space-between align-items-center">
      Invitation to Join Stage
      <button (click)="ref.close(false)" ghost nbButton shape="round" size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <p>Hi, {{currentUser.name}}! <strong>{{data.name}}</strong> is inviting you to the stage.</p>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-space-between">
      <button (click)="ref.close(false)" nbButton size="small" status="danger">Reject</button>
      <button (click)="ref.close(true)" nbButton size="small" status="success">Accept</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
