<div class="archive-channel">

  <p class="text-basic">
    A deleted channel can be receovered for upto 5 days by sending an email to more@commudle.com.
  </p>
  <h6 class="text-danger">
    Are you sure you want to DELETE this channel?
  </h6>

  <form [formGroup]="deleteForm" (ngSubmit)="submitForm()">
    <label>
      Type <strong>yes</strong> in CAPITALS to confirm
      <br>
      <input nbInput formControlName="confirmation" type="text">
    </label>
    <button nbButton [disabled]="!deleteForm.valid" outline status="danger" type="submit">Delete</button>
  </form>
</div>
