<div class="sponsors">
  <div class="event-sponsors">
    <div (click)="openForm()" *ngIf="event.editable" class="new-sponsor-button clickable">
      <p>
        <nb-icon icon="plus"></nb-icon>
        <br>
        <span>Add Sponsor</span>
      </p>
    </div>
    <!-- list of sponsors -->
    <div *ngFor="let eventSponsor of sponsors; let i = index;" class="event-sponsor">
      <div class="logo">
        <img alt="{{eventSponsor.sponsor.name}}" src="{{eventSponsor.sponsor.logo.url}}"
             title="{{eventSponsor.sponsor.name}}">
      </div>
      <div class="details">
        <p>
          {{eventSponsor.sponsor.name}}
          <br>
          <small>
            <a href="{{eventSponsor.sponsor.link}}" target="_blank">{{eventSponsor.sponsor.link}}</a>
          </small>
        </p>
        <a (click)="removeSponsor(eventSponsor.id, i)" *ngIf="event.editable" class="remove-sponsor-button clickable">
          <p>
            <small>
              <nb-icon icon="close-circle-outline" status="danger"></nb-icon>
            </small>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #sponsorFormTemplate *ngIf="event.editable">
  <nb-tabset class="new-event-sponsor-options">
    <nb-tab tabTitle="Choose">
      <div class="existing-sponsors">
        <div (click)="addExistingSponsor(sponsor.id)" *ngFor="let sponsor of existingSponsors"
             class="sponsor clickable">
          <div class="logo">
            <img alt="{{sponsor.name}}" src="{{sponsor.logo.url}}" title="{{sponsor.name}}">
          </div>
          <p class="name" nbTooltip="sponsor.link">
            <small>{{sponsor.name}}</small>
          </p>
        </div>
      </div>
    </nb-tab>
    <nb-tab [active]="existingSponsors.length == 0" tabTitle="Add New">
      <form (ngSubmit)="createSponsor()" [formGroup]="sponsorForm">
        <div class="logo field">
          <div *ngIf="uploadedLogoImage" class="uploaded-logo">
            <img alt="Profile Picture" src="{{uploadedLogoImage}}" title="Profile Picture">
          </div>

          <div class="delete-logo-button">
            <button (click)="removeLogo()" *ngIf="uploadedLogoImage" nbButton outline size="tiny" status="danger">
              <nb-icon icon="close-circle"></nb-icon>
              Remove Logo
            </button>
          </div>

          <label [ngClass]="{'hidden': uploadedLogoImage }" class="clickable">
            <span>
              <span>
                <nb-icon icon="image-outline"></nb-icon>
              </span>
              <span>
                Click to upload a Logo <small>(200x200)</small>*
              </span>
            </span>
            <input (change)="displaySelectedLogo($event)" accept="image/*" formControlName="logo" fullWidth nbInput
                   type="file">
          </label>
        </div>

        <div class="field">
          <label fullWidth>
            Name*
            <input formControlName="name" fullWidth nbInput type="text">
          </label>
        </div>

        <div class="field">
          <label fullWidth>
            Link
            <input formControlName="link" fullWidth nbInput type="text">
          </label>
        </div>

        <button [disabled]="!sponsorForm.valid" nbButton status="primary" type="submit">
          Submit
        </button>
      </form>
    </nb-tab>
  </nb-tabset>
</ng-template>
