<nb-card>
  <nb-card-body>
    <div class="title">
      <p class="heading">Welcome User!!</p>
      <p class="sub-heading">Here are some of the things to help you start your DevRel journey with us</p>
    </div>
    <div class="main-column">
      <div class="user">
        <h1>User Photo</h1>
        <commudle-userprofile-details></commudle-userprofile-details>
      </div>
      <div class="right-column">
        <commudle-public-home-list-events-featured-communities></commudle-public-home-list-events-featured-communities>
        <commudle-featured-projects></commudle-featured-projects>
      </div>
    </div>
  </nb-card-body>
</nb-card>
