<section class="com-p-6 com-bg-white com-rounded-md">
  <div class="com-my-3">
    <button
      class="!com-bg-Blue-Lotus hover:!com-bg-Blue-Lotus/90"
      (click)="openDialogBox(countrySelection)"
      nbButton
      status="primary"
    >
      <span class="com-font-semibold com-text-xs"> Connect Bank Account </span>
    </button>
  </div>

  <app-loading-spinner *ngIf="isUpdating"></app-loading-spinner>

  <table class="com-mt-4">
    <tr>
      <th>Type</th>
      <th width="120">Commudle Fee</th>
      <th>Active/Status</th>
      <th>Email</th>
      <th>Charges Enabled</th>
      <th>Payouts Enabled</th>
      <th>Bank Details</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let stripeAccount of stripeAccounts">
      <td>
        <div class="logo-image" *ngIf="stripeAccount">
          <img [src]="staticAssets.stripe.url" alt="stripe" sizes="100" />
        </div>
      </td>
      <td></td>
      <td>
        <p>{{ stripeAccount.active }}</p>
      </td>
      <td>
        <p>---</p>
      </td>

      <td>
        <p>{{ stripeAccount.details.charges_enabled }}</p>
      </td>
      <td>
        <p>{{ stripeAccount.details.payouts_enabled }}</p>
      </td>
      <td>
        <div *ngIf="stripeAccount.details.external_accounts.data.length >= 1">
          <details *ngFor="let bankDetails of stripeAccount.details.external_accounts.data">
            <summary>{{ bankDetails.bank_name }}</summary>
            <p>
              <span>****{{ bankDetails.last4 }}</span>
              <br />
              <span>{{ bankDetails.routing_number }}</span>
              <br />
              <span>{{ bankDetails.account_holder_name }}</span>
              <br />
              <span>{{ bankDetails.currency | uppercase }}</span>
            </p>
          </details>
        </div>
        <div *ngIf="stripeAccount.details.external_accounts.data.length <= 0">
          <strong> No Bank Details Found </strong>
        </div>
      </td>
      <td>
        <div>
          <button
            *ngIf="!stripeAccount.active"
            nbButton
            status="primary"
            (click)="updateStripeAccount(stripeAccount.uuid)"
            size="tiny"
            class="com-flex com-items-center com-gap-1"
          >
            <fa-icon [icon]="icons.faTriangleExclamation" class="com-text-tWhite"></fa-icon>
            <span> Complete stripe A/C setup </span>
          </button>
          <a
            [href]="'https://dashboard.stripe.com/' + stripeAccount.details.id"
            target="_blank"
            *ngIf="stripeAccount.active"
          >
            <button
              nbButton
              size="tiny"
              class="com-flex com-items-center com-gap-1 !com-bg-Blue-Lotus hover:!com-bg-Blue-Lotus/90"
            >
              <fa-icon [icon]="icons.faArrowUpRightFromSquare" class="com-text-tWhite"></fa-icon>
              <span class="com-text-tWhite"> Stripe Dashboard </span>
            </button>
          </a>
          <!-- <a>{{ stripeAccount.details.external_accounts.url }}</a> -->
        </div>
      </td>
    </tr>
    <tr *ngFor="let razorpayAccount of razorpayAccounts">
      <td>
        <div class="logo-image" *ngIf="razorpayAccount">
          <img [src]="staticAssets.razorpay.url" alt="Razorpay" sizes="100" />
        </div>
      </td>
      <td>{{ razorpayAccount.commudle_fee_percentage }}% + 18% GST</td>
      <td>{{ razorpayAccount.account_details.attributes.status | titlecase }}</td>
      <td>{{ razorpayAccount.account_details.attributes.email }}</td>
      <td>Not Applicable</td>
      <td>Not Applicable</td>
      <td>
        <details>
          <summary>{{ razorpayAccount.bank_details?.active_configuration?.settlements?.beneficiary_name }}</summary>
          <p>
            <span
              >****{{
                razorpayAccount.bank_details?.active_configuration?.settlements?.account_number.toString().slice(-4)
              }}</span
            >
            <br />
            <span>{{ razorpayAccount.bank_details?.active_configuration?.settlements?.ifsc_code }}</span>
          </p>
        </details>
      </td>
      <td></td>
    </tr>
  </table>
</section>

<ng-template #countrySelection let-data let-ref="dialogRef">
  <nb-card class="com-max-h-[90dvh] com-w-[50dvw]">
    <nb-card-header>
      <div class="com-flex com-justify-between">
        <div>Create Account</div>
        <button (click)="ref.close(); stripeConnectAccountForm.reset()" ghost nbButton shape="round" size="small">
          <nb-icon icon="close"></nb-icon>
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div>
        <!-- Country Field -->
        <form [formGroup]="countryForm" *ngIf="!isLoading">
          <label>
            Country*
            <div class="select">
              <select formControlName="country" (change)="onCountryChange()">
                <option value="" disabled>Select Country</option>
                <option [value]="countries[0].name">{{ countries[0].name }}</option>
                <option disabled>More countries coming soon</option>
              </select>
            </div>
          </label>
        </form>
      </div>
      <br />
      <!-- razorpayAccountForm -->
      <div *ngIf="selectedCountry === 'India' && !isLoading">
        <form [formGroup]="razorpayAccountForm">
          <div class="com-flex com-flex-col com-gap-3">
            <!-- business_type -->
            <label>
              Business Type*
              <div class="select">
                <select formControlName="business_type">
                  <option *ngFor="let businessType of EBusinessType | keyvalue" [value]="businessType.value">
                    {{ businessType.value | capitalizeAndRemoveUnderscore }}
                  </option>
                </select>
              </div>
            </label>

            <!-- Email* -->
            <label>
              Email*
              <input
                fieldSize="small"
                formControlName="email"
                placeholder="email"
                fullWidth
                nbInput
                type="email"
                autocomplete="email"
              />
              <span
                *ngIf="
                  razorpayAccountForm.get('email').touched &&
                  razorpayAccountForm.get('email').invalid &&
                  razorpayAccountForm.get('email').hasError('required')
                "
              >
                <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
              </span>
              <span *ngIf="razorpayAccountForm.get('email').hasError('email')">
                <commudle-alert [error]="true" errorMessage="Email must be a valid email address"></commudle-alert>
              </span>
            </label>

            <!-- Phone* -->
            <label>
              Phone*
              <div class="com-flex com-flex-row com-gap-2 com-h-auto">
                <div class="select !com-w-32">
                  <select>
                    <option selected disabled>+{{ countries[0].phone }} ({{ countries[0].name }})</option>
                  </select>
                </div>
                <input
                  fieldSize="small"
                  formControlName="phone"
                  placeholder="Phone Number"
                  fullWidth
                  nbInput
                  type="number"
                />
              </div>
              <span
                *ngIf="
                  razorpayAccountForm.get('phone').touched &&
                  razorpayAccountForm.get('phone').invalid &&
                  razorpayAccountForm.get('phone').hasError('required')
                "
              >
                <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
              </span>
            </label>

            <!-- Business Name* -->
            <!-- <label>
              Business Name*
              <input
                fieldSize="small"
                formControlName="legal_business_name"
                placeholder="Business Name"
                fullWidth
                nbInput
                type="string"
              />
              <span
                *ngIf="
                  razorpayAccountForm.get('legal_business_name').touched &&
                  razorpayAccountForm.get('legal_business_name').invalid &&
                  razorpayAccountForm.get('legal_business_name').hasError('required')
                "
              >
                <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
              </span>
            </label> -->

            <!-- <commudle-alert
              message="In case of individual or not yet registered business, please add account holder's name here"
              [info]="true"
            ></commudle-alert> -->

            <!-- Customer facing business name -->
            <label>
              Customer facing business name
              <input
                fieldSize="small"
                formControlName="customer_facing_business_name"
                placeholder="Customer facing business name"
                fullWidth
                nbInput
                type="string"
              />
            </label>

            <commudle-alert
              message="In case of individual or not yet registered business, please add account holder's name here"
              [info]="true"
            ></commudle-alert>
            <!--  Contact Name -->
            <label>
              Contact Name*
              <input
                fieldSize="small"
                formControlName="contact_name"
                placeholder=" Contact Name"
                fullWidth
                nbInput
                type="string"
              />
              <span
                *ngIf="
                  razorpayAccountForm.get('contact_name').touched &&
                  razorpayAccountForm.get('contact_name').invalid &&
                  razorpayAccountForm.get('contact_name').hasError('required')
                "
              >
                <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
              </span>
            </label>

            <div class="profile">
              <div class="divider-line"></div>
              <div class="sub-category-heading">Profile</div>
              <div formGroupName="profile" class="sub-form">
                <!-- Category -->
                <label>
                  Category*
                  <div class="select">
                    <select formControlName="category" (change)="categoryChanges()">
                      <option value="" selected disabled>Select category</option>
                      <option
                        *ngFor="let businessCategory of EBusinessCategory | keyvalue"
                        [value]="businessCategory.value"
                      >
                        {{ businessCategory.value | capitalizeAndRemoveUnderscore }}
                      </option>
                    </select>
                  </div>
                  <span
                    *ngIf="
                      razorpayAccountForm.get('profile.category').touched &&
                      razorpayAccountForm.get('profile.category').invalid &&
                      razorpayAccountForm.get('profile.category').hasError('required')
                    "
                  >
                    <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
                  </span>
                </label>
                <!-- subcategory -->
                <label>
                  Sub Category*
                  <div
                    class="select"
                    *ngIf="razorpayAccountForm.get('profile.category').value !== EBusinessCategory.OTHERS"
                  >
                    <select formControlName="subcategory">
                      <option value="" selected disabled>Select Sub Category</option>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.IT_AND_SOFTWARE"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.ItAndSoftwareSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.ECOMMERCE"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.EcommerceSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.EDUCATION"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.EducationSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.HEALTHCARE"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.HealthcareSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.SERVICES"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.ServiceSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.HOUSING"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.HousingSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.NOT_FOR_PROFIT"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.NotForProfitSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.SOCIAL"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.SocialSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="
                          razorpayAccountForm.get('profile.category').value ===
                          EBusinessCategory.MEDIA_AND_ENTERTAINMENT
                        "
                      >
                        <option
                          *ngFor="let subcategory of subCategory.MediaAndEntertainmentSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.GAMING"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.GamingSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.FOOD"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.FoodSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.UTILITIES"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.UtilitiesSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.GOVERNMENT"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.GovernmentSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.LOGISTICS"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.LogisticsSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.TOURS_AND_TRAVEL"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.ToursAndTravelSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.TRANSPORT"
                      >
                        <option
                          *ngFor="let subcategory of subCategory.TransportSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                      <ng-container
                        *ngIf="
                          razorpayAccountForm.get('profile.category').value === EBusinessCategory.FINANCIAL_SERVICES
                        "
                      >
                        <option
                          *ngFor="let subcategory of subCategory.FinancialServicesSubcategory | keyvalue"
                          [value]="subcategory.value"
                        >
                          {{ subcategory.value | capitalizeAndRemoveUnderscore }}
                        </option>
                      </ng-container>
                    </select>
                  </div>
                  <div *ngIf="razorpayAccountForm.get('profile.category').value === EBusinessCategory.OTHERS">
                    <input
                      fieldSize="small"
                      formControlName="subcategory"
                      placeholder="Sub Category"
                      fullWidth
                      nbInput
                      type="string"
                    />
                  </div>
                  <span
                    *ngIf="
                      razorpayAccountForm.get('profile.category').touched &&
                      razorpayAccountForm.get('profile.category').invalid &&
                      razorpayAccountForm.get('profile.category').hasError('required')
                    "
                  >
                    <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
                  </span>
                </label>
                <!--formGroupName  addresses -->
                <div class="addresses">
                  <div class="divider-line"></div>
                  <div class="sub-category-heading">Address</div>
                  <div formGroupName="addresses">
                    <div formGroupName="registered" class="sub-form">
                      <!-- Street1 -->
                      <label>
                        Street1*
                        <input
                          fieldSize="small"
                          formControlName="street1"
                          placeholder="Street Address"
                          fullWidth
                          nbInput
                          type="string"
                        />
                        <span
                          *ngIf="
                            razorpayAccountForm.get('profile.addresses.registered.street1').touched &&
                            razorpayAccountForm.get('profile.addresses.registered.street1').invalid &&
                            razorpayAccountForm.get('profile.addresses.registered.street1').hasError('required')
                          "
                        >
                          <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
                        </span>
                      </label>

                      <!-- Street2 -->
                      <label>
                        Street 2*
                        <input
                          fieldSize="small"
                          formControlName="street2"
                          placeholder="Street"
                          fullWidth
                          nbInput
                          type="string"
                        />
                      </label>

                      <!-- city -->
                      <label>
                        City*
                        <input
                          fieldSize="small"
                          formControlName="city"
                          placeholder="City"
                          fullWidth
                          nbInput
                          type="string"
                        />
                        <span
                          *ngIf="
                            razorpayAccountForm.get('profile.addresses.registered.city').touched &&
                            razorpayAccountForm.get('profile.addresses.registered.city').invalid &&
                            razorpayAccountForm.get('profile.addresses.registered.city').hasError('required')
                          "
                        >
                          <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
                        </span>
                      </label>

                      <!-- state -->
                      <label>
                        State*
                        <input
                          fieldSize="small"
                          formControlName="state"
                          placeholder="State"
                          fullWidth
                          nbInput
                          type="string"
                        />
                        <span
                          *ngIf="
                            razorpayAccountForm.get('profile.addresses.registered.state').touched &&
                            razorpayAccountForm.get('profile.addresses.registered.state').invalid &&
                            razorpayAccountForm.get('profile.addresses.registered.state').hasError('required')
                          "
                        >
                          <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
                        </span>
                      </label>

                      <!-- Postal Code -->
                      <label>
                        Postal Code*
                        <input
                          fieldSize="small"
                          formControlName="postal_code"
                          placeholder="Postal Code"
                          fullWidth
                          nbInput
                          type="Number"
                        />
                        <span
                          *ngIf="
                            razorpayAccountForm.get('profile.addresses.registered.postal_code').touched &&
                            razorpayAccountForm.get('profile.addresses.registered.postal_code').invalid &&
                            razorpayAccountForm.get('profile.addresses.registered.postal_code').hasError('required')
                          "
                        >
                          <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="divider-line"></div>
              <div class="sub-category-heading">Legal Info</div>
              <!-- legal_info -->
              <div formGroupName="legal_info" class="sub-form">
                <!-- PAN -->
                <label *ngIf="showPanField">
                  Business PAN*
                  <input fieldSize="small" formControlName="pan" placeholder="PAN" fullWidth nbInput type="string" />
                  <span
                    *ngIf="
                      razorpayAccountForm.get('legal_info.pan').touched &&
                      razorpayAccountForm.get('legal_info.pan').invalid &&
                      razorpayAccountForm.get('legal_info.pan').hasError('required')
                    "
                  >
                    <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
                  </span>
                </label>

                <!-- GST Number -->
                <label>
                  GST Number
                  <input
                    fieldSize="small"
                    formControlName="gst"
                    placeholder="GST Number"
                    fullWidth
                    nbInput
                    type="string"
                  />
                </label>
                <commudle-alert
                  message="In case of registered business, Commudle is not responsible for your GST payment to the government. It is solely your company's responsibility to pay GST and any other taxes to the government on time."
                  [info]="true"
                ></commudle-alert>
              </div>
            </div>
          </div>
        </form>

        <div class="settlements">
          <div class="divider-line"></div>
          <div class="sub-category-heading">Bank Account Details</div>
          <form [formGroup]="settlementDetailsForm">
            <!-- settlements -->
            <div formGroupName="settlements" class="sub-form">
              <!-- beneficiary_name -->
              <label>
                Beneficiary Name*
                <input
                  fieldSize="small"
                  formControlName="beneficiary_name"
                  placeholder="Beneficiary Name"
                  fullWidth
                  nbInput
                  type="string"
                />
                <span
                  *ngIf="
                    settlementDetailsForm.get('settlements.beneficiary_name').touched &&
                    settlementDetailsForm.get('settlements.beneficiary_name').invalid &&
                    settlementDetailsForm.get('settlements.beneficiary_name').hasError('required')
                  "
                >
                  <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
                </span>
              </label>

              <!-- account_number -->
              <label>
                Account Number*
                <input
                  fieldSize="small"
                  formControlName="account_number"
                  placeholder="Account Number"
                  fullWidth
                  nbInput
                  type="number"
                />
                <span
                  *ngIf="
                    settlementDetailsForm.get('settlements.account_number').touched &&
                    settlementDetailsForm.get('settlements.account_number').invalid &&
                    settlementDetailsForm.get('settlements.account_number').hasError('required')
                  "
                >
                  <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
                </span>
              </label>

              <!-- ifsc_code -->
              <label>
                IFSC Code*
                <input
                  fieldSize="small"
                  formControlName="ifsc_code"
                  placeholder="IFSC Code"
                  fullWidth
                  nbInput
                  type="string"
                />
                <span
                  *ngIf="
                    settlementDetailsForm.get('settlements.ifsc_code').touched &&
                    settlementDetailsForm.get('settlements.ifsc_code').invalid &&
                    settlementDetailsForm.get('settlements.ifsc_code').hasError('required')
                  "
                >
                  <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
                </span>
              </label>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="isLoading && selectedCountry === 'India'">
        <p class="com-text-center com-font-bold com-mb-1">Creating Razorpay Account......</p>
        <p class="com-text-center com-font-light com-text-xs com-my-1">This might take a moment</p>
        <app-loading-spinner></app-loading-spinner>
      </div>

      <!-- stripeConnectAccountForm -->
      <div *ngIf="selectedCountry !== 'India' && selectedCountry !== '' && !isLoading">
        <form [formGroup]="stripeConnectAccountForm" *ngIf="!isLoading">
          <div class="com-flex com-flex-col com-gap-3">
            <!-- Name* -->
            <label>
              Name*
              <input fieldSize="small" formControlName="name" placeholder="Name" fullWidth nbInput type="string" />
              <span
                *ngIf="
                  stripeConnectAccountForm.get('name').touched &&
                  stripeConnectAccountForm.get('name').invalid &&
                  stripeConnectAccountForm.get('name').errors.required
                "
              >
                <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
              </span>
            </label>

            <!-- Email* -->
            <label>
              Email*
              <input fieldSize="small" formControlName="email" placeholder="Email" fullWidth nbInput type="email" />
              <span
                *ngIf="
                  stripeConnectAccountForm.get('email').touched &&
                  stripeConnectAccountForm.get('email').invalid &&
                  stripeConnectAccountForm.get('email').errors.required
                "
              >
                <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
              </span>
            </label>

            <!-- Phone* -->
            <label>
              Phone*
              <div class="com-flex com-flex-row com-gap-2 com-h-auto">
                <div class="select !com-w-32">
                  <select formControlName="phone_country_code">
                    <option *ngFor="let country of countries" [value]="country.phone">
                      +{{ country.phone }} ({{ country.name }})
                    </option>
                  </select>
                </div>
                <input
                  fieldSize="small"
                  formControlName="phone"
                  placeholder="Phone Number"
                  fullWidth
                  nbInput
                  type="number"
                />
              </div>
              <span
                *ngIf="
                  stripeConnectAccountForm.get('phone').touched &&
                  stripeConnectAccountForm.get('phone').invalid &&
                  stripeConnectAccountForm.get('phone').errors.required
                "
              >
                <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
              </span>
            </label>

            <!-- Address* -->
            <label>
              Address*
              <textarea
                fieldSize="small"
                formControlName="address"
                placeholder="Address"
                fullWidth
                nbInput
                type="string"
              >
              </textarea>
              <span
                *ngIf="
                  stripeConnectAccountForm.get('address').touched &&
                  stripeConnectAccountForm.get('address').invalid &&
                  stripeConnectAccountForm.get('address').errors.required
                "
              >
                <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
              </span>
            </label>

            <!-- Country* -->
            <label>
              Country*
              <div class="select !com-mt-0">
                <select formControlName="country">
                  <option value="" selected disabled>Select Bank Ac</option>
                  <option *ngFor="let country of countries" [value]="country.name">
                    {{ country.name }}
                  </option>
                </select>
              </div>
              <span
                *ngIf="
                  stripeConnectAccountForm.get('country').touched &&
                  stripeConnectAccountForm.get('country').invalid &&
                  stripeConnectAccountForm.get('country').errors.required
                "
              >
                <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
              </span>
            </label>

            <!-- city and state -->
            <div class="com-flex com-gap-3">
              <!-- City* -->
              <label>
                City*
                <input fieldSize="small" formControlName="city" placeholder="City" fullWidth nbInput type="string" />
                <span
                  *ngIf="
                    stripeConnectAccountForm.get('city').touched &&
                    stripeConnectAccountForm.get('city').invalid &&
                    stripeConnectAccountForm.get('city').errors.required
                  "
                >
                  <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
                </span>
              </label>

              <!-- State -->
              <label>
                State
                <input fieldSize="small" formControlName="state" placeholder="State" fullWidth nbInput type="string" />
              </label>

              <!-- Zip Code* -->
              <label>
                Zip Code*
                <input
                  fieldSize="small"
                  formControlName="zip_code"
                  placeholder="Zip Code"
                  fullWidth
                  nbInput
                  type="string"
                />
                <span
                  *ngIf="
                    stripeConnectAccountForm.get('name').touched &&
                    stripeConnectAccountForm.get('name').invalid &&
                    stripeConnectAccountForm.get('name').errors.required
                  "
                >
                  <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
                </span>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="isLoading && selectedCountry !== 'India' && selectedCountry !== ''">
        <p class="com-text-center com-font-bold com-mb-1">Connecting to Stripe Account......</p>
        <p class="com-text-center com-font-light com-text-xs com-my-1">This might take a moment</p>
        <app-loading-spinner></app-loading-spinner>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="save-button-bottom">
        <div *ngIf="selectedCountry !== 'India'">
          <button
            (click)="connectStripeAccount()"
            [disabled]="!stripeConnectAccountForm.valid || isLoading"
            fullWidth
            nbButton
            size="small"
            status="primary"
            type="submit"
          >
            Proceed with Stripe
          </button>
        </div>

        <div *ngIf="selectedCountry === 'India'">
          <!-- [disabled]="!razorpayAccountForm.valid || isLoading || !settlementDetailsForm.valid" -->
          <button (click)="createRazorpayAccount()" fullWidth nbButton size="small" status="primary" type="submit">
            Proceed with Razorpay
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
