<div class="create-lab page-padding">

  <div *ngIf="lab" class="page-container">
    <div class="left-col">
      <nb-card>
        <nb-card-body></nb-card-body>
      </nb-card>
    </div>
    <div class="center-col">
      <nb-card>
        <nb-card-body>
          <div class="container">
            <p class="text-center">
              <span class="text-highlight-yellow">
                Changes will be autosaved every 10 seconds
              </span>
            </p>

            <form [formGroup]="headerImageForm" class='lab-header-image'>
              <div class="header-image">
                <div>
                  <div *ngIf="uploadedHeaderImage || lab.header_image" class="uploaded-header-image">
                    <img alt="lab header image" src="{{uploadedHeaderImage || lab.header_image.url}}">
                  </div>
                  <button
                    (click)="deleteEventHeader()"
                    *ngIf="uploadedHeaderImage || lab.header_image"
                    class="delete-header-image-button"
                    nbButton
                    outline
                    size="tiny"
                    status="danger">
                    <nb-icon icon="close-circle"></nb-icon>
                    Delete Image
                  </button>
                </div>
                <label [ngClass]="{'hidden': uploadedHeaderImage || (lab.header_image && lab.header_image.url)}"
                       class="clickable">
                  <span class="d-flex justify-content-center align-items-center">
                    <span>
                      <nb-icon icon="image-outline"></nb-icon>
                    </span>
                    <span>
                      Click to upload a header image (optional)
                    </span>
                  </span>
                  <input (change)="displaySelectedHeaderImage($event)" accept="image/*" formControlName="header_image"
                         fullWidth nbInput
                         type="file">
                </label>
              </div>
            </form>
            <form [formGroup]="labForm" class="lab-form">
              <div class="overview">
                <div>
                  <input fieldSize="giant" formControlName="name" fullWidth nbInput placeholder="Type a name.."
                         type="text">

                  <span
                    *ngIf="labForm['controls'].name.touched && labForm['controls'].name.invalid && labForm['controls'].name.errors.required"
                    class="validation-error-text">
                    Required Field
                  </span>
                </div>
                <div>

                  <editor
                    [init]="{
                      height: 500,
                      menubar: false,
                      convert_urls: false,
                      plugins: [
                        'textcolor emoticons advlist lists autolink link charmap preview anchor',
                        'visualblocks code table charmap image codesample',
                        'insertdatetime table paste code help wordcount autoresize'
                      ],
                      toolbar:
                        'formatselect | bold italic forecolor backcolor | codesample emoticons | \
                        link | alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | image | table | code | removeformat | help',
                      content_style: 'body {font-family: Work Sans}',
                      codesample_languages: [
                        { text: 'HTML/XML', value: 'markup' },
                        { text: 'CSS', value: 'css' },
                        { text: 'JavaScript', value: 'javascript' },
                        { text: 'TypeScript', value: 'typescript' },
                        { text: 'PHP', value: 'php' },
                        { text: 'Ruby', value: 'ruby' },
                        { text: 'Python', value: 'python' },
                        { text: 'Java', value: 'java' },
                        { text: 'C', value: 'c' },
                        { text: 'C#', value: 'csharp' },
                        { text: 'C++', value: 'cpp' }
                      ],
                      default_link_target: '_blank',
                      image_list: imagesList,
                      image_advtab: true,
                      branding: false,
                      images_upload_handler: this.uploadTextImage.bind(this),
                      toolbar_location: 'bottom',
                      toolbar_sticky: true
                    }"
                    apiKey="e34vgv7ocd6ttka8t6qcd07g7lifas1y9lyve8ze1013nefs"
                    formControlName="description">

                  </editor>
                </div>
              </div>
            </form>
          </div>
        </nb-card-body>
      </nb-card>
      <div *ngIf="labForm['controls'].lab_steps['controls'].length > 0" [formGroup]="labForm">
        <nb-card *ngFor="let lStep of labForm['controls'].lab_steps['controls']; let i=index;"
                 formArrayName="lab_steps">
          <nb-card-body>
            <div>
              <div [formGroupName]="i" class="lab-step">
                <h3 class="steps-counter">
                  {{ i + 1 }}. {{ this.lStep.get('name').value }}
                  &nbsp;
                  <nb-icon (click)="removeStep(i)" class="clickable" icon="close-circle-outline"
                           status="danger"></nb-icon>
                </h3>

                <div class="name">
                  <input fieldSize="large" formControlName="name" fullWidth nbInput placeholder="Add a Title"
                         type="text">

                  <!-- <span *ngIf="lStep.get('name').touched && lStep.get('name').invalid && lStep.get('name').errors.required" class="validation-error-text">
                    Required Field
                  </span> -->
                </div>
                <div>
                  <editor
                    [init]="{
                      placeholder: 'Start typing here...*',
                      height: 500,
                      menubar: false,
                      convert_urls: false,
                      plugins: [
                        'textcolor emoticons advlist lists autolink link charmap preview anchor',
                        'visualblocks code table charmap image codesample',
                        'insertdatetime table paste code help wordcount autoresize'
                      ],
                      toolbar:
                        'formatselect | bold italic forecolor backcolor | codesample emoticons| \
                        link | alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | image | table | code | removeformat | help',
                      content_style: 'body {font-family: Work Sans}',
                      codesample_languages: [
                        { text: 'HTML/XML', value: 'markup' },
                        { text: 'CSS', value: 'css' },
                        { text: 'JavaScript', value: 'javascript' },
                        { text: 'TypeScript', value: 'typescript' },
                        { text: 'PHP', value: 'php' },
                        { text: 'Ruby', value: 'ruby' },
                        { text: 'Python', value: 'python' },
                        { text: 'Java', value: 'java' },
                        { text: 'C', value: 'c' },
                        { text: 'C#', value: 'csharp' },
                        { text: 'C++', value: 'cpp' }
                      ],
                      default_link_target: '_blank',
                      image_list: imagesList,
                      image_advtab: true,
                      branding: false,
                      images_upload_handler: this.uploadTextImage.bind(this),
                      toolbar_location: 'bottom',
                      toolbar_sticky: true
                    }"
                    apiKey="e34vgv7ocd6ttka8t6qcd07g7lifas1y9lyve8ze1013nefs"
                    formControlName="description">

                  </editor>
                  <!-- <span *ngIf="lStep.get('description').touched && lStep.get('description').invalid && lStep.get('description').errors.required" class="validation-error-text">
                    Required Field
                  </span> -->
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>


      <nb-card class="clickable">
        <nb-card-body (click)="addStep()">
          <div class="add-step-button text-center">
            <nb-icon icon="plus"></nb-icon>
            <br/>
            Add New Section
          </div>

        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-body>
          <div class="tags">
            <p>Tags help you get a better visibility 😃</p>
            <app-tag (tagAdd)="onTagAdd($event)" (tagDelete)="onTagDelete($event)" [editable]="true"
                     [tags]="tags"></app-tag>
          </div>
        </nb-card-body>
      </nb-card>
      <div class="actions-card">
        <p class="publish-notification text-basic">
          <i *ngIf="this.lab.publish_status !== EPublishStatus.published">
            *We aim to have amazing and really useful content in Labs.
            Once you submit for a Review, your Lab will be Live in 24 hours!
          </i>
        </p>

        <div class="actions">
          <button
            (click)="updateLab(EPublishStatus.draft)"
            *ngIf="this.lab.publish_status !== EPublishStatus.published"
            [disabled]="!labForm.valid"
            nbButton
            status="info"
            type="submit"
          >
            <nb-icon icon="edit"></nb-icon>
            Save as Draft
          </button>
          <button
            (click)="updateLab(EPublishStatus.submitted)"
            [disabled]="!labForm.valid || autoSaving"
            nbButton
            status="primary"
            type="submit"
          >
            <nb-icon icon="checkmark"></nb-icon>

            <span *ngIf="this.lab.publish_status !== EPublishStatus.published && !autoSaving">
              Submit For Review
            </span>

            <span *ngIf="this.lab.publish_status == EPublishStatus.published && !autoSaving">
              Save Changes
            </span>

            <span *ngIf="autoSaving">
              Auto Saving...
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="right-col">
      <button [routerLink]="['/labs', lab.slug]" ghost nbButton status="info">
        Preview
        <nb-icon icon="external-link"></nb-icon>
      </button>
    </div>

  </div>

</div>
