.create-lab {
  width: 100%;

  .page-container {

    .header {
      font-weight: 300;
      fa-icon {
        color: #4e74ff;
      }
    }

    form {

      .overview {
        input {
          font-size: 1.8rem;
          font-weight: 300;
        }

        >div {
          margin-bottom: 1rem;
        }


      }


      .submit-button {
        margin-top: 1rem;
      }
    }

    @media screen and (min-width: 1020px) {
      max-width: 1020px;
      margin: 0 auto;
    }
  }

}
