<div class="create-lab">

  <div>
    <nb-card>
      <nb-card-body>

        <div class="page-container">
          <h2 class="header">
            <fa-icon [icon]="faFlask" size="1x"></fa-icon>
            Let's complete it!
          </h2>
          <p>

          </p>

          <form class="community-edit-details-form" [formGroup]="labForm">
            <div>

              <input type="text" nbInput fullWidth fieldSize="giant" formControlName="name" placeholder="Type a name..">

              <span *ngIf="labForm['controls'].name.touched && labForm['controls'].name.invalid && labForm['controls'].name.errors.required" class="validation-error-text">
                Required Field
              </span>
            </div>

            <div class="submit-button">
              <button
                [disabled]="!labForm.valid"
                type="submit"
                nbButton
                outline
                status="info"
                >
                <nb-icon icon="edit"></nb-icon>
                Save as Draft
              </button>
              <button
                [disabled]="!labForm.valid"
                type="submit"
                nbButton
                outline
                status="primary"
                >
                <nb-icon icon="checkmark"></nb-icon>
                Publish
              </button>
            </div>

          </form>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

</div>
