<div class="create-button">
  <button nbButton status="primary" [routerLink]="['/admin', 'communities', parentId, 'hackathon-dashboard', 'new']">
    <fa-icon [icon]="icons.faPlus"></fa-icon>
    Create New Hackathon
  </button>
</div>

<section>
  <table *ngIf="hackathons && hackathons.length > 0">
    <tr>
      <th>Name</th>
      <th>Creation Date</th>
      <th>Start Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let hackathon of hackathons">
      <td>{{ hackathon.name }}</td>
      <td>{{ moment(hackathon.created_at).format('dddd, MMM Do, YYYY') }}</td>
      <td>
        <small>Start At: {{ moment(hackathon.start_date).format('dddd, MMM Do, YYYY') }}</small>
        <br />
        <small>Application Start At: {{ moment(hackathon.application_start_date).format('dddd, MMM Do, YYYY') }}</small>
      </td>
      <td>{{ hackathon.status | titlecase }}</td>
      <td class="action-buttons">
        <a [routerLink]="['/admin', 'communities', parentId, 'hackathon-dashboard', hackathon.slug]">
          <button nbButton status="primary" size="tiny">Dashboard</button>
        </a>
        <a [routerLink]="['/communities', parentId, 'hackathons', hackathon.slug]" target="_blank">
          <button nbButton status="primary" size="tiny">Public Page</button>
        </a>
      </td>
    </tr>
  </table>
</section>
