@import '/projects/commudle-admin/src/assets/styles/variables';

.admin-bagdes-assign{
    nb-card-body{
        nb-list{
            nb-list-item{
                .form-fields{
                    width: 100%;

                    .input-fields{
                        display: flex;
                        width: 60%;
                        gap: 15px;
                        
                        input{
                            width: 50%;
                        }
                    }
                }

                nb-list{
                    nb-list-item{

                        .user-details{
                            width: 40%;
                        }

                        .badge-image{
                            width: 40%;
                            img{
                                width: 200px;
                                height: 200px;
                            }
                        }

                        .button{
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
}