<div *ngIf="openForms.length > 0">
  <div class="open-forms">
    <p class="registrations"><nb-icon icon="book-outline"></nb-icon><span>Registrations</span></p>
    <div *ngFor="let form of openForms" class="form-link">
      <a
        *ngIf="
          !form.already_filled &&
          form.registration_type.name === ERegistationTypes.SPEAKER &&
          (event.event_status.name === EEventStatuses.OPEN || event.event_status.name === EEventStatuses.DRAFT)
        "
        [routerLink]="['/fill-form', form.data_form_entity_id]"
        nbButton
        nbTooltip="{{ form.name }}"
        size="small"
        status="primary"
      >
        <nb-icon icon="award"></nb-icon>
        {{ form.name }}
      </a>
      <a
        *ngIf="
          !form.already_filled &&
          form.registration_type.name === ERegistationTypes.ATTENDEE &&
          (event.event_status.name === EEventStatuses.OPEN || event.event_status.name === EEventStatuses.DRAFT)
        "
        [routerLink]="['/fill-form', form.data_form_entity_id]"
        nbButton
        nbTooltip="{{ form.name }}"
        size="small"
        status="primary"
      >
        <nb-icon icon="people"></nb-icon>
        {{ form.name }}
      </a>
      <a
        *ngIf="!form.already_filled && form.registration_type.name === ERegistationTypes.FEEDBACK"
        [routerLink]="['/fill-form', form.data_form_entity_id]"
        nbButton
        nbTooltip="{{ form.name }}"
        size="small"
        status="primary"
      >
        <nb-icon icon="bulb"></nb-icon>
        {{ form.name }}
      </a>
      <a
        *ngIf="!form.already_filled && form.registration_type.name === ERegistationTypes.COMMUNICATION"
        [routerLink]="['/fill-form', form.data_form_entity_id]"
        nbButton
        nbTooltip="{{ form.name }}"
        size="small"
        status="primary"
      >
        {{ form.name }}
      </a>
      <a
        *ngIf="form.already_filled"
        [routerLink]="['/fill-form', form.data_form_entity_id]"
        nbButton
        nbTooltip="{{ form.name }}"
        size="small"
        status="primary"
        ><nb-icon class="edit-icon" icon="edit"></nb-icon>{{ form.name }}</a
      >
    </div>
  </div>
</div>

<nb-card *ngIf="eventSimpleRegistration">
  <nb-card-body>
    <nb-alert
      *ngIf="
        eventSimpleRegistration.status === EEventSimpleRegistrationStatuses.CLOSED &&
        eventSimpleRegistration.user_event_registrations_count === 0
      "
      status="primary"
    >
      Registrations will open soon!
    </nb-alert>

    <nb-alert
      *ngIf="
        eventSimpleRegistration.status === EEventSimpleRegistrationStatuses.CLOSED &&
        eventSimpleRegistration.user_event_registrations_count > 0
      "
      outline="basic"
    >
      Registrations closed
    </nb-alert>

    <button
      (click)="onAcceptRoleButton()"
      *ngIf="eventSimpleRegistration.status === EEventSimpleRegistrationStatuses.OPEN"
      nbButton
      status="primary"
    >
      <span *ngIf="!eventSimpleRegistration.current_user_registered"> Register Here! </span>
      <span *ngIf="eventSimpleRegistration.current_user_registered"> Cancel My Registration </span>
    </button>
    <p *ngIf="userEventRegistration">
      <nb-alert outline status="basic">
        Your status: {{ userEventRegistration.registration_status.name | titlecase }}
      </nb-alert>
    </p>
  </nb-card-body>
</nb-card>
