<nb-card *ngIf="jobs.length > 0 || currentUser?.id === user.id" accent="primary" class="user-job" id="jobs">
  <nb-card-header>
    <nb-icon icon="briefcase" status="primary"></nb-icon>
    Jobs
  </nb-card-header>
  <nb-card-body>
    <button
      (click)="onOpenDialog(jobDialog)"
      *ngIf="currentUser?.id === user?.id"
      fullWidth
      ghost
      nbButton
      status="info"
    >
      <nb-icon icon="plus-circle"></nb-icon>
      Add Job
    </button>
    <ng-container *ngIf="jobs.length > 0">
      <div class="com-grid com-grid-cols-1 com-gap-2">
        <app-user-job-card
          (deleteJob)="onDeleteJob($event)"
          (updateJob)="onOpenEditJobDialog(jobDialog, job)"
          *ngFor="let job of jobs"
          [job]="job"
          [user]="user"
        ></app-user-job-card>
      </div>
      <button (click)="getJobs()" *ngIf="page_info?.has_next_page" [nbSpinner]="isLoading" fullWidth ghost nbButton>
        Get more jobs
      </button>
    </ng-container>
  </nb-card-body>
</nb-card>

<ng-template #jobDialog let-ref="dialogRef">
  <nb-card class="!com-m-0 com-max-h-[100vh]" style="width: clamp(20rem, 36rem, 100vw)">
    <nb-card-header class="com-flex com-justify-between com-items-center">
      <div class="tittle">
        <nb-icon icon="briefcase" class="com-mr-1"></nb-icon>
        <p>{{ isEditing ? 'Edit Job' : 'Post a Job' }}</p>
      </div>
      <button (click)="onCloseDialog() && ref.close()" ghost nbButton shape="round" size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="jobForm" class="com-flex com-flex-col com-space-y-3">
        <div class="com-grid com-grid-cols-2 com-gap-2">
          <label class="com-col-span-1">
            Category*
            <nb-select formControlName="category" fullWidth>
              <nb-option *ngFor="let jobCategory of jobCategories" [value]="jobCategory">
                {{ jobCategory | titlecase }}
              </nb-option>
            </nb-select>
          </label>
          <label class="com-col-span-1">
            Job Type*
            <nb-select formControlName="job_type" fullWidth>
              <nb-option *ngFor="let jobType of jobTypes" [value]="jobType">
                {{ jobType | capitalizeAndRemoveUnderscore }}
              </nb-option>
            </nb-select>
          </label>
        </div>
        <label>
          Position*
          <input formControlName="position" fullWidth nbInput type="text" />
          <span
            *ngIf="
              jobForm['controls'].position.touched &&
              jobForm['controls'].position.invalid &&
              jobForm['controls'].position.errors.required
            "
            class="validation-error-text"
          >
            Required Field
          </span>
        </label>
        <label>
          Company*
          <input formControlName="company" fullWidth nbInput type="text" />
          <span
            *ngIf="
              jobForm['controls'].company.touched &&
              jobForm['controls'].company.invalid &&
              jobForm['controls'].company.errors.required
            "
            class="validation-error-text"
          >
            Required Field
          </span>
        </label>
        <label>
          Min Experience (in years)*
          <input formControlName="experience" fullWidth nbInput type="number" />
        </label>
        <div class="com-grid com-grid-cols-5 com-gap-2">
          <label class="com-col-span-2">
            Min Salary*
            <input formControlName="min_salary" fullWidth nbInput type="number" />
          </label>
          <label class="com-col-span-2">
            Max Salary*
            <input formControlName="max_salary" fullWidth nbInput type="number" />
          </label>
          <label class="com-col-span-1">
            Currency*
            <nb-select formControlName="salary_currency" fullWidth>
              <nb-option *ngFor="let jobSalaryCurrency of jobSalaryCurrencies" [value]="jobSalaryCurrency">
                {{ jobSalaryCurrency | uppercase }}
              </nb-option>
            </nb-select>
          </label>
        </div>
        <label>
          Salary Type*
          <nb-select formControlName="salary_type" fullWidth>
            <nb-option *ngFor="let jobSalaryType of jobSalaryTypes" [value]="jobSalaryType">
              {{ jobSalaryType | titlecase }}
            </nb-option>
          </nb-select>
        </label>
        <div class="com-grid com-grid-cols-3 com-gap-2">
          <label class="com-col-span-1">
            Location Type*
            <nb-select formControlName="location_type" fullWidth>
              <nb-option *ngFor="let jobLocationType of jobLocationTypes" [value]="jobLocationType">
                {{ jobLocationType | titlecase }}
              </nb-option>
            </nb-select>
          </label>
          <label class="com-col-span-2">
            Location<span *ngIf="jobForm['controls'].location_type.value === 'office'">*</span>
            <input formControlName="location" fullWidth nbInput type="text" />
          </label>
        </div>
        <label *ngIf="isEditing">
          Status*
          <nb-select formControlName="status" fullWidth>
            <nb-option *ngFor="let jobStatus of jobStatuses" [value]="jobStatus">
              {{ jobStatus | titlecase }}
            </nb-option>
          </nb-select>
        </label>
        <label>
          Responsibilities & Perks
          <textarea formControlName="description" fullWidth nbInput rows="3" type="text"></textarea>
        </label>
        <label>
          Tags
          <nb-tag-list (tagRemove)="onTagRemove($event)">
            <nb-tag *ngFor="let tag of tags" [text]="tag" removable></nb-tag>
            <input
              formControlName="tags"
              (tagAdd)="onTagAdd($event)"
              [separatorKeys]="[13, 188]"
              (keypress)="restrictComma($event)"
              fullWidth
              nbTagInput
              placeholder="Type a tag and press enter or comma (Max 5 tags)"
              type="text"
              nbTagInput
            />
          </nb-tag-list>
        </label>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <div class="com-flex com-justify-center">
        <p class="com-m-0">Job automatically expires in 15 days but you can renew it.</p>
      </div>
      <div class="com-flex com-justify-between">
        <button (click)="onCloseDialog() && ref.close()" ghost nbButton size="small" status="danger">Cancel</button>
        <button
          (click)="isEditing ? updateJob() : createJob()"
          [disabled]="jobForm.invalid"
          [nbSpinner]="formSubmitLoading"
          nbButton
          status="success"
        >
          {{ isEditing ? 'Update' : 'Create' }}
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
