<nb-card class="round-selection-mailer">
  <nb-card-header>
    <span>Send round selection update email</span>
    <button nbButton ghost shape="round" (click)="closePopup()">
      <fa-icon [icon]="faXmark"></fa-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <commudle-alert
      [info]="true"
      message="This will send a pre-formatted email and a notification to all members of the community"
    ></commudle-alert>
    <div class="round-select">
      <select [(ngModel)]="roundSelection">
        <option hidden [ngValue]="0">Select round*</option>
        <option *ngFor="let hackathonRound of hackathonRounds" [ngValue]="hackathonRound.id">
          {{ hackathonRound.name }}
        </option>
      </select>
    </div>
    <div>
      <label for="message">Message (optional)</label>
      <editor [init]="tinyMCE" [(ngModel)]="message"></editor>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      status="primary"
      [disabled]="roundSelection === 0 || isLoading"
      (click)="OverallRoundSelectionUpdateEmail()"
    >
      Send
    </button>
  </nb-card-footer>
</nb-card>
