<nb-card class="com-w-[809px] com-mx-0">
  <nb-card-body>
    <div class="upcoming-card">
      <a [routerLink]="" class="upcoming-card-link">
        <div class="upcoming-card-image">
          <!-- <commudle-banner-image
            *ngIf="event.header_image.url"
            [headerImagePath]="event.header_image?.url"
            [name]="event.name"
          ></commudle-banner-image> -->
          <img
            [alt]="event.name"
            [src]="event.header_image?.url || '/assets/images/commudle-logo192.png'"
            [title]="event.name"
            class="image"
          />
        </div>
        <div class="upcoming-card-details">
          <div class="upcoming-card-info">
            <p class="event-time">{{ moment(event.start_time).format('dddd, MMM Do, YYYY') }}</p>
            <p class="event-title">{{ event.name }}</p>
            <div class="community-badge">
              <!-- <app-community-badge [user]="communityName"></app-community-badge> -->
            </div>
          </div>
          <div class="">
            <div>
              <nb-icon icon="pin-outline" class="pin-outline"></nb-icon>
              <span>location</span>
            </div>
            <div class="interested-members">
              <div>
                <nb-icon icon="people-outline" class="people-outline"></nb-icon>
                <span>{{ event.interested_members_count }} Interested Members</span>
              </div>
              <button nbButton status="info" shape="semi-round" class="register-button" size="small" outline>
                Register
              </button>
            </div>
          </div>
        </div>
      </a>
    </div>
  </nb-card-body>
</nb-card>
<hr />
