<nb-card class="build-card-container">
  <nb-card-body>
    <div class="details">
      <fa-icon [icon]="faCodeBranch"></fa-icon>
      <p class="name">{{build.name}}</p>
      <nb-tag-list class="tags">
        <nb-tag *ngFor="let tag of build.tags" [text]="tag[0]"></nb-tag>
      </nb-tag-list>
    </div>
    <p
      class="description">{{build.description || 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum est quidem sunt temporibus vel!'}}</p>
  </nb-card-body>
</nb-card>
