.build-card-container {
  border: 0.5px solid #5C6972;
  border-radius: 10px;

  nb-card-body {
    padding: 0.75rem;

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      fa-icon {
        font-size: 25px;
        color: #FFD338;
      }

      .name {
        font-size: 18px;
        font-weight: 500;
        font-family: 'Work Sans', sans-serif !important;
        line-height: 21px;
        color: #536EFF;
      }

      .tags {
        max-width: 33%;
      }
    }

    .description {
      font-size: 14px;
      font-family: 'Work Sans', sans-serif !important;
      margin-top: 2rem;
      color: #5C6972;
    }
  }
}
