.build-card-container {
  border: 0.5px solid #5C6972;
  border-radius: 10px;

  nb-card-body {
    padding: 0.75rem 1.25rem;

    .details {
      display: flex;
      align-items: center;

      fa-icon {
        font-size: 25px;
        margin-right: 1rem;
        color: #FFD338;
      }

      .name {
        font-size: 18px;
        font-weight: 500;
        font-family: 'Work Sans', sans-serif !important;
        line-height: 21px;
        color: #536EFF;
      }

      .tags {
        margin-left: auto;
      }
    }

    .description {
      font-size: 14px;
      font-family: 'Work Sans', sans-serif !important;
      margin: 1rem 0 0.75rem;
      height: 4rem;
      color: #5C6972;
    }
  }
}
