nb-card {
  @apply com-mx-0 com-mt-4 com-mb-0 md:com-rounded-[10px] com-rounded-none;

  nb-card-header {
    @apply com-py-4 md:com-px-6 com-px-4;
    h6 {
      @apply com-m-0 md:com-font-semibold com-font-bold;
    }
  }

  nb-card-body {
    @apply md:com-px-6 com-px-4;
    .volunteers {
      @apply com-grid com-grid-cols-1 com-gap-x-[22px] com-gap-y-4 md:com-grid-cols-2;
      fieldset {
        @apply com-border com-border-solid com-border-gray-300 com-rounded-md com-h-full;

        legend {
          @apply com-ml-auto com-text-base com-font-medium;
        }
      }
    }
  }

  .view-more {
    @apply com-min-h-[480px] com-overflow-y-hidden;
  }
  .view-less {
    @apply com-max-h-max;
  }
}
