.volunteers {
  display: flex;
  flex-direction: column;

  commudle-user-profile-card-large {
    margin: 0.5rem 0;
  }

  @media screen and (min-width: 800px) {
    flex-direction: row;
    flex-wrap: wrap;

    commudle-user-profile-card-large {
      width: 50%;
    }
  }
}
