<div class="two-column-layout medium">
  <div class="main-column com-mb-20">
    <nb-card class="project-details" *ngIf="userTeamDetails">
      <nb-card-header>PROJECT DETAILS</nb-card-header>
      <nb-card-body>
        <div class="project-name">{{ userTeamDetails[0].community_build.name }}</div>
        <div [innerHTML]="userTeamDetails[0].community_build.description"></div>
      </nb-card-body>
      <nb-card-footer>
        <a
          [routerLink]="['/builds', userTeamDetails[0].community_build.slug, 'edit']"
          [queryParams]="{ parent_type: 'HackathonTeam', parent_id: userTeamDetails[0].id }"
          target="_blank"
          >Post Updates &nbsp; <fa-icon [icon]="icons.faArrowRight"></fa-icon
        ></a>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="right-column">
    <div *ngIf="hrgId && userTeamDetails && userTeamDetails.length > 0">
      <commudle-public-hackathon-registration
        [hrgId]="hrgId"
        [userTeamDetails]="userTeamDetails[0]"
      ></commudle-public-hackathon-registration>
    </div>
  </div>
</div>
