.user-event-registration {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  .send-email-button {
    margin-top: 1rem;
  }
  .registration-count {
    p {
      span {
        font-size: 1.5rem;
      }
      margin: 0;
    }
  }

  .control-status {
    background-color: #ff3434;
    border-radius: 5px;
    padding: 0.5rem;
  }
}


