.qna-container {
  height: 100%;
  position: relative;

  .sort-messages-btn {
    opacity: 0;
    position: absolute;
    top: 8px;
    right: 56px;
    box-shadow: rgba(17, 17, 26, 0.1) 0 0 16px;
    transition: opacity 0.3s ease-in-out;

    &::ng-deep {
      > button {
        min-width: 130px;
      }
    }
  }

  &:hover {
    .sort-messages-btn {
      opacity: 1;
    }
  }

  .send-message {
    position: sticky;
    bottom: 0;

    emoji-mart {
      display: none;

      &.active {
        display: initial;
      }
    }
  }
}
