@import './projects/commudle-admin/src/assets/styles/text-styles';
@import './projects/commudle-admin/src/assets/styles/variables';

p {
  color: $gunmetal;
  margin: 0;
}

a {
  color: initial;
  text-decoration: none;
}

.communities-about-container {
  nb-card-body {
    padding: $space-40 0 $space-40 $space-64;

    .communities-about-content {
      .communities-about-header {
        font-size: $fs-40;
        font-weight: $fw-600;
        line-height: 47px;
        @apply com-m-0;
      }

      .communities-about-subheader {
        font-size: $fs-18;
        line-height: 21px;
      }

      .communities-about-navigation {
        gap: $space-16;
        margin-top: $space-72;

        button {
          border: 1px solid $gunmetal;
          font-size: $fs-h5;
          font-weight: normal;
          line-height: 16px;
          padding: $space-8;
          text-transform: capitalize;
        }

        .community-create-btn {
          background-color: $gunmetal;
          color: $white;
        }

        .communities-explore {
          background-color: $white;
          color: $gunmetal;
        }
      }
    }

    .communities-about-image {
      height: 212px;
      margin-top: -$space-16;
      width: 296px;

      img {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: $tab-width) {
  .communities-about-container {
    nb-card-body {
      flex-direction: column-reverse;
      padding: $space-16;

      .communities-about-image {
        margin-bottom: $space-24;
        margin-top: 0;
      }
    }
  }
}
