p {
  @apply com-m-0 com-text-c-gunmetal;
}

a {
  color: initial;
  @apply com-no-underline;
}

.communities-about-container {
  nb-card-body {
    @apply com-flex-col-reverse com-p-4;
    @apply md:com-py-10 md:com-pr-0 md:com-pl-16 md:com-flex-row;

    .communities-about-content {
      .communities-about-header {
        @apply com-m-0 com-text-4xl com-font-semibold;
      }

      .communities-about-subheader {
        @apply com-text-lg;
      }

      .communities-about-navigation {
        @apply com-gap-4 com-mt-c72;

        button {
          @apply com-border-1 com-border-solid com-border-c-gunmetal com-text-sm com-p-2 com-capitalize;
        }

        .community-create-btn {
          @apply com-text-white com-bg-c-gunmetal;
        }

        .communities-explore {
          @apply com-bg-white com-text-c-gunmetal;
        }
      }
    }

    .communities-about-image {
      @apply com-mt-0 com-mb-6 com-h-[212px] com-w-[296px];
      @apply md:-com-mt-4 md:com-mb-0;

      img {
        @apply com-w-full;
      }
    }
  }
}
