.event-location-tracks {
  max-width: 719px;

  .track-container {
    .track-name {
      display: inline-block;
      margin: 0;
    }

    .session-time {
      p {
        margin: 0;
        text-align: right;
      }

      p:nth-of-type(1) {
        font-size: 1.2rem;
      }

      p:nth-of-type(2) {
        margin-top: 0.2rem;
        font-size: 0.9rem;
      }

      @media all and (max-width: 767px) {
        p:nth-of-type(1) {
          font-size: 1rem;
        }

        p:nth-of-type(2) {
          font-size: 0.8rem;
        }
      }
    }

    .session-title {
      min-width: max-content;

      p {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0;
      }

      app-badge {
        margin-right: 0.3rem;
        margin-top: 0.3rem;
      }
    }

    @media all and (max-width: 767px) {
      .session-title {
        p {
          font-size: 1rem;
        }
      }
    }

    .session-speaker {
      padding: 1px 12px;
      border-color: rgba(0, 0, 0, 0.12);
      border-width: thin;
      border-style: solid;
      border-radius: 5px;
      min-width: max-content;

      small {
        font-weight: 400;
      }

      nb-icon {
        font-size: 0.875rem;
      }
    }
  }
}
