.event-location-tracks {
  max-width: 719px;

  .track-container {
    .track-name {
      display: inline-block;
      margin: 0;
      font-size: 1.3rem;
    }

    @media all and (max-width: 767px) {
      .track-name {
        font-size: 1.1rem;
      }
    }

    .session-time {
      p {
        margin: 0;
        text-align: right;
      }

      p:nth-of-type(1) {
        font-size: 1.2rem;
      }

      p:nth-of-type(2) {
        margin-top: 0.2rem;
        font-size: 0.9rem;
      }

      @media all and (max-width: 767px) {
        p:nth-of-type(1) {
          font-size: 1rem;
        }

        p:nth-of-type(2) {
          font-size: 0.8rem;
        }
      }
    }

    .session-title {
      min-width: max-content;

      p {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0;
      }

      app-badge {
        margin-right: 0.3rem;
        margin-top: 0.3rem;
      }
    }

    @media all and (max-width: 767px) {
      .session-title {
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
