<div class="header">
  <div
    *ngIf="communitiesPageHeader"
    [ngStyle]="{ 'background-color': communitiesPageHeader.background_color.hex }"
    class="background"
  >
    <div class="base-layout">
      <div class="content">
        <div class="header-text">
          <h1 class="heading">{{ communitiesPageHeader.heading }}</h1>
          <p class="sub-heading">{{ communitiesPageHeader.sub_heading }}</p>
        </div>
        <div class="header-image">
          <img [src]="imageUrl(communitiesPageHeader?.header_image).url()" class="com-w-full" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <nb-card class="communities-about-container">
  <nb-card-body class="d-flex justify-content-space-between">
    <div class="communities-about-content">
      <h1 class="communities-about-header">Build Your Community or Join One!</h1>
      <p class="communities-about-subheader">For you to build along with your developer friends & learn from Experts</p>
      <div class="communities-about-navigation d-flex">
        <a [routerLink]="['/pricing']" target="_blank">
          <button nbButton size="small" status="primary">
            <nb-icon icon="plus"></nb-icon>
            <span class="com-text-sm">Start Your Community</span>
          </button>
        </a>
        <button (click)="scrollToCommunitiesList()" class="communities-explore" nbButton size="small">Explore</button>
      </div>
    </div>
    <div class="communities-about-image">
      <img alt="Communities Home" src="{{ staticAssets.communities_home }}" title="Communities Home" />
    </div>
  </nb-card-body>
</nb-card> -->
