<div class="com-h-24 com-flex com-border-0 com-border-b com-border-gray-200 com-border-solid">
  <div *ngIf="forum" class="com-my-auto com-mx-4 com-flex com-gap-3">
    <div (click)="selectedCommunityForum()">
      <fa-icon [icon]="faArrowLeftLong" class="com-text-3xl"></fa-icon>
    </div>
    <div class="">
      <span class="com-text-2xl com-line-clamp-2 com-text-[#344054]"> {{ forum.name }} </span>
      <span class="ccom-text-sm com-line-clamp-1 com-text-[#545861]"> {{ forum.group_name | titlecase }} </span>
    </div>
  </div>
</div>
<div *ngIf="discussion" class="com-ml-2">
  <commudle-channel-discussion
    [discussionId]="discussion.id"
    discussionParent="channels"
    discussionType="forum"
  ></commudle-channel-discussion>
</div>
