<nb-form-field [ngClass]="{ hide: !searchStatus && !overrideSearchStatus }">
  <nb-icon icon="search-outline" nbPrefix></nb-icon>
  <input
    #searchInput
    (keyup.enter)="onSubmit()"
    [fieldSize]="overrideSearchStatus ? 'giant' : 'medium'"
    [formControl]="inputFormControl"
    [nbAutocomplete]="showSuggestions ? autoComplete : loading"
    [ngClass]="{ giant: overrideSearchStatus }"
    [overlayOffset]="0"
    [shape]="shape"
    class="main-search-bar"
    fullWidth
    nbInput
    placeholder="Search react, gdg, design, tutorials"
    type="text"
  />
</nb-form-field>

<nb-autocomplete #loading></nb-autocomplete>

<nb-autocomplete
  #autoComplete
  (selectedChange)="navigate($event); searchInput.blur()"
  [handleDisplayFn]="handleDisplay"
  optionsListClass="search-autocomplete"
>
  <nb-option *ngIf="searchLoader" class="search-placeholder loading-spinner">
    <div class="spinner">
      <div *ngFor="let _ of [].constructor(5)"></div>
    </div>
  </nb-option>
  <nb-option *ngIf="inputFormControl.value?.length === 0" class="search-placeholder">
    Quickly search your favorite topics, labs by industry experts or find an event you missed
  </nb-option>
  <nb-option *ngIf="total === 0 && !searchLoader" class="search-placeholder">No results found</nb-option>
  <nb-option-group *ngFor="let group of groupedResults | keyvalue" [title]="group.key" class="search-results-group">
    <nb-option *ngFor="let option of group.value" [value]="option">
      <a [routerLink]="getRoute(option)" class="navigate">
        <nb-user [name]="option.name" [picture]="getPicture(option)" [showTitle]="false"></nb-user>
      </a>
    </nb-option>
  </nb-option-group>
  <nb-option
    *ngIf="total > 0"
    [value]="{ type: 'all', name: 'See all results', query: inputFormControl.value?.name || inputFormControl.value }"
    class="com-justify-center com-items-center com-gap-2"
  >
    Show all results
    <nb-icon icon="arrow-forward-outline"></nb-icon>
  </nb-option>
</nb-autocomplete>
