<nb-form-field>
  <nb-icon icon="search-outline" nbPrefix></nb-icon>
  <input
    #searchInput
    [formControl]="inputFormControl"
    [nbAutocomplete]="autoComplete"
    [overlayOffset]="0"
    fullWidth
    nbInput
    placeholder="Start typing..."
    type="text"
  />
</nb-form-field>

<nb-autocomplete
  #autoComplete
  (selectedChange)="navigate($event)"
  [handleDisplayFn]="handleDisplay"
  optionsListClass="search-autocomplete"
>
  <nb-option *ngIf="searchLoader" class="search-placeholder loading-spinner com-items-center com-justify-center">
    <div class="spinner">
      <div *ngFor="let _ of [].constructor(5)"></div>
    </div>
  </nb-option>
  <nb-option *ngIf="inputFormControl.value?.length === 0" class="search-placeholder">
    Quickly search your favorite topics, labs by industry experts or find an event you missed
  </nb-option>
  <nb-option *ngIf="total === 0 && !searchLoader" class="search-placeholder">No results found</nb-option>
  <nb-option-group *ngFor="let group of groupedResults | keyvalue" [title]="group.key">
    <nb-option *ngFor="let option of group.value" [value]="option">
      <nb-user [name]="option.name" [showTitle]="false"></nb-user>
    </nb-option>
  </nb-option-group>
</nb-autocomplete>
