:host {
  .data-table-responses {
    overflow: hidden;

    nb-card-body {
      padding: 0;
    }
  }

  .data-table-container {
    @media screen and (max-width: 800px) {
      .desktop-hidden {
        display: initial;
      }
      .mobile-hidden {
        display: none;
      }

      .view-mobile-response {
        display: block;
        margin-top: 0.5rem;
      }
    }

    @media screen and (min-width: 800px) {
      .desktop-hidden {
        display: none;
      }
      .mobile-hidden {
        display: initial;
      }
    }

    .ngx-datatable {
      height: 70vh;

      .header-column-template {
        p {
          margin: 0;
        }

        > .name-filter {
          margin-top: 5px;
        }

        > .registration-status-filter {
          display: flex;
          flex-wrap: nowrap;

          div {
            border: 0.5px solid lightgrey;
            cursor: pointer;
            padding: 5px;
          }

          p {
            font-size: 12px;
            margin: 0;
          }
        }
      }

      .row-header {
        white-space: normal;
      }

      .row-header.question {
        overflow-y: visible;

        white-space: normal;

        .small-text {
          font-size: 10px;
        }
      }

      .row-cell.question {
        white-space: normal;

        p {
          font-size: 14px;
        }
      }
    }
  }
}

.group-actions {
  display: flex;
  flex-wrap: wrap;

  button,
  nb-select {
    margin: 0.5rem;
  }
}
