<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <nb-card>
        <nb-card-body>
          <p>
            <a
              [routerLink]="['/admin/communities', community.slug, 'event-dashboard', event.slug]"
              class="padding-0 navigation-link"
              ghost
              nbButton
              size="tiny"
            >
              <nb-icon icon="arrow-ios-back"></nb-icon>
              Back
            </a>
          </p>
          <h3>{{ event.name }}</h3>
          <p>Registrations</p>

          <div class="group-actions">
            <button (click)="openEntryPassEmailWindow()" nbButton outline size="small" status="primary">
              Send All Entry Passes
            </button>

            <button
              *ngIf="
                userRoles.length > 0 &&
                (userRoles.includes(EUserRoles.COMMUNITY_ADMIN) ||
                  userRoles.includes(EUserRoles.EVENT_ORGANIZER) ||
                  userRoles.includes(EUserRoles.EVENT_VOLUNTEER) ||
                  userRoles.includes(EUserRoles.ORGANIZER))
              "
              [routerLink]="['/admin/communities', community.slug, 'event-dashboard', event.slug, 'scan-entry-pass']"
              nbButton
              outline
              size="small"
              status="primary"
            >
              Scan Entry Pass
            </button>

            <button
              [routerLink]="['/communities', community.slug, 'events', event.slug, 'attended-members']"
              nbButton
              outline
              size="small"
              status="primary"
            >
              View attended members
            </button>

            <button (click)="sendCSV()" nbButton outline size="small" status="info">
              <nb-icon icon="email-outline"></nb-icon>
              CSV
            </button>

            <nb-select
              (selectedChange)="bulkStatusChangeConfirmation($event)"
              *ngIf="event.editable"
              [(ngModel)]="bulkStatus"
              [ngModelOptions]="{ standalone: true }"
              filled
              placeholder="Bulk Status Change"
              size="small"
              status="info"
            >
              <nb-option *ngFor="let rs of registrationStatuses" [value]="rs">
                {{ rs.name | titlecase }}
              </nb-option>
            </nb-select>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card class="data-table-responses">
        <nb-card-body>
          <div class="data-table-container">
            <ngx-datatable
              #table
              (page)="setPage($event.offset)"
              [columnMode]="ColumnMode.force"
              [count]="totalEntries"
              [externalPaging]="true"
              [footerHeight]="50"
              [headerHeight]="100"
              [limit]="count"
              [loadingIndicator]="isLoading"
              [messages]="{ emptyMessage: emptyMessage }"
              [offset]="page - 1"
              [rows]="rows"
              [scrollbarH]="true"
              [scrollbarV]="true"
              [virtualization]="false"
              class="material expandable"
              rowHeight="auto"
            >
              <!-- complete table format -->
              <ngx-datatable-column [canAutoResize]="true" [frozenLeft]="true" [width]="360" name="User Details">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <div class="header-column-template">
                    <p>User Details</p>
                    <form [formGroup]="searchForm">
                      <div class="name-filter">
                        <input
                          [disabled]="isLoading"
                          fieldSize="tiny"
                          formControlName="name"
                          fullWidth
                          nbInput
                          placeholder="{{ isLoading ? 'Still Loading' : 'Filter by Name' }}"
                          type="text"
                        />
                      </div>
                    </form>

                    <div class="registration-status-filter">
                      <div (click)="registrationStatusFilter(0)">
                        <p [ngClass]="{ 'text-primary': 0 === registrationStatusId }">All</p>
                      </div>
                      <div (click)="registrationStatusFilter(rs.id)" *ngFor="let rs of registrationStatuses">
                        <p [ngClass]="{ 'text-primary': rs.id === registrationStatusId }">{{ rs.name }}</p>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template let-expanded="expanded" let-row="row" ngx-datatable-cell-template>
                  <div class="row-header user-details">
                    <app-user-details
                      (updateEntryPass)="updateEntryPass($event, row.id)"
                      (updatedRegistrationStatus)="updateRegistrationStatus($event, row.id)"
                      [community]="community"
                      [event]="event"
                      [registrationStatuses]="registrationStatuses"
                      [userResponse]="row"
                    >
                    </app-user-details>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<ng-template #confirmStatusChange let-data>
  <p>This will change the status of all {{ totalEntries }} entries and <strong>cannot be undone</strong>.</p>
  <p>
    <nb-checkbox [(ngModel)]="bulkStatusChangeForCanceled">Change status of 'Canceled' responses also</nb-checkbox>
  </p>
  <div>
    <button (click)="bulkStatusChange(data.registration_status.id)" ghost nbButton size="medium" status="success">
      Yes
    </button>
    <button (click)="windowRef.close()" ghost nbButton size="medium" status="danger">No</button>
  </div>
</ng-template>
