:host {
  div.data-form-container {
    max-width: 920px;
    margin: 0 auto;

    .card-body {
      @apply com-px-4 com-py-5;

      input {
        @apply com-mt-2 com-mb-0;
        background-color: white;
      }

      .description {
        @apply com-mt-4;
        label {
          @apply com-mt-4;
          textarea {
            @apply com-mt-2 com-mb-0;
            background-color: white;
          }
        }
      }
    }

    label {
      @apply com-text-base com-font-medium com-text-Charcoal;
    }

    .data-form-question-choices-container {
      margin-bottom: 0;

      .add-question-button {
        @apply com-mt-2 com-mb-12 com-mx-2;
      }
    }

    .cdk-drag-placeholder {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      @apply com-min-h-[120px] com-border-0 com-rounded-xl com-bg-slate-200 com-min-w-full;
    }
    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .question-container {
      @apply com-flex com-flex-col com-font-semibold com-text-xl com-justify-start;

      label {
        @apply com-text-xl com-font-semibold;
      }

      input {
        @apply com-mt-4 com-mb-0;
        background-color: white;
      }

      textarea {
        @apply com-mt-1 com-mb-0;
        background-color: white;
      }

      .add-description-button {
        @apply com-mt-3 com-mb-0 com-p-0 com-text-sm com-justify-start;
        width: max-content;

        nb-icon {
          @apply com-mr-1;
        }
      }

      .description-textbox {
        @apply com-m-0;
      }

      .question-settings {
        @apply com-flex com-flex-col com-font-semibold com-text-xl com-justify-start com-flex-wrap;

        nb-select {
        }

        label {
          @apply com-flex com-flex-col com-font-semibold com-text-xl com-mb-4;
          margin-right: 1.5rem;
        }
      }

      .choices-container {
        @apply com-flex com-flex-col com-font-semibold com-text-xl com-justify-start;

        .choice-container {
          nb-icon {
            @apply com-text-base;
          }
        }
      }
    }
  }
  .questions-form-section {
    .drag-button {
      @apply com-p-0 com-flex com-justify-center;

      button {
        @apply com-cursor-move;
      }
    }
    .question-form-footer {
      @apply com-flex com-space-x-2 com-items-center com-mt-12 com-align-middle md:com-flex-row sm:com-flex-col com-justify-between;

      .add-question-footer {
        @apply com-text-sm com-font-medium;

        nb-icon {
          @apply com-h-5 com-w-5;
        }
      }

      .toggle {
        @apply md:com-border-l com-border-Bright-Gray com-border-solid com-pl-3 com-border-y-0 com-border-r-0 com-text-primary-500
        com-text-sm com-font-medium com-border-0;
        span {
          @apply com-text-primary-500;
        }
      }

      .delete-question-footer {
        @apply com-text-sm com-font-medium;

        nb-icon {
          @apply com-h-5 com-w-5;
        }
      }

      nb-layout-column {
        @apply md:com-hidden;

        .layout-div {
          @apply com-flex com-justify-end;

          .context-button {
            @apply com-flex com-justify-between;
          }
        }
      }

      @media (max-width: 767px) {
        .toggle {
          display: block;
        }

        .footer-icons-desktop {
          display: none;
        }

        nb-layout-column {
          display: block;
        }
      }

      @media (min-width: 992px) {
        nb-layout-column {
          display: none;
        }
      }
    }
  }
}
