<div class="data-form-container">
  <form class="create-data-form" [formGroup]="createDataForm">
    <div formGroupName="data_form">
      <nb-card *ngIf="showNameField">
        <nb-card-body class="card-body">
          <div role="group">
            <label fullWidth>
              Name*
              <input type="text" nbInput fullWidth formControlName="name" placeholder="Title" class="com-mb-6" />
            </label>
            <!-- <span
            *ngIf="
              question.get('title').touched &&
              question.get('title').invalid &&
              question.get('title').errors.required
            "
          >
            <commudle-alert [validation_error]="true"></commudle-alert>
          </span> -->
          </div>

          <div role="group">
            <div class="com-mt-4">
              <label fullWidth>
                Description
                <textarea
                  formControlName="description"
                  nbInput
                  fullWidth
                  formControlName="description"
                  placeholder="(Optional)"
                ></textarea>
              </label>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <div (cdkDropListDropped)="drop($event)" cdkDropList class="data-form-question-choices-container">
        <div
          *ngFor="let question of createDataForm['controls'].data_form['controls'].questions['controls']; let i = index"
          cdkDrag
        >
          <div class="custom-placeholder" *cdkDragPlaceholder></div>
          <div formArrayName="questions" class="custom-preview" *cdkDragPreview>
            <nb-card [formGroupName]="i" class="questions-form-section com-w-80 md:com-w-500px">
              <nb-card-header class="com-p-0 com-flex com-justify-center">
                <button nbButton ghost size="small">
                  <nb-icon icon="move-outline"></nb-icon>
                </button>
              </nb-card-header>
              <nb-card-body>
                <div class="custom-question-container">
                  <label>
                    Question {{ i + 1 }} *
                    <input type="text" nbInput fullWidth formControlName="title" placeholder="Title*" required />
                  </label>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
          <div formArrayName="questions">
            <nb-card [formGroupName]="i" class="questions-form-section">
              <nb-card-header cdkDragHandle class="drag-button">
                <button nbButton ghost size="small">
                  <nb-icon icon="move-outline"></nb-icon>
                </button>
              </nb-card-header>
              <nb-card-body>
                <div>
                  <div>
                    <div class="question-container">
                      <label>
                        Question {{ i + 1 }} *
                        <input type="text" nbInput fullWidth formControlName="title" placeholder="Title" required />
                      </label>
                      <span
                        *ngIf="
                          question.get('title').touched &&
                          question.get('title').invalid &&
                          question.get('title').errors.required
                        "
                      >
                        <commudle-alert [validation_error]="true"></commudle-alert>
                      </span>
                      <button
                        nbButton
                        size="small"
                        ghost
                        (click)="toggleDescriptionField()"
                        status="primary"
                        class="add-description-button"
                      >
                        <nb-icon [icon]="showQuestionDescriptionField ? 'close-outline' : 'plus-outline'"></nb-icon>
                        {{ showQuestionDescriptionField ? 'Remove Description' : 'Add Description' }}
                      </button>

                      <div *ngIf="showQuestionDescriptionField" class="com-m-0">
                        <textarea
                          nbInput
                          fullWidth
                          formControlName="description"
                          placeholder="Description (Optional)"
                        ></textarea>
                      </div>
                    </div>

                    <div class="question-settings">
                      <nb-form-field>
                        <nb-icon nbPrefix icon="question-mark-circle-outline"></nb-icon>
                        <nb-select
                          (selectedChange)="questionTypeChange($event, i)"
                          placeholder="Question Type *"
                          formControlName="question_type_id"
                          required
                          status="basic"
                          size="medium"
                          hero
                          class="com-mt-5 com-mb-3"
                        >
                          <nb-option *ngFor="let qt of questionTypes" [value]="qt.id">
                            {{ qt.name | capitalizeAndRemoveUnderscore }}
                          </nb-option>
                        </nb-select>
                      </nb-form-field>
                    </div>

                    <div *ngIf="[4, 5].includes(question.get('question_type_id').value)">
                      <div
                        class="choices-container"
                        formArrayName="question_choices"
                        *ngFor="let choice of question['controls'].question_choices['controls']; let chi = index"
                      >
                        <div class="choice-container com-flex">
                          <div [formGroupName]="chi" class="com-mb-2">
                            <input
                              type="text"
                              nbInput
                              formControlName="title"
                              placeholder="Choice {{ chi + 1 }}"
                              required
                            />
                            <span
                              *ngIf="
                                choice.get('title').touched &&
                                choice.get('title').invalid &&
                                choice.get('title').errors.required
                              "
                            >
                              <commudle-alert [validation_error]="true"></commudle-alert>
                            </span>
                          </div>

                          <div class="com-mt-2 com-ml-2">
                            <nb-icon
                              icon="close-circle-outline"
                              (click)="removeQuestionChoiceButtonClick(i, chi)"
                            ></nb-icon>
                          </div>
                        </div>
                      </div>
                      <button
                        nbButton
                        size="tiny"
                        (click)="addQuestionChoiceButtonClick(i)"
                        status="warning"
                        hero
                        class="com-mt-2"
                      >
                        <nb-icon icon="plus-outline"></nb-icon>
                        &nbsp; Add Choice
                      </button>
                    </div>
                  </div>
                </div>
                <div class="question-form-footer">
                  <div class="com-align-middle com-flex">
                    <button
                      nbButton
                      size="small"
                      ghost
                      (click)="addQuestionButtonClick(i + 1)"
                      status="primary"
                      class="footer-icons-desktop add-question-footer"
                    >
                      <nb-icon class="footer-icons-desktop" icon="plus-circle-outline" status="primary"></nb-icon>
                      &nbsp; Add Question Below
                    </button>
                    <nb-toggle size="tiny" labelPosition="right" class="toggle"><span>Required</span></nb-toggle>
                  </div>
                  <button
                    nbButton
                    size="small"
                    ghost
                    (click)="removeQuestionButtonClick(i)"
                    status="danger"
                    class="footer-icons-desktop delete-question-footer"
                  >
                    <nb-icon icon="trash-outline" status="danger"></nb-icon>
                    Delete
                  </button>
                  <nb-layout-column>
                    <button
                      nbButton
                      [nbContextMenu]="items"
                      nbContextMenuTrigger="click"
                      class="com-flex com-justify-between"
                    >
                      <nb-icon icon="more-vertical-outline"></nb-icon>
                    </button>
                  </nb-layout-column>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
        <!-- [formGroup]="createDataForm" -->
        <div *ngIf="!maxQuestionCount || maxQuestionCount > totalQuestions" class="add-question-button">
          <button nbButton size="medium" (click)="addQuestionButtonClick(totalQuestions + 1)" status="primary">
            <nb-icon icon="plus-outline"></nb-icon>
            &nbsp; Add Question
          </button>
        </div>
      </div>

      <div>
        <button
          [disabled]="!createDataForm.valid"
          type="submit"
          status="primary"
          nbButton
          fullWidth
          size="medium"
          (click)="saveDataForm()"
        >
          {{ submitButtonText() }}
        </button>
      </div>
    </div>
  </form>
</div>
