:host {
  div.data-form-container {
    max-width: 920px;
    margin: 0 auto;

    .card-body {
      @apply com-px-4 com-py-5;

      input,
      textarea {
        @apply com-mt-2 com-mb-0;
        background-color: white;
      }
    }

    .validation-error-text {
      @apply com-text-sm com-my-2 com-flex com-items-center com-font-normal;
      color: red; /* red */

      .info {
        @apply com-text-sm com-mr-1;
      }
    }
    label {
      @apply com-text-base com-font-medium com-text-Charcoal;
    }

    .data-form-question-choices-container {
      margin-bottom: 0;

      // .custom-question-container {
      //   label {
      //     @apply com-text-xl com-font-semibold;
      //   }
      // }

      .add-question-button {
        @apply com-m-2;
      }
    }

    .cdk-drag-placeholder {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      @apply com-min-h-[120px] com-border-0 com-rounded-xl com-bg-slate-200 com-min-w-full;
    }
    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .question-container {
      @apply com-flex com-flex-col com-font-semibold com-text-xl com-justify-start;

      label {
        @apply com-text-xl com-font-semibold;
      }

      input {
        @apply com-mt-5 com-mb-0;
        background-color: white;
      }

      textarea {
        @apply com-mt-1 com-mb-0;
        background-color: white;
      }

      .add-description-button {
        @apply com-mt-3 com-mb-0 com-p-0 com-text-sm com-justify-start;

        nb-icon {
          @apply com-mr-1;
        }
      }

      .question-settings {
        @apply com-flex com-flex-col com-font-semibold com-text-xl com-justify-start com-flex-wrap;

        nb-select {
          background-color: white;
        }

        label {
          @apply com-flex com-flex-col com-font-semibold com-text-xl com-mb-4;
          margin-right: 1.5rem;
        }
      }

      .choices-container {
        @apply com-flex com-flex-col com-font-semibold com-text-xl com-justify-start;

        .choice-container {
          @apply com-flex;

          nb-icon {
            @apply com-text-base com-mr-2;
          }
        }
      }
    }
  }
  .questions-form-section {
    .drag-button {
      @apply com-p-0 com-flex com-justify-center;

      button {
        @apply com-cursor-move;
      }
    }
    .question-form-footer {
      @apply com-flex com-space-x-2 com-items-center;

      nb-toggle {
        @apply com-mt-2;
      }

      @media (max-width: 767px) {
        .toggle {
          display: block;
        }

        .footer-icons-desktop {
          display: none;
        }

        nb-layout-column {
          display: block;
        }
      }

      @media (min-width: 992px) {
        nb-layout-column {
          display: none;
        }
      }
    }
  }
}
