.form-description {
  p {
    white-space: pre-wrap;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: grey;
  }
}
.question {
  margin-bottom: 1.5rem;
  .description {
    white-space: pre-wrap;
  }
  .answer {
    padding: 0 0.5rem;

    .checkboxes {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
  .detail {
    display: flex;

    p {
      margin-bottom: 0.5rem;
      .title {
        font-weight: 200;
        font-size: 1.5rem;
      }
    }

    nb-icon {
      font-size: 0.8rem;
    }

    .required-question {
      color: red;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    nb-option: {
      margin-right: 1rem;
    }
  }
}

nb-alert {
  padding: 0 5px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.submit-button {
  margin-top: 1rem;
}
