.form-description {
  p {
    white-space: pre-wrap;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: grey;
  }
}
.question {
  margin-bottom: 1.5rem;
  .description {
    white-space: pre-wrap;
  }
  .answer {
    padding: 0;

    .checkboxes {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
  .detail {
    display: flex;

    .index {
      @apply com-mt-0 com-mb-2 com-text-base com-font-medium com-text-Yankees-Blue com-pr-1;
    }

    p {
      @apply com-mt-0 com-mb-2;
      .title {
        @apply com-text-base com-font-medium com-text-Yankees-Blue;
      }
    }
    .required-question {
      color: red;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    nb-option: {
      margin-right: 1rem;
    }
  }
}

// nb-alert {
//   padding: 0 5px;
//   font-weight: 300;
//   margin-bottom: 1rem;
// }

.submit-button {
  margin-top: 1rem;
}
