<div class="sidebar">
  <nb-list class="sidebar-common-menu">
    <nb-list-item>
      <a [routerLink]="['/']">
        <nb-icon icon="home-outline"></nb-icon>
        Home
      </a>
    </nb-list-item>

    <nb-list-item>
      <a [routerLink]="['/builds/my-builds']">
        <nb-icon icon="bulb-outline"></nb-icon>
        My Builds
      </a>
    </nb-list-item>

    <nb-list-item>
      <a [routerLink]="['/labs/my-labs']">
        <fa-icon [icon]="faFlask"></fa-icon>
        &nbsp; My Labs
      </a>
    </nb-list-item>

    <nb-list-item *ngIf="currentUser">
      <a [routerLink]="['/users', currentUser.username]" class="profile-edit-link">
        <nb-user name="My Profile" picture="{{ currentUser.avatar }}" size="tiny"></nb-user>
        <span *ngIf="!currentUser.profile_completed" class="incomplete-badge">
          <app-badge [color]="'red'" [fontSize]="'small'" [text]="'Incomplete'"></app-badge>
        </span>
      </a>
    </nb-list-item>

    <nb-list-item *ngIf="currentUser && currentUser.user_roles.includes(EUserRoles.NEWSLETTER)">
      <a [routerLink]="['/admin/newsletters']"> Newsletters </a>
    </nb-list-item>
  </nb-list>

  <div *ngIf="managedCommunities.length > 0 || managedCommunityGroups.length > 0">
    <nb-accordion class="sidebar-common-menu">
      <nb-accordion-item [expanded]="true">
        <nb-accordion-item-header>Organizer Menu</nb-accordion-item-header>

        <nb-accordion-item-body *ngFor="let cGroup of managedCommunityGroups">
          <a [routerLink]="['/admin', 'orgs', cGroup.slug]">
            <nb-user name="{{ cGroup.name }}" picture="{{ cGroup.logo.url }}" size="tiny"></nb-user>
            <span class="org-badge">
              <app-badge
                [color]="'#001FFF'"
                [fontSize]="'small'"
                [position]="'center right'"
                [text]="'Organization'"
              ></app-badge>
            </span>
          </a>
        </nb-accordion-item-body>

        <nb-accordion-item-body *ngFor="let community of managedCommunities">
          <a [routerLink]="['/admin', 'communities', community.slug]">
            <nb-user name="{{ community.name }}" picture="{{ community.logo_path }}" size="tiny"></nb-user>
          </a>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div *ngIf="isSystemAdmin">
    <nb-accordion class="sidebar-common-menu">
      <nb-accordion-item [expanded]="true">
        <nb-accordion-item-header>System Admin</nb-accordion-item-header>
        <nb-accordion-item-body>
          <a [routerLink]="['/sys-admin']"> Admin Home </a>
        </nb-accordion-item-body>
        <nb-accordion-item-body>
          <a [routerLink]="['/sys-admin', 'admin-surveys']"> Admin Surveys </a>
        </nb-accordion-item-body>
        <nb-accordion-item-body>
          <a [routerLink]="['/sys-admin', 'community-builds']"> Community Builds </a>
        </nb-accordion-item-body>
        <nb-accordion-item-body>
          <a [routerLink]="['/sys-admin', 'labs']"> Labs </a>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div *ngIf="isPageAdsAdmin || isFeaturedCommunitiesAdmin">
    <nb-accordion class="sidebar-common-menu">
      <nb-accordion-item [expanded]="true">
        <nb-accordion-item-header>Common Menu</nb-accordion-item-header>
        <nb-accordion-item-body *ngIf="isFeaturedCommunitiesAdmin">
          <a [routerLink]="['/sys-admin', 'featured-communities']">Featured Communities</a>
        </nb-accordion-item-body>
        <nb-accordion-item-body *ngIf="isPageAdsAdmin">
          <a [routerLink]="['/sys-admin', 'pa']">Page Ads</a>
        </nb-accordion-item-body>
        <nb-accordion-item-body *ngIf="isBadgesAdmin">
          <a [routerLink]="['/sys-admin', 'badges']">Badges</a>
        </nb-accordion-item-body>
        <nb-accordion-item-body>
          <a [routerLink]="['/newsletter-list']">Newsletters</a>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <!-- <div>Common Menu []</div>
  <div>User Menu
    [
      Home
      Profile (Public Page, Edit Page)
      List of upcoming events the user has applied to,
      CodeLabs(New!)
    ]
  </div>
  <div>Community Menu [List of Communities as an organizer]</div>
  <div>SysAdmin Menu [Create a community, Stats, List of all communities]</div> -->
</div>
