.sidebar-common-menu {
  a {
    text-decoration: none;
    color: grey;
  }
}


.router-link-active {
  color: #3366ff !important;
}

nb-user {
  ::ng-deep {
    .user-picture.image {
      background-size: contain !important;
      background-position: center;
    }
  }
}


nb-accordion {
  box-shadow: none;
}


