.sidebar-common-menu {
  a {
    text-decoration: none;
    color: grey;
  }
}


.router-link-active {
  color: #3366ff !important;
}

a.profile-edit-link {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  nb-user {
    ::ng-deep {
      .user-picture.image {
        background-size: contain !important;
        background-position: center;
      }
      .user-name {
        font-size: 0.9735rem !important;
        color: grey;
      }
    }
  }

  .incomplete-badge {
    margin-left: 0.5rem;
  }

}




nb-accordion {
  box-shadow: none;
}


