<div>
  <nb-list class="sidebar-common-menu">
    <nb-list-item>
      <a [routerLink]="['/']" (click)="closeSidebar()" >
        <nb-icon icon="home-outline"></nb-icon>
        Home
      </a>
    </nb-list-item>

    <nb-list-item *ngIf="currentUser && currentUser.has_community_builds">
      <a [routerLink]="['/builds/my-builds']">
        <nb-icon icon="bulb-outline"></nb-icon>
        My Builds
      </a>
    </nb-list-item>

    <nb-list-item *ngIf="currentUser && currentUser.has_labs">
      <a [routerLink]="['/labs/my-labs']">
        <fa-icon [icon]="faFlask"></fa-icon>
        &nbsp;
        My Labs
      </a>
    </nb-list-item>

    <nb-list-item *ngIf="currentUser">
      <a class="profile-edit-link" [routerLink]="['/my-profile/edit']" >
        <nb-user
          size="tiny"
          name="My Profile"
          picture="{{ currentUser.avatar }}"
        >
        </nb-user>
        <span class="incomplete-badge" *ngIf="!currentUser.profile_completed">
          <app-badge [text]="'Incomplete'" [color]="'red'" [fontSize]="'small'"></app-badge>
        </span>
      </a>
    </nb-list-item>

  </nb-list>

  <div *ngIf="managedCommunities.length > 0">
    <nb-accordion class="sidebar-common-menu">
      <nb-accordion-item [expanded]="true">
        <nb-accordion-item-header>Organizer Menu</nb-accordion-item-header>
        <nb-accordion-item-body *ngFor="let community of managedCommunities">

          <a [routerLink]="['/admin', 'communities', community.slug]" (click)="closeSidebar()">
            <nb-user size="tiny"
                name="{{community.name}}"
                picture="{{ community.logo_path }}">
            </nb-user>
          </a>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div *ngIf="isSystemAdmin">
    <nb-accordion class="sidebar-common-menu">
      <nb-accordion-item [expanded]="true">
        <nb-accordion-item-header>System Admin</nb-accordion-item-header>
        <nb-accordion-item-body>
          <a [routerLink]="['/sys-admin', 'admin-surveys']">
            Admin Surveys
          </a>
        </nb-accordion-item-body>
        <nb-accordion-item-body>
          <a [routerLink]="['/sys-admin', 'community-builds']">
            Community Builds
          </a>
        </nb-accordion-item-body>
        <nb-accordion-item-body>
          <a [routerLink]="['/sys-admin', 'labs']">
            Labs
          </a>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>



  <!-- <div>Common Menu []</div>
  <div>User Menu
    [
      Home
      Profile (Public Page, Edit Page)
      List of upcoming events the user has applied to,
      CodeLabs(New!)
    ]
  </div>
  <div>Community Menu [List of Communities as an organizer]</div>
  <div>SysAdmin Menu [Create a community, Stats, List of all communities]</div> -->
</div>
