.event {
  height: 350px;
  width: 320px;

  a {
    text-decoration: none;
  }

  nb-card {
    height: 100%;
    margin-bottom: 0;
    nb-card-header {
      height: 50%;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center space-between;
      align-items: center;

      .filler {
        height: 100%;
        .event-details {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .event-head-image {
        width: 100%;
        max-height: 100%;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .timings {
        p {
          margin-bottom: 0;
        }
      }
    }

    nb-card-body {
      padding-top: 0.5rem;
      display: flex;
      flex-direction: column;
      .users {
        display: flex;
        flex-wrap: wrap;

        .user {
          display: flex;
          flex-direction: column;
          align-items: center;
          .profile-picture {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            overflow: hidden;
            img {
              vertical-align: text-top;
              width: 100%;
            }
          }
          margin: 0.1rem;
        }
        p {
          margin: 5px 0 0;
        }
      }
    }
  }
}
