<div class="event">
  <a *ngIf="community" [routerLink]="['/communities', community.slug, 'events', event.slug]">
    <nb-card>
      <nb-card-header>
        <div class="filler">
          <div class="event-details">
            <h2 class="name">
              {{ event.name | slice:0:23 }} <span *ngIf="event.name.length > 18">...</span>
            </h2>
          </div>
        </div>

        <div class="event-head-image" *ngIf="event.header_image_path">
          <img src="{{ event.header_image_path }}" alt="{{ event.name }}">
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="event.start_time && event.end_time" class="timings">
          <p>
            <strong>
              {{ moment(event.start_time).format('dddd Do MMM, YYYY') }}
            </strong>
            <span *ngIf="event.timezone">
              <!-- <nb-icon icon="globe"></nb-icon> -->
              <i class="fa fa-globe" aria-hidden="true"></i>
              {{ momentTimezone.tz(event.timezone).format('z') }}
            </span>
          </p>
        </div>
        <div *ngIf="community" class="community">
          <app-community-badge [community]="community"></app-community-badge>
          <p *ngIf="users.length === 0" class="community-description">
            {{ community.mini_description | slice:0:50 }}
          </p>
        </div>
        <div class="users" *ngIf="users.length > 0">
          <div class="user" *ngFor="let user of displayUsers;" nbTooltip="{{ user.name }}">
            <div class="profile-picture">
              <img src="{{ user.avatar }}" alt="{{ user.name }}">
            </div>
          </div>
          <p>
            <span *ngIf="totalCount - displayUsers.length > 0">... + {{ totalCount - displayUsers.length }} More</span>
          </p>
        </div>
        <p *ngIf="event.start_time && moment(event.start_time) > moment()" class="register-button">
          <a class="padding-0" nbButton ghost status="basic">Register</a>
        </p>
      </nb-card-body>
    </nb-card>
  </a>
</div>
