<div class="speaker-forms">
  <div *ngIf="skeletonLoaderCard" class="skeleton-vertical-cards">
    <commudle-skeleton-vertical-cards [cards]="9"></commudle-skeleton-vertical-cards>
  </div>
  <div *ngIf="loading" class="loading-spinner">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="speakerForms.length > 0 && !loading">
    <div class="speakers">
      <div class="cfp-cards">
        <div *ngFor="let speakerForm of speakerForms" class="cfp-card">
          <commudle-call-for-speaker-card [item]="speakerForm"></commudle-call-for-speaker-card>
        </div>
      </div>
    </div>
    <app-pagination
      (goTo)="page = $event; getSpeakersFormsList()"
      (next)="page = $event; getSpeakersFormsList()"
      (previous)="page = $event; getSpeakersFormsList()"
      *ngIf="total > 0"
      [count]="count"
      [current]="page"
      [total]="total"
    ></app-pagination>
  </div>
</div>
<div *appBreakpoints="'<=lg'">
  <div class="speakers-upcoming">
    <commudle-public-home-list-speakers-upcoming></commudle-public-home-list-speakers-upcoming>
  </div>
  <div class="featured-communities">
    <commudle-public-home-list-events-featured-communities></commudle-public-home-list-events-featured-communities>
  </div>
  <div class="tech-sessions">
    <commudle-public-home-list-events-tech-sessions></commudle-public-home-list-events-tech-sessions>
  </div>
  <div class="speakers-content">
    <commudle-public-home-list-speakers-content
      [parentType]="'communities'"
    ></commudle-public-home-list-speakers-content>
  </div>
</div>
