@import './apps/commudle-admin/src/assets/styles/variables';

.home-builds-container {
  padding: $space-16;

  .home-builds-header {
    border-bottom: none;
    color: $gunmetal;
    font-size: $fs-h2;
    font-weight: $fw-600;
    padding: $space-16 0 $space-12;

    .home-builds-sub-header {
      color: $spanish-gray;
      font-size: $fs-card-list-title;
      line-height: normal;
      margin: $space-4 0 0;
    }
  }

  .home-builds-body {
    padding: 0;

    .home-builds-list {
      nb-list-item {
        flex-direction: column;
        padding: $space-12 0;

        commudle-skeleton-text,
        commudle-home-builds-card {
          width: 100%;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .home-builds-all {
      color: rgba($neon-blue, 0.95);
      display: block;
      font-size: $fs-h5;
      padding: $space-12 0 $space-8;
    }
  }
}
