p {
  margin: 0;
}

nb-card {
  position: relative;

  nb-card-header {
    @apply com-text-lg com-font-medium;
  }

  .grid {
    @apply com-grid com-grid-cols-1 sm:com-grid-cols-2 lg:com-grid-cols-3 com-gap-5;
  }
}

.view-more {
  @apply com-max-h-[210px] com-overflow-y-hidden;
}

.view-less {
  @apply com-max-h-max;
}
