div {
  width: 200px;
  max-height: 300px;
  overflow-y: scroll;
}

.load-more-button {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.users-list {
  @apply com-h-[90dvh] md:com-h-[70dvh];
  nb-card-header {
    @apply com-flex com-items-center com-justify-between;
  }
  nb-card-body {
    .users {
      @apply com-border-0 com-border-b com-border-solid com-border-Bright-Gray com-py-3;
    }
  }
}
