<div class="embedded-video-stream" *ngIf="!event.custom_agenda">
  <div class="embedded-video-stream-form">
    <form *ngIf="event.editable"  [formGroup]="embeddedVideoStreamForm" (ngSubmit)="createOrUpdate()">
        <div>
          <nb-select placeholder="Source*" fullWidth formControlName="source" status="primary" size="small" (selectedChange)="updateValidators()">
            <nb-option [value]="EEmbeddedVideoStreamSources.COMMUDLE">
              Commudle Stage (powered by 100ms.live)
            </nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.ZOOM">
              Zoom
            </nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.EXTERNAL_LINK">
              External Link (to platforms like Google Meet)
            </nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.YOUTUBE">
              YouTube (URL)
            </nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.JITSI_MEET">
              Jitsi (https://meet.jit.si/) [Works only on Desktop]
            </nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.OTHER">
              IFrame (Embedded Iframe)
            </nb-option>
          </nb-select>
        </div>

        <div>
          <label>
            <span *ngIf="embeddedVideoStreamForm.get('source').value == EEmbeddedVideoStreamSources.ZOOM">
              Zoom Meeting ID
            </span>
            <span *ngIf="embeddedVideoStreamForm.get('source').value == EEmbeddedVideoStreamSources.YOUTUBE">
              Video Url
            </span>
            <span *ngIf="embeddedVideoStreamForm.get('source').value == EEmbeddedVideoStreamSources.JITSI_MEET">
              Jitsi Meeting ID (people will be required to log in to join)
            </span>

            <span *ngIf="embeddedVideoStreamForm.get('source').value == EEmbeddedVideoStreamSources.EXTERNAL_LINK">
              Paste link here
            </span>

            <span *ngIf="embeddedVideoStreamForm.get('source').value == EEmbeddedVideoStreamSources.OTHER">
              Other (Embedded Iframe)
            </span>
            <span *ngIf="embeddedVideoStreamForm['controls'].embed_code.touched && embeddedVideoStreamForm['controls'].embed_code.invalid && embeddedVideoStreamForm['controls'].embed_code.errors.required" class="validation-error-text">
              Required Field
            </span>
            <textarea placeholder="Type here" nbInput fullWidth formControlName="embed_code" [ngClass]="{'hidden': embeddedVideoStreamForm.get('source').value == EEmbeddedVideoStreamSources.COMMUDLE}"></textarea>
          </label>

        </div>
        <div *ngIf="embeddedVideoStreamForm.get('source').value == EEmbeddedVideoStreamSources.ZOOM">
          <label>
            Meeting/Webinar Host Email <span *ngIf="embeddedVideoStreamForm['controls'].zoom_host_email.touched && embeddedVideoStreamForm['controls'].zoom_host_email.invalid && embeddedVideoStreamForm['controls'].zoom_host_email.errors.required" class="validation-error-text">
              Required Field
            </span>
            <input nbInput fullWidth formControlName="zoom_host_email" placeholder="Type email id here">
          </label>
        </div>
        <div *ngIf="embeddedVideoStreamForm.get('source').value == EEmbeddedVideoStreamSources.ZOOM">
          <label>
            Meeting/Webinar Password (visible only to organizers) <span *ngIf="embeddedVideoStreamForm['controls'].zoom_password.touched && embeddedVideoStreamForm['controls'].zoom_password.invalid && embeddedVideoStreamForm['controls'].zoom_password.errors.required" class="validation-error-text">
              Required Field
            </span>
            <input nbInput fullWidth formControlName="zoom_password" placeholder="Type password here">
          </label>
        </div>

      <div class="save-button-bottom">
        <button [disabled]="!embeddedVideoStreamForm.valid" type="submit" nbButton fullWidth status="info">
          Save
        </button>
      </div>

    </form>
  </div>
  <div class="preview">
    <app-video-stream
      *ngIf="evs && currentUser"
      [videoSource]="embeddedVideoStreamForm.get('source').value"
      [videoCode]="embeddedVideoStreamForm.get('embed_code').value"
      [fillerText]="'Auto Preview'"
      [zoomHostEmail]="evs.zoom_host_email"
      [zoomPassword]="evs.zoom_password"
      [zoomSignature]="evs.zoom_attendee_signature"
      [zoomHostSignature]="evs.zoom_host_signature"
      [hmsRoomId]="evs.hms_room_id"
      [userEmail]="currentUser.email"
      [userName]="currentUser.name"
      >
    </app-video-stream>
  </div>


</div>
