.embedded-video-stream {
  display: flex;
  flex-direction: column;

  .embedded-video-stream-form {
    order: 2;

    form {
      > div {
        margin-bottom: 1rem;
      }
    }
  }

  .preview {
    height: 550px;
    order: 1;
    overflow: auto;
  }

  nb-option.selected {
    background-color: red !important;

    p {
      color: white !important;
    }
  }
}
