<ng-container *ngIf="user">
  <commudle-user-basic-social [user]="user"></commudle-user-basic-social>
  <commudle-user-badges [user]="user"></commudle-user-badges>
  <commudle-user-contributions [user]="user"></commudle-user-contributions>
  <commudle-user-resume [user]="user"></commudle-user-resume>
  <commudle-user-work-history [user]="user"></commudle-user-work-history>
  <commudle-user-social [user]="user"></commudle-user-social>
  <commudle-user-feed [user]="user"></commudle-user-feed>
</ng-container>
