.event-data-form-groups-list {
  nb-list-item {
    @apply com-px-0 com-py-4 com-self-center com-border-b-0 com-w-full;

    .edfeg-details {
      background: #f4f7ff;
      display: flex;
      flex-direction: column;
      width: 100%;
      @media screen and (min-width: 640px) {
        flex-direction: row;
        justify-content: space-between;
      }

      > div {
        margin: 0.25rem;
      }

      .display-details {
        display: flex;
        .copy-link {
          padding: 0.25rem;
        }

        .basic-details {
          padding: 0.25rem;
          // width: 10rem;
          p {
            margin: 0 0.5rem;
            font-size: 1.2rem;
          }

          overflow: hidden;
        }

        @media screen and (min-width: 1000px) {
          width: 50%;
        }
      }

      .stats {
        display: flex;

        @media screen and (min-width: 640px) {
          width: 10rem;
          max-width: 50%;
          padding: 0.25rem;
          flex-direction: column;
        }

        p {
          font-size: 2rem;
          margin: 0.5rem 0;
        }
      }

      .actions {
        padding: 0.25rem;
        div {
          margin: 0.5rem 0;
        }
      }
    }
  }
}

.create-form {
  @apply com-flex md:com-flex-row com-flex-col-reverse md:com-justify-between md:com-items-center;
  .text {
    .attach-form-text {
      @apply com-m-0 com-mb-2px com-text-sm com-font-semibold;
    }
    .sub-text {
      @apply com-m-0 com-mb-4 com-text-xs com-font-normal;
    }
  }
  .create-form-button {
    .create-button {
      @apply com-mt-2 com-mb-8 md:com-m-0 com-mx-0;
    }
    .view-form-button {
      @apply com-cursor-pointer com-ml-2;
    }
  }
}
.dfeg-create-form {
  > div {
    @apply com-flex com-flex-col com-items-start;
    > div {
      margin: 0.5rem;
    }
    .name {
      @apply com-m-0 com-mb-4 md:com-mb-0 com-w-full md:com-w-[27%];
      input {
        @apply com-m-0 com-mt-1;
      }
    }

    .data-form-select,
    .data-form-type-select {
      @apply com-mx-0 com-flex  com-items-end com-mb-4 md:com-my-0 com-w-full md:com-w-[27%];

      label {
        @apply com-w-full;
      }
      nb-select {
        @apply com-m-0 com-mt-1 com-w-full;
      }
      nb-icon {
        @apply com-cursor-pointer com-mb-2 com-ml-2;
      }
    }
  }

  .save-button-bottom {
    @apply md:com-mt-6 com-m-0 com-mt-4;
  }

  @media screen and (min-width: 640px) {
    > div {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      > div {
        margin: 0 0.25rem;
        width: 27%;

        label {
          width: 100%;

          nb-select,
          input {
            width: 100%;
          }
        }
      }
    }
  }
}

.new-data-form-template {
  @apply md:com-w-[900px] md:com-h-[635px] com-overflow-y-auto com-w-full com-h-auto com-scrollbar-hide;
}
