.event-data-form-groups-list > nb-card {
  @apply com-mx-0;
  .edfeg-details {
    @apply com-flex com-flex-col md:com-flex-row com-justify-between com-gap-2 md:com-gap-0;
    .form-details {
      @apply com-w-60;
      p {
        @apply com-my-0;
      }
      .name {
        @apply com-text-xl com-font-medium;
      }
      .type {
        @apply com-text-base;
      }
      a {
        @apply com-no-underline com-text-xs com-text-black;
      }
    }

    .edfeg-status-dropdown {
      @apply com-w-28  com-flex com-items-center com-gap-1 com-h-8 com-p-1 com-text-sm com-rounded-md com-font-semibold com-cursor-pointer com-bg-[#EDF1F7] hover:com-bg-[#eef2f7]/50  com-border-0 com-mb-4;
      select {
        @apply com-bg-[#EDF1F7] hover:com-bg-[#eef2f7]/50 com-cursor-pointer com-w-24;
      }
    }

    .send-email {
      @apply com-mb-4;
      button {
        @apply com-bg-[#EDF1F7] com-border-0 com-rounded-md com-py-2 com-px-4;
      }
    }
    .link-to-fill {
      a {
        @apply com-bg-[#EDF1F7] com-border-0 com-rounded-md com-py-2 com-px-4 com-text-black com-flex com-items-center com-no-underline;
      }
    }
    .show-response {
      a {
        @apply com-bg-[#EDF1F7] com-border-0 com-rounded-md com-py-2 com-px-4 com-text-black com-flex com-items-center com-no-underline;
      }
    }
    .response-stat {
      @apply com-mt-4;
      table {
        // @apply com-w-full com-bg-gray-500/5 com-p-1 com-rounded-md;
      }
    }
    .payment-details {
      @apply com-mt-8;
    }
    // }
    // .link-to-fill {
    //   @apply com-no-underline com-mt-3 com-flex com-items-center com-gap-1;
    // }
    // .stats {
    //   @apply com-bg-Bright-Gray com-border-0 com-rounded-3xl com-px-4 com-py-1 com-text-center com-mt-2;
    //   p {
    //     @apply com-m-0 com-text-2xl;
    //   }
  }
}

.create-form {
  @apply com-flex md:com-flex-row com-flex-col-reverse md:com-justify-between md:com-items-center;
  .text {
    .attach-form-text {
      @apply com-m-0 com-mb-2px com-text-sm com-font-semibold;
    }
    .sub-text {
      @apply com-m-0 com-mb-4 com-text-xs com-font-normal;
    }
  }
  .create-form-button {
    .create-button {
      @apply com-mt-2 com-mb-8 md:com-m-0 com-mx-0;
    }
    .view-form-button {
      @apply com-cursor-pointer com-ml-2;
    }
  }
}
.dfeg-create-form {
  > div {
    @apply com-flex com-flex-col com-items-start;
    > div {
      margin: 0.5rem;
    }
    .name {
      @apply com-m-0 com-mb-4 md:com-mb-0 com-w-full md:com-w-[27%];
      input {
        @apply com-m-0 com-mt-1;
      }
    }

    .data-form-select,
    .data-form-type-select {
      @apply com-mx-0 com-flex  com-items-end com-mb-4 md:com-my-0 com-w-full md:com-w-[27%];

      label {
        @apply com-w-full;
      }
      nb-select {
        @apply com-m-0 com-mt-1 com-w-full;
      }
      nb-icon {
        @apply com-cursor-pointer com-mb-2 com-ml-2;
      }
    }
  }

  .save-button-bottom {
    @apply md:com-mt-6 com-m-0 com-mt-4;
  }

  @media screen and (min-width: 640px) {
    > div {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      > div {
        margin: 0 0.25rem;
        width: 27%;

        label {
          width: 100%;

          nb-select,
          input {
            width: 100%;
          }
        }
      }
    }
  }
}

.new-data-form-template {
  @apply md:com-w-[900px] md:com-h-[635px] com-overflow-y-auto com-w-full com-h-auto com-scrollbar-hide;
}

.select {
  @apply com-flex com-items-center com-gap-1 com-h-8 com-p-1 com-text-sm com-rounded-[4px] com-cursor-pointer com-bg-[#F6F9FC] hover:com-bg-[#eef2f7]/50 com-my-2  com-border com-border-solid com-border-primary-400 com-w-full com-mt-1;
  select {
    @apply com-bg-[#F6F9FC] hover:com-bg-[#eef2f7]/50 com-cursor-pointer com-border-0 com-w-full;
  }
}
