<nb-card [ngStyle]="{ height: cardHeight, width: cardWidth }">
  <nb-card-body>
    <a [routerLink]="['/users', topBuilder.username]">
      <div class="image" [ngStyle]="{ height: imageHeight, width: imageWidth }">
        <img
          [src]="topBuilder.photo.i96"
          [alt]="topBuilder.name"
          [title]="topBuilder.name"
          [ngStyle]="{ height: imageHeight, width: imageWidth }"
        />
      </div>
      <div class="text">
        <p class="name">{{ topBuilder.name }}</p>
        <div *ngIf="displayVotes" class="votes">
          {{ topBuilder.published_community_builds_count }} Build{{
            topBuilder.published_community_builds_count !== 1 && topBuilder.published_community_builds_count > 0
              ? 's'
              : ''
          }}
          . {{ topBuilder.total_builds_votes }} Upvote{{
            topBuilder.total_builds_votes !== 1 && topBuilder.total_builds_votes > 0 ? 's' : ''
          }}
        </div>
        <div *ngIf="displayDesignation" class="designation" [title]="topBuilder.designation">
          {{ topBuilder.designation }}
        </div>
        <div *ngIf="displayCommunityCount" class="community-count">
          {{ topBuilder.published_community_builds_count }} Build{{
            topBuilder.published_community_builds_count !== 1 && topBuilder.published_community_builds_count > 0
              ? 's'
              : ''
          }}
          . {{ topBuilder.communities_count }} Communit{{
            topBuilder.communities_count !== 1 && topBuilder.communities_count > 0 ? 'ies' : 'y'
          }}
        </div>
        <p *ngIf="displayViewProfile" class="view-profile">
          View Profile<nb-icon icon="arrow-forward-outline"></nb-icon>
        </p>
        <div *ngIf="showFollowButton">
          <app-user-follow [username]="topBuilder.username" [isMobileWidthFull]="true"></app-user-follow>
        </div>
      </div>
    </a>
  </nb-card-body>
</nb-card>
