<nb-card>
  <nb-card-body>
    <div class="content">
      <a [routerLink]="['/users', topBuilder.username]">
        <div class="user-profile-image">
          <img [src]="topBuilder.photo.i96" [alt]="topBuilder.name" [title]="topBuilder.name" />
        </div>
      </a>
      <div class="text">
        <a [routerLink]="['/users', topBuilder.username]">
          <p class="name">
            {{ topBuilder.name }}
            <img
              *ngIf="topBuilder.is_expert"
              alt="Expert Tick"
              class="expert-icon"
              src="/assets/images/Expert-Tick.svg"
            />
          </p>
          <p class="username" title="{{ topBuilder.username }}">@{{ topBuilder.username | truncatetext : 15 }}</p>
          <div *ngIf="displayDesignation" class="designation" [title]="topBuilder.designation">
            {{ topBuilder.designation || '--' }}
          </div>
          <div *ngIf="displayVotes" class="votes">
            <span *ngIf="topBuilder.published_community_builds_count >= 1">
              {{ topBuilder.published_community_builds_count }} Build{{
                topBuilder.published_community_builds_count !== 1 && topBuilder.published_community_builds_count > 0
                  ? 's'
                  : ''
              }}
              ·
            </span>
            <span>
              {{ topBuilder.total_builds_votes }} Star{{
                topBuilder.total_builds_votes !== 1 && topBuilder.total_builds_votes > 0 ? 's' : ''
              }}
            </span>
          </div>
        </a>
        <div *ngIf="allignFollowButtonToRight">
          <app-user-follow
            [username]="topBuilder.username | truncatetext : maxUserNameLength"
            [isMobileWidthFull]="true"
            [name]="topBuilder.name"
            [userId]="topBuilder.id"
          ></app-user-follow>
        </div>
      </div>
    </div>
    <div *ngIf="showFollowButton" class="follow-button">
      <app-user-follow
        [username]="topBuilder.username"
        [name]="topBuilder.name"
        [isMobileWidthFull]="true"
        [userId]="topBuilder.id"
      ></app-user-follow>
    </div>
  </nb-card-body>
</nb-card>
