<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <div class="community-group" *ngIf="communityGroup">
        <div class="header">
          <div class="banner">
            <div [style.background]="communityGroup.theme_color" class="banner-image"></div>
          </div>
          <div class="page-header">
            <div class="logo-section">
              <img
                class="logo"
                alt="{{ communityGroup.name }}"
                src="{{ communityGroup.logo.i350 }}"
                title="{{ communityGroup.name }}"
              />
            </div>
            <div class="details">
              <div class="heading">
                <div class="name-logo">
                  <h2 class="name">
                    {{ communityGroup.name }}
                  </h2>
                  <div class="logo">
                    <fa-icon [icon]="faBuilding"></fa-icon>
                  </div>
                </div>
                <div class="social-links">
                  <a
                    *ngIf="communityGroup.twitter"
                    href="{{ communityGroup.twitter | completeurl : 'twitter' }}"
                    rel="noreferrer"
                    target="_blank"
                  >
                    <nb-icon icon="twitter" status="primary"></nb-icon>
                  </a>
                  <a
                    *ngIf="communityGroup.linkedin"
                    href="{{ communityGroup.linkedin | completeurl : 'linkedin' }}"
                    rel="noreferrer"
                    target="_blank"
                  >
                    <nb-icon icon="linkedin" status="primary"></nb-icon>
                  </a>
                  <a
                    *ngIf="communityGroup.facebook"
                    href="{{ communityGroup.facebook | completeurl : 'facebook' }}"
                    rel="noreferrer"
                    target="_blank"
                  >
                    <nb-icon icon="facebook" status="primary"></nb-icon>
                  </a>
                  <a
                    *ngIf="communityGroup.github"
                    href="{{ communityGroup.github | completeurl : 'github' }}"
                    rel="noreferrer"
                    target="_blank"
                  >
                    <nb-icon icon="github" status="primary"></nb-icon>
                  </a>
                  <a
                    *ngIf="communityGroup.website"
                    href="{{ communityGroup.website }}"
                    rel="noreferrer"
                    target="_blank"
                  >
                    <nb-icon icon="info" status="primary"></nb-icon>
                  </a>
                </div>
              </div>
              <p class="mini-description">
                {{ communityGroup.mini_description }}
              </p>
              <div class="links">
                <app-badge
                  [text]="communityGroup.member_count"
                  [fontColor]="'com-text-tAuro-Metal-Saurus'"
                  [nbIcon]="'people-outline'"
                  [fontSize]="'small'"
                  [borderRadius]="'round'"
                  [color]="'com-bg-Bright-Gray-Light'"
                ></app-badge>
                <div *ngIf="isOrganizer">
                  <a
                    nbButton
                    status="danger"
                    shape="semi-round"
                    [routerLink]="['/admin', 'orgs', communityGroup.slug]"
                    target="_blank"
                  >
                    <fa-icon [icon]="faPencil" class="com-mr-2"></fa-icon> Go To Admin panel
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-menu">
          <div class="menu-items d-flex">
            <a [routerLink]="['/orgs', communityGroup.slug, 'about']" class="d-flex" routerLinkActive="active">
              <fa-icon [icon]="faCircleInfo"></fa-icon>
              <span class="title">About</span>
            </a>

            <a
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['/orgs', communityGroup.slug]"
              class="com-flex"
              routerLinkActive="active"
            >
              <fa-icon [icon]="faArrowTrendUp"></fa-icon>
              <span class="title">Activity</span>
            </a>

            <a [routerLink]="['/orgs', communityGroup.slug, 'communities']" class="d-flex" routerLinkActive="active">
              <fa-icon [icon]="faUserGroup"></fa-icon>
              <span class="title">Communities</span>
            </a>
            <a [routerLink]="['/orgs', communityGroup.slug, 'events']" class="d-flex" routerLinkActive="active">
              <fa-icon [icon]="faCalendarWeek"></fa-icon>
              <span class="title">Events</span>
            </a>
            <a [routerLink]="['/orgs', communityGroup.slug, 'channels']" class="d-flex" routerLinkActive="active">
              <fa-icon [icon]="faHashtag"></fa-icon>
              <span class="title">Channels</span>
            </a>
            <div class="com-relative">
              <a [routerLink]="['/orgs', communityGroup.slug, 'team']" class="d-flex" routerLinkActive="active">
                <fa-icon [icon]="faUserGroup"></fa-icon>
                <span class="title">Admin Team</span>
              </a>
            </div>
            <a class="d-flex" [nbContextMenu]="items" nbContextMenuTrigger="hover" *ngIf="items.length > 0">
              <fa-icon [icon]="faCaretDown"></fa-icon>
              <span class="title">More</span>
            </a>
          </div>
        </div>
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
