<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <div class="community-group" *ngIf="communityGroup">
        <section class="top">
          <div class="banner-image"></div>
          <div class="basic-details">
            <div class="logo">
              <img
                alt="{{ communityGroup.name }}"
                src="{{ communityGroup.logo.i350 }}"
                title="{{ communityGroup.name }}"
              />
            </div>
            <div class="details">
              <h1 class="name">
                {{ communityGroup.name }}
              </h1>

              <p class="mini-description">
                {{ communityGroup.mini_description }}
              </p>
              <div class="social-links">
                <a
                  *ngIf="communityGroup.twitter"
                  href="{{ communityGroup.twitter | completeurl : 'twitter' }}"
                  rel="noreferrer"
                  target="_blank"
                >
                  <nb-icon icon="twitter" status="info"></nb-icon>
                </a>
                <a
                  *ngIf="communityGroup.linkedin"
                  href="{{ communityGroup.linkedin | completeurl : 'linkedin' }}"
                  rel="noreferrer"
                  target="_blank"
                >
                  <nb-icon icon="linkedin" status="info"></nb-icon>
                </a>
                <a
                  *ngIf="communityGroup.facebook"
                  href="{{ communityGroup.facebook | completeurl : 'facebook' }}"
                  rel="noreferrer"
                  target="_blank"
                >
                  <nb-icon icon="facebook" status="info"></nb-icon>
                </a>

                <a
                  *ngIf="communityGroup.github"
                  href="{{ communityGroup.github | completeurl : 'github' }}"
                  rel="noreferrer"
                  target="_blank"
                >
                  <nb-icon icon="github" status="info"></nb-icon>
                </a>
                <a *ngIf="communityGroup.website" href="{{ communityGroup.website }}" rel="noreferrer" target="_blank">
                  <nb-icon icon="info" status="info"></nb-icon>
                </a>
              </div>
              <div class="count-details">
                <nb-tag-list>
                  <nb-tag text="Communities"></nb-tag>
                  <nb-tag text="Members"></nb-tag>
                  <nb-tag text="Channels"></nb-tag>
                </nb-tag-list>
              </div>
            </div>
          </div>
        </section>

        <div class="responsive menu">
          <nb-card>
            <nb-card-body>
              <div class="menu-items">
                <a [routerLink]="['/orgs', communityGroup.slug, 'activity']" routerLinkActive="active">
                  <span> Activity </span>
                </a>

                <a [routerLink]="['/orgs', communityGroup.slug, 'about']" routerLinkActive="active">
                  <span> About </span>
                </a>

                <a [routerLink]="['/orgs', communityGroup.slug, 'communities']" routerLinkActive="active">
                  <span> Communities </span>
                </a>

                <a [routerLink]="['/orgs', communityGroup.slug, 'events']" routerLinkActive="active">
                  <span> Events </span>
                </a>

                <a [routerLink]="['/orgs', communityGroup.slug, 'channels']" routerLinkActive="active">
                  <span> Channels </span>
                </a>

                <a [routerLink]="['/orgs', communityGroup.slug, 'team']" routerLinkActive="active">
                  <span>Admin Team</span>
                </a>
              </div>
            </nb-card-body>
          </nb-card>
        </div>

        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
