@import "projects/commudle-admin/src/assets/styles/variables";

.home-events-card {
  position: relative;
  width: 256px;
  border: 0.5px solid $silver-sand;

  .home-events-attending {
    position: absolute;
    height: 20px;
    top: 8px;
    right: 0;
    border-radius: $border-5 0 0 $border-5;
    background-color: $neon-blue;
    color: $white;
    padding: $space-4;
    font-size: $fs-card-secondary;
    font-weight: $fw-500;
    line-height: 12px;
    z-index: 2;

    nb-icon {
      font-size: $fs-card-secondary;
    }
  }

  .home-events-image {
    height: 156px;
    overflow: hidden;

    .home-events-image-overlay {
      position: absolute;
      height: 156px;
      width: 100%;
      background: linear-gradient(360deg, rgba(13, 28, 46, 0.29) 0%, rgba(17, 51, 79, 0.1827) 100%);

      &.old {
        background: linear-gradient(360deg, rgb(13 28 46 / 45%) 0%, rgb(17 51 79 / 30%) 100%);
      }
    }

    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
      object-position: left top;
    }
  }

  .home-events-date {
    position: absolute;
    height: 58px;
    width: 58px;
    top: 120px;
    right: 12px;
    border-radius: $border-8;
    border: 1px solid $neon-blue;
    background-color: $white;
    color: $neon-blue;
    padding: $space-8 $space-12;
    font-size: $fs-h4;
    font-weight: $fw-500;
    word-break: break-word;
    text-align: center;

    &.old {
      border-color: $cadet;
      color: $cadet;
    }
  }

  .home-events-details {
    margin: $space-12 $space-12 $space-8;

    .home-events-name {
      max-width: 171px;
      height: 2rem;
      font-size: $fs-h5;
      font-weight: $fw-600;
      line-height: 16px;
      color: $gunmetal;
    }

    .home-events-host {
      margin-top: $space-16;

      .home-events-community {
        .home-events-community-logo {
          min-height: 1.75rem;
          max-height: 1.75rem;
          min-width: 1.75rem;
          max-width: 1.75rem;
          overflow: hidden;
          border-radius: 50%;
          border: 0.5px solid $platinum;

          img {
            width: 100%;
          }
        }

        .home-events-community-name {
          margin: 0 $space-16 0 $space-8;
          font-size: $fs-card-secondary;
          line-height: normal;
          color: $text-low-emphasis;
          font-weight: $fw-500;
        }
      }

      .home-events-register {
        font-size: $fs-h5;
        font-weight: $fw-600;
        text-transform: uppercase;
        color: $neon-blue;
      }
    }
  }
}

@media all and (max-width: $tab-width) {
  .home-events-card {
    width: 185px;
  }

  .home-events-attending {
    display: none;
  }

  .home-events-image {
    height: 88px;

    .home-events-image-overlay {
      height: 88px;
    }

    img {
      object-position: center !important;
    }
  }

  .home-events-details {
    margin: $space-24 $space-8 $space-8 !important;

    .home-events-name {
      max-width: 100% !important;
    }

    .home-events-host {
      display: none;
    }
  }
}
