<div class="data-form-container">
  <nb-card>
    <nb-card-header>
      <h3>
        Create Form
      </h3>
    </nb-card-header>
  </nb-card>
  <form class="create-data-form" [formGroup]="createDataForm">
    <div formGroupName="data_form">
      <div class="save-button-top">
        <button [disabled]="!createDataForm.valid" type="submit" nbButton status="primary" fullWidth size="medium" (click)="saveDataForm()">
          {{ submitButtonText() }}
        </button>
      </div>
      <nb-card>
        <nb-card-body>

          <div role="group">
            <div>
              <label fullWidth>
                Name*
                <input type="text" nbInput fullWidth formControlName="name">
              </label>
            </div>
          </div>

        </nb-card-body>
      </nb-card>



      <nb-card class="data-form-question-choices-container">
        <nb-card-body>
          <div formArrayName="questions" *ngFor="let question of createDataForm['controls'].data_form['controls'].questions['controls']; let i=index">
            <div [formGroupName]="i" class="question-container">
              <div>
                <button nbButton size="small" (click)="removeQuestionButtonClick(i)" outline status="danger">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
                <label>
                  {{i + 1}}. Question*
                  <input type="text" nbInput fullWidth formControlName="title" placeholder="Title*" required>
                 </label>
                 <span *ngIf="question.get('title').touched && question.get('title').invalid && question.get('title').errors.required" class="validation-error-text">
                  Required Field
                </span>
              </div>

              <div class="question-settings">
                <label>
                  Question Type
                  <nb-select placeholder="Question Type*" formControlName="question_type_id" required status="primary" size="tiny" hero>
                    <nb-option *ngFor="let qt of questionTypes" [value]="qt.id">
                      {{ qt.name }}
                    </nb-option>
                  </nb-select>
                </label>

                <nb-checkbox formControlName="required" status="primary">Required</nb-checkbox>
                <nb-checkbox formControlName="disabled" status="primary">Disabled <small>(If you don't want this question to appear anymore)</small></nb-checkbox>
              </div>

              <div>
                <textarea nbInput fullWidth formControlName="description" placeholder="Description (optional)"></textarea>

              </div>


              <div *ngIf="[4, 5].includes(question.get('question_type_id').value)">
                <div class="choices-container" formArrayName="question_choices" *ngFor="let choice of question['controls'].question_choices['controls']; let chi=index">
                  <div>
                    <div [formGroupName]="chi">
                      <input type="text" nbInput formControlName="title" placeholder="Enter Text*" required>
                      <span *ngIf="choice.get('title').touched && choice.get('title').invalid && choice.get('title').errors.required" class="validation-error-text">
                        Required Field
                      </span>
                    </div>
                    <button nbButton status="danger" size="tiny" (click)="removeQuestionChoiceButtonClick(i, chi)" >
                      <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                  </div>
                </div>
                <button nbButton size="tiny" (click)="addQuestionChoiceButtonClick(i)" status="primary" hero>
                  <fa-icon [icon]="faPlus"></fa-icon>
                  &nbsp;
                  Add Choice
                </button>

              </div>

            </div>


          </div>



          <div>
            <button nbButton size="medium" (click)="addQuestionButtonClick()" status="primary">
              <fa-icon [icon]="faPlus"></fa-icon>
              &nbsp;
              Add Question
            </button>
          </div>
        </nb-card-body>
      </nb-card>



      <div>
        <button [disabled]="!createDataForm.valid" type="submit" status="primary" nbButton fullWidth size="medium" (click)="saveDataForm()">
          {{ submitButtonText() }}
        </button>
      </div>

    </div>

  </form>


</div>
