.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;

  p {
    font-size: 0.8rem;
  }

  nb-icon {
    font-size: 0.8rem;
  }

  .author-image {
    width: 35px;
    margin-right: 5px;
    display: flex;
    align-self: start;
    img {
      width: 100%;
    }
  }

  .content-controls {
    width: 100%;
    .author-details {
      p {
        margin: 0 0 0.2rem;
        color: grey;
      }
    }

    .content {
      white-space: pre-wrap;
      word-break: break-word;
    }

    .attachments {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: fit-content;
      max-width: 80%;
      padding: 10px 0;
      background: #e9f1ff;
      border-radius: 5px;
      .file {
        width: 80px;
        height: 100px;
        margin: 0 5px;
        border: 2px solid #bcd4ff;
        border-radius: 5px;
        background: white;
        position: relative;
        a.download-link {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          nb-icon {
            display: none;
            font-size: 3rem;
            color: #8b8b8b;

          }
          &:hover {
            nb-icon {
              display: block;
            }
          }
        }

        .file-preview {
          display: flex;
          flex-direction: column;
          height: 100%;
          .name {
            margin: 0;
            height: 80%;
            text-align: center;
            display: flex;
            align-items: center;
          }
          .extension {
            margin: 0;
            text-align: center;
            border-top: 1px dotted lightgrey;
            font-weight: bolder;
            color: lightgrey;
          }
        }

        .image-file-preview {
          display: flex;
          flex-direction: row;
          align-items: center;
          overflow: hidden;
          height: 100%;
          img {
            width: 100%;
          }
        }
      }
    }

    .details-flag {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      >div {
        margin-right: 10px;

        p {
          margin: 5px 0 0;
        }
      }

      .votes {
        nb-icon {
          font-size: 1.2rem;
        }
      }

      .votes, .reply-button {
        p {
          font-size: 1.1rem;
        }
      }

      .message-context-menu {
        nb-icon {
          vertical-align: revert;
        }
      }

    }
  }
}

.replies-container {
  margin: 1rem;
  // border-bottom: 1px solid lightgrey;
  // border-left: 1px solid lightgrey;
  // border-right: 1px solid lightgrey;

  .reply-message {
    margin-bottom: 0.5rem;
  }

  .reply-form {
    width: 100%;
    form {
      display: flex;
      width: 100%;
      button {
        width: 30px;
      }
    }

  }
}


.edit-message-form {
  min-width: 500px;
  max-width: 90vw;
}
