.votes {
  width: max-content;

  div {
    font-size: 0.875rem;
    margin: 0;

    &.votes-direction-vertical {
      // @apply com-flex com-flex-col com-items-center;
    }

    .count {
      color: grey;
      display: inline-block;
      font-size: 0.875rem;
      margin: 0 2px 0 0;
    }

    nb-icon {
      color: #8080808c;
      font-size: 1rem;
    }

    nb-icon.star.has-votes {
      color: goldenrod;
    }

    nb-icon.star.voted-star {
      color: gold;
    }

    nb-icon.voted-heart {
      color: #ff1e1ed6;
    }
  }

  &.size-large {
    div {
      font-size: 1.8rem;

      nb-icon {
        font-size: 1.8rem;
      }
    }
  }
}

.clickable.votes.border {
}
