.community-channels-dashboard {
  height: 95vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  .community-list {
  }

  .community-channel-list {
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px dotted grey;
  }

  .community-channel-discussion {
    background: white;
    overflow: hidden;
  }


  @media screen and (min-width: 1200px) {
    .community-list {
      width: 80px;
    }

    .community-channel-list {
      width: 200px !important;
    }

    .community-channel-discussion {
      width: 1000px;
      flex-grow: 1;
    }
  }

}
