@import '/projects/commudle-admin/src/assets/styles/variables.scss';

.community-group {
  padding: 0 0.5rem;
  div.logo {
    max-width: 200px;
    img: {
      width: 100%;
    }
  }

  h1.name {
    margin-top: 0;
  }
}
