<div *ngIf="communityGroup" class="community-group">
  <div class="logo">
    <img alt="{{communityGroup.name}}" src="{{communityGroup.logo.url}}" title="{{communityGroup.name}}">
  </div>

  <h1 class="name">{{ communityGroup.name }}</h1>

  <div [innerHTML]="communityGroup.description" class="description lh-fw"></div>

  <div class="responsive page-menu">
    <nb-card>
      <nb-card-body>
        <div class="menu-items">
          <a [routerLink]="['/orgs', communityGroup.slug]">
            <nb-icon icon="globe-2-outline" status="info"></nb-icon>
            <span>Chapters</span>
          </a>
          <a [routerLink]="['/orgs', communityGroup.slug, 'team']" routerLinkActive="active">
            <nb-icon icon="people-outline" status="primary"></nb-icon>
            <span>Team</span>
          </a>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
