<nb-card>
  <nb-card-header>Registration</nb-card-header>
  <nb-card-body>
    <div class="heading">
      Choose which fields are absolutely necessary for registering. Remember, a shorter form leads to quicker signup
    </div>
    <div>
      <form action="" [formGroup]="userDetailsForm">
        <div>
          <div class="group-name">PERSONAL</div>
          <div class="group-values">
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('name').value }">
              <input type="checkbox" formControlName="name" />
              <span class="checkmark"></span>
              Name
            </label>

            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('designation').value }">
              <input type="checkbox" formControlName="designation" />
              <span class="checkmark"></span>
              Designation
            </label>
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('about').value }">
              <input type="checkbox" formControlName="about" />
              <span class="checkmark"></span>
              About
            </label>
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('location').value }">
              <input type="checkbox" formControlName="location" />
              <span class="checkmark"></span>
              Location
            </label>
          </div>
        </div>

        <div>
          <div class="group-name">EXPERIENCE</div>
          <div class="group-values">
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('work_experience').value }">
              <input type="checkbox" formControlName="work_experience" />
              <span class="checkmark"></span>
              Work Experience
            </label>
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('education').value }">
              <input type="checkbox" formControlName="education" />
              <span class="checkmark"></span>
              Education
            </label>
          </div>
        </div>

        <div>
          <div class="group-name">CONTACT</div>
          <div class="group-values">
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('phone_number').value }">
              <input type="checkbox" formControlName="phone_number" />
              <span class="checkmark"></span>
              Phone Number
            </label>
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('email').value }">
              <input type="checkbox" formControlName="email" />
              <span class="checkmark"></span>
              Email
            </label>
          </div>
        </div>

        <div>
          <div class="group-name">SOCIAL LINKS</div>
          <div class="group-values">
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('twitter').value }">
              <input type="checkbox" formControlName="twitter" />
              <span class="checkmark"></span>
              Twitter
            </label>
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('linkedin').value }">
              <input type="checkbox" formControlName="linkedin" />
              <span class="checkmark"></span>
              Linkedin
            </label>
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('dribbble').value }">
              <input type="checkbox" formControlName="dribbble" />
              <span class="checkmark"></span>
              Dribbble
            </label>
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('youtube').value }">
              <input type="checkbox" formControlName="youtube" />
              <span class="checkmark"></span>
              Youtube
            </label>
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('medium').value }">
              <input type="checkbox" formControlName="medium" />
              <span class="checkmark"></span>
              Medium
            </label>
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('behance').value }">
              <input type="checkbox" formControlName="behance" />
              <span class="checkmark"></span>
              Behance
            </label>
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('gitlab').value }">
              <input type="checkbox" formControlName="gitlab" />
              <span class="checkmark"></span>
              Gitlab
            </label>
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('github').value }">
              <input type="checkbox" formControlName="github" />
              <span class="checkmark"></span>
              Github
            </label>
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('facebook').value }">
              <input type="checkbox" formControlName="facebook" />
              <span class="checkmark"></span>
              Facebook
            </label>
          </div>
        </div>

        <div>
          <div class="group-name">SCHWAGS</div>
          <div class="group-values">
            <label class="custom-checkbox" [ngClass]="{ active: userDetailsForm.get('tshirt_size').value }">
              <input type="checkbox" formControlName="tshirt_size" />
              <span class="checkmark"></span>
              Tshirt Size
            </label>
          </div>
        </div>
      </form>

      <div class="custom-questions">
        <app-new-data-form
          (newDataForm)="submit($event)"
          formName="Hackathon Attendee Registration Form"
          [stickSubmitButtonBottom]="true"
          [showNameDescriptionFiled]="false"
        >
        </app-new-data-form>
      </div>
    </div>
  </nb-card-body>
</nb-card>
