nb-card {
  @apply com-p-0 com-m-0 md:com-bg-Bright-Gray/30 com-border-0 md:com-mt-6;

  nb-card-body {
    @apply md:com-pt-4 md:com-px-3 com-m-0 com-p-0;
    .heading {
      @apply com-flex com-items-center com-m-0 md:com-p-0 md:com-pb-6 com-p-4 md:com-bg-transparent com-bg-Anti-Flash-White;

      .image {
        @apply com-p-10px com-m-0 com-mr-3 com-rounded-xl com-w-[52px] com-h-[52px];
      }

      .text {
        .title {
          @apply com-text-base com-font-semibold com-text-Dark-Jungle-Green com-mb-2px com-mt-0 com-mx-0;
        }
        .sub-heading {
          @apply com-text-sm com-font-normal com-text-gunmetal com-m-0;
        }
      }
    }

    .featured-projects {
      @apply com-flex com-flex-nowrap md:com-flex-wrap com-overflow-x-auto com-mx-4 com-mb-[60px] md:com-m-0 md:com-pb-4 com-mt-4 com-p-0 md:com-p-0 com-gap-3 md:com-gap-y-4 md:com-gap-x-0;
      .featured-projects-card {
        @apply com-m-0 com-p-0;
      }
    }
  }
}
