<nb-card>
  <nb-card-body>
    <div class="heading">
      <button nbButton status="basic" class="image">
        <img alt="Featured Projects" src="{{ staticAssets.emojis.stars }}" title="Featured Projects" />
      </button>
      <div class="text">
        <h3 class="title">FEATURED PROJECTS</h3>
        <h4 class="sub-heading">Check out our featured projects</h4>
      </div>
    </div>
    <app-skeleton-cards
      [cards]="5"
      [ImageShapeSquare]="false"
      [ImageShapeCircle]="false"
      *ngIf="showSpinner"
    ></app-skeleton-cards>
    <div class="featured-projects custom-scrollbar">
      <div class="featured-projects-card" *ngFor="let featuredProject of featuredProjects">
        <commudle-featured-projects-card [featuredProject]="featuredProject"></commudle-featured-projects-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>
