@import './projects/commudle-admin/src/assets/styles/variables';

.public-profile {
  gap: $space-16;
  padding: $space-16 0 $space-80;

  .basic-details {
    max-width: 264px;
    min-width: 264px;
  }

  .extra-details {
    max-width: 840px;
    min-width: 840px;
  }
}

@media (max-width: $tab-width) {
  .public-profile {
    flex-direction: column;

    .basic-details {
      min-width: 100%;
    }

    .extra-details {
      min-width: 100%;
    }
  }
}
