<div class="base-layout">
  <div class="container">
    <div *ngIf="user" class="two-column-layout">
      <div class="main-column">
        <app-user-cover-photo (coverImageUpdate)="getUser()" [user]="user"></app-user-cover-photo>
        <app-user-basic-details (updateProfile)="getUser()" [user]="user"></app-user-basic-details>
        <nb-card *ngIf="(activeMenuItems | numkeys) > 0" class="user-profile-menu">
          <nb-card-body class="com-scrollbar-hide">
            <nb-actions>
              <nb-action *ngFor="let item of activeMenuItems | keyvalue: originalOrder">
                <a class="item" fragment="{{ item.value.link }}" routerLink=".">
                  <nb-icon
                    *ngIf="item.value.name !== 'Work History'"
                    [icon]="item.value.icon"
                    [status]="item.value.icon_status"
                  ></nb-icon>
                  <fa-icon
                    *ngIf="item.value.name == 'Work History'"
                    [icon]="faBuilding"
                    class="com-text-[#00D68F]"
                  ></fa-icon>
                  {{ item.value.name }}
                </a>
              </nb-action>
            </nb-actions>
          </nb-card-body>
        </nb-card>
        <router-outlet></router-outlet>
        <router-outlet name="p"></router-outlet>
      </div>
      <div *appBreakpoints="'>md'" class="right-column"></div>
    </div>
  </div>
</div>
