@import '/projects/commudle-admin/src/assets/styles/variables';

p {
  margin: 0;
  color: $gunmetal;
}

.community-about {
  margin: $space-32 0;

  nb-card {
    margin: $space-16 0 0;
    border: none;
    border-radius: $border-10;

    nb-card-body {
      padding: $space-40 $space-32;

      .heading {
        margin-bottom: $space-32;
        font-size: $fs-32;
        font-weight: $fw-600;
        line-height: 38px;
      }
    }
  }

  .about {
    nb-card-body {
      &::ng-deep {
        .content {
          p, span {
            font-size: $fs-h4;
            font-family: $primary-font-family !important;
            line-height: 19px;
            color: $gunmetal;
          }
        }
      }
    }
  }

  .organizers {
    nb-card-body {
      .organizer-container {
        gap: $space-24 $space-52;

        .organizer {
          width: 264px;
          padding: $space-16;
        }
      }
    }
  }
}

//.about-community {
//  display: flex;
//  flex-direction: column;
//
//  .team {
//    p {
//      font-weight: bold;
//    }
//
//    .user {
//      margin: 1rem 0;
//    }
//
//    .organizers, .event-organizers {
//      display: flex;
//      flex-direction: column;
//    }
//  }
//
//
//  @media screen and (min-width: 800px) {
//
//    .about {
//
//    }
//
//    .team {
//
//      .organizers, .event-organizers {
//        flex-direction: row;
//        flex-wrap: wrap;
//        justify-content: center;
//
//        .user {
//          width: 20%;
//          margin: 1rem;
//        }
//      }
//    }
//  }
//}
