<div class="community-about com-grid com-grid-cols-1 lg:com-grid-cols-3 com-gap-4">
  <nb-card [nbSpinner]="community === null" class="about lg:com-col-span-2">
    <nb-card-body>
      <h3 class="heading">Who we are</h3>
      <p [innerHTML]="community.about | linky: { sanitizeHtml: false } | safeHtml" class="content"></p>
    </nb-card-body>
  </nb-card>

  <nb-card class="lg:com-col-span-1">
    <nb-card-body>
      <h3 class="heading">Community Leaders</h3>
      <div class="organizers com-grid com-grid-cols-1 com-gap-4">
        <div *ngIf="isLoading" class="loading-spinner com-my-4 com-text-center">
          <div class="spinner">
            <div *ngFor="let _ of [].constructor(5)"></div>
          </div>
        </div>
        <ng-container *ngFor="let organizer of organizers">
          <app-user-profile-card-large [user]="organizer"></app-user-profile-card-large>
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</div>
