.about-community {
  display: flex;
  flex-direction: column;

  .team {
    p {
      font-weight: bold;
    }

    .user {
      margin: 1rem 0;
    }

    .organizers, .event-organizers {
      display: flex;
      flex-direction: column;
    }
  }


  @media screen and (min-width: 800px) {

    .about {

    }

    .team {

      .organizers, .event-organizers {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .user {
          width: 20%;
          margin: 1rem;
        }
      }
    }
  }



}
