<div class="about-community">
  <nb-card class="about">
    <nb-card-body>
      <div [innerHTML]="community.about"></div>
    </nb-card-body>
  </nb-card>

  <nb-card class="team">
    <nb-card-body>
      <p class="text-basic">Organizers</p>

      <div *ngIf="organizers.length > 0" class="organizers">
        <div *ngFor="let user of organizers" class="user">
          <app-user-profile-card-large [user]="user"></app-user-profile-card-large>
        </div>
      </div>

      <div *ngIf="eventOrganizers.length > 0">
        <p class="text-basic">Event Organizers</p>
        <div class="event-organizers">
          <div *ngFor="let user of eventOrganizers" class="user">
            <app-user-profile-card-large [user]="user"></app-user-profile-card-large>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
