@import 'projects/commudle-admin/src/assets/styles/variables';

:host {
  width: 100%;
  height: 100%;

  .hms-video {
    width: 100%;
    height: 100%;
    background-color: $black;

    .state-container {
      width: 100%;
      height: 100%;

        nb-alert {
          position: absolute;
          top: 25%;
          left: 50%;
          transform: translateX(-50%);
        }
    }
  }
}
