<div>
  <p>By applying for this opportunity:</p>
  <ul>
    <li>Link to your resume and profile will be shared with the person who has posted this opportunity on Commudle.</li>
    <li>They hold all the rights to accept or reject your profile.</li>
    <li>
      You can view or withdraw applications anytime from your
      <a [routerLink]="['/jobs', 'my-applications']">‘My Applications’</a> page.
    </li>
    <li>You agree to provide all the correct and updated information while applying for this opportunity.</li>
  </ul>
</div>
