<div class="menu">
  <div *ngIf="!hideUser" class="user">
    <app-user-profile-card-large [maxDesignationLength]="18" [maxNameLength]="14"
                                 [user]="lab.user"></app-user-profile-card-large>
  </div>
  <nb-card *ngIf="!hideSteps" class="steps">
    <nb-list>
      <nb-list-item (click)="onSetStep(-1)" [ngClass]="{'active': selectedLabStep === -1}"
                    [routerLink]="['/labs', lab.slug]"
                    class="clickable">
        <a [routerLink]="['/labs', lab.slug]">Overview</a>
      </nb-list-item>
      <nb-list-item (click)="onSetStep(i)" *ngFor="let step of lab.lab_steps; let i = index"
                    [ngClass]="{'active': selectedLabStep === i}" [routerLink]="['steps', lab.lab_steps[i].id]"
                    class="clickable">
        <div>
          <a [routerLink]="['steps', lab.lab_steps[i].id]">
            <div>
              {{step.name}}
            </div>
          </a>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card>
  <nb-card *ngIf="similarLabs.length > 0 && !hideRelatedLabs" class="related-labs">
    <nb-card-header>
      RELATED POSTS
    </nb-card-header>
    <nb-card-body>
      <div *ngFor="let lab of similarLabs" [routerLink]="['/labs', lab.slug]" class="details clickable">
        <p class="name">{{lab.name}}</p>
        <p class="type">LAB</p>
      </div>
    </nb-card-body>
  </nb-card>
  <div *ngIf="!hideInteractions" class="interactions d-flex flex-row justify-content-space-around">
    <app-votes-display [icon]="'heart-outline'" [votableId]="lab.id" [votableType]="'Lab'"></app-votes-display>
    <div (click)="onScrollToChat()" *ngIf="discussionChat" class="message-count clickable">
      <nb-icon icon="message-circle-outline"></nb-icon>
      {{messagesCount}}
    </div>
  </div>
</div>
