.menu {
  @apply com-h-fit com-sticky com-top-[72px] com-w-[264px];

  nb-card {
    @apply com-w-full;
  }

  .user {
    @apply com-bg-white com-p-4 com-rounded-[10px];
  }

  .steps {
    @apply com-mt-4 com-mx-0 com-mb-0;

    nb-list {
      border: none;
      @apply com-rounded-[10px];

      nb-list-item {
        a {
          @apply com-text-sm;
        }

        .lab-step-title {
          @apply com-text-sm com-m-0 com-font-normal com-text-[#42aaff];
        }

        app-badge {
          @apply com-relative com-top-[10px];
        }
      }

      .active {
        @apply com-bg-[#42aaff];

        .lab-step-title {
          @apply com-text-white;
        }
      }
    }

    nb-list-item:not(:last-child) {
      border-bottom: 2px solid rgba(83, 110, 255, 0.35);
    }

    a {
      text-decoration: none;
      @apply com-text-[#42aaff];
    }
  }

  .related-labs {
    @apply com-mt-4 com-mx-0 com-mb-0 com-hidden;

    nb-card-header {
      border-bottom: none;
      @apply com-text-[#42aaff] com-text-base com-p-4 com-font-normal;
    }

    nb-card-body {
      @apply com-p-0;

      .details {
        transition: all 0.3s ease-in-out;
        @apply com-py-2 com-px-4;

        .name {
          @apply com-text-sm com-m-0;
        }

        .type {
          @apply com-text-[#42aaff] com-text-xs com-m-0;
        }

        &:hover {
          @apply com-bg-[#0000000d];
        }
      }
    }
  }

  .interactions {
    @apply com-m-4;

    app-votes-display {
      direction: rtl;

      &::ng-deep {
        p {
          @apply com-text-2xl;

          span {
            @apply com-text-[#42aaff];
          }

          nb-icon {
            @apply com-text-2xl;

            &:not(.voted-heart) {
              @apply com-text-[#42aaff];
            }
          }
        }
      }
    }

    .message-count {
      @apply com-text-[#42aaff] com-text-2xl;
    }

    nb-icon {
      @apply com-text-[#42aaff] com-text-2xl;
    }
  }
}
