@import '/projects/commudle-admin/src/assets/styles/variables';

.menu {
  position: sticky;
  top: 4.5rem;
  height: fit-content;
  width: 250px;

  nb-card {
    width: 100%;
    border: none;
    border-radius: $border-10;
  }

  .user {
    margin: 0 0 $space-16;
    transition: all 0.3s ease-in-out;

    nb-user {
      &::ng-deep {
        .user-picture.image {
          height: 3.5rem;
          width: 3.5rem;
        }

        .user-name {
          font-size: 1.125rem;
          line-height: 1.5rem;
        }

        .user-title {
          font-size: 0.875rem;
        }
      }
    }

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  .steps {
    margin: 0;

    nb-list {
      border: none;
      border-radius: $border-10;
    }

    nb-list-item:not(:last-child) {
      border-bottom: 2px solid rgba(83, 110, 255, 0.35);
    }

    .active {
      a {
        color: white;
      }

      background-color: $neon-blue;
    }

    a {
      text-decoration: none;
      color: $neon-blue;
    }
  }

  .related-labs {
    margin: $space-16 0 0;

    nb-card-header {
      font-size: 1.1rem;
      font-weight: 400;
      color: $neon-blue;
      padding: $space-16 $space-16 0.5 * $space-16;
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;

      .details {
        padding: $space-16;
        transition: all 0.3s ease-in-out;

        .name {
          margin: 0;
          font-size: 1rem;
        }

        .type {
          margin: 0;
          font-size: 0.9rem;
          color: $neon-blue;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }

  .interactions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: $space-16;

    app-votes-display {
      direction: rtl;

      &::ng-deep {
        p {
          font-size: 1.5rem;

          span {
            color: $neon-blue;
          }

          nb-icon {
            font-size: 1.5rem;

            &:not(.voted-heart) {
              color: $neon-blue;
            }
          }
        }
      }
    }

    .message-count {
      font-size: 1.5rem;
      color: $neon-blue;
    }

    nb-icon {
      font-size: 1.5rem;
      color: $neon-blue;
    }
  }
}
