<div class="lab-display-card">
    <div class="header-image">
        <img src="{{lab.header_image.url}}" alt="">
    </div>
    <div class="content d-flex flex-column justify-content-space-between">
        <!--padding-->

        <div class="title">
            <a href="/labs/{{lab.id}}"><h4>{{ lab.name | truncatetext:40 }}
            </h4></a>
            <p>Published: {{ lab.published_at | date}}</p>
        </div>

        
        <div class="author-stats d-flex justify-content-space-between">
            <div class="author">
                <div class="image">
                    <img src="{{lab.user.avatar}}">
                </div>
                <div class="details">
                    <p class="name">{{lab.user.name}}</p>
                    <p class="designation">{{ lab.user.about_me | truncatetext:20 }}
                    </p>
                </div>
            </div>
            <div class="stats d-flex">
                <div class="views d-flex align-items-center">
                    <p>102</p>
                    <nb-icon icon="eye"></nb-icon>
                </div>
                <div class="likes d-flex align-items-center">
                    <app-votes-display [icon]="'heart'" [votableId]="lab.id" [votableType]="'Lab'"></app-votes-display>             
                </div>
            </div>
        </div>
    </div>
</div>
