@import '/projects/commudle-admin/src/assets/styles/variables.scss';

.lab-display-card {
  width: 280px;
  height: 264px;
  border: 1px solid #72C1FF;
  border-radius: 5px;

  p, div, h4 {
    font-family: $primary-font-family;
    margin: 0; //to remove default margin
  }

  .header-image {
    width: 100%;
    height: 134px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    img {
      width: 100%;
    }

    border-bottom: 1px solid #72C1FF;
  }

  .content {
    height: 128px;
    padding: 12px 16px 8px;

    .title {
      a {
        text-decoration: none;
      }

      h4 {
        line-height: 23px;
        font-size: $fs-card-title;
        color: rgba(83, 110, 255, 1);
      }

      p {
        font-style: italic;
        font-weight: normal;
        font-size: $fs-card-secondary;
        color: $card-faded-text;
      }
    }

    .author-stats {
      .author {
        .image {
          width: 34px;
          height: 34px;
          margin-right: 6px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .details {
          .name {
            margin: 0;
            font-family: $primary-font-family;
            font-size: $fs-card-secondary;
            line-height: $fs-card-secondary;
            font-weight: 600;
            color: #536EFF;
          }

          .designation {
            margin: 0;
            font-family: $primary-font-family;
            font-size: $fs-card-secondary;
            line-height: $fs-card-secondary;
          }
        }
      }

      .stats {
        gap: 4px;

        p, nb-icon {
          font-size: $fs-card-secondary;
          color: $neon-blue;
        }
      }
    }
  }
}
