@import '/projects/commudle-admin/src/assets/styles/variables';

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.lab-display-card {
  width: 336px;
  height: max-content;
  border: 1px solid $maya-blue;
  border-radius: $border-5;

  p,
  div,
  h4 {
    margin: 0; //to remove default margin
  }

  .header-image {
    width: 100%;
    height: 134px;
    overflow: hidden;
    border-top-left-radius: $border-5;
    border-top-right-radius: $border-5;

    img {
      width: 100%;
    }

    border-bottom: 1px solid $maya-blue;
  }

  .content {
    height: 130px;
    padding: $space-12 $space-16 $space-8;

    .title {
      h4 {
        line-height: 23px;
        font-size: $fs-card-title;
        color: $neon-blue;
      }

      p {
        font-style: italic;
        font-weight: normal;
        font-size: $fs-card-secondary;
        color: rgba($gunmetal, 0.5);
      }
    }

    .author-stats {
      .stats {
        gap: $space-4;

        p,
        nb-icon {
          font-size: $fs-card-secondary;
          margin-right: $space-4;
          color: $neon-blue;
        }

        .views {
          p,
          nb-icon {
            margin-top: 1px;
          }
        }

        .likes {
          app-votes-display {
            &::ng-deep {
              p {
                span {
                  font-size: $fs-card-secondary;
                  color: $neon-blue;
                }
              }

              nb-icon {
                font-size: $fs-card-secondary;

                &:not(.voted-heart) {
                  color: $neon-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}
