<div class="header">
  <div
    *ngIf="speakersPageHeader"
    [ngStyle]="{ 'background-color': speakersPageHeader.background_color.hex }"
    class="background"
  >
    <div class="base-layout">
      <div class="content">
        <div class="header-text">
          <h1 class="heading">
            {{ speakersPageHeader.heading }}
          </h1>
          <p class="sub-heading">{{ speakersPageHeader.sub_heading }}</p>
          <div [innerHTML]="richText" class="content"></div>
        </div>
        <ng-container *ngIf="speakersPageHeader?.image_link">
          <a class="header-image" [href]="speakersPageHeader.image_link">
            <img [src]="imageUrl(speakersPageHeader.header_image).url()" class="com-w-full" />
          </a>
        </ng-container>
        <ng-container *ngIf="!speakersPageHeader?.image_link">
          <div class="header-image">
            <img [src]="imageUrl(speakersPageHeader.header_image).url()" class="com-w-full" />
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
