<nb-card class="admin-badges-list" >
    <nb-card-header class="d-flex justify-content-space-between align-items-center">
        Badges
        <button [routerLink]="['/sys-admin', 'badges', 'form']" ghost nbButton shape="round" size="small">
            <nb-icon icon="plus"></nb-icon>
            Create New Badge
        </button>
    </nb-card-header>
    <nb-card-body>
        <div class="badge-list-container">
            <nb-list>
            
            </nb-list>
        </div>
    </nb-card-body>
</nb-card>