<nb-card class="admin-badges-list" >
    <nb-card-header class="d-flex justify-content-space-between align-items-center">
        Badges
        <div>
            <button [routerLink]="['/sys-admin', 'badges', 'form']" ghost nbButton shape="round" size="small">
                <nb-icon icon="plus"></nb-icon>
                Create New Badge
            </button>
            <button [routerLink]="['/sys-admin', 'badges', 'assign']" ghost nbButton shape="round" size="small">
                <nb-icon icon="plus"></nb-icon>
                Assign a Badge
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="badge-list-container">
            <nb-list>
                <nb-list-item *ngFor="let badge of badges; let i = index" class="d-flex justify-content-space-between">
                    <div class="badge-details">
                        <p class="title">
                            {{badge.name}}
                            ({{badge.id}})
                            <nb-tag [text]="badge.badge_type" size="tiny" status="info"></nb-tag>
                        </p>
                        <div *ngIf="badge.image" class="badge-image">
                            <img [src]="badge.image.url | safeUrl" alt="No preview available"/>
                        </div>
                    </div>
                    <div class="controls d-flex">
                        <button
                          [queryParams]="{badgeId: badge.id}"
                          [routerLink]="['/sys-admin', 'badges', 'form']"
                          nbButton
                          outline
                          size="tiny"
                          status="info"
                        >
                          Edit
                        </button>
                        <button (click)="confirmDeleteBadgeOpen(badge.id,i)" nbButton outline size="tiny" status="danger">Delete</button>
                    </div>
                </nb-list-item>
            </nb-list>
            <button (click)="getBadges()" *ngIf="badges.length !== total" fullWidth ghost nbButton>Get more badges</button>
        </div>
    </nb-card-body>

    <ng-template #confirmDeleteBadge let-ref="dialogRef">
        <nb-card>
          <nb-card-header class="text-center">Confirmation</nb-card-header>
          <nb-card-body>
            <p>Are you sure you want to delete this Badge?</p>
          </nb-card-body>
          <nb-card-footer class="d-flex justify-content-space-between">
            <button (click)="deleteBadge(); ref.close()" ghost nbButton status="success">Yes</button>
            <button (click)="ref.close()" nbButton status="danger">No</button>
          </nb-card-footer>
        </nb-card>
    </ng-template>
</nb-card>