<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <nb-card class="attended-members">
        <nb-card-body>
          <ng-container *ngIf="!isLoading; else loading">
            <p class="header-text">People who attended the event with you!</p>

            <input
              (ngModelChange)="queryChanged.next($event)"
              [ngModel]="query"
              fullWidth
              nbInput
              placeholder="Search for people by name..."
              shape="semi-round"
              type="text"
            />

            <app-attended-members-card *ngFor="let member of members" [user]="member"></app-attended-members-card>

            <app-pagination
              (goTo)="page = $event; getMembers()"
              (next)="page = $event; getMembers()"
              (previous)="page = $event; getMembers()"
              *ngIf="total > 0"
              [current]="page"
              [total]="count"
            ></app-pagination>
          </ng-container>

          <ng-template #loading>
            <app-loading-spinner></app-loading-spinner>
          </ng-template>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
