<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <nb-card [nbSpinner]="members.length === 0" class="attended-members">
        <nb-card-body>
          <p class="header-text">People who attended the event with you!</p>
          <div class="users com-grid com-gap-6 com-grid-cols-1 md:com-grid-cols-2 lg:com-grid-cols-3">
            <ng-container *ngFor="let member of members">
              <app-user-profile-card-large
                [showFollowButton]="true"
                [truncateDesignation]="false"
                [user]="member"
              ></app-user-profile-card-large>
            </ng-container>
          </div>

          <!--          <div *ngIf="canLoadMore" class="load-more">-->
          <!--            <button (click)="getMembers()" nbButton outline size="small" status="info">Load More...</button>-->
          <!--          </div>-->
          <app-pagination
            (goTo)="page = $event; getMembers()"
            (next)="page = $event; getMembers()"
            (previous)="page = $event; getMembers()"
            *ngIf="total > 0"
            [current]="page"
            [total]="count"
            class="com-mt-8"
          ></app-pagination>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
