<div *ngIf="dataFormEntity">

  <div>
    <nb-card *ngIf="formClosed">
      <nb-card-body>
        This form is closed!
      </nb-card-body>
    </nb-card>
  </div>

  <div *ngIf="!formClosed">
    <nb-card>
      <nb-card-body>
        <h4>{{ dataFormEntity.name }}</h4>
      </nb-card-body>
    </nb-card>

    <nb-card *ngIf="showProfileForm">
      <nb-card-header>
        Let's Update Your Basic Profile!
      </nb-card-header>
      <nb-card-body>
        <div>
          <app-basic-user-profile></app-basic-user-profile>
        </div>
      </nb-card-body>

    </nb-card>


    <nb-card>

      <nb-card-header>
        Filling this form should be easy!
      </nb-card-header>
      <nb-card-body>
        <app-data-form-fill
          [dataFormId]="dataFormEntity.data_form_id"
          [existingResponses]="selectedFormResponse"
          (formSubmitted)="submitForm($event)"
        >
        </app-data-form-fill>
      </nb-card-body>
    </nb-card>
  </div>




</div>
