<div>
  <a [routerLink]="['/communities', featuredCommunity.kommunity.slug]" target="_blank">
    <div class="featured-community">
      <div *ngIf="featuredCommunity.kommunity.logo_image.url" class="image">
        <img
          [alt]="featuredCommunity.kommunity.name"
          [src]="featuredCommunity.kommunity.logo_image.url"
          [title]="featuredCommunity.kommunity.name"
          class="avatar"
        />
      </div>
      <div class="featured-communities-details">
        <div class="details">
          <p class="community-name">{{ featuredCommunity.kommunity.name }}</p>
          <p class="mini-description">
            {{ featuredCommunity.reason }}
          </p>
        </div>
        <button
          *ngIf="!isMember"
          (click)="onJoinCommunityClick()"
          nbButton
          status="info"
          size="small"
          shape="semi-round"
          class="join-button"
        >
          <fa-icon [icon]="faPlus"></fa-icon>
          Join
        </button>
        <button
          *ngIf="isMember"
          (click)="onJoinCommunityClick()"
          nbButton
          outline
          status="info"
          size="small"
          shape="semi-round"
          class="join-button"
        >
          <fa-icon [icon]="faCheck"></fa-icon>
          Joined
        </button>
      </div>
    </div>
  </a>
</div>
