<div class="main-container">
  <div class="profile-visited">
    <div class="profile-visited-text">
      <p class="icon"><fa-icon [icon]="faEye"></fa-icon></p>
      <p>Who Visited Your Profile</p>
    </div>
    <p class="profile-visited-count">0</p>
  </div>
  <div class="talks-given">
    <div class="talks-given-text">
      <p class="icon"><fa-icon [icon]="faEye"></fa-icon></p>
      <p>Talks Given</p>
    </div>
    <p class="talks-given-count">0</p>
  </div>
  <p class="complete-profile">Complete your profile</p>
  <div class="labs-published">
    <div class="labs-published-text">
      <p class="icon"><fa-icon [icon]="faFlask"></fa-icon></p>
      <p>Total Labs Published</p>
    </div>
    <p class="labs-published-count">0</p>
  </div>
  <div class="builds-published">
    <div class="builds-published-text">
      <p class="icon"><fa-icon [icon]="faLightbulb"></fa-icon></p>
      <p>Total Builds Published</p>
    </div>
    <p class="builds-published-count">0</p>
  </div>
  <div class="attended-events">
    <div class="attended-events-text">
      <p class="icon"><fa-icon [icon]="faCalendarCheck"></fa-icon></p>
      <p>Attended Events</p>
    </div>
    <p class="attended-events-count">0</p>
  </div>
  <div class="content-published">
    <div class="content-published-text">
      <p class="icon"><fa-icon [icon]="faBookmark"></fa-icon></p>
      <p>Content Published</p>
    </div>
    <p class="content-published-count">0</p>
  </div>
  <div class="social-links">
    <div class="social-links-text">
      <p class="icon"><fa-icon [icon]="faLink"></fa-icon></p>
      <p>Social Links</p>
    </div>
    <p class="social-links-count">0</p>
  </div>
  <a [routerLink]="['/users', currentUser.username]" class="profile-link"
    >Complete Your Profile <fa-icon [icon]="faArrowRight"></fa-icon
  ></a>
</div>
