<div class="user-feed-input">
  <nb-form-field [formGroup]="postData">
    <nb-icon icon="edit-2" nbPrefix></nb-icon>
    <input formControlName="content" fullWidth maxlength="800" nbInput placeholder="Share your thoughts" type="text">
    <button (click)="submitPost()" [disabled]="!postData.valid" ghost nbButton nbSuffix status="primary">
      <nb-icon icon="paper-plane"></nb-icon>
    </button>
  </nb-form-field>
  <div class="user-feed-input-suffix">
    <button (click)="onDialogOpen(imagesDialog)" ghost nbButton>
      <nb-icon icon="camera"></nb-icon>
      <span *ngIf="imagePreviews.length > 0">{{imagePreviews.length}}</span>&nbsp;Photos
    </button>
    <button (click)="onDialogOpen(tagsDialog)" ghost nbButton>
      <nb-icon icon="hash"></nb-icon>
      <span *ngIf="tags.length > 0">{{tags.length}}</span>&nbsp;Tags
    </button>
  </div>
</div>

<ng-template #imagesDialog let-ref="dialogRef">
  <nb-card class="user-feed-input-images">
    <nb-card-header class="d-flex align-items-center justify-content-space-between">
      Add images
      <button (click)="ref.close()" ghost nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body class="d-flex flex-column">
      <div>You can add a maximum of 3 images each having a maximum size of 2MB</div>
      <input (change)="detectFiles($event)" accept="image/*" fullWidth multiple nbInput type="file">
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #tagsDialog let-ref="dialogRef">
  <nb-card class="user-feed-input-tags">
    <nb-card-header class="d-flex align-items-center justify-content-space-between">
      Add tags
      <button (click)="ref.close()" ghost nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body class="d-flex flex-column">
      <div>You can add a maximum of 10 tags</div>
      <app-tag (tagAdd)="onTagAdd($event)" (tagDelete)="onTagDelete($event)" [editable]="true" [tags]="tags"></app-tag>
    </nb-card-body>
  </nb-card>
</ng-template>

