@import '/projects/commudle-admin/src/assets/styles/variables';

.user-feed-input {
  padding: $space-20 $space-24;
  border: 1px solid $platinum;
  border-radius: $border-10;

  nb-form-field {
    input {
      border: 1px solid $platinum;
      border-radius: $border-10;
    }

    button {
      border-radius: $border-10;
    }
  }

  .user-feed-input-suffix {
    margin-top: $space-8;

    button {
      text-transform: capitalize;
      color: $cadet;
      font-weight: $fw-400;

      nb-icon {
        color: rgba($brilliant-azure, 0.5);
      }
    }
  }
}

.user-feed-input-images, .user-feed-input-tags {
  width: 320px;

  nb-card-body {
    gap: $space-8;
  }
}
