<a [routerLink]="['/users', user.username]">
  <div class="user-profile-medium d-flex align-items-center">
    <div class="avatar">
      <img alt="{{user.name}}" src="{{user.avatar}}" title="{{user.name}}">
    </div>
    <div class="details">
      <div class="name d-flex align-items-center">
        {{user.name | truncatetext:maxNameLength}}
        <img *ngIf="user.is_expert" alt="Expert Tick" src="/assets/images/Expert-Tick.svg" title="Expert Tick">
      </div>
      <p class="designation">{{(user.designation || '--') | truncatetext:maxDesignationLength}}</p>
    </div>
  </div>
</a>
