.page-container {
  .event {
    max-width: 1000px;
    margin: 0 auto;
    .header {
      .image {
        width: 100%;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }

    .community-details {
      width: fit-content;
      margin-bottom: 1rem;
    }

    .filler {
      padding: 0.5rem;
      // .community-details {
      //   // display: flex;
      //   // align-items: center;
      //   // .logo {
      //   //   width: 50px;
      //   //   img {
      //   //     width: 100%;
      //   //   }
      //   // }

      //   // .name {
      //   //   margin: 0 1rem;
      //   // }
      // }

      .event-details {

      }
    }

    .page-menu {
      position: fixed;
      background-color: white;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 10;


      nb-card {
        margin: 0;
      }

      box-shadow: 2px -5px 15px -7px lightgrey;

      .menu-items {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        justify-content: space-evenly;
        a {
          cursor: pointer;
          margin: 0 0.5rem;
          text-decoration: none;
          color: black;
          span {
            display: none;
          }
        }
        nb-icon {

          font-size: 1.5rem;
        }
      }
      @media screen and (min-width: 800px){
        position: sticky;
        top: 3.5rem;
        box-shadow: none;
        nb-card {
          margin-bottom: 1rem;
          .menu-items {
            justify-content: flex-start;
            a {
              margin-right: 1.5rem;
              span {
                display: inline;
              }
            }
          }
        }

      }
    }


    .event-components {
      display: flex;
      flex-direction: column;
      .highlighted-info {
        order: 1;
      }

      .info {
        order: 2;
      }




      @media screen and (min-width: 640px) {
        flex-direction: row;
        .highlighted-info {
          flex-grow: 1;
          order: 2;
          width: 30%;
          height: fit-content;
          position: sticky;
          top: 5.5rem;
        }

        .info {
          flex-grow: 3;
          order: 1;
          width:70%;
        }

        .full-width-column {
          width: 100% !important;
        }
      }

      .event-chat {
        nb-card {
          height: 70vh;
          ::ng-deep {
            nb-card-body {
              overflow: hidden;
            }
          }

        }
      }
    }
  }

}
