@import "projects/commudle-admin/src/assets/styles/variables.scss";

.page-container {
  .event {
    max-width: 1280px;
    margin: 0 auto;
    .header {
      .image {
        width: 100%;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }

    .community-details {
      width: fit-content;
      margin-bottom: 1rem;
    }

    .filler {
      padding: 0.5rem;
    }

    .event-components {

      .info {
        order: 1;
      }

      .highlighted-info {
        order: 2;
        .timings {
          background-color: white;
          padding: 0.5rem;
          text-align: center;

          @media screen and (min-width: 640px) {
            text-align: left;
          }
        }

        .past-session-link {
          background-color: white;
          padding: 0.5rem;
          margin-top: 3px;
          p {
            text-align: center;
            a {
              text-decoration: none;
              nb-icon {
                font-size: 2rem;
              }
            }
          }
        }
      }

      @media screen and (min-width: 640px) {
        flex-direction: row;

        ::ng-deep {
          > div {
            nb-card {
              margin: 0px;
            }
          }
        }

        .highlighted-info {
          flex-grow: 1;
          order: 2;
          width: 30%;
          height: fit-content;
          position: sticky;
          top: 5.5rem;
          margin-left: $space-8;
          display: flex;
          flex-direction: column;
          gap: 16px;
        }

        .info {
          flex-grow: 3;
          order: 1;
          width: 70%;
          margin-right: $space-8;

          .description {
            margin-bottom: $space-16;
          }
        }

        .full-width-column {
          width: 100% !important;
        }
      }

      .event-chat {
        nb-card {
          height: 70vh;
          ::ng-deep {
            nb-card-body {
              overflow: hidden;
            }
          }
        }
      }
    }

    .page-menu {
      position: fixed;
      background-color: white;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 10;
      margin: $space-16 0px;
      nb-card {
        margin: 0;
      }

      box-shadow: 2px -5px 15px -7px lightgrey;

      .menu-items {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        justify-content: space-evenly;
        a {
          cursor: pointer;
          margin: 0 0.5rem;
          text-decoration: none;
          color: black;
          span {
            display: none;
            font-size: 0.9rem;
          }
        }
        nb-icon {
          font-size: 1.2rem;
        }
      }

      @media screen and (min-width: 800px) {
        position: sticky;
        top: 3.5rem;
        box-shadow: none;
        nb-card {
          .menu-items {
            justify-content: flex-start;
            a {
              margin-right: 1.5rem;
              span {
                display: inline;
              }

              nb-icon {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
