.base-layout {
  .container {
    .home-event-menu {
      @apply com-sticky com-top-14 com-z-10;

      nb-card-body {
        @apply com-px-0;

        nb-actions {
          nb-icon {
            @apply com-text-xl;
          }

          span {
            @apply com-text-base com-ml-2 com-font-semibold;
          }
        }
      }
    }

    .two-column-layout {
      .home-event-discussion {
        nb-card-body {
          @apply com-p-0;
          overflow: initial;
        }
      }
    }

    app-messages {
      @apply com-block com-h-96;
    }
  }
}

app-share-button {
  ::ng-deep {
    .share-button {
      button {
        width: 95%;
        background-color: white !important;
      }
    }
  }
}
