<div class="page-container page-padding">
  <div *ngIf="event && community" class="event">
    <div class="header">
      <div class="community-details">
        <app-community-badge [background]="'bg-white'" [community]="community"></app-community-badge>
      </div>
      <!-- this will either be an image or just a plain background with the name of the event -->
      <div *ngIf="!event.header_image_path" class="filler">
        <div class="event-details">
          <h1 class="name">{{ event.name }}</h1>
        </div>
      </div>
      <div *ngIf="event.header_image_path" class="image">
        <img alt="{{ event.name }}" src="{{ event.header_image_path }}" title="{{ event.name }}">
      </div>
    </div>

    <div class="page-menu">
      <nb-card>
        <nb-card-body>
          <div class="menu-items">
            <a (click)="scroll(description)">
              <nb-icon icon="info-outline"></nb-icon>
              <span>Details</span>
            </a>
            <a (click)="scroll(updates)" *ngIf="hasUpdates">
              <nb-icon icon="star-outline" status="warning"></nb-icon>
              <span>Updates</span>
            </a>
            <a (click)="scroll(agenda)" *ngIf="hasAgenda">
              <nb-icon icon="pin-outline" status="primary"></nb-icon>
              <span>Schedule</span>
            </a>
            <a (click)="scroll(speakers)" *ngIf="hasSpeakers">
              <nb-icon icon="award" status="info"></nb-icon>
              <span>Speakers</span>
            </a>
            <a (click)="scroll(eventChat)" *ngIf="discussionChat">
              <nb-icon icon="message-square-outline"></nb-icon>
              <span>Comments</span>
            </a>
            <a (click)="scroll(sponsors)" *ngIf="hasSponsors">
              <nb-icon icon="briefcase-outline"></nb-icon>
              <span>Sponsors</span>
            </a>
            <a (click)="scroll(collaborationCommunities)" *ngIf="hasCollaborationCommunities">
              <nb-icon icon="people" status="basic"></nb-icon>
              <span>Collaborations</span>
            </a>
            <a (click)="scroll(volunteers)" *ngIf="hasVolunteers">
              <nb-icon icon="people-outline" status="basic"></nb-icon>
              <span>Volunteers</span>
            </a>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="event-components d-flex flex-column">
      <div [ngClass]="{'hidden': !(hasOpenForms || hasInterestedMembers || event.start_time)}" class="highlighted-info">
        <!-- links to forms + event slides + people who went -->
        <!-- this will show the link to the forms if the event is live -->
        <!-- else this will just show the links to event slides -->
        <app-highlighted-links (hasOpenForms)="hasOpenForms = $event"
                               *ngIf="event.editable || event.event_status.name == EEventStatuses.OPEN"
                               [community]="community" [event]="event"></app-highlighted-links>
        <div *ngIf="event.start_time && event.end_time" class="timings">
          <p>
            <nb-icon icon="clock-outline"></nb-icon>
            <span>
              {{ momentTimezone.tz(moment.utc(event.start_time), event.timezone).format('dddd') }}
            </span>
            <br>
            <small>
              <strong>
                {{ momentTimezone.tz(moment.utc(event.start_time), event.timezone).format('Do MMM, YYYY h:mm A') }}
              </strong>
              to
              <strong *ngIf="event.end_time.getDate != event.start_time.getDate">
                {{ momentTimezone.tz(moment.utc(event.end_time), event.timezone).format('dddd Do MMM, YYYY h:mm A') }}
              </strong>
              <strong *ngIf="event.end_time.getDate === event.start_time.getDate">
                {{ momentTimezone.tz(moment.utc(event.end_time), event.timezone).format('h:mm A') }}
              </strong>
              <span *ngIf="event.timezone">
                <br>
                <nb-icon icon="globe"></nb-icon>
                {{ momentTimezone.tz(event.timezone).format('z') }}
              </span>
            </small>
          </p>
        </div>
        <div *ngIf="(moment() >= moment(event.end_time)) && !event.custom_agenda" class="past-session-link">
          <p class="title text-info">
            <a [routerLink]="['/communities', community.slug, 'events', event.slug, 'session']">
              <small>
                <nb-icon icon="monitor-outline"></nb-icon>
              </small>
              <br>
              Click here to view event session
            </a>
          </p>
        </div>
        <div class="attendees">
          <app-attending-members (hasInterestedMembers)="hasInterestedMembers = $event" [community]="community"
                                 [event]="event"></app-attending-members>
        </div>
      </div>
      <div [ngClass]="{'full-width-column': hasOpenForms || hasInterestedMembers}" class="info">
        <div class="live-sessions">
          <app-live-sessions [community]="community" [event]="event"></app-live-sessions>
        </div>
        <div #updates class="updates">
          <!-- the priority of this depends on the status
            of the event, it should be at the top if the event is yet to go live  -->
          <app-event-updates (hasUpdates)="hasUpdates = $event" [community]="community"
                             [event]="event"></app-event-updates>
        </div>
        <div #description class="description">
          <app-event-description [community]="community" [event]="event"></app-event-description>
        </div>
        <div #agenda class="agenda">
          <app-agenda (hasAgenda)="hasAgenda = $event" [community]="community" [event]="event"></app-agenda>
        </div>
        <div #speakers class="all-speakers">
          <app-speakers (hasSpeakers)="hasSpeakers = $event" [community]="community" [event]="event"></app-speakers>
        </div>
        <div #sponsors class="sponsors">
          <app-sponsors (hasSponsors)="hasSponsors = $event" [event]="event"></app-sponsors>
        </div>
        <div #collaborationCommunities class="partner-communities">
          <app-collaboration-communities (hasCollaborationCommunities)="hasCollaborationCommunities = $event"
                                         [community]="community" [event]="event"></app-collaboration-communities>
        </div>
        <div #eventChat class="event-chat">
          <!-- this is a unique case where we are giving a card as a wrapper because the chat component should be able to fit on any surface -->
          <nb-card *ngIf="discussionChat">
            <nb-card-header>
              <nb-icon icon="message-square-outline"></nb-icon>
              Comments
            </nb-card-header>
            <nb-card-body>
              <app-discussion-chat [discussion]="discussionChat"></app-discussion-chat>
            </nb-card-body>
          </nb-card>
        </div>
        <div #volunteers class="volunteers">
          <app-team (hasVolunteers)="hasVolunteers = $event" [community]="community" [event]="event"></app-team>
        </div>
        <div class="tags"></div>
      </div>
    </div>
  </div>
</div>
