@import '/projects/commudle-admin/src/assets/styles/variables';

.community-list-card {
  position: relative;
  width: 248px;
  height: 296px;
  border: 0.5px solid $silver-sand;
  border-radius: $border-8;
  padding: $space-16;

  .prefix {
    .image {
      min-width: 48px;
      width: 48px;
      height: 48px;
      border: 0.5px solid $silver-sand;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: inherit;
        object-fit: contain;
      }
    }

    .details {
      margin-left: $space-8;

      .name {
        font-weight: $fw-600;
        font-size: $fs-h5;
        line-height: 16px;
        color: $gunmetal;
      }

      .member-count {
        font-style: italic;
        font-size: $fs-h6;
        line-height: 14px;
        color: #777777;
      }
    }
  }

  .tags {
    margin-top: $space-16;
    display: flex;
    flex-wrap: wrap;
    gap: $space-8;

    .tag {
      padding: $space-4 $space-10;
      border-radius: $border-5;
      background-color: $azureish-white;
      font-size: $fs-h7;
      line-height: 12px;
      color: $gunmetal;
    }
  }

  .about {
    margin-top: $space-16;
    font-size: $fs-h6;
    line-height: 14px;
    color: rgba($gunmetal, 0.85);
  }

  .suffix {
    position: absolute;
    bottom: 16px;
    right: 16px;

    .members {
      display: inline-flex;
      flex-direction: row-reverse;
      width: 32px;
      height: 20px;
      margin-right: $space-36;

      .avatar {
        position: relative;
        border: 1px solid $white;
        border-radius: $border-50;
        overflow: hidden;
        width: 20px;

        &:not(:last-child) {
          margin-left: -$space-30;
        }

        img {
          width: 100%;
          display: block;
        }
      }
    }

    .join-community {
      button {
        padding: $space-8;
        height: 32px;
        background: $white;
        border: 1px solid $silver-sand;
        border-radius: $border-4;
        font-weight: normal;
        font-size: $fs-h5;
        line-height: 16px;
        color: $neon-blue;
        text-transform: capitalize;
      }
    }
  }
}
