<nb-card class="communities-posts">
  <nb-card-body>
    <p class="heading">What our Experts are saying today...</p>
    <nb-list class="posts-list">
      <nb-list-item *ngFor="let post of posts" [routerLink]="['/users', post.user.username, 'feed']" class="clickable">
        <div class="image">
          <img alt="{{post.user.name}}" src="{{post.user.avatar}}" title="{{post.user.name}}" />
        </div>
        <div class="content">
          <div class="name">
            {{post.user.name | truncatetext:10}}
            <span class="username">@{{post.user.username | truncatetext:10}}</span>
          </div>
          <div class="post">{{post.content}}</div>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
