<nb-card [nbSpinner]="eventLoader">
  <nb-card-body>
    <div class="events">
      <div *ngIf="upcomingEvents.length >= 1">
        <h3 class="com-text-left com-pl-2 com">Upcoming Events</h3>
        <a
          *ngFor="let event of upcomingEvents"
          [routerLink]="['/communities', event.kommunity_slug, 'events', event.slug]"
        >
          <nb-card class="com-mb-4">
            <nb-card-body class="d-flex com-flex-col com-overflow-hidden">
              <div class="header-image-upcoming">
                <span>
                  <app-badge
                    *ngIf="moment(event.start_time) <= moment() && moment(event.end_time) >= moment()"
                    [color]="'rgb(255 45 45)'"
                    [text]="'Live'"
                  ></app-badge>
                </span>
                <img
                  *ngIf="event.header_image_path"
                  alt="{{ event.name }}"
                  src="{{ event.header_image_path }}"
                  title="{{ event.name }}"
                />
                <nb-icon *ngIf="!event.header_image_path" icon="link" status="primary"></nb-icon>
              </div>
              <div class="upcoming-details">
                <div class="com-flex com-justify-between">
                  <p class="event-name">{{ event.name }}</p>
                  <button nbButton size="small"><nb-icon icon="location"></nb-icon>Offline</button>
                </div>
                <p class="timing">{{ moment(event.start_time).format('dddd, MMM Do, YYYY - h:mm a') }} onwards</p>
                <div class="location-attended">
                  <span>
                    <nb-icon icon="location"></nb-icon>
                    <p>{{ event.location }}</p>
                  </span>
                  <div class="com-flex com-justify-between">
                    <span>
                      <nb-icon icon="users"></nb-icon>
                      <p>{{ event.attended_members }}</p>
                    </span>
                    <p class="com-font-medium com-text-lg">Register</p>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </a>
      </div>

      <div *ngIf="pastEvents.length >= 1" class="past">
        <h3 class="com-text-left com-pl-2">Past Events</h3>
        <div class="com-flex com-flex-col">
          <a
            *ngFor="let event of pastEvents"
            [routerLink]="['/communities', event.kommunity_slug, 'events', event.slug]"
            class="com-flex com-flex-col com-flex-wrap"
          >
            <nb-card class="com-h-full com-w-full com-flex com-flex-col com-flex-wrap com-mb-4">
              <nb-card-body class="d-flex com-flex-col com-overflow-hidden">
                <div class="header-image-past">
                  <img
                    *ngIf="event.header_image_path"
                    alt="{{ event.name }}"
                    src="{{ event.header_image_path }}"
                    title="{{ event.name }}"
                  />
                  <nb-icon *ngIf="!event.header_image_path" icon="link" status="primary"></nb-icon>
                </div>
                <div class="past-details">
                  <div class="com-flex com-flex-space-between">
                    <span>
                      <p class="completed">
                        Completed
                        <nb-icon
                          icon="checkmark-circle-2"
                          nbTooltip="Completed"
                          status="success"
                          class="com-text-xs com-mx-0"
                        ></nb-icon>
                      </p>
                    </span>
                    <span class="com-ml-auto">
                      <p class="attended">Attended Members :</p>
                    </span>
                  </div>
                  <p class="event-name">{{ event.name }}</p>
                  <p class="timing">{{ moment(event.start_time).format('dddd, MMM Do, YYYY') }}</p>
                  <a class="view-details">View Details</a>
                </div>
              </nb-card-body>
            </nb-card>
          </a>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
