<nb-card [nbSpinner]="eventLoader">
  <nb-card-body>
    <div class="events">
      <section *ngIf="upcomingEvents.length >= 1" class="com-mx-auto com-my-0">
        <p class="heading">Upcoming Events</p>
        <div class="com-flex com-flex-row com-flex-wrap com-gap-4">
          <a
            *ngFor="let event of upcomingEvents"
            [routerLink]="['/communities', event.kommunity_slug, 'events', event.slug]"
          >
            <div>
              <nb-card
                class="upcoming"
                [ngClass]="{
                  'd-flex flex-row md:com-w-[600px]': upcomingEvents.length > 1,
                  'd-flex flex-col md:com-w-[1220px]': upcomingEvents.length === 1
                }"
              >
                <nb-card-body class="d-flex com-flex-col">
                  <div *ngIf="event.header_image_path">
                    <commudle-banner-image
                      [headerImagePath]="event.header_image_path"
                      [name]="event.name"
                      [width]="upcomingEvents.length === 1 ? '1220px' : '600px'"
                      [height]="upcomingEvents.length === 1 ? '680px' : '334px'"
                    ></commudle-banner-image>
                    <app-badge
                      *ngIf="moment(event.start_time) <= moment() && moment(event.end_time) >= moment()"
                      [color]="'rgb(255 45 45)'"
                      [text]="'Live'"
                      class="com-absolute com-top-0"
                    ></app-badge>
                  </div>
                  <div *ngIf="!event.header_image_path">
                    <nb-icon icon="link" status="primary" class="com-m-auto"></nb-icon>
                  </div>
                  <div class="upcoming-details">
                    <div class="com-h-[130px]">
                      <div class="md:com-flex md:com-flex-row md:com-justify-between md:com-items-start">
                        <div>
                          <p class="event-name">{{ event.name }}</p>
                          <p class="timing">
                            {{ moment(event.start_time).format('dddd, MMM Do, YYYY - h:mm a') }} onwards
                          </p>
                        </div>
                        <button nbButton status="none" size="small" class="event_type_button">
                          <fa-icon [icon]="faMapPin" class="com-mr-1 com-text-red-500"></fa-icon>
                          {{ event.event_type }} Event
                        </button>
                      </div>
                    </div>

                    <div class="interested_members">
                      <div class="com-flex com-items-center">
                        <nb-icon icon="people-outline" class="people-outline"></nb-icon>
                        <span>{{ event.interested_members_count }} Interested Members</span>
                      </div>
                      <div>
                        <p class="register">Register</p>
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </a>
        </div>
      </section>

      <section *ngIf="pastEvents.length >= 1" class="past-events">
        <h3 class="heading">Past Events</h3>
        <div class="com-flex com-flex-row com-flex-wrap com-gap-4 com-mx-30px">
          <a
            *ngFor="let event of pastEvents"
            [routerLink]="['/communities', event.kommunity_slug, 'events', event.slug]"
          >
            <nb-card class="past">
              <nb-card-body>
                <div *ngIf="event.header_image_path">
                  <commudle-banner-image
                    [headerImagePath]="event.header_image_path"
                    [name]="event.name"
                    [width]="'390px'"
                    [height]="'230px'"
                  ></commudle-banner-image>
                </div>
                <div *ngIf="!event.header_image_path" class="com-h-[148px] com-flex com-items-center com-text-center">
                  <nb-icon icon="link" status="primary" class="com-m-auto"></nb-icon>
                </div>
                <div class="past-details">
                  <div class="com-h-[124px] com-mb-30px">
                    <div class="com-flex com-items-center com-align-middle">
                      <span class="completed">
                        Completed
                        <nb-icon
                          icon="checkmark-circle-2"
                          nbTooltip="Completed"
                          status="success"
                          class="com-m-auto"
                        ></nb-icon>
                      </span>
                    </div>
                    <p class="event-name">{{ event.name }}</p>
                    <p class="timings">{{ moment(event.start_time).format('dddd, MMM Do, YYYY') }}</p>
                  </div>
                  <a class="view-details">View Details</a>
                </div>
              </nb-card-body>
            </nb-card>
          </a>
        </div>
      </section>
    </div>
  </nb-card-body>
  ></nb-card
>
