nb-card {
  @apply com-mx-0 com-my-4;

  nb-card-body {
    @apply com-p-0 com-overflow-hidden;

    .events {
      @apply com-bg-white com-rounded-xl com-flex com-flex-wrap;

      .heading {
        @apply com-pl-4 com-font-semibold com-text-4xl com-leading-5;
      }

      a {
        @apply com-relative;
        text-decoration: none;

        .upcoming {
          @apply com-border com-border-solid com-border-Silver-Sand com-mb-4;
          @apply com-overflow-hidden hover:com-shadow-Card com-rounded-md;
          @apply com-flex com-flex-row com-flex-wrap;

          nb-card-body {
            .event-image-container {
              @apply com-w-full com-h-auto
              md:com-w-[1214px] md:com-h-[676px];
              position: relative;
              display: flex;
              overflow: hidden;
              justify-content: center;
              align-items: center;

              .event-background {
                @apply com-mx-auto md:com-w-full com-w-[calc(100%-30px)];
                position: absolute;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                filter: blur(8px);
                -webkit-filter: blur(8px);
                z-index: 0;
              }

              .event-image {
                @apply com-object-contain md:com-w-[1214px] md:com-h-[676px] com-w-full com-h-auto;
                position: relative;
                z-index: 1;
              }

              nb-icon {
                @apply com-text-5xl;
              }
            }

            .upcoming-details {
              @apply com-px-6 com-border-t com-border-x-0 com-border-b-0 com-border-solid com-border-Silver-Sand;

              .event-name {
                @apply com-font-semibold com-text-[32px] com-leading-7 com-mb-0 com-text-gunmetal
                com-h-[60px];
              }

              .timing {
                @apply com-text-base com-mb-2 com-font-normal com-text-AuroMetalSaurus com-p-0 com-mt-0;
              }

              .location {
                @apply com-mt-3 com-text-base com-font-normal com-py-2 com-text-AuroMetalSaurus;

                nb-icon {
                  @apply com-w-[20px] com-h-[16px] com-mr-1;
                }
              }

              .interested_members {
                @apply com-m-0 com-text-base com-font-normal com-py-1 com-text-AuroMetalSaurus;
                @apply com-flex com-justify-between com-items-center;

                nb-icon {
                  @apply com-w-[20px] com-h-[16px] com-mr-1;
                }
              }

              // .members-count {
              //   @apply com-m-0 com-text-base com-font-normal com-py-2 com-text-AuroMetalSaurus;

              //   nb-icon {
              //     @apply com-w-[20px] com-h-[16px];
              //   }
              // }

              .register {
                @apply com-font-medium com-text-lg com-text-primary-500;
              }
            }
          }
        }
      }

      .past-events {
        @apply com-mx-2 com-px-2 com-flex com-flex-col;

        a {
          @apply com-relative md:com-w-1/3 com-w-full;
          text-decoration: none;

          .past {
            @apply com-border com-border-solid com-border-Silver-Sand com-m-4;
            @apply com-overflow-hidden hover:com-shadow-Card com-rounded-md;

            .no-image-path {
              @apply com-w-full md:com-w-[390px] md:com-h-[230px] com-h-auto com-flex com-justify-center com-items-center;
            }

            .event-image-container-past {
              @apply com-w-full md:com-w-[390px] md:com-h-[230px] com-h-auto;
              position: relative;
              display: flex;
              overflow: hidden;
              justify-content: center;
              align-items: center;

              .event-background-past {
                @apply com-mx-auto md:com-w-full com-w-[calc(100%-30px)];
                position: absolute;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                filter: blur(8px);
                -webkit-filter: blur(8px);
                z-index: 0;
              }

              .event-image-past {
                @apply com-w-full md:com-w-[390px] md:com-h-[230px] com-h-auto;
                position: relative;
                z-index: 1;
              }
            }

            nb-icon {
              @apply com-text-5xl;
            }

            .past-details {
              @apply com-border-t com-border-x-0 com-border-b-0 com-border-solid com-border-Silver-Sand;
              @apply com-text-3xl com-font-normal com-mb-4 com-overflow-hidden;

              .completed {
                @apply com-flex com-text-sm com-font-medium com-text-[#1B9F68] com-mx-4 com-mb-0;

                nb-icon {
                  @apply com-mr-2 com-w-14px com-h-[20px] com-text-[#1B9F68] com-ml-2;
                }
              }

              .event-name {
                @apply com-text-gunmetal com-font-semibold com-text-xl com-pt-4 com-leading-6 com-mx-4 com-my-0
                com-h-[85px];
              }

              // .attended {
              //   @apply com-text-xs com-font-light;
              // }

              .timings {
                @apply com-text-AuroMetalSaurus com-text-base com-leading-8 com-mx-4 com-my-0;
              }

              .view-details {
                @apply com-font-medium com-text-base com-leading-5 com-text-gunmetal com-mx-4;
              }
            }
          }
        }
      }
    }
  }
}
