<div *ngIf="user">
  <div class="user-social">
    <p *ngIf="socialResources && socialResources.length > 0" class="header">My Content</p>
    <div *ngIf="currentUser && currentUser.id === user.id" class="user-social-add d-flex">
      <button (click)="onOpenDialog()" ghost nbButton status="primary">
        <nb-icon icon="plus-circle"></nb-icon>
        Share your content from anywhere on the web!
      </button>
      <button (click)="toggleEditView()" *ngIf="socialResources && socialResources.length > 1"
              ghost nbButton status="{{isEditing ? 'success' : 'warning'}}">
        <nb-icon [icon]="isEditing ? 'checkmark-circle-2' : 'flip-2'"></nb-icon>
        {{isEditing ? 'Save order' : 'Edit order'}}
      </button>
    </div>
    <nb-alert *ngIf="currentUser && currentUser.id === user.id" [ngClass]="{'active': isEditing}"
              class="user-social-alert" status="info">
      You can drag and drop the items!
    </nb-alert>
    <nb-list (cdkDropListDropped)="drop($event)" *ngIf="socialResources && socialResources.length > 0" cdkDropList
            class="user-social-cards">
      <nb-list-item *ngFor="let socialResource of socialResources" [cdkDragDisabled]="!isEditing"
                    [ngClass]="{'active': isEditing}" cdkDrag>
        <app-user-social-card (deleteResource)="deleteSocialResource($event)" [currentUser]="currentUser"
                              [socialResource]="socialResource" [user]="user"></app-user-social-card>
      </nb-list-item>
    </nb-list>
  </div>
</div>


<ng-template #addLinkDialog>
  <nb-card class="user-social-popup max-full-height-dialog-card">
    <nb-card-header class="d-flex justify-content-space-between">
      <p>Share your content from the Web</p>
      <button (click)="onCloseDialog()" nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body [nbSpinner]="isLoading">
      <nb-form-field>
        <nb-icon icon="link" nbPrefix></nb-icon>
        <input (ngModelChange)="socialLinkChanged.next($event)" [ngModel]="socialLink" fullWidth nbInput
               placeholder="Paste a link to begin" type="url">
      </nb-form-field>
      <form *ngIf="showLinkPreview" [formGroup]="socialResourcesForm"
            class="user-social-popup-details d-flex flex-column">
        <p class="user-social-popup-heading">Source</p>
        <img alt="{{linkPreview.title}}" class="user-social-popup-favicon" src="{{linkPreview.favicon}}"
             title="{{linkPreview.title}}">
        <p class="user-social-popup-heading">Image</p>
        <div class="user-social-popup-image">
          <img alt="{{linkPreview.title}}" src="{{linkPreview.images[0]}}" title="{{linkPreview.title}}">
        </div>
        <p class="user-social-popup-heading">Title*</p>
        <input formControlName="title" fullWidth nbInput type="text">
        <p class="user-social-popup-heading">Description*</p>
        <textarea formControlName="description" fullWidth nbInput rows="5"
                  type="text"></textarea>
        <p class="user-social-popup-heading">Tags*</p>
        <app-tag (tagAdd)="addTag($event)" (tagDelete)="removeTag($event)" [editable]="true" [tags]="tags"></app-tag>
      </form>
    </nb-card-body>
    <nb-card-footer *ngIf="showLinkPreview" class="d-flex justify-content-space-between">
      <button (click)="onCloseDialog()" ghost nbButton size="small" status="danger">
        Cancel
      </button>
      <button (click)="addSocialResource()" [disabled]="!socialResourcesForm.valid || tags.length === 0" nbButton
              status="success">
        Submit
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
