@import './projects/commudle-admin/src/assets/styles/variables';

.user-basic-social {
  border: none;
  margin: $space-16 0 0;

  .user-social {
    gap: $space-24;
    padding: $space-32 $space-44 $space-40;

    a {
      align-items: center;
      background-color: $water;
      border-radius: $border-16;
      color: initial;
      display: flex;
      height: 32px;
      justify-content: center;
      padding: $space-4;
      text-decoration: none;
      width: 32px;

      nb-icon,
      fa-icon {
        color: $neon-blue;
      }
    }

    &.compressed {
      gap: $space-16;
    }

    &.expanded {
      justify-content: normal;
      padding: $space-32 $space-16;

      a {
        width: 100%;

        nb-icon {
          margin-right: $space-6;
        }

        span {
          color: $neon-blue;
          margin-right: $space-12;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: calc(calc(264px - 32px) - 54px);
        }
      }
    }
  }
}

@media all and (max-width: $tab-width) {
  .user-basic-social {
    border-radius: 0;
  }
}
