.homepage {
  @apply com-w-full com-min-h-screen com-bg-white com-px-4 md:com-px-0;

  .homepage-section {
    @apply com-max-w-screen-xl com-container com-pt-12 md:com-pt-24;

    .page-heading {
      max-width: 500px;
      @apply com-mb-6 com-mt-2 md:com-mt-6 com-text-3xl md:com-text-6xl com-text-center md:com-text-left com-font-bold com-leading-none;

      span {
        color: #57c3b9;
      }
    }

    .homepage-arrow {
      @apply com-ml-auto com-mt-8 com-hidden md:com-block com-max-w-xs com-min-h-[140px];
    }

    .section-heading {
      @apply com-mt-0 com-mb-8 md:com-mb-12 com-text-left;

      h2 {
        @apply com-m-0 com-text-2xl md:com-text-4xl com-font-semibold;
      }
    }

    .subheading {
      @apply com-text-base md:com-text-xl com-leading-relaxed com-font-normal com-text-gray-500 com-mb-8 md:com-mb-12 com-mt-1;
    }

    app-search-box {
      &::ng-deep {
        nb-form-field {
          .main-search-bar {
            @apply com-bg-white;
          }
        }
      }
    }
  }
}

.homepage-callout {
  @apply com-py-12 com-bg-blue-50;

  .content {
    color: #0095ff;
  }

  .homepage-get-started {
    background-color: #0095ff;
    @apply com-mt-2;
  }
}
