<nb-card>
  <nb-card-body>
    <a [routerLink]="['/speaker-resources', item.id]">
      <div class="slides-image">
        <div
          *ngIf="item.attachment_type === EAttachmentType.EMBEDDED_LINK && !showDefaultImage"
          [innerHTML]="iframe"
          class="embedded-content"
        ></div>
        <div *ngIf="item.attachment_type === EAttachmentType.PDF_FILE" class="embedded-content">
          <iframe [src]="item.presentation_file.url | safe : 'resourceUrl'" width="100%" height="500"></iframe>
        </div>
        <div *ngIf="item.attachment_type === EAttachmentType.LINK || showDefaultImage" class="image">
          <img alt="{{ item.title }}" src="{{ staticAssets.speaker_slides_empty_state }}" title="item.title" />
        </div>
      </div>
    </a>
    <div class="content">
      <a [routerLink]="['/speaker-resources', item.id]">
        <div class="headings">
          <h2 class="title">{{ item.title }}</h2>
          <h3 class="event-name">{{ item.event.name }}</h3>
        </div>
      </a>
      <div class="user-profile-and-votes">
        <div class="user-profile-small" (click)="$event.stopPropagation()">
          <app-user-profile-card-small [user]="item.user"></app-user-profile-card-small>
        </div>
        <div class="votes" (click)="$event.stopPropagation()">
          <app-votes-display
            [icon]="'heart-outline'"
            [votableId]="item.id"
            [votableType]="'SpeakerResource'"
          ></app-votes-display>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
