<div class="base-layout">
  <div class="container">
    <div class="two-column-layout medium">
      <div class="main-column">
        <nb-card class="notifications-container">
          <nb-card-header>
            <h6>Notifications</h6>
            <button
              ghost
              (click)="markAllAsRead()"
              nbButton
              size="small"
              [disabled]="notificationCount === 0"
              status="primary"
            >
              Mark all as read
              <nb-icon icon="checkmark-circle-outline"></nb-icon>
            </button>
          </nb-card-header>
          <nb-card-body>
            <app-notifications-list
              [markAllAsRead]="trackMarkAllAsRead"
              [notificationsCount]="20"
            ></app-notifications-list>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="right-column">
        <div *ngIf="currentUser" class="user">
          <commudle-user-profile [currentUser]="currentUser"></commudle-user-profile>
          <commudle-userprofile-details
            [userProfileDetails]="userProfileDetails"
            [username]="currentUser.name"
          ></commudle-userprofile-details>
        </div>
      </div>
    </div>
  </div>
</div>
