ul {
  @apply com-p-0;

  li {
    @apply com-list-none;
  }
}

h1,
h2,
p {
  @apply com-m-0;
}

a {
  color: inherit;
  text-decoration: none;
}

.about-page {
  @apply com-w-full com-min-h-screen com-bg-white com-overflow-hidden;

  .about-page-section {
    @apply com-max-w-screen-xl com-container com-px-4 com-py-24;

    .page-heading {
      @apply com-mb-6 com-text-4xl com-font-extrabold com-leading-none com-tracking-normal com-text-gray-900 md:com-text-6xl md:com-tracking-tight;
    }

    .page-subheading {
      @apply com-px-0 com-mb-6 com-text-lg com-text-gray-600 md:com-text-xl lg:com-px-24;
    }

    &.stats-section {
      .count {
        @apply com-mr-2 com-text-3xl com-font-bold md:com-text-4xl com-text-blue-600;
      }

      .title {
        @apply com-mb-2 com-font-bold md:com-text-lg;
      }

      .description {
        @apply com-text-gray-700;
      }
    }

    &.features-section {
      .grid {
        @apply com-grid com-items-center com-grid-cols-1 com-mb-24 com-gap-y-10 com-gap-x-10 md:com-grid-cols-2 md:com-gap-y-32 md:com-gap-x-24;

        .title {
          @apply com-mb-4 com-text-2xl com-font-extrabold com-tracking-tight com-text-center com-text-black md:com-leading-tight sm:com-text-left md:com-text-4xl;
        }

        .description {
          @apply com-mb-5 com-text-base com-text-center com-text-gray-600 sm:com-text-left md:com-text-lg;
        }
      }
    }

    &.cta-section {
      .title {
        @apply com-text-3xl com-font-bold sm:com-text-4xl com-text-white;
      }

      .description {
        @apply com-text-sm com-text-white com-my-2;
      }
    }

    &.teams-section {
      .title {
        @apply com-text-3xl com-font-extrabold com-tracking-tight sm:com-text-4xl;
      }

      .description {
        @apply com-text-xl com-text-gray-500;
      }

      .grid {
        @apply com-mx-auto com-my-16 sm:com-grid sm:com-grid-cols-2 sm:com-gap-16 sm:com-my-0 lg:com-grid-cols-4 lg:com-max-w-5xl;
      }

      .name {
        @apply com-text-lg com-leading-6 com-font-medium;
      }

      .designation {
        @apply com-text-sm com-text-blue-500;
      }

      .social-link {
        @apply com-text-gray-400 hover:com-text-gray-500;
      }
    }

    &.features-list-section {
      .grid {
        @apply com-grid com-items-center com-grid-cols-1 com-gap-y-10 com-gap-x-10 lg:com-grid-cols-2 lg:com-gap-y-32 lg:com-gap-x-24;

        .title {
          @apply com-mb-3 com-text-3xl com-font-extrabold com-leading-tight com-tracking-tight com-text-center com-text-black sm:com-text-left md:com-text-4xl;
        }

        .description {
          @apply com-mb-6 com-text-lg com-text-center com-text-gray-600 sm:com-text-left md:com-text-xl;
        }

        .features-list {
          @apply com-flex com-flex-col com-flex-grow com-my-5;

          .item {
            @apply com-text-lg com-text-gray-700;
          }
        }
      }
    }
  }
}
