<div class="about-page">
  <section class="about-page-section">
    <div class="com-w-full com-mx-auto com-text-left md:com-w-11/12 xl:com-w-9/12 md:com-text-center">
      <h1 class="page-heading">
        All your
        <span
          class="
            com-block
            com-w-full
            com-text-transparent
            com-bg-clip-text
            com-bg-gradient-to-r
            com-from-green-400
            com-to-purple-500
            lg:com-inline
          "
        >
          community needs
        </span>
        in one single place.
      </h1>
      <p class="page-subheading">{{ ICmsAbout?.description }}</p>
    </div>
    <div class="com-w-full com-mx-auto com-mt-20 com-text-center md:com-w-10/12">
      <img
        alt="Landing image"
        class="com-w-full com-rounded-lg com-shadow-2xl"
        src="{{ getImageUrl(ICmsAbout?.landingImage) }}"
        title="Landing image"
      />
    </div>
  </section>

  <section class="about-page-section stats-section">
    <div class="com-grid com-gap-10 com-row-gap-8 lg:com-grid-cols-3">
      <div *ngFor="let stat of ICmsAbout?.stats">
        <div class="com-flex">
          <h2 class="count">{{ stat.count }}</h2>
          <div class="com-flex com-items-center com-justify-center com-rounded-full com-bg-blue-200 com-w-7 com-h-7">
            <svg class="com-text-blue-600 com-w-7 com-h-7" stroke="currentColor" viewBox="0 0 52 52">
              <polygon
                fill="none"
                points="29 13 14 29 25 29 23 39 38 23 27 23"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
              ></polygon>
            </svg>
          </div>
        </div>
        <p class="title">{{ stat.title }}</p>
        <p class="description">{{ stat.description }}</p>
      </div>
    </div>
  </section>

  <section class="about-page-section features-section">
    <div
      *ngFor="let feature of ICmsAbout?.features; let odd = odd"
      [ngClass]="{ 'com-flex-col-reverse': odd }"
      class="grid"
    >
      <div [ngClass]="{ 'com-order-none md:com-order-2': odd }">
        <h2 class="title">{{ feature.title }}</h2>
        <p class="description">{{ feature.description }}</p>
        <a [href]="feature.button?.url" nbButton shape="semi-round">{{ feature.button?.text }}</a>
      </div>
      <div class="com-w-full com-h-full">
        <img
          [alt]="feature.title"
          [title]="feature.title"
          class="com-w-full com-h-full com-object-cover"
          src="{{ getImageUrl(feature.image) }}"
        />
      </div>
    </div>
  </section>

  <section class="about-page-section cta-section">
    <div class="com-grid com-grid-cols-1 com-gap-4 sm:com-grid-cols-2 lg:com-grid-cols-4">
      <div class="com-p-8 com-text-center com-bg-indigo-600 sm:com-col-span-2 sm:com-p-16 lg:com-py-24">
        <div class="com-max-w-lg com-mx-auto com-my-8">
          <h2 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing.</h2>

          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio unde maiores natus placeat earum, atque
            necessitatibus sunt. Ducimus inventore qui unde, corporis itaque rerum illum tempore quod? Quae, quam
            quaerat.
          </p>

          <button nbButton shape="semi-round">
            Come and see
            <nb-icon icon="arrow-forward"></nb-icon>
          </button>
        </div>
      </div>

      <div class="com-relative com-h-64 lg:com-order-first lg:com-h-full">
        <img
          alt="Sunset with palm trees"
          class="com-absolute com-inset-0 com-object-cover com-w-full com-h-full"
          src="https://images.unsplash.com/photo-1625239185060-88135bd3519b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=668&amp;q=80"
        />
      </div>

      <div class="com-relative com-h-64 lg:com-h-full">
        <img
          alt="Man in a hat and yellow jumper"
          class="com-absolute com-inset-0 com-object-cover com-w-full com-h-full"
          src="https://images.unsplash.com/photo-1625175619292-ff5e5b2dfaf1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=668&amp;q=80"
        />
      </div>
    </div>
  </section>

  <section class="about-page-section com-text-center teams-section">
    <div class="com-my-12">
      <div class="com-my-5 sm:com-mx-auto sm:com-max-w-xl sm:com-my-4 lg:com-max-w-5xl">
        <h2 class="title">Meet our team</h2>
        <p class="description">
          Ornare sagittis, suspendisse in hendrerit quis. Sed dui aliquet lectus sit pretium egestas vel mattis neque.
        </p>
      </div>
      <ul class="grid">
        <li *ngFor="let member of ICmsAbout?.team">
          <div class="com-my-6">
            <img
              [alt]="member.name"
              [title]="member.name"
              class="com-mx-auto com-h-32 com-w-32 com-rounded-full xl:com-w-48 xl:com-h-48"
              src="{{ getImageUrl(member.image) }}"
            />
            <div class="com-my-2">
              <div class="com-my-1">
                <p class="name">{{ member.name }}</p>
                <p class="designation">{{ member.designation }}</p>
              </div>
              <ul class="com-flex com-justify-center com-mx-5" *ngIf="member.social">
                <li *ngIf="member.social.twitter">
                  <a [href]="member.social.twitter" rel="noopener" target="_blank">
                    <nb-icon class="social-link" icon="twitter"></nb-icon>
                  </a>
                </li>
                <li *ngIf="member.social.commudle">
                  <a [href]="member.social.commudle" rel="noopener" target="_blank">
                    <img
                      alt="Commudle"
                      title="Commudle"
                      class="social-link com-h-5"
                      src="/assets/images/commudle-logo128.png"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="about-page-section com-text-center advisor-section">
    <div class="com-my-12">
      <div class="com-my-5 sm:com-mx-auto sm:com-max-w-xl sm:com-my-4 lg:com-max-w-5xl">
        <h2 class="title">Our Advisors</h2>
      </div>
      <ul class="grid">
        <li *ngFor="let member of ICmsAbout?.advisor">
          <div class="com-my-6">
            <img
              [alt]="member.name"
              [title]="member.name"
              class="com-mx-auto com-h-32 com-w-32 com-rounded-full xl:com-w-48 xl:com-h-48"
              src="{{ getImageUrl(member.image) }}"
            />
            <div class="com-my-2">
              <div class="com-my-1">
                <p class="name">{{ member.name }}</p>
                <p class="designation">{{ member.designation }}</p>
              </div>
              <ul class="com-flex com-justify-center com-mx-5" *ngIf="member.social">
                <li *ngIf="member.social.twitter">
                  <a [href]="member.social.twitter" rel="noopener" target="_blank">
                    <nb-icon class="social-link" icon="twitter"></nb-icon>
                  </a>
                </li>
                <li *ngIf="member.social.commudle">
                  <a [href]="member.social.commudle" rel="noopener" target="_blank">
                    <img
                      alt="Commudle"
                      title="Commudle"
                      class="social-link com-h-5"
                      src="/assets/images/commudle-logo128.png"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="about-page-section features-list-section">
    <div class="grid">
      <div *ngIf="ICmsAbout">
        <h2 class="title">{{ ICmsAbout?.featuresList?.content?.title }}</h2>
        <p class="description">{{ ICmsAbout?.featuresList?.content?.description }}</p>
        <a
          *ngIf="ICmsAbout.featuresList.content.button !== null"
          [href]="ICmsAbout?.featuresList?.content?.button?.url"
          nbButton
          shape="semi-round"
        >
          {{ ICmsAbout?.featuresList?.content?.button?.text }}
        </a>
      </div>
      <div class="features-list">
        <div *ngFor="let item of ICmsAbout?.featuresList?.list" class="com-flex com-items-start">
          <svg
            class="com-flex-none com-w-5 com-h-5 com-mt-1 com-mr-2 com-text-primary"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              clip-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              fill-rule="evenodd"
            ></path>
          </svg>
          <p class="item">{{ item }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
