<div>
  <p>We are excited to have you join the hackathon as a Judge / Mentor!</p>
  <p>
    As a part of the hackathon, the following information will be shared between you and the organizers and
    administrators:
  </p>
  <ul>
    <li>Your profile will be publicly visible on the hackathon’s page</li>
    <li>They will have access to your email address</li>
    <li>You will also by default become a member of the default channel set by the community’s organizers</li>
    <li>
      They will send you communication mails and notifications for different events, hackathons, surveys/forms,
      newsletters and other community activities.
    </li>
    <li>
      They will have access to all the forms, chats, activity in both public and private channels, polls, forums and
      your other activities for entities within the community.
    </li>
    <li>
      You will automatically become a member of the parent community or organization (if present) of the hackathon and
      above mentioned member insights will be shared with them
    </li>
    <li>
      They have the right to permit or revoke your membership of the community at any point of time at their discretion.
    </li>
  </ul>
</div>
