@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

.validation-error-text, .error-text{
  color: red !important;
}

input {
  background-color: white;
}

.timepicker-overlay {
  z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}

.clickable{
  cursor: pointer;
}


.navigation-link {
  text-decoration: none;
}


.hidden {
  display: none;
}




// Override Nebular

.nb-theme-default nb-layout-header.fixed ~ .layout-container {
  padding-top: 3.5rem;
}

.nb-theme-default nb-layout .layout .layout-container nb-sidebar.fixed, .nb-theme-default nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  top: 3.5rem;
}

@media (max-width: 820px) {
  .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column  {
    padding: 0 !important;
  }

}


.nb-theme-default nb-layout-header nav {
  padding: 0rem 1.25rem;
  height: 3.5rem;
}


nb-window {
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

nb-window.full-screen-width {
  width: 100vw;
}


