@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";
@import '~@ctrl/ngx-emoji-mart/picker';



@include nb-install() {
  @include nb-theme-global();
};

@import './assets/styles/variables.scss';

@import './assets/styles/common-classes.scss';

/* You can add global styles to this file, and also import other style files */

.validation-error-text, .error-text{
  color: red !important;
}

input {
  background-color: white;
}

.timepicker-overlay {
  z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}

.clickable{
  cursor: pointer;
}


.navigation-link {
  text-decoration: none;
}


.hidden {
  display: none;
}

.fontw-300 {
  font-weight: 300 !important;
}

.margin0 {
  margin: 0 !important;
}

.menu-active {
  color: #2296ff !important;
  font-weight: bold;
}




// Override Nebular

.nb-theme-default nb-layout-header.fixed ~ .layout-container {
  padding-top: 3.5rem;
}

.nb-theme-default nb-layout .layout .layout-container nb-sidebar.fixed, .nb-theme-default nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  top: 3.5rem;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column  {
  padding: 0 !important;
}

@media (max-width: 820px) {
  .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column  {
    padding: 0 !important;
  }

}

.nb-theme-default nb-card {
  margin: 16px 8px;
}

.nb-theme-default nb-layout-header nav {
  padding: 0rem 1.25rem;
  height: 3.5rem;
}

.nb-theme-default [nbInput].size-giant, .nb-theme-default[nbIput].size-tiny, .nb-theme-default [nbInput].size-small, .nb-theme-default [nbInput].size-medium, .nb-theme-default [nbInput] {
  font-weight: 300;
}


nb-window {
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

nb-window.full-screen-width {
  width: 100vw;
}

nb-window.full-screen-height {
  nb-card {
    height: 100vh;
    nb-card-body {
      height: 90vh;
    }
  }
}

.lh-fw {
  font-weight: 300 !important;
}

// nb-tabset {
//   ::ng-deep {
//     ul.tabset {
//       overflow-x: auto !important;
//       padding: 5px !important;
//     }
//   }
// }


// responsive page menu
.page-menu.responsive {

  background-color: white;
  width: 100%;
  left: 0;
  z-index: 10;
  position: sticky;
  top: 3.5rem;


  nb-card {
    margin: 0;
    nb-card-body {
      padding: 0.5rem;
    }
  }

  box-shadow: 2px -5px 15px -7px lightgrey;

  .menu-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    justify-content: space-evenly;
    a {
      cursor: pointer;
      margin: 0 0.5rem;
      text-decoration: none;
      color: black;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      nb-icon {
        // color: grey !important;
      }
      span {
        display: none;
        // font-size: 10px;
        // text-align: center;
      }
    }
    nb-icon {

      font-size: 1.5rem;
    }

    .active {
      border-bottom: 3px solid #232b45;
    }
  }
  @media screen and (min-width: 800px){
    box-shadow: none;
    nb-card {
      margin-bottom: 1rem;
      .menu-items {
        justify-content: flex-start;
        a {
          margin-right: 1.5rem;
          span {
            display: inline;
          }
        }
      }
    }

  }
}



.hide-mobile {
  @media screen and (max-width: 800px){
    display: none !important;
  }
}


:focus {
  outline: none;
}
