@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import './projects/commudle-admin/src/assets/styles/variables';

$nb-themes: nb-register-theme(
  (
    header-height: 4.25rem,
    header-padding: 1.125rem,
    layout-padding: 0,
    layout-medium-padding: 0,
    layout-small-padding: 0,
    footer-height: 4.25rem,
    footer-padding: 1rem,
    footer-shadow: 0 -0.5rem 1rem 0 rgba(44, 51, 73, 0.1),
    font-family-primary: unquote('Inter, sans-serif'),
    font-family-secondary: font-family-primary,
    card-border-radius: $border-10,
    button-outline-text-transform: capitalize,
    button-filled-text-transform: capitalize,
    button-ghost-text-transform: capitalize,
    button-hero-text-transform: capitalize,
  ),
  default,
  default
);
