<commudle-alert
  [info]="true"
  message="Although this is an individual participation, it would be great if you can select a team name for your project, by default it will be your name."
></commudle-alert>
<br />
<form [formGroup]="teammateForm">
  <div>
    <label for="name">{{ hasTeammateOption ? 'Team Name*' : 'What did you call your self?' }}</label>
    <input
      type="text"
      nbInput
      fullWidth
      formControlName="name"
      [placeholder]="hasTeammateOption ? 'Team Name*' : 'What did you call your self?'"
    />
  </div>
  <ng-container formArrayName="teammates">
    <div *ngFor="let teammate of teammatesArray.controls; let i = index" [formGroupName]="i" class="teammate-form">
      <section>
        <label for="email">Enter Email*</label>
        <input
          type="email"
          formControlName="email"
          placeholder="xyz@example.com"
          fullWidth
          nbInput
          (input)="checkEmail($event.target)"
        />
        <commudle-alert *ngIf="showEmailError" [error]="true" errorMessage="You can't put your own email as teammate">
        </commudle-alert>
      </section>

      <section *ngIf="hackathonResponseGroup.user_details.tshirt_size">
        <label for="tshirt_size">T shirt size*</label>
        <select name="tshirt_size" id="tshirt_size" formControlName="tshirt_size">
          <option selected disabled value="">Select T-shirt size</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
          <option value="XXL">XXL</option>
          <option value="XXXL">XXXL</option>
        </select>
      </section>

      <button type="button" nbButton ghost status="danger" (click)="removeTeammate(i)">
        <fa-icon [icon]="icons.faUserLargeSlash"></fa-icon>
        <span>Remove Teammate</span>
      </button>
    </div>
  </ng-container>

  <button
    *ngIf="hasTeammateOption && hackathon.max_number_of_teammates - 1 > teammatesArray.controls.length"
    type="button"
    (click)="addTeammate()"
    nbButton
  >
    <fa-icon [icon]="icons.faPlus"></fa-icon>
    <span> Add Teammate </span>
  </button>

  <div class="action-buttons">
    <button status="primary" nbButton>Previous</button>
    <button type="submit" (click)="submitTeammateDetails()" nbButton status="primary" [disabled]="teammateForm.invalid">
      Next
    </button>
  </div>
</form>
