<nb-card>
  <nb-card-body>
    <div class="upcoming-card">
      <a [routerLink]="['/communities', event.kommunity_slug, 'events', event.slug]" class="upcoming-card-link">
        <div *ngIf="event.header_image" class="upcoming-card-image">
          <commudle-banner-image [headerImagePath]="event.header_image.url" [name]="event.name"></commudle-banner-image>
          <!-- <img [alt]="event.name" [src]="event.header_image?.url" [title]="event.name" class="image" /> -->
        </div>
        <div *ngIf="!event.header_image" class="no-image-header">
          <nb-icon icon="link" status="primary"></nb-icon>
        </div>
        <div class="upcoming-card-details">
          <div class="upcoming-card-info">
            <div>
              <p class="event-time">{{ moment(event.start_time).format('dddd, MMM Do, YYYY') }}</p>
              <p class="event-title">{{ event.name }}</p>
            </div>
            <div class="community-badge">
              BADGE
              <!-- <app-community-badge [community]="community"></app-community-badge> -->
            </div>
          </div>
          <div class="details">
            <div class="location">
              <nb-icon icon="pin-outline" class="pin-outline"></nb-icon>
              <span class="location-text">location</span>
            </div>
            <div class="interested-members">
              <div>
                <nb-icon icon="people-outline" class="people-outline"></nb-icon>
                <span>{{ event.interested_members_count }} Interested Members</span>
              </div>
              <button nbButton status="info" shape="rectangle" size="medium" outline>Register</button>
            </div>
          </div>
        </div>
      </a>
    </div>
  </nb-card-body>
</nb-card>
<hr />
