@import './projects/commudle-admin/src/assets/styles/variables';

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.labs-card-container {
  border: 1px solid $maya-blue;
  border-radius: $border-5;
  height: max-content;
  overflow: hidden;

  p,
  h4 {
    margin: 0;
  }

  .labs-card-header {
    border-bottom: 1px solid $maya-blue;
    border-top-left-radius: $border-5;
    border-top-right-radius: $border-5;
    display: block;
    height: 134px;
    overflow: hidden;

    .labs-card-header {
      @apply com-h-full com-w-full com-object-cover com-object-center com-border-none;
    }
  }

  .labs-card-content {
    background-color: $white;
    height: 130px;
    padding: $space-12 $space-16 $space-8;

    .labs-card-content-prefix {
      .labs-card-title {
        color: $neon-blue;
        font-size: $fs-card-title;
        line-height: 23px;
      }

      .labs-card-date {
        color: rgba($gunmetal, 0.5);
        font-size: $fs-card-secondary;
        font-style: italic;
        font-weight: normal;
      }
    }

    .labs-card-content-suffix {
      .labs-card-stats {
        gap: $space-4;
        margin-left: $space-16;

        p,
        nb-icon {
          color: $neon-blue;
          font-size: $fs-card-secondary;
          margin-right: $space-4;
        }

        .labs-card-views {
          p,
          nb-icon {
            margin-top: 1px;
          }
        }

        .labs-card-likes {
          app-votes-display {
            &::ng-deep {
              p {
                font-size: $fs-card-secondary;

                span {
                  color: $neon-blue;
                  font-size: $fs-card-secondary;
                }
              }

              nb-icon {
                font-size: $fs-card-secondary;

                &:not(.voted-heart) {
                  color: $neon-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}
