@import './projects/commudle-admin/src/assets/styles/variables';

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.lab-display-card {
  border: 1px solid $maya-blue;
  border-radius: $border-5;
  height: max-content;
  overflow: hidden;

  p,
  h4 {
    margin: 0;
  }

  .header-image {
    border-bottom: 1px solid $maya-blue;
    border-top-left-radius: $border-5;
    border-top-right-radius: $border-5;
    height: 134px;
    overflow: hidden;

    img {
      @apply com-h-full com-w-full com-object-cover com-object-center;
    }
  }

  .content {
    background-color: $white;
    height: 130px;
    padding: $space-12 $space-16 $space-8;

    .title {
      h4 {
        color: $neon-blue;
        font-size: $fs-card-title;
        line-height: 23px;
      }

      p {
        color: rgba($gunmetal, 0.5);
        font-size: $fs-card-secondary;
        font-style: italic;
        font-weight: normal;
      }
    }

    .author-stats {
      .stats {
        gap: $space-4;
        margin-left: $space-16;

        p,
        nb-icon {
          color: $neon-blue;
          font-size: $fs-card-secondary;
          margin-right: $space-4;
        }

        .views {
          p,
          nb-icon {
            margin-top: 1px;
          }
        }

        .likes {
          app-votes-display {
            &::ng-deep {
              p {
                font-size: $fs-card-secondary;

                span {
                  color: $neon-blue;
                  font-size: $fs-card-secondary;
                }
              }

              nb-icon {
                font-size: $fs-card-secondary;

                &:not(.voted-heart) {
                  color: $neon-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}
