.community-channel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;

  header {
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
    padding: 0.5rem;

    .channel-details {
      min-width: 50%;
      overflow: hidden;

      p {
        color: grey;

        margin: 0;

        nb-icon {
          margin-right: 5px;
        }
      }
    }

    nb-actions {
      nb-action {
        position: relative;
        @media screen and (min-width: 1089px) {
          &.channel-list-menu-button {
            display: none;
          }
        }
      }
    }
  }

  main {
    display: flex;
    flex-wrap: nowrap;
    height: calc(100% - 2.5rem);
    padding: 0.5rem 0.5rem 1rem;

    .discussion {
      flex-grow: 1;
      height: 100%;
    }

    .resources {
      bottom: 65px;
      max-width: 100vw;
      position: relative;
    }

    @media screen and (max-width: 1089px) {
      position: relative;

      .resources {
        height: 100%;
        max-width: 80%;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  main.not-found {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    p {
      color: grey;
      font-size: 1.5rem;
      line-height: 1.5rem;

      nb-icon {
        color: lightgrey;
        font-size: 4rem;
      }
    }
  }
}

.complete-description {
  white-space: pre-wrap;
}
