.community-channel {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  header {
    height: 2.5rem;
    padding: 0.5rem;
  }

  main {
    padding: 0.5rem;
    height: calc(100% - 2.5rem);
    display: flex;
    flex-wrap: nowrap;
    .discussion{
      height: 100%;
      flex-grow: 1;
    }

    .resources {
      max-width: 100vw;
    }
  }


  main.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: grey;

      nb-icon {
        font-size: 4rem;
        color: lightgrey;
      }
    }
  }

}
