<button nbButton status="info" (click)="open(dialog)">Create Discount Coupon</button>

<div *ngFor="let discountCode of discountCodes">
  <div>{{ discountCode.code }}</div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="com-h-[80dvh] com-w-full">
    <nb-card-header>
      <div class="com-flex com-justify-between">
        <div>Create Discount Coupon</div>

        <button (click)="ref.close()" ghost nbButton shape="round" size="small">
          <nb-icon icon="close"></nb-icon>
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="discountCouponForm">
        <div formGroupName="discount_code" class="com-flex com-flex-col com-gap-3">
          <!-- Name -->
          <label>
            Name*
            <input formControlName="code" fullWidth nbInput type="text" placeholder="Coupon Name" />
          </label>

          <!-- Discount type* -->
          <label class="com-col-span-1">
            Discount type*
            <nb-select formControlName="discount_type" fullWidth>
              <nb-option value="percent"> Percent </nb-option>
              <nb-option value="value"> Value </nb-option>
            </nb-select>
          </label>

          <!-- Is Limited* -->
          <label class="com-col-span-1">
            Is Limited*
            <input formControlName="is_limited" type="checkbox" />
          </label>
          <!-- Max Limit* -->
          <label
            class="com-col-span-1"
            *ngIf="discountCouponForm.controls.discount_code.get('is_limited').value === true"
          >
            Max Limit*
            <input formControlName="max_limit" nbInput fullWidth type="number" placeholder="Max Limit" />
          </label>

          <!-- Discount value* -->
          <label class="com-col-span-1">
            Discount value*
            <input formControlName="discount_value" fullWidth nbInput type="number" placeholder=" Discount value" />
          </label>

          <!-- Expires At* -->
          <label class="com-col-span-1">
            Expires At*
            <input formControlName="expires_at" fullWidth nbInput type="datetime-local" />
          </label>

          <!-- Event Data Form Entity Group Ids* -->
          <!-- <label class="com-col-span-1">
            Event Data Form Entity Group Ids*
            <select formControlName="event_data_form_entity_group_ids" fullWidth>
              <option *ngFor="let edfeg of eventDataFormEntityGroups" [value]="edfeg.id">{{ edfeg.name }}</option>
            </select>
          </label> -->

          <!-- Event Data Form Entity Group Ids* -->
          <div>
            <label class="com-col-span-1"> Select Form in which you want to apply Coupon* </label>
            <br />
            <nb-tag-list>
              <nb-tag
                *ngFor="let tree of eventDataFormEntityGroups"
                [text]="tree.name"
                [removable]="selectedEventDataFormEntityGroups.includes(tree.id)"
                (click)="addEventDataForm(tree.id)"
              ></nb-tag>
            </nb-tag-list>
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <div class="com-flex com-justify-between com-mx-4">
        <button
          nbButton
          status="primary"
          (click)="create()"
          [disabled]="!discountCouponForm.valid || selectedEventDataFormEntityGroups.length === 0"
        >
          Create
        </button>
        <button nbButton status="danger" outline (click)="ref.close()">Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
