.event-updates {
  @apply com-flex com-flex-col com-gap-4;
  .event-update {
    .details {
      @apply com-flex com-items-baseline com-m-0;

      nb-icon {
        @apply com-mr-2;
      }
    }
    .image-section {
      @apply com-flex com-gap-3  com-items-center com-mb-2  com-flex-wrap;
      .images {
        @apply com-w-32 com-h-32 com-aspect-1 com-border com-border-solid com-border-Bright-Gray com-rounded com-cursor-pointer;
        img {
          @apply com-mx-auto com-my-0 com-h-full com-w-full com-object-contain com-rounded;
        }
      }
    }

    .time {
      @apply com-m-0 com-ml-7 com-text-xs com-font-light com-text-Auro-Metal-Saurus;
    }
    .votes {
      @apply com-ml-7 com-mt-2;
    }
  }
}

.image-window {
  @apply com-w-[100dvw] com-h-[100dvh] md:com-h-[80dvh] md:com-w-[40dvw];
  nb-card-header {
    @apply com-flex com-justify-between;
  }
  nb-card-body {
    .image {
      @apply com-p-2 com-w-full com-h-full com-aspect-1 com-border com-border-solid com-border-Bright-Gray com-rounded;
      img {
        @apply com-mx-auto com-my-0 com-h-full com-w-full com-object-contain com-rounded;
      }
    }
  }
}
