<div class="event-edit-form-container">
  <div *ngIf="type === 'save'" class="backButton">
    <commudle-back-button text="Back"></commudle-back-button>
  </div>

  <nb-card class="md:com-min-w-[50vw]">
    <nb-card-body>
      <h3 class="com-mt-0">Edit Event</h3>

      <nb-alert *ngIf="uneditable" status="info">
        <p>
          This event is <strong>{{ event.event_status?.name | titlecase }}</strong> and cannot be edited
        </p>
      </nb-alert>
      <form
        (ngSubmit)="type === 'Save' ? updateEvent() : cloneEvent()"
        [formGroup]="eventForm"
        class="event-create-form"
      >
        <div formGroupName="event">
          <div role="group">
            <div>
              <label>
                Name*
                <input [disabled]="true" formControlName="name" fullWidth nbInput type="text" />
              </label>
              <span
                *ngIf="
                  eventForm['controls'].event['controls'].name.touched &&
                  eventForm['controls'].event['controls'].name.invalid &&
                  eventForm['controls'].event['controls'].name.errors.required
                "
              >
                <commudle-alert [errorMessage]="'Required Field'" [error]="true"></commudle-alert>
              </span>
            </div>
          </div>
          <div class="event-date-details">
            <label>Timings (Leave empty if you are yet to decide)</label>
            <div>
              <div>
                <input [nbDatepicker]="datepicker" formControlName="start_date" nbInput placeholder="Date" />
                <nb-datepicker #datepicker [min]="minDate"></nb-datepicker>
              </div>
            </div>
            <br />

            <label [ngClass]="{ required: hasDate }"> Starts At </label>
            <div>
              <div>
                <input formControlName="start_time_pick" nbInput type="time" />
              </div>
            </div>
          </div>

          <div class="event-date-details">
            <label>End Date</label>
            <div>
              <div>
                <input [nbDatepicker]="enddatepicker" formControlName="end_date" nbInput placeholder="Date" />
                <nb-datepicker #enddatepicker></nb-datepicker>
              </div>
            </div>
            <br />

            <label [ngClass]="{ required: hasDate }"> Ends At </label>
            <div>
              <div>
                <div>
                  <input formControlName="end_time_pick" nbInput type="time" />
                </div>
              </div>
            </div>
          </div>

          <div class="event-date-details" role="group">
            <label>
              <nb-select formControlName="timezone" hero placeholder="TimeZone*" size="large" status="primary">
                <nb-option *ngFor="let tz of allTimeZones" [value]="tz">
                  {{ tz }}
                </nb-option>
              </nb-select>
            </label>
          </div>

          <div role="individual">
            <label> Description* </label>
            <span
              *ngIf="
                eventForm['controls'].event['controls'].description.touched &&
                eventForm['controls'].event['controls'].description.invalid &&
                eventForm['controls'].event['controls'].description.errors.required
              "
            >
              <commudle-alert [errorMessage]="'Required Field'" [error]="true"></commudle-alert>
            </span>
            <editor [init]="tinyMCE" formControlName="description"> </editor>
          </div>

          <div role="group">
            <div>
              <label fullWidth>
                Tags*
                <app-tag
                  (tagAdd)="onTagAdd($event)"
                  (tagDelete)="onTagDelete($event)"
                  [backgroundColor]="'com-bg-tAnti-Flash'"
                  [editable]="true"
                  [fontColor]="'com-text-tYankees-Blue'"
                  [minimumTags]="minimumTags"
                  [tags]="tags"
                ></app-tag>
              </label>
            </div>
          </div>
        </div>

        <div class="save-button-bottom">
          <button
            *ngIf="!uneditable"
            [disabled]="tags.length < 3 || submitIsInProcess"
            [nbSpinner]="submitIsInProcess"
            fullWidth
            nbButton
            status="info"
            type="submit"
          >
            {{ type }}
          </button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
