<nb-card class="home-experts-container">
  <nb-card-header>Experts</nb-card-header>
  <nb-card-body class="home-experts-body">
    <nb-list *ngIf="experts.length === 0" class="home-experts-list">
      <nb-list-item *ngFor="let _ of [].constructor(3)">
        <commudle-skeleton-text [rows]="2"></commudle-skeleton-text>
      </nb-list-item>
    </nb-list>
    <nb-list *ngIf="experts.length > 0" class="home-experts-list">
      <nb-list-item *ngFor="let expert of experts; let i = index" class="clickable">
        <a [routerLink]="['/users', expert.username]" class="home-expert d-flex align-items-center">
          <img
            [alt]="expert.name"
            [src]="expert.photo.i32"
            [title]="expert.name"
            [username]="expert.username"
            commudleMiniUserProfile
            class="home-expert-avatar"
          />
          <div class="home-expert-details">
            <div class="home-expert-name d-flex align-items-center">
              <p [username]="expert.username" commudleMiniUserProfile class="com-line-clamp-1">{{ expert.name }}</p>
              <img *ngIf="expert.is_expert" alt="Expert Tick" src="/assets/images/Expert-Tick.svg" />
            </div>
            <p class="home-expert-designation com-line-clamp-1">{{ expert.designation }}</p>
            <p class="home-expert-followers">{{ expert.followers_count.toString() + ' followers' }}</p>
          </div>
        </a>
        <commudle-user-follow
          (userFollowed)="getExperts()"
          [showIcon]="false"
          [username]="expert.username"
        ></commudle-user-follow>
      </nb-list-item>
    </nb-list>
    <!--    <div *ngIf="experts.length > 0" class="home-experts-all text-center clickable">-->
    <!--      <a>Meet all</a>-->
    <!--    </div>-->
  </nb-card-body>
</nb-card>
