

.event-locations-list{
  display: flex;
  flex-direction: column;

  .event-location {
    // width: 100%;
    // @media screen and (min-width: 800px) {
    //   width: 50%;
    // }

    nb-card-header{
      display: flex;
      justify-content: flex-start;

      .event-location-details {
        margin-left: 1rem;
        p{
          margin: 0;
          word-wrap: break-word;
        }
      }
    }
  }
}


.online-event-fields, .offline-event-fields {
  >div {
    margin-top: 1rem;
  }
}

.save-button-bottom {
  margin-top: 1rem;
}


.help-text-button {
  p {
    margin: 0 0 0.5rem
  }
}

.embedded-video {
  width: 560px;
  height: 340px;
  overflow: scroll;
  iframe, object, embed {
    max-width: 100%;
    max-height: 100%;
  }
}
