

.event-locations-list{
  display: flex;
  flex-direction: column;

  .event-location {

    nb-card-header{
      display: flex;
      justify-content: flex-start;

      .event-location-details {
        margin-left: 1rem;
        p{
          margin: 0;
          word-wrap: break-word;
        }
      }
    }
  }
}


.online-event-fields, .offline-event-fields {
  >div {
    margin-top: 1rem;
  }
}

.save-button-bottom {
  margin-top: 1rem;
}


.help-text-button {
  p {
    margin: 0 0 0.5rem
  }
}
