<div>
  <div>
    <button nbButton (click)="showAddEventLocationForm()">
      <fa-icon [icon]="faPlusCircle"></fa-icon>
      &nbsp;
      Add Location
    </button>
  </div>
  <div class="event-locations-list">
    <div *ngFor="let loc of eventLocations; let i=index">
      <nb-card class="event-location">
        <nb-card-header>
          <div class="header-icon">
            <fa-icon [icon]="faMapPin"></fa-icon>
          </div>
          <div class="event-location-details">
            <p>
              {{ loc.location.name }}
              <br>
              <small>
                {{ loc.location.address }}
              </small>
              <br>
              <small>
               <a href="{{loc.location.map_link}}"> <fa-icon [icon]="faLink"></fa-icon> &nbsp; Link to Map</a>
              </small>
            </p>
            <p>
              <fa-icon [icon]="faPen" class="clickable" (click)="showEditEventLocationForm(loc)"></fa-icon>
              &nbsp;
              <fa-icon [icon]="faTrash" class="clickable" (click)="confirmDeleteEventLocation(loc)"></fa-icon>

            </p>
          </div>
        </nb-card-header>
        <nb-card-body>
          <app-event-location-tracks
            [eventLocations] = "eventLocations"
            [eventLocationTracks]="loc.event_location_tracks"
            [event]="event"
            [eventLocationId]="loc.id"
            [eventSpeakers]="eventSpeakers"
            (addTrack)="addTrack($event, i)"
            (updateTrack)="updateTrack($event, i)"
            (removeTrack)="removeTrack($event, i)"
            (addSession)="addSlot($event, i)"
            (updateSession)="updateSlot($event, i)"
            (removeSession)="removeSlot($event, i)">
          </app-event-location-tracks>
        </nb-card-body>
      </nb-card>
    </div>

  </div>




  <ng-template #eventLocationFormTemplate let-data>
    <form class="event-location-form" [formGroup]="eventLocationForm" (ngSubmit)="data.operationType == 'create' ? addEventLocation() : editEventLocation(data.eventLocation) ">
      <div formGroupName="location">
          <div>
            <label fullWidth>
              Name*
              <input type="text" nbInput fullWidth formControlName="name">
            </label>
            <span *ngIf="eventLocationForm['controls'].location['controls'].name.touched && eventLocationForm['controls'].location['controls'].name.invalid && eventLocationForm['controls'].location['controls'].name.errors.required" class="validation-error-text">
              Required Field
            </span>
          </div>
          <div>
            <label fullWidth>
              Address*
              <input type="text" nbInput fullWidth formControlName="address">
            </label>
            <span *ngIf="eventLocationForm['controls'].location['controls'].address.touched && eventLocationForm['controls'].location['controls'].address.invalid && eventLocationForm['controls'].location['controls'].address.errors.required" class="validation-error-text">
              Required Field
            </span>
          </div>
          <div>
            <label fullWidth>
              Map Link*
              <input type="text" nbInput fullWidth formControlName="map_link">
            </label>
            <span *ngIf="eventLocationForm['controls'].location['controls'].map_link.touched && eventLocationForm['controls'].location['controls'].map_link.invalid && eventLocationForm['controls'].location['controls'].map_link.errors.required" class="validation-error-text">
              Required Field
            </span>
          </div>
      </div>

      <div class="save-button-bottom">
        <button [disabled]="!eventLocationForm.valid" type="submit" nbButton fullWidth status="info">
          Save
        </button>
      </div>

    </form>
  </ng-template>


  <ng-template #deleteEventLocationTemplate let-data>
    <div>
      <p class="text-dander">Are you sure you want to delete this location and the associated tracks/slots?</p>
    </div>
    <div>
      <button nbButton status="link" (click)="deleteEventLocation(true, data.eventLocation)">Yes</button>
      <button nbButton status="link" (click)="deleteEventLocation(false, data.eventLocation)">No</button>
    </div>
  </ng-template>
</div>
