<div>
  <div class="help-text-button">
    <p>
      <small>
        <a (click)="openHelpTextWindow()">How does this work?</a>
      </small>
    </p>
  </div>
  <div *ngIf="event.editable">
    <button (click)="showAddEventLocationForm()" nbButton status="primary">
      <nb-icon icon="plus-circle-outline"></nb-icon>
      &nbsp;
      Add
    </button>
  </div>
  <div class="event-locations-list">
    <div *ngFor="let loc of eventLocations; let i=index">
      <nb-card class="event-location">
        <nb-card-header>
          <div class="header-icon">
            <nb-icon *ngIf="loc.location" icon="pin-outline"></nb-icon>
            <nb-icon *ngIf="loc.event_type === EEventType.ONLINE_ONLY" icon="video-outline"></nb-icon>
          </div>
          <div class="event-location-details">
            <p *ngIf="loc.event_type === EEventType.OFFLINE_ONLY">
              {{ loc.location.name }}
              <br>
              <small>
                {{ loc.location.address }}
              </small>
              <br>
              <small>
                <a href="{{loc.location.map_link}}">
                  <fa-icon [icon]="faLink"></fa-icon> &nbsp; Link to Map
                </a>
              </small>
            </p>
            <div *ngIf="loc.event_type === EEventType.ONLINE_ONLY">
              <p>
                ONLINE STREAMING (ID: {{loc.id}}) &nbsp;
                <nb-icon *ngIf="loc.embedded_video_stream" [nbPopover]="embeddedVideo" icon='tv-outline'
                         nbPopoverTrigger="click"></nb-icon>
              </p>
              <ng-template #embeddedVideo>
                <div class="embedded-video-popover">
                  <!-- <app-video-stream
                  [videoCode]="loc.embedded_video_stream.embed_code"
                  [videoSource]="loc.embedded_video_stream.source"
                  [fillerText]="'Auto Preview'"
                  [started]="true"
                  ></app-video-stream> -->
                </div>
              </ng-template>
            </div>
            <p *ngIf="event.editable">
              <fa-icon (click)="showEditEventLocationForm(loc)" [icon]="faPen" class="clickable"></fa-icon>
              &nbsp;
              <fa-icon (click)="confirmDeleteEventLocation(loc)" [icon]="faTrash" class="clickable"></fa-icon>
            </p>
          </div>
        </nb-card-header>
        <nb-card-body>
          <app-event-location-tracks (addSession)="addSlot($event, i)" (addTrack)="addTrack($event, i)"
                                     (removeSession)="removeSlot($event, i)" (removeTrack)="removeTrack($event, i)"
                                     (updateSession)="updateSlot($event, i)" (updateTrack)="updateTrack($event, i)"
                                     [community]="community" [eventLocationId]="loc.id"
                                     [eventLocationTracks]="loc.event_location_tracks" [eventLocations]="eventLocations"
                                     [eventSpeakers]="eventSpeakers" [event]="event"></app-event-location-tracks>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <ng-template #eventLocationFormTemplate *ngIf="event.editable" let-data>
    <form (ngSubmit)="data.operationType == 'create' ? addEventLocation() : editEventLocation(data.eventLocation)"
          [formGroup]="eventLocationForm" class="event-location-form">
      <div>
        <nb-radio-group (valueChange)="toggleEventTypeValidations($event)" class="options" formControlName="event_type"
                        name="event-type">
          <nb-radio [value]="EEventType.OFFLINE_ONLY">
            Offline Event
          </nb-radio>
          <!-- <nb-radio [value]="EEventType.OFFLINE_AND_ONLINE">
            Offline + Live Stream
          </nb-radio> -->
          <nb-radio [value]="EEventType.ONLINE_ONLY">
            Live Stream Only
          </nb-radio>
        </nb-radio-group>
      </div>
      <div *ngIf="selectedEventType === EEventType.OFFLINE_ONLY" class="offline-event-fields" formGroupName="location">
        <div>
          <label fullWidth>
            Name*
            <input formControlName="name" fullWidth nbInput type="text">
          </label>
          <span
            *ngIf="eventLocationForm['controls'].location['controls'].name.touched && eventLocationForm['controls'].location['controls'].name.invalid && eventLocationForm['controls'].location['controls'].name.errors.required"
            class="validation-error-text">
              Required Field
            </span>
        </div>
        <div>
          <label fullWidth>
            Address*
            <input formControlName="address" fullWidth nbInput type="text">
          </label>
          <span
            *ngIf="eventLocationForm['controls'].location['controls'].address.touched && eventLocationForm['controls'].location['controls'].address.invalid && eventLocationForm['controls'].location['controls'].address.errors.required"
            class="validation-error-text">
              Required Field
            </span>
        </div>
        <div>
          <label fullWidth>
            Map Link*
            <input formControlName="map_link" fullWidth nbInput type="text">
          </label>
          <span
            *ngIf="eventLocationForm['controls'].location['controls'].map_link.touched && eventLocationForm['controls'].location['controls'].map_link.invalid && eventLocationForm['controls'].location['controls'].map_link.errors.required"
            class="validation-error-text">
              Required Field
            </span>
        </div>
      </div>
      <div *ngIf="selectedEventType === EEventType.ONLINE_ONLY" class="online-event-fields"
           formGroupName="embedded_video_stream">
        <p>
          <small>
            <i>Fill these if your event has a common overall video stream for viewing</i>
          </small>
        </p>
        <div>
          <nb-select (selectedChange)="updateZoomValidators()" formControlName="source" fullWidth placeholder="Source*"
                     size="small" status="primary">
            <nb-option [value]="EEmbeddedVideoStreamSources.ZOOM">
              Zoom
            </nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.YOUTUBE">
              YouTube (URL)
            </nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.EXTERNAL_LINK">
              External Link (to another platform)
            </nb-option>
            <nb-option [value]="EEmbeddedVideoStreamSources.OTHER">
              Other (Embedded Iframe)
            </nb-option>
          </nb-select>
        </div>

        <div>
          <label>
            <span
              *ngIf="eventLocationForm.get('embedded_video_stream').get('source').value == EEmbeddedVideoStreamSources.ZOOM">
              Zoom Meeting ID
            </span>

            <span
              *ngIf="eventLocationForm.get('embedded_video_stream').get('source').value == EEmbeddedVideoStreamSources.YOUTUBE">
              Video Url
            </span>

            <span
              *ngIf="eventLocationForm.get('embedded_video_stream').get('source').value == EEmbeddedVideoStreamSources.EXTERNAL_LINK">
              Paste link here
            </span>

            <span
              *ngIf="eventLocationForm.get('embedded_video_stream').get('source').value == EEmbeddedVideoStreamSources.OTHER">
              Other (Embedded Iframe)
            </span>

            <span
              *ngIf="eventLocationForm['controls'].embedded_video_stream['controls'].embed_code.touched && eventLocationForm['controls'].embedded_video_stream['controls'].embed_code.invalid && eventLocationForm['controls'].embedded_video_stream['controls'].embed_code.errors.required"
              class="validation-error-text">
              Required Field
            </span>
            <textarea formControlName="embed_code" fullWidth nbInput placeholder=""></textarea>
          </label>
        </div>

        <div
          *ngIf="eventLocationForm.get('embedded_video_stream').get('source').value == EEmbeddedVideoStreamSources.ZOOM">
          <label>
            Meeting/Webinar Host Email <span
            *ngIf="eventLocationForm['controls'].embedded_video_stream['controls'].zoom_host_email.touched && eventLocationForm['controls'].embedded_video_stream['controls'].zoom_host_email.invalid && eventLocationForm['controls'].embedded_video_stream['controls'].zoom_host_email.errors.required"
            class="validation-error-text">
              Required Field
            </span>
            <input formControlName="zoom_host_email" fullWidth nbInput placeholder="Type email id here">
          </label>
        </div>
        <div
          *ngIf="eventLocationForm.get('embedded_video_stream').get('source').value == EEmbeddedVideoStreamSources.ZOOM">
          <label>
            Meeting/Webinar Password (visible only to organizers) <span
            *ngIf="eventLocationForm['controls'].embedded_video_stream['controls'].zoom_password.touched && eventLocationForm['controls'].embedded_video_stream['controls'].zoom_password.invalid && eventLocationForm['controls'].embedded_video_stream['controls'].zoom_password.errors.required"
            class="validation-error-text">
              Required Field
            </span>
            <input formControlName="zoom_password" fullWidth nbInput placeholder="Type password here">
          </label>
        </div>
      </div>

      <div class="save-button-bottom">
        <button [disabled]="!eventLocationForm.valid" fullWidth nbButton status="info" type="submit">
          Save
        </button>
      </div>
    </form>
  </ng-template>

  <ng-template #deleteEventLocationTemplate let-data>
    <div>
      <p class="text-dander">Are you sure you want to delete this location and the associated tracks/slots?</p>
    </div>
    <div>
      <button (click)="deleteEventLocation(true, data.eventLocation)" nbButton status="link">Yes</button>
      <button (click)="deleteEventLocation(false, data.eventLocation)" nbButton status="link">No</button>
    </div>
  </ng-template>

  <ng-template #helpText let-data>
    <h5>Here's how it works</h5>
    <div>
      <ul>
        <li>You can choose between an online (live streaming) and an offline (at a physical space) event</li>
        <li>An event can have multiple locations (physical or online)</li>
        <li>Each location can have multiple tracks</li>
        <li>Each track can have multiple speaker sessions in timed slots</li>
      </ul>
    </div>

    <h5>Choosing online locations</h5>
    <div>
      <ul>
        <li>Dimensions of embedded video: 560px by 340px</li>
        <li>Any embeddable video can be put up in the event.</li>
        <li>You can have a common online stream for the complete event</li>
        <li>OR you can choose to enter a different stream for each track [if filled, this will override the event
          stream]
        </li>
        <li>OR you can have individual streams for each session [if filled, this will override both track and
          event streams]
        </li>
      </ul>
    </div>
  </ng-template>
</div>
