<div class="md:com-mx-72px com-bg-white">
  <section class="section-one">
    <div>
      <div class="content">
        <h1>Lorem ipsum.</h1>
        <p class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
        <p class="sub-heading">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis quam ac vestibulum malesuada.
          Vivamus porttitor justo tortor, et euismod libero.
        </p>
      </div>
      <div class="image">
        <img alt="Commudle" src="/assets/images/commudle-logo128.png" title="Commudle" />
      </div>
    </div>
  </section>
  <hr />
  <section class="section-2">
    <div class="">
      <h2>Lorem ipsum dolor sit.</h2>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus feugiat tempor. Etiam a sollicitudin
          justo. Phasellus vulputate elit erat, quis vestibulum.
        </p>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In velit enim.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In velit enim.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In velit enim.</li>
        </ul>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque dolor nec ante molestie, vitae
          dignissim ex tincidunt.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique nisi ut diam pharetra, in.</p>
      </div>
    </div>
  </section>
  <hr />
  <section class="section-three">
    <div>
      <div class="image">
        <img alt="Commudle" src="/assets/images/commudle-logo128.png" title="Commudle" />
      </div>
      <div class="content">
        <p class="subheading">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida, purus nec condimentum mollis, sapien
          est pretium augue, sed tempus.
        </p>
        <button class="button">Lorem ipsum dolor</button>
      </div>
    </div>
  </section>
</div>
