<div class="com-bg-white">
  <div class="base-layout">
    <div class="container">
      <div class="one-column-layout">
        <section class="student-no-profit">
          <div>
            <div class="content">
              <h1>Developer Communities by Students & Non-Profits</h1>
              <p class="subheading">Commudle is an engine to create a global identity for your Community</p>
              <p class="sub-heading">
                Commudle is free to use for independent student led or non-profit tech communities. All features
                unlocked.
              </p>
            </div>
            <div class="image">
              <img
                alt="Commudle"
                src="https://json.commudle.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMFVZQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--7916707cd97e5efe8a3cd4a53faf20a27867f886/DrawKit%20Vector%20Illustration%20Team%20Work%20(11).png"
                title="Commudle"
              />
            </div>
          </div>
        </section>

        <hr />

        <section class="who-can-avail-this">
          <div class="content">
            <h2>Who Can Avail This Plan</h2>
            <div>
              <p>
                Tech communities led by students or by non-profits which share knowledge for free through any means
                including events, channels, emails and beyond are eligible.
              </p>
              <ol>
                <li>Unlimited members & organizer team accounts.</li>
                <li>
                  Your activites should be completely free for people. However there might be approval based selection
                  to join.
                </li>
                <li>Complete tech and product support is available.</li>
              </ol>
              <p>
                We encourage you to have clear community guidelines for your members to foster learning and help build a
                strong network.
              </p>
            </div>
          </div>
        </section>

        <hr />

        <section class="start-community">
          <div>
            <div class="image">
              <img
                alt="Commudle"
                src="https://json.commudle.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMGNZQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--aefad4e9b634f3c7261875c23d29eceeb20ada17/DrawKit%20Vector%20Illustration%20Team%20Work%20(3)%201.png"
                title="Commudle"
              />
            </div>
            <div class="content">
              <p class="subheading">
                Join thousands of developers, designers and their communities. Start your own community now!
              </p>
              <a [routerLink]="['/fill-form', 1343]">
                <button nbButton size="large" shape="semi-round" status="primary" class="button">
                  <fa-icon [icon]="faStar" class="com-mr-2"></fa-icon>
                  Apply for the free plan
                </button>
              </a>
            </div>
          </div>
        </section>

        <hr />

        <section class="application-process">
          <div class="content">
            <h2>What is the application process?</h2>
            <ol>
              <li>
                Once you have filled the form with appropriate details, our team will reachout in three working day to
                you from the communication details you have filled in the form.
              </li>
              <li>
                After we are convinced, we will ask you to share the basic details including the community's logo, name,
                email and description to create a community.
              </li>
              <li>
                You will receive a confirmation email with further instructions to start making changes and organizing
                engagements within your community.
              </li>
            </ol>
            <p>
              Finally, you & teammates who initiated the conversation will own the community account, Commudle will only
              act as a platform. However, we are available enthusiastically to help in any ways possible to scale your
              community by using the platform better.
            </p>
          </div>
        </section>

        <commudle-faq [answers]="answers" [questions]="questions"></commudle-faq>
      </div>
    </div>
  </div>
</div>
