<div class="com-flex com-justify-between com-items-center">
  <div class="com-text-2xl md:com-text-3xl com-font-medium com-text-gray-900 com-mb-4">Events</div>
  <div>
    <button
      (click)="updateEventsIdx(-4)"
      [disabled]="eventsStartIdx === 0"
      class="com-mr-2"
      nbButton
      shape="round"
      size="small"
    >
      <nb-icon icon="arrow-left"></nb-icon>
    </button>
    <button
      (click)="updateEventsIdx(4)"
      [disabled]="eventsStartIdx + 4 === maxEventsCount"
      nbButton
      shape="round"
      size="small"
    >
      <nb-icon icon="arrow-right"></nb-icon>
    </button>
  </div>
</div>
<ng-container *ngIf="!isLoading; else loading">
  <div *appBreakpoints="'>md'" class="com-grid com-grid-cols-4 com-gap-6 com-min-h-[254px]">
    <app-homepage-events-card
      *ngFor="let event of events | slice: eventsStartIdx:eventsStartIdx + 4"
      [event]="event"
    ></app-homepage-events-card>
  </div>
  <div *appBreakpoints="'<=md'" class="com-flex com-gap-6 com-overflow-x-auto">
    <app-homepage-events-card *ngFor="let event of events" [event]="event"></app-homepage-events-card>
  </div>
</ng-container>
<ng-template #loading>
  <app-skeleton-text [rows]="5"></app-skeleton-text>
</ng-template>
