.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  p {
    font-size: 0.8rem;
  }

  nb-icon {
    font-size: 0.8rem;
  }

  .author-image {
    width: 35px;
    display: flex;
    align-self: start;
    img {
      width: 100%;
    }
  }

  .content-controls {
    width: 100%;
    .author-details {
      p {
        margin: 0 0 0.2rem;
        color: grey;
      }
    }

    .details-flag {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      >div {
        margin-right: 10px;

        p {
          margin: 5px 0 0;
        }
      }

      .votes {
        nb-icon {
          font-size: 1.2rem;
        }
      }

      .votes, .reply-button {
        p {
          font-size: 1.1rem;
        }
      }

    }
  }
}

.replies-container {
  margin: 1rem;
  // border-bottom: 1px solid lightgrey;
  // border-left: 1px solid lightgrey;
  // border-right: 1px solid lightgrey;

  .reply-form {
    width: 100%;
    form {
      display: flex;
      width: 100%;
      button {
        width: 30px;
      }
    }

  }
}
