.user {
  @apply com-flex com-flex-col com-items-center com-bg-Bright-Gray/40 com-rounded-t-[8px] com-text-center;

  .user-image {
    @apply com-w-[120px] com-h-[120px] com-mt-6 com-mb-4;
    img {
      @apply com-w-full com-h-auto com-object-cover com-rounded-full;
    }
  }

  .user-name {
    @apply com-text-xl com-font-medium com-text-black com-m-0 com-mb-1;
  }

  .user-username {
    @apply com-text-sm com-font-normal com-text-Quartz com-m-0 com-mb-1;
  }

  .user-designation {
    @apply com-text-sm com-font-normal com-text-Dark-Jungle-Green com-m-0 com-mb-4;
  }

  .count {
    @apply com-flex com-flex-row com-gap-x-3 com-mb-5;

    span {
      @apply com-text-xs com-font-medium com-text-black com-mr-1;
    }

    p {
      @apply com-m-0 com-text-xs com-font-normal com-text-Auro-Metal-Saurus;
    }
  }
}
