<nb-card>
  <nb-card-body>
    <div *ngIf="channels.length > 0" class="channels d-flex flex-wrap justify-content-center">
      <a
        *ngFor="let channel of channels"
        [routerLink]="['/communities', channel.kommunity_id, 'channels', 'app', channel.id]"
        class="clickable"
      >
        <nb-card class="channel">
          <nb-card-body class="d-flex">
            <div class="header-image d-flex align-items-center justify-content-center">
              <img
                alt="{{ channel.name }}"
                src="{{ channel.logo || community.logo_path }}"
                title="{{ channel.name }}"
              />
            </div>
            <div class="details">
              <h5>
                {{ channel.name }}
              </h5>
              <p class="member-count">Member Count : {{ channel.member_count }}</p>
              <div
                [innerHTML]="channel.description | linky: { sanitizeHtml: true }"
                class="complete-description com-line-clamp-2"
              ></div>
            </div>
            <div class="enter-channel-btn-container">
              <button class="enter-channel-btn anim-shadow" nbButton fullWidth size="small">
                Enter Channel
                <nb-icon [icon]="'checkmark'"></nb-icon>
              </button>
            </div>
          </nb-card-body>
        </nb-card>
      </a>
    </div>
    <div class="visit-all-channels">
      <a [routerLink]="['/communities', this.community.slug, 'channels']" ghost nbButton status="link">
        Visit All Channels
      </a>
    </div>
  </nb-card-body>
</nb-card>
