nb-card {
  @apply com-mt-8 com-mx-0 com-mb-4;

  nb-card-body {
    @apply com-p-0;

    .channels {
      @apply com-bg-white com-rounded-[10px] com-gap-8 com-p-8;

      a {
        text-decoration: none;
        @apply com-relative;
      }

      nb-card {
        @apply com-border-[1px] com-border-solid com-border-[#c4c4c4] com-h-32 com-m-0 com-overflow-hidden;
      }

      .channel-clickable {
        @apply com-w-full;

        .channel {
          @apply com-w-full;

          &:hover {
            box-shadow: 0 2px 5px 1px lightgrey;
          }

          nb-card-body {
            .header-image {
              @apply com-mr-6 com-w-[220px] com-min-w-[220px];

              img {
                @apply com-w-full com-h-full com-object-cover;
              }
            }

            .details {
              h5 {
                @apply com-text-[#2f2e41] com-text-[18px] com-font-semibold com-leading-[21px] com-mt-3 com-mx-0 com-mb-2;
              }

              .member-count {
                @apply com-leading-3;
              }

              .complete-description {
                @apply com-whitespace-pre-wrap;
              }
            }

            .enter-channel-btn-container {
              @apply com-absolute com-right-[7px] com-top-[7px];

              @media all and (max-width: 576px) {
                right: unset;
                top: unset;
                @apply com-bottom-0 com-p-[7px] com-absolute com-w-full;
              }

              .enter-channel-btn {
                text-transform: none;
                @apply com-bg-[#536eff]/[0.2] com-border-0 com-rounded-[10px] com-text-[#536eff] com-text-[12px] com-font-normal com-h-8 com-p-2;

                &:hover {
                  @apply com-bg-[#536eff]/[0.2];
                }

                nb-icon {
                  @apply com-mr-1;
                }
              }
            }
          }
        }
      }

      @media all and (max-width: 576px) {
        @apply com-pt-10 com-px-5 com-pb-5;

        .channel-clickable {
          .channel {
            @apply com-h-[307px] com-w-[318px];

            nb-card-body {
              @apply com-flex-col;

              .details {
                @apply com-items-center com-flex com-flex-col com-p-[10px];
              }

              .header-image {
                @apply com-m-0 com-h-[120px] com-w-full;

                img {
                  @apply com-object-contain;
                }
              }
            }
          }
        }
      }
    }

    .visit-all-channels {
      @apply com-flex com-justify-center;
    }
  }
}
