nb-card {
  @apply com-mt-8 com-mx-0 com-mb-4;

  nb-card-body {
    @apply com-p-0;

    .channels {
      @apply com-bg-white com-rounded-xl com-gap-8 com-p-8;

      a {
        text-decoration: none;
        @apply com-relative;
      }

      nb-card {
        @apply com-border com-border-solid com-border-Silver-Sand com-h-32 com-m-0 com-overflow-hidden;
      }

      .channel-clickable {
        @apply com-w-full;

        .channel {
          @apply com-h-307px com-w-318px hover:com-shadow-Card;
          @apply sm:com-w-full sm:com-h-32;

          nb-card-body {
            @apply com-flex-col;
            @apply sm:com-flex-row;

            .header-image {
              @apply com-m-0 com-h-120px com-w-full;
              @apply sm:com-mr-6 sm:com-w-220px sm:com-min-w-[220px];

              img {
                @apply com-w-full com-h-full com-object-contain;
                @apply sm:com-object-cover;
              }
            }

            .details {
              @apply com-items-center com-flex com-flex-col com-p-10px;
              @apply sm:com-items-start sm:com-p-0;
              h5 {
                @apply com-text-gunmetal com-text-lg com-font-semibold com-leading-21px com-mt-3 com-mx-0 com-mb-2;
              }

              .member-count {
                @apply com-leading-3;
              }

              .complete-description {
                @apply com-whitespace-pre-wrap;
              }
            }

            .enter-channel-btn-container {
              @apply com-absolute com-right-7px com-top-7px;

              @media all and (max-width: 576px) {
                right: unset;
                top: unset;
                @apply com-bottom-0 com-p-7px com-absolute com-w-full;
              }

              .enter-channel-btn {
                @apply com-bg-Very-Light-Blue/30 com-border-0 com-rounded-xl com-text-Very-Light-Blue com-text-xs com-font-normal com-h-8 com-p-2 com-no-underline;

                &:hover {
                  @apply com-bg-Very-Light-Blue/20;
                }

                nb-icon {
                  @apply com-mr-1;
                }
              }
            }
          }
        }
      }
    }

    .visit-all-channels {
      @apply com-flex com-justify-center;
    }
  }
}
