:host {
  .event-create-form-container {
    max-width: 920px;
    margin: 0 auto;
    .back-button {
      @apply com-pl-2;
    }
  }

  .save-button-top {
    margin: 0 0 1.5rem 0;
  }
  .save-button-bottom {
    margin: 1.5rem 0 0 0;
  }

  div[role='group'] {
    margin: 1rem 0;
  }

  .event-date-details {
    margin: 1rem 0 0 0;
    > div {
      display: flex;
      flex-wrap: wrap;
      > div {
        margin-right: 1.5rem;
      }

      @media screen and (max-width: 640px) {
        > div {
          margin: 0.5rem 0;
        }
      }
    }
  }

  .required::after {
    content: ' *';
  }
}

.help-section {
  @apply com-flex com-items-center;

  h3 {
    @apply com-m-0;
  }
}

.event-type {
  > div {
    @apply com-mt-1;
    > div {
      @apply com-flex com-gap-2 com-items-center;
    }
  }
}
