<div class="event-create-form-container">
  <br />
  <div class="back-button">
    <commudle-back-button text="Back to events list"></commudle-back-button>
  </div>
  <nb-card>
    <nb-card-body>
      <h3>Create an Event For {{ community.name }}</h3>
      <p>Let's begin by adding some details</p>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <form (ngSubmit)="createEvent()" [formGroup]="eventForm" class="event-create-form">
        <div formGroupName="event">
          <div role="group">
            <div>
              <label fullWidth>
                Name*
                <input formControlName="name" fullWidth nbInput type="text" />
              </label>
              <span
                *ngIf="
                  eventForm['controls'].event['controls'].name.touched &&
                  eventForm['controls'].event['controls'].name.invalid &&
                  eventForm['controls'].event['controls'].name.errors.required
                "
              >
                <commudle-alert [errorMessage]="'Required Field'" [error]="true"></commudle-alert>
              </span>
            </div>
          </div>

          <span>Timings (Leave empty if you are yet to decide)</span>
          <div class="event-date-details">
            <label>Start Date</label>
            <div>
              <div>
                <input type="datetime-local" formControlName="start_date" nbInput placeholder="Date" />
              </div>
            </div>
          </div>

          <div class="event-date-details">
            <label>End Date</label>
            <div>
              <div>
                <input type="datetime-local" formControlName="end_date" nbInput placeholder="Date" />
              </div>
            </div>
          </div>

          <div class="event-date-details" role="group">
            <label>
              <nb-select formControlName="timezone" hero placeholder="TimeZone*" size="large" status="primary">
                <nb-option *ngFor="let tz of allTimeZones" [value]="tz">
                  {{ tz }}
                </nb-option>
              </nb-select>
            </label>
          </div>

          <div role="individual">
            <label> Description* </label>
            <span
              *ngIf="
                eventForm['controls'].event['controls'].description.touched &&
                eventForm['controls'].event['controls'].description.invalid &&
                eventForm['controls'].event['controls'].description.errors.required
              "
            >
              <commudle-alert [errorMessage]="'Required Field'" [error]="true"></commudle-alert>
            </span>
            <editor [init]="tinyMCE" formControlName="description"> </editor>
          </div>

          <div role="group">
            <div>
              <label fullWidth>
                Tags*
                <app-tag
                  (tagAdd)="onTagAdd($event)"
                  (tagDelete)="onTagDelete($event)"
                  [backgroundColor]="'com-bg-tAnti-Flash'"
                  [editable]="true"
                  [fontColor]="'com-text-tYankees-Blue'"
                  [minimumTags]="minimumTags"
                  [tags]="tags"
                ></app-tag>
              </label>
            </div>
          </div>
        </div>

        <div class="save-button-bottom">
          <button
            [disabled]="!eventForm.valid || tags.length < 3 || isFormSubmitting"
            [nbSpinner]="isFormSubmitting"
            fullWidth
            nbButton
            status="info"
            type="submit"
          >
            Save
          </button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
