<div class="base-layout com-mb-8">
  <div class="container">
    <div class="one-column-layout">
      <div *ngIf="community" class="home-component">
        <div class="page-header d-flex flex-column">
          <img alt="{{ community.name }}" class="logo" src="{{ community.logo_path }}" title="{{ community.name }}" />
          <div class="details">
            <div class="com-flex com-justify-between com-items-center com-flex-col com-my-2 md:com-flex-row md:com-m-0">
              <h1>{{ community.name }}</h1>
              <div class="com-text-3xl" *ngIf="isOrganizer">
                <a nbButton status="danger" [routerLink]="['/admin', 'communities', community.slug]">
                  Go to Admin Panel
                  <nb-icon icon="edit-outline"></nb-icon>
                </a>
              </div>
            </div>
            <div class="membership d-flex flex-column">
              <p class="member-count">
                <a [routerLink]="['members']">
                  <nb-icon icon="people" status="basic"></nb-icon>
                  {{ community.member_count }} Members
                </a>
              </p>
              <div class="social-links-container d-flex justify-content-space-between">
                <div class="membership-toggle">
                  <app-membership-toggle [community]="community"></app-membership-toggle>
                </div>

                <div class="community-social-links d-flex align-items-center">
                  <a
                    *ngIf="community.facebook"
                    href="{{ community.facebook | completeurl: 'facebook' }}"
                    rel="noreferrer"
                    target="_blank"
                  >
                    <nb-icon icon="facebook" status="info"></nb-icon>
                  </a>
                  <a
                    *ngIf="community.linkedin"
                    href="{{ community.linkedin | completeurl: 'linkedin' }}"
                    rel="noreferrer"
                    target="_blank"
                  >
                    <nb-icon icon="linkedin" status="info"></nb-icon>
                  </a>
                  <a
                    *ngIf="community.twitter"
                    href="{{ community.twitter | completeurl: 'twitter' }}"
                    rel="noreferrer"
                    target="_blank"
                  >
                    <nb-icon icon="twitter" status="info"></nb-icon>
                  </a>
                  <a
                    *ngIf="community.github"
                    href="{{ community.github | completeurl: 'github' }}"
                    rel="noreferrer"
                    target="_blank"
                  >
                    <nb-icon icon="github" status="info"></nb-icon>
                  </a>
                  <a
                    *ngIf="community.website"
                    href="{{ community.website | completeurl }}"
                    rel="noreferrer"
                    target="_blank"
                  >
                    <nb-icon icon="globe" status="info"></nb-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-menu">
          <nb-card>
            <nb-card-body>
              <div class="menu-items d-flex">
                <a
                  [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/communities', community.slug]"
                  class="d-flex"
                  routerLinkActive="active"
                >
                  <nb-icon icon="info" status="basic"></nb-icon>
                  <span class="title">About</span>
                </a>
                <a [routerLink]="['events']" class="d-flex" routerLinkActive="active">
                  <nb-icon icon="calendar" status="info"></nb-icon>
                  <span class="title">Events</span>
                </a>
                <!-- <a [routerLink]="['resources']" routerLinkActive="active">
                  <nb-icon icon="award" status="info"></nb-icon>
                  <span>Sessions by Experts</span>
                </a> -->
                <a [routerLink]="['speakers']" class="d-flex" routerLinkActive="active">
                  <nb-icon icon="mic" status="success"></nb-icon>
                  <span class="title">Speakers</span>
                </a>
                <a [routerLink]="['members']" class="d-flex" routerLinkActive="active">
                  <nb-icon icon="people" status="success"></nb-icon>
                  <span class="title">Members</span>
                </a>
                <a [routerLink]="['public-channels']" class="d-flex" routerLinkActive="active">
                  <nb-icon icon="hash" status="success"></nb-icon>
                  <span class="title">Channels</span>
                </a>
                <div *ngIf="isOrganizer" class="com-relative">
                  <a [routerLink]="['notifications']" class="d-flex" routerLinkActive="active">
                    <nb-badge
                      *ngIf="notificationCount > 0"
                      [text]="notificationCount.toString()"
                      status="danger"
                    ></nb-badge>

                    <nb-icon icon="bell" status="success"></nb-icon>
                    <span class="title">Activity</span>
                  </a>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="router-outlet">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
