<div class="base-layout com-mb-8">
  <div class="container">
    <div class="one-column-layout">
      <div *ngIf="community" class="home-component">
        <nb-card class="!com-my-0">
          <nb-card-body class="!com-p-0">
            <div class="banner-image">
              <img
                src="{{ community.banner_image ? community.banner_image.url : '/assets/images/Frame-340.png' }}"
                alt="{{ community.name }}"
              />
              <div class="edit-button" *ngIf="isOrganizer">
                <button nbButton status="primary" outline>Edit Banner</button>
              </div>
            </div>
            <div class="page-header d-flex flex-column">
              <div class="com-h-52 com-w-52 com-rounded-full -com-mt-28 com-mx-4 com-bg-white com-shadow-md">
                <img
                  alt="{{ community.name }}"
                  class="logo"
                  src="{{ community.logo_path }}"
                  title="{{ community.name }}"
                />
              </div>
              <div class="details">
                <div
                  class="com-flex com-justify-between com-items-center com-flex-col com-my-2 md:com-flex-row md:com-m-0"
                >
                  <div class="com-grid com-grid-cols-2 com-items-center">
                    <h1>{{ community.name }}</h1>
                    <app-share-button
                      [content]="environment.app_url + '/communities/' + community.slug"
                      [title]="community.name"
                      [url]="environment.app_url + '/communities/' + community.slug"
                      [showText]="true"
                      [appearance]="'outline'"
                      class="com-pl-4"
                    ></app-share-button>
                  </div>
                </div>
                <div class="membership d-flex flex-column">
                  <p class="member-count">
                    <a [routerLink]="['members']">
                      <nb-icon icon="people" status="basic"></nb-icon>
                      {{ community.member_count }} Community Members
                    </a>
                  </p>
                  <div class="community-social-links d-flex align-items-center">
                    <a
                      *ngIf="community.facebook"
                      href="{{ community.facebook | completeurl : 'facebook' }}"
                      rel="noreferrer"
                      target="_blank"
                    >
                      <nb-icon icon="facebook" status="info"></nb-icon>
                    </a>
                    <a
                      *ngIf="community.linkedin"
                      href="{{ community.linkedin | completeurl : 'linkedin' }}"
                      rel="noreferrer"
                      target="_blank"
                    >
                      <nb-icon icon="linkedin" status="info"></nb-icon>
                    </a>
                    <a
                      *ngIf="community.twitter"
                      href="{{ community.twitter | completeurl : 'twitter' }}"
                      rel="noreferrer"
                      target="_blank"
                    >
                      <nb-icon icon="twitter" status="info"></nb-icon>
                    </a>
                    <a
                      *ngIf="community.github"
                      href="{{ community.github | completeurl : 'github' }}"
                      rel="noreferrer"
                      target="_blank"
                    >
                      <nb-icon icon="github" status="info"></nb-icon>
                    </a>
                    <a
                      *ngIf="community.website"
                      href="{{ community.website | completeurl }}"
                      rel="noreferrer"
                      target="_blank"
                    >
                      <nb-icon icon="globe" status="info"></nb-icon>
                    </a>
                  </div>
                </div>
              </div>
              <div class="membership-toggle">
                <div class="com-flex com-justify-end">
                  <app-membership-toggle
                    [community]="community"
                    [shapes]="'semi-round'"
                    [size]="'medium'"
                    [status]="'primary'"
                  ></app-membership-toggle>
                </div>
                <div class="com-text-3xl com-mt-10" *ngIf="isOrganizer">
                  <a
                    nbButton
                    status="danger"
                    [routerLink]="['/admin', 'communities', community.slug]"
                    target="_blank"
                    shape="semi-round"
                  >
                    Go to Admin Panel
                    <nb-icon icon="edit-outline"></nb-icon>
                  </a>
                </div>
              </div>
            </div>
            <div class="page-menu">
              <div class="menu-items d-flex">
                <a
                  [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/communities', community.slug]"
                  class="d-flex"
                  routerLinkActive="active"
                >
                  <nb-icon icon="info" status="basic"></nb-icon>
                  <span class="title">About</span>
                </a>
                <a [routerLink]="['events']" class="d-flex" routerLinkActive="active">
                  <nb-icon icon="calendar" status="info"></nb-icon>
                  <span class="title">Events</span>
                </a>
                <!-- <a [routerLink]="['resources']" routerLinkActive="active">
                  <nb-icon icon="award" status="info"></nb-icon>
                  <span>Sessions by Experts</span>
                </a> -->
                <a [routerLink]="['speakers']" class="d-flex" routerLinkActive="active">
                  <nb-icon icon="mic" status="success"></nb-icon>
                  <span class="title">Speakers</span>
                </a>
                <a [routerLink]="['members']" class="d-flex" routerLinkActive="active">
                  <nb-icon icon="people" status="success"></nb-icon>
                  <span class="title">Members</span>
                </a>
                <a [routerLink]="['public-channels']" class="d-flex" routerLinkActive="active">
                  <nb-icon icon="hash" status="success"></nb-icon>
                  <span class="title">Channels</span>
                </a>
                <div *ngIf="isOrganizer" class="com-relative">
                  <a [routerLink]="['notifications']" class="d-flex" routerLinkActive="active">
                    <nb-badge
                      *ngIf="notificationCount > 0"
                      [text]="notificationCount.toString()"
                      status="danger"
                    ></nb-badge>

                    <nb-icon icon="bell" status="success"></nb-icon>
                    <span class="title">Activity</span>
                  </a>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <div class="router-outlet">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
