<section class="hackathon-details">
  <app-community-badge *ngIf="community" [community]="community" size="small"></app-community-badge>
  <div *ngIf="hackathon">
    <h1>{{ hackathon.name }}</h1>
    <div class="badge">
      <p>Hackathon</p>
    </div>
  </div>
</section>

<section class="com-flex">
  <div class="sidebar">
    <commudle-sidebar [isExpanded]="true" [expandedWidth]="'large'" [forWindow]="false" [showExpandedButton]="false">
      <div class="action-buttons">
        <a [routerLink]="['/admin', 'communities', community?.slug, 'hackathons']" class="back-admin">
          <div class="icon">
            <fa-icon [icon]="icons.faArrowLeft"></fa-icon>
          </div>
          <div class="action-button-name com-font-medium">Back to Admin Panel</div>
        </a>
        <div>
          <div class="action-buttons-group-name">Event Setup</div>
          <div>
            <a [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['./']" routerLinkActive="active">
              <div class="icon">
                <fa-icon [icon]="icons.faCircleInfo"></fa-icon>
              </div>
              <div class="action-button-name">Basic Information</div>
            </a>
            <a [routerLink]="['contact']" routerLinkActive="active">
              <div class="icon">
                <fa-icon [icon]="icons.faLink"></fa-icon>
              </div>
              <div class="action-button-name">Contact & Social Links</div>
            </a>
            <a [routerLink]="['dates']" routerLinkActive="active">
              <div class="icon">
                <fa-icon [icon]="icons.faCalendarDays"></fa-icon>
              </div>
              <div class="action-button-name">Hackathon's Dates</div>
            </a>
            <a [routerLink]="['tracks']" routerLinkActive="active">
              <div class="icon">
                <fa-icon [icon]="icons.faAward"></fa-icon>
              </div>
              <div class="action-button-name">Tracks & Prizes</div>
            </a>
            <a [routerLink]="['registrations']" routerLinkActive="active">
              <div class="icon">
                <fa-icon [icon]="icons.faBook"></fa-icon>
              </div>
              <div class="action-button-name">Registrations</div>
            </a>
            <a [routerLink]="['sponsors']" routerLinkActive="active">
              <div class="icon">
                <fa-icon [icon]="icons.faSackDollar"></fa-icon>
              </div>
              <div class="action-button-name">Sponsors</div>
            </a>
            <a [routerLink]="['speakers']" routerLinkActive="active">
              <div class="icon">
                <fa-icon [icon]="icons.faMicrophone"></fa-icon>
              </div>
              <div class="action-button-name">Judges & Speakers</div>
            </a>
            <a [routerLink]="['faqs']" routerLinkActive="active">
              <div class="icon">
                <fa-icon [icon]="icons.faPenToSquare"></fa-icon>
              </div>
              <div class="action-button-name">FAQ's</div>
            </a>
          </div>
        </div>
      </div>
    </commudle-sidebar>
  </div>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</section>
