nb-card {
  @apply com-h-full com-m-0 com-border-none;

  nb-card-header {
    @apply com-sticky com-top-0 com-z-20 com-bg-white;
  }
  nb-card-body {
    @apply com-mx-0 com-p-0;
  }
}

.forums-cards {
  @apply com-grid com-grid-cols-1 md:com-grid-cols-3 com-gap-3 com-m-5;
  .container {
    @apply com-cursor-pointer hover:com-shadow-Card com-w-72 com-h-44 com-border com-border-solid com-border-[#e4e7eb] com-rounded-lg;
    .header {
      @apply com-w-full com-h-14 com-overflow-hidden com-rounded-tl-md com-rounded-tr-md;
    }
    .image {
      @apply com-w-10 com-h-10 com-rounded-lg com-border com-border-solid com-border-Bright-Gray com-ml-3 com-p-px -com-mt-6 com-bg-white;
      img {
        @apply com-w-full com-rounded-lg;
      }
    }
  }
}

.details {
  @apply com-p-3;
  .discussion-name {
    @apply com-text-base com-text-black com-line-clamp-2 com-h-12;
  }
  .discussion-category {
    @apply com-text-sm com-text-Auro-Metal-Saurus com-mt-4;
  }
}

.empty-state {
  @apply com-grid com-place-items-center;
  div {
    @apply com-text-center;
    .heading {
      @apply com-text-2xl com-font-bold;
    }
    .sub-heading {
      @apply com-text-lg;
    }
  }
}
