<nb-card>
  <nb-card-body>
    <div *ngIf="skeletonLoaderCard" class="skeleton-vertical-cards">
      <commudle-skeleton-vertical-cards [cards]="4"></commudle-skeleton-vertical-cards>
    </div>
    <div *ngIf="speakers.length > 0" class="speakers-container">
      <p class="header-text">Meet Our Speakers</p>
      <div class="speakers-list">
        <ng-container *ngFor="let speaker of speakers" class="speakers-card">
          <app-speaker-card [speaker]="speaker" [maxUserNameLength]="25"></app-speaker-card>
        </ng-container>
        <div class="load-more">
          <app-loading-spinner *ngIf="canLoadMoreSpeakers && !skeletonLoaderCard"></app-loading-spinner>
          <button
            *ngIf="page_info?.has_next_page"
            [disabled]="isLoadingSpeakers"
            (click)="getSpeakerDetails()"
            nbButton
            outline
            size="tiny"
            status="basic"
          >
            View More
          </button>
        </div>
      </div>
    </div>

    <div class="members-container">
      <div class="members">
        <p class="header-text">Explore Members</p>
        <app-loading-spinner *ngIf="isLoadingMembers && !canLoadMore"></app-loading-spinner>
        <div class="members-list">
          <ng-container *ngFor="let member of members">
            <app-user-profile-card-large
              [user]="member"
              [showFollowButton]="true"
              [alignFollowToRight]="true"
            ></app-user-profile-card-large>
          </ng-container>
        </div>

        <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
        <div class="load-more">
          <button
            *ngIf="canLoadMore"
            (click)="getMembers()"
            nbButton
            outline
            size="small"
            status="info"
            [disabled]="!canLoadMore || isLoadingMembers"
          >
            Load More
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
