.community-members {
  @apply com-px-6 com-pt-6;

  .pages {
    display: flex;
    justify-content: center;
    margin: 1rem;

    p {
      margin: 0 0.5rem;

      nb-icon {
        font-size: 0.8rem;
      }
    }

    .selected-page {
      color: blue;
    }
  }

  .member {
    .context-menu {
      @apply com-invisible;
    }

    &:hover {
      .context-menu {
        @apply com-visible;
      }
    }
    .user-communities-role {
      @apply com-text-black com-bg-[#FFAA00] com-flex com-items-center com-w-min com-p-0 com-px-2 com-font-medium com-rounded-xl com-mt-0;
      nb-icon {
        @apply com-text-white com-mr-1;
      }
    }
  }
}

table {
  @apply com-border-collapse com-w-full;
  td,
  th {
    @apply com-border com-border-solid com-border-gray-200 com-p-4;
  }
  th {
    @apply com-font-extrabold com-text-lg;
  }
}
