@import './projects/commudle-admin/src/assets/styles/variables';

.admin-assets-list {
  nb-card-header {
    @media screen and (max-width: $tab-width) {
      @apply com-flex-col;
    }
  }

  nb-card-body {
    @apply com-p-0;

    .assets-list-container {
      nb-list {
        nb-list-item {
          &:first-of-type {
            @apply com-border-0;
          }

          &:last-of-type {
            @apply com-border-b-0;
          }

          .assets-details {
            @apply com-w-full;

            @media screen and (max-width: $tab-width) {
              @apply com-items-center com-flex com-flex-col;
            }

            .title {
              @apply com-text-xl com-font-semibold;

              @media screen and (max-width: $tab-width) {
                @apply com-items-center com-flex com-flex-col com-gap-[10px];
              }
            }
          }

          .controls {
            @apply com-gap-4;

            @media screen and (max-width: $tab-width) {
              @apply com-m-5;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: $tab-width) {
  .admin-assets-list {
    nb-card-body {
      .assets-list-container {
        nb-list {
          nb-list-item {
            @apply com-flex-col;
          }
        }
      }
    }
  }
}
.asset-image img {
  @apply com-h-[200px];
}
