@import './projects/commudle-admin/src/assets/styles/variables';

.user-details-container {
  .timeago {
    margin: 0;
    color: $low-emphasis-text;
  }

  a {
    text-decoration: none;

    h6 {
      margin: 0;
    }
    .user-avatar {
      min-height: 50px;
      overflow: hidden;
      width: 50px;
      img {
        width: 100%;
      }
    }
  }

  .contact-details {
    margin: 0;
  }

  .social-links {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    a {
      color: black;
      margin: 0 0.5rem;
    }
  }
}
