.chats-list-container {
  @apply com-relative;

  .chats-list {
    @apply com-hidden com-border-0 com-m-0 com-absolute com-w-300px com-overflow-hidden com-right-3 com-bottom-32 com-shadow-Chat-box;
    @apply md:com-bottom-24;

    &.active {
      @apply com-flex;
    }

    nb-card-header {
      @apply com-p-4;
    }

    nb-card-body {
      @apply com-p-0 com-max-h-[60vh];
    }
  }

  .chats-list-toggle {
    @apply com-absolute com-w-10 com-h-10 com-right-3 com-p-2 com-bottom-20;
    @apply md:com-bottom-6 com-shadow-Chat-box;

    nb-icon {
      @apply com-ml-0 #{!important};
    }
  }
}
