.chats-list-container {
  // position: relative;
  @apply com-relative;

  .chats-list {
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    @apply com-hidden com-m-0 com-absolute com-w-[300px] com-overflow-hidden com-right-3 com-bottom-[76px];

    &.active {
      @apply com-flex;
    }

    nb-card-header {
      @apply com-p-4;
    }

    nb-card-body {
      @apply com-p-0 com-max-h-[60vh];
    }
  }

  .chats-list-toggle {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    @apply com-absolute com-w-10 com-h-10 com-right-3 com-p-2 com-bottom-6;

    nb-icon {
      margin-left: 0 !important;
    }
  }
}

@media all and (max-width: 768px) {
  .chats-list-container {
    .chats-list {
      @apply com-bottom-32;
    }

    .chats-list-toggle {
      @apply com-bottom-[76px];
    }
  }
}
