<nb-card [routerLink]="['/speaker-resources', pastEvent.id]" class="user-past-event-card clickable">
  <nb-card-body>
    <nb-actions>
      <nb-action>
        <p class="user-past-event-date">{{pastEvent.event.start_time | date: 'MMM d'}}</p>
        <p class="user-past-event-date">{{pastEvent.event.start_time | date: 'YYYY'}}</p>
      </nb-action>
      <nb-action>
        <p class="user-past-event-title">{{(pastEvent.title || '') | truncatetext:18}}</p>
        <p class="user-past-event-description">{{(pastEvent.event.name || '') | truncatetext:21}}</p>
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>
