<div class="member">
  <div class="user-profile">
    <app-badge
      *ngIf="userRolesUser.user_role.name === EUserRoles.COMMUNITY_CHANNEL_ADMIN"
      [text]="'Admin'"
      [color]="'com-bg-Blueberry'"
      [fontSize]="'small'"
      [fontColor]="'com-text-white'"
    ></app-badge>
    <app-badge
      *ngIf="userRolesUser.status === EUserRolesUserStatus.INVITED"
      [text]="'Invited'"
      [color]="'com-bg-Bright-Gray-Light'"
      [fontColor]="'com-text-Auro-Metal-Saurus'"
      [fontSize]="'small'"
    ></app-badge>
    <app-user-profile-mini
      [user]="userRolesUser.user"
      [designation]="true"
      [size]="'small'"
      [showLiveStatus]="showLiveStatus"
    ></app-user-profile-mini>
  </div>
  <div
    class="user-context-menu clickable"
    [nbContextMenu]="contextMenuItems"
    [nbContextMenuTag]="'community-channel-member-menu-'.concat(userRolesUser.user.username)"
  >
    <nb-icon icon="more-vertical" status="basic"></nb-icon>
  </div>
</div>
