.member {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  @apply com-mb-2;
  .user-profile {
    width: 90%;
    position: relative;

    app-badge {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
    }
  }

  .user-context-menu {
    nb-icon {
      display: none;
    }
  }

  &:hover {
    .user-context-menu > nb-icon {
      display: flex;
    }
  }
}
