@import './apps/commudle-admin/src/assets/styles/variables';

.user-details-container {
  .timeago {
    margin: 0;
    color: $low-emphasis-text;
  }

  app-user-profile-card-large {
    &::ng-deep {
      .user-profile-large {
        margin: 10px 0;
        background-color: transparent;
      }
    }
  }

  .contact-details {
    margin: 0;
  }

  .social-links {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    a {
      color: black;
      margin: 0 0.5rem;
    }
  }
}
