@import '/projects/commudle-admin/src/assets/styles/variables';

.user-communities-card {
  width: 264px;
  border: 1px solid $platinum;
  border-radius: $border-5;
  margin: 0;

  nb-card-body {
    padding: $space-16;

    .user-communities-logo {
      margin-right: $space-8;
      min-height: 2.5rem;
      max-height: 2.5rem;
      min-width: 2.5rem;
      max-width: 2.5rem;
      overflow: hidden;
      border-radius: 50%;
      border: 0.5px solid $platinum;

      img {
        width: 100%;
      }
    }

    .user-communities-name {
      font-weight: $fw-600;
      font-size: $fs-h5;
      color: $gunmetal;

      span {
        font-size: $fs-h6;
        font-style: italic;
        line-height: 14px;
        color: $neon-blue;
        text-transform: capitalize;
      }
    }

    .user-communities-members {
      margin-top: $space-4;
      font-size: $fs-h6;
      font-style: italic;
      line-height: 14px;
      color: $spanish-gray;
    }
  }
}

//.community-card-container {
//  width: 300px;
//  border: 2px solid #C4C4C4;
//  border-radius: 10px;
//  margin: 0;
//
//  nb-card-body {
//    display: flex;
//    flex-direction: row;
//    align-items: center;
//    padding: 0.75rem;
//
//    .image {
//      display: flex;
//      align-items: center;
//      flex: 1;
//      width: 96px;
//      height: 96px;
//      padding: 16px;
//      border: 1px solid #536EFF;
//      border-radius: 5px;
//
//      img {
//        width: 100%;
//        height: auto;
//      }
//    }
//
//    .details {
//      flex: 3;
//      margin-left: 1rem;
//
//      .name {
//        font-weight: 500;
//        font-family: 'Work Sans', sans-serif !important;
//        color: #2F2E41;
//        margin: 0;
//      }
//
//      .role {
//        font-size: 14px;
//        font-weight: 600;
//        font-family: 'Work Sans', sans-serif !important;
//        text-transform: capitalize;
//        margin-top: 0;
//        color: #536EFF;
//      }
//
//      .count {
//        font-weight: 600;
//        font-family: 'Work Sans', sans-serif !important;
//        margin: 0;
//        color: #979797;
//      }
//    }
//  }
//}
