<div class="homepage-testimonials">
  <div class="quotes com-text-left">&ldquo;</div>
  <p class="content">Commudle rocks! I learned a LOT in here!</p>
  <div class="quotes com-text-right">&rdquo;</div>
  <nb-actions fullWidth size="giant">
    <nb-action class="user">
      <img
        alt="user"
        class="avatar"
        src="https://www.gravatar.com/avatar/e64c7d89f26bd1972efa854d13d7dd61?s=128&amp;d=identicon&amp;r=PG"
        title="user"
      />
      <div class="details">
        <p class="name">John Doe</p>
        <p class="username">@johndoe</p>
      </div>
    </nb-action>
    <nb-action class="text">Built <span class="highlight"> 35 projects </span> on Commudle</nb-action>
    <nb-action class="text">Attended <span class="highlight"> 45 events </span> on Commudle</nb-action>
  </nb-actions>
</div>
