@import './projects/commudle-admin/src/assets/styles/variables';

p {
  @apply com-m-0;
}

.homepage-testimonials {
  border-radius: $border-10;
  @apply com-p-4 md:com-p-20 com-text-gray-900 com-bg-white com-shadow;

  .quotes {
    color: #0095ff;
    @apply com-h-3 com-text-7xl com-font-bold;
  }

  .content {
    min-height: 72px;
    @apply com-px-4 md:com-px-8 com-text-center com-text-gray-900 com-text-2xl md:com-text-4xl com-font-medium com-line-clamp-2;
  }

  nb-actions {
    @apply com-mt-12 md:com-mt-20 com-flex-col md:com-flex-row com-gap-2 md:com-gap-0;

    a {
      text-decoration: none;
    }

    .user,
    .text {
      @apply com-p-0 md:com-p-2 com-text-center;

      @media screen and (max-width: theme('screens.md')) {
        @apply com-border-none;
      }
    }

    .text {
      @apply com-text-gray-900 com-text-xl com-font-medium;
    }
  }

  .navigation {
    @apply com-mt-12 com-flex com-justify-between;

    .text {
      @apply com-text-gray-900 com-text-base;
    }
  }
}
