<a [routerLink]="[communityBuild.slug]" class="community-build-card">
  <img
    [alt]="communityBuild.name"
    [src]="communityBuild.images[0]?.url || '/assets/images/commudle-logo192.png'"
    [title]="communityBuild.name"
    class="community-build-card-image"
  />
  <div class="community-build-card-details">
    <!-- <div class="community-build-card-prefix">
      <app-badge
        [color]="CBuildTypeDisplay[communityBuild.build_type].color"
        [fontSize]="'small'"
        [nbIcon]="CBuildTypeDisplay[communityBuild.build_type].icon"
        [text]="communityBuild.build_type | titlecase"
      ></app-badge>
      <p class="fs-p4">{{ communityBuild.created_at | date }}</p>
    </div> -->
    <div class="community-build-card-content">
      <div class="community-build-card-title-time">
        <h5 class="title">{{ communityBuild.name }}</h5>
        <p class="time">{{ moment(communityBuild.created_at).format('dddd, MMM Do, YYYY') }}</p>
      </div>
      <div class="community-build-card-description-votes">
        <p class="description">{{ getDescription() }}</p>
        <div class="votes">
          <app-votes-display
            [icon]="'star'"
            [votableId]="communityBuild.id"
            [votableType]="'CommunityBuild'"
            [border]="true"
          ></app-votes-display>
        </div>
      </div>
    </div>
    <div class="community-build-card-suffix">
      <app-user-profile-card-medium [user]="communityBuild.user"></app-user-profile-card-medium>
      <!-- <app-user-profile-card-small [user]="communityBuild.user"></app-user-profile-card-small> -->
      <!-- <div class="community-build-card-interactions">
        <app-votes-display
          [icon]="'star'"
          [votableId]="communityBuild.id"
          [votableType]="'CommunityBuild'"
        ></app-votes-display> -->
      <!-- <div class="community-build-card-comments">
          <p class="fs-p3">{{ communityBuild.chat_messages_count || 0 }}</p>
          <nb-icon icon="message-circle-outline"></nb-icon>
        </div> -->
      <!-- </div> -->
    </div>
  </div>
</a>
