<div class="community-build-card">
  <a [routerLink]="[communityBuild.slug]">
    <div class="details">
      <div class="community-build-card-image">
        <commudle-banner-image
          [headerImagePath]="
            communityBuild.images[0] ? communityBuild.images[0].url : staticAssets.community_build_empty_state
          "
          [name]="communityBuild.name"
          [topRightCurve]="false"
          [topLeftCurve]="false"
          [bottomRightCurve]="false"
          [bottomLeftCurve]="false"
        ></commudle-banner-image>
      </div>
      <div class="community-build-card-details">
        <div class="community-build-card-title-time">
          <h5 class="title">{{ communityBuild.name }}</h5>
          <p class="time">{{ moment(communityBuild.created_at).format('MMM Do, YYYY') }}</p>
        </div>
        <p class="description">{{ getDescription() }}</p>
        <div *appBreakpoints="'>lg'" class="app-user-profile-card">
          <app-user-profile-card-medium [user]="communityBuild.user"></app-user-profile-card-medium>
        </div>
        <div *appBreakpoints="'<=lg'" class="app-user-profile-card">
          <app-user-profile-card-small [user]="communityBuild.user"></app-user-profile-card-small>
        </div>
      </div>
    </div>
  </a>
  <div class="votes">
    <app-votes-display
      [icon]="'star'"
      [votableId]="communityBuild.id"
      [votableType]="'CommunityBuild'"
      [votesDirectionVertical]="true"
      size="mini"
    ></app-votes-display>
  </div>
</div>
