<nb-card class="user-past-event-card clickable" [routerLink]="['/communities', pastEvent.event.kommunity_slug, 'events', pastEvent.event.slug]">
  <nb-card-body>
    <div class="user-past-event-title">{{pastEvent.title | truncatetext:50}}</div>
    <div class="user-past-event-description">{{pastEvent.event.name | truncatetext:60}}</div>
    <!-- <div [routerLink]="['/communities', pastEvent.event.kommunity_slug, 'events', pastEvent.event.slug]"
         class="user-past-event-insights clickable">
      View Event
    </div> -->
  </nb-card-body>
</nb-card>
