<div class="discussion-chat-component">
  <div #messagesContainer class="messages"  (scroll)="loadPreviousMessages()">
    <div>
      <div class="message" *ngFor="let um of messages">
        <app-community-channel-message
          [message]="um"
          [canReply]="true && !blocked"
          [permittedActions]="permittedActions"
          [allActions]="allActions"
          (sendReply)="sendReply($event, um.id)"
          (sendAttachmentReply)="sendAttachmentReply($event, um.id)"
          (sendVote)="sendVote($event)"
          (sendDelete)="delete($event)"
          ></app-community-channel-message>
      </div>
      <div *ngIf="messages.length === 0" class="filler-message">
        <h4>
          Begin with a Welcome Message!
        </h4>
      </div>
    </div>
  </div>
  <div class="send-message-form">
    <app-send-message-form
      *ngIf="channelRoles[discussion.parent_id] && (channelRoles[discussion.parent_id].includes(EUserRoles.COMMUNITY_CHANNEL_ADMIN) || channelRoles[discussion.parent_id].includes(EUserRoles.COMMUNITY_CHANNEL_MEMBER))"
      (sendMessage)="sendMessage($event)"
      (sendAttachmentMessage)="sendAttachmentMessage($event)"
    ></app-send-message-form>

    <!-- <button *ngIf="!currentUser" nbButton fullWidth status="primary" class="login-button" (click)="login()">
      Post a Message
    </button> -->

    <button *ngIf="!currentUser || !(channelRoles[discussion.parent_id] && (channelRoles[discussion.parent_id].includes(EUserRoles.COMMUNITY_CHANNEL_ADMIN) || channelRoles[discussion.parent_id].includes(EUserRoles.COMMUNITY_CHANNEL_MEMBER)))"
      nbButton fullWidth status="primary" class="join-button" (click)="openJoinChannelDialog()" >
      Join the channel
    </button>
  </div>

  <ng-template #confirmJoinDialog let-ref="dialogRef">
    <nb-card>
      <nb-card-header class="d-flex align-items-center justify-content-space-between">
        Confirmation
      </nb-card-header>
      <nb-card-body>
        <p>Welcome to this channel!</p>
        
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-space-between">
        <button nbButton (click)="joinChannel()" status="success">Yes</button>
        <button (click)="ref.close()" ghost nbButton status="danger">No
        </button>
      </nb-card-footer>
    </nb-card>
  </ng-template>


</div>

