<div *ngIf="upcomingEvents.length > 0">
  <p class="title">
    <button nbButton status="basic" size="small" shape="semi-round"><fa-icon [icon]="faCalendarDays"></fa-icon></button
    >Upcoming Events
  </p>
  <div *ngFor="let event of upcomingEvents">
    <commudle-event-horizontal-card [event]="event"></commudle-event-horizontal-card>
    <div class="border"></div>
  </div>
  <div class="load-more">
    <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
    <button *ngIf="page_info?.has_next_page" (click)="getUpcomingEvents()" nbButton outline size="small" status="info">
      Load More
    </button>
  </div>
</div>
