@import '/projects/commudle-admin/src/assets/styles/variables';

.pricing {
  min-height: 100vh;
  background-color: white;
  padding-bottom: $space-136;

  p, a, h1, div {
    color: $gunmetal;
  }

  .page-container {
    .header {
      padding-top: $space-72;

      h1 {
        margin: 0;
      }

      p {
        font-size: $fs-tag;
        line-height: 22px;
      }
    }

    .plans {
      margin-top: $space-36;
    }


    @media (max-width: $tab-width) {
      padding: 0 $space-24;
    }
  }
}
