<div class="pricing-container">
  <div class="com-relative com-bg-indigo-600">
    <div
      aria-hidden="true"
      class="com-hidden com-absolute com-bg-gray-50 com-w-full com-h-6 com-bottom-0 lg:com-block"
    ></div>

    <!-- Header -->
    <div class="pricing-header">
      <div class="heading">
        <span class="com-block lg:com-inline">Simple pricing,</span>
        <span class="com-block lg:com-inline">no commitment.</span>
      </div>
      <div class="subheading">
        We have built everything you need to manage and grow your Community of Developers and Designers in one platform.
        If you are running one Developer Community, planning to start one to give back and share with people who need
        you, go ahead, we are with you!
      </div>
    </div>

    <!-- Toggle -->
    <div class="pricing-toggle">
      <label>Monthly billing</label>
      <nb-toggle></nb-toggle>
      <label>Yearly billing</label>
    </div>

    <!-- Cards -->
    <div class="pricing-cards">
      <div
        aria-hidden="true"
        class="
          com-hidden
          com-absolute
          com-top-4
          com-bottom-6
          com-left-8
          com-right-8
          com-inset-0
          com-bg-indigo-700
          com-rounded-tl-lg
          com-rounded-tr-lg
          lg:com-block
        "
      ></div>

      <div class="com-relative com-space-y-6 lg:com-space-y-0 lg:com-grid lg:com-grid-cols-3">
        <div class="pricing-card-light">
          <div>
            <div class="name">Non Profit</div>
            <div class="pricing">
              <div class="com-mt-3 com-flex com-items-center">
                <div class="com-text-white com-text-4xl com-font-extrabold com-tracking-tight">$5</div>
                <div class="com-ml-4">
                  <div class="com-text-white com-text-sm">USD / mo</div>
                  <div class="com-text-indigo-200 com-text-sm">Billed yearly ($56)</div>
                </div>
              </div>
              <a class="buy-btn">Buy Starter</a>
            </div>
          </div>
          <ul class="features">
            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">1 Community</span>
            </li>

            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">Unlimited members</span>
            </li>

            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">Unlimited events</span>
            </li>

            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">Unlimited channels</span>
            </li>

            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">All community features</span>
            </li>
          </ul>
        </div>

        <div class="pricing-card-dark">
          <div>
            <div class="name">Startup & Professional</div>
            <div class="pricing">
              <div class="com-mt-3 com-flex com-items-center">
                <div class="com-text-indigo-600 com-text-4xl com-font-extrabold com-tracking-tight">$19</div>
                <div class="com-ml-4">
                  <div class="com-text-gray-700 com-text-sm">USD / mo</div>
                  <div class="com-text-gray-500 com-text-sm">Billed yearly ($220)</div>
                </div>
              </div>
              <a class="buy-btn">Buy Scale</a>
            </div>
          </div>
          <ul class="features">
            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">Everything in Non Profit plan</span>
            </li>

            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">Free video stage credits + pay as you go</span>
            </li>

            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">Key account manager</span>
            </li>

            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">3rd party integrations</span>
            </li>

            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">API SDK</span>
            </li>
          </ul>
        </div>

        <div class="pricing-card-light">
          <div>
            <div class="name">Enterprise</div>
            <div class="pricing">
              <div class="com-mt-3 com-flex com-items-center">
                <div class="com-text-white com-text-4xl com-font-extrabold com-tracking-tight">$12</div>
                <div class="com-ml-4">
                  <div class="com-text-white com-text-sm">USD / mo</div>
                  <div class="com-text-indigo-200 com-text-sm">Billed yearly ($140)</div>
                </div>
              </div>
              <a class="buy-btn">Buy Growth</a>
            </div>
          </div>
          <ul class="features">
            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">Everything in Startup plan</span>
            </li>

            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">Automated flows</span>
            </li>

            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">Dedicated Organization page</span>
            </li>

            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">Custom APIs</span>
            </li>

            <li>
              <nb-icon icon="checkmark-outline"></nb-icon>
              <span class="feature">Custom dashboards & reports</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Feature comparison (Desktop) -->
  <div aria-labelledby="comparison-heading" class="com-hidden lg:com-block">
    <div class="com-mt-24 com-max-w-7xl com-mx-auto com-px-8">
      <div class="com-w-full com-border-t com-border-gray-200 com-flex com-items-stretch">
        <div class="com--mt-px com-w-1/4 com-py-6 com-pr-4 com-flex com-items-end">
          <div class="com-mt-auto com-text-sm com-font-bold com-text-gray-900">Catered for business</div>
        </div>

        <div aria-hidden="true" class="com-pr-4 com--mt-px com-pl-4 com-w-1/4">
          <div class="com-border-transparent com-py-6 com-border-t-2">
            <div class="com-text-gray-900 com-text-sm com-font-bold">Starter</div>
            <div class="com-mt-2 com-text-sm com-text-gray-500">
              All your essential business finances, taken care of.
            </div>
          </div>
        </div>

        <div aria-hidden="true" class="com-pr-4 com--mt-px com-pl-4 com-w-1/4">
          <div class="com-border-indigo-600 com-py-6 com-border-t-2">
            <div class="com-text-indigo-600 com-text-sm com-font-bold com-text-gray-900">Scale</div>
            <div class="com-mt-2 com-text-sm com-text-gray-500">
              The best financial services for your thriving business.
            </div>
          </div>
        </div>

        <div aria-hidden="true" class="com--mt-px com-pl-4 com-w-1/4">
          <div class="com-border-transparent com-py-6 com-border-t-2">
            <div class="com-text-gray-900 com-text-sm com-font-bold">Growth</div>
            <div class="com-mt-2 com-text-sm com-text-gray-500">
              Convenient features to take your business to the next level.
            </div>
          </div>
        </div>
      </div>

      <div class="com-relative">
        <!-- Fake card backgrounds -->
        <div aria-hidden="true" class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
          <div class="com-w-1/4 com-pr-4"></div>
          <div class="com-w-1/4 com-px-4">
            <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow"></div>
          </div>
          <div class="com-w-1/4 com-px-4">
            <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
          </div>
          <div class="com-w-1/4 com-pl-4">
            <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow"></div>
          </div>
        </div>

        <table class="com-relative com-w-full">
          <caption class="com-sr-only">
            Business feature comparison
          </caption>
          <thead>
            <tr class="com-text-left">
              <th scope="col">
                <span class="com-sr-only">Feature</span>
              </th>

              <th scope="col">
                <span class="com-sr-only">Starter plan</span>
              </th>

              <th scope="col">
                <span class="com-sr-only">Scale plan</span>
              </th>

              <th scope="col">
                <span class="com-sr-only">Growth plan</span>
              </th>
            </tr>
          </thead>
          <tbody class="com-divide-y com-divide-gray-100">
            <tr key="Tax Savings">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                Tax Savings
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>
            </tr>

            <tr key="Easy to use accounting">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                Easy to use accounting
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>
            </tr>

            <tr key="Multi-accounts">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                Multi-accounts
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <span class="com-text-gray-900 com-text-sm com-font-medium">3 accounts</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <span class="com-text-indigo-600 com-text-sm com-font-medium">Unlimited accounts</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <span class="com-text-gray-900 com-text-sm com-font-medium">7 accounts</span>
                </span>
              </td>
            </tr>

            <tr key="Invoicing">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                Invoicing
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <span class="com-text-gray-900 com-text-sm com-font-medium">3 invoices</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <span class="com-text-indigo-600 com-text-sm com-font-medium">Unlimited invoices</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <span class="com-text-gray-900 com-text-sm com-font-medium">10 invoices</span>
                </span>
              </td>
            </tr>

            <tr key="Exclusive offers">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                Exclusive offers
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/x -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">No</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>
            </tr>

            <tr key="6 months free advisor">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                6 months free advisor
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/x -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">No</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>
            </tr>

            <tr key="Mobile and web access">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                Mobile and web access
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/x -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">No</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/x -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">No</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Fake card borders -->
        <div aria-hidden="true" class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
          <div class="com-w-1/4 com-pr-4"></div>
          <div class="com-w-1/4 com-px-4">
            <div class="com-w-full com-h-full com-rounded-lg com-ring-1 com-ring-black com-ring-opacity-5"></div>
          </div>
          <div class="com-w-1/4 com-px-4">
            <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-indigo-600 com-ring-opacity-100"></div>
          </div>
          <div class="com-w-1/4 com-pl-4">
            <div class="com-w-full com-h-full com-rounded-lg com-ring-1 com-ring-black com-ring-opacity-5"></div>
          </div>
        </div>
      </div>

      <div class="com-mt-10 com-text-sm com-font-bold com-text-gray-900">Other perks</div>

      <div class="com-mt-6 com-relative">
        <!-- Fake card backgrounds -->
        <div aria-hidden="true" class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
          <div class="com-w-1/4 com-pr-4"></div>
          <div class="com-w-1/4 com-px-4">
            <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow"></div>
          </div>
          <div class="com-w-1/4 com-px-4">
            <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow-md"></div>
          </div>
          <div class="com-w-1/4 com-pl-4">
            <div class="com-w-full com-h-full com-bg-white com-rounded-lg com-shadow"></div>
          </div>
        </div>

        <table class="com-relative com-w-full">
          <caption class="com-sr-only">
            Perk comparison
          </caption>
          <thead>
            <tr class="com-text-left">
              <th scope="col">
                <span class="com-sr-only">Perk</span>
              </th>

              <th scope="col">
                <span class="com-sr-only">Starter plan</span>
              </th>

              <th scope="col">
                <span class="com-sr-only">Scale plan</span>
              </th>

              <th scope="col">
                <span class="com-sr-only">Growth plan</span>
              </th>
            </tr>
          </thead>
          <tbody class="com-divide-y com-divide-gray-100">
            <tr key="24/7 customer support">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                24/7 customer support
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>
            </tr>

            <tr key="Instant notifications">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                Instant notifications
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>
            </tr>

            <tr key="Budgeting tools">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                Budgeting tools
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>
            </tr>

            <tr key="Digital receipts">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                Digital receipts
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>
            </tr>

            <tr key="Pots to separate money">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                Pots to separate money
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/x -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">No</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>
            </tr>

            <tr key="Free bank transfers">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                Free bank transfers
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/x -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">No</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/x -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">No</span>
                </span>
              </td>
            </tr>

            <tr key="Business debit card">
              <th
                class="com-w-1/4 com-py-3 com-pr-4 com-text-left com-text-sm com-font-medium com-text-gray-600"
                scope="row"
              >
                Business debit card
              </th>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/x -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">No</span>
                </span>
              </td>

              <td class="com-px-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/check -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-indigo-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">Yes</span>
                </span>
              </td>

              <td class="com-pl-4 com-relative com-w-1/4 com-py-0 com-text-center">
                <span class="com-relative com-w-full com-h-full com-py-3">
                  <!-- Heroicon name: solid/x -->
                  <svg
                    aria-hidden="true"
                    class="com-mx-auto com-h-5 com-w-5 com-text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="com-sr-only">No</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Fake card borders -->
        <div aria-hidden="true" class="com-absolute com-inset-0 com-flex com-items-stretch com-pointer-events-none">
          <div class="com-w-1/4 com-pr-4"></div>
          <div class="com-w-1/4 com-px-4">
            <div class="com-w-full com-h-full com-rounded-lg com-ring-1 com-ring-black com-ring-opacity-5"></div>
          </div>
          <div class="com-w-1/4 com-px-4">
            <div class="com-w-full com-h-full com-rounded-lg com-ring-2 com-ring-indigo-600 com-ring-opacity-100"></div>
          </div>
          <div class="com-w-1/4 com-pl-4">
            <div class="com-w-full com-h-full com-rounded-lg com-ring-1 com-ring-black com-ring-opacity-5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Logo cloud -->
  <div class="pricing-logo-cloud">
    <div class="com-grid com-grid-cols-2 com-gap-8 md:com-grid-cols-6 lg:com-grid-cols-5">
      <div class="logo">
        <img alt="Tuple" src="https://tailwindui.com/img/logos/tuple-logo-gray-400.svg" />
      </div>
      <div class="logo">
        <img alt="Mirage" src="https://tailwindui.com/img/logos/mirage-logo-gray-400.svg" />
      </div>
      <div class="logo">
        <img alt="StaticKit" src="https://tailwindui.com/img/logos/statickit-logo-gray-400.svg" />
      </div>
      <div class="logo">
        <img alt="Transistor" src="https://tailwindui.com/img/logos/transistor-logo-gray-400.svg" />
      </div>
      <div class="logo">
        <img alt="Workcation" src="https://tailwindui.com/img/logos/workcation-logo-gray-400.svg" />
      </div>
    </div>
  </div>

  <!-- FAQs -->
  <div class="com-bg-gray-900">
    <div class="pricing-faq">
      <div class="com-max-w-2xl lg:com-mx-auto lg:com-text-center">
        <div class="heading">Frequently asked questions</div>
        <div class="subheading">
          Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Malesuada adipiscing sagittis vel nulla nec.
          Urna, sed a lectus elementum blandit et.
        </div>
      </div>
      <div class="com-mt-20">
        <dl class="questions">
          <div>
            <dt class="question">What's the best thing about Switzerland?</dt>
            <dd class="answer">
              I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
              cupiditate laboriosam fugiat.
            </dd>
          </div>
          <div>
            <dt class="question">What's the best thing about Switzerland?</dt>
            <dd class="answer">
              I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
              cupiditate laboriosam fugiat.
            </dd>
          </div>
          <div>
            <dt class="question">What's the best thing about Switzerland?</dt>
            <dd class="answer">
              I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
              cupiditate laboriosam fugiat.
            </dd>
          </div>
          <div>
            <dt class="question">What's the best thing about Switzerland?</dt>
            <dd class="answer">
              I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
              cupiditate laboriosam fugiat.
            </dd>
          </div>
          <div>
            <dt class="question">What's the best thing about Switzerland?</dt>
            <dd class="answer">
              I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
              cupiditate laboriosam fugiat.
            </dd>
          </div>
          <div>
            <dt class="question">What's the best thing about Switzerland?</dt>
            <dd class="answer">
              I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
              cupiditate laboriosam fugiat.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
