<div class="pricing">
  <div class="page-container">
    <section class="header">
      <h1>
        Commudle is built by Developer Communities
      </h1>
      <p>And will be free for the passionate ones, always!</p>

      <p>
        We have built everything you need to manage and grow your Community of Developers and Designers in one platform.
        If you are running one Developer Community, planning to start one to give back and share with people who need you,
        go ahead, we are with you!
      </p>

      <p>

      </p>
    </section>
    <section class="plans d-flex justify-content-start">
      <app-commudle-features class="plan"></app-commudle-features>
    </section>

    <section>
      <p>For any queries, feel free to send an email to <u>more@commudle.com</u></p>
    </section>
  </div>
</div>
