@import '/projects/commudle-admin/src/assets/styles/variables';

.speakers-container {
  nb-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    margin: 0 0 $space-16 0;
    padding: $space-56 $space-20;
  }
}