@import "/projects/commudle-admin/src/assets/styles/variables.scss";

.speakers-container {

  nb-card {
    width: 200px;
    height: 250px;
    margin-bottom: $space-20;
    transition: all 0.5s ease;
    overflow: hidden;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(000, 000, 0, 0.5);
    }
  }
}
