<div class="speakers-container d-flex flex-wrap justify-content-center ">
  <nb-card *ngFor="let speaker of user">
    <a class="clickable" [routerLink]="['/users', speaker.username]">

      <nb-card-body>

        <div class="user-card">
          <div class="banner">
            <img *ngIf="speaker.profile_banner_image.url != undefined" src="{{ speaker.profile_banner_image.url}}">
          </div>
          <div class="user-image">
            <img src="{{ speaker.avatar }}" alt="{{ speaker.name}}">
          </div>
          <div class="user-details">
            <p class="user-name">{{ speaker.name}}</p>
            <p class="designation">{{ speaker.designation}}</p>
          </div>
        </div>

      </nb-card-body>
    </a>

  </nb-card>
</div>
