@import "/projects/commudle-admin/src/assets/styles/variables.scss";

.speakers-container {
  nb-card {
    width: 200px;
    height: 250px;
    margin-bottom: $space-20;

    nb-card-body {
      padding: 0;
      transition: all 0.5s ease;
      overflow: hidden;
      border-radius: $border-5;
      box-shadow: 0 3px 6px rgba(000, 000, 0, 0.3);

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(000, 000, 0, 0.5);
      }
      a {
        text-decoration: none;
      }

      .user-card {
        position: relative;
        background: $white;
        overflow: hidden;
        .banner {
          position: absolute;
          width: 200px;
          height: 62px;
          background: linear-gradient(#536effff, #29a5ffff);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .user-image {
          position: absolute;
          width: 80px;
          height: 80px;
          overflow: hidden;
          top: 30px;
          left: 10px;
          border: $border-5 solid $white;
          border-radius: $border-10;
          background: $lightgrey;

          img {
            width: 100%;
            overflow: hidden;
            object-fit: cover;
          }
        }
        .user-details {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          margin-top: 120px;
          p {
            color: $black;
            margin: 0;
            font-family: $primary-font-family;
          }
          .user-name {
            font-size: $fs-card-title;
            font-weight: 700;
          }
          .designation {
            font-size: $fs-card-secondary;
            font-weight: 400;
          }
        }
      }
    }
  }
}
