<div class="case-study">
  <commudle-case-study-header></commudle-case-study-header>
  <div class="stats-container">
    <div class="base-layout">
      <div class="container">
        <div *ngIf="richTextStats" class="stats">
          <div *ngFor="let stat of richTextStats">
            <div [innerHTML]="stat | safe"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <commudle-public-page-stats [stats]="stats"></commudle-public-page-stats> -->
  <div class="base-layout">
    <div class="container">
      <div *ngIf="richTextChallenges" class="challenges">
        <h2>Challenges</h2>
        <div [innerHTML]="richTextChallenges | safe"></div>
      </div>
      <div *ngIf="richTextSolution" class="solution">
        <h2>How commudle solved it</h2>
        <div [innerHTML]="richTextSolution | safe"></div>
      </div>
      <div *ngIf="caseStudyPageHeader" class="testimonials" id="testimonials">
        <h2 class="heading"><a [routerLink]="'.'" fragment="testimonials">TESTIMONIALS</a></h2>
        <h3 class="subheading">Don't just take our word for it</h3>
        <div class="testimonial-card">
          <commudle-testimonial-card [testimonials]="caseStudyPageHeader.testimonials"></commudle-testimonial-card>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- getDataByTypeFieldOrder -->
