<div [ngClass]="{ 'com-flex': alignFollowToRight }">
  <a (click)="profileClicked()" [routerLink]="['/users', user.username]">
    <div class="user-profile-large d-flex align-items-center">
      <img
        [activateMiniProfileDirective]="activateMiniProfileDirective"
        [alt]="user.name"
        [ngClass]="{ 'com-self-start': showAbout && user.about_me }"
        [src]="user.photo?.i64"
        [title]="user.name"
        [username]="user.username"
        appMiniUserProfile
        class="avatar"
      />
      <div class="details">
        <div class="name d-flex align-items-center">
          <p
            [activateMiniProfileDirective]="activateMiniProfileDirective"
            [username]="user.username"
            appMiniUserProfile
            class="com-line-clamp-1"
          >
            {{ user.name }}
          </p>
          <img *ngIf="user.is_expert" alt="Expert Tick" src="/assets/images/Expert-Tick.svg" title="Expert Tick" />
        </div>
        <span class="com-flex com-items-center com-w-max">
          <p class="username com-line-clamp-1" title="{{ user.username }}">
            @{{ user.username | truncatetext: maxUserNameLength }}
          </p>
          &nbsp;
          <app-hiring-looking-works-tags [user]="user" [fontSize]="'12px'"></app-hiring-looking-works-tags>
        </span>
        <p [ngClass]="{ 'com-line-clamp-1': truncateDesignation }" class="designation" title="{{ user.designation }}">
          {{ user.designation || '--' }}
        </p>
        <div *ngIf="showSocialLinks" class="social com-mt-2 com-flex com-gap-3">
          <a *ngIf="user.linkedin" [href]="user.linkedin | completeurl: 'linkedin'" target="_blank">
            <nb-icon icon="linkedin" status="primary"></nb-icon>
          </a>
          <a *ngIf="user.twitter" [href]="user.twitter | completeurl: 'twitter'" target="_blank">
            <nb-icon icon="twitter" status="primary"></nb-icon>
          </a>
          <a *ngIf="user.github" [href]="user.github | completeurl: 'github'" target="_blank">
            <nb-icon icon="github" status="primary"></nb-icon>
          </a>
          <a *ngIf="user.personal_website" [href]="user.personal_website | completeurl" target="_blank">
            <nb-icon icon="globe" status="primary"></nb-icon>
          </a>
          <a (click)="openChatWithUser()" class="clickable">
            <nb-icon icon="message-circle-outline" status="basic"></nb-icon>
          </a>
        </div>
        <p *ngIf="showAbout && user.about_me" class="about com-line-clamp-4">{{ user.about_me }}</p>
      </div>
    </div>
  </a>
  <div *ngIf="showFollowButton" [ngClass]="{ 'align-right': alignFollowToRight }" class="followers">
    <app-user-follow [username]="user.username" class="follow-btn"></app-user-follow>
  </div>
</div>
