<commudle-listing-pages-layout>
  <div header>
    <commudle-builds-header></commudle-builds-header>
  </div>
  <div one-column *ngIf="isMobileView">
    <div class="publish-build-button">
      <a [routerLink]="['/builds/create']" nbButton size="giant" class="button">
        <nb-icon icon="plus"></nb-icon>
        Share your Build
      </a>
    </div>
    <commudle-builds></commudle-builds>
    <commudle-featured-projects></commudle-featured-projects>
    <commudle-builds-top-builders></commudle-builds-top-builders>
    <commudle-explore-experts></commudle-explore-experts>
  </div>
  <div main-column *ngIf="!isMobileView">
    <commudle-builds></commudle-builds>
  </div>
  <div right-column>
    <div class="publish-build-button">
      <a [routerLink]="['/builds/create']" nbButton size="giant" class="button">
        <nb-icon icon="plus"></nb-icon>
        Share your Build
      </a>
    </div>
    <div>
      <commudle-builds-top-builders></commudle-builds-top-builders>
      <commudle-featured-projects></commudle-featured-projects>
      <commudle-explore-experts></commudle-explore-experts>
    </div>
  </div>
</commudle-listing-pages-layout>
