<div class="com-bg-white">
  <commudle-builds-header></commudle-builds-header>
  <div class="community-builds-container base-layout">
    <div class="container">
      <!-- <div class="one-column-layout"></div> -->
      <div *appBreakpoints="'>lg'" class="two-column-layout medium">
        <div class="main-column">
          <commudle-builds></commudle-builds>
          <!-- <div class="builds">
            <div class="heading-filter">
              <h5 class="heading">Get inspired from these builds</h5>
              <div class="filters">
                <button
                  nbButton
                  status="basic"
                  class="all-filter-button"
                  shape="round"
                  size="small"
                  (click)="getCommunityBuilds(true)"
                >
                  All
                </button>
                <nb-select
                  placeholder="Most Popular"
                  size="small"
                  shape="round"
                  status="basic"
                  class="most-popular-filter"
                  [(ngModel)]="timePeriod"
                  (selectedChange)="filter()"
                >
                  <nb-option value="month"> Highest upvoted this month</nb-option>
                  <nb-option value="year">Highest upvoted this year</nb-option>
                  <nb-option value="all-time">Highest upvoted all time</nb-option>
                </nb-select>
              </div>
            </div>
            [infiniteScrollDisabled]="!(canLoadMore && total)" -->
          <!-- (scrolled)="getCommunityBuilds()" -->
          <!-- <div appInfiniteScroll *ngFor="let communityBuild of communityBuilds" class="builds-card">
              <app-community-build-card [communityBuild]="communityBuild"></app-community-build-card>
            </div> -->
          <!-- <div *ngIf="isLoading" class="loading-spinner">
              <div class="spinner">
                <div *ngFor="let _ of [].constructor(5)"></div>
              </div>
            </div> 
          </div> -->
        </div>
        <div class="right-column">
          <div class="publish-build-button">
            <a [routerLink]="['/builds/create']" nbButton size="giant" class="button">
              <nb-icon icon="plus"></nb-icon>
              Publish New Build
            </a>
          </div>
          <div>
            <commudle-featured-projects></commudle-featured-projects>
            <commudle-builds-top-builders></commudle-builds-top-builders>
            <commudle-explore-experts></commudle-explore-experts>
          </div>
        </div>
      </div>
      <div *appBreakpoints="'<=lg'" class="one-column-layout">
        <div class="publish-build-button">
          <a [routerLink]="['/builds/create']" nbButton size="giant" class="button">
            <nb-icon icon="plus"></nb-icon>
            Publish New Build
          </a>
        </div>
        <commudle-builds></commudle-builds>
        <commudle-featured-projects></commudle-featured-projects>
        <commudle-builds-top-builders></commudle-builds-top-builders>
        <commudle-explore-experts></commudle-explore-experts>
      </div>
    </div>
  </div>
</div>
