<button
  (click)="onJoinCommunityClick()"
  *ngIf="!isMember"
  nbButton
  [shape]="shapes"
  [status]="status"
  [size]="size"
  [appearance]="appearance"
  [ngClass]="isMobileWidthFull ? 'fullWidth' : 'join-community'"
>
  <nb-icon icon="plus"></nb-icon>
  Join
</button>

<nb-select
  (selectedChange)="openDialog(removeMemberDialog)"
  *ngIf="isMember"
  [(ngModel)]="selectExit"
  placeholder="Joined"
  size="small"
  status="info"
  shape="semi-round"
  [ngClass]="{ fullWidth: isMobileWidthFull }"
>
  <nb-option [value]="'false'">Exit {{ community.name }}</nb-option>
</nb-select>

<ng-template #addMemberDialog let-data>
  <nb-card class="confirmation-dialog">
    <nb-card-header>Confirmation</nb-card-header>
    <nb-card-body>
      <div>
        <p>We are excited to have you join our Community!</p>
        <p>
          As a part of <strong>{{ community.name }}</strong
          >, the following information will be shared between you and the organizers:
        </p>
        <ul>
          <li>Your email address</li>
          <li>
            {{ community.name }} and platform admins are permitted to send you communication mails for different events,
            surveys, newsletters and community initiatives
          </li>
          <li>
            Organizers of {{ community.name }} have the right to permit or revoke your membership of the community at
            any point of time
          </li>
        </ul>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="toggleMembership()" nbButton status="success">I agree</button>
      <button (click)="dialogRef.close()" ghost nbButton size="tiny" status="danger">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #removeMemberDialog let-ref="dialogRef">
  <nb-card class="confirmation-dialog">
    <nb-card-header
      ><span>Are You Sure?</span
      ><button ghost nbButton size="small" (click)="ref.close()">
        <nb-icon icon="close"></nb-icon></button
    ></nb-card-header>
    <nb-card-body>
      <div>
        <p>If you choose to leave this community, all the following roles will be deleted:</p>
      </div>
      <div>
        <ul *ngFor="let uru of userRolesUserList">
          <li>{{ uru.parent_name }} ({{ uru.user_role.name | capitalizeAndRemoveUnderscore }})</li>
        </ul>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="toggleMembership(); dialogRef.close()" outline nbButton status="danger">
        Yes, I will leave
      </button>
      <button (click)="dialogRef.close()" nbButton status="primary">No, I'm staying</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
