// @import './projects/commudle-admin/src/assets/styles/variables';

.file-container {
  @apply com-items-center com-flex com-justify-center;
}
.file-container img {
  @apply com-h-[200px];
}
.card-header {
  @apply com-flex com-justify-between com-items-center;
}
