.flags {
    > p {
      margin: 0;
  
      .count {
        color: grey;
      }
  
      nb-icon {
        font-size: 1.2rem;
        color: #8080808c;
      }

  
      nb-icon.flagged {
        color: #ff1e1ed6;
      }
    }
  
    &.size-large {
      > p {
        font-size: 1.8rem;
  
        nb-icon {
          font-size: 1.8rem;
        }
      }
    }
  }