.add-faq-button {
  @apply com-border-2 com-border-dashed com-border-slate-500 com-rounded-lg com-text-center com-py-5 com-cursor-pointer;
}

.faq-cards {
  @apply com-bg-gray-200;
}

.sponsor-form-dialog-box {
  @apply com-w-500px com-max-h-[90dvh];
  form {
    @apply com-flex com-flex-col com-gap-3;
  }
}

.actions {
  @apply com-flex com-justify-between;
}
