<!-- <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card class="image-popup">
      <nb-card-header style="align-self: flex-end">
        <nb-icon (click)="ref.close()" icon="close"></nb-icon>
      </nb-card-header>
      <nb-card-body>
        <img [src]="src" [alt]="lab.name" class="Image" />
      </nb-card-body>
    </nb-card>
  </ng-template> -->

<!--  -->
<div class="reading-book">
  <div class="base-layout">
    <div class="container commudle-agencies">
      <div class="two-column-layout thin">
        <div class="right-column">
          <div *ngIf="chapterIndexes">
            <commudle-reading-book-index [chapterIndexes]="chapterIndexes"></commudle-reading-book-index>
          </div>
          <div class="pdf">
            <button
              *ngIf="currentUser"
              nbButton
              status="primary"
              size="large"
              (click)="downloadPDF()"
              class="download-pdf mobile-hidden"
            >
              <fa-icon [icon]="faDownload"></fa-icon>Download PDF
            </button>
            <button
              *ngIf="!currentUser"
              nbButton
              status="primary"
              size="large"
              class="download-pdf mobile-hidden"
              [routerLink]="'/login'"
            >
              Login to Read or Download
            </button>
          </div>
        </div>
        <div class="main-column">
          <div class="content">
            <div *ngIf="chapterData">
              <h1 class="chapter-name">{{ chapterData.chapter_name }}</h1>
              <!-- <app-loading-spinner *ngIf="isLoading"></app-loading-spinner> -->
              <nb-card>
                <nb-card-header *ngIf="chapterData.header_image">
                  <div class="image">
                    <img
                      alt="{{ chapterData.chapter_name }}"
                      [src]="imageUrl(chapterData.header_image).url()"
                      title="{{ chapterData.chapter_name }}"
                    />
                  </div>
                </nb-card-header>
                <nb-card-body *ngIf="richText">
                  <article>
                    <!-- !com-prose !com-prose-sm  -->
                    <div [innerHTML]="richText" class="!com-max-w-full content"></div>
                  </article>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="fixed-btn">
              <button
                nbButton
                status="primary"
                size="large"
                class="download-pdf desktop-hidden"
                (click)="downloadPDF()"
              >
                <fa-icon [icon]="faDownload"></fa-icon>Download PDF
              </button>
            </div>
            <div class="footer">
              <div class="actions">
                <button
                  nbButton
                  size="large"
                  [routerLink]="
                    chapterData?.link_to_previous_page ? ['/reading-book', chapterData.link_to_previous_page] : null
                  "
                  [disabled]="!chapterData?.link_to_previous_page"
                  class="prev-btn"
                >
                  <span>
                    <nb-icon icon="arrow-back"></nb-icon>
                    Prev
                  </span>
                </button>
                <div class="desktop-hidden">
                  <select (change)="showIndex($event)">
                    <option *ngFor="let index of chapterIndexes" [value]="index.slug.current">
                      {{ index.chapter_name }}
                    </option>
                  </select>
                </div>
                <button
                  nbButton
                  size="large"
                  [routerLink]="
                    chapterData?.link_to_next_page ? ['/reading-book', chapterData.link_to_next_page] : null
                  "
                  [disabled]="!chapterData?.link_to_next_page"
                  class="next-btn"
                >
                  <span>
                    Next
                    <nb-icon icon="arrow-forward"></nb-icon>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
