<div class="two-column-layout wide">
  <div class="main-column com-mb-20">
    <nb-card>
      <nb-card-body>
        <div [innerHTML]="hackathon.description"></div>
      </nb-card-body>
    </nb-card>

    <div *ngIf="hackathon.updates_count > 0">
      <nb-card>
        <nb-card-header><h2>Updates</h2></nb-card-header>
        <nb-card-body>
          <commudle-entity-updates
            [entityId]="hackathon.id"
            [entityType]="EDbModels.HACKATHON"
          ></commudle-entity-updates>
        </nb-card-body>
      </nb-card>
    </div>

    <div *ngIf="hackathon.sponsors_count > 0">
      <nb-card>
        <nb-card-header><h2>Sponsors</h2></nb-card-header>
        <nb-card-body class="sponsors-cards">
          <div *ngFor="let sponsor of sponsors" class="sponsor-card">
            <img [src]="sponsor.sponsor.logo.url" [alt]="sponsor.sponsor.name" />
            <div class="name">{{ sponsor.sponsor.name }}</div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div *ngIf="hackathon.faqs_count > 0">
      <nb-card>
        <nb-card-header><h2>FAQs</h2></nb-card-header>
        <nb-card-body>
          <div *ngFor="let faq of faqs">
            <commudle-faq-card [faq]="faq"></commudle-faq-card>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div *ngIf="hackathon.tracks_count > 0">
      <nb-card>
        <nb-card-header><h2>Tracks</h2></nb-card-header>
        <nb-card-body class="track-cards">
          <div *ngFor="let track of tracks" class="track-card">
            <div class="name">{{ track.name }}</div>
            <div [innerHTML]="track.description"></div>
            <nb-card *ngFor="let prize of track.hackathon_prizes" class="prize-card">
              <nb-card-body>
                <div class="hackathon-prize">
                  <div class="prize-name">{{ prize.name }}</div>
                  <div class="prize-amount">PRIZE: {{ prize.currency_symbol }}{{ prize.prize_amount }}</div>
                </div>
                <div [innerHTML]="prize.description"></div>
              </nb-card-body>
            </nb-card>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <nb-card>
      <nb-card-header><h2>Comments</h2></nb-card-header>
      <nb-card-body>
        <commudle-discussion
          *ngIf="discussionChat"
          [discussionId]="discussionChat.id"
          discussionParent="hackathon"
        ></commudle-discussion>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="right-column">
    <nb-card>
      <nb-card-body
        ><commudle-public-hackathon-details-mini-card
          [hackathon]="hackathon"
        ></commudle-public-hackathon-details-mini-card
      ></nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header> Rounds </nb-card-header>
      <nb-card-body>
        <div *ngFor="let round of rounds" class="round-card">
          <div class="name">{{ round.name }}</div>
          <div class="date">{{ moment(round.date).format('DD MMM YYYY') }}</div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card *ngIf="userTeamDetails">
      <nb-card-header> Profile Submitted for Review </nb-card-header>
      <nb-card-body>
        <div>Next: Round 1 confirmation</div>
        <a
          *ngIf="!userTeamDetails.community_build"
          [routerLink]="['/builds', 'create']"
          [queryParams]="{ parent_type: 'HackathonTeam', parent_id: userTeamDetails.id }"
        >
          <button nbButton status="primary" fullWidth>Submit Project</button>
        </a>
        <a
          *ngIf="userTeamDetails.community_build"
          [routerLink]="['/builds', userTeamDetails.community_build.slug, 'edit']"
          [queryParams]="{ parent_type: 'HackathonTeam', parent_id: userTeamDetails.id }"
        >
          <button nbButton status="primary" fullWidth>update Project</button>
        </a>
      </nb-card-body>
    </nb-card>
  </div>
</div>
