<div class="two-column-layout wide">
  <div class="main-column com-mb-20">
    <nb-card>
      <nb-card-body>
        <div class="banner-image">
          <img [src]="hackathon.banner_image.url" [alt]="hackathon.name" />
        </div>
        <div [innerHTML]="hackathon.description"></div
      ></nb-card-body>
    </nb-card>
    <h2 class="sub-heading">Updates</h2>
    <nb-card>
      <nb-card-body>
        <commudle-entity-updates
          [entityId]="hackathon.id"
          [entityType]="EModelName.HACKATHON"
        ></commudle-entity-updates>
      </nb-card-body>
    </nb-card>

    <h2 class="sub-heading">Sponsors</h2>
    <nb-card>
      <nb-card-body class="sponsors-cards">
        <div *ngFor="let sponsor of sponsors" class="sponsor-card">
          <img [src]="sponsor.sponsor.logo.url" [alt]="sponsor.sponsor.name" />
          <div class="name">{{ sponsor.sponsor.name }}</div>
        </div>
      </nb-card-body>
    </nb-card>

    <h2 class="sub-heading">FAQs</h2>
    <nb-card>
      <nb-card-body>
        <div *ngFor="let faq of faqs">
          <!-- <commudle-faq-card [faq]="faq"></commudle-faq-card> -->
        </div>
        <!-- <commudle-entity-updates [entityId]="hackathon.id" [entityType]="EModelName.HACKATHON"></commudle-entity-updates> -->
      </nb-card-body>
    </nb-card>

    <h2 class="sub-heading">Comments</h2>
    <nb-card>
      <nb-card-body>
        <!-- <commudle-entity-updates [entityId]="hackathon.id" [entityType]="EModelName.HACKATHON"></commudle-entity-updates> -->
      </nb-card-body>
    </nb-card>
  </div>

  <div class="right-column">
    <nb-card>
      <nb-card-body><h1>details</h1></nb-card-body>
    </nb-card>
  </div>
</div>
