@import "/projects/commudle-admin/src/assets/styles/variables.scss";

.newsletter {
  nb-card {
    nb-card-body {
      h3 {
        nb-icon {
          font-weight: 400;
          font-size: 2.5rem;
          color:$neon-blue;
        }
      }
    }
  }
  .create-btn {
    margin: $space-10;
  }
}
