@import '/projects/commudle-admin/src/assets/styles/variables';

nb-card {
  width: 200px;
  height: 210px;
  margin-bottom: $space-20;
  transition: all 0.5s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(000, 000, 0, 0.5);
  }

  nb-card-body {
    padding: 0;
    border-radius: $border-5;
    box-shadow: 0 3px 6px rgba(000, 000, 0, 0.3);

    a {
      text-decoration: none;
    }

    .user-card {
      overflow: hidden;

      .banner {
        width: 200px;
        height: 62px;
        background: $lightestgrey;

        img {
          width: 100%;
        }
      }

      .banner-image {
        display: grid;

        div {
          grid-row-start: 1;
          grid-column-start: 1;
        }
      }

      .user-image {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border: $border-5 solid $white;
        border-radius: $border-10;
        background: $lightgrey;
        margin-top: $space-20;
        margin-left: $space-10;

        img {
          width: 100%;
        }
      }

      .user-details {
        margin-left: $space-10;
        margin-top: $space-10;

        p {
          color: $black;
          margin: 0;
        }

        .user-name {
          font-size: $fs-card-title;
          font-weight: $fw-500;

          .expert-icon {
            vertical-align: middle;
            margin-left: $space-4;
            width: 14px;
            height: 14px;
          }
        }

        .designation {
          color: $low-emphasis-text;
          font-size: $fs-card-secondary;
          font-weight: $fw-500;
        }
      }
    }
  }
}

