nb-card {
  @apply com-border com-border-solid com-border-Silver-Sand com-overflow-hidden com-w-260px com-h-307px com-transition-all com-duration-500 com-cursor-pointer;
  @apply hover:com-shadow-Card;

  nb-card-body {
    @apply com-p-0;

    .user-card {
      @apply com-overflow-hidden;

      .banner {
        @apply com-h-72px com-overflow-hidden com-w-full com-bg-Azureish-White;

        img {
          @apply com-h-full com-object-cover com-w-full;
        }
      }

      .banner-image {
        @apply com-grid;

        div {
          @apply com-col-start-1 com-row-start-1;
        }
      }

      .user-image {
        @apply com-border-3 com-border-solid com-border-white com-rounded-full com-h-86px com-ml-10px com-mt-6 com-overflow-hidden com-w-86px com-bg-Azureish-White;

        img {
          @apply com-h-full com-object-cover com-w-full;
        }
      }

      app-user-follow {
        @apply com-absolute com-right-2 com-top-20;
      }

      .user-details {
        @apply com-h-169px com-mt-9px com-mx-4 com-mb-4;

        a {
          text-decoration: none;
        }

        .text-details {
          p {
            @apply com-m-0 com-text-gunmetal;
          }

          .user-name {
            @apply com-mb-2 com-text-lg com-font-semibold com-leading-21px;

            .expert-icon {
              @apply com-w-14px com-ml-1 com-h-14px com-align-middle;
            }
          }

          .designation {
            @apply com-text-sm com-leading-4 com-font-normal com-text-gunmetal;
          }
        }

        .user-card-tags {
          @apply com-overflow-hidden com-max-h-20 com-gap-2;

          .user-card-tag {
            @apply com-p-2 com-text-xs com-text-gunmetal com-rounded-lg com-bg-Azureish-White;
          }
        }
      }
    }
  }
}
