@import './projects/commudle-admin/src/assets/styles/variables';

nb-card {
  width: 264px;
  height: 306px;
  margin: $space-24;
  transition: all 0.5s ease;
  overflow: hidden;
  border: 1px solid $silver-sand;

  &:hover {
    box-shadow: 0 5px 15px $azureish-white;
  }

  nb-card-body {
    padding: 0;

    .user-card {
      overflow: hidden;

      .banner {
        width: 100%;
        height: 72px;
        background: $azureish-white;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .banner-image {
        display: grid;

        div {
          grid-row-start: 1;
          grid-column-start: 1;
        }
      }

      .user-image {
        width: 86px;
        height: 86px;
        overflow: hidden;
        border: $border-3 solid $white;
        border-radius: $border-50;
        background: $lightgrey;
        margin-top: $space-24;
        margin-left: $space-10;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      app-user-follow {
        position: absolute;
        top: 80px;
        right: 8px;
      }

      .user-details {
        height: 169px;
        margin: $space-9 $space-16 $space-16;
        padding-top: $space-7;

        a {
          text-decoration: none;
        }

        .text-details {
          p {
            color: $gunmetal;
            margin: 0;
          }

          .user-name {
            font-size: $fs-card-title;
            font-weight: $fw-600;
            line-height: 21px;
            margin-bottom: $space-8;

            .expert-icon {
              vertical-align: middle;
              margin-left: $space-4;
              width: 14px;
              height: 14px;
            }
          }

          .designation {
            color: $gunmetal;
            font-size: $fs-14;
            line-height: 16px;
            font-weight: $fw-400;
          }
        }

        .user-card-tags {
          gap: $space-8;
          max-height: 80px;
          overflow: hidden;

          .user-card-tag {
            padding: $space-8;
            font-size: $fs-card-secondary;
            color: $gunmetal;
            background-color: $azureish-white;
            border-radius: $border-8;
          }
        }
      }
    }
  }
}
