@import './projects/commudle-admin/src/assets/styles/variables';

.user-feed {
  padding: $space-24;

  .user-feed-posts-container {
    margin-top: $space-16;
  }
}

@media all and (max-width: $tab-width) {
  .user-feed {
    padding: $space-16;
  }
}
