nb-card {
  @apply md:com-m-0 com-mb-6 com-mx-4 com-mt-0;
  nb-card-body {
    @apply com-p-0;
    .upcoming-card {
      .upcoming-card-link {
        @apply com-flex com-w-full com-no-underline md:com-flex-row com-flex-col;

        .upcoming-card-image {
          @apply com-border-r-gray-200 com-flex com-justify-center com-items-center com-overflow-hidden md:com-w-[388px] md:com-h-[145px] com-w-full com-h-full;
        }

        .no-image-header {
          @apply md:com-w-[388px] md:com-h-[145px] com-w-full com-h-[145px] com-flex com-items-center com-justify-center;

          nb-icon {
            @apply com-text-5xl;
          }
        }

        .upcoming-card-details {
          @apply md:com-p-3 md:com-pb-0 com-p-4;
          flex: 1;
          div {
            @apply com-flex md:com-flex-col com-flex-col-reverse;

            div {
              @apply md:com-flex md:com-flex-row md:com-justify-between md:com-items-center com-flex-col;

              .interested-members {
                button {
                  @apply com-py-1 com-px-2 com-w-max;
                  nb-icon {
                    @apply com-mr-2 com-text-Dark-Jungle-Green com-h-[16px] com-shrink-0;
                  }

                  span {
                    @apply com-text-xs com-font-normal com-text-AuroMetalSaurus;
                  }
                }
              }

              .event-time {
                @apply md:com-text-xs com-text-sm md:com-font-medium com-font-normal md:com-mb-3 com-mb-1 com-mt-0 com-text-Auro-Metal-Saurus;
              }
            }

            .event-title {
              @apply com-text-xl com-font-semibold com-text-Dark-Jungle-Green com-mt-0 md:com-mb-3 com-mb-1 com-line-clamp-1;
            }
          }

          .community-badge {
            @apply com-m-0 md:com-my-0 com-mt-17px com-mb-7;
          }

          .register-button {
            @apply md:com-border com-border-0 com-m-0 com-bg-transparent com-py-5px com-flex md:com-ml-auto com-px-6px com-ml-0;
          }
        }
      }
    }
  }
}

.border {
  @apply com-border-solid com-border-0 com-border-b com-my-6 com-mx-2 com-border-Bright-Gray-Light com-hidden md:com-block;
}
