<nb-card *ngIf="expert" [routerLink]="['/users', expert.username]">
  <nb-card-body>
    <div class="expert-card">
      <div *ngIf="expert.photo" class="expert-image">
        <img src="{{ expert.photo.i320 }}" alt="{{ expert.name }}" />
      </div>
      <div class="details">
        <p class="expert-name">{{ expert.name }}</p>
        <p class="expert-username">@{{ expert.username }}</p>
        <p class="expert-designation">{{ expert.designation }}</p>
        <!-- <app-user-follow
          [username]="expert.username"
          [name]="expert.name"
          [isMobileWidthFull]="true"
          [userId]="expert.id"
        ></app-user-follow> -->
      </div>
    </div>
  </nb-card-body>
</nb-card>
