.community-card-container {
  width: 300px;
  border: 2px solid #C4C4C4;
  border-radius: 10px;
  margin: 0;

  nb-card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem;

    img {
      width: 96px;
      height: min-content;
      padding: 16px;
      border: 1px solid #536EFF;
      border-radius: 5px;
    }

    .details {
      margin-left: 1rem;

      .name {
        font-weight: 500;
        font-family: 'Work Sans', sans-serif !important;
        color: #2F2E41;
        margin: 0;
      }

      .role {
        font-size: 14px;
        font-weight: 600;
        font-family: 'Work Sans', sans-serif !important;
        text-transform: capitalize;
        margin-top: 0;
        color: #536EFF;
      }

      .count {
        font-weight: 600;
        font-family: 'Work Sans', sans-serif !important;
        margin: 0;
        color: #979797;
      }
    }
  }
}
