<nb-card *ngIf="community.community" [routerLink]="['/communities', community.community.slug]"
         class="community-card-container clickable">
  <nb-card-body>
    <div class="image">
      <img alt="{{community.community.name}}" src="{{community.community.logo_path}}">
    </div>
    <div class="details">
      <p class="name">{{getCommunityName()}}</p>
      <p class="role">{{community.user_role.name}}</p>
      <p class="count">{{community.community.member_count}} members</p>
    </div>
  </nb-card-body>
</nb-card>
