<div>
  <p><strong>THIS ACTION CANNOT BE UNDONE.</strong> If you choose to delete your profile:</p>
  <ul>
    <li>
      Your profile will be deactivated for 30 days and you will not receive any communication from Commudle unless it
      concerns you.
    </li>
    <li>After 30 days, your profile and all the data linked to it will be deleted from our database.</li>
    <li>
      We do maintain request logs for up to 15 days to ensure safety and integrity of the deletion requests, and for any
      legal purposes. However, your data cannot be recovered ever once deleted in the previous point.
    </li>
    <li>We will only send you an email to confirm the profile deletion.</li>
    <li>
      Your profile will be re-activated and the deletion request will be canceled at any time you login to the platform
      again before your profile is deleted.
    </li>
  </ul>
</div>
