div {
  @apply com-bg-white;
}

.publish-community-button {
  @apply md:com-mx-0 com-mx-4 md:com-my-8 com-mt-8 com-mb-0 md:com-w-[343px];
  .button {
    @apply com-w-full com-text-Azure com-border-Azure com-rounded-lg;
  }
}

.speakers {
  @apply com-mt-6;
}
