<commudle-listing-pages-layout>
  <div header>
    <app-communities-about></app-communities-about>
  </div>
  <div one-column *ngIf="isMobileView">
    <app-communities-about></app-communities-about>
    <div class="publish-community-button">
      <a [routerLink]="['/pricing']" nbButton size="giant" class="button">
        <nb-icon icon="plus"></nb-icon>
        Start your community
      </a>
    </div>
    <!-- <div class="com-grid com-grid-cols-2">
      <app-pa-slots [showContent]="true" [showTitle]="true" slot="slot_2"></app-pa-slots>
      <app-pa-slots [showContent]="true" [showTitle]="true" slot="slot_3"></app-pa-slots>
    </div> -->
    <!-- <app-communities-featured></app-communities-featured>
    <app-communities-list></app-communities-list>
    <app-recommended-communities></app-recommended-communities> -->
  </div>
  <div main-column *ngIf="!isMobileView">
    <app-communities-featured></app-communities-featured>
    <app-communities-list></app-communities-list>
  </div>
  <div right-column>
    <div class="publish-community-button">
      <a [routerLink]="['/pricing']" target="_blank" nbButton size="giant" class="button">
        <nb-icon icon="plus"></nb-icon>
        Start your community
      </a>
    </div>
    <commudle-public-home-list-speakers-upcoming></commudle-public-home-list-speakers-upcoming>
    <commudle-public-home-list-events-tech-sessions></commudle-public-home-list-events-tech-sessions>
    <commudle-public-home-list-events-speakers [parentType]="'communities'"></commudle-public-home-list-events-speakers>
    <commudle-public-home-list-speakers-content
      [parentType]="'communities'"
    ></commudle-public-home-list-speakers-content>
    <!-- <app-pa-slots [showContent]="true" [showTitle]="true" slot="slot_2"></app-pa-slots>
    <app-pa-slots [showContent]="true" [showTitle]="true" slot="slot_3"></app-pa-slots>
    <app-recommended-communities></app-recommended-communities> -->
  </div>
</commudle-listing-pages-layout>
