<commudle-listing-pages-layout>
  <div header>
    <app-communities-about></app-communities-about>
  </div>
  <div one-column *ngIf="isMobileView">
    <div class="publish-community-button">
      <a [routerLink]="['/pricing']" nbButton size="giant" class="button">
        <nb-icon icon="plus"></nb-icon>
        Start your community
      </a>
    </div>
    <app-communities-featured></app-communities-featured>
    <div class="hackathons-upcoming">
      <commudle-upcoming-hackathons></commudle-upcoming-hackathons>
    </div>
    <div class="speakers-upcoming">
      <commudle-public-home-list-speakers-upcoming></commudle-public-home-list-speakers-upcoming>
    </div>
    <div class="speakers">
      <commudle-public-home-list-events-speakers
        [parentType]="'communities'"
      ></commudle-public-home-list-events-speakers>
    </div>
    <app-communities-list></app-communities-list>
    <div class="tech-sessions">
      <commudle-public-home-list-events-tech-sessions></commudle-public-home-list-events-tech-sessions>
    </div>
    <div class="speakers-content">
      <commudle-public-home-list-speakers-content
        [parentType]="'communities'"
      ></commudle-public-home-list-speakers-content>
    </div>
  </div>
  <div main-column *ngIf="!isMobileView">
    <app-communities-featured></app-communities-featured>
    <app-communities-list></app-communities-list>
  </div>
  <div right-column>
    <div class="publish-community-button">
      <a [routerLink]="['/pricing']" target="_blank" nbButton size="giant" class="button">
        <nb-icon icon="plus"></nb-icon>
        Start your community
      </a>
    </div>
    <div class="hackathons-upcoming">
      <commudle-upcoming-hackathons></commudle-upcoming-hackathons>
    </div>
    <div class="speakers-upcoming">
      <commudle-public-home-list-speakers-upcoming></commudle-public-home-list-speakers-upcoming>
    </div>
    <div class="tech-sessions">
      <commudle-public-home-list-events-tech-sessions></commudle-public-home-list-events-tech-sessions>
    </div>
    <div class="speakers">
      <commudle-public-home-list-events-speakers
        [parentType]="'communities'"
      ></commudle-public-home-list-events-speakers>
    </div>
    <div class="speakers-content">
      <commudle-public-home-list-speakers-content
        [parentType]="'communities'"
      ></commudle-public-home-list-speakers-content>
    </div>
  </div>
</commudle-listing-pages-layout>
