@import './projects/commudle-admin/src/assets/styles/variables';

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

.user-profile-small {
  background-color: $white;

  .avatar {
    border-radius: 50%;
    height: 16px;
    overflow: hidden;
    width: 16px;

    img {
      width: 100%;
    }
  }

  .name {
    font-size: $fs-h6;
    line-height: 14px;
    margin-left: $space-4;
    padding-top: $space-2;
    @apply com-text-gray-400;

    img {
      height: 12px;
      margin-left: $space-4;
      width: 12px;
    }
  }
}
