<!-- this will have all the details of the speaker resource + user's mini details card + comments component -->
<!-- user's mini details card would be a component imported from feature-modules/users -->
<!-- comments component will be a new component, will be a copy of comments from labs -->
<div class="speaker-resources wrapper">
  <nb-card class="left-wrapper">
      <div class="left-column">
        <div class="speaker-image">
          <img src="https://static.remove.bg/remove-bg-web/2a274ebbb5879d870a69caae33d94388a88e0e35/assets/start-0e837dcc57769db2306d8d659f53555feb500b3c5d456879b9c843d1872e7baa.jpg" alt="">
        </div>
        <div class="speaker">
          <h5>Harshita</h5>
        </div>
        <div class="designation">
          <p>Student</p>
        </div>


      </div>
    </nb-card>
    <nb-card class="right-wrapper">
      <div class="right-column">
        <div class="content-title">
          <h1>Analog and Digital</h1>
        </div>
        <div class="content-description">
          <p>Random Text be like..</p>
        </div>

    </div>
  </nb-card>
</div>
