@import "/projects/commudle-admin/src/assets/styles/variables";

.speaker-resource {
  .left-column {
    height: fit-content;

    .user-profile {
      border-radius: $border-10;
      nb-card-body {
        padding: $space-16;
        .avatar {
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 50%;
          margin-right: $space-4;

          img {
            width: 100%;
          }
        }

        h5 {
          margin: 0;
          font-weight: $fw-500;
          font-size: $fs-card-title;
          line-height: normal;
        }

        p {
          margin: 0;
          color: $text-low-emphasis;
          font-size: $fs-card-secondary;
          line-height: normal;
        }
      }
    }
  }

  .center-column {


    .details {
      .title {
        h1 {
          margin: 0;
          font-weight: $fw-500;
        }
      }
    }


    .interactions {
      margin-top: $space-12;
      gap: $space-12;
    }
  }
}
