@import './apps/commudle-admin/src/assets/styles/variables';

.admin-badges-form {
  nb-card-body {
    .form-fields {
      label,
      button {
        margin: $space-8 0;
      }
    }

    .image-container {
      align-items: center;
      display: flex;
      justify-content: center;

      img {
        height: 200px;
      }
    }
  }
}
